[2022-03-22 22:16] SkyleKayma commented on #9658
It seems to be an issue on my side. I'm closing it, and I will reopen it if I get the problem again.

[2022-03-22 22:16] #9658 closed, assigned to nobody

[2022-03-26 18:47] esurharun commented on #9428
It is related with Vertx server. Upgrading dependencies to **3.9.13** solved the problem.

        "io.vertx:vertx-core:3.9.13"
        "io.vertx:vertx-web:3.9.13"

Adding dependencies above in build.gradle will solve the problem for you too.

[2022-03-26 20:41] agibsonccc commented on #9428
@esurharun thanks! I'll look in to doing this soon.

[2022-04-01 06:45] JBraig opened #9660 "Nd4j - Eigenvalue support for (m x n x n)-arrays"
The current nd4j-Eigenvalue functions only accepts square 2D-arrays. It would be very convenient to have a function that works similar to numpy's linalg.eig() function, where you can enter a 3D-array, of which only the last two dimensions must be of the same size, so that you can stack multiple 2D-arrays on top of another to form an (m x n x n)-array and calculate their eigenvalues and -vectors in

[2022-04-02 20:07] HolgerMassmann commented on #9258
@agibsonccc I am now pretty much at the same place as @kgoderis and @xiptos:

I just simply built the template from the examples, then ran it, giving the usual error:
[code]

However the symbol exists in the library:
[code]

I am not sure whether this could explain the issue, but one of the libraries is still x86_64 (the cache seems to be generated the first time the application is run):
[code]

I

[2022-04-04 23:08] SidneyLann commented on #9145
Hi, any findings?

[2022-04-05 00:21] SidneyLann opened #9661 "Can't infer bert model"
[main] INFO org.nd4j.autodiff.samediff.SameDiff - Creating getInferenceFactory().create for thread 1
Error at [D:/a/deeplearning4j/deeplearning4j/libnd4j/include/ops/declarable/generic/parity_ops/onehot.cpp:87:0]:
OneHot: depth must be positive value
[main] ERROR org.nd4j.linalg.cpu.nativecpu.ops.NativeOpExecutioner - Failed to calculate output shapes for op onehot. Attempted to execute with 4 inp

[2022-04-05 00:27] SidneyLann commented on #9661
Reproduced project had sent by email, please check email, thanks.

[2022-04-09 08:36] xiptos commented on #9258
I confirm that, @HolgerMassmann. @agibsonccc, Do your think there is some flag in the build scripts that is getting the "default" architecture or reading wrong the OS?

[2022-04-10 09:02] thangnbn opened #9665 "Error during DL4J runtime"
#### Issue Description

I was running DL4J to train on 50% of the standard CIFAR-10 dataset from [here](https://www.cs.toronto.edu/~kriz/cifar.html) when I encounter this error:

[code]

The command I used to run my JAR file: `java -Xmx2g -Djava.library.path=[classpaths] -jar [file].jar [program arguments]`. I wonder if this error occurs because of memory insufficiency?

#### Version Information

[2022-04-10 11:36] #9655 closed, assigned to agibsonccc

[2022-04-10 11:39] agibsonccc commented on #9665
@bnnthang could you please confirm if this happens with 1.0.0-M1.1 as well? I'd also be curious to see a minimal version of your training class.

Thanks for providing the crash log. It looks like it might be related to a broadcast op (I'm guessing add?)

These crashes can happen for a wide variety of reasons. Sometimes it's related to openmp and race conditions or early de allocation of buffers an

[2022-04-10 12:41] thangnbn commented on #9665
What do you mean by my "training class"?

If you are asking for the configuration of my training neural network, I am using the same configuration with the example [here](https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/quickstart/modeling/convolution/CIFARClassifier.java).

[Here](https://github.com/bnnthang/FederatedLearningTe

[2022-04-10 23:54] agibsonccc commented on #9665
@bnnthang a main class that loads and trains your model. Something like:
[code]

Thanks for confirming!

[2022-04-11 02:10] agibsonccc commented on #9661
@SidneyLann Closing this as this is just similar to other issues you've already posted. I've reproduced your errors in your project but it was inconsistent at best. You appear to have 2 models in here. Could you clarify what the input data should be for each? Please post more on your older issues.

[2022-04-11 02:10] #9661 closed, assigned to nobody

[2022-04-11 02:13] agibsonccc commented on #9145
@SidneyLann fixed this. Configuring the samediff instance came before the inputs were available causing the nullpointer. I'll close it with this PR. Thanks for helping reproduce this.

[2022-04-11 02:17] agibsonccc commented on #9145
@SidneyLann it appears your other issue was due to using the old import. I am not supporting that. Please use the new one.

[2022-04-11 02:17] #9145 closed, assigned to nobody

[2022-04-11 04:01] thangnbn commented on #9665
So [`Cifar10TrainingWorker`](https://github.com/bnnthang/FederatedLearningTestbed/blob/master/CommonUtils/src/main/java/com/bnnthang/fltestbed/commonutils/clients/Cifar10TrainingWorker.java) is my training class. I am running training in a seperate thread. Also, [`MyCifar10Loader`](https://github.com/bnnthang/FederatedLearningTestbed/blob/master/CommonUtils/src/main/java/com/bnnthang/fltestbed/com

[2022-04-11 05:14] agibsonccc commented on #9653
Closing this. We have a test case for this already: https://github.com/eclipse/deeplearning4j/blob/6d2cd99ade85ccbd5f9cd165c7db27c56e9856e7/platform-tests/src/test/java/org/eclipse/deeplearning4j/dl4jcore/util/ModelSerializerTest.java#L161
In summary:
[code]

Save the model then add the normalizer to it.

[2022-04-11 05:14] #9653 closed, assigned to agibsonccc

[2022-04-11 05:43] agibsonccc commented on #9654
@StaffanArvidsson this PR adds it. https://github.com/eclipse/deeplearning4j/pull/9666 Please use the dataset api for labels.

[2022-04-11 06:03] agibsonccc commented on #9593
@cyberbeat do you have some code that's causing an error here? Sorry I wasn't able to get to this till after M2. We're about to release an M2.1 and I wanted to check in to see if there's something we could do for you here.

[2022-04-11 06:10] agibsonccc commented on #9642
Closing due to lack of follow up

[2022-04-11 06:10] #9642 closed, assigned to nobody

[2022-04-11 06:36] agibsonccc commented on #9665
@bnnthang this is due to your close() call in your worker. Please read the docs here: https://deeplearning4j.konduit.ai/v/en-1.0.0-m1.1/multi-project/explanation/configuration/memory#memory-management-for-nd4j-dl4j-how-does-it-work

[2022-04-11 06:36] #9665 closed, assigned to nobody

[2022-04-11 07:27] #9654 closed, assigned to nobody

[2022-04-11 08:49] thangnbn commented on #9665
@agibsonccc  May you explain in more details what `close()` does? I guess so far from documentation is that `close()` will deallocate some memory that are previously allocated for calculations - the next time I called the `fit()` method there will be no memory allocated.  Won't the memory be allocated if I use `MultiLayerNetwork` constructor?

Please confirm if my guess is correct, thanks! Sorry I

[2022-04-11 08:55] agibsonccc commented on #9665
@bnnthang close() de allocates off heap memory. You are running in to a c/c++ crash. When java tries to use that memory it will crash the process. I see you using System.gc() as well. You can configure that based on the docs I sent you. You can also use workspaces for this if you want.

[2022-04-11 18:38] thangnbn commented on #9665
@agibsonccc The weird issue is that I repeat the `Cifar10TrainingWorker` several times - create a new thread, start the new thread, the thread finishes, and again create another new thread again - in one run. The above error never occurs immediately after the first time - in the run that created the above log, it produced the above error after about 8 threads being started and finished. If it is i

[2022-04-11 20:26] cyberbeat commented on #9593
In concat mode you do this

[code]

Doesn't it make sense, to have different nOut (*2) in this case?

[2022-04-12 07:58] SidneyLann commented on #9661
1. This issue is different from other issues. other issues can get output form BERT model but this one can't.
2. The first model is original BERT model, it's output INDarray is the input of my own model like sd.output(placeholders, "bert/encoder/Reshape_13").get("bert/encoder/Reshape_13");
3. The second model is my own model.
4. The 2 models are  work together well in beta7.

[2022-04-12 09:14] xiptos opened #9667 "RuntimeException: Op [cbow] execution failed on CUDA"
#### Issue Description

When training ParagraphVectors in CUDA an exception is thrown. In CPU, it trains correctly and without errors.

#### Version Information

* Deeplearning4j 1.0-M2
* Ubuntu
NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_

[2022-04-12 09:25] SidneyLann commented on #9661
Sorry, just mistake to use old import framework!

[2022-04-12 09:25] agibsonccc commented on #9667
@xiptos we're not going to fix this one. It's always going to be slower on gpu and those models were built with cpu in mind.

[2022-04-12 09:25] #9667 closed, assigned to nobody

[2022-04-12 09:37] xiptos commented on #9667
@agibsonccc, I understand, sure! :)
However, in classification, when I'm combining doc2vec with LSTM, both will have to run in CPU, right?

[2022-04-12 10:43] agibsonccc commented on #9667
@xiptos you would generally want to train those vectors and then load them in separately.

[2022-04-12 10:57] agibsonccc commented on #9661
@SidneyLann let me get some snapshot builds up for you. I merged fixes for both of these things but would appreciate you looking at the results.

[2022-04-12 14:48] xiptos commented on #9667
@agibsonccc, is the ParagraphVectors class thread safe? Can I share an instance by multiple threads? Or would it be better to create a different instance in each thread?

[2022-04-12 22:05] agibsonccc commented on #9667
@xiptos for just using it as an embedding it's fine. The training itself is actually multi threaded but just updates sections of the embeddings at a time.

[2022-04-13 07:14] xiptos commented on #9667
@agibsonccc, I have sets of 3000 documents to embed. I'm running on a thread ripper with 32 core. You're saying that I can have a single ParagraphVectors object and share the same object in all the threads to  inferVector? Currently I'm creating a new ParagraphVector in each thread, but I'm limmited because of the RAM to 4 threads.

[2022-04-13 14:13] treo commented on #9667
You should keep in mind that DL4J (or rather ND4J) is making use of multiple threads during computation, so you don't necessarily want 32 threads, each one with its own ParagraphVectors instance.

[2022-04-13 22:35] partarstu opened #9668 "OmpNumThreads is hardcoded to 4 in M2 Release"
#### Issue Description

- expected behavior - NativeOpsHolder allows to set the ompNumThreads amount based on OMP_NUM_THREADS environment variable
- encountered behavior - In org.nd4j.nativeblas.NativeOpsHolder#NativeOpsHolder(), line 107 this variable is hardcoded to 4

#### Version Information

* Deeplearning4j version - M2
* Platform information (OS, etc) - Windows 10
* CUDA version, if used -

[2022-04-14 00:11] agibsonccc commented on #9668
@partarstu thanks that was a  left over debug line that has been completely removed. It was commented out before. I already have a commit prepared with a bunch of fixes and will push that within the next day or 2.

[2022-04-14 08:12] kgoderis commented on #9258
@agibsonccc Adam, were you able to get your hands on an M1 in the meantime?

[2022-04-14 08:18] partarstu commented on #9668
No problem. This value can always be explicitly reset after backend initialization as a workaround using `NativeOpsHolder.getInstance().getDeviceNativeOps().setOmpNumThreads(threadsForOmp)`;

[2022-04-14 08:57] partarstu opened #9669 "Gather Op failing at back-prop with 3-D array and potentially causing JVM crash"
#### Issue Description
- expected behavior : Gather Op works correctly for an array with any rank
- encountered behavior: This Op fails during back-prop (the part of the graph generated by org.nd4j.linalg.api.ops.impl.shape.Gather#doDiff()) during a Permute Op for a 3-D array. Batch size was 256. Last time reproduced with gradient NDArray having the following shape info:[3,256,256,768,196608,768,1

[2022-04-14 09:31] partarstu opened #9670 "Custom SameDiff ops missing from graph after upgrade to M2"
#### Issue Description

- expected behavior - the same as for the previous releases: Custom Ops, if invoked in the graph explicitly, should remain intact.
- encountered behavior - Custom Op is ignored and replaced with the standard one having the same SameDiff name

#### Version Information

* Deeplearning4j version - M2
* Platform information (OS, etc) - Windows 10/ Linux(Buster 10)
* CUDA versio

[2022-04-14 15:21] partarstu opened #9671 "Memory-related JVM crash on Linux"
#### Issue Description
- expected behavior - when memory allocation is not possible (insufficient RAM available), an exception in JVM itself is thrown. Previously it worked this way by checking first if the allocation is possible based on the requested array's length
- encountered behavior - JVM is crashed, which makes gracious clean-up, emergency save etc. impossible

#### Version Information

*

[2022-04-15 15:18] agibsonccc commented on #9669
@partarstu do you have a standalone reproduction?

[2022-04-15 15:18] agibsonccc commented on #9670
@partarstu can you do a reproducer for this one as well? Thanks!

[2022-04-15 18:19] xiptos commented on #9667
Right!!! Thank you, @treo.
@agibsonccc, the issue about infer the ParagraphVectors embedding and classify with LSTM in different processes is that is requires some Interprocess Communication mechanism, such as sockets or RMI (or just monitoring some directory). It would be faster and easier if it would be possible to use CPU and GPU in the same process, the first for the ParagraphVectors and the s

[2022-04-15 22:37] quickwritereader commented on #9671
@partarstu
did you start to get such problems with the new one? Just for confirmation, was M1 working as expected?
Thanks.

[2022-04-15 22:40] quickwritereader commented on #9668
this was fixed in vednn Pr. actually I removed it long ago. somehow it re-appeared ,again, which I had to remove again.

[2022-04-15 23:32] agibsonccc commented on #9669
@partarstu just thinking this might be due to the way the op is being loaded. It probably doesn't have anything to do with the way the op is implemented just the way it's being configured. I'd appreciate a minimal graph we could run on M1.1 and M2 where I could narrow this down.

[2022-04-16 10:45] partarstu commented on #9670
@agibsonccc the custom implementation is [here](https://gist.github.com/partarstu/776b0cf91fb7d68881c71c1becabe99b). I'll add this link to another issue as well.

The invocation (snippet of my graph) happens this way:

[code]

If you run it on M1, you'll se the log **_"Using custom Gather Op"_**. On **M2** you won't see this, because the custom Op is being ignored and the `doDiff()` of the native

[2022-04-16 11:03] partarstu commented on #9671
@quickwritereader yes - in M1 I simply got different errors/exceptions based on which component detected that another chunk of ByteArray can't be allocated inside native memory. But all of them happened inside JVM and could be intercepted.

One more thing, I guess it's important. I use the following lines of code in order to configure memory-related options:
[code]
Previously this logic allowed me

[2022-04-16 11:17] partarstu commented on #9669
@agibsonccc I might be wrong, but I don't think the way the Op is loaded affects this issue. As already mentioned in another [issue](https://github.com/eclipse/deeplearning4j/issues/9670#issuecomment-1100635367), the implementation [here](https://gist.github.com/partarstu/776b0cf91fb7d68881c71c1becabe99b) allows to workaround the issue (at least for my use case).

The snippet of the graph which sh

[2022-04-18 22:23] #9668 closed, assigned to nobody

[2022-04-19 11:57] agibsonccc commented on #9669
@partarstu could you elaborate a bit on the graph continuing? From the c++ lib we return a status and if that status isn't 0 we automatically throw an exception at the java level. That is true for every op in the library. This sounds a bit 1 off and should be fixed. Do you have a github gist I could look at of the relevant behavior?

Also running your code the xavier init scheme can't actually be

[2022-04-19 12:17] partarstu commented on #9669
@agibsonccc regarding graph continuing - layerInput goes as keys, values and queries through projection weights of self-attention, the attention weights are calculated based on keys and queries projections and are applied to the value projections. It's a standard self-attention graph which I use for almost a year. The loss in the graph is formed based on softmax classifier.

[2022-04-19 12:19] partarstu commented on #9669
Regarding the github gist for the Op return status - do you mean the gist of the error log for JVM crash or there's some other log I could generate?

[2022-04-19 12:19] agibsonccc commented on #9669
@partarstu the error where it returns not the JVM crash. In this particular issue I'm trying to just understand the nature of the gather problem itself. My first goal is to reproduce this after my last batch of fixes to see if there's anymore issues.

[2022-04-19 12:25] partarstu commented on #9669
In reality it's a placeholder which contains INT32 array of token indices from the vocab. I forgot that weights can be only floating values, sorry.

`var inputTokenVocabIndices = sd.placeHolder(INPUT_VAR_NAME, INT32, -1, sequenceLength);`

[2022-04-19 12:26] partarstu commented on #9669
I'm using **`fit`**

[2022-04-19 12:28] partarstu commented on #9669
There's no specific stack trace, only an output to console with message :
`shape::doPermuteShapeInfo function failed: rearrange indexes are incorrect. Given permute indices must be < rank and >= 0. Rearrange at index 2 was -1134333991`

"Rearrange at index 2 was ...." has different values based on execution. That's probably because the operation itself (based on debug) has no value at index 2 - th

[2022-04-19 12:30] agibsonccc commented on #9669
@partarstu ok a problem like that is what I'd look for in the gist. What that's telling me is we have some sort of permute indices (probably derived from a variable) that are corrupt or wrong being passed in. That can then lead to a corrupt jvm crash as well.

[2022-04-19 12:34] agibsonccc commented on #9669
@partarstu could you maybe just DM me a flatbuffers model and a fit call to run? Maybe if this is proprietary use the forums direct messages. My main goal is to just get to your interpretation of the world as quickly as possible to reproduce this.

Edit:, this is probably where that permute comes from in Gather.java:

[code]

[2022-04-19 12:38] partarstu commented on #9669
I just rerun the training iteration again - there's no error log file present when this happens, only the console output.

The permute dimensions is exactly what I mentioned originally in the description (org/nd4j/linalg/api/ops/impl/shape/Gather.java:182). They simply miss one additional dimension. I added in the gist my custom implementation which calculates those indices a little different. The

[2022-04-19 12:41] partarstu commented on #9669
If you still can't reproduce it, I could try to send it. It's huge though (like 320MB)

[2022-04-19 12:45] agibsonccc commented on #9669
@partarstu google drive + DM link is fine. In the mean time here's a minimal try at reproducing this. I have this:
[code]

With this I see an invalid reshape:
[code]

This probably isn't correct. I'll see if I can get a reproducible example up and running but I'd appreciate your model. I'll get back to you tomorrow with where that ends up. Appreciated.

[2022-04-19 12:57] partarstu commented on #9669
Labels have incorrect shape. They should correspond to sequence length at least. Also input and labels are expected to be in your case [batch, sequencelength], which is [1,256].

[2022-04-19 13:34] agibsonccc commented on #9669
@partarstu I figured out a minimal example. Could you confirm that gather is missing an argument when it's invoked? See here for the fix: https://github.com/eclipse/deeplearning4j/pull/9674

[2022-04-19 13:47] partarstu commented on #9669
@agibsonccc  The following snippet reproduces perfectly the issue, tested it just a minute ago:

[code]

Can you reproduce it as well?

FYI I use JDK 18, but I don't think it matters for this case.

[2022-04-19 13:55] partarstu commented on #9669
@agibsonccc Just took a look at your commit, I think you fixed another issue - I also encountered it once and I use a workaround in my code - direct conversion from int[] into NDArray. This issue causes a different error - a really thrown error which breaks the execution, not like the one to which this ticket is dedicated.

[2022-04-20 12:04] agibsonccc commented on #9669
@partarstu JFYI I ended up needing to do 2 things: 1. rewrite the gather derivative 2. add SDVariable based indexing to SDIndex to allow dynamic. This will take me another day or so to test and get right but your test case was super useful. Thanks!

[2022-04-20 12:09] partarstu commented on #9669
@agibsonccc Perfect. Glad I could help.

[2022-04-21 12:59] DangTu97 opened #9675 "PyTorch importation"
Hi everyone,

It is true that  more and more DL models are built based on PyTorch but I can only find [examples](https://github.com/eclipse/deeplearning4j-examples/tree/master/tensorflow-keras-import-examples) for Tensorflow/Keras importation. Is it possible to import PyTorch model into Deeplearning4j? If yes, could you guys show me some instructions.
I would really appreciate this, thank you in a

[2022-04-21 13:17] agibsonccc commented on #9675
@DangTu97 yes this happens via onnx. If you have a particular graph please convert it and feel free to open a separate issue. You may see how to convert it from our contrib folder here: https://github.com/eclipse/deeplearning4j/blob/master/contrib/omnihub/src/omnihub/frameworks/pytorch.py#L75

Please note the onnx convert here. If you have a specific model to convert please ask around on the forum

[2022-04-21 13:17] #9675 closed, assigned to nobody

[2022-04-21 13:41] DangTu97 commented on #9675
@agibsonccc Thank you for your recommendation, it's really helpful.

[2022-04-22 12:02] DangTu97 opened #9676 "IndexOutOfBoundsException when importing onnx model"
#### Issue Description

I follow the instruction from [deeplearning4j example](https://github.com/eclipse/deeplearning4j-examples/blob/master/onnx-import-examples/src/main/java/org/deeplearning4j/modelimportexamples/onnx/OnnxImportLoad.java) to load onnx model but I got this problem:

![278703102_400701458259887_8030317585343775163_n](https://user-images.githubusercontent.com/55095390/164710476-1b

[2022-04-22 14:02] agibsonccc commented on #9676
@DangTu97  that looks to just be an invalid model.  I can't look at this right this second but could you just confirm I have everything I need here to reproduce all the binaries? In the mean time quite a few pretrained models exist here as well. https://github.com/KonduitAI/omnihub-zoo/tree/main/samediff

[2022-04-22 20:29] DangTu97 commented on #9676
Hi @agibsonccc , thank you for your quick response. Yes you have everything to reproduce, the Python code is to generate the onnx model. I have tried models in https://github.com/KonduitAI/omnihub-zoo/tree/main/samediff and it's successful.

[2022-04-24 17:59] DangTu97 commented on #9676
Update! Follow the instruction here https://deeplearning4j.konduit.ai/nd4j/how-to-guides/other-framework-interop/onnx, it works.

[2022-04-24 22:16] agibsonccc commented on #9676
Thanks! Let me know if you have any other issues. I'm doing a release within the next week/week and a half. This is the time to get a fix in.

[2022-04-24 22:16] #9676 closed, assigned to nobody

[2022-04-25 10:42] byanjie opened #9677 "DL4J uses SharedTrainingMaster on spark and reports "ERROR - publicationUnblockTimeoutNs=15000000000 <= clientLivenessTimeoutNs=30000000000""
#### Issue Description

The node IP is 10.0.6.201~204. When configuring VoidConfiguration, set networkMask=10.0.6.0/16, and the UDP port is 40123. When deployed in spark Standalone mode, it keeps reporting an error: "Caused by: io.aeron.exceptions.ConfigurationException: ERROR - publicationUnblockTimeoutNs=15000000000 <= clientLivenessTimeoutNs=30000000000", the spark cluster server firewall is al

[2022-04-25 10:43] byanjie commented on #9677
#### Issue Description

The node IP is 10.0.6.201~204. When configuring VoidConfiguration, set networkMask=10.0.6.0/16, and the UDP port is 40123. When deployed in spark Standalone mode, it keeps reporting an error: "Caused by: io.aeron.exceptions.ConfigurationException: ERROR - publicationUnblockTimeoutNs=15000000000 <= clientLivenessTimeoutNs=30000000000", the spark cluster server firewall is al

[2022-04-26 07:54] SidneyLann commented on #9145
I train a new model and restore to train, still has the problem:
Cannot load from object array because "inputsForOp" is null
	at org.nd4j.linalg.api.ops.impl.layers.recurrent.LSTMLayer.configureWithSameDiff(LSTMLayer.java:210)

The fix has not apply to SNAPSHOT?

[2022-04-28 19:01] XJ8 commented on #9665
@bnnthang Did you fix it  eventually? I encountered the same fatal error.

[2022-04-28 19:06] XJ8 commented on #9665
@bnnthang I didn't use close() or System.gc(), but still saw this error sometimes. I ran it on AWS Lambda, and yes, the error (C  [libnd4jcpu.so+0x1743b10]  sd::TadDescriptor) shows up sometimes, and sometimes it runs OK.

[2022-04-28 21:53] agibsonccc commented on #9665
@XJ8 @bnnthang was doing a bunch of things that aren't normal. If you are running in to memory issues post on the forums. I closed this because if you use the framework like the way you're supposed to in the docs (eg: the mechanisms for memory management like workspaces or periodic GC frequency) then you shouldn't have problems. If you think you have a bug feel free to open a new issue as well.

[2022-04-29 23:07] agibsonccc commented on #9669
@partarstu sorry this took a bit longer than I would have liked. It involved a bit more work than anticipated but surfaced a few new features for the framework which is nice. See: https://github.com/eclipse/deeplearning4j/pull/9674

[2022-04-30 08:59] agibsonccc commented on #9670
@partarstu actually looking at this issue again (sorry just got the gather fix done which ended up in some new features as well) I'm actually ok with ops being like that. It's not a problem for us in practice and ops themselves are normally used for configuration. I'm going to close this as a won't fix. In samediff tself, we have several hooks in DyamicCustomOp such as configureFromArguments and c

[2022-04-30 08:59] #9670 closed, assigned to nobody

[2022-04-30 20:49] partarstu commented on #9669
@agibsonccc no problem - I wasn't blocked anyway. As I can see the back-prop for Gather Op is now completely re-written. And the commit contains really quite a lot of new stuff. Cool, thanks!

[2022-05-02 12:20] agibsonccc commented on #9592
@lessthanoptimal I finally got to this. Basically we have a pre generated DSL for ndarrays that follows a namespace format similar to our sameiff library. It'll be 1 uniform interface with Nd4j.linalg() - do you want to see anything else here? I had to spruce up a few of our existing ops and add some missing bindings but overall the code is already there for it  just wasn't exposed properly.

Are

[2022-05-03 01:21] agibsonccc commented on #9671
@partarstu I thought about this a bit and generally I would recommend not trying to manually control this kind of thing yourself from the JVM. I would focus on using workspaces more or if you really need to, we have a way of automatically triggering gc on a fixed interval already.  Take a look more at this here: https://deeplearning4j.konduit.ai/v/en-1.0.0-m1.1/multi-project/explanation/configurat

[2022-05-03 01:21] #9671 closed, assigned to nobody

[2022-05-03 03:51] agibsonccc commented on #9595
Looking at the licensing it's impossible to integrate this work. I'll think on this a bit in the future and clean this up but I will have to do this clean room and basically ignore the ideas presented here as is. I appreciate the contribution though! A follow up with the proper license to contribute the changes back would have gone a long way. Sorry it didn't work out but I assume the lack of acti

[2022-05-03 07:17] subes commented on #9595
Why? Can"t I just give you the permission to use this under a differing license? Which I hereby grant.

[2022-05-03 07:21] agibsonccc commented on #9595
Appreciated then.  Could I get your confirmation for apache license? Sorry
just paper trail for eclipse foundation :)

On Tue, May 3, 2022, 16:17 Edwin Stang ***@***.***> wrote:

[2022-05-03 07:24] subes commented on #9595
Yes, apache license is fine. I will upgrade to the new version of Python4J as soon as the improvements are included.

[2022-05-03 07:52] partarstu commented on #9671
@agibsonccc this manual control was done after I read about those settings in a couple of threads. Without those settings I had some other issues. Without explicitly setting "org.bytedeco.javacpp.maxphysicalbytes" I think I saw similar issue to the one for which this ticket is created. I need to double-check that. Setting "org.bytedeco.javacpp.maxbytes" to zero was previously recommended in order

[2022-05-03 10:00] agibsonccc commented on #9671
@partarstu appreciated if you could help narrow this down to something a bit more concrete!

[2022-05-03 10:28] CompilerCrash opened #9684 "ScoreListener reports zero loss while training in SameDiff"
#### Issue Description

When I fit my SameDiff graph, the reported loss (as per ScoreListener and LossCurve) is constantly zero although the learning succeeds. This happened with different loss functions (for regression and classification). Below is a small example that should reproduce the situation.

- expected behavior: The reported loss should be greater than zero and decrease during the train

[2022-05-03 12:38] ebremer opened #9685 "Different PCA.pca_factor results switching between CPU and GPU"
#### Issue Description

I'm getting different PCA.pca_factor results switching between CPU and GPU libraries.  The GPU results are correct.
No code changes are made during the switch.

#### Version Information

DL4J M1.1
Windows 11
11.2
512.59
CPU --> Processor	AMD Ryzen 7 3800X 8-Core Processor, 3901 Mhz, 8 Core(s), 16 Logical Processor(s)
GPU --> NVIDIA 2080Ti

        <dependency>
            <

[2022-05-03 12:59] #9677 closed, assigned to nobody

[2022-05-03 13:00] #9593 closed, assigned to nobody

[2022-05-03 13:28] partarstu commented on #9671
@agibsonccc I've done a couple of testing rounds. The findings:

1. **org.bytedeco.javacpp.maxphysicalbytes** must be set up in my case because by default its value is being initialized to ~ 20% of available RAM which is definitely not what I want (and I guess in any PROD environment MLOps would be willing to have this configurable)
2. If  **org.bytedeco.javacpp.maxphysicalbytes** is not approachi

[2022-05-03 21:39] #9592 closed, assigned to agibsonccc

[2022-05-04 15:40] #9669 closed, assigned to agibsonccc

[2022-05-04 18:18] baedaron opened #9686 "COMPILATION ERROR"
#### Issue Description

mvn clean install -Pcpu -B -V -U -T 12 -e -pl 'org.nd4j:nd4j-native' -Dclassifiers=windows-x86_64-avx2 -Djavacpp.platform=windows-x86_64 -Djavacpp.platform.extension=-avx2 -Djavacpp.helper=openblas -Dlibnd4j.platform=windows-x86_64 -Dlibnd4j.extension=avx2 -Dlibnd4j.helper=openblas -DskipTests -DskipJavaDocs -Dmaven.javadoc.skip=true -Dmaven.test.skip=true
-----------------

[2022-05-06 08:52] RealYusufIsmail commented on #9499
I would like to contribute to this.

[2022-05-06 10:13] agibsonccc commented on #9499
@RealYusufIsmail great! Please just feel free to submit a pull request against this repository with a Fixes https://github.com/eclipse/deeplearning4j/issues/9499 in the comment and I'll review it. Thanks!

[2022-05-06 10:14] agibsonccc commented on #9686
@IanBoden please try again with the latest merge against master. That doesn't have any issues that I can see. I'll close this for now but feel free to ping me if you have anymore issues.

[2022-05-06 10:14] #9686 closed, assigned to nobody

[2022-05-06 10:15] agibsonccc commented on #9684
This is a dup of: https://github.com/eclipse/deeplearning4j/issues/9655 - closing. Please feel free to let me know if something's still not working.

[2022-05-06 10:15] #9684 closed, assigned to nobody

[2022-05-06 10:18] agibsonccc commented on #9595
@subes how would you expect this to work with your library? I spent a good portion of today looking through your implementation. Would you want us to just implement the internals part? There's a good part of the threading infrastructure that might need to be separated in order to make it work properly with either your library or other server applications. I'd appreciate some insight in to your exp

[2022-05-06 10:36] RealYusufIsmail commented on #9499
Ok no problem

[2022-05-06 11:58] RealYusufIsmail commented on #9499
So what am I supposed to do

[2022-05-06 12:19] subes commented on #9595
I don't think you need to port everything into there. The thread handling can stay on my side. I think porting the data conversion improvements and allowing reuse of a GilLock instance are the main important points. The idea would be to remove the parts where I had to copy and modify your existing code. The rest can stay on my side.

So an idea would be:
- Integrate something like my GilLock, Modi

[2022-05-06 12:25] agibsonccc commented on #9595
@subes thanks a lot. I'll have to have some sort of thread management on our side still but will separate that out to make it embeddable. We use this in one of our products (but don't have the performance requirements since the original use case was just to run 1 off scripts)

I'm definitely ok with removing the overhead where possible hence me looking at how to reuse what's good but benefit from

[2022-05-06 12:29] subes commented on #9595
I like this library because it comes with an embedded distribution of python. Other integrations all require a separate installation and some even need additional python libraries installed via pip. So the zero configuration you provide is really cool! Jython ist just not an alternative for that because it only supports Python 2 and is horribly slow. :D

So if we can reduce the overhead of this in

[2022-05-06 12:35] agibsonccc commented on #9595
@subes yeah for sure. The goal is to have zero overhead in working with different python libraries and add an easy wrapper on top of cython itself. We could easily add arrow integration as well. Zero reason not to make this library super fast. I appreciate your enthusiasm and support in helping make this happen!

[2022-05-06 13:02] agibsonccc commented on #9499
@RealYusufIsmail follow this guide on how to submit pull requests: https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/#:~:text=Go%20to%20your%20repository%20on,Congratulations!

Start with understanding how to clone a repository, fork it, and make a small change then send a pull request from your fork to this base repository with your changes. if you need other help

[2022-05-06 14:14] CompilerCrash commented on #9684
@agibsonccc Oh, I overlooked that issue. I tried the code provided in its description and can confirm that the bug was present in M2 and that it is now fixed in SNAPSHOT.

However, using the very same SNAPSHOT, my above code is still not working. So, as far as I can tell, this issue is not a duplicate. Can you take a second look at it, please?

---

~~Side note: In the current SNAPSHOT, printing I

[2022-05-06 15:35] RealYusufIsmail commented on #9499
I know how to use Github and I have contributed to other open source projects. All I want to know is what do I need to change. There is not enough detail in the description

[2022-05-06 15:40] ebremer commented on #9685
I created a way to reproduce with:
https://github.com/ebremer/DL4JTest/blob/master/src/main/java/com/ebremer/dl4jtest/DL4JTest.java

The program generates a oval 2D point cloud and then does a PCA to get the covariance matrix to eventually get the largest eigenvectors which are used to draw the major and minor axis of the bounding ellipsoid of the 2D point cloud (which was created to be oval in sh

[2022-05-07 08:43] SidneyLann commented on #9145
java.lang.NullPointerException: Cannot load from object array because "inputsForOp" is null
	at org.nd4j.linalg.api.ops.impl.layers.recurrent.LSTMLayer.configureWithSameDiff(LSTMLayer.java:210)
	at org.nd4j.autodiff.samediff.SameDiff.fromFlatBuffers(SameDiff.java:5503)
	at org.nd4j.autodiff.samediff.SameDiff.fromFlatFile(SameDiff.java:5359)
	at org.nd4j.autodiff.samediff.SameDiff.load(SameDiff.jav

[2022-05-11 07:57] #9595 closed, assigned to nobody

[2022-05-12 19:21] CompilerCrash commented on #9684
@agibsonccc I double-checked everything, but I cannot find the error on my side (I would be happy if it was just that). I think it's not a duplicate. It would be great if you could take a look.

[2022-05-20 19:18] lessthanoptimal commented on #9592
@agibsonccc I'm fine with you implementation it yourself, would actually prefer that. I will double check that you don't use any undocumented or advanced capabilities that the "average" user won't use. So basically it needs to be documented and to the point that someone could simply cut and paste your code.

Also sorry for taking a while to reply. I probably won't be very consistent at replying fo

[2022-05-21 00:56] agibsonccc commented on #9592
@lessthanoptimal don't worry about it! I don't need instant prioritization. We'll both get to this as we have time. I just wanted you to know that there's at least a way to do it. I'll see if I can update your benchmarks in the mean time.

[2022-05-21 05:08] wedoso opened #9693 "Unsupported keras/tensorflow version"
#### Issue Description
There is an issue that dl4j won’t properly load keras model if the version of keras or tensorflow is not supported. My current investigation is beta7 can only support the version up to keras=2.4.3 and tensorflow=2.2.0. Is it the true statement?

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: beta7
* Platform in

[2022-05-21 05:17] agibsonccc commented on #9693
Closing this. There's been multiple new versions since beta7 at this point. We've had keras support for a long time now. The main missing feature are the new normalization layers. We also support TF import. If you want, please consider opening an issue for something more specific.

[2022-05-21 05:17] #9693 closed, assigned to nobody

[2022-05-21 16:40] Olamshin opened #9694 "BooleanIndexing.replaceWhere Not Working Based On DataType"
#### Issue Description
[code]
In the code above, an array created with UINT16 datatype doesn't get updated by the replaceWhere function. But when the array is casted to a FLOAT, replaceWhere works as expected.

#### Version Information
* Deeplearning4j version : 1.0.0-M2
* Platform information (OS, etc): Mac OS 12.3.1, 3 GHz 6-Core Intel Core i5, OpenJDK 11

[2022-05-24 08:21] Euklios opened #9695 "Pairwise cosine similarity"
#### Issue Description

Please describe our issue, along with:
I'm in need of a pairwise cosine similarity similar to the pythons [sklearn implementation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html).
I tried using the NDMath.cosineSimilarity method, however, this produces a single value, while I need the entire matrix.

To my understanding, th

[2022-05-24 14:51] CompilerCrash commented on #9684
I was wrong about the training success. Given the right hyperparameters, this part works. I updated the issue description accordingly so that it is not misleading. However, the reported loss (which consequently cannot be the "real" loss) is still constantly zero. Maybe there is a bug in recording the loss values?

[2022-05-27 06:09] thangnbn opened #9696 "Feature Request: Export Keras Model"
#### Issue Description

Currently we can import a model from a HDF5 Keras model file. It would be helpful if we can also do the other way around - exporting a DL4J `MultiLayerNetwork` or `ComputationGraph` to a HDF5 Keras-compatible file.

#### Version Information

1.0.0-M2

[2022-05-27 23:27] agibsonccc commented on #9696
@bnnthang we have the apis in place for that for onnx and tf but not h5...I'd have to think on that one a bit. Most people train models in python and just want to deploy them in java (at least for most of our use cases) - what's the main use case here? People who like java wanting to hand off models to a data science team that mainly uses python? I don't see that a lot in the industry.

[2022-05-28 01:46] thangnbn commented on #9696
So I have a trained Keras model, deploy it to Android devices, and do on-device training using DL4J. Later on I want to take those trained on device models and train in Python with another dataset different than the dataset I first trained the model with.

[2022-05-28 17:47] Dinesh-KD520 opened #9697 "CpuBackend could not be instantiated - Intellij + linux platform"
#### Issue Description
i'm new to deeplearning4j. trying to make my own new project for testing the word2vec features. i added all the dependencies still I'm getting this exception. I don't know how to get rid of it. could anyone please help me?

**Exception details:**
 [main] WARN org.nd4j.linalg.factory.Nd4jBackend - failed to process available backends
java.util.ServiceConfigurationError: org.n

[2022-05-28 23:09] #9697 closed, assigned to nobody

[2022-05-28 23:10] agibsonccc commented on #9697
@Dinesh-KD520 I'm not sure where you got those random versions from but for some reason you pulled a 2.5 year old version of the software that isn't even in the docs anymore in to your project.  Just use the nd4j-native  or nd4j-native-platform artifact ids and nothing else.
Please stick to the examples and the backend documentation: https://deeplearning4j.konduit.ai/v/en-1.0.0-m1.1/multi-project/

[2022-05-30 09:18] SidneyLann opened #9698 "NPE when use sameDiff.nn.dropout"
#### Issue Description

Please describe our issue, along with:

Error occurs when using sameDiff.nn.dropoutInverted() or sameDiff.nn.dropout()

- expected behavior
run with no error

- encountered behavior
java.lang.NullPointerException: Cannot invoke “org.nd4j.linalg.api.ndarray.INDArray.shape()” because the return value of “org.nd4j.autodiff.samediff.SDVariable.getArr()” is null
at org.nd4j.lina

[2022-05-30 10:48] thangnbn opened #9699 "[Keras model import] Wrong loss function configuration import mechanism for `tf.keras`"
#### Issue Description

I exported a Keras model like this:

[code]

I tried to import a HDF5 Keras model file:

`MultiLayerNetwork model = KerasModelImport.importKerasSequentialModelAndWeights("<directory>/my_model.h5");`

and got this exception:

[code]

I opened the HDF5 model file with HDFView to investigate and what I got for the `training_config` is (prettified):

[code]

So I think there is

[2022-05-30 20:29] thangnbn commented on #9699
I checked again and it turns out that things work fine if I use `keras` models. But if I use `tf.keras`, the exception occurs.

[2022-05-31 07:10] #9698 closed, assigned to agibsonccc

[2022-05-31 13:02] #9699 closed, assigned to nobody

[2022-05-31 13:10] agibsonccc commented on #9695
@Euklios see if this work for you: https://github.com/eclipse/deeplearning4j/blob/e746bcf7c9a21a8287fbb2bcf7ef9f5ff9cfaf88/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/ops/transforms/Transforms.java#L91 if not I'll look closer at this soon.

Post on the forums at https://community.konduit.ai next time for more visibility. Issues are assumed to be bugs.

[2022-05-31 21:58] #9695 closed, assigned to nobody

[2022-06-01 06:32] #9694 closed, assigned to nobody

[2022-06-03 15:36] subes commented on #9595
I had a quick look at the changes. Two things I noticed:

- PythonTypes still inializes an array of types for each conversion, this was one of the biggest performance bottlenecks that I removed in my version by introducing static fields for these (they are immutable anyhow)
- UncheckedPythonInterpreter should not store retrieved variables in a map always. First this introduces a memory leak becaus

[2022-06-06 01:38] thangnbn commented on #9665
@XJ8 So I just solved the issue by running on JRE 8 instead of other version. My guess is that since DL4J is built with the target is 1.8, it doesn't really run well on other versions (although they claim that older versions are backward compatible).

[2022-06-06 07:45] agibsonccc commented on #9665
@bnnthang if you have issues feel free to file an issue :) no we don't support below java 7 since M1 onwards. We added support for java 9+ modularization in M2 so I'd appreciate feedback if you have issues there as well.

[2022-06-06 08:08] thangnbn commented on #9665
@agibsonccc  Yeah previously I had run with Java 11, 12, etc. and got segfaults, then I switched to Java 8 and it currently runs well.

I wonder how I can investigate issues regarding different Java versions?

[2022-06-06 08:12] agibsonccc commented on #9665
@bnnthang please ask what might cause this next time rather than assume. Your assumptions are actually completely off base. JVM crashes have nothing to do with the java version. It's all the same c++ code no matter what version of java you're using. A JVM crash is always related to native code within the library not the java version. Ensure you file issues with crash logs so we can take a look at

[2022-06-07 23:46] agibsonccc commented on #9258
@kgoderis @xiptos Amazon has M1 instances available now and I'll be able to reproduce the issues now. Sorry this took so long!

[2022-06-08 12:17] SidneyLann opened #9709 "The behavior is not the same in INDArray.getRow()"
I want to use below code to get rows for further used, when the size is bigger then 1, the program work fine and return value [8]. but it return the whole INDArray [1, 8] when the size is 1. Then I can't concat it with others.
for (int j = 0; j < size; j++) {
    tmp = outArray.getRow(j);
   // to do sth
}

Reproducer:
  INDArray ones = Nd4j.ones(1, 8);
  System.out.println(ones.shapeInfoToString(

[2022-06-09 05:22] valb3r opened #9710 "Support for using sd.grad output as an intermediate variable"
#### Issue Description

Currently, it is impossible to use the output of `sd.grad` as a variable for further computations.
Consider following class:
[code]
Variable `idrRenderGradient` is expected to be the gradient of `sdf` variable and should be usable in computation graph, but unfortunately it is not the case, line `SDVariable dotGrad = idrRenderGradient.dot(ray);` throws an exception:

[code]

[2022-06-09 12:09] #9709 closed, assigned to nobody

[2022-06-11 20:45] subes opened #9712 "Python4J Futher Performance Optimizations"
Follow up ticket for review findings from: https://github.com/eclipse/deeplearning4j/issues/9595#issuecomment-1146085342

- PythonTypes still inializes an array of types for each conversion, this was one of the biggest performance bottlenecks that I removed in my version by introducing static fields for these (they are immutable anyhow)
- UncheckedPythonInterpreter should not store retrieved varia

[2022-06-21 17:11] ghost opened #9715 "musl libc & Alpine based Docker images compatibility"
#### DeepLearning4J is incompatible with musl libc & Alpine based Docker images

I tried running a DL4J application inside a Docker container that is based on an Alpine Linux Image (eclipse-temurin:8-alpine). When starting the application, I get a fatal error. The Java VM dies.

**expected behavior:** I can run a DL4J application inside a musl libc based Linux Docker container like Alpine
**encoun

[2022-06-23 09:53] hbitteur opened #9717 "Misleading error messages in InputType class"
#### Issue Description

Here are the lines 318 .. 346 taken out of `org.deeplearning4j.nn.conf.inputs.InputType` class:

[code]
Out of these 4 error messages, 2 messages  (number 2 and 4) are obviously wrong (`width `mistaken with `height`, `channels `mistaken with `width`).
Also, check on `width `value is made twice  (checks number 2 and 3), and unfortunately the correct one (number 3) cannot get

[2022-06-24 08:46] wangsan commented on #9258
still trigger this exception

`Mac OS X
12.2
aarch64
OpenJDK 64-Bit Server VM
18+36-2087
true
null
_______________________________________________________________________
Example data present in
	/Users/wangqingpeng/dl4j-examples-data/datavec-examples/IrisData
_______________________________________________________________________
o.n.l.f.Nd4jBackend - Loaded [CpuBackend] backend
Debug: Loading cl

[2022-06-24 09:37] agibsonccc commented on #9258
@wangsan yeah there is a reason this is still an open issue. I'll close this after testing it.

[2022-06-27 23:52] clara0 opened #9719 "Duplicate dependencies in pom.xml files"
#### Issue Description
Some dependencies in pom.xml files are defined twice.

- pom.xml
[code]
- contrib/benchmarking_nd4j/pom.xml
[code]
- omnihub/pom.xml
[code]
- contrib/codegen-tools/codegen/pom.xml
[code]

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: current

[2022-06-28 02:09] #9719 closed, assigned to nobody

[2022-06-28 12:26] agibsonccc commented on #9715
@schipplock you'd have to build at least a few things that aren't based on glibc I believe. We heavily depend on a lot of javacpp projects: https://github.com/bytedeco/javacpp-presets - I don't really ever see people ask for musl.
There's also the c++ lib itself which uses glibc everywhere.

That's fixable building from source but your mileage will vary with the different depdendeices. What subset

[2022-06-29 09:44] pza94 commented on #9534
Hi,

this issue had kept happening for some time, so we made some further investigation (though still could not reproduce the issue at will).
Here is what we found:

In `Ticket.cpp`:
[code]
note that availability counter is increased BEFORE the ticket is put back in the queue, and there is no lock taken, ie. these actions are not atomic.

And comparing this with a snippet from `ThreadPool.cpp#tryA

[2022-06-30 03:08] agibsonccc commented on #9715
@schipplock just following up but sorry I seriously can't make this a priority without more information and clear use cases. I know a number of folks use musl but it would basically require a separate classifier for our c++ library at a minimum.
Our builds are under .github/workflows if you want to take a look.

What I might be able to do is publish a separate classifier, but even then I need to f

[2022-06-30 04:38] ghost commented on #9715
Hi @agibsonccc,
thanks for your answer.

I can see this is a lot of work, and I'm not asking nor expecting that anyone is  making it work on musl based environments :). I have to admit: I was expecting someone telling me that musl is simply not supported. I'm not the biggest musl fan either, simply because of compatibility reasons. This here is a good example. People build, link and test their stu

[2022-06-30 04:38] #9715 closed, assigned to nobody

[2022-06-30 04:42] agibsonccc commented on #9715
@schipplock depending on your team's needs commercial engagements are possible. Please ping support@konduit.ai if you think getting a dedicated build + some other support might be interesting. Thanks for understanding!  Helping the jarkata ee ecosystem is definitely of interest to us as a fellow eclipse project but I also understand the trade offs your team has to make.

[2022-06-30 07:22] ghost commented on #9715
Hi Adam,
we are more interested in "some other support". I'll forward this to my collegue (I'm just the poor IT guy :P).

Regards,
Andreas

[2022-07-03 01:02] mayankpunetha007 commented on #8988
I have the same issue

[2022-07-03 12:09] #9717 closed, assigned to nobody

[2022-07-06 11:57] j-d-o opened #9727 "Bug in org.deeplearning4j.models.embeddings.loader.WordVectorSerializer"
#### Issue Description

Hello,

In "org.deeplearning4j.deeplearning4j-nlp" in class org.deeplearning4j.models.embeddings.loader.WordVectorSerializer I suspect a bug when when comparing my current v0.9.1 against the new v1.0.0-M2.

In method: "**protected static TokenizerFactory getTokenizerFactory(VectorsConfiguration configuration)**"  (see https://github.com/eclipse/deeplearning4j/blob/master/de

[2022-07-06 12:42] agibsonccc commented on #9727
@j-d-o if you want feel free to submit a pull request otherwise I'll take a look as soon as I can. Thanks!

[2022-07-07 08:06] j-d-o commented on #9727
I have no clue about your branching, so this one tries to merge into master ... sorry if this doesnt help

[2022-07-09 02:40] #9727 closed, assigned to nobody

[2022-07-16 13:39] HolgerMassmann commented on #9258
Tried to compile current master on M1... this fails with

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (compile) on project nd4j-api: Compilation failure: Compilation failure:
[ERROR] /Volumes/OverflowX8/georg/projects/learning/dl4j/deeplearning4j/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/tensorflow/framework/NodeDef.java:[10,24] p

[2022-07-16 23:00] agibsonccc commented on #9258
@HolgerMassmann go ahead and try again. I merged a fix to master a bit ago. The main problem was the protoc generation. Keep in mind that not all tests will run. Only nd4j-api,nd4j-native-api, nd4j-native-preset,and nd4j-native will for sure run on there. That should be all you need to actually set everything up for M1.

Not all modules (python4j, some computer vision stuff in datavec) will have M

[2022-07-16 23:00] #9258 closed, assigned to nobody

[2022-07-17 13:31] HolgerMassmann commented on #9258
Unfortunately it still doesn't work. Using:
[code]

Command history:
[code]

I also tried the examples, which build, if run with skipTests=true:

[code]

But tests fail with:
[code]

The file exists:
[code]

The progress I see since February is, that no spurious x86_64 libraries pop up in unexpected places any more, but the protocol stuff still does not build.

Actually my interest is not in build

[2022-07-17 14:50] agibsonccc commented on #9258
@HolgerMassmann let me add a few more pieces of context:
1. Our original issue here was cross compiling builds using github actions mac x86_64 machines. See: https://github.com/eclipse/deeplearning4j/actions/workflows/build-deploy-mac-arm64.yml - I was never able to secure a machine when I was attempting to do this. I just now got access to one with scaleway.  These binaries were not fully valid a

[2022-07-17 15:01] agibsonccc commented on #9258
@HolgerMassmann as a follow up, please use:
https://github.com/protocolbuffers/protobuf/releases/download/v21.2/protoc-21.2-osx-aarch_64.zip

with this branch:
https://github.com/eclipse/deeplearning4j/pull/9733

Upgrading didn't seem like it was an issue so I put this PR up. That will at least allow you to just dump the protoc compiler on your path without needing to compile. This was a very brie

[2022-07-20 23:51] #9534 closed, assigned to quickwritereader

[2022-07-23 13:06] RuiBaiXYZ opened #9736 "Do we have a plan to upgrade development JDK 8 to JDK 11/17"
Do we have a plan to upgrade development JDK 8 to JDK 11/17.

[2022-07-23 15:08] ethiel commented on #9258
Hi, people.
Maybe I'm doing something wrong. I tried with the master branch, to run IrisClassifier example. I got this error:

`Exception in thread "main" java.lang.ExceptionInInitializerError
	at org.nd4j.linalg.cpu.nativecpu.ops.NativeOpExecutioner.<init>(NativeOpExecutioner.java:79)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccess

[2022-07-23 21:47] agibsonccc commented on #9736
@RuiBaiXYZ M2 supports modules which is 9 and up. I'll close this for now. Open a new issue with  a concrete issue you're having a problem with otherwise.

[2022-07-23 21:47] #9736 closed, assigned to nobody

[2022-07-23 22:00] agibsonccc commented on #9258
@ethiel it looks like you're using M2? I think what you did was you compiled it but then didn't actually use the version you compiled. Ensure that's 1.0.0-SNAPSHOT.

[2022-07-24 12:53] HolgerMassmann commented on #9258
After the latest pull, bringing the local code base to:
[code]

building deeplearning4j worked with tests disabled.

This a very first milestone, and getting dl4j there on Apple Silicon is much appreciated.

Tests fail in libnd4j with:
[code]

Fixing 2 of 3683 tests seems doable, given all other tests work, but this code base is totally unknown to me and I would not even know where to start.

When

[2022-07-24 13:06] agibsonccc commented on #9258
@HolgerMassmann don't worry about the tests - those tests should be fixed here: https://github.com/eclipse/deeplearning4j/commit/32e54d0cf208cf8409ffc53952089e334e037c65

Regarding the examples...I wonder if there's an out of date pom somewhere:
This:
[code]

is an indicator the presets aren't included properly...I was originally trying a  change to make some dependencies optional and ended up rev

[2022-07-24 17:48] ethiel commented on #9258
@agibsonccc @HolgerMassmann both issues are solved.
Let me clarify:
I tried a few times cleaning the dependencies (I don't understand why, but one old dependency was still in the system and it was causing the issue) and my error was gone.

However, I had the same error than @HolgerMassmann. I checked and cleaned the dependencies a few thousand times XD, but the issue still persisted.

What I did t

[2022-07-24 21:59] HolgerMassmann commented on #9258
@agibsonccc
I was sitting at deeplearning4j-examples/dl4j-examples.

After rebuilding deeplearning4j (cleared the javacpp cache and the local Maven repository before starting) again I noticed that the shaded jar generation process lists the same set of jars as when I build the examples:

[code]

In the .javacpp/cache directory nd4j-native still shows 1.0.0-M2, even with pom.xml using 1.0.0-SNAPSHO

[2022-07-24 22:06] agibsonccc commented on #9258
@ethiel maven timestamps snapshots. We have to reupload snapshots every 2 days because they auto purge after that. You probably had the ones downloaded from oss sonatype. Thanks for clarifying.

[2022-08-08 02:24] SidneyLann opened #9744 "Can't train samediff model when reloaded"
java.lang.NullPointerException: Cannot load from object array because "inputsForOp" is null
at org.nd4j.linalg.api.ops.impl.layers.recurrent.LSTMLayer.configureWithSameDiff(LSTMLayer.java:210)
at org.nd4j.autodiff.samediff.SameDiff.fromFlatBuffers(SameDiff.java:5503)
at org.nd4j.autodiff.samediff.SameDiff.fromFlatFile(SameDiff.java:5359)
at org.nd4j.autodiff.samediff.SameDiff.load(SameDiff.java:52

[2022-08-08 02:27] SidneyLann commented on #9744
#9145 mark this issue as fixed, but the exception still exists in SNAPSHOT.

[2022-08-08 02:50] agibsonccc commented on #9744
@SidneyLann could you give me a reproducer please? This means that something is missing that probably shouldn't be.

[2022-08-08 09:51] agibsonccc commented on #9744
@SidneyLann I found out what it was. For some reason the fix was reverted. Great catch! This will be fixed in a PR we'll merge in a bit.

[2022-08-08 11:24] #9744 closed, assigned to nobody

[2022-08-09 04:11] norhu1130 opened #9746 "ND4J is probably missing dependencies"
#### Issue Description
When I use Minecraft's plug-in, I get an error like this.
It is an Arm64 environment and I am using java.
I'm not a developer, I'm a user.
I asked the developer, but there is no answer, so please leave it here.
I'm sorry.

[code]
#### Version Information

* Deeplearning4j version : I don't know
* Platform information (OS, etc) : Ubuntu 22.04 Server

[2022-08-09 04:16] norhu1130 commented on #9746
amd64 works well in a window environment

[2022-08-09 11:17] agibsonccc commented on #9746
@norhu1130 could you give me the minecraft plugin you are trying to use? I can try to figure out the information from that. If I had to guess it only has intel binaries for running the right code and you would need ARM.

[2022-08-09 12:22] norhu1130 commented on #9746
It's kind of hard because it's a premium plug-in.

[2022-08-09 12:30] agibsonccc commented on #9746
Where did you buy it? I am not asking for source code or anything just a way to contact the plugin author myself.

[2022-08-09 12:57] norhu1130 commented on #9746
https://www.spigotmc.org/resources/antiaura-%C2%BB-reliable-cheat-detection-%C2%BB-anti-cheat-plugin.1368/update?update=43601

[2022-08-09 13:49] agibsonccc commented on #9746
Thanks let me see what I can do. I've seen spigot popup before: https://community.konduit.ai/t/deeplearning4j-for-minecraft-plugins-doesnt-work-due-to-different-entry-point/1719

[2022-08-09 14:34] agibsonccc commented on #9746
@norhu1130 I've contacted the developers and will let you know when I hear back.  This error isn't really your fault. They just aren't bundling arm compatible code in their plugin.

[2022-08-10 16:14] georgiosk83 opened #9748 "Compile nd4j with minifier="true""
#### Issue Description

I am trying to compile nd4j with the minified libnd4j for arm64.
Everything runs fine when compiling the libnd4j with minifier="true", and it creates the same libnd4jcpu.so file as without the minifier and a file named "minifier" which is half the size.
Then, I run the maven command to build the nd4j jars, it executes correctly, but the nd4j-native-1.0.0-beta2-android-arm64

[2022-08-11 00:08] genolve commented on #9596
And also add to ONNX please
[code]

[2022-08-11 01:41] agibsonccc commented on #9748
@georgiosk-lerna you'll want to run it like this, below is a dockerfile for you to use if you want.
Replace the softmax;add;matmul
in the ops section with the ops you want to include.
You can do the same with datatypes as well.

Feel free to post on the forums: https://community.konduit.ai/ if you need more help. I'm closing this since it isn't a bug.
[code]

[2022-08-11 01:41] #9748 closed, assigned to nobody

[2022-08-11 05:37] kiransarv opened #9750 "ParagraphVectors infervector issue after upgrading to M2 version"
Hi All...

I have upgraded my DL4J from beta to M2 version. After upgrading, I updated the libraries (so files) from the following links.

https://repo1.maven.org/maven2/org/bytedeco/openblas/0.3.19-1.5.7/openblas-0.3.19-1.5.7-linux-x86.jar
https://repo1.maven.org/maven2/org/nd4j/nd4j-native/1.0.0-M2/nd4j-native-1.0.0-M2-linux-x86_64-compat.jar (as I have older GLIBC version)

But after the upgrad

[2022-08-11 07:54] agibsonccc commented on #9750
@kiransarv ParagraphVectors hasn't changed for a while. Could you try with snapshots to see if this is still a problem? I would also appreciate a small reproducer program so I can see the issue. Without a stack trace it's going to take me time to guess what your problem is or where this could be happening.

[2022-08-11 08:08] kiransarv commented on #9750
@agibsonccc Thanks for the info.. Here is the scenario.. I have trained Paragraph Vectors using DL4J in older version.. I am reusing the PV model in both the older version and newer version. When i infer using inferVector Here is the difference in output..

<some_text> :: Rank: 2, DataType: FLOAT, Offset: 0, Order: c, Shape: [1,1],  Stride: [1,1] (New Version)
<som_text> ::   Rank: 2, Offset: 0 Or

[2022-08-11 08:17] agibsonccc commented on #9750
@kiransarv there might be some issue with the way newer models are handled and vectors. It used to be that old vectors had to be 2d but now most are 1d. Could you do what I asked and give me a reproducer? I can't just take your description and turn that in to code. You're already describing potential issue sources like an old model among other things.

[2022-08-11 09:32] kiransarv commented on #9750
@agibsonccc I have not changed my code. There is no runtime error also. There are few compilation errors and I have fixed  them. They are all due to some API changes from beta to M2. Then I ran PV inference on few test data and it started failing. Reproducer Train a PV model in beta and try to infer the vectors in M2 and you should see the shape mismatch.

[2022-08-11 09:46] agibsonccc commented on #9750
@kiransarv sorry not sure what you mean. I literally need *something* from you specifically that reproduces this problem. I want actual phsyical java code with a model that shows this issue. I am sorry if I confused you earlier but I am mentioning I need *anything* specific to you that would help reproduce this. I am not going to spend time on this otherwise. That could be your old model and some

[2022-08-11 09:57] kiransarv commented on #9750
Got you.. let me in that case pull the code from repo, run it as a standalone and share the code and data with you

[2022-08-11 09:59] agibsonccc commented on #9750
Thanks for the understanding. I know it's a hassle but it will allow me to focus on just solving the problem rather than guessing where it could be.

[2022-08-12 02:56] SidneyLann opened #9751 "LabelWeight of SameDiff dost not same as it in dl4j"
I have an input data [miniBatch, sequenceLength, labelNum], and I pass the label weight [labelNum] in dl4j like:
new RnnOutputLayer.Builder(new LossMCXENT(Nd4j.create([labelNum]))))

But I must pass label weight [miniBatch, sequenceLength] in SameDiff like:
sameDiff.loss.softmaxCrossEntropy("loss", label, out, sameDiff.var([miniBatch, sequenceLength])));

Can help to change the behavior in SameDif

[2022-08-12 03:49] agibsonccc commented on #9751
@SidneyLann you just specify weights as you normally would. We already have supported weights here: https://github.com/eclipse/deeplearning4j/blob/394cf869eee1f773ca0947dc0f67805e46a8eb30/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/autodiff/samediff/ops/SDLoss.java#L698 Look at logLoss etc here.

[2022-08-12 03:49] #9751 closed, assigned to agibsonccc

[2022-08-12 14:35] agibsonccc commented on #9746
@norhu1130 I haven't heard back yet unfortunately. Feel free to direct message me on the forums: https://community.konduit.ai if you have any private files you want to send me. Maybe I can help you modify the jar files to include the right dependencies.

[2022-08-12 17:16] kiransarv commented on #9750
@agibsonccc figured out the shape issue there is slight change in the setSyn0 method in InMemoryLookupTable between old vs new version which is causing the vector dimension set to 1.

But now I am observing slowness in the inference times after upgrade... Here is the output of both old and M2 version.

Dataset used: https://www.kaggle.com/datasets/therohk/million-headlines?resource=download (selec

[2022-08-16 00:16] agibsonccc commented on #9750
@kiransarv can you try the M2.1 release? (Just add a .1 on to the M2 version) if that still persists I'll investigate. Thanks!

[2022-08-16 06:24] kiransarv commented on #9750
Thanks for the reply.. If I am not wrong the change from AggregateSkipGram to SkipGramRound is the root cause...
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nlp-parent/deeplearning4j-nlp/src/main/java/org/deeplearning4j/models/embeddings/learning/impl/elements/SkipGram.java#L375

[2022-08-16 06:40] agibsonccc commented on #9750
@kiransarv so looking at this....is there any reason you're manually copying libraries and calling System.load(..)? Javacpp already does that for you. Is something broken separately that I should be aware of? None our documentation or examples does this. Just use the nd4j-native-platform dependency or nd4j-native + openblas in maven and you should be fine.

[2022-08-17 04:22] agibsonccc commented on #9750
@kiransarv I see output like this:
[code]

Please try to upgrade to M2.1. The vectors are printing out the correct shape. I'm closing this for now. Feel free to come back if you have any issues.

[2022-08-17 04:22] #9750 closed, assigned to nobody

[2022-08-19 08:43] fgrilli opened #9754 "Could not find artifact org.nd4j:nd4j-native:jar:windows-x86_64-avx2:1.0.0-M2.1"
#### Issue Description

It looks like the `nd4j-native` artifact with classifier `windows-x86_64-avx2` is no longer available as version 1.0.0-M2.1. No problem when building with previous version.

I haven't found anything in release notes about it.

#### Version Information
1.0.0-M2.1

[2022-08-19 11:10] agibsonccc commented on #9754
@fgrilli use onednn-avx2 for now. That should be faster anyways. Let me get that reuploaded. Thanks for flagging!

[2022-08-19 12:12] fgrilli commented on #9754
Cheers!

[2022-08-20 05:03] agibsonccc commented on #9754
AVX2 is now published. Thanks for flagging.

[2022-08-20 05:03] #9754 closed, assigned to agibsonccc

[2022-08-20 05:05] agibsonccc commented on #9746
@norhu1130 please have the plugin author contact me. I have reached out to spigot-mc and they said it should be the direct plugin author's responsibility. They're making money off of this and this should be a part of the product. Unfortunately there is no commercial engagement with the vendor to provide this so there's not much I can do. Feel free to show them this github issue if you would like.

[2022-08-20 05:05] #9746 closed, assigned to nobody

[2022-08-29 10:44] partarstu opened #9756 "Gather Op error while using 1.0.0-M2.1"
#### Issue Description

- No errors
- Exception is thrown during back-prop

#### Version Information

* Deeplearning4j version - M2.1
* Platform information (OS, etc) - Windows 10 / Linux (Buster 10)
* CUDA version, if used - N/A
* NVIDIA driver version, if in use - N/A

#### Additional Information

Stack trace : https://gist.github.com/partarstu/6ec737eb6e50da6728940d01a00f00f3

Stack trace doesn

[2022-08-29 11:17] partarstu commented on #9756
A standalone snippet which reproduces an issue. It has 2 gather Ops: one with multidimensional array(batchTokenEmbeddings) and one with 1D array (predictionTokenEmbeddings). Seems like contrary to an old issue now the error happens id there's a 1D array :

[code]

[2022-08-30 04:51] agibsonccc commented on #9756
@partarstu this should fix it. https://github.com/deeplearning4j/deeplearning4j/pull/9757

[2022-08-30 04:53] agibsonccc commented on #9756
@partarstu your reproducer was also broken. I got an off by 1 when running it. It should be:
[code]

[2022-08-30 05:20] #9756 closed, assigned to agibsonccc

[2022-08-30 09:21] partarstu commented on #9756
@agibsonccc , thanks for a really quick fix! Regarding the reproducer - those numbers were random, I was using simply anything which would allow me to reproduce the issue :)

[2022-09-07 11:09] CompilerCrash opened #9763 "ScatterUpdate throws exception"
#### Issue Description

- expected behavior: `scatterUpdate` should update the specified indices of an `INDArray`/`SDVariable`.
- encountered behavior:  `scatterUpdate` throws a `RuntimeException` caused by a validation error in LibND4J.

This code reproduces the error:
[code]
The same error occurs when using SameDiff instead of Nd4j. The error does _not_ occur when using any other scatter operati

[2022-09-07 12:40] agibsonccc commented on #9763
@CompilerCrash thanks for the reproducer let me take a look and get back to you.

[2022-09-07 12:42] agibsonccc commented on #9763
@CompilerCrash  btw, did you also try with M2.1? There was just a release a bit ago. The snapshot cron job had to move to a new server so those might be out of date. I'll still look at this but would want you to double check that as well. Thanks!

[2022-09-07 13:04] CompilerCrash commented on #9763
@agibsonccc good hint, but yes, I get the same error with M2.1.

[2022-09-08 11:58] #9763 closed, assigned to agibsonccc

[2022-09-09 12:32] CompilerCrash opened #9765 "SameDiff expandDims cannot expand singleton 2D to 3D"
#### Issue Description

- expected behavior: SameDiff's `expandDims` method should add an new singleton dimension to any input `SDVariable`, e.g, if the input has shape `[1, 1]` then the output should have shape `[1, 1, 1]`.
- encountered behavior: if the input `SDVariable` has shape `[1, 1]` then the output still has shape `[1, 1]`.

The following code reproduces the error:
[code]

I encountered

[2022-09-09 12:56] CompilerCrash opened #9766 "Nd4j expandDims on scalars throws exception when passing -1 as dimension"
#### Issue Description

- expected behavior: passing `-1` as `dimension` parameter to `expandDims` adds a new singleton dimension to the input `INDArray` at index `shape.length`. In case of a 0D (scalar) input, `-1` should thus be equivalent to `0`.
- encountered behavior: in the case of 0D `INDArray`s, passing `-1` causes an `ArrayIndexOutOfBoundsException`.

The following code reproduces the err

[2022-09-09 13:43] agibsonccc commented on #9766
@CompilerCrash fixed thanks! This was due to an early termination due to some sort of tensorflow compatibility we were doing. This doesn't seem to be an issue anymore.  Also note that I removed the old expandDims logic and have it use our base class which delegates to a c++ kernel instead of 1 off java code. Thanks for flagging!

Note you can use: Nd4j.base() after this is merged instead. This use

[2022-09-09 13:44] agibsonccc commented on #9765
@CompilerCrash I fixed this similar to your other issue. https://github.com/deeplearning4j/deeplearning4j/pull/9767

[2022-09-09 14:00] CompilerCrash commented on #9766
@agibsonccc great, thanks for the fix and the explanation!

[2022-09-09 14:04] agibsonccc commented on #9766
@CompilerCrash https://github.com/deeplearning4j/deeplearning4j/actions once these builds are done you should be able to try it.

[2022-09-10 09:20] CompilerCrash commented on #9766
@agibsonccc yup, I can confirm that this issue and #9765 are both fixed in the latest snapshot.

[2022-09-11 21:31] #9765 closed, assigned to nobody

[2022-09-11 21:31] #9766 closed, assigned to agibsonccc

[2022-09-14 10:11] aminechraibi opened #9772 "Getting the last element in INDArray is not like numpy in python usin -1 index"
#### Issue Description
Using python if I want the last element of array x I use -1 index for example
`x = np.array([1, 2, 3, 4])`
`x[-1] # gives 4`
But for ND4J I use -1 as index it gives different result
`INDArray x = Nd4j.create(Arrays.asList(1, 2, 3, 4));`
`x.get(NDArrayIndex.point(-1)) # gives 1`

also in expand_dims I want to use the index -1 in
`Nd4j.expandDims(x, -1) # gives [[    1.0000,

[2022-09-14 10:45] CompilerCrash opened #9773 "BatchMmul issues"
#### Issue Description

I found three bugs related to the `batchMmul` operation. See code below and the attached stack traces:
[code]
Bug 3 is somewhat similar to issue #9698. Maybe it can be fixed in a similar way.

#### Version Information

* Deeplearning4j version: 1.0.0-SNAPSHOT
* Platform information (OS, etc): Linux Mint 20.3
* CUDA version, if used: N/A
* NVIDIA driver version, if in use: N

[2022-09-14 12:01] agibsonccc commented on #9773
@CompilerCrash thanks! This has been amazing. Let me compare this to our test cases and see what the deal here is.

[2022-09-14 12:07] agibsonccc commented on #9773
@CompilerCrash it looks like we're expecting alpha/beta as inputs here. Let me update the interface there: https://github.com/deeplearning4j/deeplearning4j/blob/d77597bae3253e13a3384a168fda789f68309c1a/libnd4j/include/ops/declarable/generic/blas/batched_gemm.cpp#L52

[2022-09-14 12:50] agibsonccc commented on #9772
@aminechraibi please use M2.1 or snapshots. I can't reproduce this locally. Closing.

[2022-09-14 12:50] #9772 closed, assigned to nobody

[2022-09-14 15:16] CompilerCrash commented on #9773
@agibsonccc you're welcome. Indeed, the check for alpha and beta seems to be the reason for bug 1.

[2022-09-14 15:49] CompilerCrash opened #9775 "TensorMmul backpropagation error"
#### Issue Description

- expected behavior: if SameDiff `tensorMmul` works in the forward pass (inference), then it should also work in the backward pass (backpropagation).
- encountered behavior: the backward pass of `tensorMmul` throws an exception complaining about incorrect input shapes, even if the forward pass worked fine.

The following (meaningless) computation graph performs the `tensorM

[2022-09-15 12:57] agibsonccc commented on #9773
@CompilerCrash https://github.com/deeplearning4j/deeplearning4j/pull/9776

[2022-09-15 12:57] agibsonccc commented on #9775
@CompilerCrash just like the other issue seriously thanks for this. Let me take a look at this tomorrow.

[2022-09-15 14:11] #9773 closed, assigned to agibsonccc

[2022-09-16 01:44] agibsonccc commented on #9775
@CompilerCrash thanks for looking at this please do keep them coming when you seem them! This was an off by 1 error when serializing axes.
Our training works by creating a mirror graph of the original inputs which involves a serialization of the ops (this is only done once). When we create a backprop op we create it using a doDiff(..) which inherits some properties from the original op.

The probl

[2022-09-16 08:16] #9775 closed, assigned to agibsonccc

[2022-09-16 11:05] partarstu opened #9780 "Gather Op error while using SNAPSHOT-1.0.0"
#### Issue Description

- Expected: No errors
- Actual: Exception is thrown during back-prop

#### Version Information

* Deeplearning4j version - SNAPSHOT-1.0.0
* Platform information (OS, etc) - Windows 10 / Linux (Buster 10)
* CUDA version, if used - N/A
* NVIDIA driver version, if in use - N/A

#### Additional Information

Stack trace : https://gist.github.com/partarstu/3aa7cb2cb4cde0ded2b0bea

[2022-09-17 07:11] CompilerCrash commented on #9775
@agibsonccc interesting insight, thanks!

I encountered these bugs in the course of the last several months, in which I was working with DL4J (mainly SameDiff). Now I finally have the time to report them. So there is indeed more to come (probably next week).

[2022-09-21 09:43] CompilerCrash opened #9784 "BatchMmul issues follow-up"
#### Issue Description

I checked out the new snapshot to try out the revised `batchMmul` op and can confirm that all the issues in #9773 are fixed. However, I have some new remarks about `batchMmul` that you might want to address to improve it:
[code]
1. All parameters of batchMmul must have floating point types. If they are not, the validation fails. But this happens rather late (especially in N

[2022-09-21 11:55] agibsonccc commented on #9784
@CompilerCrash actually these interfaces are all generated. I just had to convert the data type to batchMmul. Good catch! Please see: https://github.com/deeplearning4j/deeplearning4j/blob/2668876811fbebf1fafc09f954a34dfcd8c95780/contrib/codegen-tools/codegen/src/main/ops/org/nd4j/codegen/ops/SDBaseOps.kt#L2143 and data types here: https://github.com/deeplearning4j/deeplearning4j/blob/46dbd0b2035fa

[2022-09-21 12:18] CompilerCrash commented on #9784
I've read the term "codegen" here and there, but I didn't know what was actually being generated. Definitely makes sense given the large code base.

[2022-09-21 12:35] agibsonccc commented on #9784
@CompilerCrash you can find automatically generated definitions for ops as well: https://github.com/deeplearning4j/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/resources/nd4j-op-def.pbtxt - that's generated by parsing the java and c++ code bases: https://github.com/deeplearning4j/deeplearning4j/tree/master/contrib/codegen-tools/libnd4j-gen

That's what we use for

[2022-09-21 13:22] CompilerCrash opened #9786 "SameDiff create op ignores data type"
#### Issue Description

- expected behavior: when passing a `DataType` to `sd.create(...)`, the resulting `SDVariable` should have that type.
- encountered behavior: the `SDVariable` returned by `create` always has type `FLOAT`.

Here is an example:
[code]

Bonus question: Is the returned `SDVariable` really uninitialized? The parameter `initialize` is `false` by default but the result appears to

[2022-09-21 20:47] #9780 closed, assigned to nobody

[2022-09-21 20:47] #9784 closed, assigned to nobody

[2022-09-22 06:47] agibsonccc commented on #9786
@CompilerCrash similar to the other issues mainly a serialization problem. Thanks for flagging!

[2022-09-22 10:20] #9786 closed, assigned to nobody

[2022-09-26 12:35] RoytenBerge opened #9789 "UnsatisfiedLinkError no openblas_nolapack on ios m1 macbook"
#### Issue Description

I've been trying to run my kotlin project using gradle with the following implementations:
[code]

For some reason it just keeps throwing a  `no openblas_nolapack Unsatisfied link` error. I've tried changing nd4j versions but all versions seem to have this issue for me. I've also tried running the code in a rosetta terminal but that didn't solve the issues I'm having.

The

[2022-09-26 14:53] treo commented on #9789
The M1 version means "Milestone 1" and has nothing to do with the M1 chip.

If I remember correctly, the M1 chip is only supported starting version M2. The current release is version M2.1.

[2022-09-26 14:53] #9789 closed, assigned to nobody

[2022-09-26 16:08] RoytenBerge commented on #9789
Thanks I'll upgrade to that version then!

[2022-09-27 00:33] agibsonccc commented on #9789
@RoytenBerge make sure to keep an eye on the openblas support for M1 as well. I was able to finish the build and run some basic tests but the upstream openblas from javacpp looks like it might not be fully working for certain routines till 1.5.8 or using snapshots: https://github.com/bytedeco/javacpp-presets/issues/1198#issuecomment-1211463789

 in that case you might need to manually override the

[2022-09-27 09:51] CompilerCrash opened #9791 "Linear and reluLayer ops cannot handle null bias"
#### Issue Description

- expected behavior: according to the docs, the Nd4j and SameDiff ops `linear` and `reluLayer` should accept `null` as `bias` parameter (equivalent to passing a zero vector).
- encountered behavior: when passing `null` as `bias` to these ops, an exception is thrown.

Examples of all four cases that throw exceptions:
[code]

#### Version Information

* Deeplearning4j version

[2022-09-27 10:09] CompilerCrash opened #9792 "ReluLayer cannot handle singleton dimensions"
#### Issue Description

- expected behavior: if the input dimensions of the Nd4j and SameDiff `reluLayer` ops are consistent, they should return a result.
- encountered behavior: if `batchSize`, `nIn`, or `nOut` are equal to 1, i.e., if at least one input dimension is singleton, `reluLayer` throws an exception.

Example for the case `nIn = 1`:
[code]

#### Version Information

* Deeplearning4j ver

[2022-09-27 12:23] agibsonccc commented on #9792
@CompilerCrash looking at that I see how that's not very intuitive. The actual c++ op actually also has a  built in dense layer. That isn't a normal relu op. I'm not sure how to handle that...maybe rename it?

[2022-09-27 12:25] agibsonccc commented on #9791
@CompilerCrash on this one..not sure I agree with this one. It is x * w + b after all. B should be expected. Is the concrete thing you want to be having a bias optional within the layer itself?

[2022-09-27 13:17] treo commented on #9792
There is a difference between relu and reluLayer here.

reluLayer is explicitly documented as being ` relu(mmul(in,w) + bias)` whereas relu is ` x > cutoff ? x : 0`.

I'm not sure if any renaming is really necessary here.

[2022-09-27 13:20] agibsonccc commented on #9792
Yeah that's what I was thinking which is why I wanted to just confirm where the issue is.

[2022-09-27 14:21] CompilerCrash commented on #9791
@agibsonccc I (ab)used these ops to multiply a batch of vectors with the same matrix. Certainly not the standard use case. I would be fine with leaving it as it is. However, the Javadoc reads `@param bias Optional bias variable (may be null)`. So you should at least adjust the docs [here](https://github.com/deeplearning4j/deeplearning4j/blob/75e1543b85a45e1b63c33a84a73c3b5d6049433a/nd4j/nd4j-backe

[2022-09-27 21:22] agibsonccc commented on #9792
@CompilerCrash feel free to reopen this but otherwise I'll close this one.

[2022-09-27 21:22] #9792 closed, assigned to agibsonccc

[2022-09-27 21:23] agibsonccc commented on #9791
@CompilerCrash ah good catch ok! Yeah let me do that.

[2022-09-27 22:00] CompilerCrash commented on #9792
@agibsonccc sorry, I should have been more clear on this one. In my understanding, the `reluLayer` op should be equivalent to the `linear` op, followed by the `relu` op. If you do this simple replacement, the code suddenly works without an exception. This discrepancy is why I wrote this issue. I'll leave it to your discretion whether or not this really needs to be fixed (can't reopen this issue an

[2022-09-29 21:17] #9791 closed, assigned to agibsonccc

[2022-09-30 09:58] CompilerCrash commented on #9791
@agibsonccc I just noted that the PR #9793 that closed this issue actually only fixed the docs for `reluLayer` but not for `linear`  ([here](https://github.com/deeplearning4j/deeplearning4j/blob/74ca3775d9a01dfcd1b1058e36e33e3c1fbfa93a/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/factory/ops/NDNN.java#L294), [here](https://github.com/deeplearning4j/deeplearning4j/blob/

[2022-10-01 14:04] lzmchina opened #9797 "arrow's FieldVector to nd4j's INDArray"
#### Issue Description
I have some pyarrow vector data which is transported to java arrow flight server.
In python arrow flight client , my code is like this:
[code]
in java arrow flight server, my code is like this:
[code]
What I want to do is transfer arrow FieldVector type to nd4j's INDArray type.

I known nd4j has some util funcs to transfer Tensor type to nd4j's INDArray type. However i do no

[2022-10-01 14:41] baedaron opened #9798 "Add a method to get learning rate schedule from restored network."
or is there a way to get it?

i need to set a custom ISchedule and manipulate it when my neural network is restored.

[2022-10-01 22:33] agibsonccc commented on #9798
@baedaron there's not 1 "schedule" it's actually per layer. Could you clarify what you need to do exactly? I've never heard of anyone needing to do that. We have methods to set the learning rate if that's what you need. You can see that here: https://github.com/eclipse/deeplearning4j/blob/f0504431bb6247f4bd0ca27d1c0a7047d50dce15/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/uti

[2022-10-01 22:33] #9798 closed, assigned to nobody

[2022-10-01 22:35] agibsonccc commented on #9797
@lzmchina please use nd4j-arrow for serialization.  ArrowSerde should do what you need: https://github.com/deeplearning4j/deeplearning4j/blob/master/nd4j/nd4j-serde/nd4j-arrow/src/main/java/org/nd4j/arrow/ArrowSerde.java if arrow serde doesn't fulfull your needs open an issue with a feature request.

[2022-10-01 22:35] #9797 closed, assigned to nobody

[2022-10-02 04:56] lzmchina opened #9799 "Feature request:arrow's FieldVector to nd4j's INDArray"
It seems that Tensor type is not the basic type in arrow.
As I have mentioned in https://github.com/deeplearning4j/deeplearning4j/issues/9797, nd4j only supports transfer Tensor type to INDArray.In arrow framework,the basic transport data type is vector, so could community support this feature?

[2022-10-02 05:01] agibsonccc commented on #9799
@lzmchina  how would you want it implemented? Vectors have different data types. The problem you get in to is limited data type coverage (ndarrays support quite a few different types more than arrow does for sure) - You also get in to type opaqueness. With different vectors having different types you'd have to figure out what type you want returned.

Overall tensor feels the most appropriate and e

[2022-10-04 08:31] CompilerCrash opened #9800 "Inconsistency between documentation and implementation of DataType#isNumerical()"
The documentation and the implementation of `DataType#isNumerical()` do not match for the `BOOL` data type. The docs clearly say, `BOOL` is numerical but the implementation returns `false` for `BOOL`s. Here is the original code ([source](https://github.com/deeplearning4j/deeplearning4j/blob/74ca3775d9a01dfcd1b1058e36e33e3c1fbfa93a/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/

[2022-10-04 10:02] CompilerCrash opened #9801 "Dropout backpropagation not implemented"
I found multiple closed issues about this topic from years ago, but it seems like backpropagation is still not implemented for the Nd4j/SameDiff operations `dropout` and `dropoutInverted`. See their `doDiff` implementations [here](https://github.com/deeplearning4j/deeplearning4j/blob/74ca3775d9a01dfcd1b1058e36e33e3c1fbfa93a/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/

[2022-10-04 12:40] agibsonccc commented on #9801
@CompilerCrash actually we have c++ implementations if you search dropout_bp in the code base. I'll have to look in to why java wrappers weren't added. If I had to guess probably managing RNG state. I do remember some discussion around that a while back. That's a pretty basic feature so that should definitely get added in there if it's not connected already.

[2022-10-05 03:16] agibsonccc commented on #9799
Closing due to inactivity. If you can provide more on why tensor is not good enough and you would expect it implemented let me know. Otherwise feel free to open a pull request.

[2022-10-05 03:16] #9799 closed, assigned to nobody

[2022-10-05 14:14] CompilerCrash opened #9802 "SameDiff shape op doesn't accept non-numerical inputs"
#### Issue Description

- expected behavior: the SameDiff `shape` operation should be able to calculate the shape of `SDVariable`s of any `DataType` (I think that's a reasonable assumption).
- encountered behavior: `shape` accepts only numerical `DataType`s (i.e., it calls `SDValidation.validateNumerical()`). Therefore, it is not (directly) possible to get the shape of a `BOOL` or `UTF8` `SDVariab

[2022-10-06 08:10] #9802 closed, assigned to nobody

[2022-10-06 14:17] AllenWGX opened #9806 "Zero Loss Value When Training with SameDiff"
#### Issue Description
I find that loss value always equals zero when using SameDiff to train. I print the trainable variable's gradient value and more log infomation. It shows that gradient's value is not zero, and I can also get the non-zero loss if I execute forward pass. Pls help to check the code and log infos.

        int nIn = 4;
        int nOut = 1;
        int NUM_SAMPLES = 300;

[2022-10-07 08:46] #9806 closed, assigned to nobody

[2022-10-07 08:46] #9801 closed, assigned to nobody

[2022-10-07 08:50] #9800 closed, assigned to nobody

[2022-10-07 12:59] lzmchina commented on #9799
in fact , arrow documents say that the Tensor type is not the primitive data type and different program languages realize flight rpc server only by transport vector.
So pyarrow can only transport numpy data to arrow flight server in java by using Vector type.
So why not nd4j convert Vector to INDArray?
I think  supporting float or double type's vector is enough.
In fact I have some float32's numpy

[2022-10-07 13:13] agibsonccc commented on #9799
@lzmchina that's not really what I'm asking for...I'm asking what exactly you're expecting. The concrete problem here is still the same even with your response. Tensors are what map  1 to 1 and are what's expected to be used in DL use cases.

For normal scientific computing, we can support a subset, but how does it work? That's still not something you've told me. A vector is just..a  vector. How d

[2022-10-09 10:07] manishjiva opened #9810 "Spurious warning: "Undefined match condition: [-1]""
#### Issue Description

When using match conditions, I'm getting multiple logs of this:

`Undefined match condition: [-1]`

And it doesn't seem to be obvious on how/why it happens.

_steps to reproduce_
[code]

_ expected behavior_
When conditions are met, return without a warning. There doesn't seem to be a valid reason for this particular warning, and it bloats the log.

_encountered behavior_
G

[2022-10-09 10:13] agibsonccc commented on #9810
@manishjiva Closing this. You're using a 2 year old + version. Update and if this is still an issue feel free to open a new one. Beyond that, we've used a logging library for  years (slf4j -> logback usually) all log messages go through slf4j.

[2022-10-09 10:13] #9810 closed, assigned to nobody

[2022-10-09 10:31] manishjiva opened #9811 "Spurious warning: "Undefined match condition: [-1]""
#### Issue Description

When using match conditions, I'm getting multiple logs of this:

`Undefined match condition: [-1]`

And it doesn't seem to be obvious on how/why it happens.

_steps to reproduce_
[code]

_ expected behavior_
When conditions are met, return without a warning. There doesn't seem to be a valid reason for this particular warning, and it bloats the log.

_encountered behavior_
G

[2022-10-09 10:32] manishjiva commented on #9810
Fair enough, now run with latest from Maven Central: https://github.com/deeplearning4j/deeplearning4j/issues/9811

[2022-10-09 11:24] agibsonccc commented on #9811
@manishjiva thanks! Ok let me take a look. This should be an easy fix.

[2022-10-09 11:36] manishjiva commented on #9811
👍🏼 thanks @agibsonccc

[2022-10-09 22:25] agibsonccc commented on #9811
@manishjiva so this was actually in the c++ layer. We have separate logging for that. That was just using the equivalent of c++ System.out.println(). We have our own debug/verbose print methods for those. I've changed it to be debug instead.

[2022-10-10 08:47] #9811 closed, assigned to nobody

[2022-10-11 04:56] #9345 closed, assigned to nobody

[2022-10-11 07:56] xiptos commented on #9258
@agibsonccc, I can give access an M1 that I have in the lab, through TeamViewer or similar...
Is this enough?

/rp

[2022-10-11 08:14] agibsonccc commented on #9258
@xiptos could you try with M2.1 and see if you have any issues? I was able to run basic tests on an M1 and it seemed to work. Feel free to report any issues you find though.

[2022-10-11 08:38] xiptos commented on #9258
I can provide access to you through TeamViewer to an M1 iMac I have in the research lab…
Is this enough?

/rp

[2022-10-11 12:39] treo commented on #9258
@xiptos
I guess there is a bit of a misunderstanding: @agibsonccc talks about version M2.1, he isn't asking for an M2 Mac.

[2022-10-12 09:50] ethiel commented on #9258
@xiptos Hi, I was able to make the tests work in my M1. What's your issue?

[2022-10-22 15:21] AllenWGX opened #9821 "Infinite Value When using sd.nn.layerNorm Op"
#### Issue Description
When using sd.nn.layerNorm op, I got the infinite value if all elements all equal and the number of elements is greater than 10 (<10 is correct). Pls help to check the code below:
[code]
![output1](https://user-images.githubusercontent.com/23058056/197346258-027e6afb-b778-4356-aa5d-3636d124ac52.png)
============================================================================

[2022-10-23 13:27] #9821 closed, assigned to nobody

[2022-10-24 03:44] Adonis511 commented on #8990
However, I use myModel.compile(optimizer=opt,loss="mean_squared_error"), it doesn't word

[2022-10-24 04:02] agibsonccc commented on #8990
Closing this. This appears to have been fixed long ago. @Adonis511 please open a new issue with a reproducer. Your "it doesn't work" means nothing to me and will just be ignored. I can't read your computer or your mind. I need code with a reproducer and an error I can see if you want help. Otherwise it's just a waste of my time.

[2022-10-24 04:02] #8990 closed, assigned to agibsonccc

[2022-10-27 02:30] agibsonccc commented on #9404
Checked this with the latest version. Doesn't appear to be a problem as of M2.1. Closing.

[2022-10-27 02:30] #9404 closed, assigned to nobody

[2022-10-27 04:02] agibsonccc commented on #9107
Fixed long ago, forgot to close.

[2022-10-27 04:02] #9107 closed, assigned to agibsonccc

[2022-10-27 04:18] agibsonccc commented on #9279
Tests have been cleaned up quite a bit. Closing.

[2022-10-27 04:18] #9279 closed, assigned to nobody

[2022-10-27 04:18] agibsonccc commented on #9278
Haven't reproduced this in a while. Closing.

[2022-10-27 04:18] #9278 closed, assigned to nobody

[2022-10-27 04:20] agibsonccc commented on #9133
Closing. We support quite a few models now. For anyone finding this in the future file an issue if we're missing something.

[2022-10-27 04:20] #9133 closed, assigned to agibsonccc

[2022-10-27 04:21] agibsonccc commented on #9147
It's been quite a while. A lot's happened to the training code since this was raised. Closing.

[2022-10-27 04:21] #9147 closed, assigned to nobody

[2022-10-27 04:21] agibsonccc commented on #9135
Closing, not supporting rl4j anymore.

[2022-10-27 04:21] #9135 closed, assigned to nobody

[2022-10-27 04:21] agibsonccc commented on #9417
Seems like this has been fixed in subsequent versions.

[2022-10-27 04:21] #9417 closed, assigned to nobody

[2022-10-27 04:22] #9142 closed, assigned to nobody

[2022-10-27 12:00] CompilerCrash opened #9825 "Boolean operations return wrong results"
#### Issue Description

I revisited issue #9635 and it seems to me that it is not completely fixed. Some cases work now but others still return wrong results.

- expected behavior: When an operation is applied to two `INDArray`s of different but compatible shapes, broadcasting should be applied correctly.
- encountered behavior: In some cases (only boolean ops in my observations), where broadcasti

[2022-10-27 17:39] AllenWGX opened #9826 "UnsupportOperationException Thrown When using sd.loss.ctcLoss"
#### Issue Description
I wrote a demo to test sd.loss.ctcLoss, and got an UnsupportOperationException when getting the output. Pls help to check the code.

[code]
![ctc](https://user-images.githubusercontent.com/23058056/198360103-38fb06a0-0e6e-4520-a328-96588f746ba8.png)

**BTW:** I wonder if ctcLoss in SameDiff supports training, or only support forward pass ? In addition, after checking the ctc

[2022-10-28 02:45] agibsonccc commented on #9825
@CompilerCrash the bug actually wasn't what you thought it was. The broadcasting was fine. The main problem was constructor initialization. The and/or/xor pairwise ops all have a mode to compare against a scalar or a variable. The scalar was being initialized when it shouldn't be and was causing it to effectively be a no op. Thanks for flagging.

[2022-10-28 07:18] #9826 closed, assigned to nobody

[2022-10-28 07:18] #9112 closed, assigned to nobody

[2022-10-28 07:18] #9825 closed, assigned to nobody

[2022-10-28 07:22] CompilerCrash commented on #9825
@agibsonccc that explanation makes even more sense. Good to have it fixed now.

[2022-10-28 07:23] pieterdegraeuwe commented on #9447
any progress on this?

[2022-10-28 07:54] agibsonccc commented on #9447
Not yet but you can use a lambda layer to match the functionality as a workaround. Unfortunately other features took priority (mainly tf/onnx import) depending on your use case you may be able to save a graph as .pb and have it work. Happy to help support.

[2022-10-28 14:27] CompilerCrash opened #9830 "Dropout issues"
#### Issue Description

I revisited issue #9801 and found that, while the dropout op can now be executed, there are four issues with it:

1. A `probabilityValue` of 0.0 should be permitted but an assertion fails, causing an exception.
[code]
2. Setting `inverted` to `true` should effectively change the dropout rate to `1 - probabilityValue` but nothing happens.
[code]
3. Input values that are _not

[2022-10-29 07:03] agibsonccc commented on #9830
@CompilerCrash this just needed a >= check instead of a > . I incorporated all your tests in the code base to be sure and they all run now. Thanks for flagging.

[2022-10-29 11:34] #9830 closed, assigned to nobody

[2022-11-01 05:14] gregbarton opened #9833 "Performance degradation post commit 465394798ebb7e53bb859295f6e6f8caa1c42044"
#### Issue Description

Running GenerateTxtCharCompGraphModel example: https://github.com/deeplearning4j/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/advanced/modelling/charmodelling/generatetext/GenerateTxtCharCompGraphModel.java

All commits post 465394798ebb7e53bb859295f6e6f8caa1c42044 in deeplearning4j master branch experience a steep performance

[2022-11-01 11:55] agibsonccc commented on #9833
@gregbarton thanks for flagging!  Let me take a look and see what's going on there!

[2022-11-01 16:07] CompilerCrash opened #9835 "DataSetIteratorSplitter throws exception"
#### Issue Description

- expected behavior: using the constructor `DataSetIteratorSplitter(DataSetIterator baseIterator, long totalBatches, double ratio)` should be equivalent to using the constructor `DataSetIteratorSplitter(DataSetIterator baseIterator, long totalBatches, double[] ratios)` with `ratios = new double[]{ratio, 1 - ratio}`.
- encountered behavior: when the constructor with `double

[2022-11-02 03:05] agibsonccc commented on #9833
@gregbarton I ran this through yourkit and found most of the time in the example being spent in the indexing mechanisms. (Basically the get(INDArrayIndex...) calls.

I know for a fact I had fixed some bugs here and there but it appears we had a performance regression in the process. I likely won't undo the changes but I'll ensure that we get equivalent performance by profiling this example and mak

[2022-11-02 06:40] #9833 closed, assigned to agibsonccc

[2022-11-02 08:03] #9835 closed, assigned to nobody

[2022-11-02 22:45] gregbarton commented on #9833
Thanks!  Works like a champ!

[2022-11-03 15:06] mdavis95 opened #9841 "Support using ParallelInference to get the output of an internal layer"
#### Issue Description

Currently I am relying on the method
[code]

to get the outputs of internal `ComputationGraph` layers.

I would like to use the `ParallelInference` wrapper but it does not support that method.

Reference to community post (https://community.konduit.ai/t/using-parallelinference-to-get-a-specific-layer/2054)

#### Version Information

* Deeplearning4j version 1.0.0-M2.1
* Pla

[2022-11-04 11:45] CompilerCrash opened #9844 "IfCond and whileLoop backpropagation exception"
#### Issue Description

When training a computation graph that contains an `ifCond` or `whileLoop`, I get
[code]
and
[code]
respectively. Looking at the source code, it seems like none of the underlying control flow operations (`switch`, `merge`, `enter`, `exit`, `nextIteration`; see [here](https://github.com/deeplearning4j/deeplearning4j/tree/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src

[2022-11-04 12:11] agibsonccc commented on #9844
@CompilerCrash that's not quite the case...training with control flow happens all the time: rnns, etc. Control flow is actually specially implemented. Those are stub ops we hand implement in the training/inference sessions. Let me see what code path is triggering that regardless though..

[2022-11-04 12:26] agibsonccc commented on #9844
@CompilerCrash confirmed. Ok let me see here...I do see ifCond + bp triggers this. The embedded use cases seem to be covered but direct use for them seems to be missing here. It should be a straightforward fix. Thanks for flagging!

[2022-11-04 13:59] mdenty commented on #9258
Some packages seems to be unavailable for `macosx-arm64`, like :
- org.bytedeco:hdf5-platform:1.12.1-1.5.7
- org.bytedeco:leptonica-platform:1.82.0-1.5.7

Is there any plan to support those packages ?

[2022-11-04 21:57] agibsonccc commented on #9258
@mdenty that's unfortunately upstream.  The main thing that work sis nd4j-native. Looking at the latest release, leptonica appears to be supported now. Hdf5 however is not. The only thing hdf5 is used for is keras.

You should be able to work around that with a docker container or use a self contained environment via rosetta for running  just that part. We are publishing the latest release soon (n

[2022-11-08 14:05] Kanbe-Kotori opened #9846 "dataSet.shuffle() will crash the whole project"
#### Issue Description

Please describe our issue, along with:
- expected behavior: shuffle the dataset before use splitTestAndTrain()
- encountered behavior: Process finished with exit code -1073741819 (0xC0000005)
- *If I dont use shuffle(), the project works well.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-M2.1
* Platfo

[2022-11-08 14:30] Kanbe-Kotori commented on #9846
"C:\Program Files\Java\jdk-17.0.1\bin\java.exe" --add-opens=java.base/java.nio=ALL-UNNAMED "-javaagent:D:\Program Files\IntelliJ IDEA Community Edition 2021.2\lib\idea_rt.jar=3235:D:\Program Files\IntelliJ IDEA Community Edition 2021.2\bin" -Dfile.encoding=UTF-8 @C:\Users\14387\AppData\Local\Temp\idea_arg_file1998443977 cn.nulladev.test.Main
o.n.l.f.Nd4jBackend - Loaded [CpuBackend] backend
o.n.n.

[2022-11-08 21:47] agibsonccc commented on #9846
@Kanbe-Kotori could you clarify a bit? There are a lot of things that could cause that.
From what I'm seeing it is using cpu. That normally shouldn't have any issues. shuffle() might be a secondary cause of something else.
Do you have anything like an hs_err something .log in the directory where the crash happened? If I can't reproduce it (which I can't we have tests that cover shuffle on cpu and

[2022-11-09 01:29] Kanbe-Kotori commented on #9846
https://gist.github.com/Kanbe-Kotori/127a0b9e6f2871d61c7940e9543b6554 @agibsonccc

[2022-11-09 04:00] agibsonccc commented on #9846
@Kanbe-Kotori still hard to reproduce... could you please set -Dorg.nd4j.noarraygc=true in the system properties when running? I wonder if there is some sort of array reference being freed. I really need self contained code to know for sure what's going on.

Could you show me what this is? n.nulladev.test.CWRUDataManager.genAnnDataSet()

I don't need or want your proprietary secrets but I do need

[2022-11-09 08:31] Kanbe-Kotori commented on #9846
@agibsonccc https://github.com/Kanbe-Kotori/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/cn/nulladev/test/CWRUDataManager.java
method genAnnDataSet() provides a cwru bearing dataset, which failed to call shuffle().
method genAnnDataSetWithoutShuffle() provides the same function but uses vanilla shuffle() in java.util.Collections, and it succeed.

[2022-11-09 10:25] agibsonccc commented on #9846
@Kanbe-Kotori I downloaded your fork and tried running the relevant code but it looks like you're using some maven dependencies that aren't specified? It looks like you're using a text based mat parser? Could you clean that up?

[2022-11-10 03:19] Kanbe-Kotori commented on #9846
@agibsonccc That's an unofficial upgrade of a project no longer updated, I'm not sure whether it have a maven repo of this new version so I directly use the src.

[2022-11-10 06:52] Kanbe-Kotori commented on #9846
I think if the problem still cannot be reproduced, just ignore it. Anyway, I have found and provided a solution

[2022-11-10 06:52] #9846 closed, assigned to nobody

[2022-11-10 07:02] agibsonccc commented on #9846
@Kanbe-Kotori it's up to you. I'm happy to look in to it. If there is an early de allocation or something we should still make that more obvious. Your dataset did appear to use a lot of streaming which I do believe could result in race conditions. Either way this shouldn't happen with most normal code usage. Let me know if you still want help.

[2022-11-11 17:24] CompilerCrash opened #9847 "ExpandDims doesn't handle axis out of bounds properly"
#### Issue Description

- expected behavior: If the `axis` parameter of `expandDims` is greater than the number of dimensions of the input `INDArray`/`SDVariable` (or less than the negative number of dimensions plus one), an exception should be thrown to prevent the execution of the operation and tell the user what the problem was.
- encountered behavior: In said situation (in both ND4J and SameDi

[2022-11-12 05:27] Kanbe-Kotori opened #9848 "Some questions on the parameters of conv1d"
I want to use conv1d to do CNN on some time sequences with fixed length of 512. However, I am confused about the parameters of conv1d. And I didn't find any relevant information or sample on the Internet. The training effect is very poor now. I don't know whether it is the problem of network or parameter. The dl4j forum is only used by few people, so I have to ask questions here...
My question:
1.

[2022-11-12 13:39] agibsonccc commented on #9848
@Kanbe-Kotori just use setInputTYpe. No need to set nIn anything manually. nOut is the number of out channels.

[2022-11-14 01:05] Kanbe-Kotori commented on #9848
How can I print the length of the output of an hidden conv layer? You know, convolution without padding results in a reduction in length so I want to check it.

[2022-11-14 03:11] agibsonccc commented on #9848
@Kanbe-Kotori Try to see if model.summary() gives you what you're looking for

[2022-11-14 06:49] Kanbe-Kotori commented on #9848
@agibsonccc No, it contains no info about the length of conv result. To be specific, I want to use padding in some layers, but not in others. It's hard for me to know if I'm successful.

my print code: **System.out.println(model.summary(InputType.feedForward(2048)));**
my net structure: https://github.com/Kanbe-Kotori/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/cn/nulladev/test

[2022-11-14 07:01] agibsonccc commented on #9848
@Kanbe-Kotori it tells you the in and out of each layer in the summary. Could you clarify why you think that is exactly? I already mentioned to you once the in/out channels are nIn/nOut in your configuration there.

[2022-11-14 09:11] Kanbe-Kotori commented on #9848
No, I don't want to check the number of channels (the number of convolution kernels). What I want to know is how to set whether to use padding for conv1d, and also the length of the conv result, which seems not appear in model.summary(). I mean, If I use a kernel with a length greater than 1, the data will lose some length without padding, right? If the length cannot be printed in some way, how ca

[2022-11-14 10:44] agibsonccc commented on #9848
@Kanbe-Kotori padding isn't used unless you set it to valid.  It affects the output height/width. I would check for that. In this case, since you set same, padding isn't used even if configured. You can see the configuration here: https://github.com/deeplearning4j/deeplearning4j/blob/d77597bae3253e13a3384a168fda789f68309c1a/libnd4j/include/ops/declarable/helpers/convolutions.h#L49
You would need t

[2022-11-14 13:42] Kanbe-Kotori commented on #9848
@agibsonccc Thanks for your reply anyway, although I still don't know how to "set padding to valid", and I also don't know how to set the length of padding (Since the size of convolution kernel may be even, the left and right padding lengths are not necessarily equal). I also failed to find relevant explanations in the official documents. Hope to get a reply.

[2022-11-14 13:47] agibsonccc commented on #9848
@Kanbe-Kotori sorry I meant the convolution mode. You already had that set in your model.

I linked you how the heights/widths are affected by the padding and the convolution mode there.

Will elaborate more tomorrow (sorry late where I am)

[2022-11-14 14:23] Kanbe-Kotori commented on #9848
@agibsonccc So I should use ConvolutionMode.Strict, and set the length of padding in .padding(x), right?

[2022-11-14 21:32] agibsonccc commented on #9848
@Kanbe-Kotori yes if you want to use padding you need to use one of the formulas that takes it in to account.

What I linked you there were a few ways of doing convolutions. Depending on which mode you do, some take padding in to account and some don't.
Valid, Same and Casual are the below formulas:
[code]

I rewrote the above to be a bit more readable. You can see how the convolution mode affects

[2022-11-15 08:01] #9847 closed, assigned to nobody

[2022-11-15 08:01] #9844 closed, assigned to nobody

[2022-11-15 08:42] agibsonccc commented on #9841
@mdavis95 I looked at this and it would require some trade offs...let me know what you'd expect:
 ParalelInference has built in batching. We accumulate inputs over time and then execute once we have enough of a certain batch size.

For your use case are you ok if the layers are fixed? (eg: specify the layers you want on the builder?)

It's not really possible to implement this where you'd just spe

[2022-11-15 13:26] mdavis95 commented on #9841
In my use case, the outputs I am asking for are always the same for parallel inference.

[2022-11-15 21:43] #9848 closed, assigned to nobody

[2022-11-16 18:17] CompilerCrash commented on #9684
To future readers: The same problem was brought up again in issue #9806, which even received some fix, but still the loss reported by `ScoreListener` and `LossCurve` is constantly zero in the given examples.

Fortunately, I found an easy workaround. You need to manually pass the names of the loss variables to your `TrainingConfig`. For example:
[code]

[2022-11-17 12:49] agibsonccc commented on #9684
@CompilerCrash mind filing a separate issue?

[2022-11-18 14:23] CompilerCrash opened #9853 "Synchronization of loss variables between SameDiff and TrainingConfig"
#### Issue Description

This is a follow-up of issue #9684. When fitting a SameDiff graph, the reported loss (as per `ScoreListener` and `LossCurve`) is constantly zero although the learning succeeds. The workaround is to manually pass the names of the loss variables to the used `TrainingConfig` instance. It would still be nice if this wasn't necessary.

Example:
[code]

I'm not entirely sure if t

[2022-11-19 08:11] agibsonccc commented on #9853
@CompilerCrash this is a bug.  State should be consistent across trainingconfig and loss variables. If one gets set and the other is defined then it should be updated.
Another option would be to also add some exceptions/validations when anything changes. What would you prefer to happen?

I know that state like this can be error prone to manage so I'd imagine anything silent isn't preferrable.

The

[2022-11-20 23:10] CompilerCrash commented on #9853
@agibsonccc I think the more inconsistent states can be avoided by design, the better. Therefore, I wonder if it is necessary to store two separate collections of loss variables in the first place. Maybe it is sufficient to have it only in the SameDiff instance (and maybe share the reference of this collection with the TrainingConfig)?

If for some reason this is not possible/desirable, it might a

[2022-11-26 03:51] gotonote opened #9854 "自动驾驶更新笔记"
您好，
看了您总结的内容非常全面， 可否引荐下本人的笔记，把我对自动驾驶的理解分享给大家，
谢谢您

[**Autopilot-Updating-Notes**](https://github.com/nwaysir/Autopilot-Updating-Notes)

[2022-11-26 05:56] #9854 closed, assigned to nobody

[2022-11-28 13:51] agibsonccc commented on #9841
@mdavis95 sorry this took a bit.  I need to do 1 more test yet but most of it should be there: https://github.com/deeplearning4j/deeplearning4j/pull/9855 thanks for the discussion!

[2022-11-30 11:48] #9853 closed, assigned to nobody

[2022-11-30 11:48] #9841 closed, assigned to nobody

[2022-11-30 17:24] yang162132 opened #9857 "nd4j.linalg.cpu.nativecpu.CpuBackend not found"
when I use nd4j in my linux(centos7). It's seem some things wrong.

Caused by: java.util.ServiceConfigurationError: org.nd4j.linalg.factory.Nd4jBackend: Provider org.    nd4j.linalg.cpu.nativecpu.CpuBackend not found
        at java.util.ServiceLoader.fail(ServiceLoader.java:239)
        at java.util.ServiceLoader.access$300(ServiceLoader.java:185)
        at java.util.ServiceLoader$LazyIterator.n