[2018-02-19 16:50] benman1 opened #4676 "import keras hd5 model (inception v3)"
#### Issue Description

I am trying to import a model, the inception v3 model, from hd5 format as downloaded here: https://github.com/tomthetrainer/KerasWorkshop/releases. With the stable version 0.9.1 from maven central I ran into problems with reading the hd5 (the same as [this issue](https://github.com/deeplearning4j/deeplearning4j/issues/3520)) I found there seemed to have been a few changes a

[2018-02-19 20:11] maxpumperla commented on #4676
@benman1 well, the issue is precisely what the error message says, you want batchnorm along dimension 1, while import only supports axis 3.

If I recall correctly, we have a new batch norm implementation in nd4j that's more flexible than the current one. I'll see what I can do about this.

[2018-02-19 22:37] comoq3c commented on #4466
is there any update on this?

[2018-02-20 17:56] rockbass2560 opened #4678 "Unsupported keras layer type Conv1D"
#### Issue Description

I got an error when I try to load a Keras model in dl4j

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version 0.9.1
* platform information (OS, etc)  Windows 10

#### Contributing

Log error

org.deeplearning4j.nn.modelimport.keras.UnsupportedKerasConfigurationException: Unsupported keras layer type Conv1D. Please fi

[2018-02-20 18:18] maxpumperla commented on #4678
please use 0.9.2-SNAPSHOT

[2018-02-20 18:18] #4678 closed

[2018-02-20 20:02] rockbass2560 commented on #4678
How can I get that version?

[2018-02-20 20:35] raver119 commented on #4678
https://deeplearning4j.org/snapshots

[2018-02-21 11:21] doofin opened #4684 "Proper exception handling when run from scala sbt?"
#### Issue Description

Please describe our issue, along with:
- expected behavior : termination after exception should not interfere with next run
- encountered behavior : java.lang.ExceptionInInitializerError after exception unhandled

after the first exception:
[code]

after I press ctr-c and re-run from sbt again I got
[code]
#### Version Information

Please indicate relevant versions, includi

[2018-02-21 11:49] Make42 opened #4685 "Documentation how word2vec is training"
I would like to see a documentation how word2vec is training skip-gram and CBOW.

### First, the Skip-Gram model:

From the Internet I found two alternative ways. For that let us establish that each word is encoded as a one-hot-vector, which is put into the NN returning a probability vector for each word of finding this word near (in the neighborhood, being a context word) the input word. Let us a

[2018-02-21 16:35] raver119 commented on #4256
space_to_depth is implemented.

[2018-02-21 17:03] maxpumperla commented on #4256
@saudet we even have this in SameDiff by now. Supporting lambda layers in general is still a long way to go, but we could have this a utility layer. Is this still important or urgent or both? :)

[2018-02-21 17:17] nlebreton commented on #4256
@maxpumperla thx for this impl. I will test it by trying to import a (full) yolo v2 asap and update this issue accordingly.

[2018-02-21 17:27] maxpumperla commented on #4466
@comoq3c @winobes @EricSteinberger we have a unit test for this on master now (after merging #4686):

https://github.com/deeplearning4j/deeplearning4j/blob/8a3311c1fb00ed0d90328b35cdd5548585d203c2/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/weights/KerasWeightSettingTests.java#L109-L128

I'm closing this for now. Let me know if you encounter problems. thanks!

[2018-02-21 17:27] #4466 closed

[2018-02-21 20:01] maxpumperla commented on #4256
@nlebreton wait, it's in ND4J right now, I still need to wrap this into DL4J _and_ support keras import.

@saudet can you please (again, I guess) point me to the model specification that you try to import?

[2018-02-21 21:33] tomthetrainer commented on #4676
@maxpumperla That is almost certainly a h5 file from  keras 1.x export.

Do we intend to have Keras 1.x support in current and future versions?

If not you can ignore this as far as Model Import is concerned and I can make it a documentation issue and put up versions of inception exported from keras 2.x?

@benman1 There are saved keras models of inception using keras 2 here.
https://github.com/fch

[2018-02-22 00:35] saudet commented on #4256
IMO, I think it's important to be able to import full YOLOv2 models for decent accuracy with object detection. I'll leave it up to @jpatanooga  and @agibsonccc to set priorities about this and other things though.

[2018-02-22 04:11] ryan7th commented on #4220
is the problem solved?  i came the same problem too~

[2018-02-22 04:13] agibsonccc commented on #4220
@ryan7th Use snapshots: http://deeplearning4j.org/snapshots - we'll be doing a release within a few weeks here.

[2018-02-22 07:05] maxpumperla commented on #4676
@tomthetrainer yes, we intend to have full backward compatibility. so that's perfectly fine. 👍

[2018-02-22 07:14] AlexDBlack commented on #4500
Closing this - all gradient checks are all passing now (for CPU) on this branch/PR: https://github.com/deeplearning4j/deeplearning4j/pull/4683

![image](https://user-images.githubusercontent.com/2360237/36524969-327d4580-17fc-11e8-87ec-ba2dc138c4ce.png)

[2018-02-22 07:14] #4500 closed

[2018-02-22 09:57] sorensf opened #4688 "Using a trained model on GPU or CPU backend results in different outputs"
#### Issue Description
Having trained a CNN model and saving it to disk. Then when the model is loaded a CPU backend it outputs one probability distribution and when loaded on a GPU backend it outputs a different probability distribution.

l using the CNN configuration https://gist.github.com/sorensf/88b95d32018a204daca197f151b142c3
CPU backend is builts as a .jar using the pom.xml https://gist.gi

[2018-02-22 14:53] fredsjones opened #4690 "Currently used version of logback-core contains a security vulnerability"
In our exploration of your project we found that it is currently using version 1.1.2 of logback-core which is vulnerable to Arbitrary Code Execution. See the links below for the details on the vulnerability.

Recommendation:

Upgrade the version of logback-core in the pom.xml to version 1.2 or higher.

For additional details on this vulnerability you can visit the following websites:
Snyk:
https:/

[2018-02-22 15:24] raver119 commented on #4690
Could you please point me to the place where we use that EXCEPT of test scope please?

[2018-02-22 16:04] fredsjones commented on #4690
You are correct, it is currently only used in the test scope.  Its something to consider updating at some point since the risk is low and all it takes is one person to start using outside the test scope to potentially (not guaranteed) to increase the risk.

[2018-02-22 16:05] raver119 commented on #4690
Ok, thank you.

[2018-02-22 16:14] raver119 commented on #4688
Any chance for serialized model that reproduces this behavior?

[2018-02-22 16:27] sorensf commented on #4688
Yes, but I'm still working on it sorry. So far the stand-alone examples that I've tried making to reproduce the behavior doesn't show the issue, even when using the existing serialized model I have.

[2018-02-22 16:28] raver119 commented on #4688
That's even more interesting then.

[2018-02-22 16:32] sorensf commented on #4688
I'm running a setup where I have 3 NN models loaded in memory within a larger system. When switching between CPU and GPU the third model on GPU changes its output from "expected" to something close to an untrained network. At the moment when I just try loading the 3 models within a small test, no change in behavior is exhibited between CPU and GPU...

[2018-02-22 16:33] nlebreton commented on #4256
I can confirm that from a business point of view, Tiny Yolo is not accurate enough for many use-cases. I work on a proof of concept trying to convince my partners that java and dl4j are viable compared to the classical python approach. One strong argument is "Keras can be imported" but today state of the art objects detection model Yolo cannot be imported. I really hope that this capability will b

[2018-02-22 16:43] raver119 commented on #4688
Are they used in the same thread? If yes - that might be caused by workspaces.
It's rather simple to check though: set inference mode to NONE.

[2018-02-22 16:47] sorensf commented on #4688
They are, but I have tried with inference mode NONE and unfortunately didn't help.

[2018-02-22 16:48] raver119 commented on #4688
What happens if you load only 1 model?

[2018-02-22 16:51] sorensf commented on #4688
I'm at home at the moment, and I haven't tested that yet, but will do it first thing tomorrow.

[2018-02-22 17:10] maxpumperla commented on #4256
@nlebreton @saudet we're slowly but surely getting there, see: https://github.com/deeplearning4j/deeplearning4j/pull/4691

the full yolo h5 exceeds the github file size limit (it's well over 200mb), so I can't just put it into our resources repo. Is there a smaller version that reproduces the basic pattern (i.e. concat a conv layer with the output of space_to_depth)?

[2018-02-22 17:27] cragkhit opened #4692 "The method humanReadableInt in StringUtils.java has a race condition."
#### Issue Description

Hi. I found that the `humanReadableInt(long number)` method in the `deeplearning4j-nn/src/main/java/org/deeplearning4j/util/StringUtils.java` contains code which has a race condition as shown in Hadoop (issue tracking ID [HADOOP-9252](https://issues.apache.org/jira/browse/HADOOP-9252)). I couldn't find a call to the method anywhere else in the code. But it might be worth to

[2018-02-22 17:40] Yu-Hang opened #4693 "lib/arm64-v8a"
#### Issue Description

When encountered[ this issue](https://github.com/deeplearning4j/nd4j/issues/1922), the solution was to  make sure that your APK doesn't contain both lib/armeabi and lib/armeabi-v7a subdirectories( in my case is arm64-v8a). However, lacking "arm64-v8a" in my apk is making function "filter2D" from OpenCV extremely slow.

Is there a way to tell gradle to look for DL4J dependen

[2018-02-22 19:54] nlebreton commented on #4256
@maxpumperla I was able to reproduce the issue with that one ? Its size is 36kb.
[my_model.zip](https://github.com/deeplearning4j/deeplearning4j/files/1749342/my_model.zip)

[2018-02-23 01:19] saudet commented on #4692
Sounds good! Please send a pull request if possible.

[2018-02-23 06:08] muyinanhai opened #4695 "keras import error when having a flatten layer"
#### Issue Description
model.json:
{"class_name": "Model", "config": {"name": "model_1", "layers": [{"name": "cate_0", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "cate_0"}, "inbound_nodes": []}, {"name": "cate_1", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "

[2018-02-23 06:08] muyinanhai opened #4696 "keras import error when having a flatten layer"
#### Issue Description
model.json:
{"class_name": "Model", "config": {"name": "model_1", "layers": [{"name": "cate_0", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "cate_0"}, "inbound_nodes": []}, {"name": "cate_1", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "

[2018-02-23 06:08] muyinanhai opened #4697 "keras import error when having a flatten layer"
#### Issue Description
model.json:
{"class_name": "Model", "config": {"name": "model_1", "layers": [{"name": "cate_0", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "cate_0"}, "inbound_nodes": []}, {"name": "cate_1", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "

[2018-02-23 06:08] muyinanhai opened #4698 "keras import error when having a flatten layer"
#### Issue Description
model.json:
{"class_name": "Model", "config": {"name": "model_1", "layers": [{"name": "cate_0", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "cate_0"}, "inbound_nodes": []}, {"name": "cate_1", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "

[2018-02-23 06:08] muyinanhai opened #4699 "keras import error when having a flatten layer"
#### Issue Description
model.json:
{"class_name": "Model", "config": {"name": "model_1", "layers": [{"name": "cate_0", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "cate_0"}, "inbound_nodes": []}, {"name": "cate_1", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "

[2018-02-23 06:08] muyinanhai opened #4700 "keras import error when having a flatten layer"
#### Issue Description
model.json:
{"class_name": "Model", "config": {"name": "model_1", "layers": [{"name": "cate_0", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "cate_0"}, "inbound_nodes": []}, {"name": "cate_1", "class_name": "InputLayer", "config": {"batch_input_shape": [null, 1], "dtype": "int32", "sparse": false, "name": "

[2018-02-23 06:08] muyinanhai opened #4701 "keras import error when having a flatten layer append to a embedding layer"
### keras import error when having a flatten layer
model

![image](https://user-images.githubusercontent.com/13764547/36586294-30355c20-18bc-11e8-891d-0bcb9795becc.png)

Exception in thread "main" org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Layer flatten_1 could not be mapped to Layer, Vertex, or InputPreProcessor. Please file an issue at http://githu

[2018-02-23 06:10] #4695 closed

[2018-02-23 06:10] #4696 closed

[2018-02-23 06:10] #4697 closed

[2018-02-23 06:10] #4699 closed

[2018-02-23 06:10] #4698 closed

[2018-02-23 06:11] #4700 closed

[2018-02-23 06:48] raver119 commented on #4688
Any news?

[2018-02-23 09:02] AlexDBlack commented on #4673
Seems like this is is a problem with CifarLoader - note it's trying to allocate 2.5GB. In CifarLoader, if useSpecialPreProcessCifar it'll roll  over the entire dataset - this all occurs in the workspace...

[2018-02-23 10:04] AlexDBlack opened #4702 "IntelliJ build exception"
This *might* be an intellij issue, but it might be related to some of our maven plugins also? I am seeing this frequently on both Windows and Linux, and is quite disruptive. It also seems to result in some occasions on old code/dependencies being used when tests are run.

![image](https://user-images.githubusercontent.com/2360237/36588620-c8dbb8d2-18dc-11e8-9d5c-258683fadad8.png)

[2018-02-23 11:06] maxpumperla commented on #4701
@muyinanhai I fixed this for you, see: https://github.com/deeplearning4j/deeplearning4j/pull/4703

btw, next time opening one issue is enough ;) also, would you please consider using a gist for json etc., so we don't clutter the issue? thanks

[2018-02-23 11:06] #4701 closed

[2018-02-23 15:05] maxpumperla commented on #4256
<img width="639" alt="screen shot 2018-02-23 at 15 59 17" src="https://user-images.githubusercontent.com/3462566/36600458-9f7fec76-18b2-11e8-82a7-b29905c9a6d6.png">

@nlebreton @saudet importing full `yolo-voc` works on the branch now, will try to test some more, then wrap this up.

[2018-02-23 15:13] maxpumperla commented on #4256
perfect, `yolo` seems to work as well. however, I see that your `my_model.zip` fails for some reason @nlebreton.

[2018-02-23 15:45] maxpumperla commented on #4256
ok, I also added a keras configuration test (loading json only), which you can see here:

https://github.com/deeplearning4j/deeplearning4j/blob/4a25300f1452d656b15686cbb224f28c28aa70c1/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/configurations/Keras2ModelConfigurationTest.java#L44-L46

[2018-02-23 15:45] #4256 closed

[2018-02-23 15:45] maxpumperla commented on #4256
I'm renaming this issue to this more specific case and open a new "Lambda layer support" issue. thanks!

[2018-02-23 15:52] maxpumperla opened #4704 "[Keras import] Fully support Lambda layers."
#### Issue Description

We have have an OKish workaround for supporting Lambda layers in individual cases, see here:

https://github.com/deeplearning4j/deeplearning4j/blob/4a25300f1452d656b15686cbb224f28c28aa70c1/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/configurations/Keras2ModelConfigurationTest.java#L44-L46

In general, a Keras Lambda layer accepts any lam

[2018-02-23 16:37] #4676 closed

[2018-02-23 16:55] maxpumperla commented on #4676
@benman1 I relaxed the conditions for batch norm axes again. be aware that this might lead to batch norm leading to unexpected results in weird edge cases (that you prob don't want).

[2018-02-23 23:20] AlexDBlack opened #4707 "CUDA crash on GradientCheckTestsComputationGraph.testBasicIrisTripletStackingL2Loss"
Run on: CUDA 9, Kubuntu 17.04, GTX 970.
No crash/issues on native backend.

[code]

https://gist.github.com/AlexDBlack/93e2bd4d057b7c0b7f802438617d0882

[2018-02-24 07:47] #4707 closed

[2018-02-24 08:49] AlexDBlack opened #4709 "Failing unit tests"
CPU:
![image](https://user-images.githubusercontent.com/2360237/36627740-7ac25128-199b-11e8-8a33-3a8263940bb9.png)

![image](https://user-images.githubusercontent.com/2360237/36656490-ca00b77a-1b1c-11e8-9536-11b566433ffb.png)

EDIT: testInputMasking is now fixed.

CUDA:
![image](https://user-images.githubusercontent.com/2360237/36627766-be8d754a-199b-11e8-8f9c-bd2211596185.png)

Edit: A lot - but

[2018-02-25 18:33] nlebreton opened #4712 "Illegal concatenation in CpuNDArrayFactory getting single output from yolo9000"
Hi,

The following exception is thrown while calling outputSingle(..) on a yolo9000 model imported from Keras. The code reproducing this issue can be found on https://gist.github.com/nlebreton/63814df50db15cee36f9f26765f9bfaf. This isssue cannot be reproduced with TinyYolo. I'm using the very last version of dl4j 0.9.2-SNAPSHOT.

Exception in thread "main" java.lang.IllegalArgumentException: Illeg

[2018-02-25 19:29] nlebreton commented on #4712
MergeVertex has 2 inputs from space_to_depth_x2 and leaky_re_lu_20. Their output shapes are (h=13,w=13,d=256) and (h=13,w=13,d=1024).

[2018-02-26 00:10] marioarrigonineri opened #4713 "computationgraph with mixed CNN and extra indicators"
#### Issue Description

I developed a computationgraph with:
-one image input
-one flat input
-one two classes classification output

when training starts an exception is thrown:
java.lang.UnsupportedOperationException: Cannot use batched operations on entire reader with multiple writables
	at org.deeplearning4j.datasets.datavec.RecordReaderMultiDataSetIterator.convertWritablesBatched(RecordReader

[2018-02-26 04:16] AlexDBlack commented on #4713
OK, so I've finally got this code down to something I can actually run (for future reference, please provide something runnable in isolation).

The relevant code:

[code]
[code]

Specifically: ```.addInput("patch")```
Javadoc for this addInput method:

In other words, you are basically saying "I want to use the entire contents of the reader - the image INDArray, and the labels (from CWPathLabelGen

[2018-02-26 04:16] #4713 closed

[2018-02-26 04:49] AlexDBlack commented on #4709
So I've been staring at the testLSTMWithMerging failure for a few hours now... it's some sort of workspace problem specific to CUDA - but I have no idea why :/

[code]

Output on native:
[code]

Output on CUDA:
[code]

[2018-02-26 06:38] AlexDBlack opened #4715 "ConvolutionLayerSetupTest has class @Ignore annotation"
Looks like a bunch of these are failing too.

https://github.com/deeplearning4j/deeplearning4j/blob/4163e3933d12055ce3634bc550a5d8b5652eb368/deeplearning4j-core/src/test/java/org/deeplearning4j/nn/layers/convolution/ConvolutionLayerSetupTest.java#L41-L42

[2018-02-26 06:45] AlexDBlack commented on #4715
Closing in favor of: https://github.com/deeplearning4j/deeplearning4j/issues/4709

[2018-02-26 06:45] #4715 closed

[2018-02-26 07:28] AlexDBlack commented on #4484
https://github.com/deeplearning4j/deeplearning4j/pull/4714

[2018-02-26 07:28] #4484 closed

[2018-02-26 07:33] AlexDBlack commented on #4263
https://github.com/deeplearning4j/deeplearning4j/pull/4714

[2018-02-26 07:33] #4263 closed

[2018-02-26 07:50] AlexDBlack commented on #4512
Fixed here, will be merged soon: https://github.com/deeplearning4j/deeplearning4j/pull/4714

Before:
![image](https://user-images.githubusercontent.com/2360237/36658376-60c21486-1b24-11e8-97b1-d6972c882e83.png)

After:
![image](https://user-images.githubusercontent.com/2360237/36658663-bc9318cc-1b25-11e8-9d86-ac4621b565f5.png)

[2018-02-26 07:50] #4512 closed

[2018-02-26 09:10] AlexDBlack commented on #4487
https://github.com/deeplearning4j/deeplearning4j/issues/4487

[2018-02-26 09:10] #4487 closed

[2018-02-26 09:23] AlexDBlack commented on #4497
https://github.com/deeplearning4j/deeplearning4j/pull/4714

[2018-02-26 09:23] #4497 closed

[2018-02-26 09:25] sorensf commented on #4688
I managed to reproduce the issue in a unit test (note that it uses some helper methods): https://gist.github.com/sorensf/667a944b41a4a631d56491af17c7b561

Talking with Raver119 it appears that the problem is that when running on CUDA backend, when one thread deserializes a network it does not actually complete the deserialization before another operation is performed on the network in that thread,

[2018-02-26 09:27] sorensf commented on #4688
Source chat history: https://gist.github.com/sorensf/10d8da81568914cd6c80372d9c4872a2

[2018-02-26 09:29] saudet commented on #4693
64-bit builds for Android are now available! Use `android-arm64` and `android-x86_64` as classifiers for  nd4j-native 0.9.2-SNAPSHOT, openblas 0.2.20-1.4.1-SNAPSHOT, and opencv 3.4.0-1.4.1-SNAPSHOT.

[2018-02-26 09:29] #4693 closed

[2018-02-26 10:46] nlebreton commented on #4712
MergeVertex has 2 inputs from space_to_depth_x2 and leaky_re_lu_20. Their output shapes are (h=13,w=13,d=256) and (h=13,w=13,d=1024).

[2018-02-26 10:49] sorensf commented on #4688
Another observation, it seems that if I use the model returned from ModelSerializer.restoreMultiLayerNetwork(...) directly, then the issue also disappears. But when I use the multiLayerNetwork.getLayerWiseConfigurations() multiLayerNetwork.params() to create a new network, that network has the issue.
So the problem does not seem to be the deserialization but rather the copying of parameters. (My d

[2018-02-26 11:02] prange commented on #4465
Ok here comes a first take on a training pipeline.

The first example is training of a VAE
[code]

[2018-02-26 11:04] agibsonccc commented on #4465
@prange sorry for the late response, just saw this - yes as json or the like.

[2018-02-26 11:10] prange commented on #4465
The next example is training a net with convolution layers:
[code]

[2018-02-26 11:15] prange commented on #4465
But these two examples fulfill the performance requirement: It builds around Streams which are pretty efficient, and the bottleneck here are just the transformations provided by the user.

_But_ it fails the serialization requirement miserably. This api is built for maximum flexibility and userprovided transformations, hance it is not possible to supply json (or other) serialization out of the box

[2018-02-26 11:18] agibsonccc commented on #4465
@prange Definitely don't disagree with you there - the reason we have this as persistable though is because it means you don't have to worry about rewriting code for production. You're trading developer productivity for write literally only once. That's a hard sell for us right now (it's a huge selling point in our product). It's not a horrible idea - per se. I like the intent and the api is great

[2018-02-26 11:37] prange commented on #4465
Yes, i agree 100%. Without serialization this api is just something devs can play with, but not deploy anywhere. Ill continue to work on this and will post here as i progress...

[2018-02-26 16:18] Yu-Hang commented on #4693
@saudet Just to make sure: as stated in your website, SNAPSHOTS won't work with gradle, so I will need to use Maven to download the files and try using local maven repository with mavenLocal()?

[2018-02-26 17:44] Ngosti2000 opened #4718 "Multiple dex files define Lpl/edu/icm/jlargearrays/LargeArrayUtils$9"
Upon building a project in Android i get the following error

[code]

[2018-02-26 18:04] treo commented on #4718
Dependency on JLargeArrays was introduced through https://github.com/deeplearning4j/DataVec/pull/508

[2018-02-26 19:07] Ngosti2000 commented on #4718
i have excluded the JTransforms module in android and how now compiled successfully... Will this be corrected before next release?

[2018-02-26 20:22] raver119 commented on #4709
probably fixed. please confirm

[2018-02-26 21:21] maxpumperla commented on #4712
@nlebreton I found the root cause for this. Fix inbound

[2018-02-26 23:32] AlexDBlack commented on #4709
@raver119 That issue seems fixed - mentioned tests (and debug code in comment above) now pass.

[2018-02-27 00:42] AlexDBlack commented on #4709
Closing this - a few test failures remain, but many mentioned here are now fixed.

[2018-02-27 00:42] #4709 closed

[2018-02-27 02:00] AlexDBlack commented on #4674
https://github.com/deeplearning4j/deeplearning4j/pull/4680

[2018-02-27 02:00] #4674 closed

[2018-02-27 02:00] AlexDBlack commented on #4359
https://github.com/deeplearning4j/deeplearning4j/pull/4680

[2018-02-27 02:00] #4359 closed

[2018-02-27 02:57] saudet commented on #4693
That's the easiest thing to do, yes, unfortunately. It's also possible to use the exact version of the artifact instead of "SNAPSHOT", or to download the JAR files manually...

[2018-02-27 03:00] saudet commented on #4718
Yes, the pull request has been merged. Sorry for the trouble! And thanks for reporting.

[2018-02-27 03:00] #4718 closed

[2018-02-27 08:53] akshay-1993 opened #4724 "Can not instantiate value of type from Integral number (2351706); no single-int-arg constructor/factory method"
#### Issue Description

 Error creating bean with name 'wordEmbeddingController': Injection of autowired dependencies failed; nested exception is org.springframework.beans.factory.BeanCreationException: Could not autowire field: private com.tdg.ess.iris.ml.service.WordEmbeddingService com.tdg.ess.iris.ml.controller.WordEmbeddingController.embeddingService; nested exception is org.springframework.b

[2018-02-27 09:33] AlexDBlack commented on #4724
This issue isn't very useful as-is. You've provided an exception stack trace with no context or explanation.
Furthermore, you also haven't provided any way for us to reproduce this issue or even understand what you are trying to achieve. Can you please provide more information?

[2018-02-27 11:39] maxpumperla commented on #4712
@nlebreton let me know if something else happens ;)

[2018-02-27 11:39] #4712 closed

[2018-02-27 11:52] johanvos opened #4728 "Wrong javadoc for MultiLayerNetwork.gradient"
The Javadoc for MultiLayerNetwork.gradient() says that method will calculate the gradient. From its implementation though, there are no calculations and this method is simply a get method.

[2018-02-27 13:45] blackredscarf opened #4730 "Unsupported keras layer type Lambda (0.9.2-SNAPSHOT)"
I run this code:
[code]
And get this error:
[code]

the Lambda layer in keras2:
[code]
[code]

how can I solve it ? thanks.

[2018-02-27 16:29] Yu-Hang commented on #4693
@saudet

1. In general, where should I go and find out what's the latest version of DL4J artifacts for Android?

2. Where do I download the JAR files?

[2018-02-27 19:02] ntaherkhani opened #4731 "Latest version of DeepLearning4j"
I need to do AutoEncoder using Conv net to detect anomaly . I need UpSampling layer from DeepLearning4j-nn. when do you think you can put jar file of latest version of DeepLearning4j in central repository? Or, from where can I get jar file of snapshot of latest version? Thanks.

[2018-02-27 23:01] Yu-Hang commented on #4693
[code]
I tried this pom file and got jar file for 0.9.2. But I still don't know how to get artifacts using Maven...
@saudet

[2018-02-27 23:06] AlexDBlack opened #4732 "Add gradient check for non-time series output masks"
on a related note to my earlier question: If I put in labels masks for a MultiDataSet where the output isn't a timeseries, can i effectively achieve that there is no change propagated from that specific output for that specific example?

Add gradient check for this situation... it should work, but I don't believe it's formally tested yet.

[2018-02-27 23:55] AlexDBlack commented on #4731
The latest version on maven central (i.e., the last release) was 0.9.1. We will be doing another release as soon as we can - but only when it's ready.

You can find information on using snapshots in your project here: https://deeplearning4j.org/snapshots
Snaphots include upsampling layer (and deconvolutional layers), whereas 0.9.1 does not.

[2018-02-27 23:55] #4731 closed

[2018-02-28 01:55] AlexDBlack commented on #4692
Fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/4725

[2018-02-28 01:55] #4692 closed

[2018-02-28 03:11] #4732 closed

[2018-02-28 03:19] saudet commented on #4693
Just doing the same as explained on https://nd4j.org/getstarted should work. Including this should get you everything:
[code]
And we can use a browser to access the artifacts manually:
https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/

[2018-02-28 06:02] AlexDBlack opened #4735 "Failing model import unit tests"
CPU:
![image](https://user-images.githubusercontent.com/2360237/36772048-c0b323ec-1ca7-11e8-9e92-a501d6a7a3ab.png)

CUDA:
![image](https://user-images.githubusercontent.com/2360237/36772320-e5769fdc-1ca8-11e8-823e-37f9142a85ac.png)

These CUDA failures seem to be due to lapack issues with orthogonal initialization... the following code snippet is sufficient to reproduce the exception:
[code]

[cod

[2018-02-28 07:19] AlexDBlack opened #4736 "Failing model zoo unit tests - CUDA"
CPU: All passing (occasional memory issues aside)

CUDA:
![image](https://user-images.githubusercontent.com/2360237/36774806-9e638744-1cb3-11e8-9fd8-075cf579a555.png)

testImageNetLabels: expected golden retriever, got:
[code]
CPU assigns 0.9751 probability to "golden retriever"
GPU assigns 0.0013 probability to "golden retriever"

Full probablities from each backend: https://gist.github.com/AlexD

[2018-02-28 09:49] AlexDBlack commented on #4736
Looks like a bug in first subsampling layer - I'm getting a bunch of 0s for some of the activations during CUDA forward pass... but not all of them. Before that, activations are pretty close for both backends.

[2018-02-28 09:50] Ngosti2000 opened #4737 "Automatic Augmetatioin of Data in BalancedPathFilter"
Currently the BalancedPathFilter Class removes training examples from classes where there are more examples to match classes where there are less examples to balance the training data.
Proposal is to have an option of also automatically increasing the numbers of training examples for the classes with less training examples  to match the number of the classes with more training examples. This way w

[2018-02-28 10:08] saudet commented on #4465
/cc @AlexDBlack

[2018-02-28 12:10] agibsonccc commented on #4465
@prange so the idea with datavec is you have 1 dsl with several "backends" that basically solves the "training and production are different pipelines" - that comes back to it being persistent. So basiccally what happens now is you have a production pipeline you "load" a Transform process. You save it during training, load it during production and run it on an "executor" which is basically your exe

[2018-02-28 13:42] saudet commented on #4515
FYI, this is now available via the YoloUtils class, so should be clear enough: pull #4531

[2018-02-28 13:42] #4515 closed

[2018-02-28 14:35] maxpumperla commented on #4735
Can confirm that Keras by default uses orthogonal init for recurrent LSTM weights, which is why literally all LSTM imports fail. Apart from that I can easily fix the rest.

[2018-02-28 14:38] maxpumperla commented on #4730
@blackredscarf

[2018-02-28 14:40] Morvs opened #4738 "Keras/DL4J predictions on same model and data differ too much (LSTMs)"
#### Issue Description

A sequential neural network trained in Keras is loaded from a json and a h5 weights file in both Keras and DL4J. The ANN's topology is 12 inputs - LSTM - LSTM - Dense - 1 output. A sequence of 4 time steps with 12 features is used to predict one value. In Keras I only receive one value, in DL4J I receive 4 but only the last one is the one I care about as it is supposed to b

[2018-02-28 14:46] prange commented on #4465
Aha! Now in understand better the intent of DataVec. I guess my target audience is more towards users in environments where spark (et.al) is not needed/wanted. (Although to me the approaches look very similar ) For example, in the case above we read training data from disk, but in production the model is used by a plain webserver (with great success btw), we do not need spark in our environment. W

[2018-02-28 14:53] Morvs commented on #4738
The Zip contains the JSON config and the h5 weights file.

[model.zip](https://github.com/deeplearning4j/deeplearning4j/files/1767501/model.zip)

[2018-02-28 21:57] Yu-Hang commented on #4693
[code]
@saudet
As you can see I'm trying to keep using OpenCV 3.4.0, and add exclude flag for those conflicts... But there seems to be a lot of them.. so I will have to use "opencv 3.4.0-1.4.1-SNAPSHOT"??

[2018-02-28 23:32] AlexDBlack commented on #4737
Closing this - I've moved it to DataVec repo - https://github.com/deeplearning4j/DataVec/issues/516

[2018-02-28 23:41] avanco opened #4740 "Unexpected predictions for one token in CnnSentenceClassificationExample"
#### Issue Description

I had run CnnSentenceClassificationExample, adding just a piece of code to test the model with some sentences. Here the gist marked with BEGIN and END changes: https://gist.github.com/avanco/3ba75ad4fe0c4d0448541addbda98b1b

When trying to predict any sentence with two or more tokens it looks ok, but when input is only one word I had different results for each execution of

[2018-02-28 23:56] #4728 closed

[2018-03-01 01:21] saudet commented on #4693
Replace `deeplearning4j-core` by `deeplearning4j-nn` to reduce the amount of dependencies that it pulls in.

[2018-03-01 01:53] doofin opened #4742 "multi dimensional lstm in dl4j?"
Are there multi dimensional lstm implemented in dl4j for images ? If not , How to  implement them? Should it be implemented using computational graph for dl4j or have to go  lower level to nd4j?

[2018-03-01 02:03] puqugithub opened #4743 "InvalidInputTypeException when loading Keras model"
when loading keras model in deeplearning-core 0.9.2-SNAPSHOT, I am getting the following exception:

org.deeplearning4j.nn.conf.inputs.InvalidInputTypeException: Invalid input: MergeVertex cannot merge activations of different types: first type = FF, input type 2 = RNN.

Detailed java code, java exception and kears model json/hdf5 are as follows:

1. Java code
`ComputationGraph computationGraph =

[2018-03-01 03:02] saudet commented on #4742
There is an RnnToCnnPreProcessor for that. It doesn't do much, but it usually get the job done. There is an example using it here: https://github.com/deeplearning4j/dl4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/recurrent/video/VideoClassificationExample.java

[2018-03-01 03:10] saudet commented on #4740
You're not setting the random seed anywhere, that might have an influence...

[2018-03-01 04:01] AlexDBlack commented on #4742
@saudet no, multi-dimensional RNNs are a different architecture. Different to - and much more complex than the video examples.
https://arxiv.org/pdf/0705.2011.pdf

Do we have them? No - and unfortunately we're unlikely to support them any time soon. They aren't supported in Keras for example either.

As to how you would code them: definitely not at the DL4J computation graph level. Either at the l

[2018-03-01 04:01] #4742 closed

[2018-03-01 04:08] doofin commented on #4742
Wow, so It seems that going as low level as nd4j is unavoidable,then which part of dl4j can be reused ? If I have to only write the forward network and reuse  back-propagation-through-time for lstm then it'd be ok

[2018-03-01 04:29] blackredscarf opened #4744 "Could not read abnormally long HDF5 attribute (0.9.2-SNAPSHOT)"
when I import a keras model,
[code]
throw this error:
[code]

[2018-03-01 06:27] blackredscarf commented on #4730
@maxpumperla
Sorry, I'm not familiar with custom keras layers. How do I get `output_shape` and` arguments` in Lambda? And do I need to write a custom layer to handle it?

This looks a bit cumbersome. Whether or not there is an API like Keras allows me to focus on functions without having to do anything else

[2018-03-01 08:13] doofin commented on #4742
@AlexDBlack  why is this issue closed so abruptly given that  you don't even know how to do it ? A key component of mdLstm  has already been implemented in tensorflow offically (https://www.tensorflow.org/api_guides/python/nn#Connectionist_Temporal_Classification_CTC_) . Your action is pushing users out of dl4j

[2018-03-01 08:28] AlexDBlack opened #4745 "Unit tests: excessive temp directory disk usage"
I'm seeing about 4GB of use for each test run, that remains in the temp directory after each execution.
Most of this is 2 complete copies (1.98gb) of dl4j-test-resources JAR, in directories like datavec_temp<numbers>dir.

It seems unnecessary to (a) completely extract the test resources, and (b) keep it around once the test is complete.

[2018-03-01 09:16] doofin opened #4746 "Connectionist Temporal Classification ?"
#### Contributing

What's the approximate steps of implementing this?

http://www.cs.toronto.edu/~graves/icml_2006.pdf

[2018-03-01 10:35] AlexDBlack commented on #4742
I closed it abruptly because I understand the complexity of what you are asking. I have implemented the majority of DL4J's RNN functionality, so I'm well placed to estimate the complexity of such a layer.

And again, even Keras does not support it.

Note that CTC and multi-dimensional RNNs are very different architectures - they are independent layers.

I'm sorry that you feel that way, but I have

[2018-03-01 11:26] maxpumperla commented on #4730
@blackredscarf yes, you'd need to write a layer for this as it is right now. we plan to support Lambdas in the same fashion as keras does at some point. Right now, we're working on our autodiff module SameDiff in ND4J, which would ultimately take care of the gradients for you, so you "don't have to do anything else".

If you're interested, here's a layer to support import of a custom space to dept

[2018-03-01 13:47] ParZaib opened #4748 "K-Means taking too long"
I am trying thresholding with kmeans. For this i have an double array with 1500 values.
I always need to calculate 2 clusters for 0 +x values out of my double array.
for example :   cluster the first 2 values of my double array, then cluster the first 3 values and then the first 4..... till  end.
All the time i need the centroids of my clustering result.

This is my approach:

[code]
This takes al

[2018-03-01 13:50] doofin commented on #4742
No worry. The CTC is something independent,my mistake.However,I would like to try implement CTC and if try 1d lstm first for handwriting recognition,and depends on the result I might try 2d one . This is for my bachelor graduation  thesis so I got plenty of time and incentive to do so,thank you for providing some directions!

[2018-03-01 14:01] anis016 opened #4749 ""org.bytedeco.javacv.FrameRecorder$Exception: No video output stream" while running ALE.java example"
@saudet

Hello ! I am trying to run ALE.java in org.deeplearning4j.examples.rl4j package .. but, getting this error. Please check the gist !

https://gist.github.com/anis016/6e5a49cc40776a410bb15d7fa0d09bf4

Moreover, please share with me the correct ROM file for "pong.bin".  Getting an warning given below.

Game console created:
  ROM file:  pong.bin
  Cart Name: Video Olympics (1978) (Atari)
  C

[2018-03-01 16:28] avanco commented on #4740
I am not sure if I understand, but I tried to set a seed in NeuralNetConfiguration.Builder(), but the results are still unexpected

[2018-03-01 16:40] Yu-Hang commented on #4693
@saudet
I'm using compile 'org.deeplearning4j:deeplearning4j-nn:0.9.2-SNAPSHOT' instead of -core. And I'm having Error:(22, 32) error: package org.datavec.image.loader does not exist
what should I add as dependencies for "org.datavec.image.loader"?

[2018-03-01 17:49] Yu-Hang commented on #4693
@saudet I switched to "deeplearning4j-nn" and had to add "compile 'org.datavec:datavec-data-image:0.9.2-SNAPSHOT'". But I'm still getting a lot of:

[code]
Who pulls "org.bytedeco.javacpp-presets\opencv\3.4.0-1.4" in??

[2018-03-01 18:50] bigboca5 opened #4750 "Error to update Maven"
Hello.

I have some problems to update the maven reference for my project. To update my project to the last version of DL4J, this return the next error to run mi code:

[code]

The pom file used in this case is the next:

[code]

I read the url returned in the error an another post over this mistake, the solution proposed is add the tag classifier in nd4j reference. I try this, but now a new error

[2018-03-01 20:07] raver119 commented on #4744
Could you please add your .h5 model file as well? Without it it's impossible to tell/do something here.

[2018-03-01 23:39] AlexDBlack commented on #4750
To confirm: you clone and run the examples (without modification) on your system, and get the exact same error? How are you running the examples - just through Eclipse?

For the examples, I can suggest trying the following (which will help us determine if it's a problem with your computer, or just an IDE or similar issue)
[code]
Let us know if that works, or produces the same error.

One final thi

[2018-03-02 04:16] saudet commented on #4693
datavec-data-image does...

[2018-03-02 05:23] AlexDBlack commented on #4724
Closing this due to inactivity. I will re-open if further information is provided.

[2018-03-02 05:23] #4724 closed

[2018-03-02 05:53] AlexDBlack commented on #4740
I can confirm something odd is happening here... it's reproducable on 0.9.1 without even training the network. Most of the time (for single word input) I get p=1 for one of the classes, or I get inconsistent probabilities with different iterations (same input).

[2018-03-02 06:15] AlexDBlack commented on #4740
Thanks for reporting - looks like this may have already been fixed. Not sure exactly which bug we were running into (there's been a bunch of bug fixes since 0.9.1), but it's not reproducable with master.

You can try again with snapshots. https://deeplearning4j.org/snapshots
If you do, I did notice that I needed to switch to ```WordVectorSerializer.readWord2VecModel()```  method for loading the wo

[2018-03-02 06:15] #4740 closed

[2018-03-02 07:52] blackredscarf commented on #4744
@raver119
my h5 model: [model](https://drive.google.com/open?id=1PZ_6Zsy1Vb0s0JmjEmVd8FS99zoMCiN1)

[2018-03-02 10:55] claeyzre opened #4751 "Failed Keras Import using a Multi Inputs/Outputs model from the Keras Functional API."
#### Issue Description
I built a Keras Model using the Keras Functional API. This is a multi Input/Output model inspired from this [publication](https://arxiv.org/pdf/1704.05146.pdf). Basically 8 different Inputs which consist in 4 categorical inputs and 4 textual inputs (indexed sequences).
The textual inputs which consists of sequences of indices, are then fed into 4 different trainable Embeddin

[2018-03-02 11:11] claeyzre commented on #4751
After digging a bit more, the Flatten doesn't seem to work:

4 Convolutions yield me this kind of shape `(16, 64)`, after the MaxPooling with pool size 2the shapes are now `(8, 64)`. Then I use a Flatten to get a vector of dimension `512` for each of the four convolutions. Concatenating those dimensions with the 4 categorical variables yields the correct `2728`. Here the Flatten doesn't seem to wo

[2018-03-02 11:12] blackredscarf opened #4752 "About keras add layer conversion problem"
when I import a keras model, I find that the total parameters more larger than it in keras.

I discover the add layer of keras is converted into MergeVertex.
Add layer operation is [1, 1] + [1, 1] = [1, 1], MergeVertex in DL4j is [1, 1] + [1, 1] = [1, 2],
I think if use `ElementWiseVertex` will be more reasonable.

[2018-03-02 11:39] saudet commented on #4749
That looks like the right bin. What do you get running the sample code on the following page?
https://github.com/bytedeco/javacpp-presets/tree/master/ale#sample-usage

[2018-03-02 12:56] Morvs commented on #4738
The following Zip contains runnable programs with everything needed to create the predictions with both DL4J and Keras. If you run the LoadModel.java from the base directory it should print the predictions from DL4J. If you run "python3 scripts/predict.py" from the base directory you receive the predictions from Keras. I added data to predict with. The last column contains the real value and is no

[2018-03-02 13:54] saudet commented on #4748
Could you give it a try with 0.9.2-SNAPSHOT just to make sure this is still an issue? Thanks!

[2018-03-02 19:38] anis016 commented on #4749
I tried to run, and this is working fine ! I can see the console where the "pong" is played and also I could see the printing of the episodes...
======================================================================
A.L.E: Arcade Learning Environment (version 0.6.0)
[Powered by Stella]
Use -help for help screen.
Warning: couldn't load settings file: ./ale.cfg
Game console created:
  ROM file:  /ho

[2018-03-02 22:53] bigboca5 commented on #4750
Hi @AlexDBlack , Thanks a lot for your response.

I run the example on my system without modification. I have clone and import the examples on eclipse using File -> Import -> Existing Maven Project. To continue I go to org.deeplearning4j.examples.convolution -> LenetMnistExample and click in run. The output obtained is:

[code]

I try your recommendation and the result obtained by `mvn package -Ds

[2018-03-03 02:05] saudet commented on #4693
/cc @jrmerwin I have an idea. Instead of trying to document all these workarounds for Gradle, it might be a better use of time to work on a Gradle plugin that would automatically take care of all these kinds of issues. What do you think? See issue https://github.com/deeplearning4j/deeplearning4j/issues/4566#issuecomment-361501831

Because the Gradle team don't seem too interested in fixing this th

[2018-03-03 02:10] saudet commented on #4749
Ok, good!

There's been a couple of things fixed since DL4J 0.9.1 though, so could you try with 0.9.2-SNAPSHOT and let me know if this still happens? Thanks!

[2018-03-03 07:08] crockpotveggies opened #4753 "Document things"
#### Issue Description

A long time ago a plan was put together to document things. Today, this shall come to reality.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j master

#### Contributing

- King Arthur

[2018-03-03 08:01] agibsonccc commented on #4753
If you're King Arthur, I'm Mordred. I'm closing this :).

[2018-03-03 08:01] #4753 closed

[2018-03-03 08:06] crockpotveggies commented on #4753
Hmm looks like I didn't set up closing automation.

[2018-03-03 12:52] lechatthecat commented on #3105
#3129 says it's done implementing keras2 support but I still get this error.

[2018-03-03 18:42] jrmerwin commented on #4693
I think that is a great idea @saudet. I'll look into a plugin solution.

[2018-03-03 21:12] jituumakanta opened #4754 "failed to load the googlenews mode in deeplearning4j"
public static void main(String[] args) throws Exception {

        File gModel = new File("D:/tutorials/mechine learning/GoogleNews-vectors-negative300.bin/GoogleNews-vectors-negative300.bin");
        Word2Vec word2Vec1=WordVectorSerializer.loadGoogleModel(gModel,true);
        //String filePath1 = new ClassPathResource("googlenews.txt").getFile().getAbsolutePath();
        //Word2Vec word2Vec =

[2018-03-04 08:51] saudet commented on #4750
It says

So you'll need to remove that file and then it should be fine.

[2018-03-04 08:52] #4750 closed

[2018-03-04 08:57] saudet commented on #4748
https://deeplearning4j.org/snapshots

[2018-03-04 09:09] saudet commented on #4754
Increase memory available to Java either with the -Xmx command line option
or any other means.

[2018-03-04 09:10] #4754 closed

[2018-03-04 12:07] rafmontano commented on #4311
Hi All,

I have been running the program with OMP_NUM_THREADS=1 and it works excellent, however the CPU capacity never pass 100% (obviously), and the machine has more capacity... :-(

I though if I change the "BLAS vendor", may be this could solve the problem or I can gain additional performance.

I installed the Intel MKL libraries, and despite my sincere efforts trying to validate I am using the

[2018-03-04 14:29] saudet commented on #4311
Try to use 0.9.2-SNAPSHOT. There has been some enhancements and fixes required by newer versions of MKL.

[2018-03-04 17:10] bigboca5 commented on #4750
Hi @saudet

I remove the file and run fine. Now also run fine on Eclipse.

Thanks.
Mario Rivas.

[2018-03-05 05:07] AlexDBlack commented on #4735
FYI I've re-run these tests on CUDA 9.1 (Linux GTX 970) on this PR and the orthogonal init ones now pass:
https://github.com/deeplearning4j/nd4j/pull/2692

[2018-03-05 06:31] shaulz commented on #3568
Hi @daanvdn !

Can you please share the final code you have arrived in?

Thanks,
    Shaul

[2018-03-05 07:43] ParZaib commented on #4748
now my INDArray is giving me an

at machine.learning.kmeans.KmeansSetup.main(KmeansSetup.java:47)
Caused by: java.lang.RuntimeException: java.lang.ClassNotFoundException:
at org.nd4j.linalg.factory.Nd4j.initWithBackend(Nd4j.java:6425)
at org.nd4j.linalg.factory.Nd4j.initContext(Nd4j.java:6293)
at org.nd4j.linalg.factory.Nd4j.<clinit>(Nd4j.java:206)
... 1 more
Caused by: java.lang.ClassNotFoundExce

[2018-03-05 07:50] doofin commented on #2746
+1

[2018-03-05 07:51] #2746 closed

[2018-03-05 07:51] agibsonccc commented on #2746
We won't be doing this. Use samediff/TF import when it comes out.

[2018-03-05 07:51] doofin commented on #4746
https://github.com/deeplearning4j/deeplearning4j/issues/2746

[2018-03-05 07:54] prange opened #4755 "Dead link to DeepWalk documentation"
FYI:

On the page https://deeplearning4j.org/word2vec.html there is a link to DeepWalk
( https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-scaleout/deeplearning4j-graph/src/main/java/org/deeplearning4j/graph/models/deepwalk/DeepWalk.java )

-which yields a 404

[2018-03-05 07:54] doofin commented on #2746
Would you like to provide more information about samediff in dl4j ? I can barely get anything about it

[2018-03-05 09:35] agibsonccc commented on #2746
@doofin it will be in the next release, stay tuned! Come in the gitter channel if you have any other questions.

[2018-03-05 10:28] blackredscarf commented on #4744
@raver119
Do you find the reason?

[2018-03-05 11:22] blackredscarf opened #4756 "DL4J and Keras predictions differ (Conv2D)"
I have a network in keras, and I implement it in DL4j.
I try to use `layer.setParam` import the weights from keras for each layer,but the predictions is very different in same data.

I check the weights and summary, it is no problem. I guess maybe some layers is error.

So I use `model.feedForward(data, false).get(layer)` to print the output of each layer, and compared with keras. I went looking f

[2018-03-05 11:28] blackredscarf commented on #4738
I get the similar problem. [#4756](https://github.com/deeplearning4j/deeplearning4j/issues/4756)

[2018-03-05 14:52] saudet commented on #4748
We've been having issues with snapshots today. Please try the same thing again tomorrow. Thanks!!

[2018-03-05 14:53] rawkintrevo opened #4757 "Website version info for cuDNN"
#### Issue Description

[https://deeplearning4j.org/cudnn](https://deeplearning4j.org/cudnn) states:
`Note that only cuDNN 6.0 is supported.` however, [cuDNN](http://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html) only supports CUDA 0.9.1 starting in version 7.0.5.

Supposing that this actually works- the website should be updated to something like:
`Note that only cuDNN 6.0+ is support

[2018-03-05 14:55] saudet commented on #4757
Sure it is, check the `gh-pages` branch.

[2018-03-05 15:16] Yu-Hang commented on #4693
@jrmerwin Great! Please keep me posted with this plugin solution. Thanks in advance.

[2018-03-05 16:28] tkocmathla commented on #4502
@maxpumperla I also get this error when importing a Keras model that goes Conv1D -> MaxPooling1D -> BatchNormalization. The error message is identical to @ron212's except for the dimensionality.

I noticed you fixed the related issue #4466 -- is there a similar fix that can be applied here? If there's anything more I can provide to help, let me know.

[2018-03-05 19:59] Davidovic opened #4759 "Possible inconsistency in the calculation of evaluation scores"
#### Issue Description

I originally created this issue 7 days ago, but since part of the questions I then asked are now clear, I rewrote it. This should be OK I guess, as there are no comments yet.

What remains unclear to me is the calculation of the F1 score.

When the classification problem consists of 2 classes, the _eval.precision()_ and _eval.recall()_ functions return averages of the calcu

[2018-03-05 20:54] crockpotveggies commented on #4757
Thanks for bringing this to our attention. Like @saudet said, our docs are located at `gh-pages` and cudnn is here: https://github.com/deeplearning4j/deeplearning4j/blob/gh-pages/cudnn.md

Please feel free to hit the edit button and submit a pull request and I'll happily get it mergred.

[2018-03-05 21:29] turambar commented on #4757
@rawkintrevo let us know if you need any further assistance with the edit! We are awaiting your PR with bated breath.

[2018-03-05 23:05] AlexDBlack opened #4760 "Add support for frozen output layer"
Moved from: https://github.com/deeplearning4j/nd4j/issues/2706 - cc @ionspin

#### Issue Description

[code]

#### Version Information

* Deeplearning4j 0.9.2-SNAPSHOT

#### Contributing

I'd like to help out with this issue, but would definitely need some guidance

[2018-03-05 23:07] AlexDBlack commented on #4760
OK, so the starting point here would be to simply remove that exception and add some unit tests - I'm not sure if it'll work fine or not TBH. The exception was more of a design decision - at the time we didn't think of a legitimate use case that involved freezing the output layer. In most cases it still doesn't make sense, but there are exceptions.

[2018-03-05 23:17] AlexDBlack commented on #4756
Can you also post information about your hardware, and which backend (native, cuda, cuda+cudnn etc) you are using?

[2018-03-06 00:15] rafmontano commented on #4311
I am new on this and learning on my own, thanks for your patient, support and understanding.

I still have problems trying to use Intel MKL BLAS instead of OpenBlas.

On the Native CPU Optimization on Deeplearning4j & ND4J

https://deeplearning4j.org/native

In the section: " Intel MKL" one can read:

 _"… there's an option to use the first-class high-performance Intel MKL library together with ND

[2018-03-06 01:25] ChangbingChen commented on #4751
hi, which keras version do you use? 1.x.x or 2.x.x

[2018-03-06 02:08] AlexDBlack commented on #4735
This is now merged: https://github.com/deeplearning4j/nd4j/pull/2692
The CUDA orthogonal issues are now fixed. As for the other 2 tests - they are still failing.

[2018-03-06 04:26] AlexDBlack opened #4761 "Windows - CUDA gradient check failures"
Test platform: Windows, CUDA 9.0
Edit: Windows CUDA 9.1 fails with exact same symptoms.
Fails when run through intellij or maven

These tests fail on CUDA when all CNNGradientCheckTests are run, but pass:
(a) On CPU
(b) When run in isolation (i.e., one test at a time)
(c) on Linux, CUDA 9.1 (Kubuntu 17.10, GTX 970s)

![image](https://user-images.githubusercontent.com/2360237/37014124-9b42dfd0-2152

[2018-03-06 06:17] saudet commented on #4311
If you do it that way, you'll need to run IntelliJ from the terminal, right after mklvars.sh.

[2018-03-06 06:34] maxpumperla commented on #4735
true, the yolo one needs to be ignored. will do. what is the other one? Have no cuda right now.

[2018-03-06 09:11] jozefmorvay opened #4762 "How to: multi-class multi-label image classification"
As the subject suggests, I am trying to create a multi-class multi-label image classification solution. I have successfully done this in Keras, now I am in the process of migrating it to DL4j. I have run into several problems that I would to get some help with, as it would certainly speed things up for me and the documentation is frustratingly insufficient.

I have three problems, and perhaps each

[2018-03-06 09:32] blackredscarf commented on #4756
@AlexDBlack
Intel CPU
backend: native

[2018-03-06 10:25] rafmontano commented on #4311
Thanks for your prompt answer,  I am new on this, Is it any other way? that probably be more convenient?

[2018-03-06 12:29] claeyzre commented on #4751
2.x.x

[2018-03-06 14:28] tkocmathla commented on #4502
I was able to reproduce this with a minimal test case:
[code]

Then, in Clojure:
[code]

The exception thrown says:
[code]

[2018-03-06 14:39] maxpumperla commented on #4502
@ron212 @tkocmathla  thanks, the root cause for this is not an import problem but rather that DL4J  batch norm does simply not support this right now. I'll try to make this happen, but it's a little intricate. not sure I can squeeze this in before the new release. we'll see.

[2018-03-06 14:52] tkocmathla commented on #4502
What's odd (to me) is that I can build a similar architecture directly in DL4J (Conv1D -> BatchNorm). I'm brand new to DL4J, so this may not be a sufficient example, but on the surface it seems like the connections are the same here, and it "works":

[code]

[2018-03-06 15:52] rawkintrevo commented on #4757
hey there- wanted to test before I posted to website.  I'm not convinced this is true.  Spent the day messing with it- I can get CUDA-8.0+cuDNN-6.0 to work, CUDA-8.0+cuDNN-7.1 would _not_ work.  I think the 6.0 might be hardcoded in somewhere, but it was throwing an error, which I didn't write down, something similar to this https://github.com/deeplearning4j/deeplearning4j/issues/2879

At anyrate-

[2018-03-07 00:27] AlexDBlack commented on #4735
As per the original issue: the two I'm seeing failing are:
KerasYolo9000Test.testCustomLayerYoloImport
KerasWeightSettingTest.testSimpleLayersWithWeights

Both of these are failing on CPU *and* CUDA

[2018-03-07 00:36] AlexDBlack commented on #4757
NVIDIA releases versions of CUDNN for different CUDA versions... AFAIK any of the compatible versions should work - cc @saudet can you confirm?

https://developer.nvidia.com/rdp/cudnn-download
![image](https://user-images.githubusercontent.com/2360237/37066907-81c9cab0-21fb-11e8-88ea-f820ad7caac3.png)

And then there's the archived releases: https://developer.nvidia.com/rdp/cudnn-archive
![image](

[2018-03-07 01:18] RuralHunter opened #4763 "Lack of documentation for global/local override behaviour for MultiLayerConfiguration"
#### Issue Description

When building the MultiLayerConfiguration, some methods such as .weightInit(...) .activation(...) are actually setting defaults for all the layers. But this is not documented anywhere one can easily find(at least I can not find it), also with the default values if they are not called.

I suggest document it in javadoc since it's the first place I would look at. Of coz anywh

[2018-03-07 01:49] saudet commented on #4311
Including the latest version of `openblas-platform` in your dependencies should do the trick:
http://search.maven.org/#search%7Cga%7C1%7Copenblas-platform

[2018-03-07 02:08] kevin6982 opened #4764 "EXCEPTION_ACCESS_VIOLATION on libnd4jcpu.dll+0x1993c1"
[hs_err_pid6468.log](https://github.com/deeplearning4j/deeplearning4j/files/1787480/hs_err_pid6468.log)

Here is the code:
`		while(it.hasNext()) {
			Map.Entry<String, String> idDataPair = it.next();
			String key = idDataPair.getKey();
			CnnGenerationTestResult cnnGenerationTestResult = new CnnGenerationTestResult();
			cnnGenerationTestResult.setDataId(Integer.valueOf(key));
			cnnGenerationTe

[2018-03-07 02:19] saudet commented on #4757
No, I haven't update the wrappers for CUDA 8.0 and cuDNN 7. Any reason for now using CUDA 9?

[2018-03-07 02:23] saudet commented on #4764
Could you try with 0.9.2-SNAPSHOT to confirm that this is still happening? Thanks!

[2018-03-07 02:32] rawkintrevo commented on #4757
For me CUDA 9 + cuDNN 7.0 wasn't working, however i was having issues with SNAPSHOT, so it could have been spurious/unrelated.

CUDA 8.0 + cuDNN 7.1 also wasn't working- which is why I've decided to stand down on updating page.

CUDA 8.0 + cuDNN 6.0 _is_ working on my machine.

[2018-03-07 02:37] saudet commented on #4757
Ok, please file issues you're having with 0.9.2-SNAPSHOT and CUDA 9!

[2018-03-07 06:55] gogo111007 opened #4766 "KMeansClustering cause thread leak"
#### Issue Description

i use KMeansClustering like KMeansTest.java
every client request, i get new kmeans object by KMeansClustering.setup()
but there is no way to destroy threads allocate by KMeansClustering
after thousands or more request, too many threads cause crash

#### Version Information

* deeplearning4j ver newest
* windows 7 and centos 6.x

[2018-03-07 07:34] kevin6982 commented on #4764
Sorry I am quite new here. I got the 0.9.1 version from maven. I cannot found the version 0.9.2-SNAPSHOT there. Do you mean I should build it from git? Thanks.

[2018-03-07 11:03] AlexDBlack opened #4769 "HDF5 JVM Crash (Windows?)"
Reproducable on Windows... I haven't checked Linux yet. Also not sure if other tests will produce this if run similarly.

This test will crash the JVM occasionally:
https://github.com/deeplearning4j/deeplearning4j/blob/9960626658cd9b54c261e2cd31e0ccb56aa2c2db/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/e2e/KerasModelEndToEndTest.java#L249-L252

I can make it co

[2018-03-07 12:18] romass12 opened #4770 "Not yet implemented InMemoryLookupTable.plotVocab"
#### Issue Description
I am using TSNE for plotting vocabulary table for my word2vec model.
But , I used the below code for visualisation
       UIServer server = UIServer.getInstance();
        StatsStorage statsStorage = new InMemoryStatsStorage();
        server.attach(statsStorage);
        BarnesHutTsne tsne = new BarnesHutTsne.Builder()
                .setMaxIter(1000)
                .stop

[2018-03-07 13:37] agibsonccc commented on #4770
We don't support old versions. 0.9.1 has been out for 6 months now. The 1.0 is coming soon. Please at least try recent versions first.

[2018-03-07 13:37] #4770 closed

[2018-03-07 13:48] romass12 commented on #4770
Thank u and sorry

[2018-03-08 02:01] crockpotveggies opened #4771 "Test Migration"
#### Issue Description

This issue should be auto-migrated to the new docs repo.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Contributing

If you'd like to help us fix the issue by contributing some code, but would
like guidance or he

[2018-03-08 05:26] AlexDBlack commented on #4735
OK, after one small PR/fix it's now all passing.
Oddly enough, it was already all passing when run through maven.

[2018-03-08 05:26] #4735 closed

[2018-03-08 08:09] AlexDBlack opened #4774 "WordVectorSerializer.loadStaticModel - can't load Google vectors"
https://github.com/deeplearning4j/dl4j-examples/blob/4612c2220a564ca92e4b6231738d3def5e711a90/dl4j-examples/src/main/java/org/deeplearning4j/examples/convolution/sentenceclassification/CnnSentenceClassificationExample.java#L122

[code]

Only recent changes to WordVectorSerializer were here:
https://github.com/deeplearning4j/deeplearning4j/pull/4680

[2018-03-08 09:54] AlexDBlack commented on #4774
Cause: Bad PR - https://github.com/deeplearning4j/deeplearning4j/pull/4491

[2018-03-08 10:05] #4774 closed

[2018-03-08 10:59] AlexDBlack opened #4776 "CPU - sgemm deadlock?"
Running snapshots (latest DL4J master) on this branch of examples: https://github.com/deeplearning4j/dl4j-examples/pull/589
Specifically GravesLSTMCharModellingExample

System: Windows 10 with MKL.

Output gets to here and just stops...
[code]

YourKit profiler picks this up as a deadlock:
![image](https://user-images.githubusercontent.com/2360237/37147696-e3351e5a-231b-11e8-9455-540ec63e681a.png)

[2018-03-08 13:51] anis016 commented on #4749
Hello @saudet  !
It took a while to build everything from scratch...

1. I built in this way for 0.9.2-SNAPSHOT: https://gist.github.com/anis016/0f9c759e57dd641cd18e67516475dbed

2. I created a new module "rl4jexample" in the "rl4j" and copied the ALE.java in here. Pom: https://gist.github.com/anis016/f70e5a3e61d2c7ba38f72fe602d0957e

3. The error: https://gist.github.com/anis016/81c216265526a7fea

[2018-03-08 15:00] GYXie commented on #3261
The `output_dim` was changed to `units` after version 2.0.0. Ref:https://github.com/keras-team/keras/releases?after=2.0.6

[2018-03-08 15:39] #4771 closed

[2018-03-08 15:41] crockpotveggies opened #4777 "Test Docs Migration"
#### Issue Description

This issue should automatically be migrated to the new docs repository.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Contributing

If you'd like to help us fix the issue by contributing some code, but would
like

[2018-03-08 16:21] maxpumperla commented on #3261
@GYXie that's reflected in Keras import code already.

[2018-03-08 16:38] crockpotveggies commented on #4777
This did not work. Closing and opening a new one.

[2018-03-08 16:38] #4777 closed

[2018-03-08 16:38] crockpotveggies opened #4778 "Test Docs Migration"
#### Issue Description

This issue should automatically be migrated to the new docs repository.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Contributing

If you'd like to help us fix the issue by contributing some code, but would
like

[2018-03-08 16:53] crockpotveggies commented on #4778
Thanks for submitting this issue. We've migrated our docs to its own separate repository at [deeplearning4j-docs](https://github.com/deeplearning4j/deeplearning4j-docs). I've already migrated your issue and you can find it at https://github.com/deeplearning4j/deeplearning4j-docs/issues/3.

I'll be closing this, but feel free to comment and re-open if this is not what you intended.

*This was an au

[2018-03-08 16:53] #4778 closed

[2018-03-08 18:49] raver119 commented on #4776
cc @saudet

[2018-03-08 19:02] raver119 commented on #4502
Our new batchnorm available in libnd4j should support 3D inputs i think.

[2018-03-09 00:36] melanietosik commented on #4596
I'm new to DL4J and currently working with a recent clone of the [dl4j-examples](https://github.com/deeplearning4j/dl4j-examples) repo, where I ran into this issue as well. It looks like this should be fixed now, but hasn't been released yet (last release was December 8, 2017). Is there a workaround for this until the latest fixes do get released?

For example, is there a way to run t-SNE, write t

[2018-03-09 00:37] AlexDBlack commented on #4596
As far as I know - the only workaround is to use our snapshot builds - see this page for details: https://deeplearning4j.org/snapshots

[2018-03-09 00:51] melanietosik commented on #4596
Great, thank you! Any chance you could you clarify where exactly I need to specify the snapshot version in the `pom.xml` file? I added the `<repositories></repositories>` snippet and tried to bump the `<version>` at the beginning of the file but that didn't seem to work.

[2018-03-09 01:42] AlexDBlack commented on #4596
It's the versions for all dependencies - DL4J, ND4J, DataVec etc.
Feel free to go here and post your pom.xml (in a gist - gist.github.com) if you can't work it out - https://gitter.im/deeplearning4j/deeplearning4j

[2018-03-09 03:29] saudet commented on #4776
MKL? @agibsonccc has been having problems with it recently too. Does this happen when setting "org.bytedeco.javacpp.openblas.nomkl" to "true" (and making sure OpenBLAS gets used there)?

[2018-03-09 03:54] AlexDBlack commented on #4776
Confirmed - it runs fine with nomkl...
I'm currently running with MKL 2017.0.109 - Windows, obviously.

[code]

[2018-03-09 04:34] AlexDBlack commented on #4776
Yeah, 0.9.1 (examples master) + the same MKL works fine:
[code]

[2018-03-09 04:38] saudet commented on #4749
Actually, I'm unable to reproduce this issue. "crf" is a float value, and setting something like "10.5" works just fine on my machine. Could you try to run the following test and let me know what happens?
https://github.com/bytedeco/javacv/blob/master/platform/src/test/java/org/bytedeco/javacv/FrameGrabberTest.java#L266

[2018-03-09 05:14] melanietosik opened #4779 "t-SNE word labels not showing in UI"
I'm trying to render a .csv file generated like this:

[code]

When I upload the .csv to the UI server, the output looks like this (no word labels): https://i.imgur.com/BEi3kb7.png

The .csv file I'm trying to render looks like this (mostly dummy data/values): https://gist.github.com/melanietosik/a76d04c25ce8c7d946b47ececcfa8ce1

For reference, my `pom.xml` is here: https://gist.github.com/melanie

[2018-03-09 06:21] AlexDBlack commented on #4776
And I can confirm that it occurs for both a local build, as well as when using (sonatype) snapshots...

[2018-03-09 08:23] AlexDBlack commented on #4776
So far: I've isolated it to 1 situation that deadlocks, and 3 that should be equivalent/identical that don't deadlock...

[code]

[2018-03-09 08:35] saudet commented on #4776
This really sounds like issues with threading. I know OpenBLAS doesn't work well with OpenMP, so I'm building it without and using it's pthreads support instead. We can do the same with MKL:
https://software.intel.com/en-us/mkl-windows-developer-guide-calling-intel-mkl-functions-from-multi-threaded-applications
Maybe one of those work better...

[2018-03-09 08:39] saudet commented on #4776
Specifically, we can set MKL_THREADING_LAYER to "GNU" (Linux only?), "INTEL", "PGI", "TBB", or "SEQUENTIAL".

[2018-03-09 08:43] AlexDBlack commented on #4776
Well, *maybe* it's threading related. But why does it work totally fine for all subsequent calls - and not the first one? If it was threading related, shouldn't it happen all the time?

[2018-03-09 09:38] zonglinyue opened #4780 "why must label and input time series are of equal length"
#### Issue Description
    why must label and input time series are of equal length,the SequenceRecordReaderDataSetIterator class in package org.deeplearning4j.datasets.datavec give three option： EQUAL_LENGTH, ALIGN_START, ALIGN_END for AlignmentMode.
  I'm using the example MultiTimestepRegressionExample in package org.deeplearning4j.examples.recurrent.regression,the  input length is 20 and lable

[2018-03-09 10:28] AlexDBlack commented on #4776
Looks like it's legitimately bad args (well, single bad *arg*)... fix incoming...

[2018-03-09 13:59] saudet commented on #4780
Please try again with 0.9.1, and if that still does not work, please ask your questions on Gitter at https://gitter.im/deeplearning4j/deeplearning4j. Thank you!

[2018-03-09 13:59] #4780 closed

[2018-03-09 19:21] jentfoo commented on #4766
I recently stumbled across this too.  The issue is in `BaseClusteringAlgorithm`.  It constructs an `ExecutorService` but provides no way to free it.

https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-nearestneighbors-parent/nearestneighbor-core/src/main/java/org/deeplearning4j/clustering/algorithm/BaseClusteringAlgorithm.java#L70

I would be happy to help provide a PR to

[2018-03-09 19:28] jentfoo opened #4781 "Improper handling of InterruptedExecption"
I noticed in `MultiThreadUtils` that you are catching an InterruptedException but not reseting the status.

https://github.com/deeplearning4j/deeplearning4j/blob/ec2ed9e71f82ccce1c4f16dba9f339c0b61a27f9/deeplearning4j-nearestneighbors-parent/nearestneighbor-core/src/main/java/org/deeplearning4j/clustering/util/MultiThreadUtils.java#L69

By catching the exception the status is cleared, you should r

[2018-03-09 20:25] crapufish commented on #4167
Did you come across any explanation regarding the random-like behaviour?

[2018-03-09 21:45] wanjizheng commented on #4167
Nope.

[2018-03-09 21:51] jentfoo commented on #4766
I guess after looking at `ExecutorServiceProvider` maybe the original intention was to set `instance` (which currently goes unused) and reuse that instance.

[2018-03-09 22:57] AlexDBlack commented on #4736
Confirmed fixed here: https://github.com/deeplearning4j/libnd4j/pull/818

[2018-03-09 22:57] #4736 closed

[2018-03-09 23:02] rafmontano commented on #4311
Hi Samuel,

Thanks for helping me!.  :-)

I changed included the dependencies, and did a maven clean install ("mvn clean install"), reimported the project and the results are mixed. I am confused.

Let me explain:
1. Intellij reports is using now, what I believe is the open-blas-platform:
"o.n.l.a.o.e.DefaultOpExecutioner - Blas vendor: [UNKNOWN]"

2. However when the also reports the same Informa

[2018-03-10 01:00] saudet commented on #4781
Sounds good! Could you send a pull request to fix this?

[2018-03-10 01:05] saudet commented on #4766
@jentfoo Thanks for the input! Using threadly looks like a good technical solution, but I think the Mozilla license is a problem, @agibsonccc ?

[2018-03-10 01:15] saudet commented on #4311
I've fixed a few more things since the last release. Could you try again with openblas-platform version 0.2.20-1.4.1-SNAPSHOT? Thanks!

[2018-03-10 04:02] AlexDBlack commented on #4776
OK, so I was wrong. The arg issue was legitimate - but is *not* the cause of this deadlock.
However, the problem is stochastic (occurs sometimes, but not others - which is why I had *thought* I had fixed it...)

Anyway, this feels a lot like a race condition (probably with native library loading, somehow). Notably, the following Thread.sleep(500) on the first gemm call only is sufficient to fix it

[2018-03-10 05:01] saudet commented on #4776
Did you also set the "org.bytedeco.javacpp.logger" system property to "slf4j"? We can get more information about what's happening with JavaCPP's loader that way.

[2018-03-10 05:22] AlexDBlack commented on #4776
Logs - for both deadlock and no-deadlock (with sleep):
https://gist.github.com/AlexDBlack/517569d9eb611f1efebfe5362b76a59b

[2018-03-10 05:35] saudet commented on #4776
Thanks! The only difference I can see between the 2 is that the deadlock one runs from an empty `~/.javacpp/cache`, while the OK one isn't extracting or copying anything..

[2018-03-11 06:13] rafmontano commented on #4311
Hi Samuel, Thanks for keep trying.

Results continue mixed.
1. Intellij is reporting MKL BLAS
o.n.l.a.o.e.DefaultOpExecutioner - Blas vendor: [MKL]

2. However also reports the same Information as before on the OPENMP environment
OPENMP DISPLAY ENVIRONMENT BEGIN
_OPENMP = '201307'
Not sure why?

3. In terms of performance, We continue to have the same experience as before
OMP_NUM_THREADS = '1', al

[2018-03-11 13:46] saudet commented on #4311
Ok, so the issue isn't with OpenBLAS. Like I mentioned previously, please try deeplearning4j 0.9.2-SNAPSHOT!

[2018-03-11 18:07] ghost opened #4783 "Model serving topic page"
#### Issue Description

At the url https://deeplearning4j.org/modelserver is blank page. Thought there should be someting about model serving topic.

* Ubuntu 16.04
* Firefox, Chromium

[2018-03-12 01:44] saudet opened #4784 "YOLO2 takes too much memory, cannot train on GPU"
#### Issue Description

When training with YOLO2 on GPU, device memory fills up and then it gives up with the log below on that test in deeplearning4j-zoo. On CPU it takes 34 GB of RAM. By comparison, TinyYOLO takes about 6 GB of GPU RAM and runs with 6 GB on CPU. AFAIK, there are no GPUs with 34 GB of RAM...

[code]

After 3 calls to `fit()` on CPU, we get the following output from  `Nd4j.getWork

[2018-03-12 02:07] melanietosik opened #4785 "Suspected bug in Barnes-Hut-SNE implementation"
I recently tried to visualize some _word2vec_ embeddings and got [pretty terrible results](https://i.imgur.com/IzuN6kc.png) using the default [_BarnesHutTsne_](https://deeplearning4j.org/doc/org/deeplearning4j/plot/BarnesHutTsne.html) implementation. Performance was poor across multiple different parameter settings, so optimization there didn't really help. I'm not 100% sure where the problem is o

[2018-03-12 02:14] melanietosik opened #4786 "word2vec visualization docs are outdated"
Since _BarnesHutTsne_ is now the default t-SNE implementation, the docs around visualizing word embeddings are outdated (see https://deeplearning4j.org/word2vec#setup). Specifically, `vec.lookupTable().plotVocab(tsne)` will not work anymore.

The current solution is to run `tsne.fit()` to fit the model weights and save the results with `tsne.saveAsFile()`. Then the results can be uploaded to the U

[2018-03-12 02:50] zonglinyue opened #4787 "why must label and input time series are of equal length"
#### Issue Description
    why must label and input time series are of equal length,the SequenceRecordReaderDataSetIterator class in package org.deeplearning4j.datasets.datavec give three option： EQUAL_LENGTH, ALIGN_START, ALIGN_END for AlignmentMode.
  I'm using the example MultiTimestepRegressionExample in package org.deeplearning4j.examples.recurrent.regression,the  input length is 20 and lable

[2018-03-12 09:01] turgaybatbat opened #4788 "MKL dlls with Anaconda"
#### Issue Description
dl4j causes MKL dll error when anaconda(python environment) installed in system. Anaconda is installing mkl dlls automatically but dl4j can't use that dlls correctly.

#### Version Information

Windows 10 Pro Intel i7 7700

#### Contributing

May be system path added with anaconda (mkl dlls in ProgramData folder) can excluded from search.

[2018-03-12 09:49] treo commented on #4787
Multiple Points here:
1. Version 0.8 is outdated, you should use 0.9.1
2. The basic RNN outputs at every single timestep. So you have to tell DL4J that you aren't interested in this intermediate results. That is what that kind of masking achieves.  There are multiple other ways of getting only a single result from an RNN, either by using a ComputationGraph with a LastTimestepVertex before your out

[2018-03-12 11:30] rafmontano commented on #4311
Hi Samuel, I am getting too many compiling errors... using 0.9.2-SNAPSHOT, i will get back to you... this may take a while..

[2018-03-12 13:05] turgaybatbat opened #4789 "MKL Error"
#### Issue Description

mkl dll error has shown in usage in anaconda installed computer.

#### Version Information

windows 10 i7 7700

#### Contributing

I have to uninstall anaconda to run dl4j, maybe anaconda path can exclude from search path (programdata folder in windows)

[2018-03-12 13:13] zonglinyue commented on #4787
Thanks for you answer.I just find the document of dl4j. I'm a newbee in ml,and has tried LSTM on tf, it's just need  be given input and output,so...

[2018-03-12 13:13] #4787 closed

[2018-03-12 14:09] alexpalman opened #4790 "ResNet50 model from model zoo possibly has minor issues"
#### Issue Description

The ResNet50 model from the DL4J model zoo lacks a flatten/reshape layer before the final output layer (which is already marked as a "TODO"). DL4J performs the flatten operation automatically as it seems, but I'm unsure whether it does the right thing. Furthermore, the pooling layer before the output layer should perform an avg-pool operation instead of a max-pool one.
Also

[2018-03-12 15:15] agibsonccc commented on #4766
We follow apache legal guidelines: https://www.apache.org/legal/resolved.html It doesn't appear to conflict with the EPL, I'd be ok with this in that case.

[2018-03-12 16:21] emmx opened #4791 "NaN Panic with UI"
There's a bug in the UI stats it seems, I'm getting a NaN panic as shown below. The line in my code is network.train(datasetIterator).

DL4j and ND4j version 0.9.1, Cuda 8.0, OS Debian

[code]

[2018-03-12 23:35] AlexDBlack opened #4792 "MNIST downloader *still* doesn't reliably handle download errors"
Even with multiple passes on it, MNIST downloader *still* manages to not automatically handle download issues :/

Here's output (test failure) from most recent run of MnistFetcherTest.testMnistDataFetcher - master versions of codebase all round:
[code]

[2018-03-13 00:50] StephenHogg opened #4793 "No supported mechanism for densely connecting the output of an LSTM-generated sequence"
#### Issue Description

At present, there is no non-hack way to run the output of an LSTM into a dense layer - that is, an architecture such as LSTM -> dense -> pool -> out

The current work-around for this as suggested by @AlexDBlack is:

"Alex Black @AlexDBlack 10:56
workaround should be to manually add a FeedForwardToRnnPreprocessor on the global pooling layer
you can still use setInputType in

[2018-03-13 01:24] AlexDBlack commented on #4791
Hm, I'm not inclined to call this a bug per-se - NaN panic is *not* enabled by default. It's something you must be enabling yourself manually. And if it's not enabled, things should run fine.

That said, it might be worth looking into more. But I have no way of reproducing this based on the information provided - can you provide more information? What's the network configuration and data being use

[2018-03-13 01:28] AlexDBlack commented on #4789
Closing - duplicate of https://github.com/deeplearning4j/deeplearning4j/issues/4788

[2018-03-13 01:28] #4789 closed

[2018-03-13 01:30] AlexDBlack commented on #4788
@turgaybatbat can you please provide the following:
(a) the full error/exception stack trace that you are getting
(b) the version of DL4J (and ND4J etc) that you are using

@saudet this is something I think we've seen a few times before... any idea (a) why the Anaconda MKL DLLs are problematic compared to the "real" ones (via a manual install), and (b) if there's a quick and easy solution here lik

[2018-03-13 01:49] AlexDBlack commented on #4776
Some additional details (partly from gitter)

so in the deadlock one - the text "copy" and "extract" don't appear anywhere
in both the successful and deadlock cases - we have lots of this sort of thing, which looks suspicious...
[code]

-----
-----

Below: side by side comparison of the logs: successful (left) vs. deadlock (right)
that's the only thing that stands out as different (addresses/point

[2018-03-13 03:57] #4792 closed

[2018-03-13 05:45] AlexDBlack commented on #4761
Update here: this is still occuring on Windows, still passing consistently on Linux.
As an additional experiment, I've run testCnnSamePaddingModeStrided (so far) 84 times in a loop without any issues at all. :/

[2018-03-13 05:46] saudet commented on #4788
That's most likely fixed. Please try again with 0.9.2-SNAPSHOT.

[2018-03-13 07:04] AlexDBlack commented on #4784
Looking at this for input size 608x608:

Parameters length: 50,983,561
Activations length, 1 example: 110,651,554

Parameters length (bytes): 194.49 M
Activations length (bytes): 422.10 M

Minimum memory requirements, inference, FP32 (returning *all* activations):
Fixed: 194.49M
Per example: 422.10 MB

Approximate minimum memory requirements, training, FP32 (assuming current design)
Fixed: params

[2018-03-13 08:13] treo commented on #4762
Concerning Problem 1:
Writables are a DataVec abstraction, i.e. they are used in your ETL pipeline, which also means that you can easily check that it works even without a running network. Simply iterate over the DataSetIterator and see if the created DataSet is what you think it should be.

Concerning Problem 2:
You use a multi-dataset-iterator when you either need multiple inputs, multiple outpu

[2018-03-13 08:48] marshalWS opened #4797 "Use cnn for regression。 why Score from 0.144361 to Infinity and NaN"
#### Issue Description
**All  feature and Label are 0-1.** Maybe some configuration have errors。
 I use my training-datas on cnn models.
 cnn- net config is:
   `private MultiLayerConfiguration config(int channels, int seed, int outputNum) {

        Map<Integer, Double> lrSchedule = new HashMap<>();
        lrSchedule.put(0, 0.06);
        lrSchedule.put(200, 0.05);
        lrSchedule.put(600, 0.

[2018-03-13 08:53] johnhearn commented on #927
This is still happening as of 0.9.1 although related issues are closed.

[code]
Is there a workaround that I don't see in the references?

[2018-03-13 09:42] Davidovic commented on #4759
In the Evaluation class I see that the fBeta() function returns an average only when there are more than 2 classes, but I don't understand why. See the relevant code in the following gist:
https://gist.github.com/Davidovic/98ad56141cb8f851c940fa609c660e48

[2018-03-13 09:52] AlexDBlack commented on #4784
So, the next question: how much memory are we seeing in practice?

----
Forward pass (4 times - keeping all activations in memory, with workspaces enabled):
Total JavaCPP bytes: (Pointer.totalBytes()): 1.32 G
LOOP_FF workspace: Allocated amount: 227121715 bytes (227MB)
Note that the model does *not* have updater or gradients or anything (as expected).
This memory use isn't unreasonable, and is act

[2018-03-13 10:17] AlexDBlack commented on #4762
OK, so in short: On reflection, multi-class multi-label image classification isn't as easy as it should be. I'm definitely in favor of some better design/refactoring there.
You are correct in looking at PathLabelGenerator, and if you were doing *binary* multi-label it'd be perfect. But because you are doing non-binary, multi-label you need to return multiple Writable objects -

OK, so what are you

[2018-03-13 10:22] Davidovic commented on #4759
I discussed this with @AlexDBlack on Gitter and agreed to insert that conversation here, as it explains the issue pretty well:

**Davidovic**: ...I'm still having trouble with the F1 score. Why is it that, in a two-class-classification problem, the precision and recall return an average of the calculations for each class, and the f1 doesn't?

**AlexDBlack**: it should be consistent...as for which

[2018-03-13 11:23] AlexDBlack commented on #4762
@jozefmorvay I've started working on a PR here: https://github.com/deeplearning4j/DataVec/pull/520
I'm out of time for today, but should be able to wrap that up tomorrow.

[2018-03-13 11:55] jozefmorvay commented on #4762
@treo I am including the python script here, it should be fairly easy to follow. I had to change the extension to txt lest Github wouldn't allow me to upload it.
[VGG_multiclass.txt](https://github.com/deeplearning4j/deeplearning4j/files/1806744/VGG_multiclass.txt)

@AlexDBlack Certainly, whenever you get down to it. I can help you with the PR if you wish.

As for the suggestions from both of you,

[2018-03-13 12:07] #4797 closed

[2018-03-13 12:27] saudet commented on #4766
Yes sounds good, go ahead with the PR, thanks!

[2018-03-13 15:38] crockpotveggies commented on #4762
Regarding VGG16 it's very possible that's a mistake. Our output layer
contains it's own FC layer and I may have only intended to comment out one.
I'll have a look when I'm in front of a computer.
On Tue, Mar 13, 2018 at 4:56 AM jozefmorvay <notifications@github.com>
wrote:

[2018-03-13 16:34] xttam opened #4798 "EvaluativeListener onEpochStart/onEpochEnd not called"
EvaluativeListener onEpochStart/onEpochEnd is not called when using earlyStoppingTrainer.fit(), only when calling network.fit(datasetIterator) directly.

Tested on v0.9.1

This is what I did temporarily:

[code]

[2018-03-13 18:44] Davidovic commented on #4759
The more I think about it, the stranger I find the logic followed in the calculation of the f1 score in a binary classification problem.

AlexDBlack wrote: "_...it makes sense (IMO) to report the non-averaged binary for the positive (assumed class 1) class only_", but it is exactly this assumption that makes little sense to me. In fact, if I'm not mistaken, the assumption depends on the alphabetic

[2018-03-13 22:14] jozefmorvay commented on #4762
@crockpotveggies I have not looked into code more thoroughly, but the VGG16 zoo model still has all the layers that it should have once instantiated, so those commented out layers are added somewhere else. It was just an off topic question, not really worth investigating IMO.

[2018-03-14 01:39] saudet commented on #927
I think that's been added in 0.9.2-SNAPSHOT. Could you give it a try?

[2018-03-14 02:01] saudet commented on #2878
This seems to be fixed now in 0.9.2-SNAPSHOT, but performance continues to suffer (issue #2890).

[2018-03-14 02:01] #2878 closed

[2018-03-14 02:58] saudet commented on #4776
With the hacks out of the way (pull #2734), everything is working fine for me on Windows. I cannot cause any deadlocks with MKL 2018.1. Make sure that it's 2018.1 that actually gets loaded...

[2018-03-14 03:54] truonghoang opened #4799 "How to get labels from restored model"
#### Issue Description

[code]

But I got labels = null

#### Version Information
* Deeplearning4j 0.9.1
* Window 10

#### Contributing
Please tell me how I can keep and get the labels from model which had saved after train

Thanks.

[2018-03-14 04:10] AlexDBlack opened #4800 "VGG16 model - commented out fully connected layers?"
https://github.com/deeplearning4j/deeplearning4j/issues/4762#issuecomment-372709639

[2018-03-14 04:15] AlexDBlack commented on #4762
OK, so I've finished, tested and merged this: https://github.com/deeplearning4j/DataVec/pull/520
Snapshots for DataVec should be built soon (within hours, if not already) now that it's merged.
Snapshots info: https://deeplearning4j.org/snapshots
Updated examples for use with snapshots: https://github.com/deeplearning4j/dl4j-examples/pull/589

I'll close this issue. @jozefmorvay have a look at that

[2018-03-14 04:15] #4762 closed

[2018-03-14 04:17] saudet commented on #4799
The labels are basically part of DataSet. We can reset them with setLabels(). But I agree this needs to be enhanced in one way or another.

[2018-03-14 04:34] saudet commented on #4400
Actually, @jrmerwin will working on updating this.

[2018-03-14 04:56] xttam opened #4801 "Early stopping should save the normalizer"
When using early stopping the best/last model is saved, but not the normalizer. LocalFileModelSaver.getBestModel() should restore it.

[2018-03-14 06:06] saudet commented on #4784
/cc @jpatanooga

@raver119 Do you see any possible "quick fixes"?

[2018-03-14 06:19] AlexDBlack commented on #4776
I'm still seeing deadlocks here the majority of the time (I'm quite sure it's using the specified PR and MKL 2018.1).

After clearing the cache, here's the output I'm getting:
https://gist.github.com/AlexDBlack/abfc8aed29a2442122c1236c72d2afa7

[2018-03-14 06:41] AlexDBlack commented on #4759
I have to disagree with you, at least somewhat. I don't think it's correct or reasonable to default to reporting macro-averaged binary metrics for the binary classification case. However, you raise a legitimate point that class 0 can be the positive class, even if (by convention) class 1 more commonly is positive for binary classification.

Take a look at how scikit learn handles this for f1:
http

[2018-03-14 07:41] Davidovic commented on #4759
Hi @AlexDBlack ,

That sounds great, thank you so much! Also for the explanation and the comparison with scikit-learn. Even though I have no experience with scikit-learn, I guess it makes sense to apply similar logic among different libraries, as long as it's sensible of course.

I understand that returning non-averaged metrics in binary cases can be the preferred way in the majority of cases, so

[2018-03-14 07:47] AlexDBlack commented on #4759
Sure, no problem. And thanks again for the issue, you've raised some quite legitimate questions here.
I'm working on a pull request to make those corrections now.

That applies to ImageRecordReader only - which does indeed default to alphabetical for the class index assigment - but that doesn't hold in general. Other data pipelines may be different; notably, label/integer assignment can be entirel

[2018-03-14 08:05] Davidovic commented on #4759
OK thanks! Good to know.

[2018-03-14 08:55] saudet commented on #4776
MKL has a tendency to ignore the libraries that we preload and tries to load them in surprising ways. Call MKL_Get_Version() and make sure it's the right version. Also, it might help to debug this by trying the recommended way of using the library, that is by executing mklvars.bat on the command line, and executing applications there.

[2018-03-14 10:12] AlexDBlack commented on #4759
Fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/4802
I'll close this issue once that PR is merged.

[2018-03-14 11:40] saudet commented on #4776
There's also a couple of DLLs we're not copying into the cache (mainly `libimalloc.dll`, `mkl_sequential.dll`, and `mkl_tbb_thread.dll`), and maybe it's wanting to use one of those, but falls back on a suboptimal (and buggy) function for your chip architecture. Could you try to copy manually all DLLs from `C:/Program Files (x86)/IntelSWTools/compilers_and_libraries/windows/redist/intel64/mkl/` int

[2018-03-14 11:46] saudet commented on #4776
In any case, let's get the pull request merge right away! Thanks

[2018-03-14 11:53] rezacsedu opened #4803 "How to handle a very high dimensional dataset (~20K columnns)"
#### Issue Description
Seems DeepLearning4j cannot handle a very high dimensional dataset. For example, I have a cancer genomics dataset having 20532 columns (20531 features, 1 label). When I tried to feet this data into MLP, I encountered the following exception:

[code]

Here's a code segment used in my application:

[code]
Am I doing something wrong? Any help or pointer would be appreciated.

#

[2018-03-14 12:05] rezacsedu commented on #4803
@treo Well, I changed the issue title to avoid further confusion. It works for low dimension. Say when I randomly pick 100 columns out of the original input, it works perfectly.

[2018-03-14 12:22] treo commented on #4803
The linked bug report also contains a way to work around that problem, as the bugfix is only available on SNAPSHOT versions at the moment. So you should try that first.

In general DL4J can easily handle high dimensional data, as long as you have enough memory for it. I've used more than 200k columns as input vectors, and there isn't anything special that you have to do there.

[2018-03-14 12:29] rezacsedu commented on #4803
@treo, yes my machine has enough computing power (64GB RAM, 16 CPU cores etc.). Thanks, I will definitely try with the SNAPSHOT version.

[2018-03-14 14:11] rawkintrevo commented on #4757
hey all- finally sat down to to this- seems like website has moved to https://github.com/deeplearning4j/deeplearning4j-docs

My question is- should I open PR against that repo?  I don't see any issues or PRs but it seems this change over _just_ happened.

[2018-03-14 14:48] #4803 closed

[2018-03-14 20:28] jrmerwin commented on #4400
@saudet The replacement document and new demo app are ready to go. I will swap them with the old one.

[2018-03-15 01:33] AlexDBlack commented on #4776
Re: merging the PR - I can't see any downside (other stuff runs fine, but it doesn't fix the issue here)

All tests: using sa_mkl branch

First test:
1. delete javaccp cache
2. "C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.1.156\windows\mkl\bin\mklvars.bat" intel64
3. Run via maven: java -cp dl4j-examples-0.9.1-bin.jar org.deeplearning4j.examples.MklTest

Result: same deadlock

[2018-03-15 02:08] #4759 closed

[2018-03-15 04:05] AlexDBlack opened #4805 "DL4J Spark training: handle corrupted datasets due to flaky HDFS etc"
Looking at the logs for a client's code: they are running into issues where DataSet loading on spark is failing.

[code]

Running hypothesis is that an executor crashes and/or flaky HDFS writing during preprocessing is lead to a small number of incomplete/corrupted DataSets.

It would be nice to be able to handle a small number of DataSet loading errors during network training, rather than propaga

[2018-03-15 04:08] saudet commented on #4776
Ah yes unless `nd4j-platform` is in the dependencies we need to add at least `mkl-platform`.

[2018-03-15 04:09] saudet commented on #4776
And please try to copy *all* the DLLs, because since it works when creating symlinks, it sounds like it might be after some DLLs that are found in the original directory...

[2018-03-15 04:10] saudet commented on #4776
Executing something from MKL like `MKLVersion()` before might also work around the issue...

[2018-03-15 05:55] saudet commented on #4400
@jrmerwin Sounds good! Please note that the new repo for documents is at https://github.com/deeplearning4j/deeplearning4j-docs

[2018-03-15 05:58] AlexDBlack commented on #4776
OK, next round of tests (also on sa_mkl)

Using existing dependencies (no mkl-platform added for this test, no mklvars.bat)
1. Delete javacpp cache
2. Run once, deadlocks; kill
3. Copy entire directory contents:
    a. from: C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2018.1.156\windows\redist\intel64_win\mkl
    b. to: C:\Users\Alex.javacpp\cache\mkl
4. Run again

Result: still de

[2018-03-15 06:04] saudet commented on #4776
Yes, MKL is probably switching between implementations depending on the size of the problem. Maybe even loading mkl_sequential.dll for small matrices...

Wait, you're saying mkl-platform prevents ND4J from using MKL?? Let me check this out here

[2018-03-15 06:12] AlexDBlack commented on #4776
That seems to be the case. I'm running our snapshots example branch in intellij, with mkl-platform added as a dependency. Happy to build an isolated/standalone project/pom if it helps...

[2018-03-15 06:24] saudet commented on #4776
Hum, that's not happening here. This might be caused by it loading a different set of DLLs than ND4J, ending up in a conflict. Just for reference, I'm adding the following to `dl4j-examples/nd4j-examples/pom.xml` (the sa_snapshot branch there):
[code]
And the following at the beginning of `main()` in `dl4j-examples/nd4j-examples/src/main/java/org/nd4j/examples/Nd4jEx1_INDArrayBasics.java`:
[code]

[2018-03-15 07:26] AlexDBlack commented on #4776
@saudet OK, so I've created a repo here:
https://github.com/AlexDBlack/mkl_debug

When run through intellij:
[code]

When run through maven (./buildAndRun.sh):
[code]
(i.e., deadlocks)

[2018-03-15 09:25] AlexDBlack commented on #4776
@saudet so I guess re: the non-loading of MKL - this is an intellij-specific issue...
I guess we should look into this more? Want a separate issue (Nd4J? javacpp?)
Here's the intellij run with full logging (and a clean/deleted javacpp cache dir)
https://gist.github.com/AlexDBlack/aca12f6d0a5963875ce9137c2509382e

[2018-03-15 11:10] anis016 commented on #4749
Hello @saudet
Sorry for the late reply. I am only able to run dl4j, when I have access to a faster PC. However,

1. I am not able to run the Testcase you mentioned. I have added the screenshot. There's several symbols it can't find. Please check and advice.
![scree](https://user-images.githubusercontent.com/6690216/37459718-47483878-2849-11e8-8236-d7919483c443.png)

2. Previously you mentioned, "y

[2018-03-15 11:41] saudet commented on #4776
Hum, it's probably related. Let me see if I can't get the loading order of these DLLs straight.

[2018-03-15 12:07] saudet commented on #4749
You can find a sample pom.xml file for 0.9.2-SNAPSHOT on this branch:
https://github.com/deeplearning4j/dl4j-examples/tree/sa_snapshot

It looks like your IDE has trouble loading artifacts from the snapshot server though, that's why JavaCV isn't working there. You'll need to figure out why that is...

[2018-03-16 07:13] AlexDBlack commented on #4784
FYI I've posted some thoughts on basecamp regarding approaches to reduce memory requirements for training.

[2018-03-16 09:05] #4798 closed

[2018-03-16 09:06] AlexDBlack commented on #4798
Thanks for the issue - fixed and tested here: https://github.com/deeplearning4j/deeplearning4j/pull/4807

[2018-03-16 09:09] AlexDBlack commented on #4799
Actually, I'm going to close this. The labels array (as in, getLabels()) is a transient field for a single minibatch that is modified/updated on every fit etc method. It's not something that should be persisted with the model in my opinion - I can't see a use case where it makes sense to save/restore the labels INDArray for a single minibatch.

[2018-03-16 09:09] #4799 closed

[2018-03-16 09:22] #4805 closed

[2018-03-16 09:24] AlexDBlack commented on #4805
On reflection: I've decided to simply improve the errors and refer users to the newly added Spark data validation: https://github.com/deeplearning4j/deeplearning4j/pull/4808

[2018-03-16 09:30] AlexDBlack commented on #4801
Hm... the normalizer is part of the data pipeline, which the user has to manually define anyway.
Not sure how this would work in practice - we *could* inspect the DataSetIterator or MultiDataSetIterator, see if the preprocessor is something we can train, and then add it to the model file. But then how does the user know that the normalizer is now there (or not) to restore? Seems like a lot of user

[2018-03-16 09:31] AlexDBlack commented on #4788
Closing this - @turgaybatbat we can re-open this if required, if you're still seeing it after upgrading the version.

[2018-03-16 09:31] #4788 closed

[2018-03-16 09:55] truonghoang commented on #4799
Because i don't want got results which predict label is index 0 1 2 3 ... .or i must define labels array.
You know i got labels from path by BalancePathFilter. But i will clear data after.so i can't get label accuracy.

Thank

[2018-03-16 09:57] #4763 closed

[2018-03-16 10:33] AlexDBlack commented on #4745
So far I've tracked at least one copy to this unit test:
https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-core/src/test/java/org/deeplearning4j/nn/layers/convolution/ConvolutionLayerSetupTest.java#L126-L142

[2018-03-16 13:39] ntaherkhani opened #4810 "wordsNearest returns different words after uptraining Word2Vec and doing buildVocab"
#### Issue Description
I am trying to uptrain word2vec model that I restored from GoogleNews-vectors-negative300.bin.gz pretrained word2vec model, to add my new corpus words to the vocabs list of model.
the wordNearest results are totally different before and after buildVocab and fit.
for example:
before uptraining: wordsNearest("day", 5) -> [week, days, morning, month, hours]
after uptraining :wo

[2018-03-16 13:43] rawkintrevo commented on #4757
I'm closing issue if no further comments.

[2018-03-16 14:58] elie-rachkidi opened #4811 "PreProcessor executed twice in SequenceRecordReaderDataSetIterator"
#### Issue Description

There is an odd behaviour when loading data using `SequenceRecordReaderDataSetIterator` with a normalizer. It seems like the normalizer is applied twice on returned `DataSet` with the method `next()`.

After debugging, I found that the `SequenceRecordReaderDataSetIterator` method `next()` invokes the methods `next(int num)` and `mdsToDataSet(MultiDataSet mds)` in order to f

[2018-03-16 16:06] MaxLeiter opened #4812 "ShowImageTransform not working on macOS"
#### Issue Description
Using `ShowImageTransform` opens a blank window on OS X. Tried this on my own projects and example projects. Sorry if this is the wrong repo.

#### Version Information

* Deeplearning4j version: 0.9.1
* platform information (OS, etc): macOS 10.13.3
* CUDA version, if used: N/A
* NVIDIA driver version, if in use: N/A

#### Contributing

Open to helping fix, but I have no clue

[2018-03-16 16:10] MaxLeiter commented on #4812
https://github.com/deeplearning4j/DataVec/issues/522

[2018-03-16 16:10] #4812 closed

[2018-03-16 16:32] agibsonccc commented on #4757
Thanks Trevor!

[2018-03-16 16:32] #4757 closed

[2018-03-16 19:20] wmeddie commented on #3682
@crockpotveggies Do you think we can prioritize this issue for Docs?  The conf side of nn is the "UI" for DL4J but is completely devoid of JavaDocs. It is a terrible experience for developers because nothing shows up during autocomplete or when hovering your mouse over the various config classes.

[2018-03-16 23:45] AlexDBlack opened #4813 "ParallelInference: no support for input masks? + check batching functionality"
Use case: sequence to sequence model with variable length time series.
We need input masks (either provided by the user, or inferred automatically by the model) in order for the LastTimeStepVertex to function as expected when examples are batched together.

So 3 things here:
1. Provide method that allows user to provide an input masks
2. Ensure that (for variable-length RNNs) input masks are infer

[2018-03-16 23:45] AlexDBlack commented on #4811
Thanks for the report, but this was identified and fixed some time ago:
See here for a workaround: https://deeplearning4j.org/releasenotes#zeronineone

[2018-03-16 23:45] #4811 closed

[2018-03-17 01:34] saudet commented on #4799
@AlexDBlack Sorry, got confused with RecordReader.getLabels(). That's the one we want to save... @truonghoang Please open an issue about that at https://github.com/deeplearning4j/datavec/issues

[2018-03-17 01:57] raver119 commented on #4810
Please show how you've set up uptraining. Your model's output looks corrupted so far.

[2018-03-17 02:56] saudet commented on #4746
We basically need to implement a custom loss function: https://deeplearning4j.org/customizelossfunction

Here are some implementations we can refer to:
https://github.com/deeplearning4j/rl4j/blob/master/rl4j-core/src/main/java/org/deeplearning4j/rl4j/network/ac/ActorCriticLoss.java
https://github.com/deeplearning4j/nd4j/tree/master/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/lina

[2018-03-17 03:09] saudet commented on #4776
I've fixed the loading order of the DLLs in https://github.com/bytedeco/javacpp-presets/commit/2cd4c2c9d9b17a5092f76678fcb9821c73d2fe95 and new binaries for OpenBLAS and MKL have been deployed to the snapshot server. With that I'm not getting any suspicious load failures in the log anymore. But does that make it work better on your end?

[2018-03-17 03:37] saudet commented on #4746
Actually, we might need to implement a custom layer, which would look like this:
https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/objdetect/Yolo2OutputLayer.java
https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/layers/objdetect/Yolo2OutputLayer.java

Some

[2018-03-17 04:44] AlexDBlack commented on #4776
Re: IntelliJ MKL loading - unfortunately I'm not seeing any difference with the latest snapshots, when run in IntelliJ:
https://gist.github.com/AlexDBlack/e5160d8ab47771df5ab896d6ced07a0c

I'm pretty sure I'm using the new/correct snapshots - here's the versions from the intellij claspath :

C:\Users\Alex\.m2\repository\org\bytedeco\javacpp-presets\mkl-platform\2018.1-1.4.1-SNAPSHOT\mkl-platform-2

[2018-03-17 06:10] saudet commented on #4776
I'm going to need a way to reproduce this here. This isn't happening on my machine unfortunately.. This looks like there are old version of artifacts of nd4j, openblas, or mkl somewhere in the dependencies. Could you send me an uber JAR that fails and we'll be able to diagnose this more easily?

[2018-03-17 06:14] #4745 closed

[2018-03-17 06:15] AlexDBlack commented on #4745
Fixed here by switching to ND4J ClassPathResource (with some improvements).
https://github.com/deeplearning4j/deeplearning4j/pull/4814

Note that the DataVec ClassPathResource still needs to be replaced/removed...

[2018-03-17 06:16] saudet commented on #4776
Actually, you definitely have a version of nd4j other than the one in sa_mkl, or an old version of openblas or mkl in your dependencies that is trying to load mkl_avx before mkl_core. You'll need to get rid of that...

[2018-03-17 06:17] AlexDBlack commented on #4776
Hm, it's possible. I'll rebuild ND4J on sa_mkl to be sure, and report back shortly...

[2018-03-17 07:30] AlexDBlack commented on #4776
OK, so I've double checked and fixed some things - now I'm sure that (a) I'm no sa_mkl, and (b) my path is correct.

Result: Both Intellij and maven/java -cp are loading MKL correctly.
Both are still deadlocking, however.

[2018-03-17 08:24] saudet commented on #4776
What happens if you clear the cache, and run with admin privileges?

[2018-03-17 08:41] saudet commented on #4776
I guess it's going to work because we know it works with symlinks... Could you instead run https://docs.microsoft.com/en-us/sysinternals/downloads/listdlls on the deadlocked java process and let's check that it loads all the DLLs from where we expect it to?

[2018-03-17 09:45] AlexDBlack commented on #4776
Process:
1. Run test in intellij (deadlocks)
2. Get process ID from task manager
3. ```listdlls64 <pid>```
4. ```listdlls64 -v <pid>```

Results here: https://gist.github.com/AlexDBlack/3af553b3602e08a08e8ddf81725874a7

I haven't looked at the results in detail, but I did notice that the MKL DLLs are listed twice

Also: One thing I didn't notice before is that the process is actually maxxing out o

[2018-03-17 15:39] treo opened #4815 "Weight init creates an array with the size of the whole network"
#### Issue Description
When training on a GPU, it is easily possible to create a network that _should_ fit into memory, but even just initializing it results in an out of memory state.

I've tracked the problem down to WeightInitUtil, which gets a parameters view, but instead of directly using it, it creates a new one, which is then copied into that view.

This results in the problem that model in

[2018-03-17 15:40] raver119 commented on #4791
@AlexDBlack i just think we should physically exclude everything that's not training from panics. What would you say, if we'll do that?

[2018-03-17 16:22] raver119 commented on #4744
cc @saudet @maxpumperla

[2018-03-17 16:34] treo commented on #4784
I've found that most of the updaters can use quite a bit of memory temporarily. The Adam updater for example uses 3x Params for transient calculations.

[2018-03-17 19:25] maxpumperla commented on #4744
thanks @raver119, @blackredscarf I know what part throws this error and can have a look starting next week.

[2018-03-17 20:10] anis016 commented on #4749
hello @saudet

there's some update... now I am getting this error after trying in another PC... please have a look. we tried in the master branch.

12:55:18.204 [main] ERROR org.deeplearning4j.rl4j.learning.sync.SyncLearning - Training failed.
java.lang.RuntimeException: Non-existent compression algorithm requested: [FLOAT]
	at org.nd4j.linalg.compression.BasicNDArrayCompressor.decompressi(BasicND

[2018-03-18 07:37] thaear commented on #4278
i face this problem Anyone can explain what happen
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] DeepLearning4j ..................................... SUCCESS [ 14.294 s]
[INFO] deeplearning4j-nearestneighbors-parent ............. SUCCESS [  0.483 s]
[INFO] nearestneighbor-core ............................... SUCCESS [ 29.409 s

[2018-03-19 01:19] AlexDBlack commented on #4776
@saudet let me see if I can reproduce this on my other windows machine (similar config - 5930k vs. 5960x for all the above results)... if so, I can probably give you access to that to reproduce/debug.

[2018-03-19 01:32] AlexDBlack commented on #4815
I would definitely argue that :)
Mainly because to train a network, you have parameters + parameter gradients + updater state + activations + activations gradients + working memory
which is by definition greater than 2x parameter size (parameter gradients size == parameters size)

That said, I'm totally in favor of doing this in-place if possible.

[2018-03-19 01:35] AlexDBlack commented on #4791
It's certainly an option. Seems like low priority/RoI to me though - given NaN panic is disabled by default, this simply doesn't come up enough to be a problem much in practice... and when it *does* happen outside of training, sometimes you do want it be triggered anyway for debugging.

[2018-03-19 02:09] EgoLaparra commented on #4445
Hi,

I'm getting an exception that I think it is related to this issue, so I have preferred not to open a new one. Sorry, if I am wrong.

The following exception is thrown when importing a keras model with Bidirectional(LSTM (..return_sequences = True )) :

[code]

Is it caused by the same problem discussed here?

[2018-03-19 02:46] AlexDBlack commented on #4784
@treo hm, that's an interesting and very useful observation, thanks.
Note that we combine updaters across layers to maximize performance... in the worst case (for memory, best case for performance), the entire network params can be handled by *one* Adam/Nesterov/etc object. So one simple thing here would be to set a maximum size on the updater blocks...
https://github.com/deeplearning4j/deeplearni

[2018-03-19 02:52] AlexDBlack commented on #4445
@EgoLaparra Can you post the keras configuration and some DL4J code you are using, so we can reproduce this?

[2018-03-19 03:03] saudet commented on #4776
@AlexDBlack Thanks, but don't worry about spending more time on that for now. Loading the exact same DLLs twice in memory is probably causing problems. Windows isn't being helpful here. Let me try to rectify that in JavaCPP first...

[2018-03-19 04:49] EgoLaparra commented on #4445
Keras version: 1.2.2
Keras backend: theano
Deeplearning4j version: 0.9.2-SNAPSHOT

This is the snippet to create the keras model:
[code]
And this is the DL4J code that throws the exception, specifically the line with the call to _network.summary()_ :
[code]

[2018-03-19 08:33] saudet commented on #4776
Ok, this was caused by an old hack that used to work with MKL 2017 but doesn't anymore with MKL 2018, so I've modified it so it doesn't load the same DLL twice like that when making copies into cache. Run `mvn -U ...` to get the latest build of JavaCPP and let me know how that goes!

[2018-03-19 09:24] AlexDBlack commented on #4776
ok, so I've deleted cache + retried with (what should be) the latest javacpp (javacpp-1.4.1-20180319.083214-35)
Seems like it's only loading the one copy of the DLLs now (just from javacpp cache).
https://gist.github.com/AlexDBlack/51218a79e4fb8e2431e2b34beeb5d0d5

Unfortunately: it still deadlocks both in intellij and when run via java -cp :(

Do you want me to try reproducing it on this other ma

[2018-03-19 09:30] saudet commented on #4776
`mkl_core.dll` get loaded twice though. Does this happen with only OpenBLAS? For example with https://github.com/bytedeco/javacpp-presets/tree/master/openblas#sample-usage

[2018-03-19 09:50] AlexDBlack commented on #4776
Ah, good catch.

Looks like it only loads it once, when just using openblas:
https://gist.github.com/AlexDBlack/fcf173916c451b9e81284c2fd4c2ebc0

[2018-03-19 09:53] AlexDBlack commented on #4776
ah, I did just realize I'm not on sa_mkl branch for the results of my earlier post - https://github.com/deeplearning4j/deeplearning4j/issues/4776#issuecomment-374148867

[2018-03-19 10:05] treo commented on #4815
What would be the preferred way of doing this?
Should I create `Nd4j.rand` variants that take a target array, and then use them in WeightInitUtils?

[2018-03-19 10:56] AlexDBlack commented on #4776
Success! Looks like it's only loading mkl_core.dll once
https://gist.github.com/AlexDBlack/6f95f9be21f9ef0e3e59cdb4f0d1d49a

I can confirm that we're no longer seeing deadlocks when run via intellij or java -cp (run 20 times each) . :tada: 👏

So - at this point, I guess the only remaining question is MKL 2017... do you want to do some testing there to make sure it still works as expected after you

[2018-03-19 12:44] ntaherkhani commented on #4810
Thanks for your response and sorry for answering late.
I am codding through Scala.

val iter: SentenceIterator = new BasicLineIterator(new File("Path of new corpus"))
var w2v = WordVectorSerializer.loadGoogleModel(new File("/GoogleNews-vectors-negative300.bin.gz"), true, false)

val dayNearestWords_beforeUpTrain= w2v.wordsNearest("day", 5) // @return  [week, days, morning, month, hours]

var t: To

[2018-03-19 13:05] saudet commented on #4776
It most likely works. Copying everything into a new directory is the safer way, I wouldn't worry about it...

[2018-03-19 14:35] raver119 commented on #4810
I see.

That's expected behavior. If you'll check wordsNearest() javadoc, you'll see warning about normalization being applied.

do NOT call wordsNearest before training.

[2018-03-19 16:11] ntaherkhani commented on #4810
I removed the wordsNearest before up-training , but I got inconsistent nearest words for "day".

[Heavenly_Ski, Sipera_UC_Sec_Sipera, EMEA_Structured_Finance, Ranero, Gen_Thein_Sein]

[2018-03-19 16:25] raver119 commented on #4810
Show your _current_ source code please.

[2018-03-19 17:24] ntaherkhani commented on #4810
it is same as I sent in previous one. I just removed the wordsNearest before fit().

val iter: SentenceIterator = new BasicLineIterator(new File("Path of new corpus"))
var w2v = WordVectorSerializer.loadGoogleModel(new File("/GoogleNews-vectors-negative300.bin.gz"), true, false)

var t: TokenizerFactory = new DefaultTokenizerFactory();
t.setTokenPreProcessor(new CommonPreprocessor());

w2v.setToke

[2018-03-19 20:11] zvreifnitz commented on #4614
Hi,
I was tuning params and I noticed that dropout does not have any effect when using GravesLSTM layer.
Code example: https://gist.github.com/anonymous/2cb8fba1e6bdf29b0bc655ae6c7b68fd
I consistently got the same results, eg:
Score for dropout: '0.8' at iteration 1 is 491.271145951138
Score for dropout: '0.5' at iteration 1 is 491.271145951138
Score for dropout: '0.2' at iteration 1 is 491.271145

[2018-03-20 01:15] #4776 closed

[2018-03-20 03:15] AlexDBlack commented on #4614
@zvreifnitz hm, it *should* be applied on the input (but not the recurrent) activations...
I'll open a separate issue.
In the mean time, a dropout layer before the LSTM layer should work as expected.

[2018-03-20 03:16] AlexDBlack opened #4817 "Dropout doesn't work as expected for GravesLSTM?"
As yet unconfirmed - but see comment here: https://github.com/deeplearning4j/deeplearning4j/issues/4614#issuecomment-374355693

[2018-03-20 03:21] AlexDBlack commented on #4815
Yeah, I think the cleanest way long term - would be to implement methods where the result array can be passed in/specified. Specifically:
(a) Nd4j.rand(INDArray), Nd4j.randn(INDArray) etc, and also
(b) Distribution.sample(INDArray)

[2018-03-20 04:12] AlexDBlack opened #4818 "New gradient check failures (CPU)"
Everything was passing last week...

![image](https://user-images.githubusercontent.com/2360237/37635583-87826944-2c50-11e8-8d22-8732311149eb.png)

testLSTMWithSubset seems like non-issue (just over precision limit with small value). Same with YOLO.

However, testDeconvolution2D is a new and legitimate issue.

[2018-03-20 23:22] wmeddie opened #4819 "Add way to set Authorization header in NearestNeighborsClient"
#### Issue Description

Users can use NearestNeighborsClient to access a KNN server hosted in SKIL.  However they need to call `Unirest.setDefaultHeader()` to set the Authorization header before they are able to use it with deployments.  It would be nice if NearestNeighborsClient had a method or constructor that allowed the user to set the token without having to rely on the global Unirest object.

[2018-03-21 03:30] gliese581gg opened #4820 "Conflict between DL4J and Protobuf?"
Hi! I'm trying to build android project with DL4J and Protobuf.

But I got following error:

[code]

After some digging, I found out that this doesn't happen when I omit one of DL4J or Protobuf.

I heard the merge dex error occurs when two dependencies try to import same library with different version.

How can I solve this problem?

I attach the build.gradle with and without protobuf dependency.

[2018-03-21 04:15] xttam commented on #4791
Agree with @raver119. In this case disabling the UI temporarily was enough for me, it wasn't a big deal.

[2018-03-21 04:25] xttam commented on #4801
This is what I did until a fix is released. Basically, the user would have to provide the normalizer he wants to save with each latest/best network, and restore it manually later.

[code]

[code]

[code]

[2018-03-21 05:55] AlexDBlack opened #4821 "MultiLayerNetwork.clone() not working?"
From gitter user @Kowuswe

Unconfirmed at this point - waiting on more details.

[2018-03-21 07:43] AlexDBlack commented on #4820
Two things here:
1. Can you try again with 0.9.1 - or even better, with snapshots? https://deeplearning4j.org/snapshots
    0.8.0 is pretty old at this point, and a lot (including dependencies) has changed since then
2. After upgrading, if you still see the same issue - can you give us a dependency tree? (whatever gradle's equivalent of "mvn dependency:tree" would be - not sure what that is, I'm n

[2018-03-21 09:45] AlexDBlack commented on #4818
Looking at this again - I'm getting this printed during execution of testDeconvolution2D gradient check:

[code]

Given the timing, this is likely due to the deconv2d.cpp changes here: https://github.com/deeplearning4j/libnd4j/pull/825

What specifically is the error in the libnd4j code? This output size calculation looks wrong to me:
https://github.com/deeplearning4j/libnd4j/blob/master/include/o

[2018-03-21 10:39] maxpumperla commented on #4818
@AlexDBlack I agree with both 1. and 2. and I find this discussion to be fairly important. A lot, if not most of the difficulty in debugging new SameDiff ops, for instance, come from this too.

[2018-03-21 10:39] maxpumperla commented on #4818
Shall we discuss this on basecamp?

[2018-03-21 10:42] AlexDBlack commented on #4818
Gitter first IMO, if we can't agree on something quickly then we'll move to basecamp.

[2018-03-21 10:43] Loewave opened #4822 "ComputationGraph - wrong masking"
#### Issue Description

If creating a network with ComputationGraph LSTM->Max Pooling -> Merge 2 LSTM's -> Output the masking is done wrong. Expected output is classification.
Error message:
`Invalid mask array: per-example masking should be a column vector, per output masking arrays should be the same shape as the output/labels arrays. Mask shape: [1, numberOfLinesInSequence], output shape: [1, 2

[2018-03-21 11:05] shyrma commented on #4818
Hi, guys

Could you please point out where "testDeconvolution2D" is ?
I have to take a look. My first suspicion is that we use different isSameMode/isNCHW (but I can mistake of course)

Concerning 1: Ok, I'll provide corresponding code

Concerning 2: I think it would be better to involve raver into this discussion as well, since usually he how to interact with jave

[2018-03-21 11:15] shyrma commented on #4818
Hmm, Also I see you use old deconv version
We have to update deconv in master
New one is on my branch  "shyrma_data_format"

[2018-03-21 22:39] traboukos opened #4824 "Keras 2.x function model import. Multiple inbound vertices for embedding layer."
#### Issue Description

I am trying to import a Keras 2.x model created with the keras functional API. In this model some embedding layers are connected to multiple inputs and their weights are shared. Following is an example of one such embedding layer.
[code]
The deeplearning4j graph model created has only one inbound node for those embeddings and the second one is ignored. This results in the f

[2018-03-22 01:02] #4817 closed

[2018-03-22 01:05] AlexDBlack commented on #4614
@zvreifnitz I've confirmed and fixed an issue with dropout not being applied to recurrent layers here: https://github.com/deeplearning4j/deeplearning4j/pull/4823
Thanks for flagging this (though next time - feel free to open a separate issue - *recurrent* dropout is a different issue to what you reported)

[2018-03-22 02:12] AlexDBlack commented on #4818
@shyrma https://github.com/deeplearning4j/deeplearning4j/search?utf8=%E2%9C%93&q=testDeconvolution2D&type=

It's a gradient check, and runs through multiple cases.
Note that it definitely was passing last week.

Thanks. As a general rule I try to have as much info as possible - my goal is (when possible) to give users/devs enough info so they don't have to run things in a debugger to identify the

[2018-03-22 05:22] saudet commented on #4820
Might have been fixed by https://github.com/deeplearning4j/nd4j/pull/2729 so yes please try the snapshots.

@jrmerwin Have you seen this happen?

[2018-03-22 06:02] #4781 closed

[2018-03-22 06:02] #4766 closed

[2018-03-22 07:55] svkap opened #4825 ""java.util.zip.ZipException: zip file is empty" exception when loading normalizer from stream"
#### Issue Description

Loading normalizer from file works ok but loading normalizer from stream throws the following exception (loading model from stream works as well):

`		Exception in thread "main" java.lang.RuntimeException: java.util.zip.ZipException: zip file is empty
			at org.deeplearning4j.util.ModelSerializer.restoreNormalizerFromFileDeprecated(ModelSerializer.java:663)
			at org.deeple

[2018-03-22 08:57] AlexDBlack commented on #4822
OK, so I see the problem here: the data pipeline and network configuration are fine in isolation, but are mismatched
your data pipeline produces sequence data for both the features and labels... but your network is configured for sequence inputs (i.e., RNN layers) and non-sequence labels (i.e., OutputLayer)

Assuming your %d_labels.csv files have just one line each (i.e., a single label), your bes

[2018-03-22 08:57] #4822 closed

[2018-03-22 09:52] AlexDBlack commented on #4825
OK, so here's what's going on:
[code]

We can't read a zip file directly from a stream - so we copy it entirely to a temp file, then read from the temp file.
Input streams can't in general be reset (the .reset() method doesn't count), so it's in practice only possible to read from them once. The restore method closes the stream.
When you try to restore the normalizer, it *should* give you an excep

[2018-03-22 09:53] AlexDmitriychuk opened #4826 "ComputationGraph persisting problems"
#### Issue Description
encountered:
Persisted computation graph with updater restart fitting after load from file.
expected:
continue fitting

#### Version Information

dl4j version: 0.9.1
platform: linux

ANN based on dl4j example CnnSentenceClassificationExample

logs:

[2018-03-22 10:03] AlexDBlack commented on #4826
Can you please provide some code to reproduce this? Something isolated that I can easily run would be great.
Unfortunately there isn't enough enough information here to identify the cause of the problem and reproduce it.
Thanks!

[2018-03-22 11:04] AlexDBlack commented on #4825
Given the explaination given above, and the updates in the following PR - I'm closing this.
https://github.com/deeplearning4j/deeplearning4j/pull/4827

[2018-03-22 11:04] #4825 closed

[2018-03-22 11:04] shyrma commented on #4818
Yes, it is mistake. However as you may note we use correct calculation on my branch.
https://github.com/deeplearning4j/libnd4j/blob/c4d3a654e2b939aa3024fc86d7252a284b7118b2/include/ops/declarable/generic/convo/deconv2d.cpp#L99

We'll update master, once the remaining work (on conv ops) will be done.

[2018-03-22 11:07] AlexDBlack commented on #4818
Great, thanks. Mind re-running the testDeconvolution2D test and testSeparableConv2D (also seeing new issues there as of last couple of days) at some point to confirm it's fixed?
Or ping me when it's ready and I'll build using your branch and run, if that's easier...
https://github.com/deeplearning4j/deeplearning4j/blob/ff4d5192f33b2c96cdc2212749e023321b0f4e67/deeplearning4j-core/src/test/java/org/

[2018-03-22 11:25] TristanMeng commented on #4177
my sparkw2v can run normally on spark local, but standalone can not.

[2018-03-22 11:57] up-to-you opened #4828 "Deeplearning4j vs Tensorflow performance"
Are there any relevant performance benchmarks for current year in comparison to Tensorflow framework ?

[2018-03-22 12:22] AlexDmitriychuk commented on #4826
ok, I've created the patch for dl4j example https://github.com/deeplearning4j/dl4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/convolution/sentenceclassification/CnnSentenceClassificationExample.java

[compGraphTestPatch.patch.txt](https://github.com/deeplearning4j/deeplearning4j/files/1837468/compGraphTestPatch.patch.txt)

[2018-03-22 12:42] shyrma commented on #4818
If you don't mind I would like to finish my work (currently I'm working on sconv) first, it will not take a lot of time. I will inform when it is ready.

[2018-03-22 13:48] zvreifnitz commented on #4614
@AlexDBlack I sincerely apologise, I misunderstood the content, so I read "recurrent" as network type and not as "unwinding" the cell.

[2018-03-22 16:11] rexlaw412 opened #4829 "Implement Layer Normalization"
#### Issue Description

Do Layer Normalization provided by DL4j?
Or any replacement of it?

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version : 0.9.1

[2018-03-22 22:31] shyrma commented on #4818
Now deconv/sconv are ready,  at least they passes through C++ tests (on Linux).

deconv - https://github.com/deeplearning4j/libnd4j/blob/shyrma_data_format/include/ops/declarable/generic/convo/deconv2d.cpp

sconv - https://github.com/deeplearning4j/libnd4j/blob/shyrma_data_format/include/ops/declarable/generic/convo/sconv2d.cpp

However corresponding pr is failed on Jenkins due to some (unrecogniz

[2018-03-23 00:53] AlexDBlack commented on #4614
@zvreifnitz sure, no worries - thanks :)

[2018-03-23 01:14] AlexDBlack commented on #4829
Layer normalization (as in https://arxiv.org/abs/1607.06450 ) is not yet supported in DL4J.
I'll mark this as a feature request / enhancement - not sure if/when we'd get to it implementing it - but would love a contribution/pull request, if you are up to the challange.

[2018-03-23 02:27] jariojose commented on #3910
Did you solve the problem? I have the same error...

[2018-03-23 05:03] raver119 commented on #3910
Can you please give us more details about your environment? Members of our team were unable to reproduce this issue...

[2018-03-23 05:37] AlexDBlack commented on #4826
Thus far I'm unable to reproduce any sort of a problem here - though I haven't exactly run your unmodified code (I don't exactly have 10 hours to debug this here...) - I had to cut down the number of epochs.

Now, it *looks* like you are training for some number of epochs (your code has N=20 epochs, your comments have 151 epochs total?) saving + restoring the model, then training for N more epochs

[2018-03-23 05:37] #4826 closed

[2018-03-23 09:57] AlexDmitriychuk commented on #4826
Actually model I use learn further if I don't restart it, so learning process reached epoch 215.
So now I can't persist model and continue training after restoring from file. Nice feature but it is not working.

[2018-03-23 10:53] Ritaplfigueiredo commented on #2899
Hello @Mioh could you describe in more detail the achitecture that solved your issue? Getting similar error trying to combine CNN with LSTM. Thank you in advance,

Rita

[2018-03-23 14:39] strelec opened #4832 "NaN in labels NDArray should represent irrelevant value, meaning no gradient and no loss."
Currently, there is no easy way to tell the training process that you just do not care about certain outputs of the neural network.

Expected:
[0.3, 1, 0, 1] - neural network output
[NaN, 1, 0, NaN] - labels
^ zero loss, perfect match

Actual:
NaN loss.

[2018-03-23 17:15] sorensf opened #4833 "Dl4j not cleaning up temporary files"
#### Issue Description
I noticed I had a lot of files "restore1254325221multilayer" (totalling about 80 gigabytes) in my temporary files folder (windows: C:\Users\<USERNAME>\AppData\Local\Temp linux (If i remember correctly): /var/tmp), which seems to be generated by dl4j whenever a network is loaded to memory.

The ones generated within a JVM is deleted if the JVM terminates nicely (e.g. the prog

[2018-03-23 17:18] sorensf commented on #4833
Source chat history: https://gist.github.com/sorensf/ec1307157b6bf55db786522eb5e30dc4#file-2018-03-23-14-30-17-30-chat-txt

[2018-03-23 17:24] sorensf commented on #4833
I would be very interested if there exists a "safe" workaround, e.g. run a service that deletes the temp folder every 5 minutes. But I'm not sure if the files are actively being used so this might break something.

[2018-03-23 19:04] treo commented on #4832
Actually there is: Masking. Instead of conflating Labels with Non-Label information, you instead use masking to set what is relevant (1) or not relevant (0).

[2018-03-23 20:08] strelec commented on #4832
1. Masking does not work with softmax activation.
2. Because mask is applied after the activation function is computed (I have checked the source code), it is not apropriate here. Because big values that are masked, alerady affected the output.

[2018-03-24 00:11] strelec commented on #4828
With the XTU compiler for tensorflow, the speed difference probably is somewhere in the range of 10x.

[2018-03-24 00:13] strelec opened #4834 "Add a list of Kaggle competitions that were won with DL4j."
Along with code repositories, so people can learn and study the code.

[2018-03-24 00:17] raver119 commented on #4834
Sorry, how is it related to dl4j team?

[2018-03-24 00:19] raver119 commented on #4828
Could you please post actual model, and timing for it?

[2018-03-24 00:21] raver119 commented on #4828
Also: what's XTU?

[2018-03-24 00:29] strelec commented on #4828
Sorry, meant XLA.

[2018-03-24 00:29] raver119 commented on #4828
I see. Could you please post actual model, and timing for it, and hardware spec?

[2018-03-24 00:30] strelec commented on #4834
It would fit the extensive documentation you have.

[2018-03-24 00:35] crockpotveggies commented on #4828
@strelec can you please post a tensorflow benchmark along with your model config, hardware, etc.? also, what DL4J numbers are you referencing?

[2018-03-24 03:38] #4834 closed

[2018-03-24 03:38] eraly commented on #4832
Using the softmax with masking like that would not give the result you intend. Wondering if you don't care about certain outputs and you are training for classification (assumed based on softmax) why wouldn't you use sigmoid with binary cross entropy? What would work would be to replace the NaN with zeros in the labels and mask the way Treo says but without using softmax.

[2018-03-24 07:07] AlexDBlack commented on #4813
Confirming that there are some issues here - ParallelInference can't handle variable length time series (see testParallelInferenceVariableLengthTS() added here: https://github.com/deeplearning4j/deeplearning4j/pull/4836)

[2018-03-24 09:27] treo commented on #4833
That problem is already fixed on master.

As a workaround, I think, you should be able to just copy the current version of https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-nn/src/main/java/org/deeplearning4j/util/ModelSerializer.java into your project, and use that.

[2018-03-24 09:32] treo commented on #4832
That's not quite right. What you see is that masking is applied after calculating the individual loss, the overall example loss is calculated at a later point: https://github.com/deeplearning4j/nd4j/blob/master/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/lossfunctions/impl/LossMCXENT.java#L113-L126

And as the gradient is calculated with respect to each output, masking als

[2018-03-24 10:11] AlexDBlack commented on #4813
Depending on the case, we have a few options here.

For the CNN case, really the only option is "don't batch if the shapes are different". In *some* architectures we might be able to do something more intelligent, but I can't see this working reliably in general.

For the RNN case, the naive solution ("don't batch if the shapes are different") will work well (at least if we ignore performance).
"B

[2018-03-25 07:51] shyrma commented on #4818
Hi, Alex.
Now everything works well and new versions of sconv and deconv are in master branch.

[2018-03-25 21:40] reckart opened #4839 "Lombok dependency should not be transitive"
#### Issue Description

According to https://github.com/rzwitserloot/lombok/issues/1629#issuecomment-376005025 the lombok dependency should not be leaked out as a transitive dependency to code which makes use of DL4J.

The presence of lombok as a regular dependency exposes the lombok annotation processor to downstream builds which currently causes problems with Java 10. However, as stated in the c

[2018-03-25 22:20] agibsonccc commented on #4839
We can fix this with the release this week. @saudet thoughts here?

[2018-03-25 23:14] AlexDBlack commented on #4826
So now I can't persist model and continue training after restoring from file. Nice feature but it is not working.

To be blunt: I'm not seeing an issue here that would indicate a bug. Though to be honest it's hard to decypher exactly what the expected behaviour is from your code.

If you suspect there's a legitimate issue here, here's what I'd like to I can reproduce it:
Give me some code that doe

[2018-03-25 23:20] #4815 closed

[2018-03-26 00:50] AlexDBlack commented on #4818
To confirm: no more gemm-related crashes on separable and deconvolutional layers, after building the full stack (master branch) today.

However, I am still seeing some gradient check failures on deconv (again, they were passing before the recent round of changes - say a week or two ago).

[code]

I will look into this more now and work out what's up.

[2018-03-26 01:27] #4818 closed

[2018-03-26 01:28] AlexDBlack commented on #4818
Confirming this as fixed - the other gradient check failures aren't showing up any more (not sure what's up there, but they weren't real issues anyway).

As for Deconv2d: backprop was definitely using the wrong output size calculation still.
I have fixed that here: https://github.com/deeplearning4j/libnd4j/pull/838

[2018-03-26 02:58] saudet commented on #4839
@reckart We just need to specify `<optional>true</optional>` on the dependency, right? If that's the only thing, that sounds good to me.

[2018-03-26 03:01] hy-2013 commented on #3737
I have the similar bug as @Dathiou. @AlexDBlack can you explain it and solve the bug?

[2018-03-26 03:09] agibsonccc commented on #3737
@hy-2013 I'm closing this. This for the 3rd time now is not a bug. It's a warning. Your logging is relative to your slf4j implementation on the backend.

[2018-03-26 03:17] hy-2013 commented on #4181
I have the similar bug as @Dathiou. @huitseeker can you explain it and solve the bug?

[2018-03-26 03:46] raver119 commented on #4761
Quick update: this is definitely some kind of race condition. Bug isn't reproducible on Azure K80 gpu, and isn't reproducible in debug mode on my desktop.

[2018-03-26 04:57] truonghoang opened #4841 "Layer-wise Adaptive Rate Scaling (LARS) implement"
#### Issue Description

I want reduce time for train.
And on this paper help us : https://arxiv.org/pdf/1708.03888.pdf
or https://research.fb.com/publications/accurate-large-minibatch-sgd-training-imagenet-in-1-hour/

#### Contributing

How to implement the LARS algorithm for my model (AlexNet) ?
Or will you implement (enhancement) this problem ?

Thanks.

[2018-03-26 08:52] shyrma commented on #4818
Thanks a lot.
I wonder how I missed to replace calcOutSizePool2D on calcOutSizeDeconv2D
O_o
my apologies

[2018-03-26 11:31] reckart commented on #4839
@saudet according to @victorwss yes -- I guess it should do the trick, although https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html says that optional is not the best solution. The "provided" scope could be an alternative.

My understanding is that the lombok JAR provides some annotations that you need during the build process but not afterwards (i.

[2018-03-26 12:12] bagolysz opened #4843 "Conv2D from keras support"
Hi there!

I'm trying to load a pre-trained keras model using DL4J and I get the below exception:
Unsupported keras layer type Conv2D. Please file an issue at http://github.com/deeplearning4j/deeplearning4j/issues.

I understood from previous issues (posted on March 2017 #3105), that Keras 2 was not supported back then.

I would like to ask, will things change soon, or I better look for another op

[2018-03-26 12:17] agibsonccc commented on #3105
Just use snapshots. http://deeplearning4j.org/snapshots  (as it says in the other issue)

[2018-03-26 12:17] agibsonccc commented on #4843
Just use snapshots. http://deeplearning4j.org/snapshots (as it says in the other issue)

[2018-03-26 12:17] #4843 closed

[2018-03-26 12:57] tartrout opened #4844 "Backword compatibility of RNN regression is broken in 0.9.1 (compared to 0.7.2)"
#### Issue Description

Prerequisites. Download the well known oreilly-book-dl4j-examples (https://github.com/deeplearning4j/oreilly-book-dl4j-examples/blob/master/dl4j-examples/)

Step 1. Build the oreilly-book-dl4j-examples (deeplearning4j Version 0.7.2 is stated in pom.xml). Run MultiTimestepRegressionExample example class. It works like a charm - the predicted data is very close to test one (s

[2018-03-26 13:01] agibsonccc commented on #4844
Closing this, I highly doubt this is actually a problem in practice. I can't even tell how to reproduce this (no code) You can try snapshots to see what it does, but beyond that we'd need more details. I highly doubt it's "broken" this seems really arbitrary given there's more than enough folks who have done fine with it even on 0.9.1

[2018-03-26 13:01] #4844 closed

[2018-03-26 13:17] sjaiswal25 opened #4845 "dl4j installation issues"
#### Issue Description
running the mvn clean install throws errors.

Please describe our issue, along with:
- expected behavior
![dl4j](https://user-images.githubusercontent.com/37173657/37908249-45df1a4e-3125-11e8-8ef7-b491c2fef865.png)

- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version 0.9.1
* platform informati

[2018-03-26 14:07] bagolysz opened #4846 "InputType problem when reading pre-trained Keras model"
I am trying to load a Keras model from json config file. Maybe there is a problem recognizing the Input Type, as my data is formatted as **(d=1, h=48, w=48)**, so channels go first, but when reading from json, it tries to put channels last: **Input type = InputTypeConvolutional(h=1,w=48,d=48)**

This line of code
`ComputationGraphConfiguration conf = KerasModelImport.importKerasModelConfiguration(

[2018-03-26 14:17] Yu-Hang commented on #4693
@saudet @jrmerwin  Any updates on this issue guys?

[2018-03-26 14:24] #4846 closed

[2018-03-26 14:43] maxpumperla commented on #4846
@bagolysz I'm curious, what happened?

[2018-03-26 15:12] bagolysz commented on #4846
@maxpumperla I tried to create and save the same model from Keras using "channels_last" configuration setup. This way I could import it to Java without problems. So, I thought I will go with it that way.

[2018-03-26 16:01] tomthetrainer commented on #4845
Hi @sjaiswal25 ,

So you are doing an install of our examples, with no modification to the pom.xml ?

Or did you modify the pom.xml for cuda use?

What version of maven?

Java 8?

[2018-03-26 16:14] raver119 commented on #4845
Yes, for first screenshot - we need to know maven/java versions.

For second screenshot - project should imported into intellij as maven project.

[2018-03-26 16:44] sjaiswal25 commented on #4845
I have done no modification to the pon.xml file. I have cuda 9.0 installed.

Regards
Shubham Jaiswal

On Mon 26 Mar, 2018, 9:32 PM tomthetrainer, <notifications@github.com>
wrote:

[2018-03-26 16:46] sjaiswal25 commented on #4845
I am using Java 9.0.4 and maven 3.5.0
I have used the instructions as told in the tutorials for using dl4j with
intellij. I imported the project as a maven project.

Regards,
Shubham Jaiswal

On Mon 26 Mar, 2018, 9:44 PM raver119, <notifications@github.com> wrote:

[2018-03-26 16:50] raver119 commented on #4845
I see. Please try Java 8 instead.

[2018-03-26 16:53] sjaiswal25 commented on #4845
Ok. For cuda 9.0 what modifications must I make?

Regards,
Shubham Jaiswal

On Mon 26 Mar, 2018, 10:21 PM raver119, <notifications@github.com> wrote:

[2018-03-26 16:53] raver119 commented on #4845
Get it running on CPU first.

[2018-03-26 16:56] sjaiswal25 commented on #4845
Here. Sure.Thanks a lot.

Regards
Shubham Jaiswal

On Mon 26 Mar, 2018, 10:24 PM raver119, <notifications@github.com> wrote:

[2018-03-26 23:44] AlexDBlack commented on #4181
@hy-2013 "similar" doesn't mean it's the same. Perhaps open a new issue with your ntetwork and full configuration. We can't say much without that information.

[2018-03-27 02:47] reckart commented on #4839
You're welcome! Thanks for the fix!

[2018-03-27 02:48] saudet commented on #4693
Working on docs and examples here:
https://github.com/deeplearning4j/deeplearning4j-docs/pull/7/
https://github.com/deeplearning4j/dl4j-examples/pull/650

[2018-03-27 02:59] ClnSchlssr opened #4848 "Keras Inception import error: Paramter gamma does not exist in weights"
#### Issue Description

I'm trying to import an inception v3 model made in keras using

`KerasModelImport.importKerasModelAndWeights(modelFile.getAbsolutePath(),false)
`
I get the error: InvalidKerasConfigurationException: Parameter gamma does not exist in weights.
The exception gets thrown when trying to set the gamma parameter which doesn't seem to get loaded properly (unlike beta, moving_mean a

[2018-03-27 04:37] #4813 closed

[2018-03-27 04:49] veerapatyok opened #4849 "exception when import CuDNNLSTM (keras) model to DL4J"
I have exception when import CuDnnLSTM h5 and json file from keras into DL4J

this is my code
[code]
DL4J version 0.9.1

[2018-03-27 07:04] #4839 closed

[2018-03-27 08:37] bergwerf opened #4850 "Implement cropping 2D layer"
#### Issue Description

I want to use a cropping layer to remove rows/columns from an input nd array. In my case this only  concerns 2D cropping. I expect this layer to have similar functionality as Cropping2D in Keras, meaning that for a 4d tensor of (batch, width, height, channels) I can crop the width and the height at the beginning and the end by any number of elements.

#### Version Informati

[2018-03-27 11:09] maxpumperla commented on #4850
I'm totally in on this, as we need it for keras import as well. will tackle it after the next release.

[2018-03-27 11:34] rodentooth opened #4854 "Resource 'TicTacToe' cannot be found."
Running the TicTacToe example doesn't work out of the box. It gives me the following error:

[code]

[2018-03-27 12:46] maxpumperla commented on #4848
@ClnSchlssr can you provide me with an h5 file directly?

[2018-03-27 13:18] maxpumperla commented on #4849
this has been fixed some time ago, you find this in 0.9.2-SNAPSHOT (we try to have a release this week as well)

[2018-03-27 13:18] #4849 closed

[2018-03-27 16:33] sjaiswal25 commented on #4845
It worked with Java 8. Thanks again.
 How to make it working with cuda 9?

Regards,
Shubham Jaiswal

On Mon 26 Mar, 2018, 10:23 PM shubham jaiswal, <ece.09.83@gmail.com> wrote:

[2018-03-27 17:42] tomthetrainer commented on #4845
To switch from CPU to GPU see this document,

https://deeplearning4j.org/gpu

If that works, please close this issue.

If not let us know the details.

[2018-03-27 18:03] raver119 commented on #4845
Unfortunately you can't use CUDA 9 with dl4j 0.9.1. You'll have few options:
- Use snapshots, CUDA 9 and 9.1 are supported there
- Downgrade to CUDA 8 and use dl4j 0.9.1
- Wait for next release, which should be available soon

[2018-03-27 18:03] #4845 closed

[2018-03-27 18:25] ClnSchlssr commented on #4848
Sent to the email listed on your profile

[2018-03-27 18:43] tomthetrainer commented on #4848
I was able to import inceptionv3 into dl4j with the following combination of keras and dl4j.

Note this was a while ago, Keras 1.

I used a theano backend.

This might not help  @maxpumperla in patching dl4j, but it might help @ClnSchlssr to get a working version.

This should be a dl4j version of inceptionv3 saved using modelserializer.

See the files here.
https://github.com/SkymindIO/Demos-for-

[2018-03-28 00:27] AlexDBlack commented on #4850
The DL4J layer should be trivial to implement... I was going to try to squeeze this one in before release (i.e., today) - even if we (well, you @maxpumperla ) don't have time to implement keras import for it.

[2018-03-28 01:52] sjaiswal25 commented on #4845
Thank you. I will try them.

Regards,
Shubham Jaiswal

On Tue 27 Mar, 2018, 11:34 PM raver119, <notifications@github.com> wrote:

[2018-03-28 03:24] acharya1981 opened #4860 "How to Reshape Dense Layer to be 2D layer"
So that I can apply Deconvolution2D layer to perform it and do more..?

[2018-03-28 03:37] AlexDBlack commented on #4860
I don't understand the architecture you want to build.
Can you explain in more detail what you are trying to do? Ideally, if you've got a paper or architecture you can link to, that would help. If not: describe the architecture. For example, is the output of the dense layer feeding into the deconvolution2d layer or something (and if so - why?)

[2018-03-28 03:43] acharya1981 commented on #4860
Here is the lasagne/theano/python model I wanted to use in deeplearning4j.

input_shape=(batch_size,1,time_context,feat_size)

    #input layer
    l_in_1 = lasagne.layers.InputLayer(shape=input_shape, input_var=input_var)

    #vertical convolution layer
    l_conv1 = lasagne.layers.Conv2DLayer(l_in_1, num_filters=50, filter_size=(1,feat_size),stride=(1,1), pad='valid', nonlinearity=None)
    l_c

[2018-03-28 05:49] AlexDBlack opened #4862 "SeparableConvolution2D execution fails with CuDNN"
Running the following gradient check with CuDNN results in an exception:

https://github.com/deeplearning4j/deeplearning4j/blob/8128ef586ba7bcf717dbcb1923725be3161ef317/deeplearning4j-core/src/test/java/org/deeplearning4j/gradientcheck/CNNGradientCheckTest.java#L908-L981

[code]

[2018-03-28 07:20] saudet commented on #4749
@raver119 I'm also getting that stack trace on my machine. Do you know what changed with respect to the compression algorithms?

[2018-03-28 08:09] AlexDBlack opened #4863 "CUDNN_STATUS_BAD_PARAM exceptions on some gradient checks"
A number of the CNN gradient checks here, when run on CuDNN give ```CUDA error = 3: CUDNN_STATUS_BAD_PARAM``` on forward pass

https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-core/src/test/java/org/deeplearning4j/gradientcheck/CNNGradientCheckTest.java

[2018-03-28 09:47] treo commented on #4185
I like the preprocessor idea. It would certainly simplify the conversation to just "Add BatchBalanceCheckPreprocessor to your DataSetIterator and take a look at what it outputs".

When called it should then just log the distribution of labels. I wouldn't expect any further usage beyond that. It should be a diagnostic tool, not something that people leave on their iterator over multiple epochs.

[2018-03-28 09:51] maxpumperla commented on #4848
thanks @ClnSchlssr, I'll look into this soon

[2018-03-28 10:12] vascokk commented on #4862
Related to this issue, I guess - the number of output channels from SeparableConvolution2D is equal to the depthMultiplier, instead the nOut value, which is not the supposed behavior.

[2018-03-28 10:43] maxpumperla commented on #4850
@bergwerf cropping2D support is in master now, tomorrow in snaphots

[2018-03-28 10:43] #4850 closed

[2018-03-28 11:02] AlexDBlack commented on #4863
See also: https://github.com/deeplearning4j/deeplearning4j/pull/4864

I've been digging into this for a number of hours - so far, no luck.
This is with the latest CuDNN 7.1 with CUDA 9.1 (inc. 3 updates) on Windows 10 (Titan X)

We're basically getting this on a number of the unit tests:
[code]
(note the user specified + implicit gemm is the fallback, originally it was set to PREFER_FASTEST)

Why?

[2018-03-28 11:22] bergwerf commented on #4850
Very nice! Is there a separate issue I can subscribe to to know when Keras
imports support cropping?

At least for now I'm importing models from Keras because of portability,
implementation speed, and because writing custom loss functions is so neat
in Keras (I hope importing Keras models with custom loss functions already
works?, is there a place where I can find all Keras features supported in
i

[2018-03-28 11:29] AlexDBlack commented on #4863
Yeah, SAME mode padding - different top/left and bottom/right values definitely seems like the cause here...

Note that CuDNN only supports 2 padding values - not 4. Which is why we pass only the top/left values.
Note also that when top/left and bottom/right values differ, they differ by exactly 1: i.e., if top and bottom padding differ, then bottom padding is equal to top padding + 1.

(I'm guess

[2018-03-28 11:36] AlexDBlack opened #4866 "CuDNN - fix support for dilation > 2"
https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-cuda/src/main/java/org/deeplearning4j/nn/layers/convolution/CudnnConvolutionHelper.java#L124-L128

For the dilation 3+ case, we can *possibly* just manually specify an appropriate algorithm for CuDNN to use. CuDNN may not select an appropriate algorithm automatically, hence the failure mentioned at the link above.

[2018-03-28 12:20] maxpumperla commented on #4850
Let me rephrase: Importing Keras Cropping 2D is now on master (see #4865).

Custom losses are not supported, that's very difficult to do right.

Supported features are here: https://deeplearning4j.org/keras-supported-features (need to add cropping now)

[2018-03-28 12:24] bergwerf commented on #4850
Ok, thanks!
In that case I will try to avoid custom loss functions. I was mainly using weighted cross entropy, perhaps this is implemented as standard case? I will investigate the DL4J loss functions features a bit further.

[2018-03-28 13:24] maxpumperla commented on #4850
@bergwerf we have this "one level down" https://github.com/deeplearning4j/nd4j/blob/cc33606b2c0bc297952fda79d0ff1962cde78c46/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ops/impl/accum/WeightedCrossEntropyLoss.java

If you feel up to adding it to DL4J losses, you can give it a shot.

[2018-03-28 15:19] raver119 commented on #4749
Nothing changed AFAIK, but i'm seeing the same issue in nd4j-tests, so i'm going to check & fix that once i'm done with cnn gradients problem.

[2018-03-28 17:19] #4860 closed

[2018-03-28 18:40] raver119 commented on #4761
Update:
- definitely not caused by workspace mode
- original idea that it might be caused by im2col/col2im/pooling2d ops wasn't confirmed :/
- layers themselves look ok.

[2018-03-28 22:43] saudet commented on #4749
ok, so it is an issue with compression, good to know!

[2018-03-28 23:05] bjonnh commented on #719
loadTxtVectors say: " Please, consider using readWord2VecModel() or loadStaticModel() method instead"

Does that work with Glove too?

[2018-03-29 00:01] raver119 commented on #719
Yep, should work.

With best regards,
Vyacheslav K.

[2018-03-29 01:09] #4863 closed

[2018-03-29 03:51] raver119 commented on #4761
Update:
- definitely might happen on FF or BP pass or both
- difference looks to be concentrated around Conv2D layer
- Conv2D layer produces different outputs given the same inputs.

[2018-03-29 03:51] raver119 commented on #4761
<img width="1680" alt="screen shot 2018-03-28 at 20 12 02" src="https://user-images.githubusercontent.com/12250879/38069152-bfc41468-32c9-11e8-9624-c83603a9d7ab.png">

[2018-03-29 05:44] AlexDBlack commented on #4769
Confirmed fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/4870

[2018-03-29 05:44] #4769 closed

[2018-03-29 11:41] Ritaplfigueiredo commented on #3770
Hello @AlexDBlack. I know this is a closed issue. However, I am getting the same error when trying to use CnnToRnnPreProcessor. I am producing my DataSetIterator with CnnSentenceDataSetIterator, which if minLength!=maxLength actually creates a 2D mask array instead of a vector.

How do I solve my error?

[2018-03-29 11:53] Ritaplfigueiredo opened #4873 "Received mask array with shape [miniBatchSize, maxLength]; expected vector."
#### Issue Description

Using the CnnSentenceDataSetIterator with data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz, trying to apply a CnnToRnnPreProcessor I get the following error:

- Received mask array with shape [miniBatchSize, maxLength]; expeced vector.

#### Version Information
* Deeplearning4j version: 0.9.1

[2018-03-29 13:42] maxpumperla commented on #3683
@mshpyl took a while, but it's in 0.9.2-SNAPSHOT now

[2018-03-29 13:42] #3683 closed

[2018-03-29 14:19] #3935 closed

[2018-03-29 14:31] maxpumperla commented on #4558
Hey @emc5ud we had an HDF5 fix recently (here: https://github.com/deeplearning4j/deeplearning4j/pull/4870), would you mind checking the import again with CUDA? I have a hunch this will fix it.

[2018-03-29 14:32] maxpumperla commented on #4824
@traboukos can you provide a minimal example as h5 file to reproduce this?

[2018-03-29 14:44] maxpumperla commented on #4744
Summoning @saudet :) this comes from our `Hdf5Archive` here:

https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/Hdf5Archive.java#L321-L323

Do you recall why we chose `100` here. It seems @blackredscarf has the problem or luxury of dealing with a very large HDF5 group. @saudet  Any intuition on what a good

[2018-03-29 14:45] maxpumperla commented on #4744
or better yet: an idea how to handle this a little more reliably (or even elegantly)?!

[2018-03-29 14:48] saudet commented on #4744
Actually that's from @turambar. I guess we can try to increase that to a 1000 maybe? :)

[2018-03-29 14:57] maxpumperla commented on #4744
haha, good number, good number. I'll test it

[2018-03-29 16:00] #4744 closed

[2018-03-29 16:01] maxpumperla commented on #4744
@blackredscarf I've increased the HDF5 buffer limit, your problem is gone.

but: your model now complains that Lambda layers aren't supported (which is correct, see: #4704 )

[2018-03-29 21:35] AlexDBlack commented on #3770
@Ritaplfigueiredo Open a new issue with more details, including code - I'm unable to help if I can't reproduce the problem. Thanks.

[2018-03-30 02:24] truonghoang commented on #4799
No problem.
I found a solution :
  + Train file:
[code]
   + Predict file :
`labels = FileUtils.readLines(new File(path, modelType  + "_labels.txt"));`

Thanks.

[2018-03-31 07:26] saudet commented on #4799
@truonghoang Please send a pull request with that against DataVec! :) Thanks

[2018-03-31 23:09] saraswat40 commented on #4873
Hello,

I ran this - CnnSentenceClassificationExample - with GoogleNews-vectors-negative300.bin.gz downloaded from here: https://drive.google.com/uc?id=0B7XkCwpI5KDYNlNUTTlSS21pQmM&export=download. If you are doing something else, could you please provide steps to reproduce this issue?

Thanks

[2018-04-01 20:27] saraswat40 commented on #4854
Hello,

I have a patch here. Can you give it a try?

Thanks

diff --git a/dl4j-examples/src/main/java/org/deeplearning4j/examples/tictactoe/PlayTicTacToe.java b/dl4j-examples/src/main/java/org/deeplearning4j/examples/tictactoe/PlayTicTacToe.java
index a3a5945..9c223d7 100644
--- a/dl4j-examples/src/main/java/org/deeplearning4j/examples/tictactoe/PlayTicTacToe.java
+++ b/dl4j-examples/src/main/java

[2018-04-01 20:28] saraswat40 commented on #4854
You will also need to run TicTacToeData to generate AllMoveWithReward.txt before running PlayTicTacToe

[2018-04-01 23:41] sheldonbean opened #4881 "Problems with ParagraphVectors and Cosine Similarity constantly being 1.0"
#### Issue Description

I am trying to make inferences from a trained corpus that contains paragraph vectors. I am using the example files from the example project. I am using the `simple.pv` file. Here is my code below:

    String inputFilePath = "C:\\Users\\Admin\\Downloads\\dl4j-examples-master\\dl4j-examples\\src\\main\\resources\\paravec\\simple.pv";

    TokenizerFactory tokenizerFactory =

[2018-04-02 00:20] agibsonccc commented on #4881
Your version is more than a year old. I'm closing this. Just upgrade please.

[2018-04-02 00:20] #4881 closed

[2018-04-02 14:45] jentfoo opened #4882 "KMeans implementation is slow"
I opened an issue on javacpp when this was discovered ( https://github.com/bytedeco/javacpp/issues/231 ).  There are currently some changes in `master` that will improve this situation, but even with those changes there is SIGNIFICANT gains that can be done on the deeplearning4j side as well.

I personally see a few options with this:
* Change the API to allow a create / dispose lifecycle so that

[2018-04-02 16:10] sascha08-15 commented on #1462
Facing the same issue here (not UI related). I did have a look at all hints and related bugs. I have the same issue wit hthe ScoreIterationListener.

Class ScoreIterationListener methid iterationDone says: Score at iteration 0 is NaN
This holds true for subsequent iterations and does not go away (tried until 30000).

What I did so far is

- reviewed network config, reduced number of nodes in the n

[2018-04-02 16:12] raver119 commented on #1462
@sascha08-15 your problem isn't a bug or something. your net just doesn't learn, and math goes off somewhere internally. Check those 2 links above in this issue.

[2018-04-02 16:13] raver119 commented on #1462
p.s. hey @crockpotveggies ! :)

[2018-04-02 16:40] crockpotveggies commented on #1462
Also suggest giving https://github.com/deeplearning4j/Arbiter a shot here since you have a few hyperparameters that could benefit from a search.

[2018-04-02 22:13] saudet commented on #4330
This is probably fixed with https://github.com/deeplearning4j/nd4j/pull/2798

Could you give it a try with 0.9.2-SNAPSHOT?

[2018-04-03 01:14] AlexDBlack commented on #4821
Closing this due to inactivity from reporting user. I've checked and method itself (and tests) look fine.

[2018-04-03 01:14] #4821 closed

[2018-04-03 01:52] rothn commented on #3528
Why would you want to use this with multiple epochs or iterations though?

[2018-04-03 01:54] raver119 commented on #3528
1) Closing this since issue fixed long ago.
2) Not necessary, it depends on corpus size etc. And no, epoch ends once training corpus ends. 1 epoch = 1 pass over training corpus.

[2018-04-03 01:54] #3528 closed

[2018-04-03 08:05] traboukos commented on #4824
Hello,

Attached is a zip file with python code to train a network that reproduces this issue. The zip file also contains an hdf5 file of a trained model. The summary of the mode in Keras looks like this.

[code]

[shared_embeddings.tar.gz](https://github.com/deeplearning4j/deeplearning4j/files/1870681/shared_embeddings.tar.gz)

[2018-04-03 09:44] AlexDBlack commented on #4828
I'm closing this.

@up-to-you I'm not aware of any exhaustive DL4J vs. TF benchmarks. Note that both frameworks can make use of CuDNN for the computationally demanding components of deep learning; consequently I wouldn't expect there to be a large difference in most ops, with a recent version of DL4J that is properly configured.

[2018-04-03 09:44] #4828 closed

[2018-04-03 09:49] AlexDBlack commented on #4873
Right, the unmodified example runs as expected. Furthermore, there isn't any reason to use a CnnToRnnPreProcessor with a CNN configuration. Unless the goal is to use it as input for a RNN instead (note the iterator was never designed for that).

Note that we have a RNN + Word2Vec example here:
https://github.com/deeplearning4j/dl4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4

[2018-04-03 09:49] #4873 closed

[2018-04-03 10:48] sorensf commented on #4833
Ok, reading your comment I decided to read the two versions of ModelSerializer.java, and it seems that the main change is that there is a finally-block which attempts to delete the file - after the network has been fully restored. In my setup it was somewhat difficult to include the new version of ModelSerializer.java, so I decided to make the workaround in my code. Leaving this workaround here fo

[2018-04-03 10:56] AlexDBlack opened #4884 "Docs: fix links to iterator source after source reorganization"
Links here are broken due to recent reorganization:
https://deeplearning4j.org/quickref#data-iter-util

[2018-04-03 11:11] crockpotveggies commented on #4884
Thanks for submitting this issue. We've migrated our docs to its own separate repository at [deeplearning4j-docs](https://github.com/deeplearning4j/deeplearning4j-docs). I've already migrated your issue and you can find it at https://github.com/deeplearning4j/deeplearning4j-docs/issues/10.

I'll be closing this, but feel free to comment and re-open if this is not what you intended.

*This was an a

[2018-04-03 11:11] #4884 closed

[2018-04-03 11:12] #4862 closed

[2018-04-03 11:37] AlexDBlack commented on #4833
Yeah, I'll close this - thanks for reporting.

[2018-04-03 11:37] #4833 closed

[2018-04-03 15:55] treo opened #4887 "Restoring a model from the class path of an uberjar fails"
I'm trying to load a model from the classpath of an uberjar, and I think https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-nn/src/main/java/org/deeplearning4j/util/ModelSerializer.java#L825 is wrong, as the available() method always returns 0 there

Yet if I forcibly fill a BufferedInputStream (via calling the private fill method), if works fine. So this method of checkin

[2018-04-03 17:55] Ritaplfigueiredo opened #4888 "CNN + LSTM parallel network"
#### Issue Description

Can't implement a parallel network of CNN and LSTM because I can't merge the outputs from both networks.

I am using the IMDB database, and calling the dataset iterators like in the dl4j examples for the respective networks (CnnSentenceDataSetIterator for CNN and SentimentExampleIterator for LSTM).

The networks are as shown below:

[code]

[code]

I wanted to concatenate t

[2018-04-03 23:35] AlexDBlack commented on #4887
Fixed here by removing the method for now: https://github.com/deeplearning4j/deeplearning4j/pull/4889

[2018-04-03 23:35] #4887 closed

[2018-04-03 23:45] AlexDBlack commented on #4761
Confirmed fixed.

[2018-04-03 23:45] #4761 closed

[2018-04-04 01:50] saudet commented on #4749
Confirmed fixed, thanks to @raver119!

[2018-04-04 01:50] #4749 closed

[2018-04-04 10:00] Ritaplfigueiredo commented on #4888
Network I want to implement: https://arxiv.org/abs/1704.06125 however combining the CNN and LSTM "more organically than through an ensemble model" like in https://www.semanticscholar.org/paper/Finki-at-SemEval-2016-Task-4%3A-Deep-Learning-for-Stojanovski-Strezoski/58bea47564f4d2a58e625ed274dc3600a43edafb

[2018-04-04 14:50] Nickedude opened #4891 "Unable to import Keras model, error in hdf5 file"
#### Issue Description

Hi,

I haven't been able to find a post about this problem before, which is why I'm posting this now. I've created a model in Keras that i would like to import into dl4j. However, dl4j seems to be unable to read the hdf5 file. I've tried exporting the model as a whole to an hdf5 file and I've tried exporting the configuration to a json file along with the weights to hdf5 fi

[2018-04-04 17:01] topinju opened #4892 "Convolution1DLayer looking for dimension 2 for rank 2 NDArray"
#### Issue Description
Hi, i am trying to use Convolution1DLayer and Subsampling1DLayer with a dataset.
The dataset is made from a CSV file with 100 rows (examples) and 40 columns, the last columns contain the label : 0 or 1.
The dataset is split in training data (80%) and test data(20%).

- encountered behavior :
While using this layer :
                .layer(0, new Convolution1DLayer.Builder()

[2018-04-04 17:02] raver119 commented on #4892
But Conv1D expects 3D input...

[2018-04-04 17:12] topinju commented on #4892
Thanks raver, i saw the other issue but it look like it was before the update with conv1d layer.
Have you got an example of a working Convolution1DLayer with a dataset ?
Should i try to transform my time series to a 3D input ?

[2018-04-04 17:15] raver119 commented on #4892
There should be something in tests. And yes, you MUST feed conv1d with 3D input, that's what i've said above.

[2018-04-04 17:15] #4892 closed

[2018-04-04 23:23] idc101 opened #4893 "DL4J helper code for spark-ml only supports pre-spark 2.0 classes"
#### Issue
Overall goal is to train a model using a Spark DataFrame (i.e. data is in Hive)
To convert a Spark DataFrame to dl4j DataSet there are some helper methods in
`org.deeplearning4j.spark.util.MLLibUtil`. Specifically these convert a `RDD<LabeledPoint>` to a DataSet.

However the `LabelledPoint`used is `org.apache.spark.mllib.regression.LabeledPoint` which is for Spark pre 1.x. In Spark 2.0

[2018-04-05 02:33] saudet commented on #4893
We can add a few more "facades" for that, like there is for DataFrame here:
https://github.com/deeplearning4j/DataVec/blob/master/datavec-spark/src/main/spark-1/org/datavec/spark/transform/DataRowsFacade.java
https://github.com/deeplearning4j/DataVec/blob/master/datavec-spark/src/main/spark-2/org/datavec/spark/transform/DataRowsFacade.java
What do you think?

[2018-04-05 05:45] jasonsian opened #4894 "Problems with readWord2Vec in Google App Engine"
Hi,

I had currently moved our environment to Google App Engine but faced issue while calling the method readParagraphVectors in org.deeplearning4j.models.embeddings.loader.WordVectorSerializer. I would really need some advice on what may go wrong as this piece of code is running perfectly fine in our local environment. You can see my error message below:
[code]

The piece of code at line 882 is a

[2018-04-05 05:49] raver119 commented on #4894
1) Please upgrade to 0.9.1 version for nd4j/dl4j/datavec
2) Please show full exception after that, if you'll still have it.

[2018-04-05 07:35] AlexDBlack opened #4895 "CPU/CUDA issues encountered on benchmark repo code"
Test machine:
Windows 10
32GB RAM
Titan X (Pascal)
CUDA 9.1, CuDNN 7

Benchmark repo as of 31faccbff72ce9a4dcb951d460c9a7c1a3cccc00 (Merge pull request #19 from deeplearning4j/ab_backpropfix)

**CPU results**

BenchmarkCnn: All run with -Xmx4G -Dorg.bytedeco.javacpp.maxbytes=12G -Dorg.bytedeco.javacpp.maxphysicalbytes=12G

Works:
-batch 4 -model VGG16 -labels 1000
-batch 4 -model ALEXNET -labels 1

[2018-04-05 08:18] jasonsian commented on #4894
Hi Raver,

Thanks for the reply. After updrading the version from 0.8 to 0.9.1. I'm still hitting the same error.

`java.lang.NoClassDefFoundError: Could not initialize class org.nd4j.linalg.factory.Nd4j at org.deeplearning4j.models.embeddings.loader.WordVectorSerializer.readWord2Vec(WordVectorSerializer.java:878) ~[deeplearning4j-nlp-0.9.1.jar!/:na] at
org.deeplearning4j.models.embeddings.loader.

[2018-04-05 10:46] oguzserbetci commented on #3529
Hi thanks for that! SparkComputationGraph would be great.

[2018-04-05 11:24] AlexDBlack commented on #4543
Looks like this is resolved and can be closed.

[2018-04-05 11:24] #4543 closed

[2018-04-05 11:44] jasonsian commented on #4894
An update to the problem. After going through the detailed logs, I had traced this below error. This happens every time after a new deployment/restart, After hitting this error, the following errors will be the NoClassDefFoundError which I had mentioned earlier.

`java.nio.channels.OverlappingFileLockException: null at sun.nio.ch.SharedFileLockTable.checkList(FileLockTable.java:255) ~[na:1.8.0_131

[2018-04-05 13:43] agibsonccc commented on #3529
@dmmiller612 we'lll be doing a release within the next 24 hours. expect it soon thanks for the help!

[2018-04-06 04:37] AlexDBlack opened #4897 "Multi-GPU MNIST example issue with 2 GPUs and FP16 (no CuDNN)"
Looks like I'm getting 0 scores, all values predicted as 0 on FP16.
FP32 is fine.

Test machine:
Kubuntu 17.10
GTX970 x2, CUDA 9.1
Verson: 1.0.0-alpha (RC)

Logs: https://gist.github.com/AlexDBlack/4055ed710f82ee1754865ed9a8259902

[2018-04-06 04:38] raver119 commented on #4897
:/

[2018-04-06 04:39] raver119 commented on #4897
Is it reproducible with 1 GPU as well?

[2018-04-06 04:41] AlexDBlack commented on #4897
Yeah. 0 scores if I do export ```CUDA_VISIBLE_DEVICES=0``` first.

[2018-04-06 10:04] Ritaplfigueiredo commented on #4888
Hi Alex, don't worry with the delay!

Thank you for taking the time to answering! I will try your approach in the next few days and come back to you later, if a solution is achieved.

Thanks again :)

[2018-04-06 16:31] SimpleBrainCell opened #4898 "Save/Restore does not persist ADAM updater correctly"
## Issue Description
1) Train network with Adam updater with 10000 examples
2) Save network with `ModelSerializer.writeMode(model, location, true)`
3) Load network and run some validation examples, learning happened, validation succeeds
4) Start again, train the network with the same 10000 examples but saving and restoring every 1000 examples
5) Load the network, run some validations, learning was

[2018-04-06 17:25] SimpleBrainCell commented on #4898
I also tried with version 1.0.0-alpha, with the same results.

[2018-04-06 18:22] fincken opened #4899 "Keras import: shape issue with Embedding layer"
Hi.

I've got a model trained in keras that I'd like to use in DL4J, but I'm getting this error message when trying to import:
`Exception in thread "main" java.lang.IllegalStateException: Mis matched lengths: [4096] != [385024] - Array 1 shape: [32, 128], array 2 shape: [3008, 128]
	at org.nd4j.linalg.util.LinAlgExceptions.assertSameLength(LinAlgExceptions.java:42)
	at org.nd4j.linalg.api.ops.Base

[2018-04-06 19:16] maxpumperla commented on #4899
@fincken thanks for reporting this. that is due to improper handling of the `input_length` argument for keras embedding layers upon import. this causes the shape mismatch

4096 != 4096 * 94 and 32 != 32 * 94 when setting weights for the imported layer.

Thanks for providing the model as well, should make for a good unit test. I'll let you know about progress on this.

[2018-04-06 22:56] AlexDBlack commented on #4898
Can you provide the exact code you are using, so we can reproduce this bug?
I *might* be able to code something up to reproduced it based on your description, but if it's specific to your data, environment, or the way you are using ModelSerializer etc that might not be sufficient to reproduce it.

[2018-04-07 00:44] tom-adsfund opened #4901 "Move to Darknet for Transfer Learning example"
Darknet is much faster / more efficient than VGG (see paper in Darknet19 class comment). People want relevant practical examples, so seems like a good time to switch the example to use Darknet.

[2018-04-07 12:05] Wangmoubo1993 opened #4902 "ask for help"
#### Issue Description

Recent I want to use dl4j to rebuild a Python Project in [https://github.com/chengstone/movie_recommender](url)
but I have a question , Whether I can control the input and output size of the matrix ? if I can ,I want to know in which way I can do it.

and another question is whether the product  of  `nIn()` and `nOut()` is the scale of NN.

Thanks.

[2018-04-07 12:06] #4902 closed

[2018-04-07 12:06] agibsonccc commented on #4902
Please read the basic dl4j docs first and come back with a more concrete question. So far, all I'm seeing is lack of effort  here ;/

[2018-04-08 00:24] enragedginger opened #4903 "Various questions regarding new 1.0.0-alpha release"
Hello,

I'm very excited about the 1.0.0 release. I use DL4J from Clojure via [jutsu.ai](https://github.com/hswick/jutsu.ai) and decided to work on upgrading that library to support the 1.0 release. I ran into a few snags that I couldn't find documented in the release notes / migration guide. Any help would be appreciated.

1. Where did RBMs go? I found a commit that said "Remove RBMs" from back i

[2018-04-08 01:41] xinxu75 opened #4904 "Issue of ParagraphVectors.inferVector(String newtext)"
#### Issue Description

I'm running DL4J on my personal laptop, within Eclipse IDE. When I tried to use ParagraphVectors.inferVector to infer a batch of new texts, I consistently had the following problems:

1) If I saved the ParagraphVectors model to a file and then loaded the model from the same file to call ParagraphVectors.inferVector, I received the error message of "A fatal error has been de

[2018-04-08 01:51] saudet commented on #4904
Please try again with Deeplearning4j 1.0.0-alpha.

[2018-04-08 02:42] agibsonccc commented on #4903
@enragedginger we got rid of RBMs because they weren't being maintained in the first place.

Iterations is gone because  it also wasn't being used anyways. People use for loops.
Regularization is also implicit now.

And yes, all of the learning rates got moved in to the updaters.

[2018-04-08 02:42] #4903 closed

[2018-04-08 12:42] xinxu75 commented on #4904
I tried to upgrade to 1.0.0-alpha, however I found some big changes from v0.8 to v1, which causes my program no longer work

One example is org.deeplearning4j.text.sentenceiterator.labelaware.LabelAwareListSentenceIterator, which I cannot find in the new version, although your Javadoc still has this class?

Just wondering if you still have a similar class which allows iteration of each sentence (o

[2018-04-08 12:49] agibsonccc commented on #4904
Yes this is natural. Major version bumps tend to do this in any software you use. Check our release notes: http://deeplearning4j.org/releasenotes and updated examples: https://github.com/deeplearning4j/dl4j-examples/tree/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/nlp/paragraphvectors - we have more than enough for  you to migrate. Beyond that, I am closing this. There is nothin

[2018-04-08 12:49] #4904 closed

[2018-04-08 14:34] SimpleBrainCell commented on #4898
Sure, no problem, I will work on the simplest piece of code that reproduces the problem.

[2018-04-08 15:31] enragedginger commented on #4903
That's good to know. Some of the code I was updating had tests that were using RBMs so I'll just swap those out with VAEs. I really haven't used them myself. I was just curious what the alternative was these days. As for the iterations and regularization parameters, I figured that was the case. All of the DL4J examples I read were setting iterations to 1 anyways, and regularization felt like a sil

[2018-04-08 17:39] enragedginger opened #4906 "CudnnLSTMHelper ClassNotFoundException"
#### Issue Description

I'm getting a CudnnLSTMHelper ClassNotFoundException warning while using the latests 1.0.0-alpha DL4J build. I can confirm that this class is not on my classpath, but I'm not sure why. Luckily, training continues as usual, but I was under the impression that I'd be able to use the latest version of CUDA and CUDNN in all its glory with the newest DL4J release. Am I missing s

[2018-04-08 17:39] raver119 commented on #4904
Can you please post the code that reproduces this issue with 1.0.0-alpha version?

With best regards,
Vyacheslav K.

[2018-04-08 17:49] enragedginger commented on #4906
Nevermind, I figured it out. I was missing this `[org.deeplearning4j/deeplearning4j-cuda-9.1 "1.0.0-alpha"]`.

For some reason, when reading dependencies, my brain thinks `org.deeplearning4j` and `org.nd4j` are equivalent.

It's working now, and faster than ever!

[2018-04-08 17:49] #4906 closed

[2018-04-08 23:46] enragedginger commented on #4903
@AlexDBlack Yeah, thanks for that. I had read through that whole page last night up until the Arbiter section. I was focused on / excited about so many of the changes there that I must have completely  missed the three lines that very clearly state `.iterations(int) method has been removed (was rarely used and confusing to users)` and `.regularization(boolean) config removed; functionality is now

[2018-04-09 02:56] mengmengmengmeng1234 opened #4907 "debug output too much log information of detail processes"
Hi:
Now, I have a question . Our project has been applied to your project. And when we debug the program, the debug output will print all detail processes of the program as show in the figure.
![image](https://user-images.githubusercontent.com/26961818/38477305-721ebece-3be4-11e8-9769-3d50698105bc.png)
In the program, we just use parts of deepleaning4j for classify, as shown in yellow line. Did yo

[2018-04-09 03:00] saudet commented on #4907
The log level is a setting in *your* application. For example, dl4j-examples uses Logback and can be configured with this file: https://github.com/deeplearning4j/dl4j-examples/blob/master/dl4j-examples/src/main/resources/logback.xml

[2018-04-09 03:00] #4907 closed

[2018-04-09 03:02] saudet commented on #4901
Sounds like a great idea! Please send your pull requests:
https://github.com/deeplearning4j/dl4j-examples/pulls

[2018-04-09 05:38] AlexDBlack opened #4908 "fit(DataSet) still does layerwise pretraining"
In 1.0.0-alpha, MultiLayerNetwork.fit(DataSetIterator) no longer does layerwise pretraining - only backprop.

It looks like fit(DataSet) and some of the other fit methods weren't updated to align with this:
https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/multilayer/MultiLayerNetwork.java#L1902-L1908

[2018-04-09 07:28] xinxu75 commented on #4904
BTW, as suggested by Adams, I searched for release notes, which did not touch this class. I also checked the updated examples, they weren't affected because they never used this class. Given it's in v0.9.0 and there is no obvious reason to remove it, I'm suspicious that this is a mistake to exclude the LabelAwareListSentenceIterator class in 1.0.0-alpha? It may be worth looking into this?

Thanks

[2018-04-09 10:56] HDouss opened #4909 "Inconsistent RecordReader listeners invocation"
While trying to execute the `MnistImagePipelineExample`, I encountered some inconsistent behavior. The first time a record is read `DataSetIterator` delegates to `ImageRecordReader` to load a first record and then builds a `RecordReaderMultiDataSetIterator` that will be used for further readings. During that build, the `ImageRecordReader` is reset.

The problem appears when attaching a listener to

[2018-04-09 11:47] mobiusinversion opened #4910 "How to fine tune word embeddings as part of training"
#### Help with the concept of fine tuning word embeddings

Hello, this question / request for clarification is motivated by a feature in keras, namely, how to fine tune word embeddings as part of training.

For example, in python we might have something like this:

Get the GoogleNews word vector embedding:

    WORD2VEC_MODEL = "../data/GoogleNews-vectors-negative300.bin.gz"
    load word2vec mode

[2018-04-09 12:05] AlexDBlack commented on #4910
Assuming the vocab size is the same, it should be possible to do the following:

[code]
That's assuming a MultiLayerNetwork with an EmbeddingLayer as the first layer.

In theory you can then go the other way once you're done with training.

Eventually we'll add a way to do it in one step (without the extra memory overhead) but that should do what you want for now.

I'll close this - but we can re-

[2018-04-09 12:05] #4910 closed

[2018-04-09 12:09] mobiusinversion commented on #4910
Cool @AlexDBlack, I'll give this a shot and get back to you.  Thanks!

[2018-04-09 17:56] frakc opened #4911 "NativeImage Loader loads wrongs channels for BuffredImage"
When i pass buffered image from robot screen capture it loads alpha chanel instead of blue.
[code]
it loads image as
[code]
the image which i am loading

![1523296376533](https://user-images.githubusercontent.com/1126230/38513938-5c693010-3c38-11e8-9a2b-9ee30e1eb2b0.png)

* Deeplearning4j version 0.91 load via gradle
* platform information  Win 10

[2018-04-09 20:40] ColaColin opened #4912 "Trying to fit a single example yields not-perfect results when using feedforward with train = false"
#### Issue Description

Doing a sanity check on a network configuration I want to use: Fitting a single example.
However the loss does not drop to 0 and using feedforward with train = false indeed shows a not-perfect result. train = true "fixes" this, the network outputs the exact values of the example.

Further investigation has shown that this is a problem with the cudnn backend and BatchNormali

[2018-04-10 00:49] RobAltena opened #4913 "ComputationGraph.feedForward Null Pointer exception."
#### Issue Description
Please see: https://github.com/deeplearning4j/dl4j-examples/issues/659

We got a developer unfriendly Null Pointer Exception after the 1.0.0-alpha release. The example has been fixed.  It is not clear why the original code fails, could be a bug but the error message can be better.

[2018-04-10 02:26] mobiusinversion opened #4914 "How to have a shared embedding layer?"
#### Issue Description

Question, how do we create shared weight embeddings in DL4J?  For example, in Keras we can do the following with the functional API:

    input_target = Input((1,))
    input_context = Input((1,))
    embedding = Embedding(vocab_size, embed_size, input_length=1, name='embedding')
    target = embedding(input_target)
    context = embedding(input_context)

This creates share

[2018-04-10 02:33] mobiusinversion opened #4915 "How to have an input_length for Embedding layers?"
#### Issue Description

Hello, I am studying DL4J embedding layers and I have a question about the length of input sequences.  In Keras (sorry for the cross-referencing), we can do this:

    inputs = Input(shape=(32, ))
    embedding = Embedding(max_features, 128, input_length=32)(inputs)

The output will be a 2D matrix with shape (32, 128).  How do we do this in DL4J?

[2018-04-10 07:30] saudet commented on #4909
Does this still happen with 1.0.0-alpha?

[2018-04-10 07:40] saudet commented on #4912
Try to use output() instead. Calling
feedForward() manually might cause memory issues.

[2018-04-10 13:04] HDouss commented on #4909
@saudet I did not tested it but judging by the code, it is still the case. Maybe this issue should have been opened in DataVec repo.

[2018-04-10 19:37] SimpleBrainCell commented on #4898
Tried to reproduced the problem in a simple example, but could not, works as expected.

It must be an issue on my main code.

Thanks

[2018-04-10 19:37] #4898 closed

[2018-04-10 21:51] eraly opened #4916 "vgg16 import as a single file"
Issue originally came from a skil ce use who wanted to import vgg16.

The original poster was following this gist:
https://gist.github.com/baraldilorenzo/07d7802847aaad0a35d3

In skil ce we only allow one file for import so it has to be the combined model config+weights in the same file. I generated that by writing out model.save after the model.compile line in the gist above.
Here is the link to

[2018-04-10 21:52] eraly commented on #4916
cc @wmeddie

[2018-04-10 22:12] vincenzocaselli opened #4917 "Memory crash after using output repeatedly on large datasets"
During training, when the overall error goes below a given value (e.g. 0.1), I periodically test results using
MultiLayerNetwork.output()
over around 100 test images, in order to have a custom evaluation of the network training.

However, after a few of such testings iterations the memory starts slowly raising until the JVM crashes without any error message in Java console.
I double checked how I

[2018-04-10 23:42] AlexDBlack commented on #4914
We do have plans to add parameter sharing for layers (with a nice/proper API) at some point in the future.
In the mean time, you can use a set of stack/unstack vertices, which should give you identical results to parameter sharing:
https://github.com/deeplearning4j/deeplearning4j/blob/6335b5e933f13d2bdb5c1f7e5896c45eb96839d7/deeplearning4j-core/src/test/java/org/deeplearning4j/nn/graph/graphnodes/

[2018-04-10 23:42] #4914 closed

[2018-04-10 23:43] AlexDBlack commented on #4898
No worries, thanks for letting us know.
If you do manage to reproduce it (especially with 1.0.0-alpha) I'd be happy to take a look.

[2018-04-10 23:45] AlexDBlack commented on #4912
Thanks for reporting. I'll take a look at this and work out what's up, but it might be a day or two before I can do so.

[2018-04-11 00:15] ColaColin commented on #4912
That's great news, I am at a loss so far. I've found that this type of network can run into numerical issues when running it with more features/more blocks and that my original pytorch implementation prevented this due to the use of LogSoftmax, see my related [issue](https://github.com/deeplearning4j/nd4j/issues/2822)

However the problem described here does not seem directly caused by this at lea

[2018-04-11 02:22] rothn opened #4918 "Too much memory usage / inefficiency with doc2vec and large vocabularies"
#### Issue Description

Training doc2vec on a vocabulary of 202792035 words caused the dictionary-building (for word lookup) and huffman-code-building (for hierarchical softmax) to be way slower than they needed to. Most of the time was spent within the JVM unnecessarily copying things around in the most inefficient ways possible (e.g. initializing a cache with a for loop over dictionary keys with

[2018-04-11 02:39] rothn opened #4919 "Would be nice: NCE as an option for word2vec embeddings"
#### Issue Description

In their word2vec paper, Google showed that NCE in some cases performs better, and certainly faster, than hierarchical softmax for parameter estimation. It would be nice to have this as an option to use with the DL4J word embeddings.

[2018-04-11 07:32] maxpumperla commented on #4916
@eraly @wmeddie this is for safety purposes. In this old model there's pretty much no way of finding out what Keras backend was used (at least the code and my manual inspection suggest so).

This wouldn't happen in keras 2, but I see why we need this. Two options:

- for keras 1.x models we _assume_ theano is the model backend, as it was the default back then. doesn't make me very happy, though.
-

[2018-04-11 07:48] wmeddie commented on #4916
Well a potential customer saw that we support Keras models, found one, deployed it and it failed.  Whatever we could do to make that just work the better.  Especially if it's something small we can add to the final release of 1.0.0 and SKIL.

[2018-04-11 08:29] maxpumperla commented on #4915
@mobiusinversion we don't support this (yet). I'll have a look at Embedding layers for import soon.

[2018-04-11 09:07] saudet commented on #4909
Yes, please reopen in the repo for DataVec, ideally as a pull request with a new unit test failing :) Thanks!

[2018-04-11 09:07] #4909 closed

[2018-04-11 20:06] OakSuen commented on #869
I have the same question as yours

[2018-04-11 20:50] chrisvnicholson commented on #869
Please see the Javadoc for ScoreIterationListener - It prints out the model's scores https://deeplearning4j.org/doc/

[2018-04-12 00:18] AlexDBlack commented on #4915
I should add that if you are using time series inputs (not sure if that's what you want here), you can do .setInputType(InputType.recurrent(x)) and it'll work in a time distributed manner.

[2018-04-12 00:25] AlexDBlack commented on #4908
ComputationGraph.fit(INDArray[],INDArray[],INDArray[],INDArray[]) seems to also have this behaviour.

[2018-04-12 06:59] huuuuusy opened #4922 "Unsupported keras layer type Model(use keras2.0.3)"
#### Issue Description
Hi, I have a question when I imported a json file, the command I used is:
**ComputationGraphConfiguration network = KerasModelImport.importKerasModelConfiguration(modelFileName);**

However, it shows that:
Exception in thread "main" org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type Model. Please file an is

[2018-04-12 07:06] huuuuusy commented on #4922
Hi, I've read the issue [#3313](https://github.com/deeplearning4j/deeplearning4j/issues/3313) and it seems that the dl4j regards the "class_name": "Model"(it should be Keras.Model) as a keras layer, thus dl4j cannot find a layer which name is "Model". I tried to use ComputationGraphConfiguration network = KerasModelImport.importKerasModelConfiguration(modelFileName,true), then it seems that this i

[2018-04-12 07:10] huuuuusy commented on #4922
By the way, I thought that it may since my model is too complex, thus I tried the model which shows in dl4j gan website, here is the [link](https://github.com/eriklindernoren/Keras-GAN/blob/master/gan/gan.py). I got the json file and import it by using dl4j, and it shows the same question. I do not know how to fix it.

[2018-04-12 07:12] melchisadeck commented on #4916
Thanks all for your engagement on this.

I downloaded vgg16_compiled.h5 provided by @eraly at the link above and attempted to import - after about 25 seconds I received the "upload failed try again" message, exactly as before.

Then, just to see what happens, I attempted to import another random file from my Downloads folder - an Acrobat PDF file of 5.7Mb.

The "upload failed" message persisted an

[2018-04-12 08:32] #4916 closed

[2018-04-12 08:33] maxpumperla commented on #4922
Hi @huuuuusy  and @husy1994 (are you the same person?!), the problem is this:

In Keras a Model is also a Layer, so you can take two sequential models and use them in the functional API to combine them to build a more complex model. This is vastly different from DL4J's paradigm, which is why this is currently not possible to map properly.

If you want a solution _right now_, take the two sequentia

[2018-04-12 09:27] maxpumperla commented on #4916
@melchisadeck yeah, so since this issue has been closed on DL4J side, once a new SKIL release comes out that reflects these changes, you should be good to go.

[2018-04-12 09:48] maxpumperla commented on #4915
@AlexDBlack  @mobiusinversion exactly, so in principle we can already do this, but I have to tell our import module to translate Keras' `input_length` argument into a recurrent `InputType` with time series length equal to `input_length`.

[2018-04-12 10:18] melchisadeck commented on #4916
Great - thanks @maxpumperla and everyone.

Regards,
Mel

[2018-04-12 11:17] AlexDBlack opened #4923 "Switch TrainModule to use shaded version of jackson instead of built-in object mapper"
https://github.com/deeplearning4j/deeplearning4j/blob/931b451011138e88bbacad9eb93be86b524509b4/deeplearning4j-ui-parent/deeplearning4j-play/src/main/java/org/deeplearning4j/ui/module/train/TrainModule.java#L291

This may be less prone to issues with jackson versions than using the default Json.toJson

[2018-04-12 18:33] eraly commented on #4916
@maxpumperla 🎉
@melchisadeck Thanks for the feedback. Appreciate it much.

[2018-04-12 21:27] ospavel opened #4924 "Accuracy differencies on DL4J v0.9.1 and on DL4J v1.0.0-alpha (native CPU, windows)"
I have big differences on training the same LSTM model with same training data on DL4J v0.9.1 and on DL4J v1.0.0-alpha (native CPU, windows).

Code:
[code]

On training with DL4J 0.9.1 I get accuracy 0.68 after 3rd epoch already (0.69 after 30 epoch, score 0.518), but with DL4J 1.0.0-alpha I get 0.62 after 3rd and about 0.67 after 30 epoch (score 0.495). Train data: 137 batches with size 128. The

[2018-04-12 23:05] AlexDBlack commented on #4924
There shouldn't be any difference between the releases for RNNs. (All functionality was thoroughly tested, gradient checked etc before both releases, examples were run and performed equivalently for both etc). I'm not seeing anything in the config that would suggest a likely cause here.

I'll have to run both side by side to see. However, given that I know our examples are fine on both versions (I

[2018-04-12 23:34] ospavel commented on #4924
I saved dataset into file. How I can send it to you?

[2018-04-12 23:37] AlexDBlack commented on #4924
Feel free to direct message me on gitter: http://gitter.im/AlexDBlack
if it's small you can share it directly via gitter, or you can send me a dropbox/google drive etc link.

[2018-04-13 01:48] crockpotveggies opened #4925 "OOM on dl4j-benchmark"
#### Issue Description

Attempting to run dl4j-benchmark using a VGG-16 model. It fails with the following OOM:

https://gist.github.com/crockpotveggies/3cb45360376e55fe87fe8fe5a75162e2

#### Version Information

Please indicate relevant versions, including, if relevant:

* v1.0.0-SNAPSHOT
* CUDA 9.1 Titan X GPU
* Using new profiels for `v100snapshot`,`cuda91`, and `cudnn91`

#### Contributing

@A

[2018-04-13 02:04] saudet commented on #4925
Is cuDNN running with NO_WORKSPACE?

[2018-04-13 02:41] saudet commented on #4925
That just means `deeplearning4j-cuda` isn't in the `pom.xml` file.

@AlexDBlack is actually working on optimizing memory right now (see issue #4784).
This issue should also get fixed after that's done.

[2018-04-13 05:26] AlexDBlack opened #4926 "ComputationGraph fitting may not always clear mask arrays"
Unconfirmed if this is still an issue, but was reproducable on 0.9.2 SKIL version

Basically:
fit(DataSetIterator) would not always clear mask arrays, and hence later ops (like .evaluate(DataSetIterator)) could fail due to mismatched shapes.

[2018-04-13 10:17] fincken commented on #4899
I tried doing the embedding beforehand, turning the input into (20,100) shapes. It still failes to load even without the Embedding layer, so there might be an improper handling on several layertypes.

`Exception in thread "main" java.lang.IllegalStateException: Mis matched lengths: [4096] != [57344] - Array 1 shape: [32, 128], array 2 shape: [448, 128]
	at org.nd4j.linalg.util.LinAlgExceptions.ass

[2018-04-13 12:37] johnhuang-cn opened #4928 "Implemented AlphaGo by using DL4j and performance issue"
I implemented AlphaGo by using DL4j 0.9.1, https://github.com/johnhuang-cn/FancyBing.

The performance is comparable to other DL framework, but still not good enough. Because of the memory(gc?) issue of DL4j, if I put network evaluation with MCTS search together, the evaluation performance would be very poor. So I separate policy network evaluation and MCTS search into 2 projects, then call networ

[2018-04-13 12:40] agibsonccc commented on #4928
@johnhuang-cn that's great! Let's see what we can do to help you. Could you tell us in more detail what the actual problems are? What have you tried running on? What are "performance problems"?