[2021-05-29 01:14] agibsonccc commented on #9149
Yes not all issues people had were fixed in M1. It's been 1 year since
release.  Patch notes plus new docs and examples will be published soon.
There will be a quick follow up release with bug fixes based on user
feedback and module priority. Samediff is high up to do a pass. I expect to
do that in a few weeks.

On Sat, May 29, 2021, 09:56 f ***@***.***> wrote:

[2021-05-29 01:26] jljljl commented on #9330
@eix128 It is pretty lightweight for now. Removing HDD requirement would make it possible to run on MCUs.

[2021-05-29 01:41] jljljl opened #9332 "1.0.0-M1 wrong CUDA malloc()"
* When allocating by 2 mb or less here is a low memory allocation efficiency. NVIDIA GeForce RTX 3060 with 12GB RAM could malloc() less than 5GB.
 *  Program which runs fine on 1660 (CUDA 10.2, 1.0.0-beta7) with 6GB (2 GB free memory is present also), goes out of memory with 3060 (CUDA 11.2, 1.0.0-M1) with 12GB.
 *  Program crashes so often when applying arguments like `-Xms1G -Xmx2G -Dorg.bytedec

[2021-05-29 03:31] SidneyLann commented on #9149
Ok, thanks!

[2021-05-29 04:45] agibsonccc commented on #9330
@jljljl @eix128 one of the major issues I see has to do with binary size. We've discovered that the binary size for libnd4j being what it is (~150 MB for all ops) is a bit much. I'd want to find a way to reduce the size of the native dependencies. We have a way of doing that in libnd4j that just allows us to build with specific binaries but haven't did much with it yet.

[2021-05-29 12:57] jljljl commented on #9330
@agibsonccc I guess it's not a problem to connect micro sd card with few GB of memory. Memory could be helpful for such systems. Rebuilding from 150 MB to 4 MB is very hard. It might be another lib. Right now here is nothing to compress cause lib is bugged. Let's focus on bugfixes instead of new features.

[2021-05-29 13:02] agibsonccc commented on #9330
@jljljl  micro sd is how many embedded computers do it. Regarding this, actually no not really. The overhead comes from having a ton of ops built in. A simple thing that just stripped out unneeded ops would more than suffice to cut down the binary size. We already have something like that as I mentioned.

[2021-05-29 16:56] treo commented on #9326
This is the problem here. I'm not entirely sure why, but for some reason the `0` seed is being handled as if no seed has been set. If you put anything else in there, you will get a reproducible training run (I typically use something like `0xBEEF`, `0xC0FFEE`, `0x5EED`).

[2021-05-29 17:03] ramarro123 commented on #9326
Oh many thanks :) let's go for 0x5EED ;)

[2021-05-30 13:36] #9326 closed, assigned to nobody

[2021-05-31 03:12] agibsonccc commented on #9332
@jljljl could you make sure to test using the cuda memory manager? All of our malloc calls that matter are actually at the c++ level, not at the java level.

[2021-05-31 03:13] agibsonccc commented on #9331
@jljljl could you clarify the wrong behavior a bit? Some code + a stack trace to demonstrate the issue would help a lot. Thanks!

[2021-05-31 03:55] agibsonccc commented on #9268
@HGuillemet I'm beginning work on post bug fix releases for M2. Could you see if M1 fixes this issue? Otherwise, I'll get a quick round of fixes in for these kinds of things. Thanks!

[2021-05-31 03:56] agibsonccc commented on #9159
@HGuillemet I'll be getting to this now that M1 is out. If you have any updates on this, let me know. Sorry this took so long, but focus on getting the CI infrastructure and tests reliable + the cleanup took way longer than I would have liked. Hopefully we can start getting some of these minor issues addressed now. Feedback is appreciated!

[2021-05-31 04:01] agibsonccc commented on #9013
Closing this due to pending docs rewrite for M1.

[2021-05-31 04:01] #9013 closed, assigned to nobody

[2021-05-31 11:21] eix128 commented on #9330
Maybe pure java ND4J solution may work.
So DL4J size will decrease much ?

[2021-05-31 12:31] agibsonccc commented on #9330
@eix128  we got rid of that long ago. We used to have a pure java backend but found it to be impractical save for very minor use cases.

[2021-05-31 15:57] jljljl commented on #9331
@agibsonccc The misstake was wrong methods overloading. Here is pretty full explanation. Second image shows stack trace. Stack trace went 74 line instead of 92.

But anyway it is fixed just accept merge request. Check https://github.com/eclipse/deeplearning4j/pull/9333 commits require to be checked

[2021-05-31 16:05] jljljl commented on #9332
@agibsonccc Here is a lot more bugs with 1.0.0-M1. I think I should went to debugging a bit more deep. Could you contact me when you online? I will try it anyway, but I am not sure it would get all that info you need.

[2021-05-31 20:41] jljljl opened #9334 "NaN at meanNumber() for FLOAT16"
Big arrays get NaN meanNumber(). Max size of array NaN happens is around 10000.

[code]

Output is

[code]
Version
[code]

[2021-05-31 22:22] agibsonccc commented on #9332
@jljljl sure just ping me on the forums. I'm based in Japan. Not that much has changed since beta7 minus adding some new ops so I'm not really sure you're discovering anything that's actually a bug. Memory management hasn't changed in a long time and I think it's just a misunderstanding, but I'm all for trying to understand your perception a bit.

[2021-06-01 07:57] jljljl commented on #9332
@agibsonccc Ok. I am almost 24/7 online you can contact me cause sometimes I go afk for a long time and forget other stuff.

[2021-06-01 11:13] eix128 commented on #9327
BTW , dont forget to say about TornadoVM

https://github.com/beehive-lab/TornadoVM

With TornadoVM it would be very easy to ND4J to run on FPGAs

[2021-06-01 11:40] agibsonccc commented on #9327
@eix128  hmm..not so sure. I think you're underestimating how much of the project is c++. 99% of the execution happens in our c++ library, the nd4j backends are just a thin wrapper around a pre compiled binary from that c++ code base.

[2021-06-01 12:11] eix128 commented on #9327
but with TornadoVM , you can also run DL4J on OpenCL AMD cards too.
You said %99 on C but you also have ND4J pure Java code.
Just wrap it for TornadoVM so DL4J runs on OpenCL and FPGAs

[2021-06-01 12:13] agibsonccc commented on #9327
It's not a bad idea, but the concrete problem is most of the math code is c++ :) I'm not sure how tornadovm will come in to play with pre compiled c++ code. And actually no we don't. Nd4j always calls out to a c++ backend now. We haven't had pure java in years now.

[2021-06-01 14:54] daw3rd opened #9336 "Multi-threaded classify causes NPE"
#### Issue Description

I have a trained CNN on which I am making classification requests using multiple threads on a GPU machine.  I get the NPE shown below.  This problem does NOT happen when not using multi-threaded classifications (i.e. multiple threads, each making a call to our classify() method (see below).

#### Version Information

* Deeplearning4j beta7
* Red Hat Enterprise Linux Server

[2021-06-01 20:12] agibsonccc commented on #9336
@daw3rd if you want thread safety, please consider using parallel wrapper and ParallelInference for the models setting the number of workers to 1.

[2021-06-01 20:12] #9336 closed, assigned to nobody

[2021-06-02 14:37] joel-a commented on #9043
I'm getting this same error, "Invalid input type: Batch norm layer expected input of type CNN, CNN Flat or FF," , when importing a Keras model with version 1.0.0-M1 of DL4j. Is there something I should be doing to avoid getting this error?

[2021-06-02 15:50] lonerzzz opened #9337 "Missing information and broken links for visualization documentation"
#### Issue Description

The documentation for using the UI is missing information and has broken links. The following page:

https://deeplearning4j.konduit.ai/tuning-and-training/visualization

refers to net.setListeners in the example code for visualization but does not define the "net" object or provide a reference to setting it up

Below the example code, the link in the following text both hav

[2021-06-03 02:18] agibsonccc commented on #9043
@joel-a  - this is left over from rnns to batch norm. We weren't supporting that yet. This PR will address that. After this is merged, you can just pull from snapshots. https://github.com/eclipse/deeplearning4j/pull/9338

[2021-06-03 03:10] agibsonccc commented on #9337
Addressed here: https://github.com/KonduitAI/deeplearning4j-gitbook-sync/commit/9a7bc621c1d1ad22efe6cd32be82393b8b9135b6

[2021-06-03 03:10] #9337 closed, assigned to nobody

[2021-06-03 08:49] cyberbeat commented on #9331
I stumbled upon the same problem, using CUDA is impossible with current dl4j SNAPSHOT. The constructor

`public static <T> T createNewInstance(String className, Object... args) {`

seems too generic - the HelperUtils.createHelper has this call:

[code]

but the above method is called, although this should be called:

`public static <T> T createNewInstance(String className, Class<? super T> supercl

[2021-06-03 09:42] agibsonccc commented on #9331
Perfect thanks. Let me figure out the issue with the tests and I'll get this merged tomorrow. and publish a build.

[2021-06-03 09:52] agibsonccc commented on #9331
@cyberbeat Also, I wouldn't say it's impossible..deeplearning4j-cudnn is actually going to be deprecated. Please take a look at the new approach and see if that works for you: https://github.com/KonduitAI/deeplearning4j-gitbook-sync/blob/en-1.0.0-M1/multi-project/explanation/config/backends/config-cudnn.md

[2021-06-03 13:52] jljljl commented on #9331
@cyberbeat this is fixed now https://github.com/eclipse/deeplearning4j/pull/9333 you also can find my forked repository with changes

[2021-06-03 14:20] eix128 opened #9339 "Optimized Dimensionality Reduction Libraries for DL4J direct use"
Hi , it would be good to add Dimensionaly Reduction Library set for DL4J
Here is TSNE:
https://www.codota.com/web/assistant/code/rs/5c66cb581095a50001e12f6e#L99

UMAP can be get from:
https://github.com/haifengl/smile

These could be optimized for Cuda on DL4J with help ND4j

Manifold Learning: IsoMap, LLE, Laplacian Eigenmap, t-SNE, UMAP, PCA, Kernel PCA, Probabilistic PCA, GHA, Random Projection

[2021-06-03 15:40] braeunlich opened #9340 "nd4j VersionCheck logs unnecessary errors (for desired behavior)"
#### Issue Description

org.nd4j.versioncheck.VersionCheck tries to make sure that some libraries are not present in old versions. To do so it tries to load classes of these libraries which leads to an error because the classes are (as desired) not on the classpath.

Error Messages:
[code]

Relevant Code Location:
/org/nd4j/versioncheck/VersionCheck.java:104
and
org/nd4j/common/config/ND4JClassLoa

[2021-06-03 16:03] cyberbeat commented on #9331
@agibsonccc thanks, the new method works, too

[2021-06-03 22:19] agibsonccc commented on #9340
Closing. Dup of: https://github.com/eclipse/deeplearning4j/issues/9299 - feel free to leave more comments there. Thanks for reporting though!

[2021-06-03 22:19] #9340 closed, assigned to nobody

[2021-06-04 00:27] agibsonccc commented on #9268
@HGuillemet fix was pretty simple: https://github.com/eclipse/deeplearning4j/pull/9341 just needed to add a workspace notify enter during the scoring process. The feed forward process was detached while the rest of the scoring was not. Thanks for reporting.

[2021-06-04 08:31] HGuillemet commented on #9268
Thanks for spending time on this issue !

[2021-06-04 08:31] #9268 closed, assigned to nobody

[2021-06-04 11:47] braeunlich opened #9342 "Missing native libraries in nd4j-native-1.0.0-M1-windows-x86_64.jar"
#### Issue Description

A dependency analysis of jnind4jcpu.dll (distributed through nd4j-native-1.0.0-M1-windows-x86_64.jar) shows that the libraries
- libgcc_s_seh-1.dll
- libstdc++-6.dll
- libwinpthread-1.dll
- libgomp-1.dll

are missing (I would expect that they are deveivered within the same jar file):
![image](https://user-images.githubusercontent.com/4363764/120794978-2e911580-c539-11eb-869

[2021-06-04 12:06] braeunlich commented on #9299
Description from a duplicate of this issue:

org.nd4j.versioncheck.VersionCheck tries to make sure that some libraries are not present in old versions. To do so it tries to load classes of these libraries which leads to an error because the classes are (as desired) not on the classpath.

Error Messages:

org.nd4j.common.config.ND4JClassLoading.loadClassByName(ND4JClassLoading.java:64) - Cannot fin

[2021-06-04 22:14] agibsonccc commented on #9342
@braeunlich hmm...this hasn't happened specifically on my machine and wasn't an issue in our internal testing. We currently build using this GH actions setup: https://github.com/eclipse/deeplearning4j/blob/master/.github/workflows/build-deploy-windows.yml - it's hard for me to say what the issue might be here without some digging.

Could you try to clarify what might be different in your environme

[2021-06-04 22:21] agibsonccc commented on #9342
I'll tag @saudet here as well. I might be missing something.

[2021-06-04 22:40] agibsonccc commented on #9339
@eix128  actually we did have this for years and we decided it was better to just focus the library and scope it down.  You're welcome to help maintain a 3rd party version of this if you like, but we only have so much bandwidth. Just supporting the interop from different frameworks and optimizing our packaging/c++ is enough of our time.

[2021-06-04 22:40] #9339 closed, assigned to nobody

[2021-06-04 23:01] agibsonccc commented on #9342
@braeunlich here's what my local run with M1 looks like:
[code]

[2021-06-05 12:16] #9331 closed, assigned to nobody

[2021-06-05 12:17] agibsonccc commented on #9331
@cyberbeat I merged @jljljl 's PR after a bit of testing on my side. We'll push out a quick M1.1 to address some of the issues that were found by the community. I've also disabled the old helpers by default since they're mostly being kept around in case of needing to preserve old behavior, you can see that here: https://github.com/eclipse/deeplearning4j/pull/9343

[2021-06-05 16:19] jljljl commented on #9331
@agibsonccc have you fixed tests?

[2021-06-05 16:20] jljljl commented on #9332
@agibsonccc please don't close this. Better move it to non prioritized tasks cause if you close it it will be forgotten, but bug will remain.

[2021-06-05 23:11] agibsonccc commented on #9332
Ah this was the wrong issue. I meant to close the helpers one.

[2021-06-05 23:12] agibsonccc commented on #9331
Yes I did. I think it was a stale dependency on my side. I do a lot of branch switching and sometimes have to double check that. That's why I kept asking if it worked for you. I managed to run the tests after a while.

[2021-06-05 23:22] lonerzzz commented on #9337
Thanks for the first part of the fix. I had also mentioned the broken links above:

"Below the example code, the link in the following text both have broken links to github:

Example: See a UI example here
The full set of UI examples are available here."

[2021-06-05 23:29] lonerzzz opened #9345 "Please add explanation of bottom left visualization overview details"
#### Issue Description

For the visulization overview section (page https://deeplearning4j.konduit.ai/tuning-and-training/visualization#deeplearning-4-j-ui-the-overview-page), the four sections of the page are listed.

Unfortunately, for the entry "Bottom left: Ratio of parameters to updates (by layer) for all network weights vs. iteration", the meaning of the information is not explained. I have

[2021-06-07 04:50] agibsonccc opened #9347 "Multi threaded test failure in python4j-numpy"
#### Issue Description

A JVM crash happens when numpy.importMultiArray() is ran multiple times. This needs to be prevented when running python4j..

Relevant stack trace:
[code]

Another relevant part of the stack trace:
[code]

#### Version Information
-
Please indicate relevant versions, including, if relevant:

* Deeplearning4j version 1.0.0-SNAPSHOT
* Platform information (OS, etc) linux
* CUD

[2021-06-07 05:32] braeunlich commented on #9342
The difference in my environment might be that I have both dependencies for the cuda backend and the native backend as maven dependencies.

One more obeservation: The libraries are available in the jar but do not get copied into the javacpp cache - probably because they are already available in the cache for cuda.

So, what i tried is to copy the libstdc++.dll - which is different (smaller) for cu

[2021-06-07 09:06] DavidHuebner opened #9349 "M1: Parameters of Keras MaxPooling1D layer are incorrectly read"
#### Issue Description

I trained a model using Tensorflow/Keras version 2.4.1 in Python. This model contains a MaxPooling1D layer. I then saved the model as the (default) .hdf5 file. Loading this file in Keras and saving its config as json, reveals the following layer:

[code]
Please note that the **data_format** is set to "channels_last" which is the default value in Keras. This corresponds to N

[2021-06-07 12:06] agibsonccc commented on #9349
@DavidHuebner this looks like it'll be a simple fix. Do you mind if I get a complete configuration from you? Ideally it's something I can just import and run. What will happen then, is I will run and reproduce this, figure out a general fix and if anything else is applicable, create a test case out of this to prevent regressions and publish a fix.

[2021-06-07 12:41] agibsonccc commented on #9342
@braeunlich what happens when you remove cuda? Also, it seems like there's an issue of it loading cuda. It appears to be trying to load cuda 11 and you're loading cuda 11.2.  Standalone if you use cuda redist (see the updated docs here for how to do this): https://github.com/KonduitAI/deeplearning4j-gitbook-sync/tree/en-1.0.0-M1/multi-project/explanation/config/backends

Apologies for linking to t

[2021-06-07 14:12] reckart opened #9352 "DL4J 1.0.0-M1 no longer compatible with older stdlibc++"
#### Issue Description

While trying to upgrade from 1.0.0-beta7 to M1, we hit the following issue on our CI server:

[code]

It appears as if the milestone release used a different (newer) g++ compiler version than the previous beta versions to build the some native libraries, which makes it incompatible with hosts running older Linux versions (e.g. CentOS 7).

Was this an intentional breaking ch

[2021-06-07 14:19] agibsonccc commented on #9352
@reckart we migrated everything to github actions using the oldest ubuntu available 16.04. What is your production system configuration?  Is it just the CI server? We will be doing a quick follow up release to address user concerns from the migration. Depending on the system you use though, we may have to figure out an alternative for you.

[2021-06-07 14:29] agibsonccc commented on #9352
Full updates for centos 7 just ended in q4 of last year. The trade off was made for the migration to cut down on maintence costs.  The new docs will cover this: https://github.com/KonduitAI/deeplearning4j-gitbook-sync/blob/en-1.0.0-m1/multi-project/how-to-guides/developer-docs/github-actions-overview.md

[2021-06-07 14:30] agibsonccc commented on #9352
@reckart  feel free to dm me on the community forums if you have something in specific you can't discuss in public and we can also see a good way to help your team have a smoother time with the migration.

[2021-06-07 14:36] #9347 closed, assigned to nobody

[2021-06-07 14:39] reckart commented on #9352
@agibsonccc If it was an intentional breaking change, then so it is. We have been exploring a bunch of options on our side how to deal with the issue (e.g. updating the system, building in Docker, even rolling back the DL4J update) - but before making a decision on how we should proceed, I wanted to verify that this change is indeed intentional and not something that somehow slipped through QA and

[2021-06-07 15:56] DavidHuebner commented on #9349
Thanks for the prompt reply. I attached a very simple model.hdf5 in the attached [model.zip](https://github.com/eclipse/deeplearning4j/files/6610401/model.zip) with a single MaxPooling1D layer. The stride is now 5 (not 836 as above). Below is the code to load the model and extract the relevant parameters.

[code]

[2021-06-07 22:13] agibsonccc commented on #9352
@reckart  I can explore adding centos 7 for our cpu builds. Github actions has a way of running container builds. Let me see what adding an alternative looks like. Ubuntu 16 was fine for some people.  Given that glibc is a fairly consistent issue for people, I may do multiple spins. This would come up if you wanted to leverage avx extensions for example (only newer gcc supports it) - so there's al

[2021-06-07 22:16] agibsonccc commented on #9342
@braeunlich  after chatting with @saudet  a bit, it does appear to be dll clashes with cpu and cuda. Only one backend can be loaded at a time anyways, so for now what I would suggest are different profiles for your build with different backends. A sort of meta backend that can use multiple devices is something we would like to investigate and have a basic idea on how to do, but right now it's not

[2021-06-07 23:52] agibsonccc commented on #9349
@DavidHuebner thanks for the quick test case, here's the PR https://github.com/eclipse/deeplearning4j/pull/9353 - it was a quick fix. Just  missing propagation of the 1d version of this to the 2d. This was missed when doing the NWHC update. We actually didn't support configuration of the channels till a little while ago.

[2021-06-08 00:19] agibsonccc opened #9354 "Remove un needed cpu binaries from cuda backend"
#### Issue Description
Coming off of https://github.com/eclipse/deeplearning4j/issues/9342

and chatting with @saudet  there appear to be unused binaries present in the cuda backend.
We should explore removing those.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearnin

[2021-06-08 07:09] reckart commented on #9352
@agibsonccc The use-case is pretty boring, I'm afraid. Some of the machines we use are a bit dated and so is the OS on them (patched to the max of course). Some even predate AVX2. We have already observed that these can no longer be used with the recent tensorflow  Java API which no longer ships non-AVX2 versions. But we didn't hit the ABI issue with tensorflow (yet) - only with DL4J. We tend to b

[2021-06-08 07:20] agibsonccc commented on #9352
@reckart super useful thank you! We've had a few hits for the libc issue, but most people have been happy with ubuntu 16's glibc. I'll evaluate what might be possible in the next week or so as we finish the planning for the bug fix release going out soon. In github actions, you *can* specify a container. It's good to know what the baseline is, and the feedback is super helpful.

[2021-06-08 09:00] braeunlich commented on #9342
@agibsonccc Tanks for analyzing the issue!

We use the cuda and cpu backends not only as fallback but also to have one deployable artifact that runs on linux and windows (mainly for development) with or without cuda depending on the hardware.

Our whole application suite (where AI is only a small part) is designed that way. So we would have to change quite a bit in our infrastructure.

Its also cl

[2021-06-08 09:17] #9349 closed, assigned to nobody

[2021-06-08 09:34] agibsonccc commented on #9342
@braeunlich  could you DM me on the community forums with a bit of your setup? While I wouldn't be able to offer something for the open source community, there might be a 1 off workaround we can recommend that might help.

We'll be doing a service release to address some other issues within a week or 2, depending on what I understand about your use case we might be able to make it easier on you. O

[2021-06-08 09:39] agibsonccc commented on #9342
@braeunlich ah before I forget: one thing you could try is setting the cpu priority higher. https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/factory/Nd4jBackend.java#L55 This way it doesn't load it if it's not possible. This may work for you.

[2021-06-08 12:50] braeunlich commented on #9342
@agibsonccc setting the cpu priority higher works for both: our development environments and our deployed systems.

I would appreciate it if the fix is part of the next service release but since we have a simple workaround this is not a high prio for us.

Thanks a lot for the help :)

[2021-06-08 13:09] agibsonccc commented on #9342
@braeunlich  yeah we'll document the workaround for now and make sure people are aware of it at a minimum. Thanks for testing!

[2021-06-09 06:00] agibsonccc commented on #9159
Closing this, we support backprop with: FrozenLayerWithBackprop - usages here. https://github.com/eclipse/deeplearning4j/blob/5e8951cd8ee8106bb393635f840c398a1759b2fa/deeplearning4j/deeplearning4j-core/src/test/java/org/deeplearning4j/nn/layers/FrozenLayerWithBackpropTest.java#L90 I assume this is for GANs.

[2021-06-09 06:00] #9159 closed, assigned to agibsonccc

[2021-06-09 06:04] agibsonccc commented on #9263
@MPdaedalus  JFYI https://github.com/eclipse/deeplearning4j/pull/9338

[2021-06-09 06:04] #9263 closed, assigned to nobody

[2021-06-09 06:38] agibsonccc commented on #9149
@SidneyLann  looked in to this, in M1 and snapshots you use:         sameDiff.loss.weightedCrossEntropyWithLogits()
closing this

[2021-06-09 06:38] #9149 closed, assigned to nobody

[2021-06-09 08:40] eix128 opened #9358 "Adding Ultra Fast Sigmoid Function"
It would be good to add Ultra Fast Sigmoid Function to DL4J
Function is :
f(x) = x / (1 + abs(x))

Its approximation to sigmoid function.
Its avalible on Python

[2021-06-09 08:54] #9299 closed, assigned to agibsonccc

[2021-06-09 09:30] SidneyLann commented on #9149
java.lang.UnsupportedOperationException: Please extend DynamicCustomOp.doDiff to support SameDiff backprop operations. Op: org.nd4j.linalg.api.ops.impl.loss.WeightedCrossEntropyLoss

can't train.

[2021-06-09 11:01] eix128 opened #9359 "There is no Binary Step activation function on DL4J ?"
Hi , i looked all activation function list.
But i did not see any Binary Step activation function ?

[2021-06-09 11:40] eix128 commented on #9358
Sorry this seems like fast TANH function

[2021-06-09 12:13] eix128 commented on #9358
This seems fast sigmoid
sigmoid = x / (2 * ((x < 0.0) * -x + (x >= 0.0) * x) + 2) + 0.5

[2021-06-10 08:25] SidneyLann opened #9361 "WeightedCrossEntropyLoss.java has no doDiff method"
java.lang.UnsupportedOperationException: Please extend DynamicCustomOp.doDiff to support SameDiff backprop operations. Op: org.nd4j.linalg.api.ops.impl.loss.WeightedCrossEntropyLoss
	at org.nd4j.linalg.api.ops.DynamicCustomOp.doDiff(DynamicCustomOp.java:593)
	at org.nd4j.autodiff.functions.DifferentialFunction.diff(DifferentialFunction.java:577)
	at org.nd4j.autodiff.samediff.SameDiff$1.define(Sam

[2021-06-10 09:11] agibsonccc commented on #9361
@SidneyLann  let's keep your separate issue you already raised as the main one. Thanks for notifying, we just haven't gotten around to finishing looking at this yet. I put one of our other engineers on this and will try to get this fixed in the next week or so, after that the fix will be available via snapshots.

[2021-06-10 09:11] #9361 closed, assigned to nobody

[2021-06-10 09:12] agibsonccc commented on #9358
@eix128 these kinds of ops will usually be lower priority for us, if you would like to contribute adding an operation we would be happy to walk you through the steps. It should just be customizing the current set of ops to add this.

[2021-06-12 00:52] agibsonccc opened #9366 "CNN 1D doesn't allow feedforward"
#### Issue Description
Reported here:
https://github.com/eclipse/deeplearning4j/pull/9338

We currently don't allow feed forward input type for cnn1d.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if us

[2021-06-12 06:33] agibsonccc commented on #9352
@reckart to keep in line with older glibcs, we'll add a compat classifier to handle this case. It will have to come after our release, but it's worth doing. I think having a newer default will be better with people forced to evaluate a fallback for older releases. It will also help educate users on the trade offs of linking against newer versions. Otherwise I don't think a lot of folks will be awa

[2021-06-12 07:32] reckart commented on #9352
Wrt: compatibility with older OSes - great!

Wrt classifiers: to the different variations of the native libs (i.e. classifiers). I believe by default when somebody uses DL4J, all variations of native libraries in principle available and at runtime, DL4J should inspect the environment (i.e. CPU flags, OS capabilities) and decide which variation is the best to use on that particular system). At leas

[2021-06-12 07:34] agibsonccc commented on #9352
@reckart  the main problem is we compile everything ahead of time. Basically we do libnd4j c++ -> put that in to jar file for javacpp -> user includes that. That dynamic introspection isn't really..possible per se.

That's why we do the classifier based approach. We could have a tool that inspects the features of various OSes and prints out what the user could include, but that's as good as it's g

[2021-06-12 08:09] reckart commented on #9352
I understand that everything is compiled ahead of time.

There is a loader for the native libraries. That loader already takes into account two variables which are only available at runtime:
* the operating system
* whether the CPU is 32 or 64 bit

Do you think it is unreasonable to imagine that the loader could take into account additional information obtained from the environment, e.g.:
* AVX su

[2021-06-12 08:15] reckart commented on #9352
@agibsonccc I thought I head read a comment from you somewhere that there was a (recent) change in the loader (JavaCPP) that would allow to bundle avx and non-avx libraries up together and to decide at load time depending on the CPU which one to use... unfortunately, I don't find that comment anymore and don't remember even exactly where it was... maybe just a wishful dream ;)

[2021-06-12 11:22] saudet commented on #9352
It's possible to do it with JavaCPP and something like cpu_features, yes, see issue https://github.com/eclipse/deeplearning4j/issues/7834#issuecomment-498170278 and https://github.com/bytedeco/javacpp/issues/496.

[2021-06-12 11:25] agibsonccc commented on #9352
Thanks @saudet  for commenting! I'll look at this closer next week to figure out how we want to deal with this then. This has been a great discussion so far!

[2021-06-14 08:35] #9352 closed, assigned to nobody

[2021-06-14 08:37] agibsonccc commented on #9352
@reckart  I have a basic build running on centos 6 now: https://github.com/eclipse/deeplearning4j/actions/workflows/build-deploy-linux-x86_64-compat.yml I'll work on getting a compat classifier you can migrate to for your release. I am going to leave the default on newer versions so people have to consciously pick both a libc as well as what optimizations they want. I'll ping you when the new comp

[2021-06-14 22:11] sascha08-15 opened #9369 "Cannot invoke "org.nd4j.linalg.api.ndarray.INDArray.detach()" because "fwdPass.lastAct" is null"
After updating from beta7 to 1.0.0-M1, I get the following exception using the early stopping:
[code]
Any idea?

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-M1
* Platform information (OS, etc): Win 10 (latest) and Ubunutu 20.10
* No cuda issue

[2021-06-14 22:35] sascha08-15 opened #9370 "Bug: Workspace Memory consumption"
worked in beta 7, only occurs in 1.0.0-M1 now (Win and native Backends)
Following test crashes cause it's allocating 16 bytes instead of 8 bytes for a double.

[code]

Leads to this exception
[code]

However 2 doubles will be allocated with 16 bytes. Some off by one issue?

[2021-06-14 22:36] agibsonccc commented on #9369
@sascha08-15 can you give me something that reproduces this? A standalone example I can copy and paste and just run would get this fixed (or at least verified and a  workaround given) quick. I would also try to run this with snapshots as well.

[2021-06-14 22:45] agibsonccc commented on #9370
@sascha08-15  thanks for the reproducer. We'll look in to this. We'll be turning around a follow up release pretty quickly (this week or next week) to address some issues the community has raised.

[2021-06-16 08:27] agibsonccc commented on #9352
@reckart minor update here...it took a bit of work to get github actions + our existing configurations working with a centos container, but most things seem to be building with that. We should be able to get the new compat classifier out this week with a bit more polish. We'll also try to be more explicit about glibc compatibility in our documentation as well. Thanks for highlighting this!

[2021-06-17 05:01] agibsonccc commented on #9352
@reckart  https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/nd4j-native/1.0.0-SNAPSHOT/ snapshots are now published for compat using centos 7. Could you verify that the compat classifier solves your problem? It should just be adding:
[code]

to your pom.xml.

[2021-06-17 05:02] reckart commented on #9352
Cool! Will do and then report.

[2021-06-17 05:18] agibsonccc commented on #9352
@reckart  appreciated. If this works, we'll ship this for the release coming out likely by next week (this was one of the blockers I wanted to get sorted out) - the docs will reflect the  new behavior as well. Sorry it's not as seamless as using the old default, but I more wanted people to have a migration path that's semi acceptable, not necessarily for us to be stuck on old glibcs for the bulk o

[2021-06-17 07:10] reckart commented on #9352
@agibsonccc it looks like there is no "normal" `windows-x86_64` native anymore, only the AVX and onednn variants. Is that intentional?

[2021-06-17 07:12] agibsonccc commented on #9370
@sascha08-15 actually this isn't a bug. We pad the memory for alignment reasons. If you look at the actual required memory we actually require that for performance reasons. (We force alignment which causes the padding), you can see that here: https://github.com/eclipse/deeplearning4j/blob/4766032444de8e0c2c3389270576bb6e7c466211/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/li

[2021-06-17 07:12] #9370 closed, assigned to quickwritereader

[2021-06-17 07:18] agibsonccc commented on #9352
@reckart that's actually due to sonatype purging snapshots every 3 days. The builds run every 2 days, but an error snuck in to the latest PR preventing the build. I would just use the compat classifier for now and wait for the builds to rerun.

[2021-06-17 13:11] reckart commented on #9352
Still getting the error. I though it might be related to stale content in the JavaCPP cache and moved that to the target folder of my project where it gets cleaned up as part of the build... but... still no cigar:

[code]

[2021-06-17 13:14] reckart commented on #9352
@agibsonccc Note that the path seems to be wrong. JavaCPP tries to load from

[code]

but the correct location should probably be

[code]

At least if I look at the compat JAR, the package includes a "compat" in its name.

[2021-06-17 13:37] agibsonccc commented on #9352
@reckart I suspect it's due to me forgetting to add the classifier to the list for the presets: https://github.com/eclipse/deeplearning4j/pull/9373 I'll ping you after we get snapshots for that. Thanks for being patient with this.

[2021-06-17 14:20] #9366 closed, assigned to nobody

[2021-06-17 15:29] quickwritereader commented on #9334
I confirm this. reduce_mean handled by ordinary sum()/n [Mean impl](https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/ops.h#L3000-L3026). not a numerical_stable one.
afaik we have a better alternative [summary stats](https://github.com/eclipse/deeplearning4j/blob/fc735d30023981ebbb0fafa55ea9520ec44292e0/libnd4j/include/loops/summarystatsreduce.h#L230-L269) but it's used for

[2021-06-17 23:19] agibsonccc opened #9375 "Huber Loss only works with double"
#### Issue Description
Huber Loss Grad applies tArg wrong causing:
[code]
referencing
https://community.konduit.ai/t/huber-loss-function-not-working/1445/6

A data type cast needs to happen for the tArg when a float data type is used (which is the default in dl4j)

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant

[2021-06-17 23:33] agibsonccc commented on #9334
@quickwritereader mind resubmitting a cleaned up draft of that?

[2021-06-18 14:31] sachag678 opened #9376 "Using CuDNN results in worse performance"
### Issue Description

I'm doing some supervised training using a ConvNet. I've attached the network design.

#### Test case 1
In the first case my sbt has the following setup for dl4j:

11:53:12.801 [main] INFO org.nd4j.linalg.factory.Nd4jBackend - Loaded [JCublasBackend] backend
11:53:13.838 [main] INFO org.nd4j.nativeblas.NativeOpsHolder - Number of threads used for linear algebra: 32
11:53:13.

[2021-06-18 15:02] agibsonccc commented on #9376
@sachag678 I'll have to defer this to the next version maybe...a lot of cudnn changes are coming. I would ask that you re open once the newer version is out next week. If you want to try using cudnn, you can look here: https://deeplearning4j.konduit.ai/v/en-1.0.0-m1/multi-project/explanation/configuration/backends/cudnn  - you may also try either using M1 or snapshots: https://deeplearning4j.kondu

[2021-06-18 15:02] #9376 closed, assigned to nobody

[2021-06-19 03:44] yumg commented on #9266
The problem was eventually found to be in the code `org.datavec.api.transform.transform.time.StringToTimeTransform`

The method `readObject` has a bug:

[code]

It should be like this:
[code]

[2021-06-19 13:40] glassbell commented on #9369
Getting a similar exception while trying to train a network in RL4J.
[code]
Not sure how to make a reproduceable example, but it happens when I'm setting `.useLSTM(true)`  like
[code]
If LSTM is not used, everything runs smoothly.
Also I had to shape the input, which is a vector of 5, into an [1, 5, 1] matrix, not sure if it's how it is supposed to be used...

Appears in DL4J version 1.0.0-M1.

[2021-06-19 14:01] agibsonccc commented on #9369
@FrBst  awesome thanks for the reproducer, let me see if I can come up with a quick fix for this. I suspect it will be fairly easy to get this before the minor release.

[2021-06-20 06:21] #9266 closed, assigned to nobody

[2021-06-20 10:02] agibsonccc commented on #9369
@FrBst  could you tell me a bit about how you're running everything? I still can't reproduce that locally. I'm running like this (the equivalent configuration from underneath rl4j):
[code]

Are there multiple threads running in your setup?
@sascha08-15  if you ever see this, I would also appreciate your reproducer as well.

[2021-06-20 11:06] glassbell commented on #9369
@agibsonccc
I have a custom environment, it gives the network input like this:
`return Nd4j.create(new double[][][]{{{cash}, {stocksCount}, {avgPrice}, {currentPrice}, {currentGlobalMetric}}});`

And then I do the following:
[code]

I'm using RL4J's A3C with 8 threads.

[2021-06-20 11:21] glassbell commented on #9369
Tried running https://github.com/treo/rl4j-snake, but with the input of zeroes and with LSTM in the network, and it's running fine. So I'm going to look if I did something wrong in my program and write here again if the problem is gone.

_edit_: Just pasted my classes into treo's project, and everything is working! Seems like the problem is in my original project's settings or something, I'll try

[2021-06-21 02:04] agibsonccc commented on #9369
@FrBst  thanks for the confirmation, let me switch the version to M1 on here and reproduce this to get a fix going for you.

[2021-06-21 11:46] quickwritereader commented on #9334
ok so instead of re-implementing the mean with a running average algo that could give the precise result especially in this case I just used float type for aggregation to solve these types of overflow/accuracy errors in float16, as there are other similar reduction operations. so it is a quick proper fix for now.

[2021-06-21 11:49] quickwritereader commented on #9334
#9380

[2021-06-21 14:14] sachag678 commented on #9376
Okay I will try using the M1 version and see if the same issue persists. Thanks!

[2021-06-22 01:25] agibsonccc commented on #9369
@FrBst  in your project there (or in another self contained project) do you mind creating a small repo for me to clone? I poked at paul's repo this morning and I'm not quite sure where you made the changes. An exact demo class where I can just inspect the stack trace will help me focus on the fix rather than configuring the project. Appreciate your help here a ton!

[2021-06-22 11:51] glassbell commented on #9369
@agibsonccc here you go: https://github.com/FrBst/rl4j-snake
Launch TrainA3C's main.

[2021-06-22 12:02] agibsonccc commented on #9369
@FrBst  this is wonderful thank you. I was able to immediately run it and see the issue. I'll follow up soon.

[2021-06-22 13:16] agibsonccc commented on #9369
@FrBst @sascha08-15 closing this. The issue is related to a broken code path in MKLDNNLSTMHelper which is already disabled by default in snapshots.  If you need the fix, just go ahead and use snapshots for now.

 https://deeplearning4j.konduit.ai/v/en-1.0.0-m1/multi-project/explanation/snapshots#useful-maven-commands-for-snapshots

The new way to use helpers will be through c++ and configuring a m

[2021-06-22 13:16] #9369 closed, assigned to nobody

[2021-06-22 15:58] sachag678 commented on #9376
I also just wanted to note - I tried the same experiment but with a slightly different network design. There was the opposite behavior where the cuDNN performed better so it seems that it is a case by case basis.

[2021-06-24 10:48] reckart commented on #9352
@agibsonccc is it correct that this issue is already closed?

[2021-06-24 10:51] agibsonccc commented on #9352
@reckart thanks for checking, snapshots should be up for you now. If you still have issues, let me know. I recently did a staging repository for compat for testing and that worked as well.

[2021-06-24 13:02] quickwritereader commented on #9375
#9385

[2021-06-24 13:20] #9375 closed, assigned to quickwritereader

[2021-06-28 08:34] printomi commented on #9345
Hi @lonerzzz ,
Let me explain that.
Training updates the parameters from iteration to iteration. "Ratio of parameters to updates (by layer)" tells how much the parameters of each layer change during training.
Parameters are expected to converge to an optimal set of values, decreasing the parameter update ratio meaning a downward trend of the plot.
An upward trend means that the training accelerate

[2021-06-28 08:41] printomi commented on #9345
What I wrote is not specific to DL4J, it is just how neural networks work. If you have more questions, please, use the community forum instead of GH issues:
https://community.konduit.ai/

[2021-06-29 11:57] liunancun opened #9387 "After performing migration learning on the pre-trained model, why is the output result different?"
ComputationGraph initializedModel = (ComputationGraph) ResNet50.builder().build().initPretrained();

INDArray input = new NativeImageLoader(224, 224).asMatrix("D:\\test.jpg");

INDArray output = initializedModel.outputSingle(input);

System.out.println(output);

initializedModel = new TransferLearning.GraphBuilder(initializedModel).removeVertexAndConnections("fc1000")
		.addLayer("fc1000",
				new

[2021-06-29 12:02] liunancun opened #9388 "Use pre-trained model to extract feature vectors"
import numpy as np
from tensorflow.keras.applications.resnet50 import ResNet50
from tensorflow.keras.applications.resnet50 import preprocess_input as preprocess_input_resnet50
from tensorflow.keras.preprocessing import image
from numpy import linalg as LA

img = image.load_img("D:\\demo.png", target_size=(224, 224))
img = image.img_to_array(img)
img = np.expand_dims(img, axis=0)
img = preprocess_i

[2021-06-29 12:32] agibsonccc commented on #9387
@liunancun do you mind doing a self contained example I can run with one click and no dependencies? (eg: your image you're loading) so I can compare the results and try to answer your question? Thanks!

[2021-06-29 16:51] treo commented on #9387
That isn't actually entirely true. What you have done with the code you've posted, is that you effectively reset the trained weights of the "fc1000" layers to random. And with random parameters, the output obviously is going to be different than with trained parameters.

[2021-06-29 20:28] DarkWingMcQuack commented on #9133
Are there any news on importing ONNX models directly? Is there a tutorial or example code how to do this?

[2021-06-29 22:19] agibsonccc commented on #9133
@DarkWingMcQuack  yes you can use the samediff-import-onnx. It's not fully baked yet though. If you want to give it a shot, I'd be happy to take a look at your model and see if it works.
Basic docs for that are here: https://deeplearning4j.konduit.ai/v/en-1.0.0-m1/samediff/explanation/model-import-framework

You can see the implemented definitions here:
https://github.com/eclipse/deeplearning4j/bl

[2021-06-29 22:22] agibsonccc commented on #9387
@treo I was going to guess something similar, but wanted to show something concrete. @liunancun  @treo 's explanation is correct though. The new layer you're adding has different parameters than the original one.

[2021-06-30 01:59] liunancun commented on #9387
@treo How to make their weights consistent?

[2021-06-30 02:01] agibsonccc commented on #9387
@liunancun  why do this at all? You would basically have to copy the weights from the old layer to the new one. The point of transfer learning is to modify the net and keep what you don't need to retrain.

[2021-06-30 02:01] #9387 closed, assigned to nobody

[2021-06-30 02:01] agibsonccc commented on #9387
Since you seem to be fine with the response, please take further questions to the community forums. This issue tracker is for bugs not questions. https://community.konduit.ai/

[2021-06-30 07:48] SidneyLann opened #9389 "LSTM not work in M1"
#### Issue Description

Please describe our issue, along with:
- expected behavior
let M1 work like it does in beta7

- encountered behavior

Could not calculate output shape for op DynamicCustomOp: not fully initialized (0 TArgs specified, 1 required)

[code]

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version M1
* Platform information (

[2021-06-30 07:55] agibsonccc commented on #9389
@SidneyLann  could you please provide a complete example including input I can just run to verify this? Thanks!

[2021-06-30 08:11] SidneyLann commented on #9389
@agibsonccc Please give me your email address.

[2021-06-30 08:36] agibsonccc commented on #9389
@SidneyLann  DM me on the forums please.

[2021-06-30 12:50] SidneyLann commented on #9389
But there can't upload zip files.

[2021-06-30 21:42] agibsonccc commented on #9389
@SidneyLann  that's fine. I'm happy to have the conversation on there, then if needed you can send me sharing links or an email. I just don't want an email publicly accessible for bots to spam.

[2021-06-30 21:55] agibsonccc commented on #9389
@SidneyLann  confirmed already fixed on snapshots/new release version. I was able to run your code just fine. I downloaded it from the archives. It was likely related to the helpers issues that were already fixed. Thanks for reporting!

[2021-06-30 21:55] #9389 closed, assigned to nobody

[2021-07-01 02:30] agibsonccc commented on #9199
Closing as duplicate in favor of: https://github.com/eclipse/deeplearning4j/issues/9142 for a workaround please pre save the data on cpu and avoid shuffle operations on gpu. This will be added as a known issue so people know what the work around is.

[2021-07-01 02:30] #9199 closed, assigned to nobody

[2021-07-01 09:13] reckart commented on #9352
I am trying to test this again, but the compat artifacts seem to no longer be available in the SNAPSHOT repo: https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/nd4j-native/1.0.0-SNAPSHOT/

[2021-07-01 09:13] reckart commented on #9352
Can you point me to the staging repo?

[2021-07-01 10:12] agibsonccc commented on #9352
M1.1 will be out to maven central as soon as sonatype syncs. Please keep an
eye out for central.

On Thu, Jul 1, 2021, 18:13 Richard Eckart de Castilho <
***@***.***> wrote:

[2021-07-02 12:34] shap3e opened #9390 "[link spam deleted]"
#### Issue Description

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Information

Where applicable, please also provide:

* Full log or except

[2021-07-02 13:09] #9390 closed, assigned to nobody

[2021-07-10 10:04] reckart commented on #9352
Did M1.1 get stuck somewhere?

[2021-07-10 10:22] agibsonccc commented on #9352
@reckart mainly on timed out windows builds failing. Sonatype only told me to re upload and see how it goes. I didn't really get much help on recovering the build that was already there. They never even gave a reason why it failed in the first place. No code has changed, it's literally just getting the builds running and trying it again and seeing what happens. The windows builds take 5.5 hours an

[2021-07-10 10:25] reckart commented on #9352
For upload Timeouts the retry setting in the maven deploy plugin is wonderful. It once allowed me to complete a release on the flaky internet of a train 🙂

[2021-07-10 10:26] agibsonccc commented on #9352
@reckart nah build/github time outs, not maven. I have all the maven wagon configurations setup already to be more robust to those kinds of failures. Thanks for the tip though! The workflows are here if you're curious: https://github.com/eclipse/deeplearning4j/tree/master/.github/workflows

[2021-07-13 03:21] baedaron opened #9391 "A simple bug in org.deeplearning4j.earlystopping.scorecalc.ROCScoreCalculator.ROCScoreCalculator."
#### Issue Description

    @Override
    protected double finalScore(IEvaluation eval) {
        switch (type){
            case ROC:
                ROC r = (ROC)eval;
                return metric == Metric.AUC ? r.calculateAUC() : r.calculateAUCPR();
            case BINARY:
                ROCBinary r2 = (ROCBinary) eval;
               //*** I am new in dl4j and deep learning but think below

[2021-07-15 07:58] nadre commented on #9352
Any updates? :)

[2021-07-15 08:05] agibsonccc commented on #9352
The bottleneck is sonatype here unfortunately. Please see the linked issue
on the ossrh JIRA.

On Thu, Jul 15, 2021, 16:59 Erdan Genc ***@***.***> wrote:

[2021-07-15 20:47] wcneill opened #9393 "INDArray.match(Number, Condition) not returning expected results."
**Expected behavior:**
`array.match(n, Conditions.equals())` should return a mask such that each entry `mask.get(i)` is `array[i] == n`

**Encountered behavior:**

the mask contains incorrect booleans for anything but `n=0`.

#### Version Information

Please indicate relevant versions, including, if relevant:

* nd4j version beta 7.
* Platform information (OS, etc): Windows 10 Enterprise

#### To

[2021-07-21 14:24] agibsonccc commented on #9352
@nadre @reckart 1.0.0-M1.1 is out on maven central. Sorry for the delay!

[2021-07-21 16:52] reckart commented on #9352
Looks like the linux compat libs work nicely :) The only thing: there don't seem to be any "normal" linux natives anymore - only compat, onednn, etc. but nothing without a suffix.

[2021-07-21 20:12] KhioneusNevula opened #9397 "Issues importing Keras Model from python to Java due to Conv3DTranspose layer"
#### Issue Description
I was attempting to import a model I had saved from Python using Keras into DL4J in Java.

Expected Behavior:
KerasModelImport.importKerasSequentialModelAndWeights would appropriately import my saved model which I previously wrote and saved in python without issues.

Encountered Behavior:
The method ended up throwing an error because it did not recognize the "Conv3DTranspose

[2021-07-21 22:30] agibsonccc commented on #9352
@reckart  ah noticed that thanks! I just kicked another release off and will add that classifier as well. It appears that build failed while the other ones passed.

Now that we've done 1 release I will be able to automate the process now.

The first manual one was to understand how pushing github actions limits (eg: the 6 hour builds + cuda requiring 2 threads)  - overall the process is repeatable

[2021-07-22 10:41] agibsonccc commented on #9352
@reckart  should be there now  - https://repo1.maven.org/maven2/org/nd4j/nd4j-native/1.0.0-M1.1/ thanks again for highlighting this!

[2021-07-23 18:53] marquies opened #9398 "Keras Import Problem: Unsupported keras layer type Functional"
Hey all, thank you for your efforts in this project. KUDOS.

#### Issue Description

I'm trying to load a Keras Model created with TF. It is a Yolov3. Looks like the Functional Layer Type is not supported (?)

[code]

![model](https://user-images.githubusercontent.com/376818/126827201-0b298279-0247-4746-91b5-a61cbbf1f575.png)

I'm loading the model simply with this code:
` KerasModelImport.importK

[2021-07-23 18:57] marquies commented on #9397
Hi, have you tried with version 1.0.0-M1.1 ?

[2021-07-23 23:09] KhioneusNevula commented on #9397
No, I have not. Can you tell me how to do a gradle download for it?

[2021-07-24 12:04] agibsonccc commented on #9397
@marquies Conv3DTranspose is not in the new release unfortunately, we will have to implement it. For now only a custom layer will work.  We'll get this in to the next release and have snapshots

@KhioneusNevula  just change your version to 1.0.0-M1.1

[2021-07-24 17:27] KhioneusNevula commented on #9397
@agibsonccc There's an existing Deconvolution3D layer for DL4J. Is there any way to make a custom layer that just uses the Deconvolution3D layer's functionality? Deconvolution3D is I believe equivalent to Conv3DTranspose

[2021-07-24 21:55] agibsonccc commented on #9397
@KhioneusNevula indeed there is.  Let me clarify something:
Generally if you need to implement a custom layer, you would do that with samediff. It has automatic differentiation and would allow you to just map ops line by line from an existing implementation.

In order to use the dl4j version,  when I say "implement" it basically means creating a KerasLayer. You can see those here:
https://github.c

[2021-07-24 23:31] KhioneusNevula commented on #9397
Thank you!

[2021-07-25 01:01] agibsonccc commented on #9398
@marquies do you mind  just giving me a direct reproducer + test input for the model? That could be a python script that saves the model or an h5 model + sample input.

[2021-07-25 11:22] marquies commented on #9398
Well, I don't mind, but it is not straight forward. I have a link to a kaggle notebook. It contains some parts of this project (https://github.com/zzh8829/yolov3-tf2) to create and train a YoloV3 net in TensorFlow2.

My project on kaggle -> https://www.kaggle.com/patricksteinert/prepare-and-train-fruits360-tf-object-detection

I can provide you a saved model and sample input as well: https://www.p

[2021-07-26 20:56] agibsonccc commented on #9398
@marquies  generally just a saved model and a sample ndarray is all I would need. The input would be something like:
[code]
I can try to reverse engineer that from your notebook, but generally it's helpful when I just have a sample ndarray to look at. The reason for this is so I don't have to dissect your data pipeline just to get to what we both really want: me seeing a stack trace.
I also use it

[2021-07-26 23:51] agibsonccc commented on #9397
@KhioneusNevula  I'm taking a look at this, do you have a reproducer model for me so I can double check the results?
Edit: I added the work in progress pull request here: https://github.com/eclipse/deeplearning4j/pull/9399 this handles the basic ingredients needed to get import in there. I just need your test case and I'll make sure it works against different use cases.

[2021-07-27 00:19] KhioneusNevula commented on #9397
@agibsoncc I'm very new to using machine learning and GitHub so I'm not super familiar with what a "reproducer model" is.

[2021-07-27 00:58] agibsonccc commented on #9397
@KhioneusNevula a reproducer in software (especially open source) helps a library author reproduce the conditions under which something isn't working properly.

A model is just a machine learning model, in this case an exact configuration + some weights you save.
This could be anything that you create in keras and call save(..) on.

Usually to go with that I would want a sample numpy array that yo

[2021-07-27 01:16] KhioneusNevula commented on #9397
Hi,
I am the issue author; I tried storing the model in various ways.
I used both json (I'll send as zip) and h5.
[h5 file](https://drive.google.com/file/d/1a4hb7cqygzotErIpjmmwwYIBX9M58v4Q/view?usp=sharing)
[json file with h5 weights file in zip folder](https://drive.google.com/file/d/1jyaBZAvU9Hy8oEK5u4ZQHuGDytprUkd2/view?usp=sharing)

[2021-07-27 01:21] agibsonccc commented on #9397
@KhioneusNevula yes I'm aware :) I was speaking in general terms so you understood that this was a standard practice for any library you probably report an issue to. I appreciate you getting back to me and I will take a look with this. Thanks!

[2021-07-27 04:11] agibsonccc commented on #9393
@wcneill fixed the issue here:
https://github.com/eclipse/deeplearning4j/pull/9400
, thanks for reporting:.

[2021-07-27 04:41] agibsonccc commented on #9391
@baedaron fixed here: https://github.com/eclipse/deeplearning4j/pull/9401 great find! pending review this will be merged and pushed to snapshots. Thanks for the report!

[2021-07-27 04:42] agibsonccc commented on #9388
Closing as this is mainly a support issue. Please use our forums for questions like this. I would suggest looking at our keras import.  https://deeplearning4j.konduit.ai/keras-import/overview

[2021-07-27 04:42] #9388 closed, assigned to nobody

[2021-07-27 09:01] #9391 closed, assigned to nobody

[2021-07-28 03:19] agibsonccc commented on #9397
@KhioneusNevula how exactly did you save your model? I keep getting errors when trying to load it. I'm using tf.keras 2.5.0.

[2021-07-28 06:16] KhioneusNevula commented on #9397
I used keras 2.4.3 and called the "save" function on the model

[2021-07-28 06:39] marquies commented on #9398
So I guess this is what you are looking for: https://github.com/marquies/recognizer2/blob/master/src/main/resources/inference.py

Side note: it's really wicked, not even tensorflow.keras can load the file. In the jupyter notebook itself, I get this error:
[code]

On my local machine:

[code]

[2021-07-29 14:34] MTTRK opened #9403 "MultiLayerConfiguration.Builder child class is missing new parameter while building"
#### Issue Description

When building a new configuration via `NeuralNetConfiguration.Builder`, such as the one in the main README of the repo:
[code]
a child class instance, one that extends `MultiLayerConfiguration.Builder`, is being returned and used to build the overall configuration. That _builder_ is not using at least one configuration parameter which was recently introduced for the origina

[2021-07-30 11:25] #9393 closed, assigned to agibsonccc

[2021-07-30 12:27] robert-E opened #9404 "ParagraphVectors loosing labels when they occur in trained text"
#### Issue Description

I train a ParagraphVectors with LabelledDocuments and a SimpleLabelAwareIterator. Each document has one of the following labels: sport, tech, business. So after training the ParagraphVectors i would expect that calling vector.getLabelsSource().getLabels() returns a list containing those 3 labels - and most of the time it does.
But if ParagraphVectors sees a document contain

[2021-07-30 15:22] ndr09 opened #9405 "FeedForwardToCnnPreProcessor columns() call is not valid"
Good day,

#### Issue Description

I'm trying to built a convolutional autoencoder. The encoder is composed by the alternation of convolution and pooling and it ends with a dense layer. It starts with a matrix of double of 200x39 and it ends with a vector of size 4. The decoder is specular: it starts with a dense layer (from 4 to 9 features) and recompose the matrix through unpooling and deconvolu

[2021-07-31 11:53] agibsonccc commented on #9397
@KhioneusNevula just confirming I was able to load the model with your given configuration. I just need to add a test for NCDHW format in addition to your test case which is channels last to ensure we cover all valid cases and we should be good to go. Thanks for the test case!

[2021-07-31 17:19] KhioneusNevula commented on #9397
Thank you so much for your help!

[2021-08-01 06:34] agibsonccc commented on #9405
@ndr09 do you have a reproducer for me? Happy to fix if I can get a simple configuration that does this with sample input.

[2021-08-01 07:09] agibsonccc commented on #9398
Not quite... I would need whatever this is: https://github.com/marquies/recognizer2/blob/master/src/main/resources/inference.py#L91

[2021-08-02 06:40] #9403 closed, assigned to nobody

[2021-08-02 07:44] #9397 closed, assigned to nobody

[2021-08-02 09:05] MTTRK commented on #9403
@agibsonccc could you please have another go at it ? I believe this is still not exactly what we are looking for.

Let me describe you more clearly what my actual problem with this was:

- the value in question, **overrideNinUponBuild**, will still remain unused, since **build()** creates a new instance of the parent class, where the default value is TRUE, before handing over the other parameters

[2021-08-03 20:54] KhioneusNevula commented on #9397
@agibsonccc How would I access the changes you made?

[2021-08-04 05:52] agibsonccc commented on #9397
@KhioneusNevula it should be available on snapshots https://deeplearning4j.konduit.ai/multi-project/explanation/snapshots

[2021-08-04 13:32] b005t3r commented on #9171
I tried running my code again with the new version (1..0.0-M1.1), but it still does not work, call stack below:

[code]

[2021-08-04 15:56] wcneill opened #9412 "Eigenvalues sometimes incorrect from `Eigen.eig()`"
#### Issue Description
Sometimes, one or more eigenvalues produced by `Eigen.eig()` are incorrect.

**Expected and Actual behavior**
When sorted, the 233rd eigenvalue of 750 is incorrect. Its value should be 1 (with tolerance), but it is being calculated as 0 (also with tolerance). I verifed this with the following script:

[code]

This is throwing off my attempts to calculate the spectral gap for

[2021-08-05 11:37] agibsonccc commented on #9171
@b005t3r just letting you know I saw this. Let me take a look when I get some bandwidth. I'll revert either tomorrow or early next week. Thanks!

[2021-08-07 10:01] ionspin opened #9414 "Removed author tag"
#### Issue Description

Author tag removed from my contribution.

#### Version Information

Please indicate relevant versions, including, if relevant:

Version with attribution:
https://github.com/eclipse/deeplearning4j/blob/65c6a9a42e4e14fe98ccb99a3015d74b7072ae50/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/layers/FrozenLayerWithBackprop.java

Version without attribution:

[2021-08-07 10:10] agibsonccc commented on #9414
@ionspin please feel free to submit a pull request and we'll be happy to get it back in there. Apologies for the mistake there.

[2021-08-07 13:00] catapop84 opened #9415 "Is clustering package removed from 1.0.0-M1.1 ?"
Please describe our issue, along with:
I'm trying to use `KMeansClustering` but it looks like it was removed from `deeplearning4j-core` ,version 1.0.0-M1.1
Was it moved somewhere else?

[2021-08-07 13:39] agibsonccc commented on #9415
@catapop84 yes it was. None of those packages were really being maintained and were not core to the framework. The release notes are here:  https://deeplearning4j.konduit.ai/v/en-1.0.0-m1.1/release-notes Check both M1 and M1.1 - the decision was made to remove old code to ease maintenance and to avoid confusing users about which modules are or are not maintained.

That contribution was done quite

[2021-08-07 13:39] #9415 closed, assigned to nobody

[2021-08-07 19:25] quickwritereader commented on #9412
@wcneill does it happen randomly or just happen for certain inputs?
 - for the former it would be better to provide minimal reproducible code + dataset
 - for the second one could you provide the failing input matrice

so I could check myself and confirm the issue and try to fix it
 thanks

[2021-08-08 09:21] MTTRK opened #9416 "MultiLayerConfiguration.Builder child class is missing new parameter while building"
#### Issue Description

Same issue, since it wasn't fixed in the PR:
[#9403](https://github.com/eclipse/deeplearning4j/issues/9403)

#### Solution

In the `NeuralNetConfiguration.ListBuilder.build()`
**instead of:**
[code]

**we should have:**
[code]
...otherwise the override value won't be used.

[2021-08-09 08:08] pza94 opened #9417 "AVX2 brings no performance improvement?"
Hey guys,

recently started using avx2 backend (as opposed to the generic x86-64), and to our surprise we saw no performance improvement whatsoever, in fact avx2 seemed to be ever so slightly slower. At first we thought that the problem is with our ML algorithms, meaning that it can not really take advantage of any sort of SIMD. But we ran some tests and found that the issue might not with our alg

[2021-08-09 09:13] agibsonccc commented on #9417
@pza94 I would first do a warmup and use something like JMH for benchmarking to avoid the warmup problem.
I would also advise trying onednn and seeing if that's relevant. Certain smaller problems may not see much of an improvement either..

Beyond that, could you mention the CPU you're running on? You may not see benefits depending on that either.

[2021-08-09 09:27] pza94 commented on #9417
I ran this test on a AMD Ryzen 5 3500U CPU https://www.amd.com/en/products/apu/amd-ryzen-5-3500u.
As for the size of the problem, a matrix multiplication of dim 16k is definitely in the territory where you should see improvements.

Do you guys have some benchmarks for AVX2 vs generic binaries in Nd4j, btw? I totally understand that the above test is insufficient for any benchmarking purposes, but

[2021-08-09 09:37] treo commented on #9417
The 3500U is based on the first-gen Zen architecture, or rather Zen+ which is just a process node improvement, but not a new architecture.

This is likely the reason why you don't see a lot of benefit from switching to AVX2.

[2021-08-09 09:47] pza94 commented on #9417
@treo Interesting, could you please link the source of this info?

My understanding of AVX2 clearly seems limited. Does this basically mean, that some CPUs are "just" compatible with AVX2, meaning that they can interpret and execute the instructions but brings no improvement in actual execution time, depending on the implementation?

[2021-08-09 09:52] treo commented on #9417
That particular quote is from https://en.wikipedia.org/wiki/Zen_(first_generation_microarchitecture)#Performance

And yes, there are cases where due to the way it is implemented, it is just compatible enough to execute those binaries, but it doesn't really have any benefit.

[2021-08-09 10:01] pza94 commented on #9417
Okay guys, thanks for the clarification. I would probably like to suggest that you mention this topic in the docs. We had just a very vague idea of AVX2, but we kept seeing the warning message when loading nd4j, the we should upgrade to AVX2, and were just surprised to see no benefits of doing so.

There are probably others who can run into this issue.

[2021-08-09 10:15] pza94 commented on #9417
Update: I had my colleague run this same test on a AMD Ryzen 7 3700X. (that is Zen2).
He experienced also no improvement at all.

[2021-08-09 10:34] agibsonccc commented on #9417
@pza94 can you try including onednn-avx and see if that helps? The issue might be with openblas pre picking avx in any of the binaries despite what libnd4j's been compiled with. Would be good to verify some of this.  Thanks for the help!

[2021-08-09 11:14] treo commented on #9417
I can confirm that on my Ryzen 9 5900X (Zen 3) it also doesn't seems to make a difference.

@pza94 Thank you for highlighting the issue. We'll try to figure out why exactly that is happening even on systems where there should be a proper speedup.

[2021-08-09 11:28] pza94 commented on #9417
we tried ondenn as well, same result.
Note I just realized I used, mul (pointwise) instead of mmul, but that wasn't the problem, we tested everything with mmul, still having the same outcome.

[2021-08-09 11:31] quickwritereader commented on #9417
libnd4j always tries to delegate some ops to well-optimized platform kernels.. that matrix multiplication should be delegated to third-party/platform BLAS kernels(in this case it's mostly OpenBLAS).
also, check performance with OMP_NUM_THREADS=1.
if you see such issues with other ops. then I could investigate if that op was properly auto vectorized or not.
(we mostly relying on auto-vectorization

[2021-08-09 15:27] quickwritereader commented on #9417
just checked the generic case for elementwise multiplication (the example that @pza94  provided) as it is calculated by libnd4j itself.
I got vectorized codes(~~avx~~ sse) there as well. ~~Therefore no difference between avx/avx2 one and the generic one while using floating-point~~.

[code]

![image](https://user-images.githubusercontent.com/4885088/128731709-4a8146f2-3245-4722-a33f-5ac0de5f6c43.p

[2021-08-09 23:14] quickwritereader commented on #9417
correction. the generic one is using sse mulps . the avx one is using vmulps
but GCC adds extra instructions (probably because of some faulty chip arch) there which might be the reason
![image](https://user-images.githubusercontent.com/4885088/128785515-90cc995a-505b-48be-a7f5-bb6e5c00b7c0.png)

 adding -mno-avx256-split-unaligned-load -mno-avx256-split-unaligned-store flags should handle it.
but

[2021-08-11 03:11] agibsonccc commented on #9414
@ionspin just a ping here, still happy to accept the pull request. Thanks again for mentioning this!

[2021-08-11 15:23] wcneill commented on #9412
@quickwritereader It happens for certain inputs (one in particular that I've found), so it can be reliably reproduced. Should I write the matrix to a numpy file or just give you the CSV? And how would you like me to send it to you?

[2021-08-11 18:02] quickwritereader commented on #9412
both ways are fine.
@wcneill,  thanks

[2021-08-11 20:44] quickwritereader commented on #9417
well adding `-mno-avx256-split-unaligned-load -mno-avx256-split-unaligned-store` with `32byte alignment did `not give any noticeable changes on AMD CPU(Threadripper 3970X). as the op is memory bound it is understandable.
~~but what surprised me is that when using workspace libnd4j **_can parallelize better_** than normal usage.
that's is an odd situation.~~

[2021-08-12 13:46] #9414 closed, assigned to nobody

[2021-08-13 10:41] benbenwt opened #9419 "some errors happened when I import TF PB file"
#### Issue Description

this is my code:
[code]

the following is error log:
[code]
#### Version Information

Please indicate relevant versions, including, if relevant:
 <dl4j-master.version>1.0.0-M1.1</dl4j-master.version>
I work on windows10

#### Additional Information

The model is downloaded from https://github.com/google-research/bert,and this is  my script to tranform it into PB File.

pyth

[2021-08-13 12:10] agibsonccc commented on #9419
@benbenwt See: https://community.konduit.ai/t/unsupportedoperationexception-while-training/1546 closing this since you also have a forum thread.

[2021-08-13 12:10] #9419 closed, assigned to nobody

[2021-08-14 01:33] daviddbal commented on #9417
I just upgraded my 7 year-old Intel 4790k processor to a new Ryzen 5700g and I see training taking 18x longer while in general this CPU is 2.5x faster than the old one.  I used the AVX2 classifier and it didn't speed it up.

[2021-08-14 01:44] quickwritereader commented on #9417
@daviddbal were using the same version of dl4j on intel as well?

[2021-08-14 01:56] daviddbal commented on #9417
Yes.  1.0.0-beta7

[2021-08-14 02:00] quickwritereader commented on #9417
@daviddbal sorry for asking again? so you were using 1.0.0-beta7 on both and there was performance degradation, right?
and you were using openblas or mkl one? intel sometimes does crazy things there

[2021-08-14 02:07] agibsonccc commented on #9417
@daviddbal @pza94 we'll be doing a follow up release in the next week or so to address some of this. We need to chase down the root cause of this and clearly document the trade offs after we do some benchmarking and running on different cpus. Thanks for chasing this down with us!

[2021-08-14 02:08] daviddbal commented on #9417
Yes, 1.0.0-beta7 on both machines.  I'm now trying 1.0.0-M1.1, but I'm having trouble with my gradle build file:

I'm getting this error with 1.0.0-M1.1
Caused by: java.lang.UnsatisfiedLinkError: /home/bal/.javacpp/cache/nd4j-native-1.0.0-M1.1-linux-x86_64.jar/org/nd4j/nativeblas/linux-x86_64/libjnind4jcpu.so: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22’ not found (required b

[2021-08-14 02:10] agibsonccc commented on #9417
@daviddbal openblas comes with nd4j-native as well as a transitive dependency. You can see the comprehensive list of dependencies here: https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-backend-impls/nd4j-native-platform/pom.xml

If you have issues with using openblas or mkl, you can also include those as dependencies as what's found in nd4j-native-platform.

As mention

[2021-08-14 02:24] agibsonccc commented on #9417
Adding link to other thread for posterity just in case this comes up in future search results: https://community.konduit.ai/t/amd-ryzen-5000-cpu-poor-performance/1554/13

[2021-08-14 02:44] agibsonccc commented on #9417
Just noting also for folks who aren't familiar with this problem, see an example fix by matlab:
https://www.extremetech.com/computing/308501-crippled-no-longer-matlab-2020a-runs-amd-cpus-at-full-speed
https://www.reddit.com/r/matlab/comments/dxn38s/howto_force_matlab_to_use_a_fast_codepath_on_amd/

In essence, the solution could be just adding:
[code]

as a workaround. We will try to figure out a

[2021-08-14 05:02] benbenwt opened #9420 "Some error happened when I importFrozenTF by SameDiffI"
#### Issue Description

when I execute " package org.deeplearning4j.modelimportexamples.tf.advanced.bert.BertInferenceExample",some error happened.

the following is error log:
[code]
After solving this,I got a new error:
[code]
this my revised code:
[code]

#### Version Information
<dl4j-master.version>1.0.0-M1.1</dl4j-master.version>
windows10
#### Additional Information

The model is PB file do

[2021-08-14 09:27] agibsonccc commented on #9404
@robert-E sorry prepping for the next release and just getting to some issues. If you don't hear from me, please reping me in the future.  Ideally, we could either guide you on a pull request or you could give us some end to end code to run to make this easier. Sometimes we look at issues, but don't respond if they're not very actionable. Apologies for that. If you can get us a sample project, we

[2021-08-14 18:31] daviddbal commented on #9417
I set the environment variable on my AMD Ryzen compute:
export MKL_DEBUG_CPU_TYPE=5
No effect.  Still ~20x slower in training than my 7 year old Intel CPU.

[2021-08-15 13:12] agibsonccc commented on #9417
@pza94 @daviddbal

@quickwritereader and I dove in to this and found that onednn was not being invoked properly. We did find some minor speedups on AMD software but didn't do much yet. Instead, I focused on properly updating the c++ codebase to use a more recent (2.3.x) version of onednn that doesn't have any of the performance issues with AMD. You can see that pull request here:
https://github.co

[2021-08-16 02:18] abcxys opened #9424 "Cudnn layer helper missing during inference"
#### Issue Description

Import a python-keras trained UNet model, do the inference with dl4j, using CUDA backend
- use cudnn by default
- cudnn helpers not initialized

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-M1.1
* Platform information (OS, etc): Windows 10
* CUDA version, if used: 11.2
* NVIDIA driver version, if in us

[2021-08-16 11:45] quickwritereader commented on #9424
your log shows that you are not using Cudnn as it does not utput HAVE_CUDNN.
besides, the system picks cudnn underhood when it meets the op requirements. we are going to add proper debug logs for that.
I believe pom  classifier should be linux-x86_64-cuda-11.2-cudnn

[2021-08-16 12:00] agibsonccc commented on #9424
@abcxys we don't have cudnn by default. You have to add a cudnn specific dependency. Please see: https://deeplearning4j.konduit.ai/v/en-1.0.0-m1/multi-project-multi-project/explanation/configuration/backends/cudnn

Sometimes people prefer not to have cudnn due to binary size, so we let users make the trade off.

[2021-08-16 12:00] #9424 closed, assigned to nobody

[2021-08-16 14:29] agibsonccc commented on #9420
@behrisch found out what happened. The old TF import example actually used to filter those ops out: https://github.com/eclipse/deeplearning4j-examples/blob/master/tensorflow-keras-import-examples/src/main/java/org/deeplearning4j/modelimportexamples/tf/advanced/bert/BertInferenceExample.java

The new import now has those ops as no ops so we can just skip those when we see them as we would in other

[2021-08-16 19:30] marquies commented on #9398
hey, sorry for the delay. Unfortunately, it is a quite big file. I have uploaded it here: https://www.patricksteinert.de/stuff/yolov3-fruits360.zip
But I have used the before mentioned and linked hdf5 file
`            model = KerasModelImport.importKerasModelAndWeights("yolo_v3_fruits360_2021_07_23_4/yolo_model_export.h5", false);
`

[2021-08-17 01:36] abcxys commented on #9424
Thanks for your reply! I actually did add that dependency in maven, but the there is still no "HAVE_CUDNN" nor "CudnnConvolutionHelper" printed. I post the pom.xml file here, do you have any idea on what's wrong?
[pom.xml.txt](https://github.com/eclipse/deeplearning4j/files/6996421/pom.xml.txt)

[2021-08-18 07:58] b005t3r commented on #9171
@agibsonccc just wanted to ask if you maybe found some time to look into this again?

[2021-08-18 09:06] abcxys commented on #9424
I got the backend to load CUDNN finally. But the imported models still could not initialize cudnn helpers in convolution layers.
The backend log now reads:
` MSVC: 192930038`
`STD version: 201703L`
`CUDA: 11.2.142`
`DEFAULT_ENGINE: samediff::ENGINE_CUDA`
`HAVE_FLATBUFFERS`
`HAVE_CUDNN`

I read into the code of `org.deeplearning4j.nn.layers.convolution` and noticed that the layer would initialize h

[2021-08-18 23:21] jfarjona opened #9428 "Receiving a NullPointerException when accessing the UI Server"
#### Issue Description

Getting a Nullpointer Exception from netty/vertx, when trying to access the running UI Server:

``
java.lang.NullPointerException: cause
	at io.netty.util.internal.ObjectUtil.checkNotNull(ObjectUtil.java:39) ~[netty-common-4.1.66.Final.jar:4.1.66.Final]
	at io.netty.channel.AbstractChannelHandlerContext.invokeExceptionCaught(AbstractChannelHandlerContext.java:278) ~[netty-t

[2021-08-22 07:57] akhodakivskiy opened #9429 "CpuNativeRandom is not quite random"
The following code `Nd4j.getRandomFactory.getNewRandomInstance(seed).nextInt(limit)` does not seem to generate all possible numbers less than or equal to `limit` for some values of `limit`, e.g. 320. Consider the following Scala code

[code]

If we generate 1000000 random numbers under `limit=320` we will find out that there are only 225 distinct values. Other values of `limit` don't exhibit this

[2021-08-25 06:14] #9420 closed, assigned to nobody

[2021-08-27 17:10] jfarjona commented on #9428
An update:  I separated all dependencies that could have any influence on the UI server.
My dependencies are now:
`<dependencies>
        <dependency>
            <groupId>org.deeplearning4j</groupId>
            <artifactId>deeplearning4j-core</artifactId>
            <version>1.0.0-M1.1</version>
        </dependency>
        <dependency>
            <groupId>org.deeplearning4j</groupId>

[2021-08-28 06:31] robert-E commented on #9404
Sorry for my late reply but i could not respond earlier to your request.

I have now written a small JUnit 5 test that will show the problem. Note that in the 'failingData' each text contains the label of one of the other text, e.g. the text for label 'business' contains the string 'sport' which is the label of another text.

I have attached that test file here (i needed to change its extension fr

[2021-08-30 06:40] luyanfeng opened #9435 "对dl4j SparkUtils#listPaths方法有个疑问"
#### Issue Description
我在使用独立部署的单机spark测试时，发现dl4j-spark-2.12-1.0.0-bate7中的org.deeplearning4j.spark.util.SparkUtils#listPaths(org.apache.spark.api.java.JavaSparkContext, java.lang.String, boolean, java.util.Set<java.lang.String>, org.apache.hadoop.conf.Configuration) 方法存在这个逻辑。我不确定它是否正确处理了文件与目录，但是看到了它在对一个目录进行这些操作：

String ext = FilenameUtils.getExtension(path);  // debug 发现 path 是一个目录！
if(allowedExt

[2021-08-30 10:03] luyanfeng opened #9436 "对dl4j SparkUtils#listPaths方法有个疑问"
#### Issue Description
我在使用独立部署的单机spark测试时，发现dl4j-spark-2.12-1.0.0-bate7中的org.deeplearning4j.spark.util.SparkUtils#listPaths(org.apache.spark.api.java.JavaSparkContext, java.lang.String, boolean, java.util.Set<java.lang.String>, org.apache.hadoop.conf.Configuration) 方法存在这个逻辑。我不确定它是否正确处理了文件与目录，但是看到了它在对一个目录进行这些操作：

String ext = FilenameUtils.getExtension(path);  // debug 发现 path 是一个目录！
if(allowedExt

[2021-08-30 21:19] moberc opened #9438 "Cannot reproduce counts in confusion matrix"
#### Issue Description

I have created a simple RNN for binary classification.
After training I compute confusion matrix:
        net.fit(trainDataIter, nEpochs);
        Evaluation eval = net.evaluate(testDataIter);
        LOGGER.info(eval.stats());

Then I compute predicted values using testIter and re-compute confusion matrix in Excel.
My Excel results are close, but they do not match dl4j con

[2021-08-31 23:55] anonymousemberxxx opened #9439 "object contents redundancy issue"
Hello,

I'm building a Java object contents redundancy profiler. By testing deeplearning4j source code with my profiler, I found a code snippet that involved with object contents redundancy (ArrayOptionsHelper.java):

[code]
In above code, my profiler detected that the method `arrayType` is called in iterations and array `shapeInfo`'s contents (every element in this array) often keep the same as t

[2021-09-06 07:17] #9129 closed, assigned to agibsonccc

[2021-09-07 22:51] agibsonccc opened #9447 "Add keras pre processing layers"
#### Issue Description
Various keras pre processing layers are currently missing from import. These include the computer vision layer such as Rescale and Resize as well as other methods of pre processing.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version

[2021-09-08 13:12] agibsonccc commented on #9436
This is oriented towards files )hence extensions) I don't really see what the question is here  beyond that. Please submit questions to the community forum for more visibility: https://community.konduit.ai

[2021-09-08 13:12] #9436 closed, assigned to nobody

[2021-09-08 13:13] agibsonccc commented on #9435
Same thing as the other issue.

[2021-09-08 13:13] #9435 closed, assigned to nobody

[2021-09-08 13:16] agibsonccc commented on #9438
@moberc could you please direct this over to the forums? https://community.konduit.ai - when you post there please post an end to end reproducible example, including a neural net with associated input. Thanks!

[2021-09-08 13:16] #9438 closed, assigned to nobody

[2021-09-08 13:19] agibsonccc commented on #9417
@pza94 @daviddbal we'll be doing a release soon and have just merged a pull request that addresses the visibility of the helpers to ensure they are being used. We will be producing follow up documentation and resolutions to this shortly. We've done the same for cuda and arm as well to ensure that any platform helpers can have clear confirmation they are being executed.

[2021-09-08 13:20] agibsonccc commented on #9412
@wcneill do you mind following up here? We're going to be doing a QA pass son for release and would like to resolve recently opened issues if possible.

[2021-09-08 20:06] moberc commented on #9438
Hi,

I do have a reproduceable test case.
I have just logged in to konduit , but I do not see an easy way to attach my source code and a small data file.
What’s the best way to do that?

Thanks,
  Margaret

From: Adam Gibson ***@***.***>
Sent: September 8, 2021 9:17 AM
To: eclipse/deeplearning4j ***@***.***>
Cc: Margaret Oberc ***@***.***>; Mention ***@***.***>
Subject: Re: [eclipse/deeplearning4j

[2021-09-09 12:28] benbenwt commented on #9420
Thank you very much for your help!Sorry to reply now, because work was delayed for some reasons.So,All I need to do is pull the code  in maser branch and  build it.Then,I should test the new code with the model you provided.Is that right？

[2021-09-10 07:42] benbenwt commented on #9420
I have browsed the deeplearning-example and import the model by  '"SameDiff.fromFlatFile".It looks like the problem has been solved, thank you for your help.

[2021-09-10 13:39] agibsonccc commented on #9405
@ndr09 figured I would ask 1 more time. We're getting ready to do a release and are trying to close off issues people have run in otherwise, I'll close this due to lack of response. Thanks!

[2021-09-10 14:12] agibsonccc commented on #9439
@anonymousemberxxx this just translates what is largely an int in a long array to an enum. We've ported most of this code to c++, so it's not really worth optimizing this particular case. Closing.

[2021-09-10 14:12] #9439 closed, assigned to nobody

[2021-09-10 14:13] agibsonccc commented on #9293
@basedrhys just following up here, we're getting ready for a 1.0 and I was wondering if we could get this contribution in there.  Thanks!

[2021-09-10 14:19] #9270 closed, assigned to nobody

[2021-09-10 14:19] agibsonccc commented on #9270
Fixed here: https://github.com/eclipse/deeplearning4j/commit/75899208427bb755f8629d6a17d594162a078fa4

[2021-09-11 03:51] basedrhys commented on #9293
Hey @agibsonccc sorry for the delay. I unfortunately am having trouble getting DL4J setup for dev locally and don't have the capacity to complete this task at the moment. The best I can do is point you to the [download link](https://github.com/Waikato/wekaDeeplearning4j/releases/tag/zoo-models), and some links showing their usage

* [KerasResNet Class](https://github.com/Waikato/wekaDeeplearning4j

[2021-09-12 07:26] agibsonccc commented on #9293
@basedrhys was your problem related to the shaded modules? If that was the case, I would like your feedback on this page: https://deeplearning4j.konduit.ai/multi-project/how-to-guides/import-in-to-your-favorite-ide even a quick skim would help a lot so this doesn't happen again. I don't like that people have pain contributing. That would be a bigger help than solving the github issue here.

On tha

[2021-09-14 08:20] #9416 closed, assigned to nobody

[2021-09-19 13:12] zbraiterman opened #9453 "2 links in README.md return errors"
1) The link for "Building from source" (https://deeplearning4j.konduit.ai/getting-started/build-from-source) returns a "Page not found" error

2) The link for "Feel free to reach out to us" (https://konduit.ai/konduit-open-source-support/) returns a 404 error.

[2021-09-22 22:11] quickwritereader commented on #9429
I confirm the issue

[2021-09-22 22:12] quickwritereader commented on #9429
thanks for the reproduce code. I wrote in java and printed output numbers:
more details of the issue :
https://gist.github.com/quickwritereader/94f6c261ad285817fa85e9fe3f41e687

[2021-09-23 00:24] quickwritereader commented on #9429
### Workaround 1:
use ` org.nd4j.linalg.api.rng.DefaultRandom`  when initializing other classes that expect Random
### Workaround 2:
set default random generator to `"DefaultRandom"` **before any calls**
`System.setProperty("random", org.nd4j.linalg.api.rng.DefaultRandom.class.getName());`
### Workaround 3:
set seed value to even number. `seed & -2`
### Workaround 4 if you are calling it:
`rnd.nex

[2021-09-24 12:36] #9453 closed, assigned to nobody

[2021-09-25 21:16] Fredrik-M opened #9458 "Concurrently moving inference results to JVM eats up device memory?"
When I run inference and delegate processing of the results to a threadpool executor, I notice that GPU memory usage scales with the number of threads. I can reproduce this by running the following code:
[code]
This makes my GPU memory usage go to 99%, whereas calling `toFloatVector()` directly in the same thread does not use any more memory than just running inference. Reducing the number of thre

[2021-09-27 07:43] quickwritereader commented on #9429
#9459  fixes this problem as well

[2021-09-27 09:39] benbenwt opened #9460 "Receiving a NullPointerException when train bert on ner task"
#### Issue Description

I import the bert model and add the softmax layer to archive ner task.But when I train the model,I met the NullPointerException.

The following is my code and necessay file:

vocab.txt: https://drive.google.com/file/d/1yAd-ohEVmkKy481Yvk2Oskza7Xqz8a1O/view?usp=sharing
bert model:https://drive.google.com/file/d/15G_VBXNbMVOgbymhKxL259MoQBHqEjC9/view?usp=sharing
train-data: h

[2021-09-27 13:04] agibsonccc commented on #9458
@Fredrik-M  I would consider using parallelinference or parallelwrapper:
https://deeplearning4j.konduit.ai/multi-project/explanation/configuration/memory/workspaces#parallelwrapper-and-parallelinference

 which implements this threadpool concept for you.  For gpus,  understand 2 things: https://deeplearning4j.konduit.ai/multi-project/explanation/configuration/memory/workspaces#what-are-workspaces

[2021-09-27 13:04] #9458 closed, assigned to nobody

[2021-09-27 13:06] agibsonccc commented on #9460
@benbenwt thanks for posting, I just want to acknowledge that we saw this. My initial thoughts based on the stack trace is there's some sort of a disconnect in the graph if it's missing execution steps. Do you have the original graph you used to import it? Also, is this based on the older import api or the new one?  If you don't know what I'm referencing, please see more here: https://deeplearning

[2021-09-27 13:51] benbenwt commented on #9460
I  don't  have  the  original  graph .Actually，I got  this  bert  model  file  with  your  help  a  few  days  ago.But  I  stop  following  this  work  for  a  while  for  some  reasons.You  post the converted model for me,So  I  work  on  the  flatbuffers   model  directly.

And  this  is  the  community  link:
https://community.konduit.ai/t/some-error-happened-when-i-importfrozentf-by-samediffi/

[2021-10-01 05:19] #9429 closed, assigned to quickwritereader

[2021-10-03 11:26] agibsonccc opened #9467 "Add missing configurations for image resizing"
#### Issue Description
Following up from:
https://github.com/eclipse/deeplearning4j/pull/9466

There appears to be some slight differences with onnx in image resizing.
This prevents us from being within 1e-3 eps difference for the resizing results.
The knobs can be found here: https://github.com/onnx/onnx/blob/master/docs/Operators.md#Resize
We are missing:
1.  cubic coefficients,
2. exclude_outsi

[2021-10-03 12:14] agibsonccc commented on #9460
@benbenwt just looking at this again a bit, did you try ensuring your version was the latest? Sorry to ask a redundant question, this was just something I noticed.

Update: Ran this with latest and I run in to a different issue. It's complaining about the gradient not being calculated for  your bias...there's something wrong with the graph surgery. Let me get back to you after a bit.

[2021-10-03 18:07] ARadauer commented on #9447
I think I have the same problem.
If I am using layers.experimental.preprocessing.Rescaling in a model in python and use the saved h5 model in java I get the error

org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type Rescaling.

[2021-10-03 18:16] ARadauer opened #9468 "Loss Function SparseCategoricalCrossentropy not implmented"
If i use the SparseCategoricalCrossentropy loss function in with keras in phyton:

[code]

And use the saved model as h5 file in java with deeplearning4j

`MultiLayerNetwork model = KerasModelImport.importKerasSequentialModelAndWeights("ki.h5");`

I get the exception:

`Unknown Keras loss function sparsecategoricalcrossentropy. Please file an issue at https://github.com/eclipse/deeplearning4j/issu

[2021-10-03 18:17] ARadauer commented on #9468
@agibsonccc This is the issue regarding my question on stackoverflow https://stackoverflow.com/questions/69420171/use-in-python-trained-tensorflow-keras-model-in-java-for-image-recognition

Thank oyu

[2021-10-03 19:20] cyberbeat opened #9469 "NullPointerException for missing trainingConfig in class which extends SameDiffLambdaVertex"
See problematic commit (and comment there):
https://github.com/eclipse/deeplearning4j/commit/64ffdd63d7d0dfe457a17831a700c0c0d7ab89a6#commitcomment-57432023

[2021-10-04 00:02] agibsonccc commented on #9468
@ARadauer of note here is it appears we have mapped this: https://github.com/eclipse/deeplearning4j/blob/75899208427bb755f8629d6a17d594162a078fa4/deeplearning4j/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/config/KerasLayerConfiguration.java#L359 - you can specify it as sparse_categorical_crossentropy.
 Do you have the associated model I can look at? It might be

[2021-10-04 02:43] CVEDetect opened #9471 "Dependency org.apache.commons:commons-compress, leading to CVE problem"
Hi, In **deeplearning4j/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api**，there is a dependency **org.apache.commons:commons-compress:1.18** that calls the risk method.

[CVE-2018-11771](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-11771)

The scope of this CVE affected version is **[,1.18-RC1)**

After further analysis, in this project, the main Api called is **<org.apache.commons.compress

[2021-10-04 02:46] CVEDetect commented on #9471
@agibsonccc
Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2021-10-04 02:56] agibsonccc commented on #9471
@CVEDetect yes please do. Happy to review.

[2021-10-05 05:04] #9469 closed, assigned to nobody

[2021-10-05 18:12] quickwritereader commented on #9142
#9472

[2021-10-05 18:12] quickwritereader commented on #9199
#9472

[2021-10-07 07:30] cyberbeat commented on #9469
Thanks for the fix, when can I expect a new "snapshot" on sonatype? This is currently a blocker for me.

[2021-10-08 13:19] agibsonccc commented on #9269
@quickwritereader related to your changes you're currently making.

[2021-10-09 02:04] agibsonccc opened #9476 "Parameters double counted for cnn1d param initialization"
#### Issue Description
When cnn1d weights are initialized it is done in the parent conv2d which uses kernel size 1 and 2. Unfortunately, when kernel size 1 and 2 are different it can cause issues with double counted weights.
Reported here:  https://stackoverflow.com/questions/69499861/deeplearning4j-wrong-shape-of-weights-array
Please describe our issue, along with:
- expected behavior
- encounter

[2021-10-09 12:09] #9476 closed, assigned to agibsonccc

[2021-10-11 02:34] benbenwt commented on #9460
Yes,I try this with latest and I got a new issue.But it`s about "the op named mask " .I do not understand this error,because mask is the input of bert instead of output.This is  the  log.
[code]

[2021-10-11 02:55] benbenwt commented on #9460
I may find something  odd.I got an error if I call summary function.
[code]

[code]

[2021-10-11 06:37] agibsonccc opened #9479 "Signature feature should generate cleaner signatures"
#### Issue Description
We often define a single op multiple times, because it can take some variables as either args or tensors.
T signature feature (https://github.com/eclipse/deeplearning4j/blob/master/contrib/codegen-tools/codegen/README.md#signature) should actually take care of that more cleanly.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version

[2021-10-11 14:08] thomas-trendsoft opened #9481 "EmbeddingSequenceLayer not working with BertIterator"
#### Issue Description

I try to build a EmbeddingSequenceLayer training with some BertIterator. My expectation was that the model would do a fit.
The current behavious is an DataType Exception, see below on additional information.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version = M1.1
* Platform information = MacOS
* CUDA = no

####

[2021-10-11 14:13] treo commented on #9481
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nlp-parent/deeplearning4j-nlp/src/main/java/org/deeplearning4j/iterator/BertIterator.java#L206 uses int[] to create the mask arrays.

This looks like it was missed when we added support for keeping the original array type on creation instead of forcing all tensors to be either float or double.

[2021-10-13 13:48] agibsonccc commented on #9460
Of note here: you have to call exec. An ARRAY type variable in samediff is a computed result. You can see a summary after feeding it some dummy output.

[2021-10-14 13:59] agibsonccc opened #9490 "Support extended enums with fully qualified class names in code gen"
#### Issue Description
Example from discussion:
[code]
Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Information

Where applicable, please also

[2021-10-15 03:40] quickwritereader commented on #9269
actually, it expects NHWC as input. so it should be permuted.
https://github.com/eclipse/deeplearning4j/blob/fa2059859689393fa3530945d3b9d17ee8ae6343/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/factory/ops/NDImage.java#L145-L146

` image= image.permute(0,2,3,1);`
so the shape of the input will be` [1, 5, 5, 3]
`
but the shape of the output should be: `[1, 2, 2, 3]`

I

[2021-10-18 13:34] agibsonccc commented on #9468
@ARadauer closing this since you're not responding. I'll assume you've moved on. If you ever get time to help me reproduce this let me know.

[2021-10-18 13:34] #9468 closed, assigned to nobody

[2021-10-18 22:21] #9481 closed, assigned to nobody

[2021-10-20 20:56] cyberbeat opened #9497 "Exception not finding some CustomOps since last snapshot-update"
[code]

[2021-10-20 23:03] agibsonccc commented on #9497
@cyberbeat can you confirm this is backend specific for you? I can't reproduce this with cpu. I'll try GPU in a bit.

[2021-10-21 06:17] agibsonccc opened #9498 "Implementing missing loss functions as ops"
#### Issue Description
Currently we have a concept in the java code base of ILossFunction where some ops are missing.
It would be nice to add the missing loss functions and their associated gradients.

These loss functions can be found here:
https://github.com/eclipse/deeplearning4j/tree/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/lossfunctions/impl

The ops th

[2021-10-21 06:31] agibsonccc opened #9499 "Add back missing javadoc"
#### Issue Description
Examples:
https://github.com/eclipse/deeplearning4j/commit/4766032444de8e0c2c3389270576bb6e7c466211#diff-49067a9948bb62443545e65cce8559402d08265c92932b7db650598e9418c816
https://github.com/eclipse/deeplearning4j/blob/c715aea405980eb043420af86c671032bbb78ec6/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/lossfunctions/impl/LossMultiLabel.java
Please

[2021-10-27 02:21] quickwritereader commented on #9269
I was not able to reproduce those numbers in onnx:
now our implementation gives exactly the same numbers as in onnx
[code]

[2021-10-27 02:22] quickwritereader commented on #9269
### ONNXRUNTIME
[code]

[2021-10-27 02:33] quickwritereader commented on #9269
work in progress code:

[code]

[2021-10-27 02:33] quickwritereader commented on #9269
Output:
[code]

[2021-10-28 00:11] agibsonccc opened #9504 "Refactor duplicate headers"
#### Issue Description
Right now in libnd4j we have many definitions that are redundant. This makes it harder to read the code base and creates unnecessary complexity for newer people.
 We should consolidate the headers in to 1 place.

An example being mathdef in platformmath.h and _CUDA_HD  in op_boilerplate.h
Please describe our issue, along with:
- expected behavior
- encountered behavior

####

[2021-10-31 08:28] agibsonccc opened #9505 "Add self hosted javadocs better than javadoc.io"
#### Issue Description
Javadoc.io provides limited access to the javadocs. We need to self host this in order to have a more comprehensive setup for users reading the docs.
Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)

[2021-10-31 17:31] joehot200 opened #9506 "1.0.0-M1 "No available backend" despite having backend, when dl4j is loaded from another jar."
There is supposedly "no available backend" despite a backend being present. This occurs in 1.0.0-M1, but did not occur when I used 0.9.11. I am using Windows 8 (64 bit) but have duplicated the issue on other operating systems.

Pom.xml dependencies:

[code]

Exception when exported to jar:

[code]

All required libraries are extracted into the generated jar using eclipse:
![image](https://user-ima

[2021-11-01 00:49] agibsonccc commented on #9506
@joehot200 it's hard to tell just from your initial setup here...could you try setting the system property:
org.bytedeco.javacpp.logger.debug to true

either through -D or via System.setProperty(..) and tell me what it prints? This points to either being a problem with the uber jar or a problem with your native dependencies somewhere.

[2021-11-01 07:49] cyberbeat commented on #9497
The problem is, I now switched to the last stable M1.1 release with my project, because of the many problems with snapshots. Sorry.

[2021-11-01 07:51] agibsonccc commented on #9497
@cyberbeat thanks for confirming. We're doing test QA now and are prepping for the next release here in the next week or so.  If you have any issues in the mean time let me know.

[2021-11-01 08:57] baedaron opened #9508 "Compilation Error."
#### Issue Description

Please describe our issue, along with:

- Compilation Error

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version:
  CURRENT SNAPSHOT

* Platform information (OS, etc):
  Windows 10 Pro 20H2 (64Bit)
  AMD Ryzen 5 5600X 6-Core Processor
  GeForce RTX 3070

* CUDA version, if used:
  v11.0

* NVIDIA driver version, if

[2021-11-01 20:03] joehot200 commented on #9506
Setting the system property has no difference. Is this because dl4j also cannot find the logger?
`
[code]
`

However, the program is now working when I run it inside eclipse, but not when I export it. Why is there a difference?

[2021-11-02 09:16] agibsonccc commented on #9508
@baedaron could you please let us know your git hash of your commit for the compilation error? Thanks! cc @quickwritereader

[2021-11-02 09:18] agibsonccc commented on #9506
@joehot200 the debugger was intended to see why it has issues loading the particular artifact. The debug logger also has nothing to do with slf4j. It's wholly separate. Could you show how you set the property? Did you set it via cli? Also, did you declare it before nd4j was initialized?

[2021-11-02 20:51] baedaron commented on #9508
Do you mean this?
------------------------------------------------------------------------------------------------
# git log
commit e7206a69f07dd3ac3c781bfc7018bf06603869eb (HEAD -> master, origin/master, origin/HEAD)
Merge: 475c73df50 e6ad9ed58c
Author: Adam Gibson <1144306+agibsonccc@users.noreply.github.com>
Date:   Mon Nov 1 06:39:31 2021 +0900

    Merge pull request #9501 from eclipse/ag_jav

[2021-11-02 21:21] joehot200 commented on #9506
I used the command line:

[code]

I hope I did it right, let me know if I`m being an idiot somewhere. I really dont want to accidentally waste your time if I am doing something stupid :(

So I have been doing some more testing in regards to the error. Version 1.0.0-alpha and below of Deeplearning4j will work perfectly fine. But versions higher (e.g. 1.0.0-beta2) will throw the error caused above.

[2021-11-02 21:42] joehot200 commented on #9506
And I know this sounds like the weirdest thing ever, but the `-Dorg.bytedeco.javacpp.logger.debug="true"` flag will work if I export with 1.0.0-alpha

`[21:44:52 INFO]: Registering org.bytedeco.javacpp.FloatPointer[address=0x846f25d
aa0,position=0,limit=10,capacity=10,deallocator=org.bytedeco.javacpp.Pointer$Nat
iveDeallocator[ownerAddress=0x846f25daa0,deallocatorAddress=0x66b1ffa0]]`

 but not 1.

[2021-11-02 22:04] quickwritereader commented on #9508
thanks for the help. we will need you to confirm that everything works as intended when we apply new changes.

if you are in hurry, you could check my repo to see if it solves your problem. thanks

[code]

[2021-11-02 22:37] agibsonccc commented on #9506
@joehot200 hmm..again though this is not an slf4j issue. It should just be logging to standard out. Javacpp does provide a way to use slf4j though. Are you redirecting standard out or doing something special preventing normal System.out.println from working properly?

From what I'm seeing in your messages actually the old version isn't working either and therefore should be dismissed. You should s

[2021-11-02 23:08] saudet commented on #9506
Please try `-Dorg.bytedeco.javacpp.logger.debug=true`, not `-Dorg.bytedeco.javacpp.logger.debug="true"`.

[2021-11-03 08:32] baedaron commented on #9508
ok, I will wait. thanks.

[2021-11-03 14:21] joehot200 commented on #9506
I believe that the issue may be that I am loading my program from another jar. That jar also has it`s own logger that it uses.

Unfortunately this is a necessity on my end as the program I am writing is in fact a plugin for another program, and so therefore must be loaded by it.

The old (dl4j-alpha and below) version definitely works as I am using it in production (so tested and used by at least

[2021-11-05 02:31] quickwritereader commented on #9508
@baedaron could you check if the latest master fixes the compilation error for you
thanks

[2021-11-05 12:08] baedaron commented on #9508
:(
-----------------------------------------------------------------------------------------------
.
.
.
[  2%] Building CXX object blas/CMakeFiles/samediff_obj.dir/__/include/loops/cpu/scalar_int.cpp.obj
cd /C/Users/Administrator/Downloads/deeplearning4j/libnd4j/blasbuild/cpu/blas && /C/MSys64/mingw64/bin/g++.exe -DCPU_FEATURES=true -DDNNL_ENABLE_CONCURRENT_EXEC=true -DSD_ALL_OPS=1 -D__CPUBLAS__=

[2021-11-05 12:45] quickwritereader commented on #9508
I see . Could you include what it wants and try again
~~`#include <cstdint>`~~ `#include <stdint.h>`

[2021-11-08 23:57] quickwritereader commented on #9508
I believe we solved it. at least for cpu builds. probably it will work for cuda builds as well.
when you be free we'd like to get the feedback

[2021-11-09 11:05] SidneyLann commented on #9149
@agibsonccc Could you reopen this issue?

[2021-11-09 13:48] agibsonccc commented on #9149
@SidneyLann could you file a separate issue? Thanks!

[2021-11-09 22:29] SidneyLann opened #9520 "Can't apply label weight to loss function"
sameDiff.loss.weightedCrossEntropyWithLogits("loss", label, out, sameDiff.var(Nd4j.create(NerUtil.labelWeight1d())));

below exception throw when run above code:

java.lang.UnsupportedOperationException: Please extend DynamicCustomOp.doDiff to support SameDiff backprop operations. Op: org.nd4j.linalg.api.ops.impl.loss.WeightedCrossEntropyLoss

No doDiff method in WeightedCrossEntropyLoss in SNAPSH

[2021-11-10 05:40] whimxiqal commented on #9506
Hi @joehot200 ! I'm also trying to build deeplearning4j into a Minecraft plugin. I'm coming across the exact same issue where the server doesn't find the backend in the uber-jar plugin. My pom.xml looks basically the same and everything... Please let me know when you figure it out!

[2021-11-10 07:52] kgoderis commented on #9258
@bpossolo @treo Is there any update on getting dl4j running on M1's ?

[2021-11-10 07:55] agibsonccc commented on #9506
@pietelite @joehot200  can you post over on our forums? It's just a bit hard to take action on this if we can't reproduce it. Have you tried just building a jar with all the needed dependencies using the maven shade plugin? Beyond that, do note that you can override the classloader. It's hard for me to see this as any sort of a bug, because this seems rather one off. If we knew more about the envi

[2021-11-10 08:31] whimxiqal commented on #9506
Thank you for responding @agibsonccc I'll make a post on the forums tomorrow, sure. In my case, I followed all of these steps for [backend troubleshooting](https://deeplearning4j.konduit.ai/multi-project/explanation/configuration/backends#troubleshooting) and I verified that I'm not having one of the listed common mistakes.

And just fyi, [this is my pom.xml](https://pastebin.com/Q97kTq3F). It's a

[2021-11-10 09:06] treo commented on #9258
As of now, I'm still unaware of anyone of the core contributors owning a device that has an M1 cpu. Until that happens, it is unlikely that there will be any progress.

[2021-11-10 09:39] agibsonccc commented on #9258
The main hope was that github actions would support it. I'd prefer to publish all builds via CI. We could look in to cross compilation and see if that works if we get community feedback.

[2021-11-10 10:33] kgoderis commented on #9258
In the meantime I noticed https://search.maven.org/artifact/org.bytedeco/javacpp/1.5.6/jar having an entry for macosx-arm64. With javaCPP already being there, it makes me wonder why the same does not hold true for openblas, i.e. it should be possible to compile a jar via the JavaCPP Presets, right ?and consequently, nd4j-native as well, if - I presume - we can compile these projects with a arm64 c

[2021-11-10 13:31] baedaron commented on #9508
Today, I just pulled again and tried to recompile.
Fortunately above problem was solved.
But now following error occurs.
========================================================================
 ./buildnativeoperations.sh -a native -c cuda -v 11.0 -h cudnn -p msi -j 12 clean true
--------------------------------------------------------------------------------------------
.
.
.
[227/841] C:\PROGRA~

[2021-11-10 13:39] baedaron commented on #9508
And here is git log.
-----------------------------------------------------------------
# git log
commit fdff567d5c771e9e5c17fcb0bb35b8f92c94006f (HEAD -> master, origin/master, origin/HEAD)
Merge: cca5ba09b7 2e778c6d66
Author: Adam Gibson <1144306+agibsonccc@users.noreply.github.com>
Date:   Wed Nov 10 18:45:12 2021 +0900

    Merge pull request #9518 from eclipse/ag_tests_3

    More test fixes a

[2021-11-10 13:56] quickwritereader commented on #9508
ok I will try to solve your problem today.
Could you run cpu build to see if it works at least
Thanks

[2021-11-10 14:02] baedaron commented on #9508
Yes, cpu build was ok.

[2021-11-10 16:26] kgoderis commented on #9258
I can indeed confirm that it runs under Rosetta; This enabled the scenario whereby model development can happen locally, and be put into production on x86 VMs. [I took the IrisClassifier as example - it is rather simple of course]

[code]

Side note, I did get a bunch of these as well (raised by Spring Boot):

[code]

[2021-11-10 22:07] quickwritereader commented on #9508
ok here it was complaining because on Windows it dislikes having static .
fix is: removing static.

[2021-11-10 22:08] quickwritereader commented on #9508
here it complains because mvsc preprocessor cant handle - before SD_MIN_CUTOFF
as we warn that its using old msvc preprocessor possible fix could be adding` /Zc:preprocessor `flag
or simply rewriting that ugly code better either moving - before cast or defining _LOWER _UPPER :
[code]
or:

system/common.h:148

[code]

ops.h:2302
[code]

[2021-11-10 22:14] agibsonccc commented on #9258
@kgoderis  Running under rosetta is one thing, but updating our c++ code base + adding a cross compilation toolchain to our cmake config is the main thing we need to do. There's also enabling the javacpp compiler  plugin to work with the cross compiled toochain to work with this. It's not impossible I imagine,
 I would just need to put the research in to figure how to set all that up. I know the M

[2021-11-11 07:38] baedaron commented on #9508
Yes, I retried and confirmed it has been much improved.
But... now following problem...
both cpu and cuda buildnativeoperations.sh were ok.
============================================================================
mvn clean install -B -V -U -T 12 -e -pl 'org.nd4j:nd4j-cuda-11.0-preset,org.nd4j:nd4j-cuda-11.0' \
-Dlibnd4j.platform=windows-x86_64 -Djavacpp.platform=windows-x86_64 -Dlibnd4j.chip=c

[2021-11-11 08:44] quickwritereader commented on #9508
I see. I only compiled libnd4j
Could you try again by changing line  libnd4j/include/ops/specials_sparse.h:38
class SparseUtils
 With
class SD_LIB_EXPORT SparseUtils

[2021-11-11 10:32] baedaron commented on #9508
Ok~~~ It worked.
But another one.
Really not easy! ;)

-----------------------------------------------------------------------------------------------------------------------------------
mvn clean install -B -V -U -T 12 -e -pl 'org.nd4j:nd4j-native-preset,org.nd4j:nd4j-native'
-Dclassifier=windows-x86_64-avx2 -Dclassifiers=windows-x86_64-avx2 -Dlibnd4j.platform=windows-x86_64 -Djavacpp.platform=wi

[2021-11-11 13:01] quickwritereader commented on #9508
alright I was told that its better to show you our workflow files and build logs . there you can deduce proper command lines or just copy from build logs. Also note that  there are places where you should put hyphen  here before avx,  -Djavacpp.platform.extension=-avx2

`mvn   -Djavacpp.platform=windows-x86_64   -Dlibnd4j.platform=windows-x86_64 deploy -DskipTests -Dlibnd4j.classifier=windows-x86_

[2021-11-12 12:11] davidrizo opened #9523 "Keras imported model throws IllegalStateException at ReshapePreprocessor layer: "Input shape ... and target shape ... do not match""
Hi,

I've imported a Keras file using:

[code]

The shape of indArray is (it comes from a grayscale cropped image) after reshaping:
[1, 64, 236, 1]

The model summary is:
[code]

I'm getting this exception:
[code]

---------
The same model, loaded using Python is working with the same input shape, and the following summary:
[code]

-----
I'm using OsX, with this Maven pom.xml

....
        <dl4j-m

[2021-11-12 12:17] agibsonccc commented on #9523
@davidrizo could you give me the python script to recreate the model? I can assemble it from your print output, but the layer declaration would help a lot for quick reproduction. Thanks!

[2021-11-12 13:50] davidrizo commented on #9523
Thank you @agibsonccc  for answering so quickly!!

The [code is here](https://github.com/HISPAMUS/end-to-end-recognition/blob/develop/code/training.py)

The method begins at line 194. The mismatch seems at the reshape layer created at line 233.

[2021-11-12 13:53] davidrizo commented on #9523
I'm sorry, I've just realized the model is not trained with Keras, so I suppose this is the problem :(

[2021-11-12 13:55] agibsonccc commented on #9523
@davidrizo could you clarify? We support tf keras as well.

[2021-11-12 14:26] davidrizo commented on #9523
@agibsonccc It is trained with pure TensorFlow in Python, not Keras, and I was using DL4J KerasModel().modelBuilder()

[2021-11-13 04:34] agibsonccc commented on #9523
@davidrizo you'll want to use our tensorflow import then. Keras has 2 file formats: h5 and pb. Our keras import targets the h5 format. Pb is a normal tensorflow graph which we have a separate API for.

[2021-11-14 12:11] Foorcee opened #9524 "KerasModelImport: NullPointerException for top_level_model_weights layer"
#### Issue Description

When I try to import my pre-trained keras tensorflow model, I encounter a NullPointerException.

[code]

I am not sure if it is related to #8827

#### Version Information

* Deeplearning4j version 1.0.0-SNAPSHOT
* Platform information (OS, etc) Win-10

[pom.xml](https://gist.github.com/Foorcee/53ce4d7c200efb7e4944ee8e05e88e87)

#### Additional Information

[code]

https://g

[2021-11-15 10:53] agibsonccc opened #9525 "Add assymmetric weights for onnx compatibility"
#### Issue Description
Test case from the onnx docs:
[code]
Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Information

Where applicable, please

[2021-11-15 11:36] agibsonccc commented on #9524
@Foorcee could you send me the model somehow? I can take a look, we do support TF keras now. There might be something for your model we're missing though. Sorry but from your output (which is very good btw) it's kind of hard to tell at a glance what the problem might be without some digging.

[2021-11-15 13:54] Foorcee commented on #9524
@agibsonccc https://foorcee.de/model/model.h5

[2021-11-16 19:15] quickwritereader commented on #9508
@baedaron were you able to build?

[2021-11-16 19:17] quickwritereader commented on #9504
it was handled in recent changes.

[2021-11-16 19:22] quickwritereader commented on #9467
the initial improvements were already merged.

- stride fix for all
- nearest modes + coordTranformation for Nearest
- bicubic coeff + coordTranformation + exclude_outside which is using v1 method, when antialias on its using v1 method which is not upgraded yet
- some bug fixes
- cuda and cpu file refactoring.
- additional test coverage and infrastructure for later improvements

desired but unsolv

[2021-11-16 19:23] quickwritereader commented on #9269
can be closed.

[2021-11-16 21:26] baedaron commented on #9508
No! :(
I cannot understand why CPU build could not find the selected project in the reactor: org.nd4j:nd4j-native-preset.
Some days ago, that worked.

[2021-11-16 21:28] quickwritereader commented on #9508
did you add -Pcpu while building using mvn?

[2021-11-16 21:29] baedaron commented on #9508
No.
Ok, I will try if some time available.

[2021-11-16 22:51] #9269 closed, assigned to quickwritereader

[2021-11-17 03:07] #9504 closed, assigned to quickwritereader

[2021-11-18 00:50] jSaso opened #9527 "CUDNN not used in newest version?"
#### Issue Description

There is a big difference in performance and memory usage between versions **1.0.0-beta7** and **1.0.0-M1.1** when learning is executed. As we can see in the example below in **1.0.0-beta7** version the model (same on both versions) is learning 6 time faster, which is a **looot** (**24 samples/seconds vs. 4 samples/seconds**) more faster than in version **1.0.0-M1.1**. Also

[2021-11-18 10:13] jSaso opened #9528 "EfficientNet model return error in NDArray dimension conversation"
#### Issue Description

Working example with dummy data:
[code]
Copy class with package to your project - in order for EfficientNet model to work:
[CustomBroadcast.java](https://github.com/Waikato/wekaDeeplearning4j/blob/master/src/main/java/weka/dl4j/layers/lambda/CustomBroadcast.java)

#### Error

It seems that error happens:
https://github.com/eclipse/deeplearning4j/blob/a12d6eecbc6101679cbb7f3

[2021-11-19 00:46] agibsonccc commented on #9527
@jSaso the new version should be using the nd4j-cuda cudnn helpers. Are you telling me those helpers aren't enabled? We migrated to the new way a while back. Let's not focus on the old helpers and try to figure out why the new one might not be working for you.

[2021-11-19 09:45] jSaso commented on #9527
Yes, that's correct. New helpers in version **1.0.0-M1.1** are not working. CUDNN is enabled as you see in output:
[code]
but helpers are not activated. I can prove this by removing dependency:
`implementation "org.nd4j:nd4j-cuda-11.2:${deepLearning}:linux-x86_64-cudnn"`
This will remove cudnn from the program, output:
[code]
and I will get the same samples/second (around **4**) as with **cudnn**

[2021-11-19 10:13] agibsonccc commented on #9527
@jSaso the layers aren't relevant and not useful anymore. The cudnn depdendency itself just calls cudnn directly. Again the old way isn't relevant here and should not be considered. Again let's just ignore those and focus on the problem here. We tested that and confirmed that cudnn was being invoked at the c++ level.

Please completely remove deeplearning4j-cuda and see if that does anything.  If

[2021-11-19 11:23] jSaso commented on #9527
**Tried four combination of removing cuda, cudnn libraries:**

1. I tried - **cudnn** library not present:
[code]
Result:
[code]

2. I tried - **cudnn** library present:
[code]
Result:
[code]
3. I tried - **deeplearning4j-cuda** library removed:
[code]
Result:
[code]
4. I tried - **deeplearning4j-cuda** library removed and **cudnn** removed:
[code]
Result:
[code]
Whats bothering me is that GPU Uti

[2021-11-19 11:39] agibsonccc commented on #9527
@jSaso no you misunderstood me. I mean remove deeplearning4j-cuda-11.2 completely. Not that cuda library. I want to verify you're using *just* the c++ nd4j-cuda. That's what contains the old libraries. I want to make sure that's not interfering. You only ever need the cudnn classifier from now for future versions.

[2021-11-19 12:02] jSaso commented on #9527
If I remove packages:
[code]
It will go to CPU backend:
[code]
Am I missing some libraries?

Those are mine dependecies:
[code]

[2021-11-19 12:19] agibsonccc commented on #9527
@jSaso sorry you misunderstood me again. I mean remove *only* the artifact id deeplearning4j-cuda-11.2. Please leave *only* the nd4j-cuda dependencies exactly as you had them. This is explained more in depth here:

https://deeplearning4j.konduit.ai/multi-project/explanation/configuration/backends/cudnn#cudnn-setup

All I am trying to get you to do is remove 1 line in your build.gradle. The deeplea

[2021-11-19 12:25] jSaso commented on #9527
I did it in my previous post - I updated previous post, so it is more clear - tried with four combinations.
See above post.

[2021-11-19 12:26] agibsonccc commented on #9527
@jSaso ahh I see now. Apologies. Thank you for being so thorough! Let us look deeper in to this and make sure it's still not a problem on master and we'll get back to you.

[2021-11-19 17:14] jSaso commented on #9527
OK, thank you @agibsonccc

[2021-11-20 09:40] davidrizo commented on #9523
@agibsonccc Thank you for your advices.

I'm using models trained by other people in my team and there was a misunderstanding on my part with the source code.

The model used is actually a Keras one (version 2.2.4). The code two build the network is this one:

[code]

PS: I've successfully used DL4J to import models in Keras in two other cases.

[2021-11-20 11:03] agibsonccc commented on #9523
@davidrizo lambda layers won't work without some custom work. Here's a fairly decent example of what you need to do to implement a custom layer. As this is not a bug, I am going to go ahead and re close this. If you want help on your specific model, please do post over on the forums with this as a starting point. https://github.com/eclipse/deeplearning4j/blob/5e8951cd8ee8106bb393635f840c398a1759b2

[2021-11-20 11:03] #9523 closed, assigned to nobody

[2021-11-20 11:46] davidrizo commented on #9523
@agibsonccc Thank you !!

[2021-11-20 12:15] davidrizo commented on #9523
@agibsonccc Having a look to the code more closely, the lambda is not used in the stored model -- see the comment  in the code "Note: the trained model includes CTC (model_ctc), but we store the one without CTC (model_pr)"

Then, the model stored in the h5 used to predict is this one:
[code]

[2021-11-21 12:36] baedaron commented on #9508
It worked.
thanks a lot. :)

[2021-11-21 12:50] #9508 closed, assigned to nobody

[2021-11-21 18:32] wcneill opened #9531 "Confusion matrix gives incorrect results."
### Issue Description
The confusion matrix gives incorrect results.

Example inputs:
     classes:  [         0,         0,         0,         1,         1,         2]
     clusters: [         0,         0,         0,         1,         1,         1]
#### expected behavior:
output:
[[3, 0, 0],
 [0, 2, 0],
 [0, 1, 0]]

#### encountered behavior:
output:
[[         1,         0,         0],
 [

[2021-11-21 21:54] wcneill opened #9532 "bincount returns `LONG` array, but docs say `LONG` is deprecated."
#### Issue Description

Custom dynamic op `bincount` returns an array of `LONG` type but `LONG` is deprecated.

Not too big of a deal, but does require casting for compatibility with certain operations. Just thought I'd point it out in case someone else hadn't already.

Please describe our issue, along with:
- expected behavior
 return an integer-valued array (DataType.INT32 perhaps?)
- encountere

[2021-11-21 22:11] wcneill commented on #9532
On writing up a simple reproducible case, I found that the error was on my part.

[2021-11-21 22:12] #9532 closed, assigned to nobody

[2021-11-22 14:29] pza94 opened #9534 "Segfault in BaseNDArray.assign(Number)"
#### Issue Description

Got a segfault when assigning 0.0f to an NDArray:

`probVector.get(NDArrayIndex.interval(realI, probVector.length())).assign(0.0);`
probVector is an INDArray.

relevant stack frames:

[code]

#### Version Information

nd4j version: 1.0.0-M1.1
CPU on linux-x86-64, Ubuntu 16.

#### Contributing

my best guess is that the issue is within the `ThreadPool::tryAcquire` method's `

[2021-11-22 14:37] pza94 commented on #9534
possibly also relevant information: I set OMP_NUM_THREADS=15 while having only 3(*2) cores/threads available.

[2021-11-24 12:00] agibsonccc commented on #9534
@pza94 I'll have @quickwritereader take a look. My initial guess is OMP_NUM_THREADS + multi threading. For now try setting it to 1.
 Thanks!

[2021-11-25 01:30] tkorach opened #9536 "SpecifiedIndex and put(): changes not reflected (1.0.0M1)"
#### Issue Description

Please describe your issue, along with:
- expected behavior
When setting a value using `INDArray.put(SpecifiedIndex, element)`, the changes should be reflected in the original array as well as the returned array.
- encountered behavior
Changes are not reflected in the array (and hence neither in the returned array).

#### Version Information
1.0.0-M1.1
Please indicate relev

[2021-11-26 20:23] quickwritereader commented on #9534
hi @pza94.

could you post your example? I would like to replicate the issue

thanks

[2021-11-29 05:45] singam-sanjay opened #9539 "IUpdater vs OptimizationAlgorithm"
#### Issue Description

I am new to DL4J and trying to understand the framework. What is the difference between IUpdater class and OptimizationAlgorithm class? I saw the [definition of the NeuralNetworkConfiguration class](https://github.com/eclipse/deeplearning4j/blob/1.0.0-M1.1/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/NeuralNetConfiguration.java) which had SGD as

[2021-11-29 08:26] cbr-bsi opened #9540 "Creation of scalar of type String not supported but needed"
#### Issue Description

Nd4j currently does not support the creation of a String scalar, a.k.a. UTF-8, via the org.nd4j.linalg.factory.Nd4j#create(org.nd4j.linalg.api.buffer.DataType, long[], char) method. Particularly, the case of `shape.length == 0`, which is handled for numeric data types using `return Nd4j.scalar(dataType, 0.0);` will also be entered if the `dataType` is UTF-8. But for obvious

[2021-11-29 09:53] Fredrik-M opened #9541 "BatchNorm backprop fails at test time"
#### Issue Description
Backpropagation crashes in BatchNorm layer when the forward pass was executed at test time. This is due to a shape mismatch:
[code]
In my case the layer input is convolution feature maps, so the problem is https://github.com/eclipse/deeplearning4j/blob/7da2fd5ea27662dd1221eacf7bb14bb56a759fae/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/layers/normali

[2021-11-29 10:31] pza94 commented on #9534
Hi, it has only happened to us once. I was trying to reproduce it but without success.
My example is in our production code, it is rather long, wouldn't make much sense (also I don't think I'm allowed) to share it here.
I couldn't pinpoint how and when exactly it ran into the segfault.

Now I'm also thinking (maybe) the application was shutting down at the point it got segfaulted. Are there some s

[2021-11-29 11:47] agibsonccc commented on #9540
@cbr-bsi could you confirm that this only happens on cuda backend? With cpu, I'm seeing:
[code]

This works fine as is. Also note that v1.0-M1.1 came out recently. See if an upgrade fixes it.

[2021-11-29 14:17] rogerlee24 opened #9543 "Keras Model Import Problem: NullPointerException"
#### Issue Description

When I try to import my pre-trained keras tensorflow model, I encounter a NullPointerException.

` String path = new ClassPathResource("my_model.h5").getFile().getPath();

  MultiLayerNetwork modelAndWeights = KerasModelImport.importKerasSequentialModelAndWeights(path);`

I am not sure if it is related  #9524  and #8827

#### Version Information

Keras Version: 2.7.0
Tensor

[2021-11-30 00:41] agibsonccc commented on #9524
@Foorcee could you tell be a bit about how you're building the model? It looks fairly simple but what I see in there is an extra attribute called model_weights/ I think this might be new. Do you know what version of keras this was built with?

[2021-11-30 00:42] agibsonccc commented on #9543
@rogerlee24 it looks like this is a separate namespace for model weights. Could you confirm how this model was buitl?

[2021-11-30 00:48] agibsonccc commented on #9543
@rogerlee24 it looks like this is a fairly recent change to the file format: https://github.com/keras-team/keras/blob/master/keras/saving/hdf5_format.py#L668 I guess now the weights are saved in  their own group than with the layers. I'll have to look further in to this.

[2021-11-30 01:47] rogerlee24 commented on #9543
@agibsonccc
it's a simple model.
![image](https://user-images.githubusercontent.com/57137841/143970694-86c176ed-0f0c-42b8-ab2d-dfaf301dfd19.png)
![image](https://user-images.githubusercontent.com/57137841/143970644-7eb235b4-aeb5-48ac-8f87-096f7d6f73e4.png)

[2021-11-30 02:15] agibsonccc commented on #9543
@rogerlee24 "it's simple" is not really what I'd be looking for. After a bit of digging it turns out that there is a change in the model format saved by keras that we'll need to handle. Luckily another user gave me a model and I was able to find the problem. I'll have a fix up in the next day or 2. No matter how simple a model is if keras changes its way of saving models a bug will occur :) try do

[2021-11-30 02:21] rogerlee24 commented on #9543
@agibsonccc  sry, I misunderstood what you mean. Thanks for your  guidance!

[2021-11-30 02:59] agibsonccc commented on #9543
@rogerlee24 sure no problem. Generally when I mean model
, , I usually would want the model file so I can attempt to load it. When working with source code, I have to set it up in my ide, double check the configuration and may not even be running the right version.

It just creates a lot of work when trying to understand a problem. Thanks for your patience as I get this resolved.

[2021-11-30 07:07] cbr-bsi commented on #9540
@agibsonccc I guess, I was mislead here, you're right... looking closely, that part seems fine.

Anyway, the case we're seing problems is actually an empty data structure of DataType UTF8. In `org.nd4j.linalg.factory.Nd4j#create(org.nd4j.linalg.api.buffer.DataType, long[], long[], char)`, there is a handling for such structures which can deal with numerical values but in case of `dataType == DataT

[2021-11-30 10:51] Foorcee commented on #9524
@agibsonccc I do not know exactly how to find out?
`print("Keras: ", keras.__version__, "Tensorflow: ", tf.__version__)` says `Keras:  2.7.0 Tensorflow:  2.7.0`

[2021-11-30 10:54] agibsonccc commented on #9539
@singam-sanjay please post questions to the forums. The issues are only for bugs. https://community.konduit.ai/  - just focus on updaters. OptimizationAlgorithms are the old interpretation.

[2021-11-30 10:54] #9539 closed, assigned to nobody

[2021-11-30 10:55] agibsonccc commented on #9541
@Fredrik-M mind getting me a reproducer class for this? This might already be fixed on master. Thanks!

[2021-11-30 10:57] agibsonccc commented on #9536
@tkorach thanks for volunteering to look in to this. From what I could tell this is due to the SpecifiedIndex not returning a view while other get methods do. I think just returning get instead would work. Do you mind opening a pull request? That way we can get you credit for finding this. An accompanying test case would be nice as well. If you want other help let me know.

[2021-11-30 10:59] agibsonccc commented on #9534
@pza94 @quickwritereader and I talked about this and still can't really reproduce it.  I'll close this for now, but feel free to open this if you think you can reproduce it. Libnd4j doesn't really have any shutdown hooks like that. It could have been a race condition maybe with javacpp shutting down or something.

If you want to experiment and come up with a reproducer I'd be happy to reopen this.

[2021-11-30 11:01] agibsonccc commented on #9524
@Foorcee ok this confirms it.  A duplicate was raised here: https://github.com/eclipse/deeplearning4j/issues/9543 I'll close that one in favor of this one since there is a reproducer model here. It does appear to be a recent change in keras that added this parameter. I should have this fixed in a day or 2. Thanks for reporting!

[2021-11-30 11:02] agibsonccc commented on #9543
Closing in favor of https://github.com/eclipse/deeplearning4j/issues/9524 - The OP did confirm this was the same issue.

[2021-11-30 11:02] #9543 closed, assigned to nobody

[2021-11-30 11:04] agibsonccc commented on #9540
@cbr-bsi that sounds about right.  Could you come up with a minimal test case for this in samediff? It could be something like just creating a single samediff graph with an empty UTF8 variable. Anything that could get us to a quick test/fix would be appreciated.

[2021-11-30 11:50] pza94 commented on #9534
ok, makes sense.
If it keeps happening and got some actual data, I'll get back to you.

Thanks for looking into it!

[2021-11-30 16:20] wcneill opened #9549 "NDArray.match ignores conditions other than `.equals()`"
#### Issue Description
The NDArray match function returns the same mask for equals and not equals conditions

[code]
- expected behavior: `mask1` and `mask2` should be conjugates of each other.

[code]
- encountered behavior: `mask1` and `mask2` are identical.

[code]

#### Version Information
Windows 10
Nd4j 1.0.0-M1.1

[2021-11-30 16:33] wcneill opened #9550 "`putWhereWithMask` places values where mask is `false` instead of `true`"
#### Issue Description
`NDArray.putWhereWithMask(mask, replacement)` puts replacement values where the mask is false rather than true.

[code]

- expected behavior: The output should be the input with equal (true) values replaced:
[code]
- encountered behavior: The method replaces values where the mask is false:
[code]

#### Version Information
Windows 10
1.0.0-M1.1

#### Additional Information

[2021-11-30 17:51] singam-sanjay commented on #9539
Thank You!

[2021-12-01 08:27] #9524 closed, assigned to nobody

[2021-12-01 09:40] #9549 closed, assigned to nobody

[2021-12-01 09:40] #9550 closed, assigned to nobody

[2021-12-01 10:59] #9536 closed, assigned to nobody

[2021-12-01 11:57] agibsonccc commented on #9528
@jSaso do you have the custom class that's being used here? This isn't an official model and contains custom classes. I will need that as well. It looks like its from the weka pretrained models.

[2021-12-01 14:45] treo opened #9554 "Allow using custom optimizers / solvers"
We already support multiple different optimizers:
https://github.com/eclipse/deeplearning4j/tree/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/optimize/solvers

However, it is impossible to provide your own optimizer (e.g. https://arxiv.org/abs/2010.01412), because the feature is gated behind an enum: https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/d

[2021-12-01 21:58] #9531 closed, assigned to nobody

[2021-12-01 23:45] agibsonccc commented on #9540
@cbr-bsi I just tried this on master as well:
[code]

This passes fine. Could you clarify what else you might be running in to?

[2021-12-02 01:46] agibsonccc commented on #9520
@SidneyLann  JFYI I'm removing this call. Just use softmax or sigmoid cross entropy. Those already allow you to specify weights.

[2021-12-02 01:46] #9520 closed, assigned to nobody

[2021-12-02 01:47] #9497 closed, assigned to nobody

[2021-12-02 01:47] agibsonccc commented on #9497
Closing this as this should be resolved.

[2021-12-02 01:48] agibsonccc commented on #9460
I fixed the summary call a while back. We've imported a few BERT models now so I don't think there should be a problem. I will close this.

[2021-12-02 01:48] #9460 closed, assigned to nobody

[2021-12-02 01:58] agibsonccc commented on #9412
Closing due to lack of activity.

[2021-12-02 01:58] #9412 closed, assigned to nobody

[2021-12-02 02:01] #9334 closed, assigned to quickwritereader

[2021-12-02 09:47] cbr-bsi commented on #9540
@agibsonccc the issue seems a bit more comlex as it looked initially. I'll get back to you about the simple reproducer, still looking into that.

As your test clearly shows, it's not that an emtpy UTF-8 scalar wouldn't be generally supported by Nd4j. It looks to me, that key to this the `create(org.nd4j.linalg.api.buffer.DataType, long[], long[], char)` method in the `Nd4j` class.

In our case, th

[2021-12-02 10:06] cbr-bsi commented on #9540
This test method is the real minimal reproducer for the problem we are running into.

[code]

Obviously the things leading up to here, including the Multi-GPU setting, is not covered by this reproduction. But possibly, that's ultimately not so relevant.

The method called in this test is one of many, which probably could cause the same issue (some clearly will if called with `dataType = DataType.U

[2021-12-02 11:12] agibsonccc commented on #9540
@cbr-bsi ok fixed thanks. I just redirected that to our more generic Nd4j.empty(dataType); call. I think this method just predates that.

[2021-12-02 11:41] jSaso commented on #9528
Copy class to project where EfficientNet code(above) is executed.
It is important to have exact package and class name.
EfficientNet model definition is using this class:
[code]

[2021-12-02 21:38] #9471 closed, assigned to nobody

[2021-12-02 21:38] #9540 closed, assigned to nobody

[2021-12-02 21:45] #9405 closed, assigned to nobody

[2021-12-02 21:45] agibsonccc commented on #9405
Closing due to inactivity

[2021-12-02 21:53] agibsonccc commented on #9327
Closing due to inactivity. I think for now we'll just focus on c++

[2021-12-02 21:53] #9327 closed, assigned to nobody

[2021-12-03 06:38] cbr-bsi commented on #9540
@agibsonccc thank you for the quick response fixing this!

I quickly had a look at the code change. Wouldn't it make sense to change the other methods as well, where `Nd4j.scalar([dataTypeFromVariableOrMethod], 0.0)` is returned in case `shape.length == 0`? I assume, these may lead to the same issue in different contexts.

[2021-12-03 12:17] rogerlee24 opened #9558 "nullpointer"
#### Issue Description

Why is the dependency imported by pom different from the official code?

#### Version Information
it is error.
![image](https://user-images.githubusercontent.com/57137841/144598600-dd8b2c4a-526f-4255-aa2d-b77e3259f3fe.png)

This is my pom file.
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/20

[2021-12-03 13:22] agibsonccc commented on #9558
@rogerlee24 this is likely just out of date snapshots you have cached locally. This isn't a bug. Master is by definition going to have newer code than 1.0.0-M1.1. Just use snapshots if you want that or clone that module locally and install it then configure the snapshot version if you want to use the newer version.

[2021-12-03 13:22] #9558 closed, assigned to nobody

[2021-12-03 13:45] rogerlee24 commented on #9558
@agibsonccc  Thanks. now i use 1.0.0-M1,but encounter a new problem
![image](https://user-images.githubusercontent.com/57137841/144612488-b9741ad7-0d6f-4a73-b299-aa204ddef247.png)
same as #6697,Is this bug fixed?

[2021-12-03 13:46] agibsonccc commented on #9558
Yes this has already been fixed on master. Please follow my previous advice.

[2021-12-03 13:48] rogerlee24 commented on #9558
@agibsonccc  well, thank u

[2021-12-04 08:10] rogerlee24 opened #9560 "InvalidKerasConfigurationException: Cannot assign arrays: arrays must both be scalars, both vectors, or shapes must be equal other than size 1 dimensions. Attempting to do x.assign(y) with x.shape=[32, 1, 5, 1] and y.shape=[5, 32, 32, 1] Tried to set weights for layer with name conv1d_1, of class org.deeplearning4j.nn.conf.layers.Convolution1DLayer."
#### Issue Description
when I am attempting to load a pre-trained Keras model (with TF backend) from python into Dl4j. I encountered the error,I don't know how to solve it.
![image](https://user-images.githubusercontent.com/57137841/144702432-12d96a7c-df5e-4ac0-b07d-e3356fb039b3.png)

it is my model.
[model1.zip](https://github.com/eclipse/deeplearning4j/files/7653579/model1.zip)

can you give me

[2021-12-04 23:32] agibsonccc commented on #9560
@rogerlee24
Here's your converted model.
This issue is fixed here: https://github.com/eclipse/deeplearning4j/pull/9559
[converted-9560.zip](https://github.com/eclipse/deeplearning4j/files/7654929/converted-9560.zip)

I would suggest waiting for snapshots.  Generally the build for non c++ bits takes around 30 minutes.

I kicked a build off based on my changes just now so it should be fine now. Your

[2021-12-05 11:59] #9560 closed, assigned to nobody

[2021-12-06 07:16] cbr-bsi opened #9561 "Follow-up: Creation of empty UTF-8 (String) arrays will fail"
A follow-up to https://github.com/eclipse/deeplearning4j/issues/9540, as it looks like the described issue is present in 8 more of the various create methods in `Nd4j`.

Wouldn't it make sense to change the other methods as well, where `Nd4j.scalar([dataTypeAsGivenByVariableOrMethod], 0.0)` is returned in case `shape.length == 0`? I assume, these will lead to the same issue in different contexts,

[2021-12-06 07:17] cbr-bsi commented on #9540
Created follow-up issue https://github.com/eclipse/deeplearning4j/issues/9561 as I cannot re-open this one.

[2021-12-08 14:13] rogerlee24 opened #9565 "dl4j on spark-NullPointerException"
#### Issue Description

After I imported the keras model into dl4j, I wanted to run it on spark, but I encountered a problem.
The input of my model is an array containing 2048 elements。
I don't know why.
![image](https://user-images.githubusercontent.com/57137841/145221485-311a3826-1795-400d-94c6-847e1703cfc7.png)

![image](https://user-images.githubusercontent.com/57137841/145221437-186dde62-14ee

[2021-12-08 22:05] agibsonccc commented on #9565
@rogerlee24 could you verify if this happens on 1.0.0-SNAPSHOT to make sure this isn't a problem we already fixed?

[2021-12-09 07:10] rogerlee24 commented on #9565
@agibsonccc  yes,i didn't find a similar problem

[2021-12-09 10:52] agibsonccc commented on #9565
@rogerlee24 so this is already fixed on snapshot then? A lot of work went in to conv1d which is why I wanted to check. If so I'll close this issue and just suggest you use snapshot till next release. We're aiming for the next 2 weeks to do the last release for the year.

[2021-12-10 12:42] agibsonccc commented on #9527
@jSaso JFYI finally got around to testing this just to verify. From what I'm seeing with just a quick yolov4 cudnn enabled is around half the time. It seems like it's being used. Feel free to comment on this issue if you want more specific logging but otherwise I'm closing this.

[2021-12-10 12:42] #9527 closed, assigned to nobody

[2021-12-10 12:50] agibsonccc commented on #9561
@cbr-bsi just wanted to ack this as I was doing issue cleanup. Could you clarify what you mean a bit? I did a quick scan of Nd4j.create(..) and most of them are numerical.  Are you talking about scalar string creation? Many times in Nd4j.create(..) we require a databuffer. An emptyy ndarray isn't an ndarray with a databuffer. It usually has no data or can be zero length and so it varies a bit. I'l

[2021-12-10 12:50] agibsonccc commented on #9541
Closing due to inactivity

[2021-12-10 12:50] #9541 closed, assigned to nobody

[2021-12-10 12:51] agibsonccc commented on #9528
@jSaso thanks let me take a look this weekend. Will try to clear out the small backlog. Thanks!

[2021-12-12 12:37] agibsonccc commented on #9565
@rogerlee24 just change your input to shape: batchSize,2048,1 you just had the wrong shape. Not even your keras model would expect 1 x 2048 to be valid. It would throw an error. I'm closing this after having confirmed the imported model runs fine on master.

[2021-12-12 12:37] #9565 closed, assigned to nobody

[2021-12-13 14:07] baedaron opened #9574 "Build issue with cpu and current master"
#### Issue Description:
Please describe our issue, along with:

Compilation Error

#### Version Information
Please indicate relevant versions, including, if relevant:

Deeplearning4j version:
CURRENT SNAPSHOT

Platform information (OS, etc):
Windows 10 Pro 20H2 (64Bit)
AMD Ryzen 5 5600X 6-Core Processor
GeForce RTX 3070

CUDA version, if used:
v11.0

NVIDIA driver version, if in use:
v496.76 (DCH)

[2021-12-13 14:36] agibsonccc commented on #9574
@baedaron could you please ensure this is working with cuda 11.2? I literally just compiled this fine with your exact environment not too long ago. If something is missing on at least cuda 11.2 (which is the version we're supporting alongside cuda 11.4) I can take a quick look. I suspect I know what the problem might be but would like to make sure it's reproducible for us. Thanks! cc @quickwritere

[2021-12-13 14:59] quickwritereader commented on #9574
@baedaron you are having a problem building CPU or Cuda?

[2021-12-13 15:05] quickwritereader commented on #9574
I confirm the problem on the cpu build

[2021-12-13 15:45] baedaron commented on #9574
@quickwritereader

My mistake! sorry.
It's about CPU.

./buildnativeoperations.sh -a native -c cpu -e avx2 -h openblas -p msi -j 12 clean true
-----------------------------------------------------------------------------------------
@agibsonccc

Yes, the latest master!
currently have no time to upgrade to cuda 11.2!
but as I said to quickwritereader, it's not about cuda.

[2021-12-14 08:22] cbr-bsi commented on #9561
On line 4279 `org.nd4j.linalg.factory.Nd4j#create(org.nd4j.linalg.api.buffer.DataType, long[], long[], char)` a fix was applied in #9540 : https://github.com/eclipse/deeplearning4j/blob/284d0c488f4a1ebc74c9fba03f2e3954acb6fc77/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/factory/Nd4j.java#L4279

Depending on how it's called, I assume **line 4296** `org.nd4j.linalg.fact

[2021-12-15 12:08] #9561 closed, assigned to nobody

[2021-12-20 14:37] joehot200 commented on #9506
SOLVED. Please see https://community.konduit.ai/t/deeplearning4j-for-minecraft-plugins-doesnt-work-due-to-different-entry-point/1719/13

  `ND4JClassLoading.setNd4jClassloader(this.getClassLoader());`

While this solution was found for Minecraft, it is likely to work on other similar implementations. Minecraft code example below:

    `public class DL4jMinecraft extends JavaPlugin  {
    @Override

[2021-12-20 14:37] #9506 closed, assigned to nobody

[2021-12-21 03:04] #9574 closed, assigned to nobody

[2021-12-25 21:27] cyberbeat opened #9582 "Exception when weights array for loss function is a scalar"
I stumbled upon this exception:

[code]

with weights array being a scalar. Dl4j does the following test:

[code]

Shouldn't it be sufficient to test on "isRowVectorOrScalar"?

[2021-12-25 23:34] SidneyLann opened #9583 "NPE in UIListener"
#### Issue Description

Please describe our issue, along with:
- expected behavior
Training successfully

- encountered behavior
NPE

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version SNAPSHOT
* Platform information (OS, etc) Win7
* CUDA version, if used No
* NVIDIA driver version, if in use No

#### Additional Information

Where applica

[2021-12-25 23:35] SidneyLann commented on #9583
Same code run successfully in beta7.

[2021-12-26 00:42] SidneyLann commented on #9583
sameDiff.setOutputs("out");

Solved by added this line.

[2021-12-26 00:42] #9583 closed, assigned to nobody

[2021-12-26 00:45] SidneyLann commented on #9145
[main] WARN org.nd4j.imports.converters.ImportClassMapping - Duplicate TF op mapping found for op Pow: org.nd4j.linalg.api.ops.impl.scalar.Pow vs org.nd4j.linalg.api.ops.impl.transforms.custom.Pow
[main] WARN org.nd4j.imports.converters.ImportClassMapping - Duplicate TF op mapping found for op FloorMod: org.nd4j.linalg.api.ops.impl.transforms.pairwise.arithmetic.FModOp vs org.nd4j.linalg.api.ops.i

[2021-12-26 06:20] agibsonccc commented on #9582
@cyberbeat great find. Addressed this here: https://github.com/eclipse/deeplearning4j/pull/9581
Note that the samediff api (samediff.loss()... addresses this and uses different loss functions. These are mainly to be used with the deeplearning4j-nn/deeplearning4j-core api.

[2021-12-26 22:20] #9582 closed, assigned to nobody

[2021-12-27 05:51] agibsonccc commented on #9145
@SidneyLann you still never gave me a model like I asked here at the beginning of the year. I won't spend time on issues where I'm not getting any collaboration. I will not dedicate my time trying to reverse engineer a model that could potentially reproduce this problem. Please give me a model or I'm going to focus my attention on issues I myself see or issues that have more information for them.

[2021-12-27 10:31] SidneyLann commented on #9145
The steps I commented on 1 Jan will generate the model, but this case has no problem now. the new case I commented on last post still has problem. I will DM you, give you code to generate model and then can use to reload. Thank you.

[2021-12-27 10:33] agibsonccc commented on #9145
@SidneyLann Appreciated. I was missing the makeModelMnist() you had there though. It wasn't clear how you were creating the model. I mainly saw the code for creating some sort of model and you loading it from a checkpoint.

[2021-12-27 11:47] zijian-z commented on #9428
I have encountered the same problem. Have you solved it?

[2021-12-27 21:34] baedaron opened #9585 "Simple Java Bug."
CURRENT MASTER.

org.nd4j.linalg.cpu.nativecpu.ops.NativeOpExecutioner
--------------------------------------------------------------------------------------
.
.
.
    @Override
    public INDArray[] exec(CustomOp op, @NonNull OpContext context) {
        long st = profilingConfigurableHookIn(op, context);
        boolean mklOverride = false;
        try {
			DifferentialFunction differentialFunct

[2021-12-27 23:16] agibsonccc commented on #9585
@baedaron thanks. Yeah just comment that out. That is already fixed here. https://github.com/eclipse/deeplearning4j/pull/9584 I'm closing this in lieu of that.

[2021-12-27 23:16] #9585 closed, assigned to nobody

[2022-01-06 17:14] lessthanoptimal opened #9592 "Examples for standard linear algebra operations such and decompositions and solvers"
Request: Clear examples for performing standard linear algebra operations such as matrix multiplication, matrix inverse, SVD, Eigenvalue, matrix inverse, ... etc.

I've been asked by multiple people to add ND4J to [Java Matrix Benchmark ](https://lessthanoptimal.github.io/Java-Matrix-Benchmark/)but have been having issues trying to figure out how to do all the standard operations. See the discussi

[2022-01-06 19:15] cyberbeat opened #9593 "nOut for Bidirectional Concatenated"
This is the code for `org.deeplearning4j.nn.conf.layers.recurrent.Bidirectional`

[code]

Shouldn't it be multiplicated by 2 for Concat-Mode?

[2022-01-07 01:15] agibsonccc commented on #9592
@lessthanoptimal thanks a lot for flagging this. It would be great to get nd4j up to spec with the benchmark.

Let me start off with some history so you understand why things are the way they are:

To start off we recently removed a lot of older docs that were out of date so as to avoid confusing users. We've also historically had some problems we're still cleaning up with our CMS Gitbook. Apologi

[2022-01-07 16:31] lessthanoptimal commented on #9592
@agibsonccc Thanks for all the background information.

You're right that the benchmark is CPU only. Do you think including a link at the top of the results page explaining the situation and linking to a blog post of yours showing how much faster operations will run on a GPU is a good work around for now? In the future we could potentially add a section with GPU results.

Looks like there are only

[2022-01-07 23:18] agibsonccc commented on #9592
@lessthanoptimal ok so for our purposes here I'll focus on CPU. I would just add a potential highlight maybe and would appreciate that.

Let me explain the "spin" part. No one needs to build anything when using nd4j. These jars are provided as is with the binaries automatically working similar in spirit to JBlas or what netlib-java used to do. So let's assume that the benchmark runs a pre specifie

[2022-01-08 14:34] kgoderis opened #9594 "rl4j - frequent syntax errors"
I was wondering how the rl4j can be compiled because it is seemingly full of syntax errors. For example,

https://github.com/eclipse/deeplearning4j/blob/aa1961623bccedc6ddcb3973b0b42af841417afb/rl4j/rl4j-api/src/main/java/org/deeplearning4j/rl4j/space/DiscreteSpace.java#L27 should implement https://github.com/eclipse/deeplearning4j/blob/aa1961623bccedc6ddcb3973b0b42af841417afb/rl4j/rl4j-api/src/ma

[2022-01-08 14:50] kgoderis commented on #9594
Eclipse is behaving weird

[2022-01-08 14:50] #9594 closed, assigned to nobody

[2022-01-08 15:20] treo commented on #9594
If anyone finds this and is wondering: This is due to our use of https://projectlombok.org/

https://github.com/eclipse/deeplearning4j/blob/aa1961623bccedc6ddcb3973b0b42af841417afb/rl4j/rl4j-api/src/main/java/org/deeplearning4j/rl4j/space/DiscreteSpace.java#L30-L31

This implements `getSize()` with Lombok's `@Getter` annotation.

There is a plugin for most IDE's that will help it understand all of

[2022-01-08 15:25] kgoderis commented on #9594
Indeed, but somehow in Eclipse not all errors are resolved even after installing the Lombok plugin

[2022-01-08 19:58] subes opened #9595 "Python4J Performance Optimizations"
Hi,

I took a go at Python4J and compared it to some other integrations: https://github.com/invesdwin/invesdwin-context-python/blob/master/README.md#results

Following findings:
- PythonGIL should be made reusable: https://github.com/cnuernber/libjulia-clj/issues/4#issuecomment-1008055456
- type conversions can be made a lot faster and a None/Null type could be supported: https://github.com/cnuern

[2022-01-09 23:33] agibsonccc opened #9596 "Implement Einsum op"
#### Issue Description
Einsum is used in lots of operations and is needed for both tensorflow and onnx import.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#

[2022-01-12 09:33] UltraRabbit opened #9604 "Should this path be filePath to extract the extension for checking?"
https://github.com/eclipse/deeplearning4j/blob/3f93acc1ec943153e00538415aa4704866cc2e00/deeplearning4j/deeplearning4j-scaleout/spark/dl4j-spark/src/main/java/org/deeplearning4j/spark/util/SparkUtils.java#L594

[2022-01-12 23:10] jccampanero commented on #9447
@agibsonccc I realize that this issue is probably not meant to be handled by a new contributor, but if you give me any guidance on that, I would love work on it.

[2022-01-13 20:30] kgoderis commented on #9594
@treo The rl4j code base is difficult to understand because of all the depreciated classes that are also used by the examples. Just for my understanding, what was the reason to depreciate classes and what are the alternatives classes that need to be used? This is not clear, or is there are different strategy here?

For example, what is the difference between org.deeplearning4j.rl4j.agent.learning.

[2022-01-13 22:48] agibsonccc commented on #9594
@kgoderis

Sorry there hasn't been a ton of time to maintain rl4j. I'm actually thinking of just deprecating it completely. I've left it there because some people seem to use it but internally we don't have really touch it much.

I've already purged a number of modules for our upcoming 1.0 release. If you would like to step up and contribute I think we could guide you on at least helping with some

[2022-01-14 03:52] agibsonccc commented on #9604
@UltraRabbit could you post on the community forums: https://community.konduit.ai/ and add more context to your question?

[2022-01-14 03:52] #9604 closed, assigned to nobody

[2022-01-14 07:14] kgoderis commented on #9594
@agibsonccc i understand fully and I am ok to contribute as I go along, and i am equally ok to do a cleanup. I was just wondering what parts are still relevant, what is dated, but from what I discovered yesterday I sense that the Maze example and the classes that are used by that example are the most robust and elaborated

Just wondering, did interest falter because of mediocre RL performance? RL'

[2022-01-14 08:32] agibsonccc commented on #9594
@kgoderis after chatting with @treo we agreed that a standalone tutorial for the samediff and deeplearning4j DL APIs would be easier. The main problem is RL is more of a research thing and not used much in industry. The simulation community would be one of the main adopters of this technology but they are behind a bit and do well enough with their standalone techniques so it's more of a commercial

[2022-01-14 09:48] kgoderis commented on #9594
@agibsonccc @treo.AFAIK, but I am still discovering, there is no other RL java framework with any good traction or that is backed with core functionalities like DL4J or SameDiff, so for me RL4J remains a bit the go-to option.  I understand that at the end industry is more interested in putting the agent networks into production, rather than try out new algo's.

I am not sure I fully understand wha

[2022-01-14 11:08] agibsonccc commented on #9594
@kgoderis basically loss functions are derived from policies (think rewards) which are "external".

Roadmap wise if you want to step up:

1. More flexibility is needed. The current architecture gets in the way.
2. More algorithms are needed ideally. It's a bit behind the current state of the art. Model import work we are doing could fix this somewhat.

3. Better data pipelines and scenario buildin

[2022-01-14 11:25] treo commented on #9594
Ideally we would take a good hard look at RL4J and the use-cases upfront, in particular the part you mention:

I find RL4J in its current state to be targeted too much at the other end of that spectrum while at the same time not actually having anything really worthwhile there.

For the most part, I think that you can easily get an agent network into production without any support by RL4J at all.

[2022-01-14 13:19] kgoderis commented on #9594
Indeed, but it is also about updating a network with new data, or hyperparameter tuning a la Arbiter.

I looked at that example, and it using the methods and classes that are @depreciated, but I can imagine some for the initial refactoring happened between now and 14 months ago.

To me the refactored stuff already made a lot of sense in terms of architecture

Well, the worst thing one can do is ke

[2022-01-15 14:10] aboulang2002 commented on #9594
Hello @kgoderis,
Yes, as you have suspected, there are two versions of RL working side by side. Originally, I didn't know who was using RL4J so I thought that it was important to keep the legacy code working, even at the cost of code clarity.

My original aim was to be able to do '5 minutes prototypes'; to make it possible for someone to come up with an RL idea and to be able to code it within 5 m

[2022-01-15 14:39] kgoderis commented on #9594
@aboulang2002 Yes, thank you for this elaborate explanation. In the meantime I have started to dive deeper in the code. So far I found the architecture quite clean, in fact, and certainly not something that should be thrown away or abandoned. The only thing that I found a bit limiting so far is the fact that the classes are built around Action(s) that are Integer, and not a POJO. E.g. you could ha

[2022-01-16 16:05] kgoderis commented on #9594
@agibsonccc I have studied the library (e.g. the refactored bits) over the weekend, and I found it reasonably flexible. The usage of Configuration classes and Builders is quite extensive and does bring flexibility. In which regard does the architecture get in the way? Do you want to reduce the usage of templated classes ? ... just wondering

K

[2022-01-17 00:01] agibsonccc commented on #9594
@kgoderis it mainly comes down to the architectures you can specify.
If you look we typically just allow feed forward and rnns.

We allow a very limited number of nets compared to what you might expect. Ideally it would be more extensible.

I appreciate you stepping up with the work you're doing! I look forward to the result.

[2022-01-17 23:34] sascha08-15 opened #9607 "TrainingPerformanceEarlyStoppingListener reports wrong statistics combined with EarlyStoppingTrainer.evaluateEveryNEpochs(x)"
#### Issue Description

TrainingPerformanceEarlyStoppingListener is not aware of the epoch it's reporting for.

Can be reproduced by combining TrainingPerformanceEarlyStoppingListener with EarlyStoppingTrainer and .evaluateEveryNEpochs(x) where x > 1, this produces invalid results wrt. to epoche performance.

Actual bug could also be in EarlyStoppingTrainer as it just omits to call onEpoch on the

[2022-01-23 12:20] kgoderis commented on #9594
@agibsonccc Can you give an example of what kind of networks we should be able to support? This will help me understand how to generalise what is in rl4j, e.g. step away from various Helper class implementations to something more future proof.

[2022-01-24 09:55] agibsonccc commented on #9592
@lessthanoptimal any updates here? Would appreciate some input. I am going to spend some time before our release (within the next week or 2) auditing our blas/lapack support.

[2022-01-24 10:47] agibsonccc commented on #9594
@kgoderis Generally just being able to specify an arbitrary MultiLayerNetwork or ComputationGraph, or even SameDiff instance (maybe with a dl4j wrapper) over the current api would be nice. Right now it just restricts you and creates the network internally.

[2022-01-24 11:35] kgoderis commented on #9594
Can one assume that the dimensionality/dimensions of the features and labels fed into the network are the constant in the sense that het network adjusts itself to the algorithm, and not the other way around, or do you reckon we need this to be full flexible?

[2022-01-24 14:35] treo commented on #9594
It depends on what kind of RL algorithm ends up being used. But in general the Observation and ActionSpace of an MDP provide the information for the input and output size.

However, I think that it doesn't necessarily make sense to constrain the possible models because of this. A simple compatibility check for inputs and outputs of the provided model is probably going to be just as ergonomic.

One

[2022-01-25 07:56] kgoderis commented on #9594
@treo I misformulated my question a bit, but in fact, in org.deeplearning4j.rl4j.network there are the classes that can handle the format of the inputs/outputs of the networks. I am bit puzzled by the (@agibsonccc ) on the network flexibility, as it seems - to me - that everything is already in that package to support any type of neural net. There are Factory classes for AC and DQN based networks

[2022-01-25 08:24] treo commented on #9594
I think part of this is probably that both @agibsonccc and me may have mostly the API in mind that existed before @aboulang2002 started the refactoring.

For me at least, I may have a somewhat outdated opinion in that regard.

If it makes it harder to use or harder to understand, then I think then generics aren't really helping. I also remember there being a lot of generic usage for not a lot of b

[2022-01-25 08:37] agibsonccc commented on #9594
Yeah I think @treo is right upon looking at it. If generics hinder the usage they don't need to be there.

[2022-01-25 13:00] aboulang2002 commented on #9594
@kgoderis Not a lot have been done regarding building the networks, Please see https://github.com/KonduitAI/deeplearning4j/pull/514#pullrequestreview-477664485, where some ideas have been discussed.

[2022-01-25 14:16] kgoderis commented on #9594
@aboulang2002 Thx for that input. Building networks is indeed one thing, but it is correct to state you already have built a lot of functionality to inject networks into the RL algos, right? I don't think that part needs any changes, and it is a big improvement over the legacy code

[2022-01-25 19:33] aboulang2002 commented on #9594
@kgoderis Correct; any DL4J network can be used in the new code of RL4J.

[2022-02-02 12:55] SidneyLann commented on #9596
Need Einsum to implement GAT.

[2022-02-02 16:13] Szustarol opened #9625 "Loading a functional Keras model throws NullPointerException."
#### Issue Description

- Expected behavior:
Keras model loads fine in Java/Scala using this library.
- Encountered behavior
Loading a Keras functional model with deeplearning4j is impossible, because a NullPointerException is thrown. This is the code used to load it (in Scala), and the thrown error:
[code]
The trace is:

If I try to load the whole model (.h5 file with training data as well), I ge

[2022-02-05 16:58] lessthanoptimal commented on #9592
Sorry for taking so long to reply! I got pulled away on some other tasks and did a poor job mode switching.

I think the easiest way to handle this is to pick one set jars from bytedeco for x86, arm32  (Raspberry PI), and arm64 and just include them always in the dependencies. At runtime the correct architecture is loaded so the only downside is bloat, which doesn't matter. To date we have not dif

[2022-02-05 16:59] lessthanoptimal commented on #9592
As a side note, the memory and numerical stability benchmarks are up and running again. Those should be a good way to validate the correctness of dl4j.

[2022-02-07 10:42] agibsonccc commented on #9625
@Szustarol could I get just a straight hdf5 model to try? That's much easier than me setting up a whole environment just to test this. Could you also tell me the keras version?

[2022-02-07 16:12] xiptos commented on #9258
@agibsonccc, I tried to compile for Apple Silicon (macosx-arm64) by updating most of the bytedeco dependencies' versions. It compiled correctly (at least without any error) and I believe it installed the packages in the `.m2/repositories` directory. However, I can only see one dependency with the architecture suffix: libnd4j-1.0.0-SNAPSHOT-macosx-arm64.zip
Is this expected?

When trying it, I get:

[2022-02-08 00:46] agibsonccc commented on #9258
@xiptos actually libnd4j should be missing. Please ensure you also compile with -Pcpu to make sure the proper nd4j-native backend is added as well.

We don't support it in the cmakelists.txt (at least I haven't tried due to lack of hardware and waiting on github). You can't just update the java deps and hope it will work. Can you clarify that you tried it? If so, feel free to send a PR and we can

[2022-02-08 07:55] agibsonccc commented on #9592
@lessthanoptimal We sort of do that using nd4j-native-platform. That will include all the dependencies you need out of the box. Having too many different maven artifacts as "spins" will just be even more confusing to users though.

Beyond that, binary size (especially on android and embedded scenarios like pis) are actually a big problem. We can't just include everything wholesale. So the compromi

[2022-02-08 08:00] agibsonccc commented on #9594
@kgoderis since I'm not seeing much in terms of actual activity I'm moving rl4j out of the main repo. We are doing a java 9+ upgrade and overhauling some modules. It might not be a had idea to fork or potentially create a repo we can link to. If you're up for that I'd be happy to support that and link it on the site.

[2022-02-08 09:13] kgoderis commented on #9594
@agibsonccc FYI, I have done quite some work, in a forked repo, but it is not ready to be pushed/merged. (see https://github.com/kgoderis/deeplearning4j/tree/rl4j-refactor)

[2022-02-08 09:16] kgoderis commented on #9594
@agibsonccc What I have done so far
 - Introduce generalist Action and Observation classes
 - Migrate all legacy examples into the main repo (so, ALE, Doom,... and rl4j-examples) + refactor
 - Clean-up the regular examples
 - Get rid of legacy code

Still to do : update Unit tests, further clean-up

[2022-02-08 10:30] agibsonccc commented on #9594
@kgoderis thanks a lot. I'm not against supporting this in some capacity, let's just figure out how to move this out of the main repo. I'd be happy to help supporting in publishing it. I just want to make sure we keep the dl4j library itself small and easier to manage.

One thing we can definitely do is keep the examples active there.

[2022-02-08 15:28] kgoderis commented on #9594
I did the reverse and moved all examples into the rl4j-core project so that everything sits together, making it a bit easier for people to find everything at one place, and make sure the examples will not get out of sync with the core rl4j classes.

I am by no means a developer by profession, so some parts might need some help but I will indicate that (at least adding the proper unit tests will be

[2022-02-09 04:15] agibsonccc commented on #9595
@subes looking closer at this if you want, we'd be happy to accept a pull request for this. Your changes look great!

[2022-02-09 07:10] agibsonccc commented on #9258
@xiptos it looks like we're still waiting on the javacpp release of openblas yet. After that we can cut a release for M1. I looked at the needed changes for c++ today and I think it'll be doable.

[2022-02-09 09:40] xiptos commented on #9258
Excellent, @agibsonccc! I'm travelling and I couldn't try your suggestion yet. Nevertheless, I can help in any way I can! I'll post the results of the compilation with -Pcpu as soon as possible.

[2022-02-10 11:41] Szustarol commented on #9625
@agibsonccc sorry for the late response but I have been busy recently.
I have created a minimal example of a model that fails to load (I can't send you the .h5 file since the model is a dozen of gigabytes):
- a python script that creates the model
- build.sbt that builds scala
- and the scala file that loads the model.
Run the python script to generate the model and then sbt run to load it in scal

[2022-02-10 15:38] CompilerCrash opened #9635 "Boolean SameDiff operations return wrong results"
#### Issue Description

Hey, this is my first issue, I hope I'm doing this right.

I noted that the SameDiff operations `math.and`, `math.or` and `math.xor` give me wrong results if their second argument has to be broadcasted. Consider the following (Scala) code:

    val sd = SameDiff.create()

    val x = sd.constant(Nd4j.createFromArray(Array(Array(true, false), Array(false, true))))

    val y

[2022-02-11 00:23] agibsonccc commented on #9635
@CompilerCrash I just tried this with the latest version:
[code]

This gave me:
[code]

Numpy baseline:
[code]
Prints:
[code]

This might be a bug in M1.1 (haven't confirmed) but the behavior looks good so maybe just try snapshots for now. I'll close this for now. Feel free to comment if something changes after you try snapshots: https://deeplearning4j.konduit.ai/multi-project/explanation/snapshot

[2022-02-11 15:56] CompilerCrash commented on #9635
Thanks for the hint regarding the snapshots. From now on I'm on 1.0.0-SNAPSHOT. Unfortunately, this did not solve the problem for me, and on closer inspection, it seems to be even stranger than I thought.

I ran the test code you gave above in a fresh Java 11 project, and the result was again wrong:

    [[      true,     false],
     [      true,      true]]

But then I added an unrelated SDVaria

[2022-02-11 22:32] agibsonccc commented on #9635
@CompilerCrash are you using cuda? I still can't reproduce this.
Edit: Tried this on cuda as well with snapshots and I still can't reproduce this.

Beyond that...I wouldn't try to inject too much magic in to the debugging. When you create variables it just gets stored in a map.
When we go to build the execution graph we do it based on a bunch of internal dictionaries. That execution order is going

[2022-02-12 10:21] CompilerCrash commented on #9635
I'm using nd4j-native; no CUDA involved.

You are probably right that the observations about the variable ordering don't necessarily mean anything. If I had to make another wild guess, maybe some memory access in the C++ backend uses a wrong address under certain circumstances? What I can say for sure is that it happens only with boolean operations and if broadcasting is involved and that the shap

[2022-02-12 11:20] agibsonccc commented on #9635
@CompilerCrash thanks a lot for that. I figured out the difference upon closer inspection. Change to:
[code]

This will give you the correct result. Notice that I changed the shape from 1,2 to 2. I'll double check the broadcasting behavior here and for now at least you have a workaround. Thanks for spending so much time on this!

[2022-02-12 12:09] CompilerCrash commented on #9635
Thank _you_ for investigating this.

Indeed, when using `reshape(2)` I get the correct result for this example. However, I added another example to the repo where this didn't help.

For now, I can easily work around this bug by either making sure all variables have their "full matrix shape" or by using 1s and 0s instead of true and false. So solving this issue is not that urgent for me.

[2022-02-12 12:55] agibsonccc commented on #9635
@CompilerCrash sure of course. I just want to make sure we get the set of broadcast shapes this happens for so I can nail down the execution path and fix that. I'm not sure if this is for specific ops yet or in the core broadcasting machinery itself (I haven't did anything than ran your code yet so I don't know quite what we're dealing with here yet)

[2022-02-12 13:47] CompilerCrash commented on #9635
Makes sense. My observations so far are: For `a` of shape (2, 2), errors may happen if `b` has shapes (1, 2), (2, 1), or (2). For shapes (2, 2), (1, 1), (1), and scalars, everything seems fine.

[2022-02-13 15:29] xiptos commented on #9258
@agibsonccc, I cloned the rep and switched to branch `ag_osx_arm64_2`.
I, then, tried to compile with
[code]
And I got the error:
[code]

I also tried to compile with:
[code]
without changes...

What should I try next?

[2022-02-14 01:57] agibsonccc commented on #9258
@xiptos that's odd..I didn't see that on the CI machines. I know I fixed that. Let me confirm again in the build today. There's not much you can do beyond just editing the CMakeLists.txt yourself and actually making the build..run. no amount of command line parameters will really help you there so for now just the feedback is fine.

[2022-02-14 09:34] xiptos commented on #9258
@agibsonccc, after "forcing" the architecture in `libnd4j/buildnativeoperations.sh` to be (line 477)
[code]
It compiles for arm64. However, it stops with another error:
[code]

[2022-02-14 09:38] #9635 closed, assigned to agibsonccc

[2022-02-14 09:58] agibsonccc commented on #9258
@xiptos I'm still not sure what's going on on your branch there. I just built it successfully again and will be able to deploy this for release. I'll build a staging repo for you and give you 24 hours to look at it while we also do our internal testing of this. If it looks good we'll call this one good.

[2022-02-14 10:00] xiptos commented on #9258
@agibsonccc, excellent!
I'm also trying the current SNAPSHOT to check the libraries... :)
I'll let you know in a moment.

I'm still having issues with dependencies:
[code]

For some reason, the native lib is not available... My dependencies in build.gradle are:
[code]
where
[code]

[2022-02-14 16:11] xiptos commented on #9258
@agibsonccc, I got the dependencies to be downloaded and installed. Nevertheless, I believe that there is some problem with the native libraries. I tried to load them using:
[code]
and both this and
[code]
fail with
[code]

However, with
[code]
It works...

Also, with `otool -L libjnind4jcpu.dylib` everything seems alright:
[code]

[2022-02-16 01:55] agibsonccc commented on #9258
@xiptos could you see what happens if you set the system property org.bytedeco.javacpp.logger.debug to true?

[2022-02-20 01:31] xiptos commented on #9258
@agibsonccc, with javacpp debug to true, I get the following messages:
[code]
I'm not understanding what is going on...

[2022-02-22 15:18] KillianB opened #9642 "Error when importing a ONNX model from file"
#### Issue Description
When using those 3 lines of code to import a ONNX model from a file in my Spring resource folder:
[code]
- expected behavior = I should have full access of my model in the `graph` variable
- encountered behavior = Error telling me nd4j-op-def.pbtxt cannot be opened because it does not exist. Seems to exist in the github repository but not in the Jar ??

#### Version Informat

[2022-02-22 20:03] kgoderis commented on #9594
@agibsonccc @aboulang2002 @treo All, I have just created https://github.com/kgoderis/deeplearning4j/tree/rl4j-refactor in which I have now consolidated a bunch of changes to RL4J. These include the removal of all legacy code, further generalisation of previous work, a refactoring of all examples to use the refactored code and so forth. In the end I have decided to keep the generics approach; I als

[2022-02-22 22:39] agibsonccc commented on #9642
@KillianB  we'll have an M2 release out shortly. I'll ask you to try that to see if you still have this issue after that. In the mean time could you show me what the model is? I'd be happy to convert the model for you as well. Depending on what model it is note we have plenty of pre converted models here as well: https://github.com/KonduitAI/omnihub-zoo/tree/main/samediff

[2022-02-23 08:16] KillianB commented on #9642
@agibsonccc Thank you for your anwser ! Good news for the release. The model I tried to convert is a specific pretrained IR-50 model done in PyTorch that I converted myself into an ONNX model with `torch.onnx.export`. If you can convert it for me, I would be grateful ! One question, since it's not a format supported by GitHub, how should I send it to you?

[2022-02-23 08:18] agibsonccc commented on #9642
@KillianB go ahead and DM me on our forums at https://community.konduit.ai/ same user name. Thanks!

[2022-02-25 11:47] kgoderis commented on #9258
I noticed (in the GitHub Actions) that build-deploy-mac-arm64.yml is building arm64 artefacts with success, and that its gets uploaded to oss.sonatype.org, but when manually browsing the snapshot repository, it seems that the artefacts are missing? well, the are some macosx-arm64 jars but they are quite old (e.g. latest is Feb 10th, more recent builds are missing)

[2022-02-25 12:02] agibsonccc commented on #9258
@kgoderis I'm wrapping up the M2 release soon so you can test the binaries. According to @xiptos they don't really work. I want to just attempt to put it out there and get some feedback and we'll follow up with M3 (mainly focused on new feautres) within a month after issues are ironed out.

Also sorry about snapshots it's hard to run both snapshot builds and release builds at the same time due to

[2022-02-25 12:03] xiptos commented on #9258
Excelent!!!
Looking forward to provide some feedback. :)

Cheers,

/rp

[2022-02-27 01:27] agibsonccc commented on #9258
@xiptos nd4j-native macosx-arm64 is out on maven central. Just make sure to add the classifier as follows:
[code]

[2022-02-27 07:40] agibsonccc commented on #9594
@kgoderis yes happy to help. Maybe migrate this over to our forums for some visibility: https://community.konduit.ai/ - M2 has been published and now we are able to help with this a bit.

For release support we are thinking of using something like our contrib folder. For publishing, we can try to put it under the org.eclipse.deeplearning4j namespace with maybe an extra .contrib on the end of that

[2022-02-27 10:44] kgoderis commented on #9258
@agibsonccc I did give this a go, but I run into problems (sample project with 1.0.0-SNAPSHOT deeplearning4j pom as parent)

(1) Zulu 11 x86 als "Alternate" JRE in Eclipse, with <classifier> removed : runs ok, e.g. rosetta in full swing
(2) Zulu 15 arm64 without <classifier> : it complains about missing dependencies, which is logical
(3) Zulu 15 arm64, with <classifier>  : the class loader fails t

[2022-02-27 10:56] kgoderis commented on #9258
<img width="533" alt="image" src="https://user-images.githubusercontent.com/5459062/155879515-460b0558-4941-4f60-b99f-6c422864553e.png">

Isn't this strange that in the dependency hierarchy nd4j-native:macosx-arm64 depends on nd4j-native:macosx-x85_64 ?

Also, I had to add

[code]

in order to resolve a dependency conflict in the pom.xml

[2022-02-27 11:21] agibsonccc commented on #9258
@kgoderis can you post your complete pom for me? This is super helpful thank you.
I looked initially at the workflow file to make sure I didn't miss something in the build and nothing seemed out of place so it might be something else.
What *might* be happening is just the presets get pulled in. That shouldn't affect anything though.

I'd be happy to check just in case though. That is definitely st

[2022-02-27 12:00] xiptos commented on #9258
@agibsonccc, I confirm the issue @kgoderis have.
I’m using gradle, with the same result. The dependencies seem to be in the classpath, but it complains with:
[code]

The dependencies in the build.gradle are:
[code]

With javacc debug, nothing shows, which might mean that it fails before calling javacc.

Hope it helps…

Cheers,

/rp

[2022-02-27 12:01] kgoderis commented on #9258
@agibsonccc Here it is

[code]

[2022-02-27 12:14] agibsonccc commented on #9258
@kgoderis could you just try
[code]

I'm wondering if maven's default of pulling in the classifier matching the platform is happening. I wonder what would happen if we are explicit with the classifier.

[2022-02-27 12:19] agibsonccc commented on #9258
For gradle ensure you explicitly declare the empty classifier as well as the macosx-arm64 one. Maven has something different from gradle where one dependency and no classifier also pulls in a system specific classifier if it exists. Gradle doesn't do that.

For nd4j-native ensure you also specify openblas. We do this for you in nd4j-native-platform normally. See an example: https://deeplearning4j.

[2022-02-27 12:21] kgoderis commented on #9258
Exception in thread "main" java.lang.ExceptionInInitializerError
	at org.nd4j.linalg.cpu.nativecpu.ops.NativeOpExecutioner.<init>(NativeOpExecutioner.java:79)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:64)
	at java.base/jdk.internal.refle

[2022-02-27 12:21] agibsonccc commented on #9258
@kgoderis could you also set the JVM property to org.bytdeco.javacpp.logger.debug to true and print the results of that?

[2022-02-27 12:29] kgoderis commented on #9258
This did not produce any additional logging info in the console log...

[2022-02-27 12:30] agibsonccc commented on #9258
@kgoderis how did you set it? It should print what it tries to load and fails.
Your stack trace shows this:
[code]

That should be logging additional behavior. Try to make sure you set it with -D using eclipse. https://stackoverflow.com/questions/862391/how-to-pass-the-d-system-properties-while-testing-on-eclipse

[2022-02-27 12:31] kgoderis commented on #9258
mmh.. based on the error log, it seems that it is puling the x86 dependencies

[2022-02-27 12:32] agibsonccc commented on #9258
@kgoderis then yeah try what I mentioned. It might just be pulling in the dependencies for your platform. If we can figure this out and make it work I'll put up some Apple M1 docs mentioning this. Thanks!

[2022-02-27 12:34] kgoderis commented on #9258
Something is wrong with eclipse. This is what I do

<img width="529" alt="image" src="https://user-images.githubusercontent.com/5459062/155882477-04a446de-645f-4167-8de8-a41dc1c202c3.png">

but

`    	System.out.println(System.getProperty("org.bytedeco.javacpp.logger.debug"));
`
returns null.

[2022-02-27 12:35] agibsonccc commented on #9258
@kgoderis try to set it in the first line of your main program using:
[code]

before you touch nd4j and see what that does.

[2022-02-27 12:37] kgoderis commented on #9258
It does return null

[code]
        ....

--->

[code]

[2022-02-27 12:38] agibsonccc commented on #9258
@kgoderis right. That's why I mentioned calling System.setProperty manually from your java program first. That will also set the property. It doesn't necessarily need to be set with -D as long as you set it before nd4j/javacpp loads.

[2022-02-27 12:39] kgoderis commented on #9258
Ok, read too fast here. :-) did not notice you were setting the property. my mistake.

[2022-02-27 12:41] kgoderis commented on #9258
Debug: Loading class org.bytedeco.javacpp.presets.javacpp
Debug: Loading class org.bytedeco.javacpp.Loader
Debug: Loading /Users/kgoderis/.javacpp/cache/javacpp-1.5.7-macosx-arm64.jar/org/bytedeco/javacpp/macosx-arm64/libjnijavacpp.dylib
Debug: Loading class org.bytedeco.javacpp.presets.javacpp
Debug: Loading class org.bytedeco.javacpp.Pointer
Debug: Loading class org.bytedeco.javacpp.presets.java

[2022-02-27 12:42] agibsonccc commented on #9258
@kgoderis ok now we've hit pay dirt. This is *exactly* what I need to debug. For some reason it seems like clang isn't linking that symbol in properly. I'll chat with my team tomorrow to go over this. Thanks a lot!

[2022-02-27 12:49] kgoderis commented on #9594
That's perfect for me. Will move and open the debate ;-)

[2022-02-27 12:53] xiptos commented on #9258
@agibsonccc, after adding the following dependencies:
-------------
implementation "org.deeplearning4j:deeplearning4j-core:${dl4j_version}"
implementation "org.nd4j:nd4j-api:${dl4j_version}"
implementation "org.nd4j:samediff-import-tensorflow:${dl4j_version}"
runtimeOnly 'org.bytedeco:openblas-platform:0.3.19-1.5.7'
runtimeOnly 'org.bytedeco:openblas:0.3.19-1.5.7'

runtimeOnly "org.nd4j:nd4j-nativ

[2022-02-27 13:07] agibsonccc commented on #9258
@xiptos thanks a lot. Could you do what @kgoderis did and see if you can confirm we have some sort of issues like what you're seeing here or is yours wholly different? It looks like your stack trace is a bit cut off.

[2022-02-27 14:36] xiptos commented on #9258
Sure, @agibsonccc. I did cut some out.
I send now complete:

Properties:
Mac OS X
12.2.1
aarch64
OpenJDK 64-Bit Server VM
17.0.2+8-86
true

14:32:02.799 INFO  [           main]          Nd4jBackend: Loaded [CpuBackend] backend
Debug: Loading class org.bytedeco.javacpp.presets.javacpp
Debug: Loading class org.bytedeco.javacpp.Loader
Debug: Loading /Users/rlopes/.javacpp/cache/javacpp-1.5.7-macosx-a

[2022-02-27 23:42] agibsonccc commented on #9625
@Szustarol thanks for the reproducer. Sorry it took so long. Backlog with the builds was a bit heavy. We published our next stable release yesterday and I'll start catching up on community issues. This was actually a simple fix. Feel free to reference the PR. Snapshots will be published and you can use those.

[2022-02-28 08:02] #9625 closed, assigned to nobody

[2022-03-01 14:36] prab2112 opened #9651 "CRTICAL vulnerability in owasp scan"
[openblas-0.3.13-1.5.5.jar] , openblas-platform-0.3.13-1.5.5.jar are  showing up as CRITICAL vulnerability in owasp scan
Please describe our issue, along with:

expected behavior : NA
encountered behavior - Showing up in owasp scan as CRTICAL vulnerability
Version Information : 1.0.0-M1.1
Please indicate relevant versions, including, if relevant:

Deeplearning4j version : 1.0.0-M1.1
Additional Inf

[2022-03-01 14:51] saurabhchandras commented on #9651
This is also important for us, please can you prioritise.

Thanks

[2022-03-01 21:32] SidneyLann commented on #9145
java.lang.NullPointerException: Cannot load from object array because "inputsForOp" is null
	at org.nd4j.linalg.api.ops.impl.layers.recurrent.LSTMLayer.configureWithSameDiff(LSTMLayer.java:210)
	at org.nd4j.autodiff.samediff.SameDiff.fromFlatBuffers(SameDiff.java:5572)
	at org.nd4j.autodiff.samediff.SameDiff.fromFlatFile(SameDiff.java:5428)
	at org.nd4j.autodiff.samediff.SameDiff.load(SameDiff.jav

[2022-03-01 22:20] agibsonccc commented on #9651
@saurabhchandras @prab2112 could you please update to M2? That uses a newer open blas version. If that is still a problem with newer versions let me know.

[2022-03-01 22:20] #9651 closed, assigned to nobody

[2022-03-01 22:56] agibsonccc commented on #9145
@SidneyLann could you directly respond to what I asked you in December? You keep pinging me about this issue yet provide me *zero* code to actually reproduce this. I'm not going to spend time on something where I have to jump through hoops just to reproduce your issue. I need to be able to reproduce this. If you can meet me in the middle this will get solved quick.

I need you to be more cooperati

[2022-03-01 23:17] SidneyLann commented on #9145
1. In fact, they are new subissues when I give new info, it is not the same error.
2. I had given you my project, models and data, because the converted bert model has more than 350M and can't send you by email, can you debug it on my desktop in remote if you are not remain my project files?

[2022-03-01 23:20] agibsonccc commented on #9145
@SidneyLann thanks for the quick response. I really just need a reproducer. Could you give me a similar model architecture? Anything trained on MNIST shouldn't be that big. I don't need the exact model as long as it's something to reproduce the issue. If it's just LSTMs acting up for example just send me that.

[2022-03-01 23:23] SidneyLann commented on #9145
Simple example may not reproduce this issue, let me try first then.

[2022-03-01 23:26] agibsonccc commented on #9145
@SidneyLann if it doesn't then that's a different story. Then just send me the model via drive and community DM like last time.

[2022-03-01 23:33] SidneyLann commented on #9145
Do you still have my bert_pretrain_model_zh.pb sent to you last time? I can't access google driver and it is sent to you by my qq friend who is in deeplearning4j qq group, but I can't find him now. If you still have my bert_pretrain_model_zh.pb, the project files and data are easy to send to you.

[2022-03-01 23:35] SidneyLann commented on #9145
https://drive.google.com/drive/folders/1VbwKHzRiqx45LbzJAUyaGpSIObfGVRHa?usp=sharing

[2022-03-01 23:37] SidneyLann commented on #9145
My bert_pretrain_model_zh.pb is here, so I just need to send you my project and data. Thanks.

[2022-03-01 23:39] agibsonccc commented on #9145
@SidneyLann I have your BERT model yes but that model loaded fine. This is still a different one. All I need is a samediff graph with the right declarations for it to break. It could be the way you're using it which is why I need to see how exactly you did it.

[2022-03-02 00:14] SidneyLann commented on #9145
Sent project files to you by email. Thanks.

[2022-03-03 21:12] xiptos commented on #9258
@agibsonccc, any progress on this? Can I help any way?

[2022-03-03 22:23] agibsonccc commented on #9258
@xiptos unfortunately no. Busy with other work this week. I need to physically just rent a mac on AWS to see what's going on to debug this.

[2022-03-04 00:08] xiptos commented on #9258
@agibsonccc I may have a M1 iMac that you can use remotely…

[2022-03-05 20:31] thangnbn opened #9652 "Cannot instantiate Cifar10DataSetIterator on Android"
#### Issue Description

I tried to instantiate the `Cifar10DataSetIterator` but received the below exception. I expected it to just return me the iterator normally like if it is run on a Linux or Windows machine.

[code]

#### Version Information

- Deeplearning4j version: 1.0.0-M2
- Platform: Android API 32

#### Contributing

I think the error might be due to some unexpected return value of the

[2022-03-06 02:46] agibsonccc commented on #9652
@bnnthang those iterators weren't really meant for use on android. Could you clarify your use case a bit?

[2022-03-06 06:55] thangnbn commented on #9652
I am building a testbed for federated learning. One target is to offload the training to Android devices. That's why I want to instantiate `Cifar10DataSetIterator` on Android.

[2022-03-07 14:05] agibsonccc commented on #9652
@bnnthang I would recommend maybe pre creating the ndarrays on a windows machine then if you want them running on android just save the ndarrays. If you want to work with images you can use NativeImageLoader (which uses opencv underneath and is well tested on android)

I'm closing this as those iterators were never really built for mobile and there's plenty of workarounds for them in the mean time

[2022-03-07 14:05] #9652 closed, assigned to nobody

[2022-03-13 17:23] thhart opened #9653 "ModelSerializer throws an exception when Normalizer is saved as well"
#### Issue Description

When I include the normalizer in ModelSerializer.writeModel it throws an exception. IMHO the NormalizerSerializer closes the stream and then ModelSerializer tries it afterwards again.
NormalizerSerializer uses StandardizeSerializerStrategy.write which closes the dos.

`ModelSerializer.writeModel(model, stream, true, normalizer);
`

<pre>
java.io.IOException: flush() failed:

[2022-03-15 19:25] kgoderis commented on #9258
@agibsonccc Any update on this?

[2022-03-15 19:28] kgoderis commented on #9594
@agibsonccc Adam, shall I press on and do a mass renaming to org.eclipse.deeplearning4j.contrib.rl4j, move to contrib, and prepare a PR? Shall I keep al test code, or simply remove that? It is not update, and would require heavy changes and additions, something that I am not familiar with? Keeping it could mean things don't run well in the CI/CD pipelines

[2022-03-15 22:14] agibsonccc commented on #9594
@kgoderis not quite...I still need to sort out how the next release will work and how the contrib folder will come in to play. Feel free to ping me on the forums as well I'll see that. Sorry just been busy with other things.

[2022-03-15 22:15] agibsonccc commented on #9258
@kgoderis @xiptos I've been trying to procure a machine for this. I would like to have a cloud provider so I can access one on an as need basis. The only one I've found is scaleway though. They've been giving me trouble during the sign up  process.

AWS has M1s as well but it's still in beta and requires a sign up. There's enough friction there right now that I"m just focused on finishing up my cu

[2022-03-16 13:39] StaffanArvidsson opened #9654 "Labels not saved in serialized MultiLayerNetwork"
#### Issue Description
When saving a `MultiLayerNetwork` using the `ModelSerializer` the `labels` field is not persisted when loaded back into memory. This requires additional meta-data to be kept with the trained models. This might not be evident for those cases where classes are standardize into one-hot-encoding and always have a one-to-one mapping from column to class "number". But consider a g

[2022-03-16 19:16] ethiel commented on #9258
@agibsonccc I have an M1 computer. Can you tell me how to reproduce this issue?. I may be able to help

[2022-03-17 18:10] f14-bertolotti opened #9655 "Zero SameDiff Gradients"
#### Issue Description

I've written a minimal code to reproduce the issue:
[code]

I would expect non-zero gradients, instead, I get:

[code]

#### Version Information
I am using the following packages:

[code]

#### Additional Information
The issue does not appear when using:
[code]

[2022-03-18 02:16] cqiaoYc opened #9656 "how to set the param: setInputType(InputType.recurrent(size)) in a multi-LSTM net with attentions?"
I want config a multi-LSTM net with attentions like:
[code]
how should I set the param: setInputType(InputType.recurrent(size))?

[2022-03-18 04:17] agibsonccc commented on #9656
Please post questions on the community forums: https://community.konduit.ai/

[2022-03-18 04:17] #9656 closed, assigned to nobody

[2022-03-18 04:18] agibsonccc commented on #9655
@f14-bertolotti thanks for flagging. Will look in to this. We'll be doing a quick follow up release after implementing a few features.
I'm not quite sure what would have changed there but will make sure whatever happened we have test cases for as well.

[2022-03-18 04:22] agibsonccc commented on #9654
@StaffanArvidsson thanks for flagging. That's a fairly underused feature I believe but we can make sure that that gets saved. We really usually only focus on layer configurations and their hyper parameters + the weights not some of the properties. I can see where that'd be useful though. For now just set it in your application.

[2022-03-22 13:23] SkyleKayma opened #9658 "The results of wordNearest() differ from the results of similarity() method"
#### Issue Description

Hi,

I am using Deeplearning4J to load FastText model.
But I have issue to understand what wordNearest and similarity methods are doing.

Using `wordNearest()` to get top 500 words in fasttext returns me a list which is theoretically sorted.
But when I apply the `similarity()` method on each of them, the list is not sorted at all.

Exemple of what I'm getting (french words)