[2018-07-11 06:07] #5877 closed

[2018-07-11 06:11] liweigu commented on #5875
Version is 1.0.0-beta.
I'll try snapshots.

[2018-07-11 06:39] AlexDBlack commented on #5871
I'm not 100% sure on the last 2, but I've derived the first 2 twice independently and got the same answer both times...

2 of 4 cases were covered here: https://github.com/deeplearning4j/deeplearning4j/blob/698a29ed068691b2cb9a29078f304b89cf52bad0/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/autodiff/opvalidation/ReductionBpOpValidation.java#L715-L725

Other 2 cases:

Forward, exclusive:
[

[2018-07-11 08:03] AlexDBlack opened #5878 "DL4J/DataVec licensing issues"
Moved from comment: https://github.com/deeplearning4j/deeplearning4j/pull/5873#issuecomment-404030494

**DataVec**:  Some things which I wasn't aware of until now, but look suspicious:

Some content in ```org.datavec.api.io.*```
After googling the comments, looks like these might have come from Hadoop originally from Canova (which later became Datavec)

https://github.com/deeplearning4j/deeplearni

[2018-07-11 08:33] #5876 closed

[2018-07-11 10:27] vicdaran opened #5881 "Error Starting training"
Hello,
I'm trying to run a workout but I get the following error.

java.lang.NoSuchMethodError: org.deeplearning4j.datasets.iterator.AsyncDataSetIterator.<init>(Lorg/nd4j/linalg/dataset/api/iterator/DataSetIterator;IZ)V

He compiled the latest version with maven the project from git

Any ideas?

Thank you

[2018-07-11 10:27] #5881 closed, assigned to nobody

[2018-07-11 10:31] viktordart commented on #5881
I downloaded the entire git project. Compile first in nd4j that there is in git and then deepleaning4j. Am I wrong in something? Should not I use the nd4j in the git of deepleaning4j?

Thank you

[2018-07-11 11:03] AlexDBlack commented on #5881
@viktordart Yes, you are doing something wrong: you shouldn't be compiling anything from source (other than your own project).
Use DL4J and ND4J as dependencies using a dependency manage like maven.
https://deeplearning4j.org/quickstart

[2018-07-11 12:08] tballison commented on #5853
Y, @chrismattmann , that's on our side because of the enforcer.  I've opened an issue in dl4j to add the enforcer on [their side](https://github.com/deeplearning4j/deeplearning4j/issues/5601) so that we don't have to do all of the exclusions here: https://github.com/apache/tika/blob/master/tika-dl/pom.xml.  I haven't had time to submit a PR upstream...though... :(

[2018-07-11 20:41] raver119 commented on #5711
Sorry, your question is impossible to answer, because it's way too vague and way too far from regular framework support :)

[2018-07-11 20:41] #5711 closed

[2018-07-11 20:49] shyrma opened #5883 "back prop for clipbynorm, eye, diag"
we have to provide proper backprop implementation for ops (clipbynorm, eye, diag) on c++ side since there are fails during gradient checks for these ops on java side

[2018-07-11 21:39] #5739 closed

[2018-07-11 23:34] AlexDBlack commented on #5883
We don't need BP op for eye - no real-valued inputs hence there's nothing really to backprop. What's the failing test?

As for diag - backprop should simply be diag_part operation, which we have implemented at java level already.
https://github.com/deeplearning4j/deeplearning4j/blob/74bd70162979bace33cf28b160aeb61131e13bcc/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/a

[2018-07-11 23:36] raver119 commented on #5883
cumsum was fixed yesterday.
diag apparently listed as failed on current master.

[2018-07-12 02:00] liweigu commented on #5866
I have the same demand, and hope dl4j can support it.

[2018-07-12 05:09] liweigu commented on #5052
My opinion: masking should be applied to timeSeries' demension, not to miniBatchSize's demension. You may write a LSTM program with masking to figure it out, and then come back to test the LSTM with CNN.

[2018-07-12 06:17] liweigu opened #5888 "LSTM - backprop - shape problem"
Enviroment:
  Dl4j versoin: 1.0.0-SNAPSHOT
  Linux

The code is fine in dl4j 1.0.0-beta(using GravesLSTM), but got error in 1.0.0-SNAPSHOT(using LSTM).

Error:
java.lang.IllegalStateException: Shapes must be equal during backprop: in.shape{} = [31, 100, 12, 12], epsilon.shape() = [31, 1, 120, 120]
	at org.nd4j.linalg.activations.BaseActivationFunction.assertShape(BaseActivationFunction.java:42)
	a

[2018-07-12 06:20] liweigu commented on #5875
Using 1.0.0-SNAPSHOT, and replacing GravesLSTM by LSTM, I got a new error:
https://github.com/deeplearning4j/deeplearning4j/issues/5888

[2018-07-12 06:43] pavansolapure opened #5889 "Import Keras Tokenizer to Java Deeplearning4j (DL4J) for Text file classification"
I have implemented the Text Classification of 20 News Group data using Keras (2.1.4 on TensorFlow). The accuracy is decent 0.87. I am also able to save the model and tokenizer and use them in another python program to predict the class of text file. I am using below to save model and tokenizer in python -

[code]
[code]

If you need to refere complete python code - https://github.com/pavansolapure

[2018-07-12 07:06] maxpumperla commented on #5889
@pavansolapure we have started a first attempt at importing preprocessing steps / data pipelines here: https://github.com/deeplearning4j/etl. This is still early stages however, and your case isn't covered. In any case, pickling your tokenizer will not be the solution (no way to unpickle in Java), but maybe we find a conventient way to add the tokenizer to an HDF5 group. We'll see.

[2018-07-12 07:07] saudet commented on #5853
@tballison Yes, thanks for that again. Is there currently any blocking issues with DL4J itself though?

[2018-07-12 08:15] agibsonccc commented on #5889
@pavansolapure What kind of tokenizer are you looking to map? This library can load pickle objects: https://github.com/irmen/Pyrolite that can handle things like vocab and the like. You might be able to manually map the tokenizer to something we have in dl4j already though.

[2018-07-12 09:41] rickyhai11 commented on #3529
Could you please provided the link for this implemented part and examples ?
Thanks for your great efforts

[2018-07-12 11:21] constantinembufung commented on #3826
count = [['UNK', -1]]

[2018-07-12 12:56] liweigu commented on #5888
The program can run after replacing the line:
inputPreProcessors.put("lstm1", new CnnToRnnPreProcessor(120, 120, channels)); // 120 = Math.pow(14400, 0.5)
by this line:
inputPreProcessors.put("lstm1", new CnnToRnnPreProcessor(12, 12, channels * 100));
And i think the new(1.0.0-snapshot) parameter values are more reasonable than before(1.0.0-beta).

[2018-07-12 12:56] #5888 closed

[2018-07-12 13:08] liweigu commented on #5875
I think the https://github.com/deeplearning4j/deeplearning4j/issues/5888 is nothing wrong. I've put comments in that issue.
And the ND4JWorkspaceException has been fixed in the 1.0.0-snapshot, my training is running now.

[2018-07-12 13:45] stolsvik commented on #5804
@agibsonccc Actually, I think you are too negative. I had your stuff working just fine, except for the UI which crashed due to an external dep. The jigsaw-stuff will, AFAIU, not be "enforced" in Java 11 either - with the standard JVM working pretty nicely.

[2018-07-12 13:47] stolsvik commented on #5804
.. and btw, this is yet another good reason to keep the deps-list as small as possible (referring to an earlier issue where I brought up a quite extensive list..). Again, it seems to me like your own code isn't that problematic.

[2018-07-12 14:22] agibsonccc commented on #5804
@stolsvik for us it's more about the support and the proper builds. I'm negative about us supporting newer javas till the LTS because it's a good chunk of time on our part to get right :). A few of us (including me) have tried using java 9 and it  broke a ton. It was more headaches than it was worth and I don't want to claim we "support" it till we've actively worked with it. It's better than over

[2018-07-12 16:33] gordoncaleb opened #5893 "ND4J: INDArray multiply requiring broadcast not matching expected behaviour"
In ND4J I'm trying to multiply a 2x2x2x1 by a 2x2x1x1 INDArray and getting an unexpected result and one that doesn't match what numpy returns.

[code]
prints:
[code]
And in numpy I have:

[code]

prints:
[code]

Which is what I expect. Looks like maybe the broadcast multiply is being done along the wrong dimensions?

This is the behaviour from `org.nd4j:nd4j-native-platform:1.0.0-beta`

Aha! Link:

[2018-07-12 16:55] raver119 commented on #5893
Please consider using MMul op directly instead while we're looking into this issue.

[2018-07-12 16:56] raver119 commented on #5893
Sorry, auto broadcast wasn't introduced to java level yet. It's only available for new operations or SameDiff graphs yet.

[2018-07-12 17:00] raver119 commented on #5875
Thanks for checking it out.

[2018-07-12 17:00] #5875 closed

[2018-07-12 20:24] chrismattmann commented on #5853
I was able to get this integrated into Tika by working with Thejan on our end to upgrade the deps.

[2018-07-13 02:44] AlexDBlack opened #5894 "DL4J/ND4J: DataSet.merge can't handle 4d features + 2d mask arrays"
It creates a 4d mask array, then tries to assign the 2d masks to a subset...

[2018-07-13 03:59] saudet commented on #5804
@stolsvik BTW, feel free to send pull requests that gets stuff fixed. As long as it doesn't break under Java SE 7 or 8, that's good for us! We'll need it eventually.

[2018-07-13 08:40] emillynge commented on #5726
I see.. that is a very comprehensive piece of work you laid out.

But would it not be possible to start out by changing:
[code]

to
[code]
?

I have difficulty seeing what problems this would cause.

[2018-07-13 10:19] AlexDBlack opened #5897 "ND4J: No validation on manual broadcast op dimensions"
Can crash JVM. I haven't been able to reproduce the crash in isolation, but it's definitely due to invalid arguments (incompatible shapes) for manual broadcast ops.

[code]

https://gist.github.com/AlexDBlack/1b1d21b629955a20d5edc20e952fd7f2

[2018-07-13 13:13] #5867 closed

[2018-07-13 13:13] #5808 closed

[2018-07-13 13:19] AlexDBlack opened #5898 "DL4J: Add Spark data loader API"
Idea: we can often pre-generate and store DataSets on disk for Spark training.
However, in some cases, this is inefficient space-wise.
Example: using fixed word vectors.
Each word can be stored as an integer (4 bytes) or say 300 floats (1200 bytes)

The plan:
Extend the API so we can do ```RDD<String>``` (representing paths of serialized data on remote stogare) -> ```Function<String,DataSet>```, o

[2018-07-13 14:36] shugeo commented on #5871
It is very useful a test data for cumprod_bp.

[2018-07-13 18:15] raver119 commented on #5726
Okay, imagine that happened. Let's observe what changed after that, i.e. by studying pairwise transform:
- still expects 3 operands to have same (!) type T
- still expects extraArgs buffer to have the same type T

So, if you'll change it in that particular place (execTransform) - that's fine. But it gives you nothing in the rest of code base.

[2018-07-13 18:16] raver119 commented on #5726
P.s. and no, actual major dtype change won't be THAT hard. Just boring routine work. Hopefully we'll make it happen after this release.

[2018-07-13 18:19] raver119 commented on #5726
p.s. i personally can't wait for IndexAccumulations returning longs instead of T

[2018-07-13 20:34] crockpotveggies commented on #5866
@liweigu they are related, but that issue is specific  to 2D data whereas this is related to spherical data.

[2018-07-13 21:08] raver119 opened #5902 "Nd4j: review deallocators"
We should review deallocators used in various places, and unify them. On top of that, we should limit actual number of threads used for this purpose.

#5901

[2018-07-14 02:36] saudet commented on #5902
Do you think it would be possible to get all that managed by JavaCPP? If you have an idea of what would be hard to do, let me know, and I'll work on a POC see if there are any issues...

[2018-07-14 03:03] raver119 commented on #5902
I don't really see any troubles here. Any one of implementations existing in code base right now, generalized by some trivial callback interface.

Right now we have:
- workspaces deallocation
- rng deallocation
- native memory (that is not served by jcpp) deallocation

[2018-07-14 03:06] raver119 commented on #5902
However, i just wonder, do we really need external dependency for that?

[2018-07-14 03:12] saudet commented on #5902
If we can reuse code, it's not so much about external dependencies, but about having less code to maintain...

[2018-07-15 00:20] cwhite102 opened #5906 "Keras Yolo model works on CPU, but gives garbage results with CUDA"
My Yolo model works on CPU but gives garbage results with CUDA. (seemingly random bounding boxes)
However, if I run the Model Zoo Yolo2, it works on both CPU and CUDA, so the CUDA setup seems ok.
(DL4J 1.0.0-beta, CUDA 9.1, cuDNN 7, Windows 10, Geforce GTX 1060 3GB card)

This was a darknet trained model, converted to Keras (with YAD2K) and loaded into DL4J from the h5 file.
I did not serialize th

[2018-07-15 04:01] AlexDBlack opened #5907 "DL4J: Convolution1DLayer getOutputType needs work"
https://github.com/deeplearning4j/deeplearning4j/blob/b79313eb832aea854831182e2401611788d42fe4/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/Convolution1DLayer.java#L69-L70

Doesn't handle the "time series length is undefined" case.
And this doesn't look correct either:
[code]

[2018-07-15 11:36] maxpumperla commented on #5907
@AlexDBlack the second part is valid. remember that in our current impl conv1d is a special case of conv2d, so we mock up the input type to use conv2d utils.

[2018-07-15 11:37] maxpumperla commented on #5907
but I recently introduced 1D conv utils, so maybe this could be refactored

[2018-07-15 21:06] benmccann opened #5908 "Unused dependency"
Tablesaw is listed as a dependency of datavec-local. However, datavec-local doesn't actually use it. It was removed here: https://github.com/deeplearning4j/DataVec/commit/1775e7a03799580127054b38aaa119ce24519b1f#diff-b615fd27150a93c34d156e97c292b0fc

[2018-07-16 02:47] loshchil commented on #5843
@treo @stolsvik

Because they use the common way where L2-based gradients and loss-based gradients are coupled. Our paper says:

Consider the common way to use SGD with L2 where
[code]
Note that when you schedule `alpha` in the original SGD with L2, you effectively schedule weight decay.
Therefore, when we decouple the two, we use eta to set a schedule
`x' = x - eta*alpha*gradient - eta*w*x`
where

[2018-07-16 05:56] AlexDBlack commented on #5310
We now have MirrorPad - this can be closed?
https://github.com/deeplearning4j/deeplearning4j/blob/97555d548ebc337d3fdad57f046bf04138f935d7/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ops/impl/transforms/MirrorPad.java

[2018-07-16 05:57] AlexDBlack commented on #5242
Fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/5880

You can use snapshots to access the fix: https://deeplearning4j.org/snapshots

[2018-07-16 06:11] #5310 closed

[2018-07-16 06:21] AlexDBlack opened #5911 "DL4J: Word2Vec static model uses a lot of heap objects"
Somewhere on the order of 66m objects for a google news 300.
Causes GC events to be between 1.8 and 7 sec.

We should be able to reduce this...
Maybe by storing the vocab off-heap, and having some sort of gather/pullRows type functionality on a single weight array?

![image](https://user-images.githubusercontent.com/2360237/42745005-b5aacf94-8913-11e8-9b67-595e263a5d18.png)

[2018-07-16 07:12] AlexDBlack commented on #5795
I re-tested this - confirmed fixed. Thanks.

[2018-07-16 07:12] #5795 closed

[2018-07-16 07:46] AlexDBlack opened #5912 "Review dependencies"
It may be possible to make some modules leaner, allowing users to create smaller uber-jars.

Basically this issue, but a review for other modules too: https://github.com/deeplearning4j/deeplearning4j/issues/4959

Aha! Link: https://skymindai.aha.io/features/ND4J-164

[2018-07-16 07:50] saudet commented on #4959
One thing: Make sure to run your build with `mvn -Djavacpp.platform=<os>-<arch> ...`

[2018-07-16 12:13] AlexDBlack opened #5913 "ND4J CPU throws IllegalStateException not OutOfMemoryError on OOM, DL4J CrashReportingUtil doesn't catch"
It should be (or at least extend) OutOfMemoryError.

This matters here, for example - this means that OOM crash reporting in DL4J currently doesn't work for CPU:
https://github.com/deeplearning4j/deeplearning4j/blob/385353ac245ca974beacd295b31f374aaf0668cc/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/multilayer/MultiLayerNetwork.java#L3186-L3188

[2018-07-16 12:35] TheKingDiamond commented on #5784
Thank you @raver119 !

[2018-07-16 13:38] shyrma opened #5915 "numerical gradient check on c++ side"
It would be reasonably and conveniently to have numerical check of gradient in back prop on c++ side as well. So we decided to implement corresponding functionality in libnd4j.

[2018-07-16 13:50] gordoncaleb commented on #5893
No problem. Thanks for getting back to me. I see in `BaseNDArray` in the `INDArray muli(INDArray other, INDArray result)` method (line 3935) in the master branch at the moment:

[code]

It looks like maybe the exec is being done `along` the wrong dimensions. I've wrapped the multiply with another method that calculates the exec `along` dimensions as the dimensions that match rather than the dimens

[2018-07-16 14:31] maxpumperla commented on #5915
tasty!

[2018-07-17 00:58] Yu-Hang commented on #5599
@saudet @raver119 Hi all, I'm still having run-time error with this:

` model = ModelSerializer.restoreMultiLayerNetwork(file);`

Device: Samsung Galaxy S6, CPU ARMv8-A 64bit

[2018-07-17 02:56] NookLook2014 opened #5916 "Incorrect import of MultiDataSet in SparkComputationGraph class"
imports in org.deeplearning4j.spark.impl.graph.SparkComputationGraph include:
....
import org.nd4j.linalg.dataset.DataSet;
import org.nd4j.linalg.dataset.api.MultiDataSet; (this is a interface)
....

Since i can only create org.nd4j.linalg.dataset.MultiDataSet instance, so error occurs when i use fitMultiDataSet(RDD[ org.nd4j.linalg.dataset.MultiDataSet]):

Error:(112, 16) overloaded method value

[2018-07-17 04:18] AlexDBlack commented on #5916
This isn't an incorrect import. You could (and, arguably should) be fitting with ```JavaRDD<org.nd4j.linalg.dataset.api.MultiDataSet>``` instead.

That said, adding some overloads like ```fit(JavaRDD<org.nd4j.linalg.dataset.MultiDataSet>, ...)``` would be useful for users.

[2018-07-17 04:31] cwhite102 commented on #5906
On a whim I tried saving the ComputationGraph model to disk and re-loading it.  This 'fixed' (or should I say, worked around) the issue.  I was able to get the same results on CUDA as I was with the CPU.  So the issue seems to be with using the model directly from the Keras model loader, or TransferLearning graph builder.

			model.save(saveFile, /*save updater*/false);
			model = ComputationGraph

[2018-07-17 04:47] AlexDBlack commented on #5906
@cwhite102 Huh, that's unexpected. But thanks, that should help track this down quicker...

[2018-07-17 05:02] NookLook2014 commented on #5916
I'm coding with Scala, and it works when called asInstanceOf[org.nd4j.linalg.dataset.MultiDataSet] before fit.

[2018-07-17 05:02] #5916 closed

[2018-07-17 08:29] AlexDBlack commented on #5836
I can confirm that I've been able to reproduce this, and it's still present on current master/snapshots.
Initial investigation suggests there's slight differences in CuDNN batch norm forward pass. Not clear why yet, especially given we've got other unit tests that validate that our and CuDNN's batch norm implementations match...

[2018-07-17 09:51] AlexDBlack commented on #5836
So the first issue here is that we aren't adding epsilon value (0.001) during inference.
That has been fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/5917

There is however some other slight differences between our implementation and CuDNN's implementation in later layers in the net that I'm still looking into.

[2018-07-17 11:41] AlexDBlack opened #5919 "DL4J Spark: Need a way to reduce number of evaluation workers"
Consider DL4J gradient sharing training: we have N=1 or more ParallelWrapper instances internally, fed by M>N spark threads. For example, 1 PW worker for 16 spark threads: training works fine, but then evaluation immediately OOMs due to having 16 copies of the net (and 16 lots of activations) in memory at once...

However, when we perform evaluation, we have exactly M copies of the network (one pe

[2018-07-17 14:51] Yu-Hang commented on #5599
@saudet @raver119
[code]

[2018-07-17 14:55] reuschling commented on #5242
I appreciate, maybe I missed something, but my gist throws the same error as before, with the current snapshot of today. Have you test it against it?
Here the link: [Gist](https://gist.github.com/reuschling/b7c86ef9879ff75a6db313c57ab0efb5)

[2018-07-17 17:34] ThejanW commented on #4704
WOW!! this is great :100: :100: Is this feature available with snapshots now?

[2018-07-17 19:37] maxpumperla commented on #4704
yeah

[2018-07-17 23:45] Yu-Hang commented on #5599
@raver119 @saudet

Hi all,

I put my project on github: https://github.com/Yu-Hang/DemoForDL4J.git. Please try it and see if you can reproduce the same error.

[2018-07-18 07:46] #5591 closed

[2018-07-18 10:19] reuschling commented on #5242
@AlexDBlack :+1: thanks a lot

[2018-07-18 11:12] AlexDBlack commented on #5242
Reopening until I've had time to confirm (or fix).

[2018-07-18 11:29] dearpriyankasa opened #5923 "Merging 2 neural networks"
best way to merge two different neural networks which are trained for the same tasks but on different datasets (we do not have the access to the datasets, but we have trained models). I have trained 2 models of neural nets on different PCs. Half data set on model 1 and other half on model 2. Both are doing the same task. how do i combine both the neoral nets to produce output using dl4j.

[2018-07-18 13:09] AlexDBlack commented on #5923
We don't have any examples for this specifically.
What you are looking for is usually called one (or more) of the following: mimic learning, model compression, knowledge distilation (and maybe some more I've forgotten).
If you had a specific approach you wanted to try (and a link to a paper) we could help more.

Alternatively you can use them as an ensemble. That's very simple: just do an (optiona

[2018-07-18 13:09] #5923 closed

[2018-07-18 14:12] AlexDBlack opened #5924 "DL4J Spark: Gradient sharing doesn't work properly for second instance"
Idea: train 2 networks with gradient sharing in the same session.
The first one trains fine, but the second one doesn't.

Reproducible on this branch/test:
https://github.com/deeplearning4j/deeplearning4j/pull/5904

https://github.com/deeplearning4j/deeplearning4j/blob/ed0cad9afbd21dc0fb14d87d4cd630c81370308e/deeplearning4j/deeplearning4j-scaleout/spark/dl4j-spark-parameterserver/src/test/java/org

[2018-07-18 23:18] NisreenAlaas opened #5927 "Dl4j DEBUG"
Debug in DL4j the machine [CPU]; OS: [Windows 8.1]
Cores: [4]; Memory: [1.3GB] using java in IntelliJ idea version 2017.3.4 Community Edition.snapshot for debug
![capture](https://user-images.githubusercontent.com/16560173/42912364-b2328f56-8af7-11e8-9776-08a801ab148c.PNG) in the evaluate stage when fitting the dataset (net.fit(trainIter)). I need to classify 4 names written by hand in Arabic lang

[2018-07-18 23:39] NisreenAlaas commented on #5927
I need your comments and solution or linking to help me to understand this debug

[2018-07-18 23:50] agibsonccc commented on #5927
I'm not even sure what your question is here. Please come in to gitter with a more concrete qustion: https://gitter.im/deeplearning4j/deeplearning4j

[2018-07-18 23:50] #5927 closed

[2018-07-19 00:57] wmeddie opened #5928 "Add ability to read and write NDArrays in base64 numpy format."
It would be nice from a convenience and performance standpoint in SKIL if Nd4jBase64.frameBase64 could automatically detect if the base64 string is in npy format and deserialize the NDArray using our numpy reading support.  Likewise it would be nice if we could also have a base64String(INDArray, String format) method that could serialize an NDArray in npy format for python clients.

[2018-07-19 00:59] wmeddie commented on #5928
Here's the spec for the numpy format which specifies the magic string we can detect: https://docs.scipy.org/doc/numpy/neps/npy-format.html

[2018-07-19 06:45] saudet commented on #5599
I've confirmed that 1.0.0-SNAPSHOT loads your model fine, even on Android, but you're not using 1.0.0-SNAPSHOT:
[code]
https://github.com/Yu-Hang/DemoForDL4J/blob/master/app/build.gradle#L55

There are a couple of other dependencies that have been updated, so please use this list:
[code]

[2018-07-19 06:45] #5599 closed

[2018-07-19 09:44] AlexDBlack opened #5931 "Improvements for Gradient Sharing"
Having looked into gradient sharing a lot recently, I can see some scope for improvement, mainly around configurability and ease of use.

A short list of things I would like to improve:
- Encoding configuration (threshold, shake frequency, etc) should be moved to a class. This class should:
    - At each step, decide whether to use sparse or bitmap encoding
	- The threshold to use
- It should be p

[2018-07-19 13:43] NicolasVidal opened #5932 "Ability to assign a specific workspace to the network / computation graph outputs"
#### Issue Description

When encountering system.gc() issues (nearly 100% CPU Time as we handle lots of objects simultaneously), we turned down periodic garbage collection as the documentation recommends :
(https://deeplearning4j.org/workspaces#garbage-collector)

Then, we understood we had to use Workspaces in order to manually handle INDArrays allocations/deallocations. But we encountered an iss

[2018-07-19 20:14] DrChainsaw commented on #5288
Hi,

Sorry if this counts as necroing. I have been running my dummy benchmark from #5286 on snapshots every now and then and seen performance getting better and better up to about 50% shorter training times compared to 9.1.

Just a couple of days ago when I ran it performance was drastically worse. Training was back at about 20% slower while inference was something like 200% slower.

[2018-07-19 22:10] emillynge opened #5934 "SameDiff.reverseArrayLookup causes severe memory leak"
SameDiff uses a `IndentityHasMap` to resolve which `SDVariable` is bound to a given `INDArray`. This however, creates a permanent reference to the array which is never purged and hence, the arrays cannot be deallocated.

When training a network using the new and fancy `SameDiffLayer` (Hooray! such awesome), this causes a very fast buildup of off heap memory resulting in inevitable OOM exception.

[2018-07-19 22:42] agibsonccc commented on #5288
@DrChainsaw did you pull the latest snapshots and try it with alex's fixes? If so, could you post your logs the same as before? Descriptions like this don't really help much.

[2018-07-20 00:49] AlexDBlack commented on #5288
@DrChainsaw yeah, pull latest snapshots and double check. Some numbers on what you're seeing (as well as specifics - hardware, what you ran, when, etc) would be helpful too.

[2018-07-20 03:11] zhazhadi opened #5935 "different output from keras model and the same model imported to dl4j"
I found that the predict output from the same model which is different in keras and dl4j.
I made code in keras like this:
`r = resnet50.ResNet50(weights='imagenet')`
`r.summary()`
`arr = np.ones([1, 224, 224, 3])`
`print(r.predict(arr))`
`r.save("/Users/r50.h5") `

and the code in dl4j like this :
`val network = KerasModelImport.importKerasModelAndWeights("/Usersr/r50.h5", false)`
`println(network

[2018-07-20 03:22] AlexDBlack commented on #5935
@zhazhadi What version of DL4J is this?
If you are not on snapshots, upgrade to those and try again. There has been a number of fixes since the last release.
https://deeplearning4j.org/snapshots

[2018-07-20 03:37] zhazhadi commented on #5935
@AlexDBlack  I  have tried the version from 0.9.1 to 1.0.0-beta, and the problem is still exist.

[2018-07-20 04:04] AlexDBlack commented on #5935
As I said:

1.0.0-beta is not snapshots. Snapshots are the latest build, with additional fixes that 1.0.0-beta doesn't have. See the page for details:
https://deeplearning4j.org/snapshots

[2018-07-20 04:53] AlexDBlack commented on #5836
OK, finally got back to this. Full fix has been implemented here: https://github.com/deeplearning4j/deeplearning4j/pull/5917

The second issue was due to incorrect forward pass under the following limited circumstances:
(a) max pooling layer
(b) same convolution mode
(c) all values in convolution window less than 0

Basically, CuDNN doesn't support SAME padding mode (i.e., asymmetric padding). Con

[2018-07-20 04:53] #5836 closed

[2018-07-20 06:05] zhazhadi commented on #5935
@AlexDBlack  now I'm on snapshots, but it can't help. The outputs from dl4j have no change.

[2018-07-20 07:39] AlexDBlack commented on #5935
Hm... we already have tests for validating resnet50 import... https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/deeplearning4j/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/e2e/KerasModelEndToEndTest.java#L382

cc @maxpumperla

[2018-07-20 15:37] emillynge commented on #5934
@AlexDBlack I would think this is an easy fix that some of the more frequent committer could just add to an existing PR. But I can also file a PR myself if preferable.
But I would need to know whether we just want to use `WeakHashMap` and hope no one has overridden `hashCode` method in some weird subclass. Or if we want to implement/pull in dependency on   `WeakIdentityHashMap`

[2018-07-20 15:58] DrChainsaw commented on #5288
Sorry for not giving details. I wanted to give it a few days first, forgot about it and remembered it when I was out of town with only limited remote access using my phone. Hardware and setup is same as in #5286.

Anyways, performance seems much better on today's snapshot and it beats 9.1 with a large margin. I think I saw even faster training times before though, but it might as well be a change

[2018-07-20 19:30] Yu-Hang commented on #5599
@saudet Using the 1.0.0-SNAPSHOT worked for a brief second. But then, I was getting error:

`error: package org.datavec.image.loader does not exist`

I tried:
compile 'org.datavec:datavec-data-image:1.0.0-SNAPSHOT'

But that leads to:
More than one file was found with OS independent path 'org/bytedeco/javacpp/windows-x86_64/api-ms-win-crt-locale-l1-1-0.dll'

[2018-07-21 01:19] saudet commented on #5599
You'll need to include opencv as shown in this example:
https://github.com/deeplearning4j/dl4j-examples/tree/master/android/DL4JImageRecognitionDemo

[2018-07-21 02:08] AlexDBlack commented on #5934
I was thinking a simpler solution is just to remove the arrays from the IdentityHashMap whenever we update the other maps holding the INDArrays.
Though I can't think of a lot of cases where this functionality is used in practice, so maybe we can remove the IdentityHashMap outright.

[2018-07-21 02:13] #5898 closed

[2018-07-21 02:13] #5919 closed

[2018-07-21 05:03] AlexDBlack commented on #5934
I ended up removing it here: https://github.com/deeplearning4j/deeplearning4j/pull/5940
It's not really used anywhere.
I'll close this issue once that PR is merged.

[2018-07-21 06:52] #5924 closed

[2018-07-21 07:12] wuciawe opened #5941 "SparkWord2Vec ParameterServer configuration"
I'm running SparkWord2Vec on yarn cluster, with the VoidConfiguration as:

[code]

But the job stucks, and keeps resending request,

[code]

[2018-07-21 09:40] AlexDBlack commented on #5242
Thanks for the code. Finally had time to look at this.
The (remaining) problem here is a mismatch between the network configuration and data configuation.

For the network, you're using OutputLayer - which is OK.
But then for the data pipeline, you are using SequenceRecordReaderDataSetIterator. This iterator produces sequence data for both the features and the labels. You want non-sequence labels

[2018-07-21 09:40] #5242 closed

[2018-07-21 10:58] #5648 closed

[2018-07-21 10:58] #5934 closed

[2018-07-21 11:57] emillynge commented on #5934
Thank for the quick fix! @AlexDBlack

[2018-07-21 12:53] AlexDBlack commented on #5934
No problem - thanks for flagging the issue :)

[2018-07-21 12:57] AlexDBlack commented on #5809
Significantly improved - and (hopefully) fixed outright here: https://github.com/deeplearning4j/deeplearning4j/pull/5904

[2018-07-21 12:57] #5809 closed

[2018-07-21 12:59] AlexDBlack commented on #1483
https://deeplearning4j.org/evaluation

[2018-07-21 12:59] #1483 closed

[2018-07-21 13:02] AlexDBlack commented on #5571
Closing this due to inactivity and being unable to reproduce.
@fmorbinitc If you are still having problems here, I'd be happy to look into this further - but I'll need a minimal example to reproduce this locally first.

[2018-07-21 13:02] #5571 closed

[2018-07-21 13:11] AlexDBlack opened #5944 "DL4J Spark: Possible memory leak on each fit operation?"
Unconfirmed. In recent experiments, I could fit once for as many minibatches as I wanted.
However, once I started doing multiple sequential fit ops, I was running into a NPE.

Need to look into this further.

[2018-07-21 14:36] DonaldAlan opened #5945 "In Model view of Training UI, scrolling with mouse wheel often makes the layers invisible"
If I go to http://localhost:9000/train/model  and use my mouse scroll wheel, the layers visualization ("Input", "Dense Layer 0", "Dense Layer 1", "Dense Layer 2", "Output")  zooms in so that it's invisible.   Then if I scroll the mouse wheel in the other direction to try to increase its size, it often moves off the screen and is hard to find. It's an annoying usability issue.

[2018-07-22 12:52] saudet commented on #5599
But as above, a couple of dependencies have been updated since, so use these ones:
[code]

[2018-07-23 04:22] AlexDBlack commented on #5624
Thanks for reporting: confirmed fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/5942

[2018-07-23 05:50] liweigu opened #5948 "InvalidClassException on spark training"
Dl4j versoin: 1.0.0_SNAPSHOT
ENV: Linux, jdk 8, spark 2.1.1

Error Info (Occurs at the code 'sparkDl4jMultiLayer.fit(trainingData)') :
10:57:43.861 [task-result-getter-3] INFO  o.a.spark.scheduler.TaskSetManager - Lost task 0.3 in stage 4.0 (TID 13) on 10.47.160.4, executor 0: java.io.InvalidClassException (org.deeplearning4j.spark.impl.paramavg.ParameterAveragingTrainingWorker; local class incomp

[2018-07-23 06:00] AlexDBlack commented on #5948
This looks a *lot* like a classpath issue. Specifically, multiple versions of DL4J on the classpath (perhaps different versions on the driver vs. executors). In other words, something to do with your project/cluster setup, and not an issue with DL4J.

Can you run this via spark submit instead of whatever you are doing here?

[2018-07-23 06:10] liweigu commented on #5948
Your suggest is useful, I shall cleanup and re-download all jars by maven to see if it works.

[2018-07-23 06:47] tvanh opened #5949 "word2vec hyper parameter modification (after built)"
Cannot change the built (or loaded) w2v model hyper parameter, i.e., learning rate, minwordfreq, epochs, etc.
The only one should not be changeable is layersize.

[2018-07-23 07:30] AlexDBlack commented on #5519
I still haven't been able to reproduce this. But looking at the stack trace again, the only thing this can be is a concurrent modification issue. I've implemented a check to avoid this here: https://github.com/deeplearning4j/deeplearning4j/pull/5947

[2018-07-23 07:45] #5624 closed

[2018-07-23 07:45] #5907 closed

[2018-07-23 07:51] liweigu commented on #5948
After re-download all the jars, the error info is changed to:
15:48:03.886 [map-output-dispatcher-0] INFO  o.a.spark.MapOutputTrackerMaster - Size of output statuses for shuffle 0 is 151 bytes
15:48:04.167 [dispatcher-event-loop-1] DEBUG o.a.s.scheduler.TaskSchedulerImpl - parentName: , name: TaskSet_4.0, runningTasks: 2
15:48:04.298 [shuffle-server-6-2] DEBUG o.apache.spark.storage.BlockManager -

[2018-07-23 08:38] wuciawe commented on #5941
@liweigu yes, they are numbers in the code. I'm using aa,bb as example.

[2018-07-23 09:14] liweigu commented on #5948
After I replace the spark (server) V2.1.1 by V2.1.0, the error disappeared.

[2018-07-23 09:21] raver119 commented on #5941
I’m afraid spark w2v impl won’t work on yarn without real IPs...
пн, 23 июля 2018 г. в 11:38, 嘉偉 <notifications@github.com>:

[2018-07-23 11:17] wuciawe commented on #5941
@raver119 I'm using real IP address to specify the network mask in code. I just post here with aa and bb, since I dont want to expose the real IP in public. If I really use aa/bb in code, I believe it should throw some exceptions for malformed ip address configuration instead.

In detail, I'm running the code on a yarn cluster. The yarn cluster contains thousands of machines. I run the spark w2v w

[2018-07-23 12:17] AlexDBlack commented on #5944
Update: Not reprodicible locally with Resnet50 and aeron buffer set in range of default to 128MB.
May depend on number of workers, or require that workers are remote (not local); this was seen with 22 workers on cluster under some circumstances.

[2018-07-23 13:05] AlexDBlack commented on #5835
Thanks for reporting. Fixed here, will be merged soon: https://github.com/deeplearning4j/deeplearning4j/pull/5947

[2018-07-23 18:14] ClnSchlssr commented on #5836
Really appreciate you tracking that down Alex. I've been away recently but looking forward to running on my end. Also thanks for the explanation - interesting bug.

[2018-07-23 19:15] Yu-Hang commented on #5599
@saudet @raver119

I tried the code you provided above but still getting same error. I can't import:

`import org.datavec.image.loader.BaseImageLoader;`

But if I switch to 1.0.0-beta version, then everything is fine:

`compile (group: 'org.deeplearning4j', name: 'deeplearning4j-nn', version: '1.0.0-beta')
`

Here is the github link to my project again:
https://github.com/Yu-Hang/DemoForDL4J.git

[2018-07-23 23:48] AlexDBlack commented on #5948
OK, sounds like this was just an issue of mismatched versions - I'll close this.

[2018-07-23 23:48] #5948 closed

[2018-07-24 01:42] #5238 closed

[2018-07-24 01:42] #5255 closed

[2018-07-24 01:42] #5519 closed

[2018-07-24 01:42] #5765 closed

[2018-07-24 01:42] #5789 closed

[2018-07-24 01:42] #5835 closed

[2018-07-24 01:42] #5894 closed

[2018-07-24 09:00] AlexDBlack opened #5953 "DataVec: add a univariate CSV sequence record reader"
For some use cases, it can make sense to have each sequence represented as a single line in a CSV.

Examples:
- Sentences/tweets etc (that have already been cleaned)
- Integer indices (for sequence embedding layer)
- Univariate real-valued sequences

[2018-07-24 09:38] AlexDBlack commented on #5906
I can confirm that I was able to reproduce a difference between 1.0.0-beta native/cuda and 1.0.0-beta with CUDNN. Saving/loading the model did not result in any difference for me, however.

I can also confirm that native/cuda/cudnn are all producing identical results when tested on current snapshot/master.
I suspect it may be the same issues discussed in this comment (and the next one): https://gi

[2018-07-24 09:38] #5906 closed

[2018-07-24 09:42] #5164 closed

[2018-07-24 13:13] AlexDBlack opened #5955 "DL4J: Unit test failures on CUDA"
2 failures on CUDA - passing on CPU:

CNN1DGradientCheckTest.testCnn1DWithLocallyConnected1D and testCnnLocallyConnected2D

[code]

[2018-07-24 17:09] reuschling commented on #5242
@AlexDBlack Thanks again so much. It would took me ages to find this.

[2018-07-24 17:14] reuschling commented on #5242
Ah, and a last question for understanding: would a combination of SequenceRecordReaderDataSetIterator and RnnOutputLayer be possible?

[2018-07-24 19:30] maxpumperla commented on #5935
@zhazhadi I'll look into this.

[2018-07-24 19:34] samitha9125 opened #5956 "Keras Model start to train automatically when import to Java"
I'm trying to import already trained keras model (ConvNet which classify images) to Java using Deeplearning4j library and I did use following code to import keras model (.h5) file and predict.

    File temp = new File(imagePath);
    MultiLayerNetwork model = KerasModelImport.importKerasSequentialModelAndWeights(modelPath,false);
    NativeImageLoader loader = new NativeImageLoader(74, 448, 3);

[2018-07-24 23:54] ClnSchlssr commented on #5836
The fix definitely works. While it runs fast for the resnet model, curiously the xception model is still slower with CUDA (with or without CuDNN) than just with CPU. @AlexDBlack , is this a known issue or are there other settings that might lead to this condition? If not perhaps I should investigate with more detail and open a separate issue.

[2018-07-25 00:00] agibsonccc commented on #5836
@ClnSchlssr some profiling would help here. Fast/slow is always relative to *something*.

[2018-07-25 00:04] AlexDBlack commented on #5836
@ClnSchlssr Yeah, that's not expected.
I haven't profiled xception specifically, but other nets I have profiles (vgg16, resnet50, etc) have all been fast.
If you can't work it out (or suspect there's a bottleneck or something), open a new issue with details and your benchmark code and we'll take a look.

[2018-07-25 00:10] AlexDBlack commented on #5242
One issue you might have when using downsampling in the network configuration is that it's hard to know how the labels align.
Put another way, it's effectively a sequence-to-sequence model: you have sequences of length X for features, and sequences of length Y<X for labels.
Add to that variable lengths for both, and it becomes challenging to get your data pipeline to align everything properly from

[2018-07-25 00:14] AlexDBlack commented on #5956
Your conclusion about training is incorrect, that's not what is happening.

That said, there clearly is an issue here with some of the native ops.

However, without knowing your network configuration, it's virtually impossible for us to look into this. Is it possible for you to share it for debugging purposes (privately if necessary)?

An alternative is to try snapshots - they have some fixes rela

[2018-07-25 02:40] saudet commented on #5599
What error do you get with 1.0.0-SNAPSHOT?

[2018-07-25 03:33] AlexDBlack opened #5960 "DL4J: EmbeddingSequenceLayer: support 3d [mb,1,tsLength] format"
SequenceRecordReader + (SeqRRDSI or RRMDSI) will produce 3d sequences of shape [mb,1,tsLength].
But EmbeddingSequenceLayer can only currently handle 2d - shape [mb,tsLength]. This isn't great for usability, and should be fixed.

[2018-07-25 03:36] apatzer opened #5961 "Using ParagraphVectors without labels"
@raver119

I'm using `ParagraphVectors` in an unsupervised (unlabeled way). Rather than having a neural net with say ~50k words / NLP features, I'm constructing ParagraphVectors of 200-1000d in length to compress this wide/sparse input into a dense array of doubles.

This actually works quite well for classification, and for mixing text data with categorical and numeric data in the same model.

Wh

[2018-07-25 04:09] apatzer commented on #5961
Empirically, I seem to be able to get reasonable results by using a static label that is identical for every document. That decreases my serialized `ParagraphVectors` size by at least 50%
[code]

[2018-07-25 05:35] AlexDBlack commented on #5932
Implemented here, will be merged soon: https://github.com/deeplearning4j/deeplearning4j/pull/5962

[2018-07-25 06:09] #5932 closed

[2018-07-25 06:55] AlexDBlack commented on #5723
After thinking about this for a while, and making some other changes recently (available on snapshots, not on 1.0.0-beta), here's what I would recommend.

EmbeddingSequenceLayer can be used to generate sequences of embeddings with shape [minibatch, vectorSize, sequenceLength]. It also supports masking/variable length inputs (as of snapshots/master). Data of this format can be used with both RNN la

[2018-07-25 06:55] #5723 closed

[2018-07-25 07:09] AlexDBlack commented on #5090
Additional tests for 1D CNNs with masking (inc. additional gradient checks) were added here: https://github.com/deeplearning4j/deeplearning4j/pull/5880

[2018-07-25 07:09] #5090 closed

[2018-07-25 08:00] AlexDBlack commented on #5423
I'm going to close this - we haven't had any reports of this recently. And it's non-actionable if we can't reproduce/isolate it or validate if it's fixed...

[2018-07-25 08:00] #5423 closed

[2018-07-25 08:43] AlexDBlack commented on #5944
I've been running tests for a couple of days, on 4-22 workers, on the same network configuration that I've used previously. I've been unable to reproduce this - everything has run flawlessly.
So either it was an intermittent isue, or it has been fixed in some of the more recent PRs for Spark training.
As I can't reproduce this, I'm closing this issue.

[2018-07-25 08:43] #5944 closed

[2018-07-25 08:54] AlexDBlack commented on #4947
Hard to be 100% sure without a full stack trace, but this should be fixed here:
https://github.com/deeplearning4j/deeplearning4j/pull/5942

[2018-07-25 08:54] #4947 closed

[2018-07-25 08:57] AlexDBlack commented on #4791
I'm going to close this - it's a pretty uncommon edge case (UI + 0 stdev + NaN panic enabled) - not sure it has high enough ROI to implement and validate a fix for.

[2018-07-25 08:57] #4791 closed

[2018-07-25 09:01] AlexDBlack commented on #4171
Closing as outdated - LR schedules were moved to updater configuration a long time ago, and can also be used with transfer learning.

[2018-07-25 09:01] #4171 closed

[2018-07-25 09:03] AlexDBlack commented on #4147
Closing as outdated - we haven't had reports of this since, and there has been a ton of workspace-related fixes since 0.9.1 (which is by far the most likely candidate for these sorts of crashes).

[2018-07-25 09:03] #4147 closed

[2018-07-25 09:05] AlexDBlack commented on #3928
Outdated - javadoc has been updated since.
https://deeplearning4j.org/doc/

[2018-07-25 09:05] #3928 closed

[2018-07-25 09:06] AlexDBlack commented on #3774
We have DL4J integration tests module now.

[2018-07-25 09:06] #3774 closed

[2018-07-25 09:07] AlexDBlack commented on #3470
I did a pass on unused dependencies recently.

[2018-07-25 09:07] #3470 closed

[2018-07-25 09:09] AlexDBlack commented on #3444
Closing this - (a) outdated, and (b) there's 2 different scores here.
The score the termination condition is evaluated on is provided by the DataSetLossCalculator; the score you show in the graph is the score on the minibatch. They are different things.

[2018-07-25 09:09] #3444 closed

[2018-07-25 09:17] AlexDBlack commented on #3228
https://github.com/deeplearning4j/deeplearning4j-docs/pull/105

[2018-07-25 09:17] #3228 closed

[2018-07-25 09:18] AlexDBlack commented on #3238
https://github.com/deeplearning4j/deeplearning4j/pull/3644

[2018-07-25 09:18] #3238 closed

[2018-07-25 09:21] AlexDBlack commented on #2722
Duplicate: https://github.com/deeplearning4j/deeplearning4j/issues/2807

[2018-07-25 09:21] #2722 closed

[2018-07-25 09:30] AlexDBlack commented on #1440
We have both LSTM and GravesLSTM. The former supports CuDNN.
Others don't have good enough relative performance to justify implementing (or to justify the performance hit of not having CuDNN)

[2018-07-25 09:30] #1440 closed

[2018-07-25 09:35] AlexDBlack commented on #1510
This was changed a long time ago to not modify the network input arrays for this reason.
Where safe, some layer activations (not inputs) are modified in-place.

[2018-07-25 09:35] #1510 closed

[2018-07-25 09:41] alrutten opened #5964 "KerasModelImport fails when importing weights"
version 1.0.0-SNAPSHOT

this line of code returned a MultiLayerNetwork yesterday, but runs into an error today:

`KerasModelImport.importKerasSequentialModelAndWeights(MultiJson,MultiWeights, false)`
[code]

  loading just the configuration from json works as before, it's importing the weights that fails:
[code]
[code]

[2018-07-25 10:04] alrutten commented on #5964
ok i needed to sbt reload/clean/update, sorry.

[2018-07-25 10:04] #5964 closed

[2018-07-25 11:22] alrutten opened #5966 "SequenceRecordReaderDataSetIterator handles negative labelIndex incorrectly"
in this if statement (line 197-216 in SequenceRecordReaderDataSetIterator.java) the `if (labelIndex < 0) ` will never be evaluated:
[code]
which i think means that the builder will `.addInput(readername,0,-2)`, which seems to lead to a shape error (`reader` is the same `CSVSequenceRecordReader` in both code snippets):
[code]
[code]

[code]
[code]
expected behaviour:
[code]

[code]

[2018-07-25 15:06] Yu-Hang commented on #5599
@saudet Using 1.0.0-SNAPSHOT, I get error: `package org.datavec.image.loader does not exist`

[2018-07-25 16:01] agibsonccc commented on #5599
@Yu-Hang that sounds unrelated. Did you include the right dependencies?

[2018-07-25 17:51] raver119 opened #5967 "Accumulations tweak"
From early days, Accumulations execution code contains assignment for op.Z(). despite native code isn't relying on these values, and just overwrites them.

This code can be removed now.

[2018-07-25 20:07] Yu-Hang commented on #5599
@agibsonccc But the error did go away when I switch to 1.0.0-beta. You can find my gradle files here: https://github.com/Yu-Hang/DemoForDL4J.git

[2018-07-25 20:40] ClnSchlssr commented on #5836
Here is a quick run of the models with their outputs timed. Code is attached. Note I'm changing the platform by switching/removing the dependencies form the pom file (is there a better way to do that?). Two things are strange: Different image orders give different outputs when run on different platforms, and how slow this Xception model is in comparison to Resnet on CUDA / CuDNN.

Using SNAPSHOTS

[2018-07-25 23:31] #4866 closed

[2018-07-25 23:31] #5056 closed

[2018-07-25 23:31] #5205 closed

[2018-07-25 23:31] #5913 closed

[2018-07-25 23:31] #5960 closed

[2018-07-25 23:31] #4557 closed

[2018-07-25 23:51] AlexDBlack commented on #5836
Thanks for the results and code, that's quite helpful. I'll have a look in the profiler and see what's going on here.

Maven profiles is another approach (but requires rebuilding).
Or include both native and CUDA, but set the "BACKEND_PRIORITY_CPU" and "BACKEND_PRIORITY_GPU" environment vars to determine which one gets loaded.
CPU value needs to be bigger than GPU value for it to get loaded in pre

[2018-07-26 00:53] saudet commented on #5599
@Yu-Hang What about https://github.com/deeplearning4j/dl4j-examples/tree/master/android/DL4JImageRecognitionDemo, do you get the same error with that one?

[2018-07-26 00:54] saudet commented on #5599
@Yu-Hang And you'll need to make sure to run `mvn -U compile` or something with the `pom.xml` file given here: https://deeplearning4j.org/android

[2018-07-26 00:58] #5966 closed

[2018-07-26 00:58] AlexDBlack commented on #5966
Fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/5970
Thanks for reporting.

[2018-07-26 01:45] apatzer commented on #4918
Tend to agree here. With hierarchical softmax turned on, serialized `ParagraphVectors` are 2x larger than without...seems rather inefficient for Huffman codes.

[2018-07-26 01:50] AlexDBlack commented on #5836
@ClnSchlssr OK, looking at these benchmarks in detail: there are some issues with them - no warmup and single iteration. I'll direct you to this for details: https://deeplearning4j.org/benchmark

As for the models themselves - I don't have the exact files you are using (do you have a link?) but I'll be using the xception and resnet models here to benchmark this:
https://github.com/deeplearning4j/d

[2018-07-26 02:18] AlexDBlack commented on #5836
Here's an improved benchmark, multiple iterations and warmup:
Resnet50 results look fine to me.
(Windows 10, Titan X, CUDA 9.1 + CuDNN)
https://gist.github.com/AlexDBlack/7f8ed83fc3660f545abc67983997e894

[code]

Looking into xception results now, first guess is probably a CPU-only op being used there.

[2018-07-26 02:53] raver119 commented on #5967
Should be fixed now.

[2018-07-26 02:53] #5967 closed

[2018-07-26 02:59] AlexDBlack commented on #5928
Looks like that link is dead. However, I did find this: https://github.com/numpy/numpy/blob/master/numpy/lib/format.py

[2018-07-26 03:29] raver119 commented on #4918
I'm afraid original issue has nothing to do with the size of serialized model. Negative sampling and hierarchic softmax add additional matrix to model, with size of `numWords` x `layerSize`. So it's kind of expected to have bigger file if you use both options for some reason.

[2018-07-26 04:46] maxpumperla commented on #5836
@ClnSchlssr about the other issue you mentioned, I'd need more details. It seems a little strange that the results for cudnn and cuda are just swapped. Did you feed RGB and BGR input to the same model? That won't work. If you go back to keras and specify `data_format` correctly, upon import this should be reflected and produce consistent results. please provide me with the four models (2x resnet,

[2018-07-26 04:46] maxpumperla commented on #5836
maybe open another issue for that

[2018-07-26 06:19] AlexDBlack commented on #5747
Confirming this is still happening - underilying issue appears to be native implementation of concat. The following fails for dimensions 1-3, OK for dimension 0.

[code]

[2018-07-26 07:44] wangfeng-skymind commented on #5878
yeah,the chinese text tokenizer algorithm is from:
https://github.com/NLPchina/ansj_seg

On Thu, Jul 26, 2018 at 3:29 PM, Samuel Audet <notifications@github.com>
wrote:

[2018-07-26 08:51] boschhd opened #5974 "KFoldIterator - Splits wrongly, last fold is usually to small or even zero"
**Expected behavior**: KFoldIterator should split the dataset into *k* folds as evenly as possible.

**Observed behavior**: The last batch is often very small, in the range of *0..(k-1)*, which could explain the high variance of results in issue #5343

**Explanation**:
If the dataset size (*n*) is divisible by the desired number of folds (*k*) without remainder, it splits the dataset evenly.
Howev

[2018-07-26 09:55] saudet commented on #5878
@sshepel We'll need to remove the header files from the classes in the `org.ansj` package.

[2018-07-26 09:58] #5267 closed

[2018-07-26 09:58] #5270 closed

[2018-07-26 09:58] #5534 closed

[2018-07-26 09:59] AlexDBlack opened #5976 "Libnd4j: floormod_bp incorrect"
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/libnd4j/include/ops/declarable/generic/broadcastable/floormod.cpp#L89-L90

For z = floormod(x/y), we should have:

dL/dx = dL/dOut = epsNext
and
dL/dy = dL/dOut * floor(x/y)

Keep in mind it's a broadcastable op... so if x or y are broadcast, they need to be summed/reduced.

For example, a x=[3,4,5] and

[2018-07-26 10:01] saudet commented on #5270
With the changes in pull #5972, we can accomplish that by setting the `stepCounter` to some large value like `Integer.MAX_VALUE`, and training will stop.

[2018-07-26 10:06] sshepel commented on #5878
@saudet got it!

[2018-07-26 10:10] AlexDBlack opened #5977 "TSNE workspaces exception"
_From @stoiandl on April 6, 2018 22:25_

#### Issue Description

I am running a TSNE as per TSNEStandardExample.java but with the text file changed. It has the same format but it has 65,000 20-dim vectors. I am running 300 iterations.

When it reaches the second iteration I am getting the following exception regarding workspaces:

Exception in thread "main" org.nd4j.linalg.exception.ND4JIllegalSta

[2018-07-26 10:16] AlexDBlack opened #5978 "Libnd4j: multiply_bp incorrect for broadcast case"
The epsNext array (dL/dOut) doesn't seem to be used at all:
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/libnd4j/include/ops/declarable/generic/broadcastable/multiply.cpp#L119-L148

It's also failing gradient checks in ND4J

[2018-07-26 11:20] sshepel commented on #5878
@saudet I have remove CHs from ansj, but I'm not sure that we should remove it from `deeplearning4j/deeplearning4j-nlp-parent/deeplearning4j-nlp-chinese/src/main/java/org/deeplearning4j/text/tokenization/tokenizer/ChineseTokenizer.java`, because this file was created by @wangfeng-skymind .
@wangfeng-skymind could you please confirm this...

And there are still some files that needs to be reviewed:

[2018-07-26 12:11] AlexDBlack opened #5980 "ND4J: Add a way to disable workspaces globally"
It might be useful for some circumstances (debugging, or as a workaround when everything else fails) to be able to disable workspaces globally (via runtime config, or environment variable) - perhaps by always spilling arrays.

[2018-07-26 12:35] maxpumperla commented on #5956
@samitha9125 can you please give me your keras model?

[2018-07-26 12:39] maxpumperla commented on #5935
might be related https://github.com/deeplearning4j/deeplearning4j/issues/5836#issuecomment-407888288

[2018-07-26 13:01] saudet commented on #5878
`ChineseTokenizer.java` seems fine yes, it's "ours".

[2018-07-26 13:06] maxpumperla commented on #5935
hmm, I didn't look very closely at your output at first. this is a complex, 50 layer network with 2.5M parameters and it seems we have prediction differences in the 10e-4 range. Now, I realize that the output has 1000 classes in this case, but I'd like to investigate how model accuracy is affected by this. Might just come down to slight numerical differences in, say, the activation functions for D

[2018-07-26 13:42] treo commented on #5072
@raver119

Using today's snapshots (nd4j-native-1.0.0-20180726.120726-4171) I'm still running into this bug.
[hs_err_pid4428.log](https://github.com/deeplearning4j/deeplearning4j/files/2232218/hs_err_pid4428.log)

[2018-07-26 13:44] raver119 commented on #5072
Hm. Mind sending me your code in pm? My code doesn't reproduce this issue anymore.

[2018-07-26 23:35] AlexDBlack opened #5981 "DL4J: Output workspace issue with one layer"
Here is a piece of code to reproduce the issue:

[code]

[2018-07-26 23:37] AlexDBlack opened #5982 "DL4J Keras - issue with bidirectional + sequence embedding layers"
i still have a shape error when my data gets transferred from my EmbeddingSequenceLayer to the BidirectionalLayer (i think?). @AlexDBlack said he didn't have issues with a model with the same configuration so i assume there is either something wrong with how i load my data, or with how the model is re-instantiated. I have added the keras configuration and some dummydata.

https://gist.github.com/a

[2018-07-27 00:46] ClnSchlssr commented on #5836
@AlexDBlack Thanks for that link. Definitely would have been helpful to read that before posting, but thanks for going ahead and running some more rigorous benchmarks. CPU-only op is totally understandable. It would be nice to be at the level of understanding with this library to dig up that answer myself.

@maxpumperla I've been flipping the channels and feeding the same image with different chan

[2018-07-27 01:03] AlexDBlack commented on #5836
Yeah, re: CPU-only ops - unfortunately it's not really documented, and there's some exception even for things using DynamicCustomOp - really hard for most users to know until they run into it and ask at present... It's a short-term thing though, so we haven't put much effort into docs there.

[2018-07-27 01:45] ClnSchlssr opened #5983 "Appropriate image channel order for predictions on imported keras models seems to differ when run on CPU/CUDA vs CuDNN"
When comparing the outputs from models imported from Keras on different platforms (CPU/CUDA/CuDNN) I noticed that CuDNN gives a different output for the same image channel ordering, but the same output if the channels are flipped.

For the image attached run through the models attached I get:

CPU:
Resnet:
RGB: 0.3022676706314087
BGR: 0.9479966163635254
Xception:
RGB: 0.012912283651530743
BGR: 0.0

[2018-07-27 02:45] saudet commented on #5983
cuDNN apparently only supports common strides, so we check for that and manually duplicate when necessary, such as here:
https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-cuda/src/main/java/org/deeplearning4j/nn/layers/convolution/CudnnConvolutionHelper.java#L152
There could be a few missing checks for that...

[2018-07-27 02:52] AlexDBlack opened #5984 "DL4J: Known issues and test failures"
This issue: a summary/burn-down list for DL4J for the next release.

Failing tests:
- deeplearning4j-core: native OK; CUDA: https://github.com/deeplearning4j/deeplearning4j/issues/5955
- deeplearning4j-cuda: testDataTypes failing; known (non-critical) issue with LRN https://github.com/deeplearning4j/deeplearning4j/issues/5088
- nearestneighbor-core: 1 failure - RPUtils.testDistanceComputeBatch
- d

[2018-07-27 05:47] #5981 closed

[2018-07-27 06:03] #5982 closed

[2018-07-27 07:04] AlexDBlack commented on #5983
I'm unable to reproduce this. Find below the code I'm using (which uses the image + models from the initial issue post above).

Note this compares cuda and cudnn only.

[code]

ResNet:
![image](https://user-images.githubusercontent.com/2360237/43306512-cca3a60e-91be-11e8-9c40-b398ea402d09.png)

xception:
![image](https://user-images.githubusercontent.com/2360237/43306627-1a92824a-91bf-11e8-9ad4-ff

[2018-07-27 07:23] #5800 closed

[2018-07-27 07:23] #5977 closed

[2018-07-27 07:36] AlexDBlack commented on #5974
Thanks for the issue (and @RajaniVM for flagging) - easy to confirm with size 99, 10 splits:
[code]

[code]

[2018-07-27 08:02] sshepel opened #5989 "Nd4jTestsC.testTadReduce3_0 failing on master"
From the build log:
[code]
Build details: http://master-jenkins.skymind.io:8080/blue/organizations/jenkins/deeplearning4j%2Fdeeplearning4j/detail/PR-5971/3/pipeline/267

[2018-07-27 11:15] #5543 closed

[2018-07-27 15:21] Yu-Hang commented on #5599
@saudet Yes. DL4JImageRecongnitionDemo give the same error. And I'm using pom.xml from that link. Can you reproduce this error?

[2018-07-27 15:35] sshepel commented on #5989
Fixed in https://github.com/deeplearning4j/deeplearning4j/pull/5990

[2018-07-27 15:35] #5989 closed

[2018-07-27 19:19] #3911 closed

[2018-07-27 21:09] ClnSchlssr commented on #5983
I've determined that the platform is not affecting this. Instead the image is being randomly loaded with the channels flipped (with both CUDA and CuDNN) depending on whether which imageio library is being used to load it. Sorry for pulling that in the wrong direction... I had run it a couple times and gotten the same results so it did appear that the platform was causing the difference.

[2018-07-29 11:37] samitha9125 commented on #5956
Can I send it privately?

[2018-07-29 12:29] maxpumperla commented on #5956
send it to max at skymind io

[2018-07-30 00:02] AlexDBlack opened #5992 "DL4J: Allow (Multi)DataSet example metadata to be passed to listeners during training"
DataSet and MultiDataSet have metadata. This gets loaded (if set up) during training but is not used.
Having it available in a listener would be useful for debugging, visualization, tracking current status, etc.

One downside here is that it would require an API change on the listeners, or a new listener type...

[2018-07-30 01:17] saudet commented on #5983
@ClnSchlssr Probably don't need both, but that's deprecated at this point. We should use `NativeImageLoader`.

[2018-07-30 02:05] #5974 closed

[2018-07-30 03:15] saudet commented on #5983
Java2DNativeImageLoader isn't deprecated, @ClnSchlssr is loading TIFF *files* via ImageIO, which we're not recommending to do. Maybe we should just remove these dependencies and users would at least get an error instead of some strange behavior?

[2018-07-30 03:22] AlexDBlack commented on #5983
Oh, not loading via our image loaders? Yeah, I'd say that's not our responsibility then.
We might be able to pull these dependencies out, but I'm not sure it's enough of an issue in practice to warrant the effort of doing so right now...

Anyway, sounds like this isn't an issue in our code - so I'm closing this.

[2018-07-30 03:22] #5983 closed

[2018-07-30 03:36] AlexDBlack opened #5996 "ND4J: convertToDoubles() no longer functioning"
Windows 10, CUDA 9.1, Titan X

[code]

[code]

[2018-07-30 03:46] raver119 commented on #5098
It's getting worse guys, now on top of original issue i can't use test resources in Intellij, if nd4j is open as separate project.

We need to get these issues fixed somehow, because it seriously slows down work flow.

[2018-07-30 03:52] raver119 commented on #5098
https://github.com/deeplearning4j/deeplearning4j/blob/0e66ef031daf88ae6f671208b85b08b5562e4b9b/pom.xml#L538-L551

I think since this is declared in top-level pom.xml, Intellij just can't see it if you open nd4j as separate project.

[2018-07-30 04:06] AlexDBlack opened #5997 "DataVec: Remove Image Loader Dependencies"
We rely on javacv for image loading functionality, but we still have older image loading dependencies for image loading: ```com.github.jai-imageio``` and ```com.twelvemonkeys.imageio```.

These can probably be removed - leaving us with fewer dependencies, and less chance of users using them directly (incorrectly) instead of our image loaders.

[2018-07-30 04:06] AlexDBlack commented on #5983
@saudet hm, true...
https://github.com/deeplearning4j/deeplearning4j/issues/5997

[2018-07-30 04:18] saudet commented on #5098
@rajeev3983 That'd be a bug in IntelliJ, but we can do some copy/paste there, and if it works, we can leave it like that. It wouldn't hurt other tools.

[2018-07-30 04:19] raver119 commented on #5098
Ye, there's definitely something goes on in Intellij, they do some refinements... But since we have no other viable IDEs - we should adopt somehow 😄

[2018-07-30 04:53] raver119 commented on #5098
https://github.com/deeplearning4j/deeplearning4j/blob/e97090b504acae2ad6d717d58ddce79af212ccab/nd4j/pom.xml#L403-L416

This copypasta seems to work fine, nd4j-tests work again in latest Intellij. Is it acceptable workaround for CI/CD compatibility? @saudet @sshepel

[2018-07-30 05:10] xinxu75 commented on #5072
@raver119,@treo,
Hi guys, It's been almost 2 months since raver119 commented "I think i know what’s wrong, so i hope it will be fixed once high priority problems resolved (TF import issues should be solved first)". Just wondering if there is any update on fixing this bug? Many thanks

[2018-07-30 05:18] raver119 commented on #5072
Yep. This bug was considered fixed for a while, until @treo managed to reproduce it once again. So i'll be looking into it in nearest days once again.

[2018-07-30 05:35] xinxu75 commented on #5072
@raver119, thanks for the update. Could you please let me know as soon as you fix it, so that I can also test it from my side? Hopefully this helps shorten the lifecycle on this bug. Thanks

[2018-07-30 05:36] raver119 commented on #5072
Sure

[2018-07-30 06:50] AlexDBlack opened #5998 "ND4J: Remove DataSet.getFeatureMatrix()"
This has been deprecated on the interface for a while, and should be removed.

[2018-07-30 07:31] snoop247 opened #6000 "ND4J: Subtraction INDArray.sub(INDArrayScalar) throws error"
Hello.

I wanted to use a normalizer `class` from a colleague, which worked before April/May 2018. Now calling the `sub` method of an `INDArray` with an `INDArray` - containing a scalar - as parameter in this `class` and anywhere else throws the error below. I tried to check the called lines in `BaseNDArray` etc. and to me it looks like the methods for subtracting a scalar are called, but I did no

[2018-07-30 07:32] raver119 commented on #6000
Could you please provide self-containing test that fails?

[2018-07-30 07:37] snoop247 commented on #6000
@raver119
I am sorry, I am very new to the java world and particularly to testing. Do you need a piece of code, that you can run, that fails, or do you need a special test (junit or similar).

[2018-07-30 07:43] raver119 commented on #6000
Nevermind, it's reproducible for me too 😄

[2018-07-30 07:44] snoop247 commented on #6000
@raver119
Would have been no problem, was already working on a piece of code for you. :)

[2018-07-30 08:04] raver119 commented on #6000
Thanks for highlighting this problem. It's fixed in my PR.

[2018-07-30 08:04] #6000 closed

[2018-07-30 09:27] AlexDBlack opened #6002 "DL4J: Remove NeuralNetConfiguration.l1/l2ByParam maps"
The information in these maps is redundant, given that we have Layer.l1/l2ByParam methods.

[2018-07-30 12:22] AlexDBlack opened #6005 "DL4J: VGG16 CPU/CUDA possible difference"
Score vs. iteration for same net, same data - CPU vs. CUDA vs. CUDNN:
[code]

Note this is running with Float precision on a network with a lot of layers, so it could simply be the accumulated effect of a lot of small differences. However, the scale of the difference here is sufficient that I want to look into this further before concluding that.

VGG16 integration test added/enabled here: https:/

[2018-07-30 12:34] raver119 commented on #6005
How it changes if you enable/disable cuDNN?

[2018-07-30 12:41] AlexDBlack commented on #6005
I've added CuDNN results.
Still kind of inconclusive, not sure if there's actually an issue here or not...

[2018-07-30 12:49] AlexDBlack commented on #5223
With this PR, we've now got a reasonable set of integration tests: https://github.com/deeplearning4j/deeplearning4j/pull/5995

We'll add more in the future, but it's a good start.
As for profiles, we'll add that if/when we need it (for CI, for example)

[2018-07-30 12:49] #5223 closed

[2018-07-30 13:09] gline9 opened #6007 "BigDecimalMath causes ArithmeticException with zero square root"
When calling the following code:

[code]

An ArithmeticException with description Division undefined is thrown. The description of the square root method states that x is a non-negative argument. That means it should support 0 for square roots.

[2018-07-30 13:14] raver119 commented on #6007
This issue makes me wonder: why we still have BigDecimalMath? It doesn't look like we're actually using it somewhere? I see 0 tests for it as well.

cc @agibsonccc

[2018-07-30 16:29] Yu-Hang commented on #5599
@saudet Any idea why?

[2018-07-30 17:24] ClnSchlssr commented on #5983
@Saudet, thanks for drawing my attention to that. I actually hadn't realized I was doing it in a non-standard way.
I think the reason I was using this approach is because using `flipChannels` was a convenient way to change the channel order for networks that expect it one way or another, but `Java2DImageLoader` doesn't have a `as.Matrix(File file, Boolean flipChannels)` . Some questions that arise

[2018-07-30 23:39] AlexDBlack commented on #6007
PR open to remove it here: https://github.com/deeplearning4j/deeplearning4j/pull/6009

[2018-07-31 01:32] #5998 closed

[2018-07-31 01:32] #6002 closed

[2018-07-31 02:14] saudet commented on #5599
No, it works fine here. Maybe something is corrupted in your Maven or Gradle cache. Have you tried to delete `~/.m2/repository/` and `~/.gradle/caches/`?

[2018-07-31 02:16] saudet commented on #5983
@ClnSchlssr The "risk" is with ImageIO, and only because DataVec is including dependencies it's not really using. So, should we remove them?

[2018-07-31 02:43] raver119 commented on #5980
Methods and tests added, environment variables are on the way

[2018-07-31 02:43] #5980 closed

[2018-07-31 02:43] raver119 commented on #5996
Fixed, tests added

[2018-07-31 02:43] #5996 closed

[2018-07-31 03:16] #6007 closed

[2018-07-31 03:19] AlexDBlack commented on #6007
@gline9 Thanks for the issue. We have removed BigDecimalMath - it was not properly maintained/tested, and not used anywhere within ND4J/DL4J. As of the next release, you'll need to find another library for big decimal math ops.

[2018-07-31 05:03] alei76 opened #6012 "Exception in thread "main" java.lang.NoSuchMethodError: org.nd4j.linalg.api.ndarray.INDArray.shape()"
Word2VecRawTextExample
1.0.0-beta
Exception in thread "main" java.lang.NoSuchMethodError: org.nd4j.linalg.api.ndarray.INDArray.shape()[J
	at org.deeplearning4j.models.embeddings.inmemory.InMemoryLookupTable.resetWeights(InMemoryLookupTable.java:147)
	at org.deeplearning4j.models.sequencevectors.SequenceVectors.fit(SequenceVectors.java:245)
	at org.deeplearning4j.examples.nlp.word2vec.Word2VecRawTe

[2018-07-31 05:09] raver119 commented on #6012
Show your pom.xml please. You have versions clash somewhere

[2018-07-31 06:34] AlexDBlack commented on #6005
After looking into this in some detail: I'm about 98% sure it's just numerical precision issues with FP32.
It looks pretty good on FP64.

[2018-07-31 06:34] #6005 closed

[2018-07-31 09:18] AlexDBlack opened #6015 "DL4J: Add CuDNN BatchNorm rank 2 support"
CuDNN doesn't support rank 2 for batch norm. But, we can simply reshape from [mb,d] to [mb,d,1,1] and use the CuDNN implementation. This should be faster than our implementation.

[2018-07-31 09:35] AlexDBlack opened #6016 "DL4J: Add object detection evaluation class"
I thought we already had an issue for this. Apparently not...

Basically: we need an Evaluation class for YOLO models and similar.

[2018-07-31 10:33] AlexDBlack opened #6017 "Issue reading SVHN dataset on Windows"
I've run run the YOLO house number detection example recently on Linux (with snapshots), and it ran fine.

Now, when I try to run it on Windows, I get the following on both the train and the test sets:
[code]

The path looks correct, and changing the separators to all ```/``` or ```\``` doesn't make a difference...

Edit: seems to me that the problem isn't the actual dataset at all - rather, it's

[2018-07-31 10:48] saudet commented on #6017
Hum, looks like the compression algorithm isn't getting built on Windows...

[2018-07-31 10:49] AlexDBlack commented on #6017
So, yes it's plugin related...
[code]

Creating this directory doesn't solve the problem.
Nor does overriding the ```HDF5_PLUGIN_PATH``` environment variable :/

[code]

[2018-07-31 11:59] raver119 commented on #5862
As discussed in pm, we've decided to enforce sequential access to certain methods, like `fit()`, `output()` and `feedForward*()` instead of throwing exceptions

[2018-07-31 11:59] #5862 closed

[2018-07-31 12:04] raver119 commented on #5784
Fixed. Thanks for highlighting this problem.

[2018-07-31 12:04] #5784 closed

[2018-07-31 12:05] raver119 commented on #5710
Fixed. THanks for highlighting this problem

[2018-07-31 12:05] #5710 closed

[2018-07-31 12:26] raver119 commented on #5677
Ye, confirmed. Easy fix.

[2018-07-31 12:47] raver119 commented on #5677
Thanks for highlighting this bug.

[2018-07-31 12:47] #5677 closed

[2018-07-31 13:08] reuschling commented on #2418
Is there any further status on this? I try to implement a 1D CNN classification for timeseries from this [paper](https://arxiv.org/pdf/1611.06455.pdf) (the FCN, here is the according [Gist](https://gist.github.com/reuschling/ba771bb80b609b10cc3c328bdc489086)). They use batch normalization - I managed it to classify with 1D CNN layers now, but with BatchNormalization layers I get the 'Invalid input

[2018-07-31 15:00] peidaqi opened #6024 "deeplearning4j getWordVector() getting different results compared to Gensim?"
I'm testing deeplearning4j word2vec and having some very strange results. The getWordVector() method gives me different results compared to gensim's KeyedVector.

The word vector file used is Glove's 50D 6B pre-trained dataset, converted into Word2Vec binary format using Gensim.

In Scala:
val wv_model = WordVectorSerializer.readWord2VecModel("../word2vec/glove.6B.50d.w2v.bin")
wv_model.getWordVec

[2018-07-31 15:02] raver119 commented on #6024
We had few issues like this before, you can search among closed issues here.

TL/DR: either it's encoding issue (non-printable characters), or non-unique words in vocabulary. No other options, sorry.

[2018-07-31 15:02] #6024 closed

[2018-07-31 15:44] peidaqi commented on #6024
I went through the code. This actually has nothing to do with encoding/non-unique words in vocab.

The issue is with the implementation of readWord2VecModel, which calls readBinaryModel when the input is a word2vec bin file.

The readBinaryModel method has a parameter "normalize", which will take a L2 norm to the result vector. And the readWord2VecModel didn't correctly expose this. IMO, L2 norm s

[2018-07-31 15:46] raver119 commented on #6024
oh, sorry, you're right. third option is normalization applied.

[2018-07-31 16:02] maxpumperla commented on #5889
@pavansolapure just a quick update on this. We're working on the ability to properly serialize Keras preprocessors here: https://github.com/keras-team/keras-preprocessing/pull/29#pullrequestreview-141943118

At the same time I'm implementing Keras Tokenizers etc in Java and will support import as follow up, should the above PR get accepted. Otherwise serde will have to move to another project, whi

[2018-07-31 16:43] peidaqi commented on #6024
By the way, cross checked with the current stable (0.9.1) and latest source in master, this problem has been fixed:

In 0.9.1, readWord2VecModel calls loadGoogleModel, which is:
return binary ? readBinaryModel(modelFile, lineBreaks, **true**) : fromPair(loadTxt(modelFile));

In latest source in master, readWord2VecModel directly calls readBinaryModel with normalize set to false. Also readBinaryMod

[2018-07-31 16:46] raver119 commented on #6024
Current stable is 1.0.0-beta.

[2018-07-31 17:19] peidaqi commented on #6024
Ok. Just checked the 1.0.0-beta source, the loadGoogleModel was removed but the normalization is not modified:

vec = readBinaryModel(file, true, **true**);

Guess we'll have to wait till the next build to fix this.

[2018-07-31 17:42] raver119 commented on #6024
Huh, i just don't remember when i've fixed this, sorry.
You can use snapshots as well, they are updated daily.

There's also release going out pretty soon.

[2018-07-31 21:43] sshepel opened #6029 "Wrong path to include/ops/ops.h in libnd4j tests"
Error log:
[code]
Impact: any platform that build/run tests.

Full build log: http://master-jenkins.skymind.io:8080/blue/organizations/jenkins/deeplearning4j%2Fdeeplearning4j/detail/PR-6008/13/pipeline/184#step-763-log-461

[2018-08-01 00:56] saudet commented on #6029
@raver119 Did something change here?

[2018-08-01 01:39] AlexDBlack opened #6030 "ND4J: Deprecate/remove OpExecutioner.iterateOverAll[Rows/Columns]"
If we need this sort of functionality, it should be done at the native level in parallel, not at the Java level in series.

[2018-08-01 02:27] raver119 commented on #6029
Guys, that’s just tests. And they pass. So, i don’t know why you think there’s a problem.

[2018-08-01 02:27] #6029 closed

[2018-08-01 02:28] raver119 commented on #6029
p.s. test 3 is fail test. it must write that compilation aborted.

[2018-08-01 03:10] #5252 closed

[2018-08-01 03:25] alei76 commented on #6012
thanks！

[2018-08-01 04:14] #6012 closed

[2018-08-01 04:49] raver119 commented on #5941
There's no way to do this, that's exactly what i mean. Spark w2v implementation is a prototype and test playground for dl4j parameterserver implementation. And actual implementation works fine on yarn. So, now w2v impl should be updated. It's in our roadmap, just not immediate priority.

[2018-08-01 04:53] raver119 commented on #5798
Sorry, it'll be impossible to answer your question. We just don't have such CPU, so we can't know how much time it'll take.

Just few facts:
- 6 year old cpu
- 2 cores
- no AVX2 support

So, i'd expect it to work, but work slow. Just make sure you don't disable workspaces, and try to not do anything else while network trains.

[2018-08-01 04:53] #5798 closed

[2018-08-01 05:36] raver119 commented on #5978
Fix was merged, and should be confirmed now

[2018-08-01 05:37] #5432 closed

[2018-08-01 05:45] raver119 commented on #2223
I think we can close this this issue now?

cc @agibsonccc

[2018-08-01 05:47] raver119 commented on #5437
Fixed by renaming totalExamples -> totalBatches

[2018-08-01 05:47] #5437 closed

[2018-08-01 05:49] raver119 commented on #2406
Cleanup happened few months ago.

[2018-08-01 05:49] #2406 closed

[2018-08-01 05:51] raver119 commented on #3611
Ser/De & encoding improvements landed to master last month. Other planned improvements have own issue now.

[2018-08-01 05:51] #3611 closed

[2018-08-01 05:52] agibsonccc commented on #2223
I...think so? The headers I think make it compliant?

[2018-08-01 05:54] #4150 closed

[2018-08-01 05:55] raver119 commented on #3111
Is this issue still relevant?

[2018-08-01 05:56] raver119 commented on #5013
Implemented recently.

[2018-08-01 05:56] #5013 closed

[2018-08-01 05:58] raver119 commented on #2223
Cool!

[2018-08-01 05:58] #2223 closed

[2018-08-01 06:00] raver119 commented on #5259
Is this issue still relevant?

[2018-08-01 06:02] #2020 closed

[2018-08-01 06:04] #3021 closed

[2018-08-01 06:05] #4237 closed

[2018-08-01 06:17] AlexDBlack commented on #5978
Test confirmed passing now - thanks.

[2018-08-01 06:17] #5978 closed

[2018-08-01 06:27] AlexDBlack commented on #5292
Was fixed earlier here: https://github.com/deeplearning4j/deeplearning4j/pull/5971

[2018-08-01 06:27] #5292 closed

[2018-08-01 06:45] raver119 commented on #5038
GitHub "Lock" app was added.

[2018-08-01 06:45] #5038 closed

[2018-08-01 07:02] raver119 commented on #5883
With clipbynorm implemented, i guess we can close this issue now?

[2018-08-01 07:24] #5883 closed

[2018-08-01 07:27] raver119 commented on #5504
@shyrma can we close this issue now?

[2018-08-01 07:28] raver119 commented on #5838
Looks like we can close this issue now.

[2018-08-01 07:28] #5838 closed

[2018-08-01 08:08] shyrma commented on #5747
Corrected and merged into master

[2018-08-01 08:08] shyrma commented on #5978
Corrected and merged into master

[2018-08-01 08:18] #5747 closed

[2018-08-01 08:41] raver119 commented on #3391
Clearly fixed long ago.

[2018-08-01 08:41] #3391 closed

[2018-08-01 08:49] raver119 opened #6034 "Spark epic"
This epic holds references to Spark-related improvements for upcoming release

[2018-08-01 09:17] raver119 opened #6035 "Legacy RNG operations exception"
Right now legacy RNG operations propagate special "bad values" if wrong signature is used for given op. Since now we support exceptions propagation from C++ to Java level - we should use that, and throw something meaningful instead.

[2018-08-01 09:46] shugeo commented on #5976
implementing and testing with GradCheck

[2018-08-01 11:11] AlexDBlack opened #6036 "ND4J/Libnd4j: TruncatedNormalDistribution incorrect; may not return depending on args"
The second execution here seems to never return:
[code]

[2018-08-01 11:33] AlexDBlack commented on #6036
Actually: looks like the implementation is wrong too... here's the distribution produced by mean 1, stdev 1:
It should be clipping at 1 +/- 2 (i.e., -1, 3 - mean +/- 2 stdev) to match keras and TF...
![image](https://user-images.githubusercontent.com/2360237/43519349-6d27726a-95d2-11e8-9aed-8ec790c0d6a2.png)

https://www.tensorflow.org/versions/r1.0/api_docs/cc/class/tensorflow/ops/truncated-norma

[2018-08-01 12:02] AlexDBlack opened #6037 "Libnd4j: broadcastable pairwise op gradient failing for edge case"
Passing for most cases, but failing for the following case:
Input 1 shape: [1,6]
Input 2 shape: [3,4,5,1]
Output shape: [3,4,5,6]
Failing ops: sub, div, rsub, rdiv

Test case in Java: (note all prior cases are passing)
https://github.com/deeplearning4j/deeplearning4j/blob/0c7d15e2cc3d2167672f6ea96dbe45dec92c1f0e/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/autodiff/opvalidation/MiscOpValid

[2018-08-01 12:03] #4502 closed

[2018-08-01 12:03] #5320 closed

[2018-08-01 13:06] raver119 commented on #4658
Fixed/implemented in my branch. Will be merged soon.

[2018-08-01 13:06] #4658 closed

[2018-08-01 13:09] raver119 commented on #5654
Any news?

[2018-08-01 13:10] raver119 commented on #1431
Fixed ages ago.

[2018-08-01 13:10] #1431 closed

[2018-08-01 13:32] emillynge opened #6039 "libnd4j - new SoftMax Op overflows and results in NaN"
#### Issue Description

Please describe your issue, along with:
- expected behavior
	- Use softmax in SameDiffLayer
    - Get values between 0 - 1
- encountered behavior
	- Use softmax in SameDiffLayer
    - Get nan values when input is very large

The problem is caused by the new helper function in `activations.cpp`

[code]
As seen, we are taking exp of the raw input which is likely to cause NaN

[2018-08-01 14:36] #4486 closed

[2018-08-01 14:36] raver119 commented on #4486
Implemented/fixed in my branch. Will be merged soon.

Thanks for highlighting this issue.

[2018-08-01 15:56] bholland commented on #4658
Oh cool. Thank you!

On Wed, Aug 1, 2018 at 9:08 AM, raver119 <notifications@github.com> wrote:

[2018-08-01 17:29] tahaemara opened #6043 "Try to implement FCN but get some errors"
I had tried to implement a semantic segmentation architecture FCN-32s, but I faced an error.

`Exception in thread "main" java.lang.RuntimeException: Failed to allocate 20480864256 bytes from DEVICE [0] memory
	at org.nd4j.jita.memory.CudaMemoryManager.allocate(CudaMemoryManager.java:60)
	at org.nd4j.jita.workspace.CudaWorkspace.alloc(CudaWorkspace.java:198)
	at org.nd4j.jita.allocator.impl.Atomic

[2018-08-01 17:34] raver119 commented on #6043
Sorry, but what's actual question? Your exception is just OOM - model tried to allocate 20GB of memory.
Not too much options here:
- decrease batch size
- tweak architecture
- stick to CPU

p.s. make sure you're using cuDNN. It'll somewhat reduce memory requirements.

[2018-08-01 19:54] sshepel opened #6045 "Libnd4j DeclarableOpsTests3.svd_test8 test failed on windows-x86_64-avx2"
Platform: windows-x86_64-cpu-avx2

Console log:
[code]

[2018-08-01 23:02] borkox opened #6046 "Exception in CnnToFeedForwardPreProcessor"
Hi,
Yesterday my code was working with SNAPSHOT versions, I did nothing more and today after I fetched some maven artefacts (because it is SNAPSHOT) I have this exception:
[code]

I will paste the code with the network:
[code]
I am usng the RL4J packae.

[2018-08-02 00:38] AlexDBlack commented on #6046
This was a temporary (unintentional) change to the default conovlution mode. A fix has already been merged to master, and new snapshots should be going out soon.
In the mean time, you can explicitly set the convolution mode for your network as a workaround.

[2018-08-02 00:38] #6046 closed

[2018-08-02 01:41] saudet commented on #5654
MKLML from MKL-DNN is used as default now, so we can close this.

[2018-08-02 01:41] #5654 closed

[2018-08-02 01:54] saudet commented on #6043
If you're using cuCNN, disable it's workspace allocations: https://deeplearning4j.org/cudnn

[2018-08-02 02:56] AlexDBlack opened #6047 "Dependencies review"
This issue: tracking conflicting version of dependencies.
Where possible, these should be aligned.

Full dependency tree with ```mvn dependency:tree -Dverbose```
https://gist.github.com/AlexDBlack/56dc761373619f75f3dd5fced7172a29

org.objenesis:objenesis:jar:2.6
- 2.1 pulled in by commons-compress 1.16.
- 2.2 pulled in by de.javakaffee:kryo-serializers / com.esotericsoftware:minlog

com.google.gua

[2018-08-02 08:15] fulltopic opened #6050 "ExpReplay Dead Loop"
`
public ArrayList<Transition<A>> getBatch(int size) {

        Set<Integer> intSet = new HashSet<>();
        int storageSize = storage.size();
        while (intSet.size() < size) {
            int rd = random.nextInt(storageSize);
            intSet.add(rd);
        }
// ...
}
`
If (storageSize < size), then inSet.size() would never >= size

Should be
`
public ArrayList<Transition<A>> getBatch(

[2018-08-02 08:19] agibsonccc commented on #6050
Please send us a pull request. https://help.github.com/articles/creating-a-pull-request/

[2018-08-02 08:19] #6050 closed

[2018-08-02 08:30] emillynge commented on #6039
Here is a code snippet that i would think fixes the issue:
[code]

[2018-08-02 09:25] shyrma commented on #6039
Hi, emillynge

Thanks for your participating !
I'll take into account your code and change this operation appropriately

[2018-08-02 09:50] emillynge commented on #6039
@shyrma you may also want to revisit any other method that implements a variant of this op like LogSoftMax.
I should not think any derivate/bp methods needs to be changed as softmax should be invariant to translation.

[2018-08-02 10:10] gradureau opened #6051 "Android Example DL4JImageRecognitionDemo not working"
Hello everybody,
First of all, AndroidNativeImageLoader should be used instead of NativeImageLoader.
But the pressing matter is that regardless of what is drawn on canvas, the output will be the same.

[2018-08-02 10:10] emillynge commented on #6039
FYI, I can see that currently `LossBinaryXENT` has issues specifically because `LogSoftMax` produces NaN values. So right now, I have to prepend my `OutputLayer` with an `ActivationLayer` to stop `LossBinaryXENT` calling `LogSoftMax`

[2018-08-02 10:12] #6051 closed

[2018-08-02 10:15] shyrma commented on #6039
Seems like we had such (epx(raw_input)) in softmaxCrossEntropyWithLogits as well. Fixed now

[2018-08-02 11:35] bartailey opened #6052 "0.9.1 RecordReaderDataSetIterator regression true not reading whole file"
I am running a unit test on version 0.9.1 where I am loading a file where the file I am loading is 100 examples of a 1024 bit string with the regression value is 1025.

When run the RecordReaderDataSetIterator only reads 56 of the values. I have created a number of variations of the input file and the number is always incorrect.

[code]

The output is:

`INFO  com.bactevo.chemistry.hitsneuralnetwo

[2018-08-02 11:36] #6052 closed

[2018-08-02 11:36] agibsonccc commented on #6052
We don't support older versions. Please upgrade and tell us what your "other issues" are instead.

[2018-08-02 12:03] AlexDBlack opened #6053 "ND4J: add equivalent of numpy extract"
This would be useful as an op, and I don't believe we have something equivalent already
https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.extract.html

[2018-08-02 12:28] AlexDBlack opened #6054 "Libnd4j: Add Dynamic Partition Backprop"
Backprop: it's basically dynamic stich, but we need to create the index array from the partitions array.
So if we have partition indices [0, 0, 1, 1, 0, 1] then we want to infer indices [0,1,4] and [2,3,5]. Then it's standard dynamic stitch on the gradient arrays.

I'd implement it in SameDiff/Java, but can't work out how to get the indices (I'd use this if we had it: https://github.com/deeplearni

[2018-08-02 13:00] DrChainsaw opened #6056 "VersionCheck error reading property files"
Any program I run on my windows 10 machine has org.nd4j.versioncheck.VersionCheck printing a bunch or "error reading property files". This has been going on since 1.0.0 beta (now using snapshots). From what I can tell everything still works as normal so there does not seem to be any missing files.

Example POM file:
https://github.com/DrChainsaw/AmpControl/blob/dl4j-snapshot/pom.xml

Example progr

[2018-08-02 13:14] AlexDBlack commented on #6056
That looks very suspicious... given we haven't seen this before, I'm guessing there's some sort of issue with the space in the path.

Can you run the following in cmd, and post the result? (It'll be quicker to run outside of your project directory)
[code]

[2018-08-02 13:26] reuschling commented on #4093
Would be nice if this also works with 1D CNN Layers then. Currently, batchNormalization as Layer with 1D CNN Layers seems to be not possible.

[2018-08-02 16:38] raver119 commented on #6053
Actually we have few ops. Their names are Select, Where and Choose

[2018-08-02 16:41] newinai opened #6058 "TSNE - BarnesHutTsne fit() error"
Hi,

I'm using snapshot version of DL4J ( 1.0.0-SNAPSHOT ) to generate TSNE csv but an error occurs.
The vocab loaded is a classic word2vec generated file with 4693 words.

code is here: https://gist.github.com/newinai/f95d4b37660b97bf4cda092a710170c9

**Error:**
18:33:03.411 [main] INFO  o.deeplearning4j.plot.BarnesHutTsne - Calculating probabilities of data similarities...
18:33:03.412 [main] IN

[2018-08-02 16:55] borkox commented on #6046
thank you Alex

[2018-08-02 22:15] DrChainsaw commented on #6056
Sure thing!

Here you go:

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Maven Stub Project (No POM) 1
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-help-plugin:3.0.1:evaluate (default-cli) @ standalone-pom ---
[INFO] No artifact parameter specified, us

[2018-08-02 23:31] AlexDBlack commented on #6056
Thanks. OK, so it's a standard space in the path, nothing special there... I'll see if I can reproduce this.

[2018-08-03 00:35] AlexDBlack commented on #6053
Ah, cool. Choose looks like it's functionally the same thing. 👍

[2018-08-03 00:35] #6053 closed

[2018-08-03 01:39] tomlue commented on #1877
EdeMeijer it appears that what you are describing is done by this group https://arxiv.org/pdf/1502.02072.pdf. Could you describe why multitask learning with multiple classification tasks can't benefit from non-uniform masking?

[2018-08-03 01:50] AlexDBlack commented on #1877
@tomlue Please don't go posting on issues that have been closed for nearly 18 months now
You're unlikely to get a response.
Furthermore seems you're confusing masking types - per-example masking is fine. Per-output masking for non-binary multi-class doesn't make sense.
If you have a feature request or question - better to ask here - https://gitter.im/deeplearning4j/deeplearning4j

[2018-08-03 01:58] AlexDBlack opened #6060 "DL4J: MLPMnistSingleLayerExample doesn't work with EMNIST iterator"
Starts learning - then divergens.
Could be a tuning issue, but EMNIST and MNIST are pretty close that I wouldn't have expected this...

![image](https://user-images.githubusercontent.com/2360237/43620100-7b5eb4d6-9714-11e8-9e71-d6caa309505c.png)

[2018-08-03 05:26] AlexDBlack commented on #6060
Fixed here: https://github.com/deeplearning4j/deeplearning4j/pull/6061

Basic explanation is that the EMNIST dataset is stored in F order, whereas MNIST is stored in C order, consequently needs to be permuted for consistency. The problem is that in doing so, the original values were being modified incorrectly (instead of being 'read only' data)

[2018-08-03 06:26] AlexDBlack opened #6062 "Arbiter: Missing configuration options"
Thanks to @eraly

- BatchNormalizationSpace does not support constrainBeta and constrainGamma options
- ConvolutionLayerSpace, SubsamplingLayerSpace and Deconvolution2DLayerSpace do not support kernel dilation and use the default value of {1,1}
- Currently EmbeddingLayerSpace does not support hasBias and uses the default value of False
- Currently OCNNLayerSpace do not support the configureR (uses

[2018-08-03 07:06] fulltopic commented on #6050
Pull request #6059

[2018-08-03 09:14] maxpumperla opened #6065 "ND4J: add method to create random int in a range [a,b]"
i.e. `Nd4j.getRandom().nextInt(a,b);`, currently we only have `Nd4j.getRandom().nextInt(b); and a is always 0. you can always add a, but for convenience this would be nice.

[2018-08-03 09:30] magick93 opened #6066 "Consider splitting up repo"
Hello

When cloning this repo, I needed to pull down 560mb.

Im sure most users don't need everything in this repo, as it does cover a lot of different projects in one git repo.

[2018-08-03 09:32] rahul-raj opened #6068 "org.nd4j.linalg.factory.Nd4jBackend - Loaded [JCublasBackend] backend Exception in thread "main" java.lang.NoClassDefFoundError: org/nd4j/linalg/api/complex/IComplexDouble"
Creating this issue as per the discussion yesterday. I re-tried the build today for this issue. Removed nd4j dependencies: `rm -rf ~/.m2/repository/org/nd4j` and re-build the project again:`mvn -U clean package.
`
I'm still getting the below error:

root@instance-1:/home/Deeplearning4J# java -jar target/dl4j-1.0-SNAPSHOT.jar
09:28:22.171 [main] INFO  org.nd4j.linalg.factory.Nd4jBackend - Loaded [J

[2018-08-03 09:33] raver119 commented on #6066
No, split isn't an option really. But eventually we'll do yet another history cleanup.

[2018-08-03 09:33] #6066 closed

[2018-08-03 09:35] raver119 commented on #6068
you'd better rebuilt whole stack including datavec. That might be how outdated stuff gets into your classpath

[2018-08-03 09:38] magick93 commented on #6066
Out of curiosity, why isnt slipping up this repo an option?

[2018-08-03 09:39] AlexDBlack opened #6069 "libnd4j: reduce_dot_bp is wrong"
Dot op: ```out = sum_i x_i * y_i```
Therefore gradient has 3 inputs and 2 outputs.

The reduce_dop_bp implementation (and shape function) only have 1 output

https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/libnd4j/include/ops/declarable/generic/parity_ops/reduce_dot.cpp

[2018-08-03 09:40] agibsonccc commented on #6066
@magick93 we spent the last 4 years like that. We know what it's like to
"split the repo" - the mono repo was implemented to increase code quality and better PR management. We already have test dependencies split out. You can do a shallow clone just fine and have the download be faster. 1 github issue will not undo 4 years of frustrations with workflows trying to make several different projects wo

[2018-08-03 09:42] rahul-raj commented on #6068
I actually did as suggested by Adam yesterday.
Removed all nd4j dependencies first. Since it complains about nd4j dependency class, I guess that would be enough.
Then re-built the maven using snapshot download.

[2018-08-03 09:43] AlexDBlack commented on #6068
This still has to be old/outdated snapshots on your local machine.
I just downloaded the latest nd4j-api sources JAR - and the text "IComplex" doesn't appear anywhere in org.nd4j.linalg.factory.Nd4j.java

https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/nd4j-api/1.0.0-SNAPSHOT/nd4j-api-1.0.0-20180803.092041-6136-sources.jar
https://oss.sonatype.org/content/repositories/snapshots/or

[2018-08-03 09:45] raver119 commented on #6068
I'm recompiling Nd4j multiple times per day, no issues here as well. So it MUST be stale deps on your box being pulled in.

[2018-08-03 09:52] maxpumperla opened #6070 "ND4J: arange and linspace should have stride/step arguments"
Apparently in C++ linspace has step size, but it's inferred, and not exposed to Java .

Also, javadocs lie in this regard, a bit misleading:
https://github.com/deeplearning4j/deeplearning4j/blob/c29b84d58b85547a6cec5eadbad99f60938611bd/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/factory/Nd4j.java#L1824

having this for `arange` as well would be cool.

[2018-08-03 09:55] magick93 commented on #6066
Using `git clone --depth 1 https://github.com/deeplearning4j/deeplearning4j.git` reduced the download to about 110mb.

I am assuming that most first time users to this repo are interested in the examples. Im sure people would appreciate if even these were more easily accessible and lightweight.

Thanks for clarifying your reasoning.

[2018-08-03 10:06] raver119 commented on #6066
Examples are in another repository. And you just don't need main repo unless you're going to mess with source code :)

[2018-08-03 10:06] raver119 commented on #6066
https://github.com/deeplearning4j/dl4j-examples

[2018-08-03 10:27] magick93 commented on #6066
Actually, its in your docs that I got that idea. See https://github.com/deeplearning4j/deeplearning4j/blob/master/README.md - last 2 lines.

[2018-08-03 10:28] raver119 commented on #6066
Ouch. That's not what we mean by `examples` usually, and we should fix that.

[2018-08-03 10:56] sshepel commented on #6068
@rahul-raj  have you tried to remove deeplearning4j and datavec groups from local cache and rebuild your project, as suggested above?
[code]

[2018-08-03 11:09] rahul-raj commented on #6068
@sshepel
I'm re-building accordingly. Guess this would fix my issue. I will update the results here in few mins. Thank you!

[2018-08-03 11:15] rahul-raj commented on #6068
Here is what I followed:

[code]

And here is what I get again:

[code]

[2018-08-03 11:23] sshepel commented on #6068
@rahul-raj is there any chance that you are using local proxy (internal) for snapshots?

[2018-08-03 11:28] rahul-raj commented on #6068
@sshepel
Nope, not using any proxy for snapshots.
Here is the pom.xml:
https://github.com/rahul-raj/Problem-Solving/blob/master/pom.xml

[2018-08-03 11:52] sshepel commented on #6068
@rahul-raj could you please update this line https://github.com/rahul-raj/Problem-Solving/blob/master/pom.xml#L75 to cuda-9.2, same for your dev VM.

[2018-08-03 12:08] rahul-raj commented on #6068
@sshepel
Installing cuda 9.2 in the server at the moment. I will get back to you once I'm done.
Thank you.

[2018-08-03 12:17] AlexDBlack opened #6071 "libnd4j: edge case shape issue with broadcastable ops"
First arg is a true scalar. Second arg is a rank 1 or 2 scalar.
It expects a true scalar out - but actually it should be the same shape as the second arg.

If the second op is not a scalar, it seems to work fine

[code]

[code]

[2018-08-03 12:31] AlexDBlack opened #6072 "Libnd4j: matrix determinant incorrect for 3x3, 4x4 cases"
Seems OK for the 2x2 case. Off by a multiple of -1 for the 3x3 and 4x4 cases

3x3: Expected: 0.0359 Actual: -0.0359>
4x4: Expected: -0.0671 Actual: 0.0671

[code]

edit: the f().matrixDeterminant is new on my branch. It's this op:
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/

[2018-08-03 12:45] rahul-raj commented on #6068
@sshepel
Awesome, Finally that fixed my issue 👍
Thanks a lot for the tip :)
I have few other observations that may require further discussion and may be another issue creation. But that would be out of topic for this issue thread. Let me know if it's ok to discuss that here, otherwise I'm good to close this out for now.

[2018-08-03 12:49] AlexDBlack commented on #6068
OK, great. I'll close this.

@sshepel So the cause here is that cuda 9.1 snapshots are out of date for some reason?

[2018-08-03 12:49] #6068 closed

[2018-08-03 13:01] AlexDBlack opened #6073 "libnd4j: need segment_X backprop ops"
No backprop ops for the segment_x ops (segment_max, mean, etc)
I don't believe there's a way to do this from java.

As for the math, it should be straightforward - identical to the math for the max/mean/min/etc reductions, but executed on the segments. We can omit gradient output for the segment indices (it would be all 0s - as they aren't real valued).

https://github.com/deeplearning4j/deeplearn

[2018-08-03 13:02] AlexDBlack commented on #6065
related: https://github.com/deeplearning4j/deeplearning4j/issues/5776

[2018-08-03 13:05] sshepel commented on #6068
@rahul-raj awesome!
@AlexDBlack the problem is that we dropped support of `cuda-9.1` and switched to `cuda-9.2` (so, latest snapshots updated only for `cuda 8, 9, 9.2` not `9.1`), but `cuda-9.1` artifacts are still exists on `OSS Nexus`.
That is why when @rahul-raj tried to build his project with `cuda-9.1`, maven fetched artifacts for `cuda-9.1` that are still exists, but for the rest dependencie

[2018-08-03 13:08] AlexDBlack commented on #6068
Ah, got it. I didn't realize that we had done that already.
Time for me to upgrade to 9.2 too :)

[2018-08-03 17:41] raver119 commented on #6071
I wouldn't call that a bug, it's more like one of ancient agreements 😄
I've changed behaviour now, so issue should be fixed.

[2018-08-03 20:23] Yu-Hang opened #6077 "Can't find "org.datavec.image.loader.BaseImageLoader""
Hi all,

I'm using deeplearning4j `version: '1.0.0-SNAPSHOT'`. However, I can't import package "datavec". As you can see from the screenshot below, datavec package is not included.

![capture](https://user-images.githubusercontent.com/5137261/43663005-e81238f2-9735-11e8-9739-b78ea6fd9bfd.PNG)

However, I have done "mvn compile" to download the 1.0.0-SNAPSHOT version as you can see from the screens

[2018-08-03 20:26] Yu-Hang commented on #5599
@saudet I tried that. I just opened a new issue for this.
https://github.com/deeplearning4j/deeplearning4j/issues/6077

[2018-08-03 21:14] Yu-Hang commented on #5599
After switching to from "nn" to "core". I was able to compile and run the project. But getting same runtime error like in the beginning of this post at line:
[code]

Error:
[code]

[2018-08-03 22:37] saudet commented on #6077
That just means OpenCV wasn't able to open your file, so it's trying again with Leptonica, but we'll need to add it for that to work:
[code]

[2018-08-04 02:31] AlexDBlack opened #6078 "libnd4j: need trace backprop op"
https://www.tensorflow.org/api_docs/python/tf/trace

2d case is easy: it's just eye(input shape).mul(gradient) (where 'gradient' is a scalar).

For higher dimensional case: say rank 4 input, shape [a,b,c,d]
output (forward) is rank 4, shape [a,b], hence gradientAtOutput is shape [a,b]
GradAtInput is just [a,b,c,d] with the diagonal of [a[i],b[j],:,:] all set to single value gradAtOutput[a[i],b[j]]

[2018-08-04 02:47] AlexDBlack opened #6079 "libnd4j: need op equivalent to INDArray.size(int)"
We can close this (https://github.com/deeplearning4j/deeplearning4j/issues/6078), and I'll do it in Java if I have this simple op that mimics INDArray.size(int).

Input: 1 NDArray arg, 1 integer 'dimension' arg.
Output: rank 0 NDArray, with value equivalent to INDArray.size(dimension)

Edit: needs to support negative values for dimension arg also.

[2018-08-04 02:49] AlexDBlack commented on #6078
Alternatively: if I had this op, I could do it easily in Java only - https://github.com/deeplearning4j/deeplearning4j/issues/6079

[2018-08-04 03:27] ai4java commented on #6060
Thanks for the quick turnaround!
Do you know when this will be available as part of the DL4j/ND4j distribution (i.e. available as a maven dependency)?
My understanding is that currently I have to clone/download the latest source code to benefit from this fix.

[2018-08-04 03:54] AlexDBlack commented on #6060
You don't have to build from source - it should be available on snapshots here: https://deeplearning4j.org/snapshots
And yes, also the next release (we're working on it now... rough ETA is about a week or so for that)

[2018-08-04 06:38] AlexDBlack commented on #6078
https://github.com/deeplearning4j/deeplearning4j/pull/6080
https://github.com/deeplearning4j/deeplearning4j/issues/6079

[2018-08-04 06:38] #6078 closed

[2018-08-04 06:48] raver119 commented on #6079
Implemented and merged

[2018-08-04 06:48] #6079 closed

[2018-08-04 08:33] AlexDBlack commented on #6058
I can't run your code directly, as clearly I don't have your word vectors.
I'm unable to reproduce it with something that I think is equivalent, however:

[code]

[2018-08-04 09:04] chengqiangboy opened #6082 "ND4j: No tensorflow op found for Assert possibly missing operation class?"
I used nd4j to load tensorflow model file, but failed with an exception.

org.nd4j.linalg.exception.ND4JIllegalStateException: No tensorflow op found for Assert possibly missing operation class?
	at org.nd4j.imports.graphmapper.tf.TFGraphMapper.mapNodeType(TFGraphMapper.java:495)
	at org.nd4j.imports.graphmapper.tf.TFGraphMapper.mapNodeType(TFGraphMapper.java:36)
	at org.nd4j.imports.graphmapper.B

[2018-08-04 09:04] agibsonccc commented on #6082
@chengqiangboy did you freeze your graph properly?

[2018-08-04 09:05] raver119 commented on #6082
@chengqiangboy can you please post your model?

[2018-08-04 09:13] chengqiangboy commented on #6082
@agibsonccc yes, I has freezed my graph. And it's ok to use tf java api to load pb file. I tried to debug, found the member `tensorFlowNames` of `DifferentialFunctionClassHolder` has no entry which key equals `assert`.

[2018-08-04 09:14] chengqiangboy commented on #6082
@raver119  i am sorry, but i could not upload my model file.

[2018-08-04 09:16] agibsonccc commented on #6082
@chengqiangboy assertion isn't something we have seen in the graphs we've tested so far for model import. We'd really need to see a copy of your graph. I'm not sure why you "can't" upload your model file. We don't want your secrets. We want something that reproduces the problem. We don't care what it is.

[2018-08-04 09:34] sergmain opened #6083 "javacpp.platform=linux-x86_64 should exclude all window's artifacts"
I'm using Spring Boot to build uber-jar. To reduce size of this jar I use -Djavacpp.platform=linux-x86_64 JVM option and almost all jar for other platforms gone except few:
openblas-0.2.20-1.4.1-windows-x86_64.jar
nd4j-native-1.0.0-beta-windows-x86_64.jar

[2018-08-04 09:35] agibsonccc commented on #6083
@sergmain make sure to to use the -platform dependencies. If you want to exclude the jars for platform, then you'll have to set those up manually

[2018-08-04 09:43] sergmain commented on #6083
So, functionality of  -Djavacpp.platform=linux-x86_64 is broken and you won't fix it, right?

[2018-08-04 10:03] agibsonccc commented on #6083
No. Again, the whole point of the -platform dependencies is to include everything regardless of platfomr.

[2018-08-04 10:15] agibsonccc commented on #6083
@sergmain check my updated comment, I can't even reproduce your problem.

[2018-08-04 10:50] chengqiangboy commented on #6082
<img width="960" alt="20180804184642" src="https://user-images.githubusercontent.com/14273620/43675700-e588bcd2-9816-11e8-9e73-22583f19ac85.png">

@agibsonccc  i understand you, but is there an other way to help to solve this issue?

i had find a similar issue:
https://github.com/tensorflow/tfjs/issues/55

[2018-08-04 11:05] saudet commented on #6083
@sergmain It might not work well if you're using an old version of Maven. Make sure to use one of 3.3.x or 3.5.x.

[2018-08-04 11:16] agibsonccc commented on #6083
So I'd run this pom : https://gist.github.com/agibsonccc/b4e22b861070adcede859f523c172936

using:
mvn clean install -Pjavacpp-platform-custom -Pexclude-local -Djavacpp.platform=linux-x86_64

When you include exclude-local it will only include the jars you need for the specified OS.

[2018-08-04 11:26] agibsonccc commented on #6082
@chengqiangboy again, please post a version of this we can reproduce. The fact it's an issue on another repo, might mean that assert is just not an op that should be output as part of being frozen. We would need to run something to really know.

[2018-08-04 12:39] agibsonccc commented on #6082
@chengqiangboy thanks for sending the file, we'll take a look.

[2018-08-04 12:40] chengqiangboy commented on #6082
@agibsonccc  since the model file is larger than 10MB, i send an email with model file to you.
after remove `Assert` nodes, there is a similar issue `No tensorflow op found for ArgMax possibly missing operation class?`.

[2018-08-04 14:40] raver119 commented on #6082
@chengqiangboy ArgMax is an easy fix. Can you please tell me what input dimensionality your test model expects, so i could check if it actually runs with fix provided?

[2018-08-04 16:43] srengasamy opened #6084 "DL4J output not matching with Keras output"
I am new to deeplearning and please forgive me if I made mistake. I have a LSTM model (stateful) created from keras and trying to load and test with sample inputs. The output from dl4j is different from keras. Only the first set of output is matching with keras.

`public class ImportTest {
  public static double[][] points = {
      {0.76579762, 0.7652092, 0.76491451, 0.76491451, 0.76476669, 0.764

[2018-08-04 18:48] ai4java commented on #6060
Thank you, it works.
Are there any plans to incorporate the fashion-mnist dataset into DL4?
(https://github.com/zalandoresearch/fashion-mnist)
I am willing to help if needed.

[2018-08-05 03:07] agibsonccc commented on #6060
@ai4java submit a PR I guess?  Generally, precooked datasets isn't something that are a top priority for us right now. We're more focused on the internal execution engine right now.

[2018-08-05 10:46] longzhendong opened #6085 "After removing “org/nd4j/linalg/api/complex/IComplexNDArray”, it cannot run in a gpu environment . throw "class not found" exception"
After removing “org/nd4j/linalg/api/complex/IComplexNDArray”, it cannot run in a gpu environment .
throw "class not found" exception

[2018-08-05 10:47] agibsonccc commented on #6085
Those 2 things are not correlated in any way. You have out of date snapshots. Force an update of every jar in the snapshots repo.

[2018-08-05 10:47] #6085 closed

[2018-08-05 11:09] sshepel commented on #6085
@longzhendong it looks like you are using `cuda-9.1` snapshots, we dropped `cuda-9.1` several weeks ago, please update your env and snapshots artifacts version to `cuda-9.2`.

[2018-08-05 11:11] agibsonccc commented on #6085
@longzhendong yes check your cuda version as well. In general, the jars should be updated with mvn -U clean package if it isn't updating the jars.

[2018-08-05 11:48] agibsonccc commented on #6083
@sergmain this release will be going out this week. Thanks for reporting! If you have issues with the work around pom I posted for now, please let me know.

[2018-08-05 14:36] rahul-raj opened #6086 "java.lang.ClassNotFoundException : org.deeplearning4j.nn.layers.convolution.CudnnConvolutionHelper"
I get this error everytime when I run the code against GPU. Found this when my last reported issue was resolved. Thought of opening another one for this and here it is.
![image](https://user-images.githubusercontent.com/517415/43686868-25fef74e-98ea-11e8-916b-ec3a3e25655d.png)

This is my source:
https://github.com/rahul-raj/Deeplearning4J/blob/master/src/main/java/examples/AnimalClassifier.java

[2018-08-05 14:46] #6086 closed

[2018-08-05 14:47] agibsonccc commented on #6086
It explains the nature of the stack trace right in the warning logs. Just include deeplearning4j-cuda with the right cuda version and it will work fine.

[2018-08-05 15:05] rahul-raj commented on #6086
Well, after adding the dependency, I get this error:
![image](https://user-images.githubusercontent.com/517415/43687198-dec6cd02-98ee-11e8-807a-52e6c499dfd1.png)

pom.xml:
https://gist.github.com/rahul-raj/ba8e5bf68b792aa836233716a8583641

[2018-08-05 15:10] agibsonccc commented on #6086
Still not relevant. It's just plain not an error. Cudnn needs to be installed.

[2018-08-05 15:39] rahul-raj commented on #6086
Okay, So now all are installed and errors are gone :)
![image](https://user-images.githubusercontent.com/517415/43687482-85ab3942-98f3-11e8-9def-02dde1d2c1fd.png)
But I do observe that there's no pretty much improvement in the execution time :(

[2018-08-05 16:55] raver119 commented on #6065
Implemented

[2018-08-05 16:55] #6065 closed

[2018-08-05 22:08] saudet commented on #6086
cuDNN comes bundled with the "redist" artifacts so add them to your build as well:
https://github.com/bytedeco/javacpp-presets/tree/master/cuda

[2018-08-05 23:56] #6056 closed

[2018-08-06 01:42] wmeddie opened #6088 "Add support for popular pre-tokenized input formats for NLP"
A lot of times when working with NLP data, you'll get inputs in pre-tokenized formats because the tokenization happens in another stage of the pipeline.  These formats usually similar to but are not proper CSV files.

One popular format is having one document per line with the token index separated by commas or spaces:

examples:

[code]
source: Data link from: https://github.com/jiweil/Hierarchic

[2018-08-06 01:47] AlexDBlack commented on #6088
For the first case, we have this (a recent addition):
https://github.com/deeplearning4j/deeplearning4j/blob/master/datavec/datavec-api/src/main/java/org/datavec/api/records/reader/impl/csv/CSVLineSequenceRecordReader.java

For the second case: that might be harder to support. I think the only thing we can support for now is to concatenate them (i.e., one big long single-column sequence), and split

[2018-08-06 02:18] eraly commented on #6062
So looking at the dl4j code it looks like the  constrainBeta and constrainGamma options get used in BatchNormalizationSpace. It looks like it is getting used in model import for keras layers. I put in the skeleton for it anyway and we can fix it in dl4j later?

It gets really messy on instantiating discrete layer constraints parameter space is...Any thoughts to clean that up?
https://github.com/de

[2018-08-06 02:28] rahul-raj commented on #6086
@saudet

Added below dependency as per my server architecture. Using cuda 9.2 and cuDNN 7.1
[code]
I'm running snapshot version, so let me know if I'm okay adding just the above changes to my pom.xml.
Thanks.

[2018-08-06 02:39] AlexDBlack commented on #6062
Yeah, constrainBeta/Gamma aren't a big deal, but we might as wel fix it in DL4J later.

As for the constraints parameter space code there - I'd just do this instead, which is probably good enough for now:
https://gist.github.com/AlexDBlack/bdcfce752a812007c3d9e40e0af5ebe0

[2018-08-06 02:46] eraly commented on #6062
Ah cool. I'll switch to that in the test. Thanks.
I'll open an issue for constrainBeta/Gamma in a bit.

[2018-08-06 02:49] saudet commented on #6086
Yes, that looks alright, so cuDNN will get used with that.

[2018-08-06 02:57] AlexDBlack commented on #6088
Actually: let's add 3 modes for the second case: {CONCAT, EQUAL_LENGTH, PAD}
CONCAT mode would output a univariate sequence
EQUAL_LENGTH mode would require each sequence to have same number of columns (lines) and same number of tokens in each.
PAD mode would require same number of columns (lines) but pad with a user-specified Writable.

That should cover most cases that we can currently support.

[2018-08-06 03:30] rahul-raj commented on #6086
@saudet
I'm running the snapshot version, so do I have to change the version  from `9.2-7.1-1.4.2` to `9.2-7.1-1.4.2-SNAPSHOT` ?

[2018-08-06 03:32] saudet commented on #6086
No, it's fine without snapshots.

[2018-08-06 07:50] newinai commented on #6058
So, after some checks/tests, i have found the problem:

I opened the dictionnary file and the second line was the "stop word" with only 0.0 values ( 0.0 0.0 .... 0.0)
Removing this line execute the code without any problem.

You can reproduce it easily :)

[2018-08-06 08:14] #6088 closed

[2018-08-06 10:03] reuschling opened #6093 "Convolution1DLayer=>BatchNormalization=>GlobalPoolingLayer throws `UnsupportedOperationException: Global max pooling cannot be applied to feed-forward input type. Got input type = InputTypeFeedForward(128)`"
[#6033](https://github.com/deeplearning4j/deeplearning4j/pull/6033) enables to use Convolution1DLayer with BatchNormalization layers, thanks a lot!
I try to implement a 1D CNN classification for timeseries from this [paper](https://arxiv.org/pdf/1611.06455.pdf) (the FCN, here is the according dl4j code [Gist](https://gist.github.com/reuschling/ba771bb80b609b10cc3c328bdc489086)).
The layers are 3 t

[2018-08-06 10:05] AlexDBlack commented on #6093
Possible quick workaround: you may be able to simply add a FeedForwardToRnnPreProcessor before the global pooling layer.
Beyond that, I'll need to took at this in the debugger...

[2018-08-06 10:12] reuschling commented on #6093
The code is running without Exception with the PreProcessor :+1:

[2018-08-06 10:27] AlexDBlack commented on #6062
https://github.com/deeplearning4j/deeplearning4j/pull/6089

[2018-08-06 10:44] #6058 closed

[2018-08-06 10:45] AlexDBlack commented on #6058
Fixed  here - code now throws a useful exception.
https://github.com/deeplearning4j/deeplearning4j/pull/6094

Note that cosine similarity (default distance metric) is undefined if one of the args are all zeros.

[2018-08-06 11:52] #6047 closed

[2018-08-06 12:37] saudet commented on #6083
The fix has been merged. Thanks for reporting!

[2018-08-06 12:37] #6083 closed

[2018-08-06 13:42] raver119 commented on #5955
Fixes were merged to master. Please confirm problem solved.

[2018-08-06 13:45] raver119 commented on #6039
Issue should be fixed now i think.

Thanks for highlighting this problem.

[2018-08-06 13:45] #6039 closed

[2018-08-06 13:46] raver119 commented on #6082
@chengqiangboy nevermind. ArgMax issue is resolved now, and i'm definitely able to import your graph now.

Thanks for highlighting this problem.

[2018-08-06 15:13] Yu-Hang commented on #6077
@saudet That still don't work:

[code]

[2018-08-06 21:27] WendelHime opened #6096 "NativeImageLoader asMatrix() returning 0"
I'm trying to load an image using NativeImageLoader on Android using the function asMatrix which receives a File, opencv_core.Mat, InputStream, etc. I've tested asMatrix with a grayscale image, RGB and BGR but the values are always 0, the same code on linux and it works perfectly!

I'm using deeplearning4j on version 1.0.0-beta

Here is the code:

[code]

Observation: The image exists, I've checke

[2018-08-07 00:23] AlexDBlack opened #6097 "DL4J: TestSameDiffOutput issues on CUDA"
No JVM crash log - just this on TestOutputMSELossLayer:
[code]

TestMSEOutputLayer gives the following:
[code]

https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-core/src/test/java/org/deeplearning4j/nn/layers/samediff/TestSameDiffOutput.java

[2018-08-07 00:58] AlexDBlack commented on #6097
OK, so I've isolated it to this:
[code]

[2018-08-07 01:38] saudet commented on #6077
Looks like we also need to add the main artifacts:
[code]

[2018-08-07 01:40] saudet commented on #6096
That's been fixed, use 1.0.0-SNAPSHOT: https://deeplearning4j.org/android

[2018-08-07 01:40] #6096 closed

[2018-08-07 03:55] raver119 commented on #6097
Fixed now.

[2018-08-07 03:55] #6097 closed

[2018-08-07 04:44] longzhendong commented on #6085
@sshepel Will the 1.0 release no longer support cuda 9.1？

[2018-08-07 04:56] saudet commented on #6085
@longzhendong Yes, NVIDIA itself doesn't really support 9.1 anymore either.

[2018-08-07 06:37] chengqiangboy commented on #6082
@raver119  @agibsonccc
in my other model, `assert` op is produced by tf's api `rnn cell(LSTM)`, `assert` cannot be remove, could you help me？

[2018-08-07 06:39] raver119 commented on #6082
You know answer i think: send me a model, and i'll take a look.

But once again, it's strange: we have rnn models in tests, and i'm yet to see any single assert use there.

[2018-08-07 08:00] scauglog opened #6100 "DL4J GPU Backend possible memory leak when doing multiple train on same application"
When you train multiple model during the same run of the application (when you do a grid search), the memory on GPU continually increase.
I made [an application to reproduce the problem](https://github.com/scauglog/dl4j_tuning.git). I train on AWS p2.8xlarge with manual installation of cuda.

[2018-08-07 08:56] agibsonccc commented on #6100
Could you tell us a bit more? It's kind of hard to just start running this without knowing where to start. How did you profile it? Was anything attempted as far as basic benchmarking is concerned?

[2018-08-07 09:00] raver119 commented on #6100
In all but 1 cases i've heard of in years, it was just references kept somewhere by user.
In 1 case there was memory fragmentation issue.

Can you please point me to actual code in your repository? The place where you create threads and where you query for results of your models.

[2018-08-07 09:40] AlexDBlack opened #6101 "DataVec: improve errors/validation for images with centers outside of grid"
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/datavec/datavec-data/datavec-data-image/src/main/java/org/datavec/image/recordreader/objdetect/ObjectDetectionRecordReader.java#L233-L236

Currently: if image center is outside of image/grid, user gets an obscure array index exception.

[2018-08-07 09:52] raver119 commented on #6100
What hsould i do to execute your app locally? Can you provide me with step-by-step instructions please?

[2018-08-07 10:01] AlexDBlack opened #6102 "SameDiff execution issue"
[code]

[code]

[2018-08-07 10:04] AlexDBlack commented on #6102
Smaller case:
[code]
[code]

[2018-08-07 11:05] scauglog commented on #6100
- You should have apache spark 2.2.1 and java 8
- export JAVA_HOME  to java8 folder
- export SPARK_HOME to spark folder
- create a folder named data with subfolder train and test.
- copy data/data.csv in those two folder (train and test)
- compile `mvn clean package -Djavacpp.platform=linux-x86_64`
- launch:
[code]
if you don't have more than 50G of ram on you may want to reduce --driver-memory an

[2018-08-07 11:56] raver119 commented on #6100
Is there any way to get rid of spark part? Debugging anything in Spark environment isn't trivial usually

[2018-08-07 12:00] #6102 closed

[2018-08-07 12:07] scauglog commented on #6100
spark just read the CSV file so you can plug any csv reader. I will update the code

[2018-08-07 12:09] raver119 commented on #6100
That would be awesome. Please drop me a line once it happened

[2018-08-07 14:01] WendelHime commented on #6096
1.0.0-SNAPSHOT is available for android development? I've followed this tutorial of [Using deep learning and neural network in applications android](https://deeplearning4j.org/android) and [Using snapshots...](https://deeplearning4j.org/snapshots) and it have some failures on build time

[code]

[2018-08-07 14:03] scauglog commented on #6100
I removed all spark. I keep hadoop dependency for writing on filesystem but it shouldn't bother you

[2018-08-07 22:20] DrChainsaw commented on #5288
Sorry again if I keep beating a dead horse here. Feel free to tell me to stop pestering you about this :)

Anyways, I could not find any feasible way to go back to old snapshots in order to investigate my previous comment.

One thing I did manage to look into was that it seems like architectures with many layers took a big performance hit when WorkspaceMode.SINGLE was deprecated. For example, the

[2018-08-08 00:33] saudet commented on #6096
Try to run `mvn -U compile` before building your project.

[2018-08-08 01:51] WendelHime commented on #6096
I've execute the command above and build again build.gradle file, it works, but now the project doesn't see opencv packages

[2018-08-08 04:45] androuino opened #6105 "enabling import of trained darknet weights to dl4j"
I would like to work on importing the trained darknet weights to dl4j to be used with java. Perhaps someone could help me in doing this. I have heard using JNI and C Dynamic Link Library to implement this but I'm not sure yet if that is the most acceptable solution to try. Thanks in advance. Cheers!

[2018-08-08 04:54] AlexDBlack commented on #6105
We have a pretrained darknet19 model available here (with details on how it was imported): https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-zoo/src/main/java/org/deeplearning4j/zoo/model/Darknet19.java#L42-L53

Is that what you are looking for? Or is there some other variant you want to import?

[2018-08-08 04:59] androuino commented on #6105
Oh, maybe I will try to look for this first. I thought it wasn't implemented yet. Thanks...

[2018-08-08 05:02] AlexDBlack commented on #6105
Ok, I'll close this issue for now. If you can't use that version (or the same import approach can't be used), we can re-open.

[2018-08-08 05:02] #6105 closed

[2018-08-08 07:40] shugeo commented on #6054
This op is more similar to dynamic_partition than dynamic_stitch.

[2018-08-08 07:48] shugeo commented on #6069
Dot is Reduce3 reducable op.

[2018-08-08 08:57] saudet commented on #6096
It's probably looking for the opencv artifact with version 3.4.2-1.4.2.

[2018-08-08 09:22] james-jjj opened #6107 "Lambda Layer.."
Hi  @maxpumperla

I see the this commit.

https://github.com/deeplearning4j/deeplearning4j/commit/c451be9c3b48cbc5c12269fb83657785fa06fd69#diff-5143a696160546bfa067b979fbde54ce

Can I use it?

Thanks.

[2018-08-08 09:58] Arkariian opened #6108 "Output differ between keras prediction and DL4j(model from keras trained) prediction"
hi!
I have this net trained with keras with 99% accuracy. When i predict in keras the result is one and DL4j is other.
In keras: [[1.8116718e-05 9.9998188e-01]]
IN DL4J: [[9.9999987e-01 0.0000278e-12]]

`

    #model.add(Lambda())  #resize images to allow for easy computation
    #model.add(Conv2D(16,(5,5),padding = 'same',activation='relu'))
    #model.add(MaxPooling2D(pool_size=(3,3)))
    #mode

[2018-08-08 10:14] raver119 commented on #6069
Yes, it is reduce op. But since it takes 2 inputs for multiplication, it should provide 2 gradients. Not 1.

[2018-08-08 10:17] raver119 commented on #6107
Sorry, what exactly you're asking about?

You can use anything that's available in our repository. In case of new features - you'll probably be using snapshots, but still everything should be usable.

[2018-08-08 10:23] #6107 closed, assigned to nobody

[2018-08-08 10:41] maxpumperla commented on #6108
@Arkariian I need your model to reproduce this, but: before I do anything please test both models with artificial data that don't involve your manual preprocessing steps (just to make sure that's not the issue)

[2018-08-08 12:01] Arkariian commented on #6108
@maxpumperla yes i try both models with random data(but the same on each model), this is the code en DL4j i can't attach the model because is a big file (55mb). how can i do it?

`public class Model {

	private static Logger logger = Logger.getLogger(Model.class);

    private final static String SIGNATURE_MODEL_PATH = "signature.model.path";
    private final static String SIGNATURE_MODEL_IMAGE_W

[2018-08-08 12:15] maxpumperla commented on #6108
@Arkariian can you put it on gdrive or so? otherwise hit me at

max at skymind io

[2018-08-08 12:18] Arkariian commented on #6108
@maxpumperla
this is the gdrive link [https://drive.google.com/file/d/1HDnie7KmO3ozJDJWMSGw28mt5rUuNQWH/view?usp=sharing](url)

[2018-08-08 12:19] shugeo commented on #6072
there is a matrix for reproduce the case : 3x3 (12.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 13.0)
expected 189, actual -189

[2018-08-08 12:38] maxpumperla commented on #6108
cool, thanks. what's the input shape for this model?

[2018-08-08 13:27] Arkariian commented on #6108
Input shape is 64x85 with depth 1.

 I dont know if the problem is numpy array to INDarray or de model

[2018-08-09 01:02] james-jjj commented on #6107
@raver119 @AlexDBlack
Thanks a lot !

[2018-08-09 01:10] eraly commented on #5432
It looks like a bug in TF freeze_graph. The random normal is used the same way as with weights to generate initial values. It should get converted to a constant the same way but isn't.

[2018-08-09 03:38] apatzer opened #6111 "Find optimal threshold for a classifier"
### Background

Implicitly binary classifiers use 0.5 as a threshold. This is not always the best choice. The better option is to use an ROC and look at the PrecisionRecallCurve, seeing what threshold maximizes a particular metric.

### Proposal

Add a method to `PrecisionalRecallCurve` to `findOptimalThreshold` using some criteria. Since `PrecisionRecallCurve` seems to hold the full array of TP/T

[2018-08-09 05:13] longzhendong commented on #6085
@sshepel When will version 1.0.0 be released？

[2018-08-09 07:08] AlexDBlack commented on #6085
@longzhendong We don't have a date for 1.0.0. However, the most recent release - 1.0.0-beta2 - is out on maven central as of today.

[2018-08-09 08:55] acampesino opened #6112 "Datavec: JDBC - NullPointerException when column value in db is Null"
JDBCRecordReader throws a NullPointerException if there are records in the db that does not have a value for some of the columns (Null):

java.lang.NullPointerException
	at org.datavec.api.util.jdbc.JdbcWritableConverter.convert(JdbcWritableConverter.java:50)
	at org.datavec.api.records.reader.impl.jdbc.JDBCRecordReader.toWritable(JDBCRecordReader.java:204)
	at org.datavec.api.records.reader.impl.

[2018-08-09 11:27] raver119 commented on #6112
Should be fixed now i think.

[2018-08-09 11:27] #6112 closed

[2018-08-09 12:12] Arkariian commented on #6108
@maxpumperla i check that the input is exactly the same in both cases, so i don't know why is different on the output, if is only a keras import, i 'll add a file with an input array.
[2_to_array.txt](https://github.com/deeplearning4j/deeplearning4j/files/2274083/2_to_array.txt)

[2018-08-09 19:50] nlawrence2 opened #6117 "K Fold Iterator tries to index past end of INDArray."
Using a kFoldIterator on a dataset of length 8964 fails with k=10. It seems to be only for values of k that do not divide evenly into 8964.
![image](https://user-images.githubusercontent.com/42251850/43922091-4ea5d8ce-9be3-11e8-8658-974e21d8929e.png)

[2018-08-10 01:16] AlexDBlack commented on #6117
Thanks for reporting, but this was fixed in 1.0.0-beta2 which is already avaliable on maven central (as of about 24 hours ago)

[2018-08-10 01:16] #6117 closed

[2018-08-10 02:30] saudet commented on #6077
We've released 1.0.0-beta2 and I've also updated the documentation and examples,
so please try again with this new set of dependencies:
https://github.com/deeplearning4j/deeplearning4j-docs/pull/111/files
https://github.com/deeplearning4j/dl4j-examples/commit/6b2af844891f352f8b814695811d306c4c703683

[2018-08-10 06:07] raver119 opened #6122 "DeConv3D impl"
We need deconvolution3d operation to be implemented

[2018-08-10 06:11] maxpumperla opened #6123 "SepConv1d implementation in libnd4j (with bp)"
Aha! Link: https://skymindai.aha.io/features/ND4J-163

[2018-08-10 07:50] maxpumperla commented on #5889
@pavansolapure this is now supported in 1.0.0-beta2, see here:

https://github.com/deeplearning4j/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/preprocessing/text/TokenizerImportTest.java

you probably have to install `keras-preprocessing` from master though. closing.

[2018-08-10 07:50] #5889 closed

[2018-08-10 07:58] maxpumperla opened #6124 "[Keras] Support Deconv3D layers + import"

[2018-08-10 07:59] maxpumperla opened #6125 "[Keras] Support sepconv1D layers + import"

[2018-08-10 08:05] pavansolapure commented on #5889
Appreciate!
I will try this for sure.

[2018-08-10 08:31] maxpumperla commented on #5889
cool, happy to hear your feedback

[2018-08-10 09:01] new2scala opened #6126 "Issue with DataSetIterator under hdfs?"
I ran into following Exception with **MnistMLPExample** (as well as **SparkLSTMCharacterExample**) using spark cluster on AWS with Hadoop
`2018-08-10 10:49:01 WARN  TaskSetManager:66 - Lost task 3.3 in stage 5.0 (TID 543, 172.16.1.98, executor 2): java.lang.RuntimeException: Error loading DataSet at path /tmp/dbg11/1533890930955_52db26fe/1/data/dataset_352db26fe_5.bin - DataSet may be corrupt or i

[2018-08-10 10:50] AlexDBlack opened #6128 "StackVertex config class getOutputType is incorrect"
StackVertex operates on dimension 0. Hence it should not be adding size or depth:
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/graph/StackVertex.java#L121

https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/deeplearning4j/deeplearni

[2018-08-10 11:14] grayhaired opened #6130 "Need method to Evaluate Paragraph Vector at each epoch"
As paragraph vectors are unsupervised learning, and take long time to train, it's important to evaluate them as they are getting trained. But as of now, we don't have any method to evaluate paragraph vectors during training. We'll have to wait till the training is complete.

For example, if we want to know quality of model at epoch 5 and epoch 10, we'll have to train model two times - for epoch 5

[2018-08-10 12:04] shugeo commented on #6037
there are subtract, reversesubtract, divide and reversedivide broadcastable ops.

[2018-08-10 13:25] #5488 closed

[2018-08-10 14:46] emillynge opened #6131 "Incorrect indexing"
I saw some weird results in my pipeline and initially thought i had messed up transposing/indexing. But I now quite convinced that the current snapshot of Nd4j does incorrect indexing in the following case:
[code]

Soooo, what gives? any idea what is happening here?

[2018-08-10 14:53] emillynge commented on #6131
Btw, version 0.9.1 works correctly

[2018-08-10 15:26] emillynge commented on #6131
The problem is in this method in `BaseNDArray`
[code]
The method `this.getScalar(i)` does not take stride into account at all. so calling it from `createScalarForIndex` is not at all safe.
I think was is confusing developers is the method `isVector`, because it seems people assume strides can be disregarded if that method returns true. But is unfortunately not the case if the array is not contiguo

[2018-08-10 15:30] sergmain opened #6132 "libopenblas_nolapack.so.0: cannot open shared object file: No such file or directory"
Hello,

I've just tried to run my application on beta2 and I've got the follow exception:
Caused by: java.lang.UnsatisfiedLinkError: /app/.javacpp/cache/openblas-0.3.0-1.4.2-linux-x86_64.jar/org/bytedeco/javacpp/linux-x86_64/libjniopenblas_nolapack.so: libopenblas_nolapack.so.0: cannot open shared object file: No such file or directory

You can find full stacktrace here - https://gist.github.com/s

[2018-08-10 15:45] emillynge opened #6133 "DataBuffer.length() does not reflect how much contiguous memory is allocated to parent array"
In the method `public static boolean isContiguousInBuffer(INDArray in)` created by @AlexDBlack back in 2015, the first check to see if an array is contiguous is to compare `array.length()`with `data.length()` :
[code]

This leads me to believe that the __original__ idea behind `DataBuffer.length()` is to determine how much memory a matrix is depending on in native memory.

But at the moment, the a

[2018-08-10 18:57] AemonAlgiz opened #6135 "UNet bug"
Calling init() on UNet throws the following:

Exception in thread "main" java.lang.IllegalStateException: Invalid configuration: disconnected vertices found - [up9-1]. Disconnected vertices are those that do not connect to either another vertex, and are also not a network output. To disable this error (i.e., allow network configurations with disconnected vertices) use GraphBuilder.allowDisconnecte

[2018-08-10 22:30] saudet commented on #6132
Could you set the "org.bytedeco.javacpp.logger" system property to "slf4j", with a logger set to debug,  and post the log again? Thanks!

[2018-08-11 07:40] #6077 closed

[2018-08-11 08:45] sergmain commented on #6132
Here - https://gist.github.com/sergmain/d42dd786b3d9325f94b53dee376f8d19

Btw, developers from bytedeco should rewrite its logging system. Using system property to configure application is bad practice.

[2018-08-11 10:05] agibsonccc commented on #6132
@sergmain We maintain bytdececo too.  We also use system properties to configure nd4j as well. I'm not sure where you got that from, but you just dissed a good number of the top java libraries used by more than half the ecosystem. When  you've built your successful library, you can show us how to do it :).

[2018-08-11 13:01] sergmain commented on #6132
There are such things as JEE aplication servers, servlet containers, portals, OSGi container (not sure about it, actualy) which use single JVM to run numbers af application. In such environment using system properties is a bad practice.

About relating to topic. @saudet asked me to make some sets and rerun test. It took time to realize what does it mean "set the "org.bytedeco.javacpp.logger" syste

[2018-08-11 13:31] agibsonccc commented on #6132
@sergmain yes we run things there too.Most libraries do not make the assumptions about those things anymore. There are also desktop application with plugins. Generally, system properties are for once per startup global state. In practice this isn't a problem and has more benefits than problems (and frankly as a library author myself, there is just no general purpose way to do this, the alternative

[2018-08-11 22:24] saudet commented on #6132
@sergmain Yes, this is a global setting, it's not meant to be changed per application. In any case, JNI does not support being loaded from multiple class loaders, so JavaCPP and ND4J need to be loaded by a shared class loader anyway.

It seems there is something strange with the URL class. These 2 lines:

Should actually be:

What's the exact version of the JDK as returned by `java -version`?

[2018-08-11 22:57] sergmain commented on #6132
@saudet , properties is here - https://gist.github.com/sergmain/9263e5f56254e19434878714515a74bb

heroku project on github as well, so you can request the help directly form heroku team
https://github.com/heroku

[2018-08-11 23:07] saudet commented on #6132
There doesn't seem to be anything funny with this environment, not sure it's an issue with Heroku. What happens if you use your uber JAR locally with a simple `main()` method? Does it succeed?

[2018-08-11 23:15] sergmain commented on #6132
Yes, it's working, but my dev enviroment is windows. I'd like to point out to the fact that 1.0.0-beta is working in heroku.

[2018-08-11 23:25] sergmain commented on #6132
idk what does that mean - "That will happen with you exclude the MKL-DNN dependency."
project which I use for testing is here https://github.com/sergmain/dl4j-uber-jar

[2018-08-12 02:25] saudet commented on #6132
`org.nd4j.linalg.factory.Nd4j.create(1)` works for me on Linux with the libs it bundles. Might be related to Spring then. Could you try to load JavaCPP and ND4J as shared libraries?

[2018-08-12 04:55] agibsonccc commented on #6132
@sergmain could you try the uber jar with shade plugin instead maybe? I know what we're showing you here for troubleshooting is new. If you don't want to worry about some of the things sam is telling you, try doing it the way we do it in the standalone examples project:  https://github.com/deeplearning4j/dl4j-examples/blob/master/standalone-sample-project/pom.xml

[2018-08-13 01:10] longzhendong opened #6140 "execSSReduceScalarFloat(...) failedError code [4]"
Exception in thread "main" java.lang.RuntimeException: execSSReduceScalarFloat(...) failedError code [4]
	at org.nd4j.nativeblas.Nd4jCuda$NativeOps.execSummaryStatsScalarFloat(Native Method)
	at org.nd4j.linalg.jcublas.ops.executioner.CudaExecutioner.naiveExec(CudaExecutioner.java:386)
	at org.nd4j.linalg.jcublas.ops.executioner.CudaExecutioner.exec(CudaExecutioner.java:647)
	at org.nd4j.linalg.jc

[2018-08-13 01:14] #6140 closed

[2018-08-13 01:14] agibsonccc commented on #6140
Please add more information next time. Don't just post a stack trace. We don't have any context.

[2018-08-13 05:32] sshepel opened #6141 "Datavec-api | JacksonLineRecordReaderTest.testJacksonLineSequenceRecordReader test failure"
Platform: linux-x86_64
Backend: CPU
More details: http://master-jenkins.skymind.io:8080/blue/organizations/jenkins/deeplearning4j%2Fdeeplearning4j/detail/PR-6139/2/pipeline/55/
Error logs:
[code]

[2018-08-13 06:01] raver119 commented on #6135
cc @crockpotveggies

[2018-08-13 06:16] AlexDBlack opened #6142 "SameDiff/Libnd4j: reverse op failing for rank 1 with dimension -1/0"
Input: rank 1, values [0, 1, 2, 3, 4].
Dimensions: [-1] or [0]

[code]

To reproduce: it's failing test on nd4j TF import when run on this TF resources branch:
https://github.com/deeplearning4j/dl4j-test-resources/pull/145

[2018-08-13 07:27] AlexDBlack opened #6143 "Maven: Not catching java 8+ code in java 7 module"
These imports are Java 8:
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/nd4j/nd4j-common/src/main/java/org/nd4j/tools/BTools.java#L21-L22

Yet the language level for the module is set to java 7:
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/nd4j/nd4j-common/pom.xml#L30-L31

Clearly, Maven (and, Intell

[2018-08-13 07:28] raver119 commented on #6143
Worth a note: this issue wasn't noticed before due to intellij weird behavior. Once we "fix" language level somewhere in project (first candidate is nd4j-tests) - level gets silently applied to the whole project. So this stuff became invisible for Intellij as well.

[2018-08-13 10:01] fstern97 opened #6146 "Didn't find class "org.bytedeco.javacpp.hdf5""
I want to use org.deeplearning4j.nn.modelimport.keras.KerasModelImport to import a pre-trained Keras Model in Android. However, whenever I run KerasModelImport.importKerasSequentialModelAndWeights I get the error message

`E/AndroidRuntime: Caused by: java.lang.ClassNotFoundException: Didn't find class "org.bytedeco.javacpp.hdf5"`

Digging into the code, org.bytedeco.javacpp does not even contain

[2018-08-13 10:01] #6146 closed

[2018-08-13 10:03] agibsonccc commented on #6146
If this was a bug you would not have been the first person to find it. Please follow this blog post: https://medium.com/@bgweber/deploying-keras-deep-learning-models-with-java-62d80464f34a This is someone who just recently worked with it who isn't one of the contributors. This integration is widely used at this point.

[2018-08-13 11:16] sandgrules opened #6147 "UI/Nd4j possible issue?"
I'm working a scala/maven/intellij/DL4J project. I have a ComputationGraph that I'm training over an array of MultiDataSets, with backend set to nd4j-native-platform. It appears to train fine until I try to use the Training UI. My relevant code snip:
    import org.deeplearning4j.ui.api.UIServer
    val uiServer = UIServer.getInstance
    val statsStorage = new InMemoryStatsStorage()
    uiServer.

[2018-08-13 11:18] raver119 commented on #6147
You have versions class somewhere in your pom.xml. Mixing different dl4j/nd4j versions.

[2018-08-13 11:18] #6147 closed

[2018-08-13 11:40] sandgrules commented on #6147
@raver119 :+1:

I had dl4j/nd4j 1.0.0-beta. Once I switched ui from beta2 to beta it started working.

[2018-08-13 11:41] raver119 commented on #6147
you should go in opposite direction: use beta2 everywhere 😊
пн, 13 авг. 2018 г. в 14:40, sandgrules <notifications@github.com>:

[2018-08-13 12:03] sshepel commented on #6141
Fixed in #6144 by @AlexDBlack, thanks!

[2018-08-13 12:03] #6141 closed

[2018-08-13 12:22] GlassyWing opened #6148 "SameDiff does't calculate shape"
like this,  the shape should be calculated in principle ，while that is null in fact.
[code]

Aha! Link: https://skymindai.aha.io/features/ND4J-162

[2018-08-13 12:34] GlassyWing commented on #6148
@raver119 so, i have to add "sd.exec()" to get the shape.
like this:
[code]
But I don't know whether it is an effective way.

[2018-08-13 12:39] agibsonccc commented on #6148
@farizrahman4u if I remember you were working on this a bit?

[2018-08-13 12:40] raver119 commented on #6148
@GlassyWing It's not effective, and we're going to provide proper support for this. But as temporary workaround - that works. Once you execute graph - everything gets resolved.

[2018-08-13 15:05] AILTON091 opened #6150 "Convert Mat image to INDArray, When trying to convert Mat image to INDArray it is returning me INDArray null"
I have this code and I do not understand why my IDNarray image is returning me null when I try convert Mat in INDArray.
I using the android sutdio 3.0.1.

[code]
output: carregar modelo matrixes  NULL

[2018-08-13 15:06] agibsonccc commented on #6150
Again, please make sure to upload the image. If we can't reproduce it, I am closing this.

[2018-08-13 19:58] sshepel opened #6151 "Failing tests for deeplearning4j-core module"
Platform: linux-x86_64
Backend: CPU
Error snippet:
[code]
Full log: http://master-jenkins.skymind.io:8080/blue/organizations/jenkins/deeplearning4j%2Fdeeplearning4j/detail/PR-6139/4/pipeline/55/

[2018-08-13 21:07] saudet commented on #6143
As I've mentioned in passing before (https://github.com/deeplearning4j/deeplearning4j/issues/5599#issuecomment-402373070) this is actually a DevOps issue. We need to build modules that are supposed to be Java SE 7 with JDK 7... Not sure that it's actually possible to build with JDK 7 and test with JDK 8, so we might need to "port" the tests to Java SE 7 as well before.

[2018-08-13 21:12] saudet commented on #6146
HDF5 doesn't support Android. You'll need to import the model on the desktop.

[2018-08-13 21:28] saudet commented on #6150
You'll need to convert the Mat to a JavaCPP Mat like this: https://github.com/bytedeco/javacpp/issues/38#issuecomment-140728812
I should probably put that somewhere in the code...

[2018-08-13 21:49] AILTON091 commented on #6150
@saudet And how do I fix this?

[2018-08-13 21:51] saudet commented on #6150
Call `new Mat((Pointer)null) { { address = digit.getNativeObjAddr(); } };` and use that.

[2018-08-13 22:44] AILTON091 commented on #6150
Mat mat2 = new Mat((Pointer)null) { { address = digit.getNativeObjAddr(); } };
Mat mat = new Mat(mat2.address());

when I use both codes gives me the message: cannot resolve symbol 'address'

[2018-08-14 00:49] AlexDBlack commented on #6151
First one is probably just another file iteration order issue.
Passes for me (both linux and Windows) last I checked.

As for LayerConfigTest.testWeightBiasInitLayerwiseOverride - that's probably something I broke recently (just lombok-generated equals method not doing what it's supposed to)

[2018-08-14 00:52] AlexDBlack commented on #6143
That would certainly guarantee that we don't have any java 8+ code slip in. :)
I'd be surprised if there wasn't some other solution though, this is a common issue with java development...

[2018-08-14 01:59] saudet commented on #6143
I'm not sure there would be a reason to have another solution. If you're not testing your code against JDK 7, how could you know that it actually works with JDK 7?

[2018-08-14 02:08] saudet commented on #6132
In any case, if MKL-DNN isn't a concern, we can exclude it from your project like this in the `pom.xml` file:
[code]
And it will work just like 1.0.0-beta.

[2018-08-14 03:40] AlexDBlack opened #6153 "DL4J: refactor layer conf into one package for easier imports"
The diea: it would be nice if users (in a notebook, or whatever) could do the following to get all DL4J layers, rather than needing multiple imports given the current subdirectory structure:
[code]

To handle backward compatibility, we can have the old/oliginal classes be empty, except for extending the new/moved layer config class.
There would also be a small amount to do for handling JSON backwa

[2018-08-14 06:02] raver119 commented on #6143
Hm, but our codebase is a mix of j7 and j8. Anything aeron-related is j8 :(
So, part of tests (for these modules) will require j8 as well

[2018-08-14 07:48] emillynge commented on #6133
@AlexDBlack, can you tell me what the intended behaviour for `DataBuffer.length()` is/was supposed to be?

I'm basing this issue mostly on code you committed 2-3 years ago, so if I have misunderstood it's intentions, then this issue is moot.

The code I'm referring to is this: https://github.com/deeplearning4j/deeplearning4j/commit/45b470325f00de13572243a00f5ddd51f9e1a0b4#diff-7cfd9d445226329cc274

[2018-08-14 08:25] Arkariian commented on #6108
@maxpumperla any news?

[2018-08-14 08:37] AlexDBlack commented on #6151
Fixed

[2018-08-14 08:37] #6151 closed

[2018-08-14 08:43] AlexDBlack opened #6154 "Libnd4j: ATan2 op broadcast case issue"
Shapes: [3,1,4]+[1,2,4] = [3,2,4]
But atan2 op returns [3,1,4] for its shape function.

[code]

[code]

[2018-08-14 08:52] maxpumperla commented on #6108
@Arkariian I'll let you know. We don't give time-lines in open source.

[2018-08-14 09:15] raver119 commented on #6154
But this op never was broadcastable for us 😄

Should it become one?

[2018-08-14 09:16] raver119 commented on #6154
p.s. it's pairwise for us. And with this shapes it should throw exception during execution.

[2018-08-14 09:16] AlexDBlack commented on #6154
Yes, it's broadcastable for TF and hence needs to be for TF import :)

[2018-08-14 09:16] raver119 commented on #6154
Okay, easy fix.

[2018-08-14 09:19] AlexDBlack opened #6155 "Libnd4j: argmin shape function differs from argmax (old shape assumptions)"
argmax([3,4],dim=0) gives [4] output
argmin([3,4],dim=0) gives [1,4] output

[code]

[2018-08-14 11:20] AlexDBlack opened #6158 "Libnd4j: boolean_and/or op crash"
Both boolean_and and boolean_or ops are crashing on the following:

[code]

Crash log:
https://gist.github.com/AlexDBlack/c82ccfbf6cd7febd298b22e950fa82d9

(Happens for both float and double precision)

Edit, unrelated: this line looks wrong (wrong op) for both ops:
https://github.com/deeplearning4j/deeplearning4j/blob/d01f7ddb25a8ba12d19622edd363ce92d78e5313/libnd4j/include/ops/declarable/generic

[2018-08-14 11:35] AlexDBlack commented on #6158
Oh, and we don't have a ```boolean_xor``` op. Need this one too as a broadcastable op.

[2018-08-14 11:48] AlexDBlack opened #6159 "ND4J: issue with permute for wrong arg length case"
This long wrong:

https://github.com/deeplearning4j/deeplearning4j/blob/6499c7a542df03eba84e14e9bee505f3617db25f/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/api/ndarray/BaseNDArray.java#L5523-L5524

[2018-08-14 11:57] AlexDBlack commented on #6133
No, it's not broken - ```in.length() == in.data().length()``` is not usually true for views

[2018-08-14 12:03] AlexDBlack commented on #6133
As for the other issues - I'm not seeing a problem here...

it's just the number of elements of whatever type in the data buffer

We have helper methods for that, as you have found. If users need to know it, and existing methods aren't suitable - let's add an INDArray.isContiguous() or something?

We use view checks + check if contiguous before serializing. It's an implementation issue that should

[2018-08-14 12:12] raver119 commented on #6158
Hm. Good catch.

[2018-08-14 12:16] AILTON091 commented on #6150
final Mat finalDigit = digit;
                org.bytedeco.javacpp.opencv_core.Mat img = new  rg.bytedeco.javacpp.opencv_core.Mat((Pointer)null) {{ address = finalDigit.getNativeObjAddr();}};

                NativeImageLoader nativeImageLoader = new NativeImageLoader(digit.height(), digit.width(), digit.channels());//Use the nativeImageLoader to convert to numerical matrix
                INDArra

[2018-08-14 13:14] raver119 commented on #6069
Should be fixed now i guess.

[2018-08-14 13:14] #6069 closed

[2018-08-14 13:33] TobiasGoerke opened #6161 "Keras Import of HDF5 MobileNet Fails"
I have obtained a Keras .h5 model from [here](https://github.com/JonathanCMitchell/mobilenet_v2_keras/releases) (You will find a specific model attached).

When importing it via the inbuilt mechanism:

`KerasModelImport.importKerasModelAndWeights(pathToFile);
// or
KerasModelImport.importKerasSequentialModelAndWeights(pathToFile);`

 I am getting the following error:

`java.lang.RuntimeException:

[2018-08-14 13:55] maxpumperla commented on #6161
@TobiasGoerke not sure what's going on there, but it seems the file is corrupted. We have a test for mobile net on master:

https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/deeplearning4j/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/e2e/KerasModelEndToEndTest.java#L407-L408

maybe you want to try this one instead?

[2018-08-14 13:55] #6161 closed

[2018-08-14 14:43] rahul-raj opened #6162 "lda2vec Implementation in DL4J"
I would like to log a feature request to have **lda2vec** support in dl4j for topic modelling.

Aha! Link: https://skymindai.aha.io/features/DL4J-75

[2018-08-14 17:26] fstern97 commented on #6146
@saudet  Sorry, I am not really sure what you mean by "You'll need to import the model on the desktop". It is not possible to use "importKerasSequentialModelAndWeights" due to lacking HDF5 support ? Does that mean that there is no way to import a pre-trained Keras model using deeplearning4j an Android ?

[2018-08-14 17:27] TobiasGoerke commented on #6161
Thanks, this model now gets loaded without errors.
However, it throws an exception when being executed.

Following code should work (I suppose):
`
    public static void main(String[] args) throws Exception {
        String filePath = FileReader.resourceToFile("mobilenet_tf_keras_2.h5").getPath();
        ComputationGraph model = KerasModelImport.importKerasModelAndWeights(filePath);

        Buff

[2018-08-15 00:33] AlexDBlack commented on #6161
@TobiasGoerke No, that's definitely not a bad model. That's an issue with the data pipeline.

Try with NativeImageLoader instead of Java2DNativeImageLoader

[2018-08-15 06:18] AlexDBlack opened #6165 "Libnd4j/Nd4j: Scatter ops can't handle scalar index case"
scatter ops take 3 input arrays: reference, indices and updates.
https://www.tensorflow.org/api_docs/python/tf/scatter_add

Scalar indices (with 2d reference, 1d updates) should be a legitimate case here, but currently crashes.

[code]

[code]

[2018-08-15 06:25] raver119 commented on #6165
cc @shyrma

[2018-08-15 06:26] TobiasGoerke commented on #6161
@AlexDBlack I have tried both without success. I have also tried loading the image as a byte array and directly from file, among others.

[2018-08-15 06:30] saudet commented on #6143
@raver119 Yeah, exactly, good luck @sshepel :)

[2018-08-15 06:31] raver119 commented on #6158
Fixed now, and xor + not were added as well.

[2018-08-15 06:35] saudet commented on #6132
@sergmain Could you also post the log from JavaCPP?

[2018-08-15 06:38] saudet commented on #6132
Also, does this happen only with Spring? Or does it happen with other containers or just raw Java on Heroku's PaaS?

[2018-08-15 06:40] saudet commented on #6150
Probably not, make sure you're not trying to use multiple versions of OpenCV together: Use JavaCV only.

[2018-08-15 06:44] saudet commented on #6146
Yes, that's correct, we need to import it on Linux, Mac, or Windows, and then load it in DL4J format on mobile platforms like Android or iOS.

[2018-08-15 07:43] TristanMeng commented on #5814
how to solve?

[2018-08-15 08:00] AlexDBlack commented on #5814
@TristanMeng please don't post on old issues with zero detail of your problem
If you have a problem, open a new issue will full details - exception stack trace, code, network configuration, etc.

[2018-08-15 08:39] emillynge commented on #6133
It is true for views that requires a subbuffer. i.e views that does not include the very first element.
Some example code of this happenning:
[code]

As you can see, the view of the mid column suffers from this issue. length of both array and databuffer is 10, but in reality, the last element of the vector is positioned at offset 95. As far as DataBuffer is concerned, position 95 **should** be out

[2018-08-15 08:47] CedricReichenbach opened #6166 "Loading nd4j multiple times in the same JVM results in UnsatisfiedLinkError"
_We're running into a similar problem as others before, e.g. this one: https://github.com/deeplearning4j/nd4j/issues/1507_

In our case, we're running a tomcat containing two webapps, each of which containing nd4j-native jars (brought in by a maven dependency to `nd4j-native-platform`).

When calling `build()` on a network configuration (likely in the second webapp), the following exception is thr

[2018-08-15 09:10] AlexDBlack commented on #6158
Confirmed fixed - thanks!

[2018-08-15 09:10] #6158 closed

[2018-08-15 09:30] sergmain commented on #6132
@saudet the last gist contains log from javacpp. Or you need other log info?

I don't use dl4j with any other containers nor PaaS, so idk. btw, on windows it's working.
"Also, does this happen only with Spring?" -  my application is Spring based only.

[2018-08-15 12:04] emillynge opened #6168 "ry list of lists"

[2018-08-15 12:04] #6168 closed

[2018-08-15 12:05] emillynge commented on #6168
I was not in google...

[2018-08-15 13:05] shyrma commented on #6165
Repaired !

[2018-08-15 14:32] TobiasGoerke commented on #6161
First off, excuse me for pushing this thread again.
While looking for a solution, I stumbled upon a similar issue submitted on GitHub (see [here](https://github.com/deeplearning4j/deeplearning4j/issues/5393)).

The model provided by its author does not throw any error when called. Is it possible the dl4j-test-resources model is corrupted?

[2018-08-15 15:35] maxpumperla commented on #6161
@TobiasGoerke thanks for being persistent, that's very helpful. Would you mind creating a PR against test resources with that model?

I'm currently neck deep in something else, but can go back to keras import issues a littler quicker soon.

[2018-08-15 16:00] raver119 opened #6169 "Mixed prec GEMM for CUDA"
Time to implement mixed precision GEMM for CUDA, and expose it (probably) as standalone operation.

[2018-08-15 18:53] AILTON091 commented on #6150
Would this be, instead of using opencv to use javaCv throughout my code?

[2018-08-15 20:58] TobiasGoerke opened #6171 "Keras MobileNet import is not functioning"
As already pictured in [this issue](https://github.com/deeplearning4j/deeplearning4j/issues/6161), I am having some trouble getting to run the MobileNet model using Keras' model import.

While I can import and run any other Keras model without any problems, it does not work for the MobileNet model provided in dl4j-test-resources as it throws a `DL4JInvalidInputException`.
Thus, I suspect the probl

[2018-08-15 21:20] maxpumperla commented on #6171
great. I'll pick it up tomorrow. thanks

[2018-08-16 00:08] saudet commented on #6150
JavaCV supports the official Java API of OpenCV, no need to change anything but in your build files.

[2018-08-16 00:12] saudet commented on #6166
If you're not launching multiple instances of the same app, you could create native libraries with unique names for each app...

[2018-08-16 00:15] saudet commented on #6132
So it works with Spring on Windows?

[2018-08-16 00:28] AlexDBlack commented on #6037
Looking at the commit history - is this fixed by https://github.com/deeplearning4j/deeplearning4j/pull/6134 ?
Or is there more to do here?

[2018-08-16 00:53] AILTON091 commented on #6150
hum .. and any tips on how to proceed?

[2018-08-16 01:07] AlexDBlack commented on #6165
Confirmed fixed - thanks!

[2018-08-16 01:07] #6165 closed

[2018-08-16 01:54] saudet commented on #6166
BTW, this is something that needs to be fixed in the JDK. If you have any "ammunition" (I really don't like this language, but this is what it is, it's a "fight" against people who do not wish for things to change) we can use to convince the OpenJDK community (think Oracle...) that this is something we need urgently, please do let us know your arguments. This is an issue that comes up with any oth

[2018-08-16 05:27] raver119 commented on #6037
Hypothetically should be fixed, at least c++ tests pass now.
Please confirm fix on your end.

[2018-08-16 06:07] AlexDBlack opened #6172 "Libnd4j: pad op issues"
https://www.tensorflow.org/api_docs/python/tf/pad

Some issues here:
1. There's no way set the contant value for constant mode (always 0?)
2. I'm getting "Bad size index requested" for the rank 1 input case during execution:

[code]

[code]

[2018-08-16 06:30] AlexDBlack commented on #6172
Also crash on mirror pad:

[code]

[code]

[2018-08-16 07:18] new2scala commented on #6126
Found a workaround (in case you run into the same issue on cluster with hdfs): add the following config to the `TrainingMaster`
`.rddTrainingApproach(RDDTrainingApproach.Direct)`

[2018-08-16 07:42] TobiasGoerke commented on #6171
Alright, thanks a lot for your support

[2018-08-16 08:04] AlexDBlack opened #6173 "Libnd4j - "unique" op - incorrect index values"
The first output is correct; the second is wrong.
The second output has same length as the input, and is the index of that value into the "unique" array.

This also impacts unique_with_counts in the same way (outputs 0 and 2 seem correct for unique_with_counts)

See also: https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/unique

[code]

[code]

[2018-08-16 08:27] CedricReichenbach commented on #6166
@saudet In our particular case, we're running the same app (lib-wise) multifold, but they're distinguished configuration-wise.

We've tried to let javacpp cache into different directories, but that's not possible reliably because the cache directory is only configurable globally (system property `org.bytedeco.javacpp.cachedir`).

[2018-08-16 08:36] johanvos commented on #6166
The only "ammunition" (I don't like that word too) you need is time to do the work, not to fight. Nobody in OpenJDK will stop you from doing work, but you should be prepared to do it yourself, and it's lots of work and commitment.
The procedures on how to do it are unfortunately not always very clear.
The first step is discussing it and creating a JEP, and finding someone to endorse it. I plan to

[2018-08-16 09:02] AlexDBlack commented on #5482
Our Nd4j.diag method (claims to, and used to) do both: i.e., like diag_part for matrix, or like set_diag for vector input.
There's also an overload with k argiment which isn't used currently.
https://github.com/deeplearning4j/deeplearning4j/blob/c44ce4c209c1dc4c5ac263e7d967aad073b1ce19/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/factory/Nd4j.java#L2557-L2588

[2018-08-16 09:21] saikswaroop opened #6175 "reshape error after embedding layer ..."
Im trying to reshape output of embedding layer , but its giving me following error ,can some one throw light on this

Exception in thread "main" java.lang.IllegalStateException: Input shape [1, 512,
 1] and output shape[1] do not match
	at org.deeplearning4j.nn.modelimport.keras.preprocessors.ReshapePreprocessor.pr
eProcess(ReshapePreprocessor.java:102)
	at org.deeplearning4j.nn.graph.vertex.impl.

[2018-08-16 09:51] emillynge commented on #6133
We agree :)

The reason for this statement was, that  in another issue i had filed, I was more or less told that the `databuffer.length()` behaviour in mid column was *intended*.

If that was true, then `isContiguousInBuffer` would in fact be considered broken.

But since you agree that there is a bug in how `databuffer.length` is set for views, then `isContiguousInBuffer` is correct, even though

[2018-08-16 10:17] AlexDBlack commented on #6175
@saikswaroop What version of DL4J are you using?
If you're not on 1.0.0-beta2, upgrade to that first.

[2018-08-16 10:51] shugeo commented on #6173
Indeed, current implementation returns indexes with input array, not the first output.

[2018-08-16 11:03] AlexDBlack opened #6177 "libnd4j: top_k op permuting values for unsorted case"
The sorted case for top_k appears correct; the unsorted case is permuting the values.
To match TF for import purposes, we want the values in the order that they appear in the input array.
https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/nn/top_k

[code]

[code]

[2018-08-16 11:29] AlexDBlack commented on #6133
There’s should be duo called if this.isView()

I disagree with that statement, users shouldn't need to care if it's a view for standard ops like that. :)
Fixing the underlying buffer length issue will hopefully also fix that - but we should make that case a unit test to be sure...

[2018-08-16 11:53] AlexDBlack opened #6179 "libnd4j: in_top_k crash for k=1"
in_top_k op: OK for k>1, but crashes for k=1.

[code]

[code]

https://gist.github.com/AlexDBlack/103ea2319c858ccd896233d523218716

[2018-08-16 12:11] saikswaroop commented on #6175
@AlexDBlack
Im using 1.0.0-beta2 ... specifically iam using the following jars from dl4j-examples repo and adding them to my classpath.
dl4j-examples-1.0.0-beta2.jar
dl4j-examples-1.0.0-beta2-bin.jar

[2018-08-16 12:34] AlexDBlack opened #6180 "libnd4j: need identity_n op"
Kind of a silly/trivial one, but we need it for TF import...
https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/identity_n

[2018-08-16 13:08] AlexDBlack opened #6181 "SameDiff: Need import support for TF assertions"
https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/Assert
https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/assert_equal

The behaviour we'd need to properly support this:
* Importing of the various ops
* Printing the specified max number of values if the assertion fails
* Throwing an exception at the java level, if the assertion fails (for both java/c++ execution model)

I'm ru

[2018-08-16 13:14] AlexDBlack opened #6182 "libnd4j: Zeta function returning all 0s"
[code]

[code]

[2018-08-16 13:17] raver119 commented on #6181
Yes, it's wip and will be implemented after spark is done

[2018-08-16 13:47] emillynge commented on #6133
almost,  I think the correct code would be `prod_i((shape[i] - 1) * stride[i]) - offset`

[2018-08-16 14:12] hvesalai opened #6183 "Using more cores slows down MKL"
I have two hosts, one with 12 cores, one with 8.

If I run my operations with the default OMP_NUM_THREADS (i.e. not being set), operations take up to 10 times more clock time than when using just 1 core.

Here is a comparison from the 12 core host:

OMP_NUM_THREADS and rought times per cycle
1 = 10ms
2 = 8ms
3 = 7ms
4 = 7-10ms (starting to see a lot of variance)
5 = 8-25ms
6 = 40-80ms
7 = 100-200m

[2018-08-16 14:35] raver119 commented on #6183
That's not a news. For some tasks virtual HT threads do provide gains, for others - they don't.

Also, in some cases CPU cache benefits are bigger then gains from starting additional thread.

[2018-08-16 14:40] raver119 commented on #6183
What's your box, actually? default number of threads for us is 1/2 of Runtime.availableProcessors() usually. Mind adding some details?

[2018-08-16 15:30] hvesalai commented on #6183
I'll have to ask the admins. Here's the last entry from cpuinfo if that is enough.

[code]

And the other host has

[code]

[2018-08-16 15:31] hvesalai commented on #6183
If 1/2 is the default, what could cause `OMP_NUM_THREADS=4` to have different behaviour than nothing defined on the box with 8 cores?

[2018-08-16 15:59] maxpumperla commented on #6175
@saikswaroop I'll take a look. From the model it's not quite clear why you don't just use a a `Flatten` layer instead? `Reshape` is the layer that we have most issues with as it's _too_ flexible for DL4J standards. easy to misuse.

[2018-08-16 18:44] raver119 commented on #6183
Also, please tell me - are you able to run snapshots on your box?

[2018-08-16 18:56] hvesalai commented on #6183
I must say I'm not a hardware guys, so I take your word for the number of cores. My knowledge of the CPUs is limited to what `cat /proc/cpuinfo` gives.

The computation I'm running consists of approximately 1200 steps composed of the following operations:
- neg, transpose, get, sum, add, rsub, sub, mmul, mul, rdiv, div
- tanh, exp, log, sigmoid, pow
- vstack, hstack

Yes, I think I've been able to

[2018-08-16 23:50] saudet commented on #6150
Use the dependencies that I've updated in commit https://github.com/deeplearning4j/deeplearning4j/commit/ac91961036f83a1ca5055db93223e81bcf443ed9 or available in the examples at https://github.com/deeplearning4j/dl4j-examples/tree/master/android and it will work fine.

[2018-08-17 00:09] AlexDBlack opened #6184 "ND4J: Add convenience method for where_np op"
We have it, but users have to interact with the op directly, allocate output shapes
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/libnd4j/include/ops/declarable/generic/boolean/where_np.cpp
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j

[2018-08-17 00:40] saudet commented on #6166
@CedricReichenbach The issue isn't with the native libraries, it's with the JDK. Basically, the class that calls `System.load()`, that is JavaCPP in this case, needs to be loaded by the system class loader. This is not something we can typically control from a container application for security reasons.

@johanvos It's more than that, it's always more than just getting the work done, it's always a

[2018-08-17 00:57] AILTON091 commented on #6150
when I upgrade to beta2, NativeImageLoader is not in the package and displays the message can not resolve symbol.
so I added
compile 'org.datavec: datavec-data-image: 1.0.0-beta2' and solved this, but when compiling gave another error

Error: Execution failed for task ': app: transformResourcesWithMergeJavaResForDebug'.

How do I solve it?

[2018-08-17 01:34] AlexDBlack opened #6185 "libnd4j: Need set of nd scatter ops"
Ops:
* scatter_nd
* scatter_nd_add
* scatter_nd_sub
* scatter_nd_update

https://www.tensorflow.org/api_docs/python/tf/scatter_nd_add

We'll need to be able to import these ops.

The TF docs/description for these ops is quite poor IMO, but these ops are related to (but different from) ops like scatter_add, scatter_update etc.
The key difference seems to be how the indexing is done and the ranks of

[2018-08-17 01:48] tvanh opened #6186 "DatasetIterator created with BalancedPathFilter has no next element"
import org.datavec.api.io.filters.BalancedPathFilter;
import org.datavec.api.io.filters.PathFilter;
import org.datavec.api.io.filters.RandomPathFilter;
import org.datavec.api.io.labels.ParentPathLabelGenerator;
import org.datavec.api.split.FileSplit;
import org.datavec.api.split.InputSplit;
import org.datavec.image.loader.NativeImageLoader;
import org.datavec.image.recordreader.ImageRecordReader;

[2018-08-17 02:02] saudet commented on #6150
Use the same exclude as deeplearning4j-nn, which BTW depends on
datavec-data-image so no need to list it explicitly.

[2018-08-17 02:38] AlexDBlack opened #6188 "libnd4j: need matrix_band_part op"
This op is b asically a generalization of the "tri" and "triu" ops we already have.

https://www.tensorflow.org/api_docs/python/tf/matrix_band_part

[2018-08-17 02:52] AILTON091 commented on #6150
So I have to include?

sorry for such questions is that I am still learning about this and some things are still new to me.

[2018-08-17 03:10] raver119 commented on #6183
can you please exclude `mmul` from your operations and do your tests again? `mmul` is the only thing in your list that should use mkl i think.

[2018-08-17 04:37] saudet commented on #6150
Hum, looks like that was changed back recently. Replace deeplearning4j-nn with deeplearning4j-core as with commits https://github.com/deeplearning4j/deeplearning4j/commit/feb96d06b0585926039593d9e798c9fe7fcce510 and https://github.com/deeplearning4j/dl4j-examples/commit/5381c5f86170dc544522eb7926d8fbf8119bec67, that works with 1.0.0-beta2.

[2018-08-17 05:40] saudet commented on #6166
@CedricReichenbach It might be possible to hack around this if we disable the SecurityManager. Would this be something that you could live with?

[2018-08-17 05:51] hvesalai commented on #6183
I'll replace them by `Nd4j.ones`

[2018-08-17 05:53] raver119 commented on #6183
better Nd4j.createUninitialized(). It'll be just allocation without anything else.

Also, please tell me what's your data dimensionality. Maybe you could also post the code you're using, so i could profile it in java and c++?

[2018-08-17 05:57] saudet commented on #6186
This is probably caused by how your data is laid out. Could you prepare an archive or a repository containing some data to reproduce this issue?

[2018-08-17 06:01] tvanh commented on #6186
No, nut you can reproduce this with your animal dataset (dl4j-examples/dl4j-examples/src/main/resources/animals).

I got the exception when testing this with the dataset above.

[2018-08-17 06:57] AlexDBlack opened #6189 "SameDiff: matmul op needs to support multiple batch dimensions (rank 4+ input)"
https://github.com/deeplearning4j/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/blas/matmul.cpp
https://www.tensorflow.org/versions/r1.8/api_docs/python/tf/matmul

Another op we need adjusted for TF import.
We support rank 2 and 3 inputs (the latter being the "batch" case) but TF also supports rank 4+ (I've tried up to and including rank 5) as a batch case.
The basic idea is th

[2018-08-17 07:06] hvesalai commented on #6183
I changed `mmul` to `createUninitialized`. Now i7 machine with default OMP_NUM_THREADS fluctuates between 8-25ms per cycle, clearly faster than the 100ms it was with mmu. If I set OMP_NUM_THREADS=1, then the cycle time is 9-10ms, which is the same as with mmu.

As for the dimensionality of mmul operations: here's a breakdown of the counts and dimensions. As you can see, there are some basic matrix

[2018-08-17 07:09] hvesalai commented on #6183
(fixed typos in above comment... most notably mmu -> mmul)

[2018-08-17 07:15] raver119 commented on #6183
So, in other words something is wrong with MKL configuration in runtime. We had few lines of code for that purpose in libnd4j, not sure if we still use it or not. Let me add some logging and get back to you.

[2018-08-17 08:07] tzolov commented on #6184
The second snippets points to a `Nd4j.getExecutioner().exec(op)` not `Nd4j.getExecutioner().calculateOutputShapes(op)` example?

From the [WhereNumpy  test code](https://github.com/deeplearning4j/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-tests/src/test/java/org/nd4j/linalg/indexing/BooleanIndexingTest.java#L572) it is not clear how to return the element indexes (which is the np.where beha

[2018-08-17 08:13] saudet commented on #6183
Yes, they're part of the presets for OpenBLAS here: https://github.com/bytedeco/javacpp-presets/blob/master/openblas/src/main/java/org/bytedeco/javacpp/presets/openblas_nolapack.java#L155

[2018-08-17 08:42] raver119 commented on #6183
We should investigate them once again, probably something changed in MKL, so we should update those methods.

[2018-08-17 09:51] AlexDBlack opened #6193 "DL4J: Enhancements/utilities for CompGraph construction"
Perhaps we could add something like:
[code]

Other generalizations would be sets of layers/vertices, such as:
* Inception modules
* conv->batchnorm->activation sets of layers

Open to suggestions what the API could look like here

[2018-08-17 10:56] hvesalai commented on #6183
While debugging this I noticed that using ND4J results in a wild amount of very short lived threads being created on OS-level.

[2018-08-17 10:59] raver119 commented on #6183
That's called OpenMP, actual implementation depends on your os etc, and with MKL installed it's probably Intel OpenMP. Usually these threads are cached and reused by OpenMP. We create exactly 0 pthreads/winthreads ourselves.

[2018-08-17 11:41] hvesalai commented on #6183
`OMP_PROC_BIND=true` fixes it. I have absolutely no idea what it does, but while googling I hit this stack overflow article https://stackoverflow.com/questions/24368576/poor-performance-due-to-hyper-threading-with-openmp-how-to-bind-threads-to-core

[2018-08-17 11:42] raver119 commented on #6183
Fixes what, original issue?

[2018-08-17 11:45] hvesalai commented on #6183
Yes, original issue with mmul being slow with default number of threads.

Not the large number of threads being created and thrashed.

[2018-08-17 11:47] raver119 commented on #6183
Strange. What's your MKL version?

[2018-08-17 12:07] CedricReichenbach commented on #6166
@saudet As a workaround, we now make sure to only use dl4j/nd4j (and thus the whole native shebang) in one of the webapps, and avoid in the others. That works for us because using neural networks is only crucial in one of them.

Our product is a CMS we're shipping to customers who might run them in any kind of way, so we cannot give a canonical answer on whether the system classloader workaround i

[2018-08-17 12:10] hvesalai commented on #6183
I'm using mkl-2018.3-1.4.2-linux-x86_64.jar so I guess it's 2018.3 then

[2018-08-17 13:03] shugeo commented on #6182
there is a non-zero output with test provided with C++ testing.

[2018-08-17 13:06] shugeo commented on #5482
Current implementation of diag op put matrix given as giagonal elements of result.

[2018-08-17 13:11] saudet commented on #6166
@CedricReichenbach
According to the following document, it sounds like permission to use JNI is not granted by default:
https://docs.oracle.com/javase/9/security/permissions-java-development-kit.htm
So if you're able to use JNI without anything special, this means security is probably not enabled and hacking something with the system class loader might work to further automate the process. Can you

[2018-08-17 13:58] AILTON091 commented on #6150
replace e deeplearning4j-nn with deeplearning4j-core work, but when compiling, this error appears below in the line: MultiLayerNetwork model = ModelSerializer.restoreMultiLayerNetwork (inputStream);

here is the code:
[code]

here is the error
[code]

[2018-08-17 14:41] agibsonccc commented on #6150
@raver119 this doesn't tlook right, do you know where this might be coming from?

[2018-08-17 15:14] raver119 commented on #6183
So, in both cases you have single cpu systems. Are you 100% sure you're not running app in VM environment?

[2018-08-17 15:45] hvesalai commented on #6183
Well... that would be the hoax of the century. We are renting machines from Hezner, so I don't have physical access to them and thus I cannot be 100% sure. But let's say 99%.

[code]

[2018-08-17 16:39] raver119 commented on #6183
I see. Weird.

[2018-08-17 17:55] DrChainsaw opened #6198 "Workspace documentation refer to deprecated modes of operation"
Hi,

I just happened to see that the documentation for workspaces in the link below describes the now deprecated modes SEPARATE and SINGLE. From what I understand, the only supported modes now is ENABLED (more or less same as SEPARATE) and NONE.

https://deeplearning4j.org/docs/latest/deeplearning4j-config-workspaces

As a side note: SINGLE seemed to have almost 100% speedup over SEPARATE for arch

[2018-08-17 17:57] raver119 commented on #6198
Yes, it's documentation issue.

Thanks for highlighting

[2018-08-17 18:06] crockpotveggies commented on #6198
Thanks for submitting this issue. We've migrated our docs to its own separate repository at [deeplearning4j-docs](https://github.com/deeplearning4j/deeplearning4j-docs). I've already migrated your issue and you can find it at https://github.com/deeplearning4j/deeplearning4j-docs/issues/124.

I'll be closing this, but feel free to comment and re-open if this is not what you intended.

*This was an

[2018-08-17 18:06] #6198 closed

[2018-08-17 20:00] akazer2 opened #6199 "Support for Keras layer type Conv2D"
`Exception in thread "main" org.deeplearning4j.nn.modelimport.keras.UnsupportedKerasConfigurationException: Unsupported keras layer type Conv2D.`

Would be great to get support for Conv2D in dl4j

[2018-08-17 21:44] maxpumperla commented on #6199
you must be on 0.9.1 or earlier, i.e. over a year of releases behind. upgrade your dl4j version!

[2018-08-17 21:44] #6199 closed

[2018-08-18 05:12] tzolov commented on #6184
For example, is it possible to use `WhereNumpy` for implementing the following np.where(...) like logic:
[code]

[2018-08-18 06:01] GlassyWing opened #6200 "Strange behavior with SameDiff"
I want to calcuate the loss (=out[0, 0, 0] + out[1, 0, 0]) to get grad of 'out' ,and I use the way as follow:

[code]

That throws exception on `sd.execBackwards()`:

[code]

But when I change to the following way, that works everything.

[code]

so I know there must be error(s) for var 'sum', but I can't to locate it.

[2018-08-18 07:11] #6173 closed

[2018-08-18 07:59] saudet commented on #6150
What's digito?

[2018-08-18 08:02] saudet commented on #6150
Does it do the same with a File? If you could post a model file to reproduce this, please do. Thanks!

[2018-08-18 09:39] AlexDBlack opened #6201 "DataVec: need validation (or proper conversion) for ArrowConverter.convertArrowVector()"
https://github.com/deeplearning4j/deeplearning4j/blob/451dd76b50355358dc176f2b704e98c43423c5b8/datavec/datavec-arrow/src/main/java/org/datavec/arrow/ArrowConverter.java#L170

At present: it's possible to pass in a Float8Vector and ColumnType.Float and have it return garbage values (due to essentially a byte[] copy + "interpret as the specified DataVec type").
This should be detected as invalid inp

[2018-08-18 14:26] hurschler opened #6202 "no opencv_imgproc342 in java.library.path after update to beta2"
Hi

After my update to version beta2 I got this exception on the second line of Code:

        NativeImageLoader loader = new NativeImageLoader(224, 224, 3);
        INDArray image = loader.asMatrix(new ClassPathResource("20171220_194540.jpg").getFile());

	at org.bytedeco.javacpp.Loader.load(Loader.java:941)
	at org.bytedeco.javacpp.Loader.load(Loader.java:882)
	at org.bytedeco.javacpp.helper.ope

[2018-08-18 14:31] AILTON091 commented on #6150
[code]

[2018-08-18 15:09] AILTON091 commented on #6150
[code]

[2018-08-18 16:49] rsantoso opened #6203 "JVM crash using dense layers in computation graph"
When I try using a Dense layer in a computation graph, I get a JVM crash. Core dumps attached during various attempts. I am using Scala.

I initially tried a simple Dense to Dense network, and got the crash so switched to using a MultiLayerNetwork instead which worked.

In a second example, I had the following network defined and also experienced a crash.
    val configuration: ComputationGraphCon

[2018-08-18 16:54] raver119 commented on #6203
1) That’s definitely Openblas crash. Show your pom.xml please, in latest version we enforce MKL afaik.
2) You’re training with double precision. Could you please check if problem is reproducible with single precision?

[2018-08-18 17:03] rsantoso commented on #6203
1. We use gradle here and its a massive project, a bit tricky to share the correct project files. Can you let me know what I should be looking for ? Is there a specific dependency I need to have ? What's MKL stand for pls ?

2. When you say training with double precision, are you referring to this line here ?
Nd4j.setDataType(DataBuffer.Type.DOUBLE)

If so - what do you mean by single precision ?

[2018-08-18 17:05] raver119 commented on #6203
1. Just show me dependencies related to dl4j, nd4j or datavec.
2. Comment out that line, and you’ll have single precision, since it’s default

[2018-08-18 17:32] rsantoso commented on #6203
1. ivy file below

2. Single as in 32 bit number, ok. Tested and same thing happens.
[hs_err_pid27304.log](https://github.com/deeplearning4j/deeplearning4j/files/2299740/hs_err_pid27304.log)

	<configurations>
		<conf name="runtime" extends="dependencies" description="Core runtime module"/>
		<conf name="dependencies" description="dl4j dependencies"/>
	</configurations>

	<publications>
		<artifac

[2018-08-18 18:07] raver119 commented on #6203
Still openblas. ok.

Please update dl4j/nd4j/datavec versions to 1.0.0-beta2 and make sure you’re using nd4j-native-platform artifact.

[2018-08-18 18:07] raver119 commented on #6203
cc @saudet

[2018-08-18 18:14] rsantoso commented on #6203
ok thanks very much, won't be till at least Monday before I can test this out but I'll report back.

is there something in that version you think may resolve the issue ?

[2018-08-18 18:16] raver119 commented on #6203
I hadn’t heard of this crash in your version, but this stuff is often cpu specific. And yes, new version uses different blas impl.

[2018-08-18 18:48] raver119 commented on #6203
Btw, can you tell me your cpu model name please?

[2018-08-18 18:49] pirocks commented on #4212
I've found that reducing the learning rate to about 0.01 can get rid of the NaNs but not the NullPointerExceptions.

[2018-08-18 19:10] rsantoso commented on #6203
yep its Intel Xeon CPU E5-1650 v4 @3.60 GHz

[2018-08-18 21:40] saudet commented on #6202
There should be a cause to that cause, could you show the whole stack trace as well as your pom.xml file? And on which platform is this happening?

[2018-08-18 21:42] saudet commented on #6150
Ok, thanks, that looks alright. It looks like something is strange with the model file that you have. Could you try to load on the desktop? I think it will succeed because we can use LongRawIndexer, but not on Android...

[2018-08-18 21:51] saudet commented on #6202
I'll just go and mark this as a duplicate of https://github.com/bytedeco/javacpp-presets/issues/604.

[2018-08-18 21:51] #6202 closed

[2018-08-18 22:25] AILTON091 commented on #6150
load on the desktop, how?

[2018-08-18 22:37] saudet commented on #6150
I just mean running your code on Linux, Mac, or Windows, it probably works there. This is probably an issue with Android only.

[2018-08-18 23:06] AILTON091 commented on #6150
but it is that I am developing an app for android, so it is necessary to do the compilation on android using android studio.

[2018-08-18 23:43] abvaalgit commented on #1499
two years has passed from this definition issue ...do this added to project

[2018-08-19 01:40] maclema opened #6206 "CUDNN_STATUS_MAPPING_ERROR with batchSize of 1"
A CUDNN_STATUS_MAPPING_ERROR exception is thrown when calling fit() on a LSTM network when the batchSize is 1. If the batch size is greater than one everything works as expected.

Environment:
[code]

Model:
[code]

Training array shape: [1, 1280, 120]

Exception:
[code]

[2018-08-19 19:54] AILTON091 commented on #6150
How do I make the changes that were made e90d68e?
Where do I make the updates?

[2018-08-19 22:17] agibsonccc commented on #6150
@AILTON091 you will have to use snapshots.

[2018-08-19 23:31] saudet commented on #6150
There are instructions for that here:
https://deeplearning4j.org/docs/latest/deeplearning4j-android

[2018-08-19 23:56] AlexDBlack commented on #6182
I recall that we have run into this sort of bug a number of times before.
i.e., zero out when used from java, but libnd4j giving sensible results.
I don't recall the fix though - @raver119 ?
(Might have been something about the result array not being used for the output?)

[2018-08-19 23:59] AlexDBlack commented on #1499
@abvaalgit No, it hasn't been added, and it's not a priority for us. (I think you're the second person to ask since the original issue?)

[2018-08-20 00:21] pirocks opened #6207 "Numerous iterator related exceptions/NaNs with GloVe, as well as leaking threads."
tl;dr:
I'm getting NaN and/or Null pointer exception with gloVe. Reproducible example with dataset here: https://github.com/pirocks/reproducible-example-glove.

When using GloVe with any configuration I get numerous Null Pointer Exceptions with the following stacktrace:

[code]
When the learning rate is greater than about 0.02(depends on which dataset I'm using), My error  becomes NaN, within the

[2018-08-20 02:51] dimparf opened #6208 "ParagraphVectors freeze"
ParagraphVectors freeze on Starting learning process...
My code:
[code]
paragraphVectors.fit()
Dataset is small.

[2018-08-20 02:52] raver119 commented on #6208
What's your dl4j version? Show your pom.xml please

[2018-08-20 02:53] dimparf commented on #6208
1.0.0-beta2

[2018-08-20 02:55] raver119 commented on #6208
Post your full pom.xml, source code and output from the console please.

[2018-08-20 02:59] dimparf commented on #6208
Ок,
05:40:05 INFO  org.nd4j.linalg.factory.Nd4jBackend - Loaded [CpuBackend] backend
05:40:06 INFO  org.nd4j.nativeblas.NativeOpsHolder - Number of threads used for NativeOps: 1
05:40:06 INFO  org.nd4j.nativeblas.Nd4jBlas - Number of threads used for BLAS: 1
05:40:06 INFO  o.n.l.a.o.e.DefaultOpExecutioner - Backend used: [CPU]; OS: [Linux]
05:40:06 INFO  o.n.l.a.o.e.DefaultOpExecutioner - Cores: [

[2018-08-20 03:02] dimparf commented on #6208
And full sbt (no pom, this is Scala project):
[code]

[2018-08-20 03:06] raver119 commented on #6208
Deps looks ok. Post threads dump please. I.e. using jps/jstack or if you're running from Intellij - there's button available for that

[2018-08-20 03:12] dimparf commented on #6208
Ok, I will analyze the situation and write the result here.

[2018-08-20 04:36] AlexDBlack opened #6210 "Nd4j/Libnd4j: CI issue with TF import argmax test"
Test: "reductions/argmax3,4,5_-1" - passes locally on both of my machines (Windows 10, Kubunu 17.10). However is failing (timing out, 10 seconds - it should take <<10ms to execute) on multiple CI machines, for mac CPU, Linux AVX2, Linux AVX 512, Linux ppc64.

The other argmax tests (same shape, different axis) are OK.
Need to reproduce/isolate this before we can look into it more...

[2018-08-20 04:36] raver119 commented on #6210
Hypothetically #6209 fixes this issue.

[2018-08-20 04:39] AlexDBlack commented on #6210
Ah, cool, I missed that one :)

[2018-08-20 06:37] raver119 commented on #6210
Hm, looks like no luck. Will keep looking.

[2018-08-20 09:18] #6175 closed, assigned to nobody

[2018-08-20 09:39] xiptos opened #6213 "Attempting to permute dimensions other thanspatial dimensions (height and width) in Permute layer"
When importing a Keras model, I get the following exception:
[main] INFO org.deeplearning4j.nn.modelimport.keras.Hdf5Archive - Unexpected end-of-input: expected close marker for ARRAY (from [Source: {"class_name": "Model", "config": {"layers": [{"class_name": "InputLayer", "config": {"dtype": "float32", "batch_input_shape": [null, 48, 48, 3], "name": "input_1", "sparse": false}, "inbound_nodes": [

[2018-08-20 10:18] maxpumperla commented on #6213
@xiptos can you explain what your model is supposed to do? So you want to flip the input completely from (1,2,3) to (3,2,1)? We have some safeguards in DL4J to prevent users from doing stuff that is allowed in keras.

[2018-08-20 10:40] AlexDBlack commented on #6200
OK, so first thing: you have run into an issue, but it's not the one you thing you have :)

Basically, you have multiple outputs - both instances of ```sum.add(out_i.get(SDIndex.point(0), SDIndex.point(0)));``` are independent scalar variables.
That's why your second case works: you have only one output - (i.e., a single scalar loss) after adding.

Now, for solutions: don't create that scalar zero

[2018-08-20 10:40] AlexDBlack opened #6214 "SameDiff: "Multiple outputs" case not detected when defining gradient function"
https://github.com/deeplearning4j/deeplearning4j/issues/6200#issuecomment-414273332

[2018-08-20 10:41] AlexDBlack commented on #6200
Closing in favor of this issue: https://github.com/deeplearning4j/deeplearning4j/issues/6214
Basically the solution is "detect this and throw a useful exception"

[2018-08-20 10:41] #6200 closed

[2018-08-20 10:43] xiptos commented on #6213
I'm trying to implement (by importing) the MTCNN approach to detect human faces, from the python project https://github.com/xiangrufan/keras-mtcnn/blob/master/MTCNN.py and based on the paper https://kpzhang93.github.io/papers/spl.pdf
There are two more models, and I'm also having some exceptions importing them.

[2018-08-20 10:55] modianor commented on #6140
hi , buddy. how do you fix this problem??it has confused me for a very long time

[2018-08-20 10:59] longzhendong commented on #6140
@modianor
Later, I found that this problem occurs when the network structure is large and the gpu is short of memor

[2018-08-20 11:05] longzhendong commented on #6140
@modianor GPU内存不足的时候

[2018-08-20 11:43] xinxu75 opened #6215 "Errors in 1.0.0-beta2 when loading w2v model built in 1.0.0-alpha"
When I tried to use run a code and  load w2v models built in 1.0.0-alpha, I got the following error. The code triggering this error is a simple WordVectorSerializer.readWord2VecModel("...")

Exception in thread "main" java.lang.AbstractMethodError: org.nd4j.linalg.cpu.nativecpu.CpuNDArrayFactory.createFloat(FF)Lorg/nd4j/linalg/api/complex/IComplexFloat;
	at org.nd4j.linalg.factory.Nd4j.createFloat

[2018-08-20 11:43] modianor commented on #6140
Maybe the performance of my gpu is too poor.That is to say,i have to train this network by  cpu or pass it.Thank you,buddy.

[2018-08-20 11:43] raver119 commented on #6215
Show your pom.xml, you probably have 1.0.0-alpha dependencies there.

[2018-08-20 11:45] raver119 commented on #6140
@modianor last thing you should do is posting in closed topics. Please, file new issue and post your problems there, so we could take a look and help.

[2018-08-20 11:46] xinxu75 commented on #6215
few hours ago, I just git clone https://github.com/deeplearning4j/dl4j-examples.git, and got everything updated
My code depends on this new project (removed the old dl4j-examples in 1.0.0-alpha)

[2018-08-20 11:48] xinxu75 commented on #6215
Just checked pom.xml in the new project, and it shows 1.0.0-beta2

[2018-08-20 11:48] raver119 commented on #6215
Show it to me please. And show your source code that reproduces this behavior.

[2018-08-20 11:50] AlexDBlack commented on #6215
@xinxu75 The other common cause: are you using Eclipse IDE by any chance?
It's notorious for not updating dependencies/classpath when you update your pom.xml

[2018-08-20 11:53] xinxu75 commented on #6215
yes I'm using Eclipse, and I found my project accidentally includes a few .jar files of 1.0.0-alpha. Do I need to remove them as well?

[2018-08-20 11:54] Arkariian commented on #6213
i discover the same problem on conv2D model imported from keras but my model charge and predict bad.

0 [main] INFO org.deeplearning4j.nn.modelimport.keras.Hdf5Archive  - Unexpected end-of-input: was expecting closing '"' for name
 at [Source: {"class_name": "Sequential", "config": [{"class_name": "Conv2D", "config": {"padding": "same", "batch_input_shape": [null, 64, 85, 1], "bias_regularizer": n

[2018-08-20 11:55] raver119 commented on #6215
Yes.

[2018-08-20 11:55] #6215 closed

[2018-08-20 12:03] #6214 closed

[2018-08-20 12:27] maxpumperla commented on #6213
@xiptos thanks for the reference. I'll check it out. in principle there's nothing preventing us from relaxing the restrictions, I just want to understand it better first.

@Arkariian please open another issue for your stuff, and include all relevant data (your model, dl4j version, full(!) stack trace). doesn't help to throw this into another, only slightly similar issue. :)

[2018-08-20 13:03] CedricReichenbach commented on #6166
@saudet As said above, we don't control our customers' setup, it might be anything. But if JNI is already tied to either disabled or customized security, then I guess it's sensible that users enabling it would also have to configure exceptions for the system class loader. If this is not an option for them, we could give them the option to opt-out of features requiring dl4j.

[2018-08-20 13:40] #6133 closed

[2018-08-20 13:44] emillynge commented on #6133
Thanks for fixing it! :)  it's been bugging me for some time now.

[2018-08-20 14:38] maxpumperla commented on #6213
@xiptos maybe you can help me out here. what's the supposed effect of permuting right before a flatten layer?

[2018-08-20 15:11] xiptos commented on #6213
I may be wrong, but I believe it has something to do with the optimisation of learning of symmetric or symmetry invariant situations.

[2018-08-20 15:19] xiptos opened #6218 "Invalid configuration of layer"
Sorry if this is not relevant, but I'm getting the following exception when importing a keras model.

[code]

I'm using macOS High Sierra and java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

The model and source code is in attach.

Thanks!
[Mtcnn2Dl4j.java.zip](https://github.com/deeplearning4j/deeplear

[2018-08-20 15:38] mtothak opened #6219 "code=4(cudaErrorLaunchFailure) "result" on Windows Server 2016 / NVIDIA Titan V"
Hi!

I opened this issue as I still have have problems running on a cuda backend
(might be related to https://github.com/deeplearning4j/deeplearning4j/issues/5708) :

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Sep__1_21:08:32_Central_Daylight_Time_2017
Cuda compilation tools, release 9.0, V9.0.176

[INFO ] 2018-08-20 16:54:26.465 [main] Nd4jBacken