[2020-06-02 08:29] raver119 opened #8983 "libnd4j: random_shuffle rc"
random_shuffle op has race condition issues on small arrays.

[2020-06-02 23:51] hosuaby opened #8984 "CXXABI_1.3.8 not found on Centos 7"
#### Issue Description

Looks like `libjnind4jcpu.so` requires a newer gcc (6.1.0+) and glibc (2.27+). While I can relativelly easy build a new gcc from source on Centos, making work a newer version of glibc is trickier. Until present, I failed to do so.

Do you have any suggestions to make run dl4j-beta7 on Centos 7 ?

#### Version Information
* Deeplearning4j version: dl4j-beta7
* Centos 7

####

[2020-06-03 00:47] saudet commented on #8984
@sshepel Are you sure the release was built with CentOS 6?

[2020-06-03 03:13] AlexDBlack opened #8985 "DL4J: GradientSharingTrainingTest.differentNetsTrainingTest - timeout / problem?"
[log (10).txt](https://github.com/eclipse/deeplearning4j/files/4720811/log.10.txt)

https://jenkins.konduit.ai/blue/organizations/jenkins/konduitai%2Fdeeplearning4j/detail/PR-475/14/pipeline

Looks like a legitimate problem, based on the time stamps. Not sure if this is intermittent or recently introduced.

[code]

[2020-06-03 06:32] sshepel commented on #8984
@saudet double checked and I can see that build were in centos6 container, hm...

[2020-06-03 08:46] hosuaby commented on #8984
I think I have an idea. I built ND4J (with libnd4j) on Ubuntu first and after deployed it on Centos 7. Maybe `libjnind4jcpu.so` was linked to newer libraries on my Ubuntu, so it's not longer able to work with older libraries on Centos 7 ?

[2020-06-03 08:50] raver119 commented on #8984
So, you've built libnd4j/ND4j manually for your needs?

[2020-06-03 08:55] hosuaby commented on #8984
@raver119 to accurate, I am testing this PR: https://github.com/eclipse/deeplearning4j/pull/8972

[2020-06-03 08:56] raver119 commented on #8984
So yes, in this case you just need to use docker with Centos 6, like we do. Maybe @sshepel can share Dockerfile or image with you?

[2020-06-03 08:56] #8984 closed, assigned to sshepel

[2020-06-03 09:00] hosuaby commented on #8984
@raver119 So I need make a build of ND4J on Centos ? I am right ?
Yes, if you have a convenient image to make that build easily, I am will be grateful.

[2020-06-03 10:55] sshepel commented on #8984
@hosuaby sure, you can use this one: `konduit/jenkins-agent:amd64-centos6`
Default user inside container is `jenkins`.

[2020-06-04 06:18] nitin2212 opened #8986 "Architecture differences in Zoo Models ?"
Hi, I am comparing few zoo models implementation in DL4J with Pytorch zoo models and found
that the padding in Convolution layers does not match most of time ?

For **Resnet50 and SqueezeNet** :
1) In DL4J, they **do not** apply padding : [0, 0] ; while in PyTorch they have padding [1, 1].
This results in different output in layers

2) In DL4J, they apply **Bias** in Conv layers while in PyTorch,

[2020-06-05 11:46] hosuaby commented on #8984
I confirm my hypothesis. `UnsatisfiedLinkError : CXXABI_1.3.8 not found`  was due to the fact that ND4J was built and linked on the operating system with newer `gcc` and `glibc` (Ubuntu 18.04) and later was launched on system with older libraries (Centos 7).

(This comment is useful in case of someone else will have a similar problem)

[2020-06-05 11:52] raver119 commented on #8984
@hosuaby thanks

[2020-06-05 13:31] AlexDBlack opened #8988 "ND4J/DL4J/SameDiff: ISchedule implementation JSON issue"
Trying to load a RampSchedule in a ComputationGraph:
[code]

We should also check the rest of the ISchedule types, maybe there's issues with other types also

[2020-06-05 14:20] AlexDBlack opened #8989 "DL4J Keras model import: custom Keras layers hould throw useful exception if missing constructor"
Reflection is used to get the custom KerasLayer constructor, but the error is not especially helpful for users.

[code]

[2020-06-08 02:20] alexdriedger opened #8990 "Keras Model Import Does Not Support Class Handles for Loss Functions"
#### Issue Description

`MeanAbsoluteError` is not a supported Keras loss function. I get the same error for `MeanSquaredError` and `MeanSquaredLogarithmicError`

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version = 1.0.0-beta7
* Platform information (OS, etc) = Windows 10
* CUDA version, if used = N/A
* NVIDIA driver version, if in use =

[2020-06-08 02:46] AlexDBlack opened #8991 "DL4J: TransferLearning GraphBuilder doesn't validate names"
This doesn't throw an exception but should:
[code]

[2020-06-08 03:08] AlexDBlack opened #8992 "DL4J: TransferLearning GraphBuilder order problem"
This works:
[code]

This doesn't: (the activation_75 and reshape_8 layers aren't removed, and the only change vs. abose is that the fineTuneConfiguration is specified last)
[code]

[2020-06-08 07:04] treo commented on #8990
That's weird. In principle we support pretty much all of the out of the box loss functions:
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/config/KerasLayerConfiguration.java#L341-L360

What version of tf are you using here?

[2020-06-08 07:55] alexdriedger commented on #8990
Tensorflow 2.2.0

[2020-06-08 14:19] nitin2212 commented on #8986
padding is decided using Convolution Mode

[2020-06-08 14:19] #8986 closed, assigned to nobody

[2020-06-08 20:33] alexdriedger commented on #8990
I tried running it in the [standalone sample project](https://github.com/eclipse/deeplearning4j-examples/tree/master/standalone-sample-project) and I got the same error. I'm running Java 8.

This is the code I'm running that causes the error:

[code]

[2020-06-08 21:28] alexdriedger commented on #8990
@treo It looks like the problem is not handling the case of using the keras loss function object instead of the String name of the loss function

## On the Java side

The exception is thrown in `mapLossFunction`

https://github.com/eclipse/deeplearning4j/blob/37d880a23cf7061d560fe8f77002b840c4019ca6/deeplearning4j/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/uti

[2020-06-09 03:00] DPCII opened #8995 "Fatal error at point of model training"
#### Issue Description

Having an error log a stack trace in my project, but the operation just hangs without actually crashing. Usually the model training would continue on, but in this case it hangs at "Starting learning process".

Any ideas as to what I'm looking at would be great.
[code]
#### Version Information

Please indicate relevant versions, including, if relevant:
[code]
#### Stack

[co

[2020-06-09 13:17] raver119 commented on #8995
Hmmm... Two questions.

1. What happens when you run the same task with CPU backend?
2. Can we see the source code that reproduces this problem?

[2020-06-09 13:23] DPCII commented on #8995
Sure, this source code is basically a copy of the word2vec example from dl4j. Info on CPU to follow.

[code]

[2020-06-09 13:33] DPCII commented on #8995
CPU works fine.

[2020-06-09 17:23] DPCII commented on #8995
I ran a bunch of tests to make sure my CUDA installation was good and everything there is checking out. I reverted to beta6 to isolate the possibility of a breaking change in beta7, but no luck.

[2020-06-09 17:24] raver119 commented on #8995
Is this corpus publicly available?

[2020-06-09 17:40] DPCII commented on #8995
Yes, but this is reproducible for me on any corpus.

[2020-06-09 17:47] DPCII commented on #8995
I just ran a test again and it performed. I've been tinkering with so many things at this point, I couldn't even tell you what might have made the difference. This was a headscratcher.

[2020-06-09 17:57] #8995 closed, assigned to nobody

[2020-06-10 04:03] cacophany53 opened #8997 "Per-sample weights using masks"
Hi DL4J community.

Is it currently possible to specify per-sample weights by using mask values other than 0 or 1? (ie. 0.5 for half the weight of a normal sample, 2 for twice the weight). Alternatively could samples be weighted by applying a non-integer to a label value? I haven't been able to find any DL4J documentation on per-sample weights.

[2020-06-11 01:15] AlexDBlack opened #8999 "DL4J JSON: Dropout includes unnecessary field"
Just a small problem, shouldn't impact results. Note "initializedHelper" field here
[code]

[2020-06-11 02:37] #8999 closed, assigned to nobody

[2020-06-11 17:15] raver119 commented on #8983
Fixed

[2020-06-11 17:15] #8983 closed, assigned to shyrma

[2020-06-12 05:39] ryentsao opened #9000 "Failed to import keras seq2seq model to DL4J with Merge Vertex error"
Here I have a basic seq2seq model in Keras as follows:
![image](https://user-images.githubusercontent.com/17917327/84467048-7cb86380-acad-11ea-9caa-30efdf9bf80b.png)
The inference decoder requires 3 inputs(cell input and hidden states), where the cell input is a 3D tensor and the hidden states are two 2D matrices.
### Here's the thing
When I use DL4J to import the decoder to Java, I get Merge Vert

[2020-06-13 20:14] aeiplatform opened #9001 "Unable to start standalone UI server at version 1.0.0-beta7"
#### Issue Description
After upgrading the deeplearning library, I can't start the UI server.
Server is in the separated Spring Boot module configured as:
`UIServer.getInstance().enableRemoteListener();`

Project is using Spring Cloud.
Both Spring Boot initializations are identical except after **Started Application** the UI server is stopped.

##### 1.0.0-beta6
**build.gradle.kts**
[code]
**Outpu

[2020-06-14 10:21] treo commented on #9001
In beta7 the UI server is automatically stopped when its starting thread is stopped, in order to not keep an application running when it is actually finished.

I guess the remote option hasn't been considered in this case.

@printomi you've implemented that feature, any ideas?

[2020-06-14 10:27] zhangy10 opened #9002 "Causal convolution mode can only be used with 1D convolutional neural network layers?"
Can the causal convolution work for the 2D convolutional model in snapshot version? The beta6.0 seems to be not available yet.

And would you plan to support 2D causal convolution in the next version?

Many thanks.

[2020-06-14 13:35] aeiplatform commented on #9001
@printomi if you want to handle some operations at the shutdown point, please use a shutdown hook instead of a dirty thread joining.

`Runtime.getRuntime().addShutdownHook(new Thread(() -> System.out.println("Termination.")));`

[2020-06-14 14:57] aeiplatform opened #9003 "Unable to use CUDA at version 1.0.0-beta7"
#### Issue Description

After upgrading the deeplearning library, I'm not able to use CUDA backed.
Same result for versions 10.2 and 10.1.
I also tried to install the CUDA driver with cuDNN manually both 10.2 and 10.1 show the same result.
However, in the file system, the **jnind4jcuda.dll** file exists at the location you are looking for.

#### Version Information
**build.gradle.kts**
[code]

###

[2020-06-15 01:39] saudet commented on #9003
Make sure you're using the right version of cuDNN:
https://deeplearning4j.konduit.ai/config/backends/config-cudnn

[2020-06-15 06:02] treo opened #9004 "KerasUpsampling3D Layer isn't correctly imported"
#### Issue Description
Originally reported at https://community.konduit.ai/t/unsupported-keras-layer-type-upsampling3d/564/7

We actually implement the layer here: https://github.com/eclipse/deeplearning4j/blob/b06fb670a420050f1edcdc398f11fe76fadf1538/deeplearning4j/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/layers/convolutional/KerasUpsampling3D.java

But dur

[2020-06-15 09:02] aeiplatform commented on #9003
I'm sure I installed the correct version.

Besides:

[2020-06-15 09:42] saudet commented on #9003
Right, ok, so there's something else missing. Could you check what Dependencies says?
https://github.com/bytedeco/javacpp-presets/wiki/Debugging-UnsatisfiedLinkError-on-Windows

[2020-06-15 12:00] printomi commented on #9001
@aeiplatform thank you for pointing out that using a shutdown hook would be better than a dirty `Thread.join()`. Please, check out my PR with this implementation: https://github.com/eclipse/deeplearning4j/pull/9005

[2020-06-16 13:04] mdavis95 opened #9006 "Change WordVectorSerializer Serializer to Avoid vStack Bug"
Because of #8961 (which has a workaround) loading Word2Vec fails on a CPU without the workaround.  The workaround is fine, however, it took me a long time to figure out what was going on.  In the end I pulled out the code and debugged it and finally realized it was the vstack that was failing after 8 hours for my input file (2GB word vector file).  Simply counting the words and detecting the vecto

[2020-06-16 14:12] treo commented on #9006
The fix should be already in Snapshots, so adding another workaround is unlikely to help, don't you think so too?

[2020-06-16 14:15] mdavis95 commented on #9006
Oh I misread the ticket.  It seemed to me that the fix was Nd4j.getEnvironment().allowHelpers(false); (no comments or anything were referenced).    If the real issue was fixed that is great to here and this can be closed.

[2020-06-16 14:16] #9006 closed, assigned to nobody

[2020-06-16 14:19] treo commented on #9006
It was originally reported on the forum: https://community.konduit.ai/t/beta-7-glove-word-vector/540

The issue then only talked about the actual underlying problem in order to focus on the bug, instead of the symptoms around it.

[2020-06-16 14:22] mdavis95 commented on #9006
Perfect, thanks for linking that here. I should have searched the forum first instead of just the tickets.

[2020-06-17 13:33] eix128 opened #9007 "apache TVM support ?"
Can we use DL4J with apache TVM ?
Or is there anything you plan in future ?
https://tvm.apache.org

[2020-06-19 02:30] qq12cvhj opened #9008 "Can I inference in the file-mapped workspace?"
I'm trying to get output from a computationgraph model,however when input datas to the model,there's not too much memory to allocate for computing.So I set a file-mapped workspace.
However I encounter this problem:
`org.nd4j.linalg.workspace.ND4JWorkspaceException: Expected no workspace active before call to outputOfLayersDetached - Open/active workspaces: [FILE-MAPPED]
        at org.nd4j.linalg.

[2020-06-19 04:36] raver119 commented on #9008
That's not a bug and not a problem. That's intentional validation.

[2020-06-19 06:19] nitin2212 opened #9009 "Where can I find the installed header files for INDArray related operations ?"
I have installed DL4J using maven.

I need to see the installed .so and cpp header files that are used for INDArray calls?

Where can I find them ? I think they are located inside .m2/repository in my Ubuntu machine.

Please help !

[2020-06-19 06:21] raver119 commented on #9009
so/dll files are packed into correpsonding jar files, i.e. nd4j-native.jar

cpp files are not included, but obviously you can find those in libnd4j folder of this repository

[2020-06-19 06:28] nitin2212 commented on #9009
Hi, I need use INDArray pointers into my project where I can fetch them from DL4J frontend and pas them to my CPP backend. So that I can perform operations on them. For that I need to include the nd4j header files and link to the nd4j .so files. Can there be any work around  ?

[2020-06-19 06:33] raver119 commented on #9009
If all you want is INDArray shape/buffer - you don't need any header files for that. Just get the pointer out of ND4J in java, and do what you want with it. It's continuous memory buffer. Shape information is available in Java as well

[2020-06-19 06:36] nitin2212 commented on #9009
Alright. And Is it possible to perform INDArray reshape operation from the CPP backend ?

[2020-06-19 06:50] raver119 commented on #9009
Yes and no, but it'll require some coding efforts. Or, you'll have to include our cpp stuff into your project.

[2020-06-19 15:07] qq12cvhj commented on #9008
@raver119  So there is nothing wrong.But now it is not able to do such works at this mode of workspace,yes? Thanks.

[2020-06-19 18:06] treo commented on #9009
If you want to do that, you can link directly to libnd4j. However, there isn't much in terms of documentation on how to do that.

If you are comfortable enough with just the source, you can find it here: https://github.com/eclipse/deeplearning4j/tree/master/libnd4j

[2020-06-20 17:44] hosuaby opened #9010 "www.nd4j.org is unavailable"
Hello. Looks like http://www.nd4j.org/ is down for many days already.

[2020-06-21 03:58] AlexDBlack opened #9011 "DL4J UI can fail to launch under some circumstances"
From 1.0.0-beta7 DL4J examples on my Windows 10 machine.

Startup loks OK but it's not possible to connect to the UI (browsers just
[code]

Some time later (about a minute):
[code]

No futher errors or warnings are reported.

[2020-06-21 04:27] AlexDBlack commented on #9011
This looks somehow specific to the new examples.
If I check out examples branch ab_beta7 (pre refactoring) the UI launches fine

[2020-06-21 04:42] AlexDBlack opened #9012 "DL4J UI: saved UI stats - internal server error on custom layers"
If a custom layer used in the DL4J UI stats file isn't on the classpath: the UI model page can't display anything.

[2020-06-21 10:13] hmf opened #9013 "Brokn link: Importing TensorFlow models -> Import Validation"
Broken link in section:

https://deeplearning4j.konduit.ai/samediff/importing-tensorflow#import-validation

Import Validation
We have a TensorFlow graph analyzing utility which will report any missing operations (operations that still need to be implemented) here

Link is:

https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/impo

[2020-06-22 18:27] eraly opened #9014 "Not able to import unet based model"
Model DM'd in slack channel.
Errors out in beta7 based on a serialization bug. Should be fixed in snapshots but gives this instead:

[code]

[2020-06-22 18:31] eraly commented on #9014
Paul says possibly out of sync snapshots and try a local build. Will build on the 2080 box later and try.

[2020-06-23 22:10] rnett opened #9015 "weightedCrossEntropyWithLogits doesn't accept null weights"
From its javadoc:
`@param weights eights array. May be null. If null, a weight of 1.0 is used (NUMERIC type)`

However, passing null causes:
[code]

[2020-06-23 22:26] rnett opened #9016 "libnd4j: weighted_cross_entropy_with_logits backprop op implementation required"
When trying to fit a SameDiff with `weightedCrossEntropyWithLogits`, I get:
[code]

We've only got the forward pass op implemented in libnd4j/c++, no backprop op - https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/include/ops/declarable/generic/parity_ops/weighted_cross_entropy_with_logits.cpp

[2020-06-24 05:22] thammegowda opened #9017 "How to setInputType(NCHW) for KerasModel?"
#### Issue Description

We are using Kera model in [Apache Tika](https://github.com/apache/tika/blob/233a72d45de515a7ecb5988802559690cd91f57a/tika-dl/src/main/java/org/apache/tika/dl/imagerec/DL4JInceptionV3Net.java#L261-L264) as

[code]
The model weights are here: https://github.com/USCDataScience/tika-dockers/releases/download/v0.2/inception_v3_keras_2.h5
It was working fine earlier but after th

[2020-06-24 19:18] rnett opened #9018 "SameDiff/Libnd4j: relu w/ cutoff sets < cutoff values to cutoff, not 0"
From the `SameDiff.nn.relu` javadoc:
[code]

However, `sd.nn.relu(sd.constant(1), 2)` will evaluate to `2`, not 0.

[2020-06-25 00:00] rnett opened #9019 "SameDiff generated spaceToBatch has issues"
[code]
According to the javadoc, both paddingTop and paddingBottom should be 2D, but they aren't.  Names also don't make sense.

Furthermore, paddingTop is ignored in the op constructor:
[code]

[2020-06-25 04:45] AlexDBlack opened #9020 "SameDiff: ExecDebuggingListener doesn't work now that SameDiff uses OpContext for exec internally"
As per title.
Its output looks like this:
[code]

[2020-06-25 21:08] hmf commented on #9013
More broken links:

https://samediff/samediff/exampes
https://samediff/samediff/ops

in

https://deeplearning4j.konduit.ai/samediff/variables

[2020-06-26 00:45] rnett opened #9022 "SameDiff/Libnd4j: add WeightFormat to other ConvConfigs"
Conv2DConfig has a `weightsFormat` field that lets the layer accept other permutations of the weight array.  This is especially useful as DL4J uses `[outDepth, inDepth, kH, kW]` (sometimes, at least) and SameDiff uses `[kH, kW, inDepth, outDepth]`.

[2020-06-26 08:44] treo opened #9023 "Throw better exception when featurizing sentence pairs for bert fails"
#### Issue Description
Original issue on forum: https://community.konduit.ai/t/why-bertinferenceexample-can-only-infer-4-sentence-pair-at-once/649

When a BertIterator is configured to pad minibatches, e.g. for models that have a fixed minibatch size, trying to featurize more than the minibatch size, will run into an index out of bounds exception.

We should throw a better exception here, explaini

[2020-06-26 11:34] nitin2212 commented on #9009
I built libnd4j and included NDArray.h file as below:

[code]

**And I call them this way** :

[code]

But I am able to assign and fetch values to it at any index and is not giving any **segmentation fault**  (``` p[125] = 5.5 ```)? Does it allocate a large memory internally than specified ?

(Also, what is difference between /nd4j and /libnd4j folders in this repository ? )

[2020-06-27 02:08] rnett opened #9025 "DL4J: LastTimeStep should support different RNN data formats"
LastTimeStep has no parameter for data format, and only works with NCW.

[2020-06-27 02:17] rnett opened #9026 "SameDiff: document SDLoss ops not accepting output gradients"
Apparently the fused loss ops in SDLoss don't support output gradients.  So anything done to their outputs won't be reflected in the gradients.  This should be documented somewhere, maybe on SDLoss or on the methods themselves.

[2020-06-29 18:40] Dris101 opened #9028 "defineInputs(int numInputs) in SDVertexParams is a NoOp"
#### Issue Description

`defineInputs(int numInputs)` in `SDVertexParams` doesn't create the expected inputs

#### Version Information

1.0.0-beta7

#### Additional Information

[info]   java.lang.NullPointerException:
[info]   at org.deeplearning4j.nn.layers.samediff.SameDiffGraphVertex.doInit(SameDiffGraphVertex.java:271)

#### Problem

In **deeplearning4j/nn/conf/layers/samediff/SDVertexParams.

[2020-07-01 06:26] treo opened #9029 "BatchNorm Backpropagation issue with SameDiff"
#### Issue Description
Originally reported in https://community.konduit.ai/t/how-to-use-sd-nn-batchnorm-in-deeplearning4j/85/4

The problem is that BatchNorm.doDiff is using BatchNormDerivative, which apparently isn't used anywhere else, and therefore doesn't get covered by the existing tests. And because of this, it got away with a broken implementation.

It _should_ be used in other places (e.g.

[2020-07-01 17:42] cagneymoreau opened #9030 "dataset.class name with get/set"
This is a very simple request.

Could the dataset.class have a name or description field which is a simple string with a get/set?

Right now working with multiple datasets stored as lists requires me to maintain a separate list with names/desc.

How else are people labeling their charts when posting multiple datasets to a chart.

[2020-07-01 18:01] treo commented on #9030
DataSet is meant to contain a mini-batch. It doesn't make any sense to give it a specific name.

And it has a facility to store metadata (getExampleMetaData/setExampleMetaData) that is per-example.

If you need to store some kind of description, why not just use a List of pairs instead of two lists?

[2020-07-01 18:06] treo opened #9031 "SameDiff: tensorMmul still uses java based doDiff"
#### Issue Description
tensorMmul uses a java based doDiff implementation, and in it is uses a few samediff anti patterns, like evaling variables.

It should be changed to using the c++ based implementation.

#### Version Information

* Deeplearning4j version: beta7

[2020-07-01 18:17] cagneymoreau commented on #9030
I'm really confused about how this api is supposed to work then. Maybe you could clear it up.

Lets say a I create a method that generate two INDArrays representing features and labels.

I need to run this method some number of times and pass those pairs into a network and later a chart.

Is there an object for encapsulating the data pairs?

your suggestion regarding the examplemetadata should wor

[2020-07-01 18:44] treo commented on #9030
Ideally you aren't building them yourself, and instead use the given API's for data reading. If you need to read custom data it is preferred to create a custom Reader instead of trying to skip all of this and go directly to creating the tensors yourself.

If you insist on doing so, note that they have to have the minibatch size as the leading dimension.

A `DataSet` object then is composed of up t

[2020-07-01 18:58] cagneymoreau commented on #9030
Thanks for your feedback. dl4j is a great resource as a result of the countless hours invested. The examples and documentation are the weak links for beginners like me.

[2020-07-01 18:58] #9030 closed, assigned to nobody

[2020-07-03 08:43] art-of-m opened #9032 "EXCEPTION_ACCESS_VIOLATION (0xc0000005) during training"
#### Issue Description
I am working on a dl4j example for cat and dog classification using this kaggle dataset: https://www.kaggle.com/c/dogs-vs-cats/data
Currently, I only train my model without testing it. After the testing starts and runs for some time it throws this error:

[hs_err_pid12580.log](https://github.com/eclipse/deeplearning4j/files/4868592/hs_err_pid12580.log)
This is the log file b

[2020-07-03 08:46] raver119 commented on #9032
By the looks of it - something bad happened in OpenCV. There was an issue reported some time ago with gif files I think, maybe that's the same issue?

What you have in train/test files?

[2020-07-03 08:48] art-of-m commented on #9032
I have a bunch (about 30k) of .jpg images of cats and dogs and they all have different sizes.

I also have created a smaller dataset (about 7k) with these images and tried the code on it and it sometimes runs successfully and sometimes throws the same error. But as soon as I try the bigger dataset, it starts to throw this error randomly but never gets past 86th iteration and never finishes even th

[2020-07-03 11:29] treo commented on #9017
Originally we we supported only NCHW and tried to convert Keras models to that format. However, it resulted in many edge cases and layers upon layers of workarounds.

For this reason we have decided to cut the workarounds, and instead import models the way the are originally defined.

But this in turn means that you can not configure how the model is supposed to be imported.

There are two things

[2020-07-03 13:43] Dris101 commented on #9031
Adding link to gist showing where java based doDiff is throwing an NPE when used with a permuted input tensor

https://gist.github.com/Dris101/c2663600f3d35733cef2b9331d424ec7

[2020-07-03 13:57] Dris101 opened #9033 "Document Microsoft Visual C++ Redestributable dependencies in jnind4jcuda.dll"
#### Missing dependencies using CUDA backend

#### Version Information

1.0.0-beta7
Windows 10
CUDA 10.2

#### Additional Information

After installing beta 7 I ran into errors caused by missing Microsoft Visual C++ Redestributable dlls.
According to Dependencies (https://github.com/lucasg/Dependencies), jnind4jcuda.dll has dependencies on:-

- C:\WINDOWS\system32\VCRUNTIME140.dll
- C:\WINDOWS\sys

[2020-07-03 23:38] saudet commented on #9033
Fixed in commit https://github.com/bytedeco/javacpp/commit/524c8ec9f08c84f4fbb0bd843d5b6a5ee3f7ddd8.

[2020-07-05 10:44] phong-phuong commented on #9032
It's hard to pinpoint which file caused the error in huge datasets since opencv crashes without saying which file caused the crash. It was likely caused by opencv unable to read the size of the image, so it failed to allocate memory size for the image matrix, but went ahead and tried to read in a matrix that wasn't allocated with memory. This needs to caught in opencv and rethrown properly.

In th

[2020-07-05 12:27] lpaatero opened #9034 "CUDNN BatchNormalization uses a lot of GPU memory"
#### Issue Description

BatchNormalization using CUDNN consumes at least 10MB of GPU memory for each layer, even when data sizes are very small. Thus about 720 BatchNormalization layers (with tiny data) consume all of 8GB GPU memory.

Without CUDNN BatchNormalization does not consume a lot of GPU memory.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Both

[2020-07-06 06:19] pocketface commented on #9011
Same issue on my mac.. is there any solution?

[2020-07-06 08:23] printomi commented on #9011
I get this exception when running with SNAPSHOT and using PR #9005 , whenever I click the link
http://localhost:9000/
[code]
The server does not auto-stop in this case.
This exception may be related to netty (vertx) dependency.

[2020-07-07 01:31] rnett opened #9036 "Libnd4j: Make div forward op allowed datatypes match div_bp"
Currently `div` allows mixed datatypes, e.g. `float / long -> float`.  However, `div_bp` does not, which can cause unexpected errors.  They should match.

[2020-07-07 19:05] rnett opened #9037 "SameDiff/Libnd4j: SimpleRnn op with backprop"
For parity with DL4J.  There is currently no way to implement the SimpleRnn layer in SameDiff without unrolling the loop.

[2020-07-09 13:53] cacophany53 commented on #8997
Does anyone have any insights into this?

[2020-07-10 07:33] WindQAQ opened #9038 "Errors occur when training word2vec on spark"
#### Issue Description

Hi,

I'm using org.deeplearning4j.spark.models.embeddings.word2vec.Word2Vec to train word2vec, and the following errors occur

In-place operations like x.addi(y) can only be performed when x and y have the same shape, or x and y are broadcastable with x.shape() == broadcastShape(x,y)
	at org.nd4j.linalg.api.shape.Shape.assertBroadcastable(Shape.java:283)
	at org.nd4j.linalg

[2020-07-10 17:56] cagneymoreau opened #9039 "Cannot reset iterator - reset not supported (resetSupported() == false)"

[2020-07-10 20:50] #9039 closed, assigned to nobody

[2020-07-11 19:27] mattiaachilli opened #9040 "Reduce apk size using nd4j"
#### Issue Description

Hi everyone, i have an android application that use nd4j, my problem is that the apk size is too big (almost 500MB).
build.gradle: https://pastebin.com/LJDkNYzk

How can i reduce the apk size? My app needs mainly INDArray, OpenCV and NativeImageLoader.

[2020-07-11 23:29] saudet commented on #9040
Please read https://github.com/bytedeco/javacpp-presets/wiki/Reducing-the-Number-of-Dependencies

[2020-07-12 10:49] mattiaachilli commented on #9040
Yes i have already read that but how, can yuu help me? If you can see my build.gradle...

[2020-07-14 10:29] AlexDBlack opened #9041 "ND4J: Test failures on Windows + CUDA 11 + cuDNN 8"
![image](https://user-images.githubusercontent.com/2360237/87415615-acda8580-c610-11ea-8b53-3645ca544825.png)

https://gist.github.com/AlexDBlack/45575198b79d89762c2ab77330b194ca

[2020-07-15 21:20] cagneymoreau opened #9042 "LocalTransformExecutor.executeJoin returns list.size() = 0"
#### Issue Description
trying to combine two csv files of 17 and 27 columns. Both around 1260 rows
I have successfully done this with other csv files.

Maybe to many columns?
Any thoughts appreciated.

Attempting to use;
[code]

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* N

[2020-07-15 23:43] agibsonccc commented on #9042
This isn't a dl4j issue. It appears to be related specifically to netty:
https://github.com/netty/netty/issues/7817
Google search this specific part:
[code]

and see what you come back with. This issue really isn't specific to dl4j. It involves mainly the netty library.

[2020-07-17 00:21] cagneymoreau commented on #9042
Its unfortunate that this issue is with netty. Instead of researching the issue more(due to lack of time) I assumed It would be faster to write a simple class that accomplishes my goal. Ill paste it below in case it saves someone else some typing in the future.

[code]

[2020-07-17 00:21] #9042 closed, assigned to nobody

[2020-07-17 22:58] tarilabs opened #9043 "Batch norm layer expected input of type CNN, CNN Flat or FF, got InputTypeRecurrent(64,timeSeriesLength=4096,format=NWC)"
#### Issue Description

I am trying to import this keras model: https://github.com/antonior92/automatic-ecg-diagnosis/blob/cb3394da2af36f1199b03736da87478c6cc31dfc/model.py#L117-L137

and I get the error per title, more details below.

I noticed there was a ~similar issue back in 2018, but it was automatically closed with no solution.

#### Version Information

Please indicate relevant versions, i

[2020-07-17 23:45] agibsonccc commented on #9043
Could you please share the exact model? Whatever is happening here is lower level. Thanks!

[2020-07-18 00:59] tarilabs commented on #9043
@agibsonccc you mean the `model.hdf5` which is used while loading per reproducer?

You can download it from here: https://doi.org/10.5281/zenodo.3625017
Scrolling to the bottom you will find option to download model.zip, containing the trained model which I'm trying to load in deeplearning4j.

Thanks!

[2020-07-18 01:55] agibsonccc commented on #9043
Hi, it looks you might have hit an edge case in our batch normalization import:
https://github.com/eclipse/deeplearning4j/issues/2418
https://github.com/eclipse/deeplearning4j/issues/4502

We added support for it here:
https://github.com/eclipse/deeplearning4j/pull/6033/commits/d7369a31ef541473ce4df6c855978d19269d462d

but it doesn't look like we updated our keras import.

Do you mind following:
h

[2020-07-18 08:23] tarilabs commented on #9043
Hi, thanks for the reply but unfortunately that doesn't work either.

Context: I have the trained model `model.hdf5` per download above, and it looks working fine in Python to make the actual prediction.

I have tried to follow your suggestions.

I have used this Python script to save as TF:
[code]

But when I try to load the `.pb` file using the SameDiff which you linked with the following simple

[2020-07-18 09:50] tarilabs commented on #9043
I actually got some progress trying it a bit differently (pardon my very lacking experience with Python).

I have tried modifying my Python scripts as follows:
[code]

and if I try to open that `.pb` file in deeplearning4j seems to be loading now, as I modified my Java snippet as:
[code]

I get as output:

<details>

[code]

</details>

Which at first glance looks corresponding to the original gra

[2020-07-19 03:42] agibsonccc commented on #9043
@tarilabs thanks for confirming! I'm glad the workaround helped you out!

[2020-07-19 05:42] agibsonccc commented on #9043
@tarilabs  could you potentially send me an expected input and output saved as a numpy array for verification since you have the dev environment setup? I have the model loading but want to make sure we save this in our set of test models to load the resources. Part of that is making sure we keep unit tests that give us expected input and output.
Follow this tutorial:
https://machinelearningmastery

[2020-07-19 08:43] tarilabs commented on #9043
Hi, the full test data is quite big, so I'm not sure is worthy to put in full under unit test?

Anyway I am currently using the test data for input as described in the original source https://github.com/antonior92/automatic-ecg-diagnosis#scripts from this archive: https://doi.org/10.5281/zenodo.3625006
(at the bottom of the page, find option to download `data.zip`)

If I run the trained model agai

[2020-07-19 09:45] tarilabs opened #9044 "Cannot remove array: not found in ArrayCache"
#### Issue Description

I am running a TF via `org.nd4j.autodiff.samediff.SameDiff` and I am interested only in a single output.

If I run as:
[code]
it works and I can find the single output I'm particularly interested, in the resulting map.

If I run instead as:
[code]
I get the following stacktrace:
[code]

#### Version Information

* Deeplearning4j version `1.0.0-beta7`
* Platform information

[2020-07-19 11:55] agibsonccc commented on #9044
@tarilabs can you try a simpler workflow like this example?
https://github.com/eclipse/deeplearning4j-examples/blob/master/samediff-examples/src/main/java/org/nd4j/examples/samediff/quickstart/basics/Ex2_LinearRegression.java#L77

Generally when you want outputs, you specify which outputs you want to use. I suspect it's related to your usage of batchOutput. Generally, you shouldn't need that. Outp

[2020-07-20 08:12] dariuszzbyrad opened #9045 "Docs in the monorepo"
In the main doc repo (https://github.com/eclipse/deeplearning4j-docs) I see the warning:

Where the 'here' is https://github.com/eclipse/deeplearning4j/tree/master/docs which doesn't exist.

In the mono repo I can't find any docs. Where can I find it?

[2020-07-20 08:26] agibsonccc commented on #9045
Hi, you can find the published docs here:
https://deeplearning4j.konduit.ai/

[2020-07-20 08:32] dariuszzbyrad commented on #9045
Thanks for answer, but where I can find source for contributing (PR for https://github.com/eclipse/deeplearning4j-docs is prohibited)?

[2020-07-20 08:56] agibsonccc commented on #9045
Ah, I see. Thanks for offering!  Our docs are hosted on gitbook now. It's not the most friendly for outsiders right now... @treo  would know better than me about the whole process there. I'll reopen this to document this.

[2020-07-21 09:26] Dris101 opened #9048 "CUSTOM_OP_IMPL(tensormmul_bp) errors for inputs of different ranks"
#### Issue Description

When called with tensors of different ranks the LIBND4J C++ ```tensormmul_bp```
custom op in ```dl4j\deeplearning4j\libnd4j\include\ops\declarable\generic\blas\tensormmul.cpp``` throws a runtime error
from ```ShapeUtils::evalShapeForTensorDot``` in ```include\helpers\impl\MmulHelper.cpp```

#### Version Information

* 1.0.0-beta7
* Windows 10

#### Additional Information

S

[2020-07-21 14:41] jljljl opened #9049 "LocallyConnected2D hashCode() NullPointerException"
Method "hashCode()" implemented in wrong way for LocallyConnected2D class (and probably for some other classes too).
`new LinkedHashSet<>().add(new LocallyConnected2D.Builder().build());`
will cause
[code]
Methods hashCode() should never be overriden due to possible failures like that. But you can also implement
[code]

[2020-07-21 14:58] jljljl opened #9050 "LocallyConnected2D NullPointerException array values at LocallyConnected2D.java:216"
At LocallyConnected2D.class inputArray contains null values when using padding and/or when using ConvolutionMode.Truncate with uneven fit.

Null values causes NullPointerException. SDValidation object is trying to invoke method dataType() of null SDVariable.
[code]

[code]

[2020-07-21 15:34] jljljl opened #9051 "LocallyConnected2D and SameDiff are slow"
LocallyConnected2D takes long time to load when using high resolution input with small kernel and stride sizes. It causes continuous loop.
`new LocallyConnected2D.Builder().kernelSize(i, j).stride(i, j).padding(0, 0).convolutionMode(ConvolutionMode.Same).nOut(1).build()//i,j are low values for high resolution input`
This 2 loops will never finish when outH and outW are above 100. My program took f

[2020-07-21 15:54] jljljl commented on #9050
Found fourth bug when using uneven width/height. I guess to leave a comment instead of adding new ticked cause the problem is in not only one for this class. Got ArrayIndexOutOfBoundsException with outH = 10, outW = 2 on third iteration
[code]
The line is:
`inputArray[i * outH + j] = sameDiff.reshape(slice, 1, miniBatch, featureDim);`
i guess it should be
` inputArray[i * outW + j] = sameDiff.resh

[2020-07-22 17:34] data-llectual opened #9052 "Transformer with multihead attention"
Hi,

I am opening this as issue here as I have not got any response to my earlier query:
https://community.konduit.ai/t/transformer-attention-nlp/740

I am trying to build text classification using transformer block with multihead attention in dl4j.
Would greatly appreciate help in this regard.

Thanks

[2020-07-23 04:02] agibsonccc commented on #9052
Hi, the forum does not have a guaranteed response time. Opening an issue pointing this out is just spam. I'm closing this.

[2020-07-23 04:02] #9052 closed, assigned to nobody

[2020-07-25 06:05] jljljl commented on #9050
I've fixed some bugs i posted. How can i commit fixes?

[2020-07-25 11:29] agibsonccc commented on #9050
Hi, submit a PR to https://github.com/eclipse/deeplearning4j and we'll take a look. Thanks!

[2020-07-25 11:30] #9001 closed, assigned to nobody

[2020-07-26 10:01] #9002 closed, assigned to nobody

[2020-07-26 13:07] merykitty opened #9054 "L2NormalizeVertex does not work properly with user-defined dimensions"
#### Issue Description

When using L2NormalizeVertex with user-defined dimensions, the shape reduction resulted from norm2 operation may make the shapes of the input tensor and the norm tensor uncastable, leads to IllegalStateException

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version: 1.0.0-beta7
* Platform information (OS, etc): Windo

[2020-07-27 16:14] jljljl commented on #9050
Got exception on push: cannot connect to URI... git-receive-pack not permitted on url...

[2020-07-28 13:36] marcoromelli opened #9056 "NativeImageLoader wrong RGB loading of Mat"
#### Issue Description

Reporting here an issue discussed also at [https://github.com/deeplearning4j/DataVec/issues/587](https://github.com/deeplearning4j/DataVec/issues/587).
The output of a Keras model (ComputationGraph) changes if we construct the INDArray from NativeImageLoader vs manually.

#### Version Information

* Deeplearning4j 1.0.0-beta7
* Windows 10
* No CUDA

Here is a minimal reprod

[2020-07-28 23:20] agibsonccc commented on #9056
@marcoromelli we have workarounds for this in the record reader: https://github.com/eclipse/deeplearning4j/blob/master/datavec/datavec-data/datavec-data-image/src/main/java/org/datavec/image/recordreader/BaseImageRecordReader.java#L352

Generally, different frameworks will have different input image formats they expect.
The NativeImageLoader should be used with the expectation that you know which

[2020-07-29 06:51] marcoromelli commented on #9056
I don't understand. The line you linked is to convert from NCHW to NHWC, which I already have in my code.
My problem is different: `inputNet` and `inputNet2` look identical, but `outputs` and `outputs2` are totally different.
The model I used can be downloaded from [here](https://we.tl/t-0iVG3xMXBC).

[2020-07-29 13:40] novog opened #9058 "Nd4jBackend using wrong ClassLoader"
I have nd4j working in my Maven Kotlin project when run from a packaged jar file. However, when I try calling some nd4j functions in the IntelliJ REPL under the context of the same project, I get an `Nd4jBackend$NoAvailableBackendException`. It would vastly improve productivity when trying to explore data or new algorithms if nd4j could be used from the REPL. Example code that results in this erro

[2020-07-29 22:13] agibsonccc commented on #9040
This was discussed on the community forum: https://community.konduit.ai/ closing in favor of that.

[2020-07-29 22:13] #9040 closed, assigned to nobody

[2020-07-29 22:16] agibsonccc commented on #9045
@dariuszzbyrad  here, send PRs to this github repo. Thanks! https://github.com/KonduitAI/deeplearning4j-gitbook-sync/

[2020-07-29 22:16] #9045 closed, assigned to nobody

[2020-07-29 22:32] agibsonccc opened #9059 "Importing Time Distributed fails"
#### Issue Description
See: https://community.konduit.ai/t/keras-model-import-error-with-timedistributed-layer/754

Please describe our issue, along with:
- expected behavior import should work
- encountered behavior import fails for this specific configuration

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version 1.0.0-beta7

[2020-07-30 08:51] zhangy10 opened #9060 "Running Error for using Causal Convolution1D"
I am trying to build a TCN network referring to ```https://github.com/locuslab/TCN```. The basic network structure has 3 TCN blocks, and each block includes 2 Causal Convolution1D layers with the same kernel size and dilation size.

I use 1.0.0-beta7 to run the codes, and running on a Mac laptop with Catalina 10.15.1.

However, I got this issue:

[code]

And below is my network codes, and the inpu

[2020-07-30 09:53] agibsonccc commented on #9060
Could you set:
[code]
and let me know the output?

[2020-07-30 09:54] agibsonccc commented on #9058
@novog there's some progress on #8972 afterwards we can just over ride it. Thanks for flagging!

[2020-07-30 09:59] agibsonccc commented on #9056
Ah, sorry. I looked at the other github issue. That helped a bit. cc @saudet  here as well just in case. Let me spend some time in the debugger here.

[2020-07-30 10:23] agibsonccc commented on #9056
@marcoromelli also you mentioned not being able to import mobilenet. Could you clarify what happened there maybe in a separate issue? We have multiple forms of input including keras and tensorflow.

[2020-07-30 10:38] zhangy10 commented on #9060
All right, and I think the output looks the same after the setting:

[code]

But I debug it and find that the error locates in ```NativeOpExecutioner``` at 1103 line:

[code]
The op.config is ``` Conv1DConfig(k=14, s=1, p=0, d=4, dataFormat=NCW, paddingMode=CAUSAL)```, and the context has ``` org.nd4j.nativeblas.OpaqueContext[address=0x7f85f0078f30,position=0,limit=0,capacity=0,deallocator=null]``

[2020-07-30 11:06] agibsonccc commented on #9056
@marcoromelli  just added
[code]

to your script and I'm getting a JVM crash now. I'm guessing this is an addressing issue and it's bumping in to invalid memory or something. Let me keep looking in to this.

[2020-07-30 15:49] marcoromelli opened #9061 "DL4JInvalidConfigException when trying to import Keras pretrained model"
#### Issue Description

When trying to import a Keras model saved with the `.save()` method an exception is thrown.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j 1.0.0-beta7
* Windows 10
* No CUDA
* tesnorflow-gpu 1.14.0
* Keras 2.3.1

#### Additional Information

Stacktrace: https://gist.github.com/marcoromelli/1ce708d929fd280b8c060353fbd9

[2020-07-30 23:30] agibsonccc commented on #9056
@marcoromelli  I looked in to this and noticed a dup() call will give consistent results. While it's not ideal, it's at least a workaround for now. It has something to do with the ndarray references and the way it's created.
I changed it to the below:
[code]

This gives consistent results.

If I get rid of the dup() calls when calling inputSingle I notice it is fine.
This is reference related. I'm

[2020-07-31 11:47] dariuszzbyrad opened #9063 "Add support for the ArchUnit"
#### Issue  (enhancement) Description

I found test testAllAggregateOpsAreSerializable in the class org.datavec.api.transform.ops.AggregableMultiOpTest which not looks good https://github.com/eclipse/deeplearning4j/blob/0a865f6ee3d9fdd8b956a9ad46a71b5fb939b2ed/datavec/datavec-api/src/test/java/org/datavec/api/transform/ops/AggregableMultiOpTest.java#L73 Fortunately we have nice framework to test a

[2020-08-01 23:54] agibsonccc commented on #9051
@jljljl no problem with your objections. Mind submitting a PR?

[2020-08-01 23:54] agibsonccc commented on #9050
@jljljl  sorry not sure what  issue you're having, that sounds strange. Could you try again? Sorry still catching up on backlog here. Take a look at github's docs here: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request If you're having issues, try using the github desktop app.

[2020-08-01 23:57] agibsonccc commented on #9044
@tarilabs any updates here?

[2020-08-02 10:15] #9054 closed, assigned to nobody

[2020-08-04 17:58] jljljl commented on #9051
SameDiff.java requires huge changes. Needed to add caching to read/iterate over collections fast. LinkedHashMap should be changed. It's a lot of work and here is high risk of making bug. So i recommend it to be done by ones who developed it

[2020-08-05 03:20] zhangy10 commented on #9060
@agibsonccc I follow up on this. I am not sure if this structure can work in different environments. Please also double-check it.

[2020-08-07 12:44] hanbaoan123 opened #9065 "Need support for new RL algorithms"
There are so many RL algorithms now except DQN and A3C that have been implemented by DL4J, such as double DQN, dueling DQN, DPG, DDPG and so on. It is highly expected that these algorithms will be implemented to expand the application of DL4J.

[2020-08-07 19:21] tarilabs commented on #9044
sorry for the delay, this is more of a "weekend" interest activity for me, will try it out asap

[2020-08-12 02:30] RuralHunter opened #9066 "[RL4j]Output from network is not a probability distribution"
#### Issue Description
There is an exception sometimes when calling ACPolicy.nextAction(), such as this:
[code]
[[    0.4998,    0.5002]] clearly is a probability distribution. I checked the [source code](https://github.com/eclipse/deeplearning4j/blob/6b736eae3333a94c1ef22ae5e53b1139434bb4b5/rl4j/rl4j-core/src/main/java/org/deeplearning4j/rl4j/policy/ACPolicy.java#L74). The function is quite simpl

[2020-08-12 10:50] saudet commented on #9066
That should be fixed with 1.0.0-SNAPSHOT.

[2020-08-12 10:52] saudet commented on #9066
Duplicate of #8800

[2020-08-12 10:52] #9066 closed, assigned to nobody

[2020-08-13 18:16] novog opened #9067 "INDArray allows retrieval of value from invalid index"
There appears to be an off-by-one error in the bounds checking behind `INDArray.getDouble` and related methods. Consider the following Kotlin code:

    val array = Nd4j.create(4, 10)
    array.putScalar(1, 0, 7.0)

    // this call rightly produces an IllegalArgumentException,
    // "Index [1] must not be >= shape[1]=10"
    val a = array.getDouble(0, 11)

    // this call should also produce an

[2020-08-18 10:51] agibsonccc opened #9068 "Op Profiler causes nullpointer exception when enabled with cuda backend"
#### Issue Description
Example stack trace:
[code]

The host pointer on the data buffer appears to be null.

Note this happens when the profiler has the following that are true:
[code]

#### Version Information
1.0.0-beta7
Please indicate relevant versions, including, if relevant:

* Deeplearning4j version master
* Platform information (OS, etc) windows
* CUDA version, if used 10.2
* NVIDIA driver

[2020-08-18 10:53] agibsonccc commented on #9067
For now, I would suggest using the indexing api. In kotlin, I would encourage you to perhaps add wrappers around that as well.
Top level class for indexing can be found here:
https://github.com/eclipse/deeplearning4j/blob/master/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/linalg/indexing/NDArrayIndex.java

Thanks for reporting this!

[2020-08-18 10:55] agibsonccc commented on #9065
@aboulang2002  has been helping out quite a bit there.

@hanbaoan123 we haven't been putting as many resources in to rl4j. You're welcome to contribue though!
I'm closing this since there's not a concrete action to be made here unless you have a specific algorithm you want implemented. I'll just use this as a way of notifying you who to ping and how to scope an issue.

[2020-08-18 10:55] #9065 closed, assigned to nobody

[2020-08-19 08:19] dariuszzbyrad opened #9069 "Incorrect calculate LU decomposition"
#### Issue Description
`SameDiff sameDiff = SameDiff.create();

        SDVariable sdInput = sameDiff.var(Nd4j.createFromArray(new double[]{
                5., 3., 2., 1., 2., 0., 3., 0., 4.
        }).reshape(3,3));

        SDVariable out = sameDiff.linalg().lu("lu", sdInput);

        System.out.println(out + "\n\n" + out.eval());`

Result:
SDVariable(name="lu",variableType=ARRAY,dtype=DOUBLE)

[2020-08-19 16:53] novog opened #9070 "Svd fails to populate u matrix"
When I attempt using the `Svd` operation, it assigns values to the `s` and `v` matrices as expected, but does not assign to `u`. Take as an example the following Kotlin code, based loosely on the usage of `Svd` in the current version of `OrthogonalDistribution`:

    val input = Nd4j.create(floatArrayOf(1.0F, 2.0F, 3.0F, 4.0F), intArrayOf(2, 2))
    val dtype = Nd4j.defaultFloatingPointType()

[2020-08-19 22:40] Scoobadood commented on #9044
I saw the same issue when forward inferencing on a CNN built using only ND4J classes.

Tracing the code led me to this code and in particular line 255:

https://github.com/eclipse/deeplearning4j/blob/6b736eae3333a94c1ef22ae5e53b1139434bb4b5/nd4j/nd4j-backends/nd4j-api-parent/nd4j-api/src/main/java/org/nd4j/autodiff/samediff/internal/memory/ArrayCacheMemoryMgr.java#L252-L263

[code]

In my case, an

[2020-08-19 22:56] agibsonccc commented on #9044
@Scoobadood Can you come up with a self contained network that contains this for a test case? If so, we can get a proper test case and run the regression tests relative to that.

[2020-08-19 23:00] Scoobadood commented on #9044
I can TAL. A challenge is forcing a memory shortage such that the cache is required to remove or recycle things (I don't have a deep understanding of how the cache works).  My network is not exactly simple and this particular issue only arises when my input image is "large enough". YMMV.  A unit test may be a better approach here.

[2020-08-19 23:02] agibsonccc commented on #9044
@Scoobadood yeah sure, anything that can reproduce this and would be considered a valid case will help get this fixed. It will also help force us to think about what is/isn't a valid case here. Thanks!

[2020-08-22 10:23] AimenKaa opened #9072 "deeplearning4j InvalidKerasConfigurationException"
deeplearning4j returning "Expected model class name Model (found Functional)." when trying to load a keras model. same happens when try to load it as sequential.

python :

from tensorflow.keras.applications.resnet50 import ResNet50
from tensorflow.keras.preprocessing import image
from tensorflow.keras.applications.resnet50 import preprocess_input, decode_predictions
import numpy as np
model = Res

[2020-08-22 13:06] LightCampy commented on #9000
I noticed that there is a similar problem at https://github.com/eclipse/deeplearning4j/issues/4743. Perhaps we can refer to this issue to find more context about the bug (e.g. the cause of the bug) ?
Or maybe this can help us find the faulty lines and we can also refer to the [fix](https://github.com/eclipse/deeplearning4j/commit/27a652ea36ece2c26cab8f4bb6768c0dc6272ac9) to repair it?

[2020-08-23 03:54] zhangy10 commented on #9060
@agibsonccc Any updates for this issue? Thanks.

[2020-08-23 11:35] agibsonccc commented on #9060
Hi, sorry I wasn't able to get to this for a while. I stripped down your example to 1 layer where the problematic parts are and am looking in to this now.

[2020-08-23 16:01] zhangy10 commented on #9060
@agibsonccc Thanks, and let me know if anything is wrong after that.

[2020-08-24 12:50] agibsonccc commented on #9060
@zhangy10  https://github.com/KonduitAI/deeplearning4j/pull/519 looks like it was a bug.
 I have a few more tests to merge yet, but essentially the problem was the way data is being passed down to c++ and validation that didn't quite fit the assumptions for causal convolutions.

[2020-08-24 13:57] zhangy10 commented on #9060
@agibsonccc Thanks for that, and please let me know once it is fixed in the snapshot.

[2020-08-26 13:13] novog opened #9074 "Support batch-size-agnostic ReshapeVertex"
I propose that `ReshapeVertex` should be enhanced to allow it to be used without specifying the batch size. Many layer types can be used freely with inputs of any batch size. This freedom allows us to easily do things like train a model using larger batches, then perform inference on smaller batches of varying size, depending on what is required by the end application.

`ReshapeVertex`, on the oth

[2020-08-27 06:22] #9063 closed, assigned to nobody

[2020-08-30 11:10] agibsonccc commented on #9061
Confirmed. Let me look in to this, thanks!

[2020-08-30 11:22] #9060 closed, assigned to agibsonccc

[2020-08-30 11:23] agibsonccc commented on #9060
@zhangy10  fixed but not in eclipse master yet.  Keep an eye out for a PR merge from our dev repo soon.

[2020-08-30 23:03] agibsonccc commented on #9061
@marcoromelli I fixed this here: https://github.com/KonduitAI/deeplearning4j/pull/521 Keep an eye out for an eclipse merge to master soon.

[2020-08-30 23:16] #9061 closed, assigned to agibsonccc

[2020-08-30 23:22] agibsonccc commented on #9072
@AimenKaa I just worked on a resnet50 related issue and found something different. I was able to import the model fine. I fixed a semi related issue here: https://github.com/eclipse/deeplearning4j/issues/9061 I was also able to import the model fine. I'm closing this because I can't reproduce your issue here. Maybe try again with snapshots.

[2020-08-30 23:22] #9072 closed, assigned to nobody

[2020-08-30 23:24] agibsonccc commented on #9017
@thammegowda  I'm doing a pass on import issues and wanted to double check on this. Did your team find a work around?

[2020-09-01 08:33] FriedaSmith opened #9079 "Is there a demo for speech recognition using deeplearning4j?"
Hello. I just started learning speech recognition. I want to program speech recognition using java. Is there a demo for speech recognition using deeplearning4j?

[2020-09-02 22:05] thammegowda commented on #9017
@treo thanks for the suggestions.

@agibsonccc  thanks for checking this again. we haven't found a workaround.

As suggested above, (1) Conversion of the model using beta6, then upgrading to beta7 is just too much work for Apache Tika end (hosting new model weights, updating the URLs, etc; I am not actively work on Tika or DL4J).

and (2), I had already tried transposing the input from NCHW -> NHW

[2020-09-03 05:58] zhangy10 commented on #9060
@agibsonccc All right, thanks again, and will keep an eye on that.

[2020-09-03 07:10] fasahath opened #9081 "Unable to deserialize model on CentOS: restoreMultiLayerNetwork -> NullPointerException"
#### Issue Description
Unable to deserialize model on a CentOS release 6.8 (Final)

#### Expected behavior
Deserialization works on my local Mac
ProductName:	Mac OS X
ProductVersion:	10.15.5
BuildVersion:	19F101
Kernel: 19.5.0

#### Encountered behavior
*Deserialization fails on linux server*
CentOS release 6.8 (Final)
Kernel: 2.6.32-642.6.2.el6.x86_64

#### Version Information
* Deeplearning4j ve

[2020-09-03 09:05] agibsonccc commented on #9081
I'm guessing this is libc related potentially? I think we only support centos 7 in our binaries. @saudet ?

[2020-09-03 10:22] saudet commented on #9081
CentOS 6, that's not a link error.

[2020-09-03 10:26] agibsonccc commented on #9081
Ok @fasahath can you provide the model so we can reproduce this? Thanks @saudet

[2020-09-03 12:26] agibsonccc commented on #9017
@thammegowda  thanks. I'm trying to address this now. Let me look at the test cases and see what I can do.

[2020-09-04 04:45] fasahath commented on #9081
I have sent you the model over email.
Sorry for the delay.

[2020-09-05 04:45] fasahath commented on #9081
Here is the full [stack trace](https://gist.github.com/fasahath/8003894cb1609019167d8a18e494bb62)
You can download the model file from [here](https://drive.google.com/file/d/1BJixwOlPRu-9cmD34d-UG6Wu7QT-0Ssv/view?usp=sharing)

[2020-09-07 09:14] fgrilli opened #9083 "Shaded snakeyaml version affected by vulnerability"
On our CI system, a CVE scan detected a vulnerability due to the shaded snakeyaml version pulled in by jackson-1.0.0-beta6.

[code]
See https://nvd.nist.gov/vuln/detail/CVE-2017-18640

The vulnerable version is declared at https://github.com/eclipse/deeplearning4j/blob/master/pom.xml#L340
Updating to snakeyaml 1.26 should fix the issue.

#### Version Information

* Deeplearning4j version: 1.0.0-be

[2020-09-08 04:55] wakawaka54 opened #9086 "MultiDataSetIteratorSplitter throws NullPointerException"
MultiDataSetIteratorSplitter throws NullPointerException?

https://github.com/eclipse/deeplearning4j/blob/1de8837c39c368b46e3943a2d24f92cfcff5231e/deeplearning4j/deeplearning4j-data/deeplearning4j-utility-iterators/src/main/java/org/deeplearning4j/datasets/iterator/MultiDataSetIteratorSplitter.java#L104-L107

[2020-09-08 05:56] alexanderst commented on #9086
Yes, line 107. This constructor is not covered with unit test, so the bug was missed.

[2020-09-10 08:35] eix128 opened #9087 "New Generation HopeField & Transform Networks Support"
Hi , there is a new type network named Transform.
It beats LSTM at all costs.
Now many people migrating to Transform on Keras and Python
Currently , seems like DL4J doesnt have Transform Network support
Also with new Transform Network , we can use new generation HopeField network that seems  usable.

Here is :
Hopfield Networks is All You Need (Paper Explained)
https://www.youtube.com/watch?v=nv6o

[2020-09-14 13:11] johanvos opened #9088 "README in nd4j has a dead link"
#### Issue Description

The "build from source" link in nd4j.readme points to a non-existing page

[2020-09-14 14:45] UnfinishedArchitect opened #9090 "Word2Vec SkipGram creates Word-Context Pairs further apart than specified by windows size"
#### Issue Description
According to the original paper [1] (page 4 right at the bottom) SkipGram is supposed to generate word-context pairs of words that have a distance of up to **C** (window size). At runtime a random number **R** between 1 and **C** is chosen for every word (to give less weigth to words that are further away) and the **R** words before and after the word are used as contexts.
T

[2020-09-15 15:31] PossessedC0bra opened #9093 "LayerValidation always overrides regularizations set on BaseLayer"
#### Issue Description

Per layer regularizations are always override by the regularization configured neural network wide (NeuralNetConfiguration)

**Expected:**
The configured regularizations on the layer and the neural network should be compared and combined into a sort of delta where the layer configuration takes a higher priority than the neural network configuration.

**Encountered:**
A laye

[2020-09-16 07:04] eix128 commented on #9087
I have found one of them also java wrapper
https://github.com/zhihu/cuBERT

https://github.com/zhihu/cuBERT/blob/master/java/src/test/java/com/zhihu/cubert/ModelTest.java

[2020-09-16 07:39] eix128 commented on #9087
Also there is TurboTransformers Library on C++
https://github.com/Tencent/TurboTransformers
maybe implemented or add to DL4J can be good choice!

[2020-09-19 19:05] PedroPierina opened #9094 "Unsupported keras layer type KerasLayer."
#### Issue Description
I am trying to load my trained keras model but i keep getting this error:
org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type KerasLayer. Please file an issue at https://github.com/eclipse/deeplearning4j/issues.

This is my trained model code:
embedding = "https://tfhub.dev/google/universal-sentence-encoder-

[2020-09-21 11:50] saviord7 opened #9095 "Exception in thread "ADSI prefetch thread" Exception in thread "main" java.lang.RuntimeException: java.lang.IllegalArgumentException: Invalid indices: cannot get [1,5] from a [20, 5] NDArray"
I have dataset with 7 columns of features and 1 label. Label is multy class: 1, 2 ,3 , 4 or 5 value.

I uloaded dataset  and set  NN paramaters next:
[code]

And after:
[code]
iterations I have this Error:

[code]
What could be the reason of it ?

[2020-09-22 03:33] OysterQAQ commented on #9072
I have the same problem.
any updates about the issue?

[2020-09-23 07:50] androuino opened #9096 "Cannot calculate gradients/score: labels are null"
#### Issue Description

I was trying to run the **RedBloodCellDetection.java** and got this error on my console:

[code]

* Deeplearning4j version
From master's latest commit
* Platform information (OS, etc)
macOS Catalina 10.15.6
* CUDA version, if used
CPU only
* NVIDIA driver version, if in use
CPU only

[2020-09-23 16:41] ghost opened #9099 "libnd4jcpu frame issue"
#### Issue Description

I'm trying to run the ImdbReviewClassificationRNN from the dl4j examples repo with a cpu configuration rather than gpu and am getting this error:

[code]

This has run successfully before an another host but fails on the current host I'm on and I'm not sure what's causing it to fail.

#### Version Information

Please indicate relevant versions, including, if relevant:

* Dl

[2020-09-23 22:46] agibsonccc commented on #9099
We need to be able to reproduce this to help you. This doesn't look related to dl4j from what I can see.
These lines:
[code]

look like an OS failure maybe. If it was related to us, it would be a SIGSEGV.
Unless you can help me reproduce this, I'll likely have to close this.

[2020-09-24 15:12] ghost commented on #9099
error from log:

[code]

[2020-09-24 19:36] ghost commented on #9099
I'm effectively running this example with the gpu elements disabled (ex. CudaEnvironment commented out, and pom below) - https://github.com/eclipse/deeplearning4j-examples/blob/master/cuda-specific-examples/src/main/java/org/deeplearning4j/examples/multigpu/advanced/w2vsentiment/ImdbReviewClassificationRNN.java

pom.xml (have tried both with and without linux-x86_64-avx2 support)
[code]

[2020-09-28 18:21] vidheyoza opened #9100 "ND4J Error: class path resource [] cannot be resolved to URL because it does not exist"
#### Issue Description

I am trying to use .npy files in my Kotlin code, but when I try to load it with this code (as given in tests and example codes):

[code]

I am getting this error:
[code]

I am not sure if I'm using the code wrong or if this is some bug.
Though I noticed one thing: the path starts with "Users/vidhey/..." instead of how it should on an absolute path "/Users/vidhey/...", even

[2020-09-29 02:41] agibsonccc commented on #9100
First of all, please ensure you're using beta7. beta6 is very old at this point.
For ClassPathResource you need to ensure that whatever you're using is on your classpath. It's for discovering resources on your classpath under src/main/resources. Just use file if you already have the absolute path. This isn't a bug. Please post issues like this on https://community.konduit.ai from now on thanks!

[2020-09-29 02:41] #9100 closed, assigned to nobody

[2020-09-29 04:03] vidheyoza commented on #9100
Okay thanks a lot! Will keep that in mind next time.

I tried using beta7 and beta6 both with the ClassPathResource and with the File object.
With the ClassPathResource, I'm getting the error I showed above. With the File object, the app crashes with some kind of segmentation fault:

[code]

Here's the corresponding error log for reference.

[code]

[2020-09-29 04:20] agibsonccc commented on #9100
That looks like it could be an invalid numpy file. We've tested loading numpy pretty well. Could you post this question over on the forums? I doubt this is a bug. We should look in to how you're creating your numpy file.

[2020-09-29 04:22] vidheyoza commented on #9100
Sure I'll post it on the forums. I'm using the same files in my python libraries and it works perfectly fine.

[2020-09-29 04:24] agibsonccc commented on #9100
@vidheyoza  that's anecdotal :) it depends on how you save your numpy files. I'm not dismissing whether this should work or not, I just want to look in to why this is happening. There are different variables that could affect this from the size of the files to whether you're using npy or npz. Hence why I want to look in to reproducing this.

[2020-09-29 04:31] vidheyoza commented on #9100
Posted it on the forum. Btw I just realized I'm using `pickle=True` to write and read the file in Python. Can that be the issue?

[2020-09-29 04:33] agibsonccc commented on #9100
@vidheyoza could you post your python code on how you're saving the array over on the forum? Thanks!

[2020-09-29 04:36] vidheyoza commented on #9100
Moving the conversation to the forum then. Just referencing it here for future. :)

https://community.konduit.ai/t/nd4j-error-class-path-resource-cannot-be-resolved-to-url-because-it-does-not-exist/890

[2020-09-29 07:04] Rolnire opened #9101 "BatchNormalization layer inside FrozenLayerWithBackprop NullPointerException"
#### Issue Description

When I try to use BatchNormalization layer inside FrozenLayerWithBackprop I am getting NullPointerException. I think it has something to do with mean/var cache. Same exception with GPU and CPU backend.

java.lang.NullPointerException
at org.deeplearning4j.nn.layers.mkldnn.MKLDNNBatchNormHelper.backpropGradient(MKLDNNBatchNormHelper.java:101)
at org.deeplearning4j.nn.layers.

[2020-09-29 12:17] agibsonccc commented on #9101
Interesting. Can you try this without mkldnn and see if it still causes this issue?
Your full environment here would be good. I see your version information, but I feel like a pom would be more appropriate here. I could only infer MKLDNN from your stack trace, so I want to make sure I'm not missing anything else.

[2020-09-30 03:14] agibsonccc opened #9102 "Libnd4j wrong custom op def signature for matmul"
#### Issue Description
In https://github.com/KonduitAI/deeplearning4j/blob/ac7fb903d7badf2fd042a8762fdfebd809c72a09/libnd4j/include/ops/declarable/generic/blas/matmul.cpp#L33
we allow optional t args reflecting an alpha and a beta.
This should be a variable argument, not a hard zero.

#### Version Information
Snapshots
Please indicate relevant versions, including, if relevant:

* Deeplearning4j ve

[2020-10-01 09:15] Rolnire commented on #9101
For CPU backend this is my pom file:

	<artifactId>Dl4j-cpulibs</artifactId>
	<version>1.0.0-beta7</version>
	<packaging>pom</packaging>

	<name>Dl4j-cpulibs</name>
	<url>http://maven.apache.org</url>

	<properties>
		<nd4j.backend>nd4j-native-platform</nd4j.backend>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<shadedClassifier>bin</shadedClassifier>

		<java.version>1.8

[2020-10-01 23:18] agibsonccc opened #9104 "Register missing ops with opregistrator"
#### Issue Description
For model import to be a smoother experience, we need to unify where ops are registered.
Right now, we have most ops registered if they have explicit implementations in c++.

We are missing some of the legacy ops such as abs in the registrator.

Missing ops(so far):
Abs

#### Contributing

If you'd like to help us fix the issue by contributing some code, but would
like guida

[2020-10-02 13:09] agibsonccc commented on #9101
You can do that here: https://github.com/eclipse/deeplearning4j/blob/2a488efb1b723386eda004d8b35371a1f9e4d46b/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/BatchNormalization.java#L467

[2020-10-04 05:29] utri092 opened #9105 "Save weights of MultiLayerNetwork for importing in other models"
#### Issue Description

Is there a way to just save the weights in a text file in the form of an array after training? I've imported a KerasModel and would like to save its weights in the form of a java equivalent NumPy array in a text file.

The context is I would like to prune my model for other hardware platforms like GPUs, ARM devices and FPGAs and retrain it a number of times before deploying

[2020-10-04 06:19] agibsonccc commented on #9105
@utri092 you can access the weights with model.params(). From there, you can use any of nd4j's methods. Please use https://community.konduit.ai for further questions of this nature.

[2020-10-04 06:19] #9105 closed, assigned to agibsonccc

[2020-10-05 03:55] agibsonccc commented on #9096
@androuino sorry still getting through issue backlog. So you're running that example after building from source? I believe @saudet had worked on that example.
Edit: Looking through it, I think we removed that example from: https://github.com/eclipse/deeplearning4j-examples @treo had done a pass getting rid of old examples.

[2020-10-05 04:06] androuino commented on #9096
hi @agibsonccc, so the object detection example right now has been removed and became not compatible with the new version of the framework?

[2020-10-05 04:12] saudet commented on #9096
That example was just never added actually. The code probably needs to be updated to run on newer version, yes.

[2020-10-05 04:13] agibsonccc commented on #9096
@androuino you can use this one: https://github.com/eclipse/deeplearning4j-examples/blob/9e971fdb782249873786a960f248247dd28650fa/dl4j-examples/src/main/java/org/deeplearning4j/examples/advanced/modelling/objectdetection/TinyYoloHouseNumberDetection.java Always try to search the examples for what's current there.

[2020-10-05 04:14] androuino commented on #9096
Thanks for the support, I will try the above links.

[2020-10-05 04:15] #9096 closed, assigned to nobody

[2020-10-05 04:17] agibsonccc commented on #9094
@PedroPierina  could you try to save that as an hdf5 file? You may have to register that as a custom layer: https://github.com/eclipse/deeplearning4j/blob/97c7dd2c94d80cc26338d90b07c071df61ddc865/deeplearning4j/deeplearning4j-modelimport/src/test/java/org/deeplearning4j/nn/modelimport/keras/e2e/KerasCustomLayerTest.java#L59

[2020-10-05 04:22] agibsonccc commented on #9087
@eix128 you should be able to run transformer models using our tensorflow import and samediff.
https://deeplearning4j.konduit.ai/samediff/importing-tensorflow
  more here: https://github.com/eclipse/deeplearning4j-examples/blob/master/tensorflow-keras-import-examples/README.md

[2020-10-05 04:22] #9087 closed, assigned to nobody

[2020-10-05 10:18] agibsonccc commented on #9090
@UnfinishedArchitect  sorry just getting through backlog. If you have time for a pull request, that would be great. Happy to test against other implementations as w ell.

[2020-10-05 12:15] agibsonccc opened #9106 "SameDiffLayer does not support multiple inputs"
#### Issue Description
SameDiff Layer current only supports 1 i nput.
Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version Master
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Information

Where a

[2020-10-05 14:35] sachag678 opened #9107 "Calling update(Gradient gradient) on a model that hasn't had it's gradient initialized throws a NullPointerException"
## Issue
I'm building a distributed setup where a model is cloned and used to gather the gradients which are then passed back to the main model. The issue is that the main model cannot use the update(Gradient gradient) method without having it's gradient initialized in the manner shown below within the //REQUIRED block. If the update method is called without doing this, the gradient is set to null

[2020-10-05 23:16] agibsonccc commented on #9107
@sachag678  I think what I'll do is just add a pre init method that checks if gradient is null and if it is initializes it to zeros to start.

[2020-10-06 02:24] agibsonccc commented on #9050
@jljljl  just revisiting backlog again, I take it you're not interested in pursuing this? If not, I'll just flag it for now and see if we can get to it later.

[2020-10-06 02:25] #9033 closed, assigned to nobody

[2020-10-06 02:27] agibsonccc commented on #9017
Should be fixed now with snapshots. Look for this in the next release.

[2020-10-06 02:27] #9017 closed, assigned to agibsonccc

[2020-10-06 02:29] #9014 closed, assigned to nobody

[2020-10-06 02:30] agibsonccc commented on #9013
@treo was this ever fixed?

[2020-10-06 02:31] agibsonccc commented on #9011
@printomi  this is likely a version issue. We'll fix this before the next release.

[2020-10-06 02:32] agibsonccc commented on #9010
Use deeplearning4j.konduit.ai instead now

[2020-10-06 02:32] #9010 closed, assigned to nobody

[2020-10-06 02:33] agibsonccc commented on #9007
Commenting for future google search results. We're interested in doing this for integration with our samediff library. Happy to take a pull request if we don't get to this in the mean time.

[2020-10-06 02:33] agibsonccc commented on #9004
@treo is this still the case?

[2020-10-06 02:34] agibsonccc commented on #9003
Closing due to inactivity

[2020-10-06 02:34] #9003 closed, assigned to nobody

[2020-10-06 03:58] agibsonccc opened #9108 "Support Keras Model (nested layers) in Keras Import"
#### Issue Description
For issues like:
https://github.com/eclipse/deeplearning4j/issues/8162

We need to be able to support nested models of type Model
within keras import.

[2020-10-09 10:32] AlexLukasT opened #9109 "KerasModelImport: Error when loading a functional model with a 3D input for a flatten layer"
#### Issue Description

Trying to load a Keras functional model with a 3D input for a flatten layer results in an UnsupportedKerasConfigurationException:
[code]

[code]

[code]

#### Version Information

* Deeplearning4j version: 1.0.0-beta7
* Platform information: Ubuntu 20.04.1 LTS
* CUDA version: 11.0
* NVIDIA driver version: 450.66

#### Additional Information

I created a gist with all inform

[2020-10-11 21:33] utri092 opened #9110 "Distributed Training with Spark on Raspberry pi 4 Fails"
#### Issue Description
I was able to use local mode successfully and then attempted to try distributed training. I use hadoop HDFS for reading csv files.
I ran a spark-submit with the Logger Level set to WARN to time the training period and encountered the error below.

![image](https://user-images.githubusercontent.com/41176826/95690415-1ef45200-0c74-11eb-9387-8bf82b58eed7.png)

I thought this wa

[2020-10-21 09:31] thofer opened #9112 "Bug in InputTypeUtil"
#### Issue Description

I would like to use a Conv3D filter with a stride like `[ d, h, w ]` where as `d`, `h` and `w` are different from each other, but the InputTypeUtil prevents that.

The InputTypeUtil forces that stride width must be same as stride height.

#### Version Information

The problematic line in InputTypeUtil is https://github.com/eclipse/deeplearning4j/blob/f9aebec79e18671c1c5680b

[2020-10-27 07:48] Rolnire commented on #9101
Sorry for really late response, but I finally had time to try it. I set helperAllowFallback to false, but exception is still there:

	Exception` in thread "main" java.lang.RuntimeException: Error during BatchNormalization CuDNN helper backprop - 	isCudnnAllowFallback() is set to false

	at org.deeplearning4j.nn.layers.normalization.BatchNormalization.backpropGradient(BatchNormalization.java:178)

[2020-10-27 08:42] thofer opened #9116 "Bug in Convolution3DUtils"
#### Issue Description

I would like to use a Conv3D filter with a stride like [ d, h, w ] where as d, h and w are different from each other, but the Convolution3DUtils prevents that in strict convolution mode.

Convolution3DUtils validates the configured shape. But in strict mode the validation fails.

#### Version Information

The problematic lines in Convolution3DUtils starts at

https://github

[2020-10-27 08:44] Rolnire opened #9117 "MultiLayerNetwork score method vs. ComputationGraph score method memory issue"
Hello,
I am using **TinyYOLO** as MultiLayerNetwork and as ComputationGraph. For calculating score of minibatch I am using score method. With MLN everything works well, memory usage is stable. However, if I change MLN to CG (same architecture, same params.), score method is not working well anymore. Memory usage is unstable and I am getting OOM exception. I found out, with MLN there is open memory

[2020-10-28 00:12] lavajaw opened #9118 "NoClassDefFoundError - BasicNDArrayCompressor"
#### Issue Description

Description is provided here:
https://community.konduit.ai/t/noclassdeffounderror-basicndarraycompressor/944?u=lavajaw

#### Version Information

Relevant versions:
Version beta6 and beta7.

[2020-10-30 17:47] Hendekagon opened #9119 "CuDNN cudaMalloc failed"
#### CuDNN cudaMalloc failed in `ComputationGraph.fit`
[code]

* deeplearning4j-cuda-10.2
* nd4j-cuda-10.2
* Ubuntu 18.04
* cuda-10.2
* NVRM version: NVIDIA UNIX x86_64 Kernel Module  440.33.01

I've verified the cuda installation and the cuDNN installation by compiling & running examples and confirming their success.

[2020-10-30 21:16] agibsonccc commented on #9119
@Hendekagon  could you tell us a bit about the workload size?  You may have to specify higher limits: https://deeplearning4j.konduit.ai/config/config-memory
Did you try tuning the batch sizes for your workload?

[2020-11-02 10:17] Hendekagon commented on #9119
thank you! double-checking my off-heap settings plus dropping the batch size for the size of input fixed it

[2020-11-02 10:33] #9119 closed, assigned to nobody

[2020-11-03 09:25] hosuaby commented on #9118
I can't garantie that this is a probleme, but for me it looks like a classloading issue. In current snaphsot, I added features to specify classloaders for ND4J and DL4j: https://github.com/eclipse/deeplearning4j/pull/9115

You can give it a try.

[2020-11-03 16:01] ghost opened #9120 "WordVectorSerializer.readWord2VecModel throws an exception: "Unable to guess input file format""
#### Issue Description

I use WordVectorSerializer.readWord2VecModel to read model which is saved by WordVectorSerializer.writeWord2VecModel, then I got an exception.
WordVectorSerializer.readWord2VecModel  is able to read a small word vector model, but failed to read a large one(about 1.2G).

- expected behavior
read model normally
- encountered behavior
throw an exception

#### Version Informati

[2020-11-06 18:46] hosuaby commented on #9120
@hs2222 does large model was saved in binary format ?

[2020-11-08 02:18] ghost commented on #9120
It's a compressed zip file. The comment on 'public static void writeWord2VecModel(Word2Vec vectors, String path)' is 'This method saves Word2Vec model into compressed zip file'

[2020-11-09 15:18] RkVladimir opened #9123 "I have error cudaGetSymbolAddress(...) failed; Error code: [13] with any samples with CUDA, how I can resolve it?"
Good afternoon, I tried to install CUDA version 10, 10.1, 10.2, now 11.1 is installed, except for 10.0, versions in all examples with cuda I have an error similar to the one indicated in the listing below. I read in the forums that this is possible, when my version CC = 8.6 (GeForce3090) is not supported in the current DP4J implementation, how can this problem be solved?
Thanks!

#### Version Info

[2020-11-11 07:55] PossessedC0bra opened #9124 "Restoring model fails: InputStream.available() = 0"
#### Issue Description

I am trying to load a model from a stream i received from a REST Api. Every time i try to load it the method https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/util/ModelSerializer.java#L956-L971 throws an error as the available() function on the input stream always returns 0.

The method is also annotated

[2020-11-13 16:18] Ulrhol opened #9125 "SD_FORBID_HELPERS not doing anything"
#### Issue Description

Ran into some problem with DNN on an old AMD Turion processor so wanted to test without the native mkldnn helper. Tried various way to set SD_FORBID_HELPERS to disable the helper but couldn't get it to work.

#### Version Information

Running deeplearning4j-1.0.0-beta7

#### Additional Information

I found in libnd4j/include/legacy/impl/Environment.cpp what looks like a typ

[2020-11-14 00:06] saudet commented on #9125
Try to set SD_MASTER_THREADS then and see if that makes a difference :)

Also try to set ND4J_FALLBACK, ND4J_MKL_FALLBACK=true, and SD_BLAS_FALLBACK.

[2020-11-14 17:22] Ulrhol commented on #9125
Pro tip! :)

I already did as I found missing check in the code. And it worked. Now it's a lot slower on the DNN operations but it hasn't crashed yet. I'll keep watching it but previous record was 13h now it already passed 25h so looks promising.

[2020-11-14 23:39] saudet commented on #9125
Awesome! Please send a pull request with the fix if possible. Thanks!

[2020-11-15 13:46] mouradski commented on #9123
same, with RTX 3080, i tried cuda 10.0 and 10.2

[2020-11-15 19:41] Ulrhol commented on #9125
You got it. I created PR #9126 but need to get the ECA signed.

[2020-11-15 20:23] Ulrhol commented on #9125
Created PR #9127 instead. Looks like the signoff worked this time.

[2020-11-15 22:35] #9125 closed, assigned to agibsonccc

[2020-11-17 05:21] agibsonccc commented on #9124
@PossessedC0bra  do you have the model? That sounds like a corrupt zip file.

[2020-11-17 05:22] agibsonccc commented on #9123
@RkVladimir  @mouradski  we'll be releasing a version with 11.0 in a bit, for now you can use snapshots and see if that works? https://deeplearning4j.konduit.ai/config/config-snapshots

[2020-11-17 06:57] xwaeaewcrhomesysplug opened #9128 "Manual porting of QPPWG(Quasi Periodic Parrallel Wave-Gan) into eclipse dl4j."
- list reference and related literature
Quasi-Periodic Parallel WaveGAN Vocoder: A Non-autoregressive Pitch-
dependent Dilated Convolution Model for Parametric Speech Generation
- list known implementations
original python pytorch implementation in github

#### Contributing
Well right now I have not start because I need some advices of implementations and setup.
Simply to prevent future users curs

[2020-11-17 13:21] PossessedC0bra commented on #9124
@agibsonccc Yes i do have it. It is clean though, i have already checked that.
Funny thing is when running the application locally it works perfectly fine. Also when attaching a remote debugger and placing a breakpoint at the location, where inputStream.available() is called prevents the error from ever happening. As soon as i remove the breakpoint the remote application runs into the same InputSt

[2020-11-17 14:02] Freshwood opened #9129 "Spark 3.0 support?"
#### Issue Description

We don't find any information about the latest spark support in the official documentation.
Also the distributed DL4J examples rely on Spark 2.x version. See also the example pom.xml:
https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-distributed-training-examples/pom.xml

What is the latest supported Spark + Scala version?

Thank you very much for your hel

[2020-11-17 17:57] RkVladimir commented on #9123
Cannot resolve org.nd4j:nd4j-cuda-11.0:1.0.0-SNAPSHOT - this error are present....
and
from
https://oss.sonatype.org/service/local/artifact/maven/redirect?r=snapshots&g=org.nd4j&a=nd4j-cuda-11.0&v=1.0.0-SNAPSHOT&e=jar&c=windows-x86_64

404 - Not Found

Path /org/nd4j/nd4j-cuda-11.0/1.0.0-SNAPSHOT/nd4j-cuda-11.0-1.0.0-20201117.023522-181-windows-x86_64.jar not found in local storage of repository "

[2020-11-17 20:10] RkVladimir commented on #9123
I’m resolved it! Now my example working on GeForce3090!!!

Part of my POM:

    org.example
    dl4jCuda
    1.0-SNAPSHOT
        <dependency>
            <groupId>org.deeplearning4j</groupId>
            <artifactId>deeplearning4j-cuda-11.0</artifactId>
            <version>1.0.0-SNAPSHOT</version>
        </dependency>
        <dependency>
            <groupId>org.deeplearning4j</groupId>

[2020-11-17 20:13] RkVladimir commented on #9123
Thanks, its help me (partly)!

[2020-11-17 20:19] mouradski commented on #9123
thanks bro :)

[2020-11-19 13:26] #9128 closed, assigned to nobody

[2020-11-19 21:48] mouradski commented on #9123
I builded libnd4j with cuda (-c cuda -cc auto) support, then builded nd4j-cuda & deeplearning4j-cuda  (all on snapshot version) then I added thoses dependancies

<dependency>
        <groupId>org.deeplearning4j</groupId>
        <artifactId>deeplearning4j-cuda-11.0</artifactId>
        <version>1.0.0-SNAPSHOT</version>
    </dependency>
    <dependency>
        <groupId>org.deeplearning4j</groupId

[2020-11-19 23:53] agibsonccc commented on #9123
@mouradski  this looks to be a bad cuda install or something missed during compilation. Could you elaborate a bit on https://community.konduit.ai? I'm closing this issue.

[2020-11-19 23:53] #9123 closed, assigned to nobody

[2020-11-20 07:33] RkVladimir commented on #9123
Here I posted the libraries
https://community.konduit.ai/t/cuda-error-during-run-the-example/946

[2020-11-22 05:04] agibsonccc commented on #9120
@hs2222 do you have the model or anything for us to take a look? Running this myself could help a bit. Sorry for the late response, just catching up on issues a bit.

[2020-11-23 17:55] 1Demo opened #9131 "Destroy Neural Network completely (Memory Leak)"
I am writing a genetic algorithm which generates several neural networks and calculates their fitness. After that the neural network is not needed anymore and can be removed. However, they seem to stay alive in the off-heap memory and thus leading to a memory leak after a while. How can I destroy / remove the neural network completely after receiving the fitness value (evaluation)?

[2020-11-25 01:59] SidneyLann opened #9132 "GNN implementation"
Is there a plan to implement any GNN ops/layers?

[2020-11-26 09:56] ghost commented on #9120
The model is too big to show you, so I describe the process as below.
I download the wiki_zh corpus at https://drive.google.com/file/d/1EdHUZIDpgcBoSqbjlfNKJ3b1t0XIUjbt/view, and merge all files into one file, then train it with the code.
[code]

[2020-11-29 09:31] ghost commented on #9120
In dl4j-examples project(https://github.com/eclipse/deeplearning4j-examples/tree/master/dl4j-examples), it doesn't work too in TrainNews's main function.
[code]

[2020-11-30 16:13] MotoCommando opened #9133 "Loading ONNX model"
Hi,
I'm interested in using deeplearning4j with my trained onnx model, however I could not find any reader for onnx format.I found in your documentation Conv2d class that uses Onnx protobuf classes ([https://deeplearning4j.org/api/latest/org/nd4j/linalg/api/ops/impl/layers/convolution/Conv2D.html]
Is there a way to load onnx model or is it still work in progress and how to use this class?

[2020-11-30 22:18] agibsonccc commented on #9133
@MotoCommando we are in the middle of an about finished rewrite of the model import framework. It should be done in a few weeks. For now, the second best option is to look in to converting it to tensorflow and loading it via model import there.

[2020-11-30 22:20] agibsonccc commented on #9131
@1Demo  you're looking likely at workspaces. https://deeplearning4j.konduit.ai/config/config-memory/config-workspaces

Since you asked about this on the forum (https://community.konduit.ai/t/destroy-neural-network-completely-memory-leak/1009/3) I'm closing this.

[2020-11-30 22:20] #9131 closed, assigned to nobody

[2020-11-30 22:22] agibsonccc commented on #9129
@Freshwood  still WIP yet. We're evaluating adding support for horovod or something that already solves this problem. The team doesn't really have many use cases for spark at this point. We're looking to add something that's a bit easier to maintain given the focus on inference and application deployment at this point. If you or someone on your team wants to take a look at updating the current spa

[2020-12-01 06:42] Conmi-WhiteJoker opened #9134 "How do I use a MNIST model to verify a number image?"
#### Issue Description
- expected behavior:Mnist model is obtained from DL4J
- encountered behavior:How do I load the model?

#### Version Information
* Deeplearning4j version: 1.0.0 beta7
* Platform information (OS, etc): deepin20
* CUDA version, if used: none
* NVIDIA driver version, if in use: none

[2020-12-01 07:52] MotoCommando commented on #9133
Ok thanks for reply!
So I guess this Conv2D class is unusable for the time being?
Also is there a way to create convolution layers with predefined weights?

[2020-12-01 08:09] #9134 closed, assigned to nobody

[2020-12-01 08:10] agibsonccc commented on #9134
@Conmi-WhiteJoker  please elaborate your question more and move support questions to the forums: https://community.konduit.ai/ thanks!

[2020-12-01 08:11] agibsonccc commented on #9133
@MotoCommando  that wasn't really the intended takeaway, Converting a model should only be a few lines of code: https://github.com/onnx/tensorflow-onnx/ the tensorflow import is fairly mature and should suit your needs (especially for simpler models) - again we'll have a new model import framework soon that supports multiple frameworks, but I imagine there are plenty of workarounds if you want to

[2020-12-01 08:13] Conmi-WhiteJoker commented on #9134
Thanks for helping

Thanks for helping！

[2020-12-01 16:19] MotoCommando commented on #9133
@agibsonccc ok thanks for help. Maybe one more questions. Will Onnx also be stored in SameDiff class?

[2020-12-01 16:32] pmichele opened #9135 "Rl4j - Async Learning single global lock"
#### Issue Description

How does the new AsyncGlobal work? I see AsyncGlobal.applyGradient() acquires the single lock before updating. AsyncGlobal.getTarget() also acquires the lock before returning a reference but releases it immediately, which means another thread can acquire the lock and perform applyGradient(). In the meanwhile the first thread could copy() the parameters or perform any read o

[2020-12-09 03:40] afiqmuzaffar opened #9137 "java: cannot access org.deeplearning4j.core.storage.StatsStorage class file for org.deeplearning4j.core.storage.StatsStorage not found"
#### Issue Description

Please describe our issue, along with:

java: cannot access org.deeplearning4j.core.storage.StatsStorage
  class file for org.deeplearning4j.core.storage.StatsStorage not found

#### Version Information

Please indicate relevant versions, including, if relevant:

<project xmlns="http://maven.apache.org/POM/4.0.0"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 x

[2020-12-09 05:14] agibsonccc commented on #9137
Hi, don't mix dl4j versions. I'm closing this.

[2020-12-09 05:14] #9137 closed, assigned to nobody

[2020-12-09 15:09] fgrilli opened #9138 "jackson-databind vulnerability"
On our CI system, a CVE scan detected a vulnerability due to the shaded com.fasterxml.jackson.core version pulled in by jackson-1.0.0-beta7.

`[ERROR] jackson-1.0.0-beta7.jar/META-INF/maven/com.fasterxml.jackson.core/jackson-databind/pom.xml: CVE-2020-25649`

The issue seems to have been fixed in jackson-databind already as of milestone 2.9.10.7 (see https://github.com/FasterXML/jackson-databind/i

[2020-12-10 09:54] MotoCommando opened #9139 "SameDiff intermediate results"
Hi, I have loaded my cnn tensorflow model and I would like to get intermediate results for chosen layer. I have seen [this ](https://deeplearning4j.org/api/latest/org/deeplearning4j/nn/multilayer/MultiLayerNetwork.html#activateSelectedLayers-int-int-org.nd4j.linalg.api.ndarray.INDArray-)method in MultiLayerNetwork class. I haven't found similar method with SameDiff.

Is there a way to transfer Sam

[2020-12-10 10:36] agibsonccc commented on #9139
@MotoCommando  please try to use https://community.konduit.ai for user questions like this. Here's an example that shows variables in samediff: https://github.com/eclipse/deeplearning4j-examples/blob/master/samediff-examples/src/main/java/org/nd4j/examples/samediff/quickstart/basics/Ex1_SameDiff_Basics.java
A SameDiff instance can output intermediate results. outputAll is what you want:
https://gi

[2020-12-10 10:36] #9139 closed, assigned to agibsonccc

[2020-12-10 11:00] MotoCommando commented on #9139
@agibsonccc Thanks for reply. Ok next time I will with qestions there.

[2020-12-16 14:24] SidneyLann commented on #9132
How about to implement a GAT?

[2020-12-18 07:25] yzq986 opened #9140 "Cannot build android-examples"
Issue Description
Hello, I am new to deeplearning4j, and when I try to build the android example, it shows that:
Could not find nd4j-native-1.0.0-SNAPSHOT-android-arm.jar (org.nd4j:nd4j-native:1.0.0-SNAPSHOT:20201215.045005-20693).
Searched in the following locations:
https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/nd4j-native/1.0.0-SNAPSHOT/nd4j-native-1.0.0-20201215.045005-20693

[2020-12-20 14:26] sakura182 opened #9141 "Load Pretrained Model about Word2vec"
- When I load the Google New's word2vec model.
- print(Intel MKL FATAL ERROR: Cannot load mkl_intel_thread.dll.)

[2020-12-21 13:45] jahan-afrouz opened #9142 "after I use DataSet.shuffle method all the data set change to zero."
I am using nd4j-cuda-10.2.platform 1.0.0-beta7. but after I shuffle the data set it is set to all zeros.

[2020-12-21 18:45] jahan-afrouz commented on #9142
this is IrisClassifier example Dataset before and after shuffle. after shuffle OUTPUT segment are all zeros
[https://github.com/eclipse/deeplearning4j-examples/blob/master/dl4j-examples/src/main/java/org/deeplearning4j/examples/quickstart/modeling/feedforward/classification/IrisClassifier.java](url)
befor shuffling:
`===========INPUT===================`
`[[    5.1000,    3.5000,    1.4000,    0.20

[2020-12-22 19:55] rossmessing opened #9143 "Keras import issue: Maximum Merge Layer Unsupported"
#### Issue Description

Tried to import an otherwise-importable keras model with a Maximum layer.

Got error `InvocationTargetException: Unsupported keras layer type Maximum`.

While Maximum is clearly listed as supported [here](https://deeplearning4j.konduit.ai/keras-import/supported-features), it actually seems to be missing from the set of supported layers [here](https://github.com/eclipse/deep

[2020-12-24 11:38] agibsonccc commented on #9142
@jahan-afrouz that appears to be a bug with the gpu backend specifically. The best thing I can tell you is shuffle with the cpu backend (all you do is include a different backend) then load it with the gpu backend pre saved.

See: https://deeplearning4j.konduit.ai/config/backends

 That should work as a work around for now. Datasets have a save and load method you can use.
Also, you can look at us

[2020-12-27 06:08] mikemikezhu opened #9144 ""ND4J is probably missing dependencies" issue for Deeplearning4j "1.0.0-beta7""
#### Issue Description

**GIVEN** using Deeplearning4j 1.0.0-beta7,
**WHEN** load Keras sequential model to multi layer network,
**THEN** throws exception "ND4J is probably missing dependencies"

**Expected Behavior:**
The library should not throws exception "ND4J is probably missing dependencies",
and convert Keras model to Deeplearning4j model successfully

**Please Note:**
When rolling back to

[2020-12-27 11:03] saudet commented on #9144
https://github.com/KonduitAI/deeplearning4j/pull/472 probably fixes this.

[2020-12-30 10:47] partarstu commented on #9044
@agibsonccc , I've got the same issue while working on my own `SameDiff `model. In my case it showed up while calling `SameDiff.grad("multi_head_dot_product_attention").eval()` using the same dataset which has been used for training as an input. My model is a sort of Transformer's encoder (similar to BERT's one) and the main part of it is self-attention (`MultiHeadDotProductAttention`). The trigge

[2021-01-01 12:26] SidneyLann opened #9145 "Can't train samediff model when reloaded"
#### Issue Description

Please describe our issue, along with:
- expected behavior
Continue to train
- encountered behavior
java.lang.NullPointerException
in
sd = CheckpointListener.loadLastCheckpoint(modelFolder, true);

#### Version Information
Please indicate relevant versions, including, if relevant:

* Deeplearning4j version beta7
* Platform information (OS, etc) win7
* CUDA version, if used

[2021-01-01 13:13] agibsonccc commented on #9145
@SidneyLann  could you give me a sample model for this to test? We're finishing up onnx and TF import rewrite and will be looking at retraining to verify what's missing. Anything there you can do to help would be great. Thanks!

[2021-01-01 14:54] SidneyLann commented on #9145
1. Comment //throw new IllegalStateException("Detected existing checkpoint files at directory " + rootDir.getAbsolutePath() +...in CheckpointListener.java
2. Replace by below content in main() in CustomListenerExample.java:

		SameDiff sd;
		File modelFolder = new File("./model");

		if (modelFolder.list().length > 1) {
			System.out.println("Load model...");
			sd = CheckpointListener.loadLastChe

[2021-01-02 08:00] SidneyLann opened #9146 "Metrics always > 1.0"
#### Issue Description

Please describe our issue, along with:
- expected behavior
Metrics < 1.0
- encountered behavior
Metrics always > 1.0

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version beta7
* Platform information (OS, etc) win7
* CUDA version, if used no
* NVIDIA driver version, if in use no

#### Additional Information

Where ap

[2021-01-02 10:43] #9146 closed, assigned to nobody

[2021-01-02 11:32] SidneyLann opened #9147 "Loaded SameDiff model can't do evaluation"
#### Issue Description

Please describe our issue, along with:
- expected behavior
show evaluation stats when load SameDiff model but not trainning like below logic:
     sameDiff = CheckpointListener.loadCheckpoint(new File(modelFolder), i, true);
      EvaluationRecord evaluationRecord = sameDiff.evaluate().data(testDataIter).evaluate("out", 0, new Evaluation()).exec();
      System.out.println(

[2021-01-02 21:18] cyberbeat opened #9148 "Nullpointer Exception only with Cuda (not with CPU)"
#### Issue Description

[code]

This is the ND4j Code where it happens:

[code]

#### Version Information

* Deeplearning4j version: 1 beta7
* Platform information (OS, etc): linux x86-64
* CUDA version, if used: 10
* NVIDIA driver version, if in use: 304.137

#### Additional Information

Using an LSTM, but based on Dagli, which relies on DL4j: https://github.com/linkedin/dagli/

I saw a similar i

[2021-01-04 04:16] Lin-ski commented on #9011
I'm having this problem too.

[2021-01-04 04:30] agibsonccc commented on #9011
@Lin-ski  we'll be doing the release this month. Still about a week or so of testing and integrating final tests yet. Will get back to this as soon as I can.

[2021-01-04 13:38] printomi commented on #9011
From the stack trace I got above, I guess that the different versions of Netty (issue https://github.com/eclipse/deeplearning4j/issues/8724) may be the cause of the dependency problem here.

[2021-01-04 14:16] rossmessing commented on #9142
For what it's worth, randomization is generally not a great GPU-side operation - tends to slow things down a bunch, and historically had implementation issues.

[2021-01-05 22:32] agibsonccc commented on #9142
@rossmessing  yes agreed. That's why I just suggested for now to do it on cpu. I would always save compute for gpu anyways. You can presaved the shuffled datasets then load them on cpu for faster training/loading.

[2021-01-06 01:30] SidneyLann opened #9149 "Can't apply label weight to loss function"
#### Issue Description

Please describe our issue, along with:
- expected behavior
sameDiff.loss.softmaxCrossEntropy(“loss”, label=[1024,6], out=[1024,6], weight=[6])
Can apply label weight to loss function like above line.

- encountered behavior
 Failed to execute op

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version beta7
* Platform i

[2021-01-07 13:42] lopezmt opened #9150 "org.deeplearning4j.ui.port property have no effect"
#### Issue Description

I am trying to use deeplearning4j-ui to check my model architecture but I have a service on my PC already listening to the port 9000. When I set the system property org.deeplearning4j.ui.port to 9001, I get an error telling me that the server failed to listen to the port 9000:

java.lang.RuntimeException: Deeplearning4j UI server failed to listen on port 9000

I tried print

[2021-01-07 13:58] lopezmt commented on #9150
By looking at the code a little bit, I noticed in VertxUIServer class that a System.getenv command is used to get the port. Is this expected?
If it is, the documentation should be updated to inform that an environment variable should be used, if not, System.getProperty should be used instead of System.getenv

[2021-01-07 22:25] agibsonccc commented on #9143
@rossmessing  Do you have a model I could use for this? A test case would help a lot. Thanks!

[2021-01-07 22:27] agibsonccc commented on #9109
@AlexLukasT  JFYI I'll look at this before the release in the next few weeks here. Sorry finishing our new model import setup for TF and Onnx and still need to catch up on backlog.

[2021-01-07 22:38] agibsonccc commented on #9110
@utri092  this looks like a problem with the training data not being distributed properly. Did you manage to ever debug your HDFS setup here? Did the files actually exist?  Sorry for the late reply, just catching up on backlog before release.

[2021-01-07 22:44] SidneyLann commented on #9150
String port = System.getProperty("port");
VertxUIServer uiServer = VertxUIServer.getInstance(Integer.valueOf(port), false, null);
uiServer.start();

[2021-01-07 22:48] utri092 commented on #9110
@agibsonccc . Thanks for the reply. Yes. I used the same files for inference and save the predictions in a text file.

[2021-01-07 22:50] #9058 closed, assigned to nobody

[2021-01-08 15:50] rossmessing commented on #9143
The following keras code produces `MaximumUnsupported.h5`:
[code]

Loading it in DL4J with
[code]
yields:
[code]

[2021-01-09 23:02] SidneyLann commented on #9147
Evaluation stats can be shown when trainning. but can't show when only loading model but not trainning.

[2021-01-10 10:55] ghost opened #9151 "InvalidKerasConfigurationException: Expected model class name Model (found Functional)"
I'm training my keras (functional) model in python. Now I want to deploy this in java using deeplearning4j. Unfortunately it doesn't work because deeplearning4j doesn't know the Functional Class. I get this error:

org.deeplearning4j.nn.modelimport.keras.exceptions.InvalidKerasConfigurationException: Expected model class name Model (found Functional).

So somehow he's expecting class_name: "Model"

[2021-01-10 16:31] treo commented on #9151
Have you tried reading the documentation?
https://deeplearning4j.konduit.ai/keras-import/model-functional#getting-started-with-importing-keras-functional-models

[2021-01-10 22:01] ghost commented on #9151
@treo Yes i did. This is how i save the model (just like in the documentation):
[code]
This is the code in Java:
[code]
Anything I'm doing wrong?

[2021-01-11 15:00] ghost commented on #9151
@treo is there a change you were able to give it a look?

[2021-01-11 15:09] treo commented on #9151
What version of Keras are you using? I wonder whether they've changed file formats again.

[2021-01-11 20:59] ghost commented on #9151
Keras version 2.4.3

[2021-01-11 21:01] ghost commented on #9151
@treo I also thought it might be something like that! To which version should I downgrade to?

[2021-01-11 23:32] ghost commented on #9151
@treo in the beginning of the h5-file there is like this "tensorflow{"class_name": "Functional"" line, and i suppose D4J has problems with that?

[2021-01-12 01:18] ghost commented on #9151
Problem was solved with downgrading tensorflow!

[2021-01-12 01:25] ghost opened #9152 "Creating custom layer in java Deeplearning4J"
I have some problems importing my custom layer into my Java project. I read the documentation (https://deeplearning4j.konduit.ai/keras-import/custom-layers) but without succes. I've seen the two examples but it isn't clear for me how to **exactly** implement my method in Java, like what should I implement etc?

This is the python code:
[code]

And this is my Java code. Ofcourse it isn't working be

[2021-01-12 01:25] #9151 closed, assigned to nobody

[2021-01-12 08:35] treo commented on #9151
@agibsonccc Tagging you so you're aware of this for your model import re-work.

[2021-01-12 10:48] ghost opened #9153 "Implement LSTM with return_sequences=False"
Does somebody has any idea how to implement a LSTM with return_secuences = False? I think Deeplearning4J uses return_sequences = True by default but I'm wondering how to set this to False?

Thanks in advance!

[2021-01-12 20:30] ghost commented on #9152
@treo Could you by any chance check this out? Sorry for the pressure, but it's for my master's thesis and the deadline is next week. So it would really be a huge help!

[2021-01-12 22:21] agibsonccc commented on #9152
@DataPlanningEngineer  you will need to write forward and backwards yourself unless you use SameDiff inside. https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/samediff/SameDiffLambdaLayer.java

We have a custom layer examples here:  https://github.com/eclipse/deeplearning4j-examples/tree/master/dl4j-examples/src/m

[2021-01-16 22:44] hessam94 commented on #9151
i have same problem which version to downgrade the tensorflow??? better solution please

[2021-01-18 14:26] dinismoreira23 opened #9156 "Unsupported keras layer type ConvLSTM2D"
#### Issue Description

Please describe our issue, along with:

**org.deeplearning4j.nn.modelimport.keras.exceptions.UnsupportedKerasConfigurationException: Unsupported keras layer type ConvLSTM2D.**

#### Version Information
deeplearning4j == 1.0.0-beta7

#### Additional Information

I have a model that i want to use in an Android app that need a ConvLSTM2D layer. Therefore,  I would like to know

[2021-01-18 23:07] agibsonccc commented on #9110
@utri092  again still working on backlog yet. ARM should work a lot better after the release here. I'll make sure to take a look at this as part of the QA.

[2021-01-19 00:48] rossmessing commented on #9143
If it's useful, here's a zip of the serialized network, so you can test this without keras.
[MaximumUnsupported.h5.zip](https://github.com/eclipse/deeplearning4j/files/5832926/MaximumUnsupported.h5.zip)

[2021-01-20 08:10] mikemikezhu opened #9157 "Maven cannot resolve dependency "org.bytedeco:hdf5:1.12.0-1.5.3" for "DL4J-Core 1.0.0-beta7""
### Issue Description

**GIVEN** using Maven to install DL4J-Core dependency in the Spring Boot application
**WHEN** synchronizing Maven dependencies
**THEN** we have the issue that "Cannot resolve org.bytedeco:hdf5:1.12.0-1.5.3"

**Expected behaviour:** DL4J-Core shall be installed successfully

### Version Information

* Java version: `1.8`
* Deeplearning4j version: `deeplearning4j-core 1.0.0-be

[2021-01-20 10:11] terU3760 opened #9158 "Manually building libnd4j compiles OK but links error"
#### Issue Description

Please describe our issue, along with:
- Sucessfully build libnd4j.dll
- Compiles OK but links error

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version - current newest version
* Platform information (OS, etc) - Windows 10
* CUDA version, -  CUDA Driver Version / Runtime Version - 11.1 / 10.2

#### Additional Info

[2021-01-20 13:23] HGuillemet opened #9159 ""Cannot do backward pass: all epsilons not set" when using frozen layer"
I have a convolution layer that, when its output feeds a frozen deconvolution2D layer, triggers the following exception:
[code]
Here is the creation of the frozen layer:
[code]
if I remove the FrozenLayer (keeping an unfrozen Deconvolution2D layer), the exception doesn't show up.

Using DL4J beta 7.

[2021-01-22 01:44] rossmessing commented on #9143
Note that this issue does not apply to any other merge layer in the supported list.  If you replace the Maximum in my example with another supported merge layer, it works fine.

[2021-01-22 19:33] rossmessing commented on #9143
Wrote up a super brief PR that *might* fix the issue.  I can't really test it (can't build stuff from source).

[2021-01-23 11:20] ShamsUlAzeem commented on #9150
Issue is being fixed here: https://github.com/eclipse/deeplearning4j/pull/9162

[2021-01-26 14:13] agibsonccc commented on #9157
@mikemikezhu don't worry about this, this is missing a platform specific classifier that you probably aren't using (IBM power pc)  - I'm closing this.

[2021-01-26 14:13] #9157 closed, assigned to agibsonccc

[2021-01-26 14:14] agibsonccc commented on #9152
Closing due to lack of reply

[2021-01-26 14:14] #9152 closed, assigned to nobody

[2021-01-26 14:16] agibsonccc commented on #9158
@terU3760  is this based on the latest master? Try my current branch: https://github.com/eclipse/deeplearning4j/pull/9165 -if you're having issues here it should be fixed in this PR

[2021-01-26 14:17] #9150 closed, assigned to nobody

[2021-01-27 01:36] #9143 closed, assigned to agibsonccc

[2021-01-27 01:37] agibsonccc commented on #9140
@yzq986  we disabled android builds temporarily due to CI slow downs. We'll do a release soon that will allow you to use the android examples. I'm closing this due to the pending release.

[2021-01-27 01:37] #9140 closed, assigned to nobody

[2021-01-27 01:43] agibsonccc commented on #9133
@MotoCommando here's the PR that will address this. https://github.com/eclipse/deeplearning4j/pull/9165
We'll be releasing a release candidate with the new framework soon. This will also replace our existing tensorflow import. I have a lot of docs to write but here's where it lives:
https://github.com/eclipse/deeplearning4j/tree/KonduitAI-master/nd4j/samediff-import/samediff-import-onnx
Here's wha

[2021-01-27 04:56] agibsonccc commented on #9109
Fixed in https://github.com/eclipse/deeplearning4j/commit/d978dc986b7e86f5db3349af2c7bf00938946694

[2021-01-27 04:56] #9109 closed, assigned to agibsonccc

[2021-01-27 05:01] agibsonccc commented on #9004
Fixed in https://github.com/eclipse/deeplearning4j/pull/9165/commits/2d1376afaaf1340d03e8f7221efbf9fb40c95278

[2021-01-27 05:01] #9004 closed, assigned to agibsonccc

[2021-01-28 09:11] zhaoyunyemu opened #9168 "when using sparkNet.fitContinuousLabeledPoint(trainingData),It has a error:merge Feature fails"
#### Issue Description

when using dl4j spark:
SparkDl4jMultiLayer
sparkNet.fitContinuousLabeledPoint(trainingData),it execution error:
Caused by: java.lang.IllegalStateException: Cannot merge examples: features rank must be in range 2 to 4 inclusive. First example features shape: [4]
	at org.nd4j.linalg.dataset.api.DataSetUtil.mergeFeatures(DataSetUtil.java:211)
#### Version Information

Please i

[2021-01-28 16:42] FJGEODEV opened #9169 "Invalid configuration for layer for height dimension: Invalid input configuration for kernel height."
#### Issue Description

I have pre-trained a model in Tensoflow 2.2.0 and Keras 2.4.3. It works great in Python enviroment (3.8).
But I can't run it in DL4J, the error message complains the kernel height.

I searched over the internet and found the answer would be "too small image size for the kernel". However, it is not a problem when I used it in Python.

I also saw DL4J has a "latest version" w

[2021-02-01 01:40] agibsonccc commented on #8989
Fixed in https://github.com/eclipse/deeplearning4j/commit/b9d462f66879e9315767b70190bd2ab31b9a3275

[2021-02-01 01:40] #8989 closed, assigned to nobody

[2021-02-01 03:05] terU3760 commented on #9158
OK. I checkout 2d1376afaaf1340d03e8f7221efbf9fb40c95278 and the error does not appear again.
This problem is solved!

[2021-02-01 03:52] agibsonccc commented on #9158
Thanks @terU3760  - we'll be merging this within next day or 2. Just working on resolving some smaller issues.

[2021-02-01 03:52] #9158 closed, assigned to agibsonccc

[2021-02-01 13:21] b005t3r opened #9171 "Exception when running a TensorFlow frozen graph model"
I get the following exception, when I try to run a TF frozen graph model:

[code]

[code]

Expected behavior: it works and I get output INDArrays.
Encountered behavior: it crashes with an exception.
Deeplearning4j version: 1.0.0-beta7
Platform information: macOS Big Sur (11.1 (20C69)).

[2021-02-01 13:38] agibsonccc commented on #9171
@b005t3r mind posting the TF file for me to look at? I may have already fixed this issue in master.

[2021-02-01 14:19] b005t3r commented on #9171
@agibsonccc sure, here's the model I tried: https://wetransfer.com/downloads/1e92dddd5696a50ffe7a0614bf30f61220210201141718/4221182af24f33ebd738ef6db1d416b820210201141731/029be8

Let me know if it works on your side and if there's anything I can do to make it work on my end :)

[2021-02-02 03:43] wmeddie opened #9173 "SameDiff training requires all minibatches to be the exact same size."
#### Issue Description

If you notice in the code here:

https://github.com/wmeddie/nd4j-nn-modules/blob/master/src/test/java/org/nd4j/autodiff/nn/TestNNModules.java#L217

It uses a strange batch size of 600 instead of a more normal power of 2 like 128.  That is because the training fails on the last batch when it isn't exactly the same size as the previous minibatches.

You can see the log of run

[2021-02-02 11:50] b005t3r commented on #9171
@agibsonccc sorry for being so inpatient, but have you tried the model yet?

[2021-02-02 13:38] agibsonccc commented on #9171
@b005t3r  no I haven't yet. We're in the middle of released QA. I'll do this when I get time. I plan on testing this against the current release. I'll try to get to this tomorrow. It shouldn't be too much for me to just try to load the model yet. If you need a guaranteed SLA, please DM me on the forums: https://community.konduit.ai/

[2021-02-02 13:41] b005t3r commented on #9171
@agibsonccc no problem, just please let me know here once you checked it and, if it works, what are my options to make it work on my end as well. Thanks!

[2021-02-02 13:46] agibsonccc commented on #9171
@b005t3r  when/if there's a workaround it will be problem specific. If something can work for beta7 I'll suggest that otherwise you might have to build from source till we get the release out.

[2021-02-02 14:00] b005t3r commented on #9171
@agibsonccc thanks, hopefully building from source won't be necessary :)

[2021-02-02 20:40] glenn-boudaer1990 opened #9174 "Unsupported keras layer type KerasLayer exception"
#### Issue Description

I have created and trained a TensorFlow Keras model in Python and saved it as _trained_model.h5:_

[code]

Now I want to load my model into Deeplearning4J as follows:

[code]

However, this results in the following error:

[code]

I believe this has to do with the custom KerasLayer where I use Mobilenet V2's feature vector. Can this be solved, is there a workaround?

#### V

[2021-02-02 21:53] glenn-boudaer1990 commented on #9094
@PedroPierina any luck fixing your issue? I have similar issue.

[2021-02-02 22:14] agibsonccc commented on #9174
@glenn-boudaer1990  that would have to be a custom layer. You can find docs on that here: https://deeplearning4j.konduit.ai/keras-import/custom-layers

[2021-02-02 22:17] agibsonccc commented on #9094
@glenn-boudaer1990  please don't spam the issue tracker. I just responded to you. Please try to be patient within reason. You register a custom layer. I gave you docs on this. I'm closing this.

[2021-02-02 22:17] #9094 closed, assigned to agibsonccc

[2021-02-03 13:43] agibsonccc commented on #9174
@glenn-boudaer1990  ok looking at this, I"ll have to find the associated underlying TF file and map it to this: https://github.com/eclipse/deeplearning4j/blob/c715aea405980eb043420af86c671032bbb78ec6/deeplearning4j/deeplearning4j-modelimport/src/main/java/org/deeplearning4j/nn/modelimport/keras/layers/TFOpLayer.java#L46 What it does is downloads a TF  file. More here: https://www.tensorflow.org/hu

[2021-02-03 14:02] agibsonccc commented on #9171
@b005t3r JFYI I didn't forget about you, I cracked this open tonight but need to look at this a bit tomorrow morning my time (asia)

[2021-02-03 14:39] b005t3r commented on #9171
@agibsonccc great, good luck :) let me know how it went :)

[2021-02-03 16:48] terU3760 opened #9175 "Manually building libnd4jcuda by following instructions but reported some naive error"
#### Issue Description

Please describe our issue, along with:
- Sucessfully build libnd4jcuda.dll
- Followed instrcutions step by step but reported some naive error

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version - current newest version
* Platform information (OS, etc) - Windows 10
* CUDA version, -  CUDA Driver Version / Runtime Ve

[2021-02-03 18:43] LifeIsStrange opened #9176 "Document how to set specific CPU backend"
https://deeplearning4j.konduit.ai/config/backends
From the doc it is unclear which cpu backend does nd4j-native use by default.
Also it is undocumented how we can change it and which ones are currently supported.
E.g OpenBLAS, MKL, others?

BTW thanks for developing ND4J, it is a foundational JVM library!

[2021-02-04 01:59] saudet commented on #9175
That means you haven't installed Visual Studio. Please do follow the build instructions!

[2021-02-04 02:06] saudet commented on #9176
MKL used to get loaded by default, but I think that changed back to OpenBLAS with beta7.
To get MKL called again, follow the instructions here:
https://github.com/bytedeco/javacpp-presets/tree/master/openblas#documentation

[2021-02-04 02:11] LifeIsStrange commented on #9176
Would be nice to document it / link the instructions from the nd4j doc but you have answered me so feel free to close this issue :)

[2021-02-04 04:44] terU3760 commented on #9175
@saudet  I have run all the commands in the instructions here https://deeplearning4j.konduit.ai/getting-started/build-from-source and here https://github.com/eclipse/deeplearning4j/blob/master/libnd4j/windows.md ,
The error is still there!

[2021-02-04 04:56] saudet commented on #9175
Even this?

[2021-02-04 05:46] terU3760 commented on #9175
@saudet  Yes. The file mingw64.ini is in the folder D:\msys64 and I have changed its content to:

#MSYS=winsymlinks:nativestrict
#MSYS=error_start:mingw64/bin/qtcreator.exe|-debug|<process-id>
#CHERE_INVOKING=1
MSYS2_PATH_TYPE=inherit
MSYSTEM=MINGW64

[2021-02-04 06:17] saudet commented on #9175
Ok, so, why is cl.exe not in your PATH?

[2021-02-04 06:33] terU3760 commented on #9175
@saudet I have no idea. When I type:
echo $PATH

I got the following result:
/mingw64/bin:/usr/local/bin:/usr/bin:/bin:/c/Windows/System32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell/v1.0/:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl

[2021-02-04 06:35] terU3760 commented on #9175
@saudet And the very intresting thing is that I can build the CPU version of libnd4j without any error at all!

[2021-02-04 06:40] saudet commented on #9175
Well, you'll need to figure out what's wrong with your installation of Visual Studio! It's a requirement for CUDA.

[2021-02-04 07:15] terU3760 commented on #9175
@saudet  Hey, saudet! I have installed VS2019 in this directory: D:\Microsoft Visual Studio\2019\Professional .  Perhaps you have found the cause:
When the command is run in the CMD window in Windows 10, when I typed:
echo %PATH%

The output is:
D:\Microsoft Visual Studio\2019\Professional\VC\Tools\MSVC\14.28.29333\bin\HostX64\x64;D:\Microsoft Visual Studio\2019\Professional\Common7\IDE\VC\VCPacka

[2021-02-04 07:35] saudet commented on #9175
It's going to do that if you don't follow the instructions about the INI file there. If you follow the instructions, it should work.

[2021-02-04 11:12] terU3760 commented on #9175
@saudet
I really have edited the .ini file. The file is in the directory: D:\msys64. And it's content is:
#MSYS=winsymlinks:nativestrict
#MSYS=error_start:mingw64/bin/qtcreator.exe|-debug|<process-id>
#CHERE_INVOKING=1
MSYS2_PATH_TYPE=inherit
MSYSTEM=MINGW64

Do you think the content of the file is right or not? What's the problem can you please explain it for me?

[2021-02-04 12:04] saudet commented on #9175
It doesn't look like you're using the usual launcher. If you prefer to use a different one than "mingw64", you're on your own.

[2021-02-05 07:09] terU3760 commented on #9175
@saudet  Hey! What do you mean by the usual launcher? I'm not familiar with the mechanism of msys2? Could you please provide me a little information about the launch? Do you mean I should change MINGW64 to something else and only doing this will solve my problem here?

[2021-02-05 07:56] saudet commented on #9175
No, I mean instead of msys2_shell.cmd try to use mingw64.exe as shown in the instructions. Like I said before, if you do not follow the instructions, you're on your own.

[2021-02-05 11:39] terU3760 commented on #9175
@saudet OK. Thanks a lot! After I start the msys2 window by mingw64.exe, the error disappeared!

[2021-02-05 11:39] #9175 closed, assigned to nobody

[2021-02-05 13:29] terU3760 opened #9177 "Build libnd4jcuda from source on windows reports Access denied."
#### Issue Description

Please describe our issue, along with:
- Sucessfully build libnd4jcuda.dll
- Followed instrcutions step by step but reported some naive error

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version - current newest version
* Platform information (OS, etc) - Windows 10
* CUDA version, -  CUDA Driver Version / Runtime Ve

[2021-02-06 09:59] agibsonccc commented on #9171
@b005t3r I managed to reproduce this on a few different models.  I'll make sure to get this fixed before release. Thanks for the bug report!

[2021-02-06 11:32] b005t3r commented on #9171
@agibsonccc thank you. When do you plan to release the new version? Matter of days, or weeks/months?

[2021-02-06 11:36] agibsonccc commented on #9171
Weeks at the latest but I'll let you know when I get the fix merged in to master. We're preparing for a 1.0 release release candidate so there's a bit of a higher bar for this.

[2021-02-06 11:42] b005t3r commented on #9171
@agibsonccc great, thank you

[2021-02-08 01:05] agibsonccc commented on #9177
The other issue was closed so I am closing this.

[2021-02-08 01:05] #9177 closed, assigned to nobody

[2021-02-08 01:05] #9176 closed, assigned to nobody

[2021-02-08 01:06] agibsonccc commented on #9168
@zhaoyunyemu  could you give me code to reproduce this?

[2021-02-08 01:07] agibsonccc commented on #9169
@FanJiangDev  do you have a keras model I could look at?

[2021-02-08 01:08] #9144 closed, assigned to nobody

[2021-02-08 01:10] agibsonccc commented on #9141
Closing, not enough information to reproduce. For any future readers, please use the community forums: https://community.konduit..ai for issues like this.

[2021-02-08 01:10] #9141 closed, assigned to nobody

[2021-02-08 01:12] #9118 closed, assigned to nobody

[2021-02-08 01:14] agibsonccc commented on #9124
Sorry just doing clean up here. There wasn't really a lot to go on here. I'm guessing this wasn't a bug. For future issues like this please post on the forums: https://community.konduit.ai - if we don't respond please feel free to ping (not excessively of course :) ) - thanks!

[2021-02-08 01:14] #9124 closed, assigned to nobody

[2021-02-08 01:15] agibsonccc commented on #9104
This has been fixed.

[2021-02-08 01:15] #9104 closed, assigned to agibsonccc

[2021-02-08 01:15] agibsonccc commented on #9102
Fixed.

[2021-02-08 01:15] #9102 closed, assigned to agibsonccc

[2021-02-08 01:18] agibsonccc commented on #9049
This isn't relevant anymore. Closing this.

[2021-02-08 01:18] #9049 closed, assigned to nobody

[2021-02-08 01:52] terU3760 commented on #9177
@agibsonccc    Hey! Dear agibsonccc, why did you close this issue? It's a different question from the former one. Could you please reopen it? I still need answers to this question!

[2021-02-08 09:59] agibsonccc commented on #9177
@terU3760  ah thanks. Could you please move this question over to the https://community.konduit.ai forum? This isn't a bug.

[2021-02-08 12:14] quickwritereader commented on #9048
@Dris101 thanks for the reporting issue.
could you show minimal reproducible example (here: array shapes and input) related to your issue so that I can directly check it on C++?
thanks

[2021-02-08 15:11] prab2112 opened #9179 "snakeyaml is showing up as HIGH critical vulnerability"
snakeyaml is showing up as HIGH critical vulnerability in owasp scan
Please describe our issue, along with:
- expected behavior : NA
- encountered behavior - Showing up in owasp scan as HIGH vulnerability

#### Version Information : 1.0.0-beta7

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version : 1.0.0-beta7

#### Additional Information
https://nvd.nist.gov/vuln/

[2021-02-09 01:31] terU3760 commented on #9177
OK. Could anyone please help out here: https://community.konduit.ai/t/build-libnd4jcuda-from-source-on-windows-reports-access-denied/1171

[2021-02-09 04:31] himanshusinha1 opened #9180 "importKerasSequentialModelAndWeights seems stuck"
#### importKerasSequentialModelAndWeights load model stuck/hang

Hi,

we noticed an issue in loading the h5 model using importKerasSequentialModelAndWeights and get stuck, It occurring in some cases mostly the model is importing fine but when it's stuck, it just stuck and take forever!

I tried sample code to reproduce the issue when we faced this issue in our Prod environment and the sample code

[2021-02-09 05:54] agibsonccc commented on #9180
@himanshusinha1 I would consider not running the keras import inline. Consider running import and then directly using the ModelSerialize.restore(..) methods. If you can give me a network, I'm happy to profile it.

[2021-02-09 10:12] himanshusinha1 commented on #9180
Hi @agibsonccc , Thanks, can you please describe how u mean by "import and then directly using the ModelSerialize.restore(..) methods"?

[2021-02-09 10:35] agibsonccc commented on #9180
@himanshusinha1  I met just convert the model via import and save the result, then load it in production.  The "normal" saving of models can be found here: https://deeplearning4j.konduit.ai/models/model-persistence

A dl4j computation graph maps to a functional model and a sequential is a multi layer network.

Beyond that, going forward I will encourage that for all model conversions. We're releas

[2021-02-10 01:24] himanshusinha1 commented on #9180
Hi @agibsonccc , Thanks, I am using the https://deeplearning4j.org/api/latest/org/deeplearning4j/nn/modelimport/keras/KerasModelImport.html as the model we developed is Keras based in python and saving as h5 than using in Java with dl4j as an example posted in the description section.
what will be the advantage to convert/save the model result? as KerasModelImport.importKerasSequentialModelAndWeig

[2021-02-10 01:52] agibsonccc commented on #9180
@himanshusinha1  conversion from one framework to another will always have some overhead. I'm aware it's convenient to do it the way you are. We'll discourage that going forward for our other frameworks due to edge cases like what you see with keras models on mobile.
Hdf5 doesn't produce bindings for ARM so our keras users have to run the conversion on desktop.

Often the formats from python invol

[2021-02-10 04:00] terU3760 opened #9181 "How to build nd4j from source on Windows 10 with CUDA driver version 11.1 and a newest Nvidia GPU card device?"
#### Issue Description

Please describe our issue, along with:
- Sucessfully build nd4j.jar
- ./buildmultiplescalaversions.sh nor working on our situation

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version - current newest version
* Platform information (OS, etc) - Windows 10
* CUDA version, -  CUDA Driver Version / Runtime Version - 11.

[2021-02-10 05:56] agibsonccc commented on #9181
Closing this. Again, this is not a bug and double posting will not help you get answers faster. If you want guaranteed response times, please consider a commercial engagement with proper expectations and an SLA, otherwise you can also wait for our release. (I know neither option is ideal for you, but demanding something of an OSS project which you're using for free and repeatedly banging the door

[2021-02-10 05:58] #9181 closed, assigned to nobody

[2021-02-10 10:30] nikkisingh111333 opened #9182 "ExceptionInInitializerError CPU user"
hey there i m started to laearn deep4j but frustrated with error 'ExceptionInInitializerError',i dont have GPU followed tutorial on baeldung heres my code:
`	try {

			RecordReader recordReader = new CSVRecordReader(0, ',') ;

		    recordReader.initialize(new FileSplit(new File("C:\\\\Users\\\\Nikki singh\\\\Downloads\\\\Iris.csv")));
            System.out.println(recordReader);
            Data

[2021-02-10 23:02] agibsonccc commented on #9182
@nikkisingh111333  this is not a bug. The issue tracker is not a place for support issues like this. Please post over on https://community.konduit.ai  - since this is your first time I'll respond. We document this right here: https://deeplearning4j.konduit.ai/config/backends - a simple self contained project can be found in the examples as well: https://github.com/eclipse/deeplearning4j-examples/t

[2021-02-10 23:02] #9182 closed, assigned to nobody

[2021-02-11 09:38] nikkisingh111333 commented on #9182
it worked thankyouuu

On Thu, 11 Feb 2021 at 04:33, Adam Gibson <notifications@github.com> wrote:

[2021-02-14 11:56] agibsonccc opened #9183 "Add Adabelief update"
#### Issue Description
Add the adabelief updater:
https://arxiv.org/abs/2010.07468

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version
* Platform information (OS, etc)
* CUDA version, if used
* NVIDIA driver version, if in use

#### Additional Information

[2021-02-25 07:14] zhaoyunyemu opened #9189 "when use spark to train network, encountered a problem: Can't establish connection after 10 seconds."
I encountered a problem, but I am not sure what went wrong：
org.apache.spark.internal.Logging(Logging.scala:69): Lost task 0.0 in stage 12.0 (TID 17, hadoop1-server, executor 2): org.nd4j.linalg.exception.ND4JIllegalStateException: Can't establish connection afet 10 seconds. Terminating...
at org.nd4j.parameterserver.distributed.v2.transport.impl.AeronUdpTransport.addConnection(AeronUdpTransport.j

[2021-02-25 07:18] zhaoyunyemu commented on #9189
sometime aeron log has no error,but always Can't establish connection after
 10 seconds

[2021-02-26 07:59] agibsonccc commented on #9180
Closing due to lack of activity.

[2021-02-26 07:59] #9180 closed, assigned to nobody

[2021-02-26 07:59] agibsonccc commented on #9183
Fixed.

[2021-02-26 07:59] #9183 closed, assigned to nobody

[2021-02-26 08:45] terU3760 opened #9191 "mvn commamd built nd4j-native but not nd4j-cuda, what is the cause?"
#### Issue Description

Please describe our issue, along with:
- Successfully build nd4j-cuda
- nd4j-native was successfully built but nothing has been done with nd4j-cuda

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version - current newest version
* Platform information (OS, etc) - Windows 10
* CUDA version, - CUDA Driver Version / Runti

[2021-02-26 09:26] himanshusinha1 commented on #9180
Thanks for your support @agibsonccc, we tried the soln you proposed, and it's working really well!

[2021-02-26 09:54] agibsonccc commented on #9191
@terU3760  again not a bug, closing this. If you have issues, please use the forums.

[2021-02-26 09:54] #9191 closed, assigned to nobody

[2021-02-26 10:44] terU3760 commented on #9191
Moved the question here: https://community.konduit.ai/t/mvn-commamd-built-nd4j-native-but-not-nd4j-cuda-what-is-the-cause/1206 . Anyone could please help us out?

[2021-02-26 11:22] nikkisingh111333 opened #9192 "Xception model Building giving error"
**hey i m new in transfer learning and currently trying to use Xception model …heres what i m doing …**

`ZooModel zooModel = Xception.builder()
.workspaceMode(WorkspaceMode.ENABLED)
.cacheMode(CacheMode.DEVICE)
.numClasses(2) .seed(randomSeed) .build();
zooModel.setInputShape(new int[][] {{3,150,150}});
 zooModel.init();
DL4JResources.setBaseDownloadURL("https://dl4jdata.blob.core.windows.net/");

[2021-02-26 11:24] agibsonccc commented on #9192
@nikhilnanivadekar  closing this. Please try to format your question better. The english here is very hard to understand. Go back to the forum, type in complete sentences and give me code I can run that produces your stack trace and you will get a response.

[2021-02-26 11:24] #9192 closed, assigned to nobody

[2021-02-26 11:40] nikkisingh111333 opened #9193 "Xception model training error"
**hey i m new in transfer learning and currently trying to use Xception model …heres what i m doing …**

_ZooModel zooModel = Xception.builder()
.workspaceMode(WorkspaceMode.ENABLED)
.cacheMode(CacheMode.DEVICE)
.numClasses(2) .seed(randomSeed) .build();

zooModel.setInputShape(new int[][] {{3,150,150}});

 zooModel.init();

DL4JResources.setBaseDownloadURL("https://dl4jdata.blob.core.windows.net/

[2021-02-26 21:03] terU3760 opened #9194 "DL4J based program reported error about native openblas support"
#### Issue Description

Please describe our issue, along with:
- Successfully run the dl4j based program
- Reported error about openblas

#### Version Information

Please indicate relevant versions, including, if relevant:

* Deeplearning4j version - current newest version
* Platform information (OS, etc) - Windows 10
* CUDA version, - CUDA Driver Version / Runtime Version - 11.1 / 10.2

#### Addi

[2021-02-27 01:32] agibsonccc commented on #9194
Also, not a bug closing. Please keep these build issues you're running in to on the forum. Please keep the issue tracker for bugs. I've had to mention this multiple times now.

[2021-02-27 01:32] #9194 closed, assigned to nobody

[2021-02-27 11:32] terU3760 commented on #9194
Anyone could please help us out? https://community.konduit.ai/t/dl4j-based-program-reported-error-about-native-openblas-support/1209

[2021-02-28 02:58] nikhilnanivadekar commented on #9192
@agibsonccc I think I was tagged on this in error. Fixing the tagging with the correct user @nikkisingh111333

[2021-02-28 04:19] agibsonccc commented on #9192
@nikhilnanivadekar  sorry thanks auto complete!

[2021-03-02 07:28] ghost opened #9199 "Beta-7 different outputs on GPU and CPU regression"
OS: Windows
DL4J: deeplearning4j 1.0.0-beta7
CUDA: 10.2
cuDNN: 7.6
Issue: The results of regression (eg. BostonHousePricePrediction.java) running on GPU are not same as results running on CPU. Attached are the screenshot of the results.
Original Issue from: https://github.com/CertifaiAI/TrainingLabs/issues/124

CPU:
Using CPU as backend:
![image](https://user-images.githubusercontent.com/63772006/

[2021-03-03 03:36] anonNo2 opened #9200 "Error loading dimension of pooling layer"
#### Issue Description
Hi~

i found a problem When I use deeplearning4j(beta7) to load the Keras-trained model(keras version:2.4.3),

this is my model structure：

| Layer (type)                 | Output Shape    | Param   |
| ---------------------------- | --------------- | ------- |
| embedding (Embedding)        | (None, 32, 200) | 2000000 |
| global_average_pooling1d (Gl | (None, 200)     | 0

[2021-03-04 18:26] aangelos28 opened #9201 "Keras asymmetric size UpSampling2D layer import fails"
#### Issue Description

Importing a Keras model with asymmetric upsampling layers fails. There is an exception thrown because the size of one upsampling layer is not symmetric. The Keras model `UpSampling2D` layer has size 3x2 (Height-Width). However, the `KerasUpsampling2D` class in DL4J expects the two sizes to be the same (e.g. 2x2). I do not understand why this limit is present. The following

[2021-03-05 01:01] agibsonccc commented on #9201
@aangelos28  beta6 is not the most recent released version. Update to beta7 first and if that doesn't work, give me a copy of your model so I can look at this and make sure this is fixed in the next release.

[2021-03-05 01:51] aangelos28 commented on #9201
@agibsonccc I have tried this with beta7, but the same issue is present. I have attached the Keras sequential model configuration (zipped). I am using `KerasModelImport.importKerasSequentialConfiguration` to load it.
[keras_model.zip](https://github.com/eclipse/deeplearning4j/files/6087650/keras_model.zip)

[2021-03-08 09:02] b005t3r commented on #9171
@agibsonccc, any news about the release? Do you think you will be able to release it this month?

[2021-03-10 07:30] agibsonccc commented on #9200
@anonNo2  could you please try with snapshots?  Channels/last first was fixed a while back. New release is coming out soon. https://deeplearning4j.konduit.ai/config/config-snapshots

[2021-03-10 08:35] madhs53 opened #9217 "DL4J Build for RHEL 7 (devtoolset-7)"
Hi all.

I've been trying to run DL4J beta-6 (CUDA 10.1) on RHEL 7 PPC64.

We used to run DL4J beta-2 and had to build from source due to CXXABI_1.3.8 not being available on our version of RHEL (we only had CXXABI_1.3.7). We built from source as per [this thread](https://github.com/eclipse/deeplearning4j/issues/6805), which worked.

We now want to upgrade to DL4J beta-6, and have followed steps to

[2021-03-10 08:42] agibsonccc commented on #9217
@madhs53 mind DMing me on the forums at https://community.konduit.ai with more specifics? We're not supporting older builds publicly, but we'd be happy to work with you on an arrangement that makes sense. It's a lot of work to support an older release alongside backports and the like.

[2021-03-10 08:42] #9217 closed, assigned to nobody

[2021-03-11 05:11] madhs53 commented on #9217
Thanks Adam. All good, managed to get it working by building javacpp cuda from source (along with nd4j) and shading the new artifacts along with other beta6 artifacts.

[2021-03-11 07:40] agibsonccc commented on #9217
@madhs53  just note we don't typically support older releases. Beta6 is VERY old at this point. (1 year at least). We'll be releasing 1.0 soon with a lot of new features and bug fixes including support model import for onnx. Drop me a message about how we can get that updated.

[2021-03-13 20:34] silahi opened #9232 "Training a neural network from zero (data cleaning, transforming, ...) to hero hero (model evaluation)"
#### Using dl4j for Logistic regression from zero to hero

I have built an example that demonstrates how to use deeplearning 4j
These are the key points covered in this example :

### 1. Loading Data using Record Reader and DataSet Iterators
### 2. Transforming Data with Transform Process and Local Transform
### 3. Normalizing Data using Processors
### 4. Partitioning Data into Test Set and Trainn

[2021-03-16 00:28] livsky87 opened #9234 "Support Dot merge layers"
#### Issue Description

`Dot merge layer` is not supported yet ([supported-features](https://deeplearning4j.konduit.ai/keras-import/supported-features#merge-layers))

[code]

I'm trying to load keras model using deeplearning4j for our new project. And the model we are going to use has a dot layer.
I hope deeplearning4j supports dot layer so we can use it.

#### Version Information
* Deeplearning4j

[2021-03-16 18:12] jljljl commented on #9050
@agibsonccc Sorry for being offline. I've been focused on other things. Seems i don't have permissions for it repository. Please check pull request

[2021-03-17 00:24] quickwritereader commented on #9048
I improved the op gist by adding derivative against the cost function and also generating libnd4j test case
[tensormmul_gradient_libnd4j_test-py](https://gist.github.com/quickwritereader/ef612c913a0521be22805eddc82385ba#file-tensormmul_gradient_libnd4j_test-py)

[2021-03-17 00:25] quickwritereader commented on #9048
if we manually expand the shape with 1s, we get the correct results.
it seems we just need to fix shape mismatch and thats all

[2021-03-19 06:17] anonNo2 commented on #9200
OK~ Thanks~

[2021-03-19 06:17] #9200 closed, assigned to nobody

[2021-03-20 20:26] srvvrma opened #9239 "Broken releasenotes url"
#### Issue Description

Please describe our issue, along with:
- broken link. The mentioned URL is getting redirected to the same URL.
 URL: https://deeplearning4j.org/releasenotes

[2021-03-23 21:32] MPdaedalus opened #9242 "java.lang.UnsupportedOperationException in createShapeInfo with SNAPSHOT on DL4J Examples"
expected behavior

examples  LinearDataClassifier and IrisClassifier run successfully (success with beta7 on cuda10.2),

- encountered behavior
- failure with snapshot on cuda 10.2  (native cpu works fine)
`Example data present in /home/daedalus/dl4j-examples-data/dl4j-examples/classification
17:27:25.265 [main] INFO org.nd4j.linalg.factory.Nd4jBackend - Loaded [JCublasBackend] backend
17:27:25.29

[2021-03-26 04:29] agibsonccc commented on #9242
@MPdaedalus  thanks, let me fix this by next week. I'm still cleaning up the tests a bit.

[2021-03-30 15:36] DimasDMM commented on #9151
I have the same problem. I suppose that this issue should be fixed.

[2021-03-30 22:39] agibsonccc commented on #9151
@DimasDMM  if you have a specific model, I would be happy to take a look at it. I'm a bit backlogged, but will be ready to take a look at models soon for the release.

[2021-03-31 08:00] DimasDMM commented on #9151
@agibsonccc Actually it is not about a specific model. The problem is that I cannot load the model with DeepLearning4Java if I train&save the model with TensorFlow v2.4.0. However, if I downgrade the version to v2.2.0, then I can load and evaluate it without any problem.

I am not sure if there are more differences, but I can see that the people of Tensorflow changed `class_name=Model` to `class_n

[2021-03-31 14:00] FJGEODEV commented on #9169
Hi thanks for your help. I uploaded my model to google drive, please take a look, thanks.

https://drive.google.com/file/d/1QwIU3TgT0hmy08N5tOXCN7Y_M3S8aCPW/view?usp=sharing

[2021-04-01 03:51] agibsonccc commented on #9239
@vrmasrv  here's the proper url: https://deeplearning4j.konduit.ai/getting-started/release-notes
Note we don't use deeplearning4j.org anymore. If you have issues finding something, please do let us know and we'll make sure you're redirected.

[2021-04-01 03:51] #9239 closed, assigned to nobody

[2021-04-01 03:53] agibsonccc commented on #9232
@sleicht  could you submit a pull request to the https://github.com/eclipse/deeplearning4j-examples? Open source projects on github in general tend to work like that. We can't put code or examples up without someone signing the ECA as well. If you're up for that, we're happy to publish the example + readme in the dl4j repo.

[2021-04-01 08:09] sleicht commented on #9232
@agibsonccc: I think you meant @silahi and not me, right?

[2021-04-01 08:12] agibsonccc commented on #9232
Yeah sorry auto complete..

[2021-04-01 08:16] #9138 closed, assigned to agibsonccc

[2021-04-01 21:11] silahi commented on #9232
@agibsonccc I'm not ready yet for the ECA ! But I can always continue pushing in my forked repo while waiting !

[2021-04-01 23:25] agibsonccc commented on #9232
@silahi  I'm not sure what you think the ECA is, but it's just a button you click with an eclipse account. It takes 2 seconds and doesn't have any sort of implications or liabilities to you.  It's needed for us to review your pull request regardless. We can't consider code from someone without that. I'm closing this since it's not a bug. If you want to discuss this further, please move over to our

[2021-04-01 23:25] #9232 closed, assigned to nobody

[2021-04-04 14:24] jljljl commented on #9159
@HGuillemet please check with debugger if it goes into org.deeplearning4j.nn.layers.FrozenLayer.java:159 at gradientAndScore() method

[2021-04-04 14:27] jljljl commented on #9159
Also seems like "fc" layer is another layer and it's not provided here. Debugging requires full code or probably at least graph declaration and initialization.

[2021-04-04 14:32] jljljl commented on #9149
@SidneyLann "Input var names: [out, labelWeight, label]" but you use "label=[1024,6], out=[1024,6], weight=[6]". Also you can use labels masking.

[2021-04-04 14:35] jljljl commented on #9149
I don't know arguments ordering but you can check "Inputs: [(FLOAT,[1024,6],c), (FLOAT,[6],c), (FLOAT,[1024,6],c)]", or check message from C++.

[2021-04-04 14:41] jljljl commented on #9116
@thofer please provide console output and program code.

[2021-04-04 14:43] jljljl commented on #9107
@sachag678 have you call `temp.init()`?

[2021-04-04 14:43] jljljl commented on #9107
Also check if `grad` is not null.

[2021-04-04 14:47] jljljl commented on #9148
@agibsonccc please close it if it is correct

[2021-04-05 03:02] #9050 closed, assigned to nobody

[2021-04-06 04:38] SidneyLann commented on #9149
There are 6 combinations for label=[1024,6], out=[1024,6], weight=[6], no one has the success running.

[2021-04-06 08:29] Rolnire opened #9257 "Euclidean Distance with allDistances true not working"
#### Issue Description
Hello
Calculation of Euclidean distance with allDistances parameter set to true is not working with GPU backend. With CPU backend it is working correctly. There are two scenarios:
**Scenario 1:**
`INDArray positive = Nd4j.rand(5, 256);`
`INDArray negative = Nd4j.rand(10, 256);`
I want to calculate distance between every positive vector (at 0th index) and every negative vecto

[2021-04-06 16:01] jljljl commented on #9149
@SidneyLann Check C++ log and try masking.

[2021-04-06 16:04] jljljl commented on #9149
See "NDArray::tile method - shapeInfo of target array is not suitable for tile operation !"

[2021-04-07 23:36] bpossolo opened #9258 "Feature Request: Add Support for Apple Silicon M1"
#### Issue Description

New Apple Silicon M1 processor yields `javacpp.platform` of  `macosx-arm64`.
These artifacts aren't available in Maven Central Repository which causes builds and IDEs on this new hardware to error/complain.

See these two forum topics for more information:
https://community.konduit.ai/t/support-for-apple-silicon-m1/1168
https://community.konduit.ai/t/compiling-on-arm/283

E

[2021-04-08 01:35] agibsonccc commented on #9242
@MPdaedalus  closing this due to resolution in the forums. Cuda 10.2 will not be supported for this release.

[2021-04-08 01:35] #9242 closed, assigned to nobody

[2021-04-08 01:49] agibsonccc commented on #9201
@aangelos28  sorry this took a bit: https://github.com/eclipse/deeplearning4j/pull/9259
It was only a few lines, but I had backlog for release to take care of :) this will make it in to the next release since it's a fairly straightforward fix. You're welcome to use snapshots for testing in the mean time. https://deeplearning4j.konduit.ai/config/config-snapshots

[2021-04-08 03:24] agibsonccc commented on #9171
@b005t3r sorry looking in to this now. We're about to do a release so I'm processing these issues in batches. Before that I was focused on build infra. If you want a guaranteed SLA, you are welcome to sign a commercial agreement with us.
I appreciate your patience as I look in to this. Sorry it took so long, there was a bit of a transition period for the infra. Running workloads on lots of differe

[2021-04-08 03:33] agibsonccc commented on #9169
@FanJiangDev  do you mind giving me access? Feel free to DM me on the forums: https://community.konduit.ai if you need this to be confidential. Thanks!

[2021-04-08 03:35] SidneyLann commented on #9149
Why need masking?   label=[1024,6], out=[1024,6], weight=[6] should be applied label weight to loss function successfully. It may be the problem in DL4J itself?

[2021-04-08 03:42] #9193 closed, assigned to nobody

[2021-04-08 03:42] agibsonccc commented on #9193
Closing this. Support questions should be on the forums: https://community.konduit.ai/

[2021-04-08 03:43] agibsonccc commented on #9189
Should be fixed. Significant upgrade to aeron and spark versions in the next release.

[2021-04-08 03:43] #9189 closed, assigned to nobody

[2021-04-08 03:46] #9148 closed, assigned to nobody

[2021-04-08 03:47] agibsonccc commented on #9148
@jljljl  the main issue was the way the commit was handled. The author didn't want to add the signed off by commit in their PR. The eclipse foundation has removed this policy so I was able to merge this.

[2021-04-08 04:05] aangelos28 commented on #9201
@agibsonccc That's great! Thanks.

[2021-04-08 07:50] agibsonccc commented on #9257
@Rolnire  do you know why snapshots  isn't working for you? Are you trying on a specific platform? It'd be great to ensure the quality of the release. I apologize for the volatility, but I'm looking at user issues now. I'll have to look at this one later.

[2021-04-08 07:55] #9048 closed, assigned to quickwritereader

[2021-04-08 07:57] agibsonccc commented on #9074
Just make the shape -1 on what you want to be dynamic and it will work (mainly for future readers)

[2021-04-08 07:57] #9074 closed, assigned to nobody

[2021-04-08 07:59] agibsonccc commented on #9044
This should be fixed in snapshots. Closing.

[2021-04-08 07:59] #9044 closed, assigned to nobody

[2021-04-08 07:59] #9043 closed, assigned to agibsonccc

[2021-04-08 07:59] #9041 closed, assigned to nobody

[2021-04-08 08:04] agibsonccc commented on #9031
@quickwritereader  could you update the op to use the nd4j c++ implementation?

[2021-04-08 08:20] b005t3r commented on #9171
@agibsonccc thanks for the info, I think I should be able to test your snapshots next week. What should I get and where can I get it? Are they available via maven?

[2021-04-09 15:01] AlexandruPDA opened #9261 "Deeplearning4j in Azure App Service generates NoClassDefFoundError"
## Issue Description

I integrated Deeplearning4j into a Spring Boot application, in order to:
* import a previously trained Keras model
* call the model with the passed data for obtaining the prediction, during a POST request.

Running the app with IntelliJ returns the expected predictions. Also, running the app within the JAR generated by Spring works correctly, using: ```java -jar app.jar```

H

[2021-04-09 15:20] treo commented on #9261
Even though it will probably not solve your problem (as I guess that it will probably fail just a little bit later), I'd like to note here, that importing models in production isn't exactly best practice. Instead we suggest that you import the model and then save it as a DL4J model.

[2021-04-09 19:05] AlexandruPDA commented on #9261
Alright, I understand. Thank you very much for the suggestion.

[2021-04-09 19:18] quickwritereader commented on #9081
I just tested beta7 in centos6.8, it loaded the model
[code]

[2021-04-09 21:00] quickwritereader commented on #9081
I faced glibc 2.14 problem for snapshots, though.

[2021-04-10 00:56] bappy043 opened #9262 "Unsupported keras layer type DenseFeatures"
I am getting the following error while trying to load a `tf.keras` model that uses `tf.feature_column` API.

[code]
Not sure if `DenseFeatures` layer is supported in deeplearning4j yet. Any suggestion about the solution of this problem.

#### TF code to create the model
[code]

#### deeplearning4j code
[code]
Model file: [model_featCol.h5.zip](https://github.com/eclipse/deeplearning4j/files/628901

[2021-04-11 00:42] MPdaedalus opened #9263 "support for batch norm with 1D CNN seems to be missing"
batch normalization for 1DConv does not work due to 1DConv requiring rank 3 INDArrays and BatchNormalization.java only supporting rank 2 or 4 INDArrays.

Example layer config>
.addLayer("stem-cnn1",new Convolution1DLayer.Builder(3,2).nIn(483).nOut(32).build(),"input")
.addLayer("stem-batch1", new BatchNormalization.Builder(false).decay(0.995).eps(0.001).nIn(32).nOut(32).build(),"stem-cnn1")

 inpu

[2021-04-12 01:34] agibsonccc commented on #9132
Closing due to this being a bit vague...try to be a bit more specific with which sets of ops you'd be needing. A link to any other framework's implementation would be useful. If any of these things warrant dedicated c++ ops, we'll definitely consider it. If it's more of just creating modules comprised of existing ops, that likely belongs in examples or something else.

[2021-04-12 01:34] #9132 closed, assigned to nobody

[2021-04-12 01:47] #9032 closed, assigned to nobody

[2021-04-12 01:51] agibsonccc commented on #9031
Closing: https://github.com/eclipse/deeplearning4j/issues/9031

[2021-04-12 01:51] #9031 closed, assigned to quickwritereader

[2021-04-12 01:53] agibsonccc commented on #9009
Closing this. Support issues like this should be posted on the forums at https://community.konduit.ai for future readers.

[2021-04-12 01:53] #9009 closed, assigned to nobody

[2021-04-12 03:04] #8985 closed, assigned to nobody

[2021-04-12 03:06] agibsonccc commented on #9095
Multi threading issue likely. Hard to tell from anything more than that. Not sure this is a  bug or not. For future readers, please post on the forums first: https://community.konduit.ai

[2021-04-12 03:06] #9095 closed, assigned to nobody

[2021-04-12 03:24] agibsonccc commented on #9110
Closing this. You were using older versions of some datavec spark modules. I'm not sure what tutorial this was pulled from, but never mix versions of dl4j/datavec. See here: https://gist.github.com/utri092/91a262979b531fc59222c84793b7cbfc#file-pom-xml-L93

[2021-04-12 03:24] #9110 closed, assigned to nobody

[2021-04-12 05:17] agibsonccc commented on #9263
@MPdaedalus if you want, please feel free to take a crack at the fix. Instead of building everything from source, you can configure snapshots so you don't have to build from source for the tests. Otherwise, I'll take a crack at this after release.

[2021-04-12 08:12] thofer commented on #9116
Hi @jljljl, now it's 6 months later and I do not have a simple example ready to reproduce the issue.

But find attached the patch I made to get my code running. The fix is quite simple because it just replaces the hard coded array indices of 0 (zero) with the correct once according to the loop variable.

[org.deeplearning4j.util.Convolution3DUtils.txt](https://github.com/eclipse/deeplearning4j/fil

[2021-04-12 08:43] Rolnire opened #9264 "Snapshot is not working for me now"
#### Issue Description

Hello currently snapshots are not working for me. (it used to work). This issue is related with https://github.com/eclipse/deeplearning4j/issues/9257
There is my exception:

[code]

And there is my pom.xml file:

[code]

#### Version Information

* DL4J beta 1.0.0-beta7
* Ubuntu 20.04.1 LTS, kernel 5.4.0-64-generic
* CUDA version 11.0
* NVIDIA driver version 450.102.04

Tha

[2021-04-12 08:47] Rolnire commented on #9257
@agibsonccc I don't know to be honest, but I just created issue for that, so it can be hopefully solved. There is issue link https://github.com/eclipse/deeplearning4j/issues/9264. My platform informations are in **Version information** section. Thank you for your help.

[2021-04-12 09:18] agibsonccc commented on #9116
@thofer  appreciated. We're getting ready to do the release now. Sorry we've been busy with retooling the CI infra and finishing the new model import engine, so minor bugs haven't been as much of a priority.  Happy to get a fix in and deploy snapshots when things are easily reproducible though.

[2021-04-12 17:25] MPdaedalus commented on #9263
its a bit beyond what i'm used to (just learning to run and test CNNs) but I'll have a go, I don't really know the internals of DL4J beyond the basics so I might ask for some pointers here.

How do I configure snapshots so you don't have to build from source for the tests and which tests should i run?

[2021-04-12 21:24] quickwritereader commented on #9036
@agibsonccc  it seems that the case is done intentionally.
 first of all,  while making one of the divide arguments to be fixed point I get that it should be a floating variable to be trainable.
if  I make it as a constant. this time its gradient output expects the same type ( in that case long).

Besides making it flexible as the way op wants I should consider all operations inside and decide val

[2021-04-13 01:25] agibsonccc commented on #9264
@Rolnire we don't support cuda 10.2 in the next version. Please upgrade your cuda to 11 or 11.2.

[2021-04-13 01:25] #9264 closed, assigned to nobody

[2021-04-13 01:25] agibsonccc commented on #9257
@Rolnire  I addressed your issue. You just need to upgrade your cuda version and you're good to go. Thanks for being open to helping with testing!

[2021-04-13 01:26] agibsonccc commented on #9263
@mpazos See: https://deeplearning4j.konduit.ai/config/config-snapshots thanks for being open to this!

[2021-04-13 08:52] LutzWeischerFujitsu opened #9265 "build fails on AArch64, Fedora 33 for libnd4j"
[jw@cn05 libnd4j]$ ./buildnativeoperations.sh
...
[  1%] Building CXX object blas/CMakeFiles/samediff_obj.dir/__/include/legacy/impl/cnpy.cpp.o
cd /data/jw/deeplearning4j/libnd4j/blasbuild/cpu/blas && /usr/bin/c++ -DCPU_FEATURES=true -DDNNL_ENABLE_CONCURRENT_EXEC=true -D__CPUBLAS__=true -D__EXTERNAL_BLAS__=true -I/data/jw/deeplearning4j/libnd4j/blasbuild/cpu/cpu_features-src/include -I/data/jw/dee

[2021-04-13 09:09] treo commented on #9265
have you tried calling it with the `-a native` parameter? Not quite sure why it picks up `-march=x86-64` here.

[2021-04-13 09:56] agibsonccc commented on #9265
@LutzWeischerFujitsu you can try snapshots which has linux-aarch64 builds. https://deeplearning4j.konduit.ai/config/config-snapshots

The pre compiled libnd4j binaries if you just want those are here:
https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/libnd4j/1.0.0-SNAPSHOT/
Again, ctrl + f linux-arm64

You can also see how the build happens here:
https://github.com/eclipse/deeplearn

[2021-04-13 09:56] #9265 closed, assigned to nobody

[2021-04-14 06:27] LutzWeischerFujitsu commented on #9265
Using '-a native':

...
In file included from /data/jw/deeplearning4j/libnd4j/include/legacy/cpu/NativeOps.cpp:83:
/data/jw/deeplearning4j/libnd4j/blasbuild/cpu/cpu_features-src/include/cpuinfo_x86.h:205:2: error: #error "Including cpuinfo_x86.h from a non-x86 target."
  205 | #error "Including cpuinfo_x86.h from a non-x86 target."
      |  ^~~~~
...

[2021-04-14 06:31] agibsonccc commented on #9265
@LutzWeischerFujitsu  thanks again for trying to compile libnd4j on aarch64. Could you try the script I mentioned? I know for a fact your problem is already solved. Were  you missing something? Is there something in specific that's not working for you?

[2021-04-15 05:38] #9261 closed, assigned to nobody

[2021-04-15 05:41] agibsonccc commented on #9261
@AlexandruPDA  only thing I could guess is an underlying native error with hdf5 somewhere... I'll highlight this for @saudet  if he has more context, otherwise Paul's suggestion would be the most straightforward.

[2021-04-15 05:45] agibsonccc commented on #9117
Closing this since I'm imagining the author moved on. For future readers here, to make this more actionable I would have needed more specifics to reproduce an issue. Code will mean an issue gets acted on faster. Otherwise we  look at these kinds of issues on a best effort basis. We always have to reverse engineer the author's perception of the issue, the actual code they wrote, and the actual situ

[2021-04-15 05:45] #9117 closed, assigned to nobody

[2021-04-15 05:47] agibsonccc commented on #9083
Closing in favor of: https://github.com/eclipse/deeplearning4j/issues/9179

[2021-04-15 05:47] #9083 closed, assigned to nobody

[2021-04-15 05:48] agibsonccc commented on #9079
Closing this, please post these kinds of questions on the forums. Answer is: no but we'll work on one.

[2021-04-15 05:48] #9079 closed, assigned to nobody

[2021-04-15 05:50] agibsonccc commented on #8997
Closing this. For future readers, please use our forums for these kinds of questions. The issue tracker is for  bugs. As of now, only per label weights are supported.

[2021-04-15 05:50] #8997 closed, assigned to nobody

[2021-04-15 05:52] agibsonccc commented on #9007
There is now an nd4j-tvm. We have more to do yet, but that will allow you to run tvm models. For something more specific, please consider opening another issue as a feature request.

[2021-04-15 05:52] #9007 closed, assigned to nobody

[2021-04-15 06:31] saudet commented on #9261
To get more information about loading issues like that, make sure that the “org.bytedeco.javacpp.logger.debug” system property is set to “true” or the “org.bytedeco.javacpp.logger” one is set to “slf4j” with your logger set to its debug level.

[2021-04-15 06:42] LutzWeischerFujitsu commented on #9265
pi_build.sh is downloading from Arm a x86-64 GCC cross compiler version. The script fails on OpenBLAS, which is installed.
Besides having the benefits of individual, specific snapshots, my intention is to compile the GitHub master version to be able to take advantage of different hardware, but using the same source code.

[2021-04-15 06:48] agibsonccc commented on #9265
@quickwritereader  can comment further here since he maintains the script. buildnativeoperations.sh can/should compile natively find on arm. It just invokes cmake. I'm still leaving this issue closed since I know we have binaries that work fine for aarch64. We'll update the docs in the mean time to make sure it's more straightforward to do this.

[2021-04-15 11:33] quickwritereader commented on #9265
1. compiling  arm libnd4j libs on native platform
[code]

2.   cross compile for arm64 on linux x86 host
[code]

[2021-04-16 10:59] LutzWeischerFujitsu commented on #9265
Thanks, that helped. I noticed another problem:
[jw@cn05 deeplearning4j]$ mvn -B -V -U install -pl '!jumpy,!pydatavec,!pydl4j' -Dlibnd4j.platform=linux-aarch64 -Djavacpp.platform=linux-aarch64 -Dmaven.test.skip=true
Apache Maven 3.6.3 (Red Hat 3.6.3-5)
Maven home: /usr/share/maven
Java version: 11.0.10, vendor: Red Hat, Inc., runtime: /usr/lib/jvm/java-11-openjdk-11.0.10.0.9-0.fc33.aarch64
Default

[2021-04-16 12:01] treo commented on #9265
Good catch. We've mothballed some of the sub-projects.

I think you can just drop those exclusions now, i.e. try `mvn -B -V -U install -Dlibnd4j.platform=linux-aarch64 -Djavacpp.platform=linux-aarch64 -Dmaven.test.skip=true`

[2021-04-18 03:26] yumg opened #9266 "A bug in WebLogDataExample"
When I run the example `org.deeplearning4j.datapipelineexamples.transform.basic.WebLogDataExample`,

I got an exception as below:

[code]

That is because my default locale is `Locale.CHINA`, the program can not recognize the month word `Jul`.

The locale needs to be specified explicitly.

[2021-04-18 03:54] yumg commented on #9266
Sorry!

This issue should be related to the repo [eclipse/deeplearning4j-examples](https://github.com/eclipse/deeplearning4j-examples)

It is moved to  eclipse/deeplearning4j-examples#1029

[2021-04-19 08:38] LutzWeischerFujitsu commented on #9265
Than I get:

...
[ERROR] Failed to execute goal org.bytedeco:javacpp:1.5.5:build (javacpp-cppbuild-validate) on project libnd4j: Execution javacpp-cppbuild-validate of goal org.bytedeco:javacpp:1.5.5:build failed: Plugin org.bytedeco:javacpp:1.5.5 or one of its dependencies could not be resolved: The following artifacts could not be resolved: org.bytedeco:javacpp:jar:linux-aarch64:1.5.5, org.byted

[2021-04-19 10:09] agibsonccc commented on #9265
@LutzWeischerFujitsu set it to linux-arm64 not linux-arch64. Sorry for the confusion. See: https://repo1.maven.org/maven2/org/bytedeco/openblas/0.3.13-1.5.5/ for the available classifiers.

[2021-04-20 07:29] LutzWeischerFujitsu commented on #9265
After a while I get for 'nd4j-native':

(base) [jw@cn05 deeplearning4j]$ mvn -B -V -U install -Dlibnd4j.platform=linux-arm64 -Djavacpp.platform=linux-arm64 -Dmaven.test.skip=true
...
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  45:23 min
[INFO]

[2021-04-20 08:40] agibsonccc opened #9267 "Inconsistent naming conventions for LastTimeStep"
#### Issue Description
Inconsistent naming conventions for LastTimeStep:
The config for it is named just LastTimeStep, and it then creates a LastTimeStepLayer:
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/conf/layers/recurrent/LastTimeStep.java#L54
For the LastTimeStepVertex for example there is no inconsistency.

See:
h

[2021-04-20 09:50] b005t3r commented on #9171
@agibsonccc I wanted to try out the snapshots, but it looks like there's no macOS build of 1.0.0-SNAPSHOT and 0.9.2-SNAPSHOT is 3 years old, so probably not what you wanted me to test. Is there a reason why there's no macOS build for this version?

[2021-04-20 11:00] agibsonccc commented on #9171
@b005t3r  reuploading snapshots for mac. Let me look at the other ones. The snapshots tend to time out after a few days so they need to be refreshed. Luckily we're working on final testing for the M1 release coming up here as well. Should be this week depending on what comes up in testing.

[2021-04-20 11:47] b005t3r commented on #9171
Sounds great! I'll test things out once the macOS builds are uploaded.

BTW, this is the repo I tried for snapshots: https://oss.sonatype.org/content/repositories/snapshots/org/nd4j/nd4j-native/1.0.0-SNAPSHOT/

Is it the correct one?

[2021-04-20 11:48] HGuillemet opened #9268 "Workspace "WS_LAYER_WORKING_MEM" for array type FF_WORKING_MEM is not open"
#### Issue Description

See [this forum post](https://community.konduit.ai/t/workspace-ws-layer-working-mem-for-array-type-ff-working-mem-is-not-open/1317/5)

#### Version Information

DL4J 1.0.0 beta 7
Cuda 10.2
Linux

#### Additional Information

https://gist.github.com/HGuillemet/a5acb56ac9d86fae74ca8bd1ce24f3b7

[2021-04-20 12:06] agibsonccc commented on #9171
Yes it is thanks!

On Tue, Apr 20, 2021, 20:47 Łukasz Łazarecki ***@***.***>
wrote:

[2021-04-20 13:29] b005t3r commented on #9171
@agibsonccc Just wanted to make sure - you're still uploading the macOS snapshot builds?

[2021-04-20 14:10] agibsonccc commented on #9171
@b005t3r  I'm having it upload snapshots for osx now, it might take a bit.  Ping me tomorrow (sorry I live in asia so it's late here) if there's any issues.

[2021-04-21 06:57] b005t3r commented on #9171
@agibsonccc I'm afraid something went wrong with uploading the macOS snapshots, they are still not available:

[code]

[2021-04-21 16:11] agibsonccc commented on #9171
@b005t3r  sorry the mac GH actions workers are a bit flaky. Let me try again tomorrow. I'm  simultaneously working on publishing a staging repo for internal testing so that's clashing with the snapshot allocation we have. Alternatively, feel free to DM me on the forums: https://community.konduit.ai and I can try the model when I get a chance. Make sure to send me a new link.

[2021-04-22 08:15] b005t3r commented on #9171
I managed to download the macOS files and run it. I think it loads up the model correctly (however with warnings, given below), but for some reason it crashes when I try to run it.

I uploaded my project with all that's needed to run it to github, so would be great if you could give it a go:
https://github.com/b005t3r/dl4j-snapshot-test

Also, it creates some weird files when run:
[ops-added-old.t

[2021-04-23 12:03] Kazimir1994 opened #9269 "ImageResize it works incorrectly"
I have an image that is stored in INDArray. I use this method

Nd4j.image (). imageResize (image, Nd4j.createFromArray (2, 2), ImageResizeMethod.ResizeBicubic);

and I get in place of this

[[[[ 167.0000, 153.0000],
[ 175.0000, 229.0000]],

[[ 158.0000, 146.0000],
[ 170.0000, 229.0000]],

[[ 150.0000, 139.0000],
[ 164.0000, 226.0000]]]]

this

[[[[ 247.0000, 248.0000, 251.0000, 251.0000, 244.0000]

[2021-04-23 18:31] Acander opened #9270 "Unsupported keras layer type Conv3DTranspose"
HI! I cannot load my keras CVAE model to java since I am getting the following error: “Unsupported keras layer type Conv3DTranspose”. Why is it not possible to load Conv3DTranspose layers with DL4J? What do I need to do mitigate this problem?

[2021-04-25 01:46] eix128 opened #9271 "CoreML for IOS with RoboVM"
Hi , will you plan to support CoreML for IOS on DeepLearning4J ?

[2021-04-26 03:37] agibsonccc commented on #9271
@eix128  are you using the fork? https://github.com/MobiVM/robovm I just want to be clear, since the original robovm was shuttered long ago. @johanvos actually did some  ios work a  while ago. We're also going to be working with graalvm as well. We can technically compile no problem for ios, but aren't supporting ios specifically yet. If your team is willing to commercially sponsor the work, we wo

[2021-04-26 05:39] #9201 closed, assigned to nobody

[2021-04-26 05:39] #9169 closed, assigned to nobody

[2021-04-26 05:39] #9179 closed, assigned to nobody

[2021-04-30 20:47] MPdaedalus commented on #9263
I've tried to implement a solution as much as I think it is correct but no luck due to a bunch of errors downstream which is beyond my understanding. It was only a few lines of code that I changed which I will outline below. I decided to only test using CPU build instead of worrying about cuda. However even if the CPU version of batch norm worked I fear the performance would be really bad as batch

[2021-05-02 08:47] agibsonccc opened #9278 "JVM Crash with TAD happening on CPU backend"
#### Issue Description
 Stack trace when running certain kinds of ops:

[code]

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information
 Master
Please indicate relevant versions, including, if relevant:

* Deeplearning4j version master branch
* Platform information (OS, etc) linux
* CUDA version, if used
* NVIDIA driver version, if in use

#### A

[2021-05-02 08:55] agibsonccc opened #9279 "JUnit tests failing due to global data type inconsistencies"
#### Issue Description
One flaw with the current set of junit tests is the ability to run them consistently. Tests that would otherwise pass under normal circumstances or running in isolation can fail due to multiple data types being passed in.

This has to do with nd4j's default global data type being used throughout the unit tests.
We can see issues with this in any code that uses:
1. Nd4j.creat

[2021-05-03 07:50] treo commented on #9258
https://github.com/danielchalef/openblas-benchmark-m1

If we compare just sgemm (float matrix multiplication) on rosetta vs native, there is an up to 7x improvement.
And it looks like it would be also very favorable to use apple's own veclib instead of openblas here.

[2021-05-03 09:44] agibsonccc opened #9288 "Support CNN3D in ReshapePreprocessor"
#### Issue Description
In connection with:
https://community.konduit.ai/t/cannot-infer-input-type-for-reshape-array/1358/4

We currently don't support NCDHW style arrays. This is needed for keras import.
A simple fix is to extend the ReshapePreProcessor to add this acase.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate r

[2021-05-04 09:05] ramarro123 opened #9289 "Question: jetson documentation"
hello,

there is any guide on jetson nano from nvidia?
i checked here:
https://deeplearning4j.konduit.ai/config/backends

but i don't fully understand how to enble cuda & cuDNN on that platform.

the linux image prepared by nvidia already have driver for cuDNN & cuda standing to the SDK docs, but i don't understand how to enable adding the correct pom/dependencies/config

thanks

[2021-05-04 09:19] treo commented on #9289
Questions like that are best asked on the community forums (https://community.konduit.ai/).

But in general, you enable it like on any other platform. Make sure that you use the same cuda version as the one that is installed.

[2021-05-05 22:28] #9289 closed, assigned to nobody

[2021-05-06 12:22] #9288 closed, assigned to nobody

[2021-05-07 06:14] sandylunar opened #9293 "Using a bunch of Keras models in a zip file for Dl4j"
#### Feature Request

I've converted a bunch of Keras models into the Dl4j .zip format for WekaDeeplearning4j, a Weka wrapper for Dl4j. I was wondering whether the Dl4j maintainers would be interested in using these zip files for Dl4j? It would expand the Dl4j Model Zoo substantially.
- Keras DenseNet121
- Keras DenseNet169
- Keras DenseNet201
- Keras EfficientNetB0
- Keras EfficientNetB1
- Keras

[2021-05-07 06:18] sandylunar commented on #9293
Our work aims to mine useful information from live chats, and let the team be aware of them. Hopefully this can help somehow.

[2021-05-07 06:32] agibsonccc commented on #9293
@sandylunar  yes we would definitely be interested! Could you submit a pull request to the deeplearning4j model zoo? Steps for how to integrate would also be appreciated. Our model zoo currently leverages an azure blob storage setup. If all we need to do is upload those then that would work fine. Anything we should need to know should be discussed in the issue. Thanks!

[2021-05-07 06:49] sandylunar commented on #9293
Not sure how to submit PR to deeplearning4j model zoo, but we will try for that, and see if that's all you need.

[2021-05-07 09:34] elkhadirzyad opened #9294 "speed up the loading of google news word2vec model"
I'm working on windows 7, and when i use the google news pretrained word2vec model (with DL4J library), it takes more than 4 minutes to load, here is the instruction i used :

w2vModel = WordVectorSerializer.readWord2VecModel("../GoogleNews-vectors-negative300.bin.gz")

Is there a more rapid way to load this model

[2021-05-07 10:21] basedrhys commented on #9293
@sandylunar i can have a go at doing the PR if you like - there’s a few gotchas in using these models to be aware of.

[2021-05-07 13:32] sandylunar commented on #9293
Definitely yes. Our tool find your utterances are quite useful in Gitter. We just move them here. So It will be much more appropriate to do the PR by yourself :)

[2021-05-07 13:32] MPdaedalus opened #9296 "building nd4j snapshot fails with java 16 unless export MAVEN_OPTS="–illegal-access=warn" is used"
adding this bug as requested by @agibsonccc
see>https://community.konduit.ai/t/nd4j-compile-from-source-fails-with-snapshot/1349

[ERROR] Failed to execute goal com.lewisd:lint-maven-plugin:0.0.11:check (pom-lint) on project nd4j: Execution pom-lint of goal com.lewisd:lint-maven-plugin:0.0.11:check failed: An API incompatibility was encountered while executing com.lewisd:lint-maven-plugin:0.0.11:c

[2021-05-08 00:14] agibsonccc opened #9297 "Restore solrj-tests later"
#### Issue Description
Right now, the test in the solrj module is preventing a successful build (could be due to a temp outage?), due to this error:
[code]
We can restore the test at a later date, but for now it's been deleted.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

*

[2021-05-09 22:45] agibsonccc opened #9299 "Move version check warnings to tracing"
#### Issue Description
Right now, we have version checks for old classes to prevent the need for users to troubleshoot classpath issues.
Those checks should be transparent and be moved to tracing so as not to confuse normal use.

Please describe our issue, along with:
- expected behavior
- encountered behavior

#### Version Information

Please indicate relevant versions, including, if relevant:

*

[2021-05-10 08:06] #9297 closed, assigned to nobody

[2021-05-11 07:14] jljljl opened #9306 "Is CUDA 11.0 supported?"
Just a question if CUDA 11.0 supported. I saw it was with the 9.x, 10.0, 10.1, 10.2 i also saw 11.0 somewhere but can't find that now. Here is also CUDA 11.0 im pom.xml available. Does it works?

[2021-05-11 07:30] treo commented on #9306
At this moment, you can only use it with Snapshots. But it will be generally supported in the upcoming release.

To see how to enable snapshots, see here: https://deeplearning4j.konduit.ai/config/config-snapshots

[2021-05-11 07:33] jljljl commented on #9306
@treo Thank you for your answer. Is here any chat/forum to talk about this project? I found some stuff to fix, implement and optimize, but if would be hard to post here.

[2021-05-11 07:58] treo commented on #9306
In general you should be asking questions like this here: https://community.konduit.ai/

[2021-05-11 07:58] #9306 closed, assigned to nobody

[2021-05-12 09:57] jljljl opened #9307 "CUDA broken after a while"
Some time ago i ran on that pc cuda dl4j programs.
After some time of inactivity CUDA has become unable to work with dl4j. Running LeNetMNIST example caused an exception. Also tried MNISTCUDNN.java from cuda-specific-examples.

The file is present but looks like it don't contain some special procedure.
I tried to reinstall NVIDIA driver because it became patrially broken (won't open control panel)

[2021-05-12 12:49] Rolnire commented on #9257
@agibsonccc I finally had time to update CUDA and try SNAPSHOT. I installed CUDA 11.2 without cuDNN and SNAPSHOT was working. After cuDNN 8.1.1 installation it is not working for me anymore. cuDNN should be installed correctly, because test passed (see log) [mnistCUDNN.log](https://github.com/eclipse/deeplearning4j/files/6466113/mnistCUDNN.log)
I cannot open ZOO models. Exception:

	at org.deeplea

[2021-05-12 14:33] treo commented on #9307
It looks like you are using quite an old driver version. And given that you've had some cuda trouble, I guess it may be a good idea to use DDU (https://www.guru3d.com/files-details/display-driver-uninstaller-download.html) to uninstall your driver, and then reinstall the newest version.

Other than that, the easiest way to get it working is to use this dependency:
[code]

It has the drawback, that

[2021-05-12 15:22] jljljl commented on #9307
It's fun because i ran MNIST learning example on my video card, but it should not run at all. It has CUDA compute capability of 2.1 or driver compatibility with CUDA 9. I dunno how to get know if it should work with CUDA.

[2021-05-12 15:30] jljljl commented on #9307
This dependency don't contain cuda 9.
[code]
`-Djavacpp.platform=windows-x86_64` is that argument for VM option? Or build option? I don't know

[2021-05-12 18:16] treo commented on #9307
These days we only support cards that are at least in the 900 family and have compute capability 5.2 if I remember correctly. And in beta7 we don't support cuda 9 at all.

The dependency that I've shared includes cuda 10.2 along with cudnn 7.6 and should work with nd4j-cuda-10.2.

[2021-05-12 18:22] jljljl commented on #9307
I see, but somehow i get it to work correctly. As i remember it was CUDA 10.2 or 10.0. It was 2 times slower than CPU, but here is less than 100 CUDA cores.

[2021-05-12 18:27] jljljl commented on #9307
Anyway CUDA 10.2 is successfully installed on my PC. I guess i miss some libraries or configuration. It was working so i am pretty sure i could get it working again

[2021-05-13 03:06] #9307 closed, assigned to nobody

[2021-05-13 11:26] agibsonccc commented on #9257
@Rolnire  that's just related to deeplearning4j-cuda. You can either remove that for now or install deeplearning4j-cuda on my branch here: https://github.com/eclipse/deeplearning4j/pull/9308

Depending on which cuda version you use, ensure you run change-cuda-versions.sh to either 11.0 or 11.2 depending on which version you install. deeplearning4j-cuda doesn't need anything (just snapshots) so as

[2021-05-15 11:59] Foorcee opened #9311 "DataVec: String analysis wrong histogram calculation"
#### Issue Description

When I create an analysis from my schema and create an HTML file from it, the histogram for the strings is wrong. All strings are in the histogram at the maximum length. See screenshot

![screenshot](https://i.imgur.com/fngUcep.png)

#### Version Information

Please indicate relevant versions, including, if relevant:

* 1.0.0-SNAPSHOT

#### Additional Information

Where app

[2021-05-16 00:24] #9311 closed, assigned to nobody

[2021-05-17 07:54] Rolnire commented on #9257
@agibsonccc I can see, request is merged, but for me nothing changed. I'm getting same exception again. To get libraries I use this command:
`mvn dependency:copy-dependencies -U -DoutputDirectory=../../lib/mvnLibs/`
Any idea, what can be wrong?

[2021-05-17 08:17] agibsonccc commented on #9257
@Rolnire  rerun the actual downloads first with mvn -U clean package first. Maybe even delete the org/deeplearning4j/deeplearning4j-cuda-11.2/1.0.0-SNAPSHOT directory completely under your .m2 just to be sure. I have multiple unit tests in that branch showing it works. If I missed something, I'm open to that but I'd like to make sure that it's not just a flaky update. Snapshots are known to have i

[2021-05-17 09:37] Rolnire commented on #9257
@agibsonccc I deleted whole .m2 file and run downloads again. It did not help, same exception again. There is log, you can see some additional errors there:
[code]

[2021-05-17 10:18] agibsonccc commented on #9257
@Rolnire actually that looks great. Sorry for the confusion. Those classes not being found is actually a good thing. That means no old versions are present. I will make sure that gets fixed in the next update so that's less confusing. If there's more to your log though, I'm happy to take a look.

[2021-05-17 11:13] Rolnire commented on #9257
@agibsonccc Good to hear that :). But main issue for me is that I can't load serialized models and zoo models. For example if I run simple main just with this line
`Darknet19.builder().build().initPretrained(PretrainedType.IMAGENET);`
I will get this:
[code]

[2021-05-17 11:18] agibsonccc commented on #9257
@Rolnire  that's indicative of a missing constructor, specifically the data type one. That one is found here:
https://github.com/eclipse/deeplearning4j/blob/46dbd0b2035fab86f5d500508af46690b97af7c8/deeplearning4j/deeplearning4j-cuda/src/main/java/org/deeplearning4j/cuda/convolution/CudnnConvolutionHelper.java#L77
I'd still guess something is missing. For now, could you try installing from master?

[2021-05-17 11:51] Rolnire commented on #9257
@agibsonccc Thank you for you time and help. As we are not much confident using github and maven, there are steps we did:
[code]
We've got following error. Is there something we did wrong?
We are also willing to wait until the SNAPSHOT version will be built correctly.

[code]

[2021-05-17 11:54] agibsonccc commented on #9257
@Rolnire :
[code]

That will skip compiling the tests.

[2021-05-17 11:55] agibsonccc commented on #9257
@Rolnire  actually, you also need to compile deeplearning4j-nn. Please do the same steps as I mentioned above. Those will be the only 2 folders you need. Sorry for the confusion. This is the relevant file:
https://github.com/eclipse/deeplearning4j/blob/master/deeplearning4j/deeplearning4j-nn/src/main/java/org/deeplearning4j/nn/layers/HelperUtils.java

Then deeplearning4j-cuda will use that HelperU

[2021-05-17 13:17] Rolnire commented on #9257
@agibsonccc great job, it is working now without exception! Thank you for great job.

Now back to my first question about Euclidean distance. It is still not working - same result with cuda 10.2 + beta7 and cuda 11.2 + SNAPSHOT.

[2021-05-18 10:03] agibsonccc commented on #9159
@HGuillemet (and future readers)  I'll get to this after the M1 release. I plan on doing a bug fix sprint for bugs like this and in samediff. Sorry for the wait.

[2021-05-18 10:23] agibsonccc commented on #9257
@Rolnire  ok let me look in to this after M1 is out (should be in the next day or 2) - we'll do a follow up M2 release with a batch of bug fixes. I'll test stuff like this and then you can use snapshots.

[2021-05-20 20:04] MrForum opened #9318 "Cifar10DataSetIterator exception on next() in MobileNetTransferLearningExample"
I get the below exception from Cifar10DataSetIterator.next() when running MobileNetTransferLearningExample, or the following simplified standalone code:

Code:
import org.deeplearning4j.datasets.iterator.impl.Cifar10DataSetIterator;
import org.nd4j.linalg.dataset.DataSet;
public class CFarTest {
	public static void main(String args[]) {
		try {
			Cifar10DataSetIterator it = new Cifar10DataSetIter

[2021-05-20 20:46] MrForum commented on #9318
Output from MobileNetTransferLearningExample below:

base) [forum@localhost target]$ pwd
/home/forum/projects/deeplearning4j-examples/tensorflow-keras-import-examples/target
(base) [forum@localhost target]$ java -cp .:samediff-examples-1.0.0-beta7-shaded.jar org.deeplearning4j.modelimportexamples.tf.advanced.mobilenet.MobileNetTransferLearningExample
...
16:45:00.174 [main] INFO org.datavec.image.

[2021-05-24 00:02] ChristopherGriswold opened #9320 "Slow NN training with JavaFX"
#### Issue Description
When integrating dl4j into a JavaFX application, training a neural net is extremely slow when run on a non FX Application thread. Specifically when working with the TrainNews Text Classification example with a larger data set. I've tried using Executors.newSingleThreadExecutor() and a regular Runnable Thread. A PerformanceListener does indicate that there is a somewhat regul

[2021-05-24 02:05] agibsonccc commented on #9320
Maybe @johanvos has comments here. I would need more information to know what the deal could be. One thing you could try is using paralellwrapper which handles multi threaded neural network training and should handle the off thread cases as well. Depending on whether you're using cpu or gpu, OMP_NUM_THREADS environment variable can/should be set to 1 for multi threading.

[2021-05-24 02:12] ChristopherGriswold commented on #9320
@agibsonccc thanks for the reply. I am using CPU and have tried setting OMP_NUM_THREADS to 1 but didn't see any difference. Everything that I'm trying to do with dl4j is on a single thread. It's just that it runs fine on the JavaFX thread but slow on it's own separate thread. Using ParallelWrapper helped a lot. Thanks!

[2021-05-24 08:22] johanvos commented on #9320
That's interesting, and it seems counterintuitive. The JavaFX Application Thread is used for a number of things related to rendering, but can also be used for other work. Hence, I would expect that a dedicated thread is at least equally fast, and probably much faster.
One of the reasons might be that your thread somehow calls into the Scenegraph, which then requires access to the JavaFX Applicatio

[2021-05-24 13:44] MrForum commented on #9318
The same issue appears to break the CIFARClassifier example:

(base) [forum@localhost target]$ java -jar ./dl4j-examples-1.0.0-beta7-shaded.jar org.deeplearning4j.examples.quickstart.modeling.convolution.CIFARClassifier
no main manifest attribute, in ./dl4j-examples-1.0.0-beta7-shaded.jar
(base) [forum@localhost target]$ java -cp .:dl4j-examples-1.0.0-beta7-shaded.jar org.deeplearning4j.examples.q

[2021-05-24 13:46] agibsonccc commented on #9318
@MrForum are you just running the examples out of the box? Sorry a release is coming out in the next few days and then I'll take a look at this if it's actually a bug. @treo do you remember something like this when you were doing the examples audit?

[2021-05-24 18:10] MrForum commented on #9318
@agibsonccc yes this are examples unmodified run from master pulled today.  Thanks.

[2021-05-24 22:23] euclio opened #9325 "arm64 builds require too new glibc"
#### Issue Description

I'm trying to use nd4j-native-platform on Amazon Linux 2 aarch64, which uses GLIBC 2.26. It appears that libjnind4jcpu.so requires GLIB 2.27, however:

[code]

Would it be possible to use an older GLIBC to build the artifact so that I can link it on Amazon Linux 2?

#### Version Information

* Deeplearning4j version 1.0.0_beta7
* Platform information (OS, etc) Amazon Linux

[2021-05-24 22:40] agibsonccc commented on #9325
@euclio the latest release will be using glibc from ubuntu 16. I'm closing this issue as this has  already been solved. If you need an older glibc, you can try snapshots and see if that works for you.

[2021-05-24 22:40] #9325 closed, assigned to nobody

[2021-05-24 22:41] agibsonccc commented on #9320
@Iceybones  I'll close this if I don't see  a response in a week or so. There's nothing I can really do based on @johanvos 's comment. It appears we would just need to profile this individually. It's likely not an actual dl4j issue. Thanks @johanvos  for commenting as I don't have the background in javafx to know where to start guessing the problem.

[2021-05-25 08:01] ChristopherGriswold commented on #9320
I was doing one call to the JavaFX thread at the end of every iteration to post the score to the GUI but that's all. CPU usage stayed at 100%. My project is on a tight deadline and is to the point now now where it is working with ParallelWrapper and performing decently so I don't really want to revert it back to profile it further at the moment. I appreciate your guys help and quick responses. You

[2021-05-25 09:00] #9320 closed, assigned to nobody

[2021-05-25 09:05] treo commented on #9318
I just re-ran that example and it works just fine for me.

The error message looks like you either are using different data (with 3 classes instead of the 10 that cifar10 has) or your data download of cifar10 is corrupted.

[2021-05-25 12:52] MrForum commented on #9318
@treo I just re-cloned, rebuilt, and re-ran using above commands (no code modification) and had the same error.  Can you tell me where the data is downloaded so I can check for corruption, or give me the list of commands that should work on a fresh pull?  Thank you.

[2021-05-25 13:23] treo commented on #9318
The data should be in `~/.deeplearning4j/data/cifar10`. You should find a labels.txt file in there, as well as two directories: test and train, and both of these directories should have 10 directories each, labeled 0 to 9.

[2021-05-25 13:30] MrForum commented on #9318
Looks like 10 folders in test, but only 3 in train.  How would that have happened?  If I delete cifar10 will it redownload?  Thanks.

(base) [forum@localhost .deeplearning4j]$ cd data/cifar10/
(base) [forum@localhost cifar10]$ ll
total 8
-rw-rw-r--.  1 forum forum  60 May 20 15:35 labels.txt
-rw-rw-r--.  1 forum forum 559 May 20 15:35 sort.js
drwxrwxr-x. 12 forum forum  96 May 20 15:35 test
drwxrw

[2021-05-25 13:50] treo commented on #9318
There are multiple ways how that might happen, the most likely is that you managed to stop it at the exact point while it was extracting it for the first time.

When you delete that folder, it should re-download and unpack it again.

[2021-05-25 15:12] MrForum commented on #9318
Deleting the folder fixed it, thank you.

[2021-05-25 15:12] #9318 closed, assigned to nobody

[2021-05-26 09:21] ramarro123 opened #9326 "reproducibility issue"
i created a little test case to help me investigate on reproducibility issue.

i basically create test/train dataset in memory they are 100% the same, created with some junk data but in a consistent way (junk formula doens't use any random operation, so it's constant)

two iteration, same dataset(s), same MultiLayerNetwork, same iterations (500)

confusion matrix it's different in the 2 iterations

[2021-05-26 11:16] eix128 opened #9327 "ND4J update for Java 16 SIMD"
Hi ,
Java 16 has released Vector API

You can look at the links for details:
https://metebalci.com/blog/what-is-new-in-java-16/
https://openjdk.java.net/jeps/338

Java 16's SIMD API has intrinsic capability.
Much faster then JNI.That directly converts these method calls to ARM NEON or AVX512 etc..

It will be good to fit nd4j to new Java 16's Vector API

[2021-05-26 13:15] agibsonccc commented on #9327
@eix128  we'd be happy to look at this for the next release and do some benchmarks. We already release pre compiled binaries with avx optimizations. @saudet  can comment more, but we've found almost no overhead with our implementation of JNI. I would be happy to have us benefit from this however.

[2021-05-26 21:15] jljljl opened #9329 "Depthwise and separable convolutions almost do not work"
Depthwise and separable convolutions are very slow on CUDA. Tested on multiple systems and looks like they are not optimized at all or maybe not implemented. Calculations with same shape may take 20 times more time in comparison to normal convolution.

Tested on dl4j examples MNIST convolution example by changing layers. Also tested on almost single layer neural network.

I guess they should take

[2021-05-26 21:25] agibsonccc commented on #9329
I'm closing this. Nothing is really reproducible here. If you can claim something more specific, like "here are some performance graphs, I think it should run xyz faster" or "here's some code that reproduces an edge case" that is actionable and worth discussing. This is too vague for us to do anything with.

[2021-05-26 21:25] #9329 closed, assigned to nobody

[2021-05-27 02:10] agibsonccc commented on #9293
@sandylunar  @basedrhys  JFYI for mdoels from the default deeplearning4j model zoo, we would need to upload them to the normal deepleanring4j azure cdn. I would be happy to accept the models via something like google drive and help participate in making this a smooth contribution.

[2021-05-27 14:51] eix128 opened #9330 "microej microcontroller for java and Deeplearning4j"
Can we use Deeplearning4j on microej java so that we can use this library on modern microcontrollers?
Or can you check and support in future for microcontroller java (microej) ?

[2021-05-27 22:36] agibsonccc commented on #9330
@eix128  it's kind of hard to tell from the web page where to get started for supporting the SDK here: https://www.microej.com/product/sdk/ do you have more info? We already support android in the latest 1.0.0-M1 version if you can try that we'd be happy to see if it works or not.

[2021-05-28 08:34] eix128 commented on #9330
Okay , but android runs on expensive cards.
You can run microej on ESP32 microcontroller

You can check out:
https://developer.microej.com/create-your-first-application/get-started-app-development-on-espressif-esp32-wroverkit-v41/

You may try it without ESP32 chip on QEMU
https://github.com/Ebiroll/qemu-xtensa-esp32

[2021-05-28 15:17] jljljl opened #9331 "1.0.0-M1 bug DL4JClassLoading of CuDNN"
(reposted issue)
Hi! I found an issue and a way how to fix it.

#### Issue Description

Class org.deeplearning4j.common.config.DL4JClassLoading contains multiple createNewInstance() methods. Looks like they're overloaded in a wrong way.

1.    public static <T> T createNewInstance(String className, Object... args);
2.   public static <T> T createNewInstance(String className, Class<? super T> super

[2021-05-28 17:09] jljljl commented on #9330
Dl4j is probably requires some disc space to work. MCUs are wery slow and it's cheaper to buy full pc to train plain modern neural networks. They're useful only for relatively small lightweight neural networks. It is possible to launch heavy one, but here is a chance that it will be calculated too long to actually work. Check Jetson Nano. It has pretty fast for it's cost and have GPIO ports.

Anyw

[2021-05-28 22:14] agibsonccc commented on #9330
@jljljl javacpp extracts all binaries on disk to work, but we could look in to making libnd4j run on this pretty easily. It's standalone and just runs math operations.
I would defer to seeing what hardware you run on a case by case basis with this. There's a lot of ways to reduce the size of neural networks as well. It's not a simple solution.
Regardless of whether the jetson nano exists or not, t

[2021-05-29 00:48] eix128 commented on #9330
Maybe you can make Deeplearning4j lightweight version that is compatible with microej ?
It would be good if you add something like that.
So Java's WORA action will be success for Deeplearning4j library

[2021-05-29 00:56] SidneyLann commented on #9149
This issue still exists in M1, had anybody used label weight in softmaxCrossEntropy(String name, SDVariable oneHotLabels,
      SDVariable logitPredictions, SDVariable weights) successfully?